[2018-05-29 23:13] tzarebczan commented on #1508
Not a release blocker unless the files don't confirm automatically. Will need to try this scenario again.

[2018-05-29 23:14] tzarebczan commented on #1504
@btzr-io maybe there's a quick fix to this?

Also, just popped into my head but unrelated, we'll need to get the markdown preview function in publish to show a more accurate preview using our current markdown rules (or disable it completely).

[2018-05-29 23:15] tzarebczan commented on #1503
@seanyesmunt whoops, just noticed you removed release blocker. I'd agree if this is a more complicated fix, but it's a pretty big regression from the previous version.

[2018-05-29 23:53] seanyesmunt commented on #1503
Whoops. Didn't mean to. It should be a simple fix.

On Tue, May 29, 2018, 7:15 PM Thomas Zarebczan <notifications@github.com>
wrote:

[2018-05-30 02:43] #1427 closed

[2018-05-30 04:20] btzr-io commented on #1409
Related issue https://github.com/lbryio/lbry-app/issues/1527

[2018-05-30 18:47] #959 closed

[2018-05-30 19:19] tzarebczan commented on #1352
Completed via https://github.com/lbryio/lbry-app/pull/1511

[2018-05-31 04:35] seanyesmunt commented on #1384
Guess I missed your message @kauffj

Probably. They are passed in as `notificationId`.

[2018-05-31 04:35] seanyesmunt commented on #1384
And yes @dan1d. I just saw this was still open.

I'll leave it open for now since we are still discussing.

[2018-05-31 04:47] #1329 closed

[2018-05-31 13:12] tzarebczan opened #1531 "Batch resolving for downloads/related/search"
## The Issue
Somewhat related to https://github.com/lbryio/lbry-app/issues/1203 - currently, we run a separate resolve for each claim in downloads/publishes. We should batch these into larger resolve calls, each with X (homepage does 80+) URLs.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Inst

[2018-05-31 14:15] tzarebczan commented on #1526
I asked Lex about the daemon shutdown removal, his response:
Two reasons: 1. During development I don't want the app to shutdown when something goes wrong, I want to keep it running so that I can diagnose. 2. Whenever the app experiences an issue it tries to start its own daemon.

@seanyesmunt we could do enable this mode based on an environmental variable, right?

@eukreign I won't be able to get

[2018-05-31 14:45] eukreign commented on #1526
Okay, thanks for looking into this. I can keep using my hacks branch. I actually just got @kafene setup with it yesterday as well.

[2018-05-31 23:12] tzarebczan opened #1533 "DOMException: The play() request was interrupted by a new load request"
## The Issue
Get this console error while playing videos, but it doesn't seem to affect playback. Some googling lead me to: https://developers.google.com/web/updates/2017/06/play-request-was-interrupted

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-01 01:43] tzarebczan opened #1534 "Show thumbnail preview during publish process"
## The Issue
As a content creator publishing on LBRY, I want to see a preview of what my thumbnail will look like on LBRY file pages as well as content tiles. After choosing or uploading a new image to spee.ch, I want to be able to click a button to see a preview of both scenarios.

Bonus: allow users to scale/crop thumbnail which would then upload the resulting image to spee.ch.

## System Config

[2018-06-01 02:06] #1505 closed

[2018-06-01 02:32] dan1d opened #1535 "Add draggable feature to Picture in Picture if PR 1523 gets merged."
No one asked @kauffj to chime in :D, but what he said makes a lot of sense to me and actually helped me to almost finish issue #579
Copied [from here](https://github.com/lbryio/lbry-app/pull/1523#issuecomment-393588369)

@kauffj commented:
It's always good to look at what other well-designed sites do that have spent a lot of time thinking about this (e.g. maybe Netflix or Twitch?)
While I support

[2018-06-01 02:38] seanyesmunt commented on #1503
Working on this

[2018-06-01 17:23] tzarebczan opened #1536 "Need to click twice on upgrade modal "upgrade on close""
## The Issue
When clicking "upgrade on close" when an app update is available, the action is not taken until the modal is clicked twice.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-01 17:35] #947 closed

[2018-06-01 17:40] tzarebczan opened #1537 "Update Bug Reports narrative to include user feedback/suggestions"
## The Issue
Updating the Bug Report functionality to include a feedback/suggestions narrative will allow users to submit recommendations/feedback through the app.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-01 17:47] tzarebczan commented on #1253
Reopening: https://www.screencast.com/t/GXRyyvzcUWTn

[2018-06-01 19:43] tzarebczan commented on #1515
This is fixed on the file page.

[2018-06-01 19:43] #1515 closed

[2018-06-01 20:39] LavRadis opened #1538 "Unable to copy text with right-click menu in many areas of the app"
## The Issue
I tried to copy the text form an error message but it can not be done with the right click as no menu appears. It can be done with Ctrl+C. I tried on several text areas of the app, but it works only in few places, such as wallet addresses. Right-click file title link copy works fine.

### Steps to Reproduce
1. Find a random text
2.  Select
3. Click right mouse button - there will be n

[2018-06-01 22:03] LavRadis opened #1539 "UI improvement: Autoplay function needs better icon and description"
## The Issue
The new "Autoplay" function sticks out of the UI design and looks out of place. It needs a better icon and placment.
It also needs some sort of explanation. I was confused about what it exactly does, so it could confuse other users with less experience.
The explanation could be in the form of hover-over description and/or helper text in "Settings"

## System Configuration

- LBRY Daem

[2018-06-01 23:43] #1504 closed

[2018-06-02 19:00] btzr-io commented on #1409
Any news / updates on this? ^^

[2018-06-03 19:51] seanyesmunt commented on #1539
I am thinking something like air bnb's map switch?
<img width="210" alt="screen shot 2018-06-03 at 3 50 42 pm" src="https://user-images.githubusercontent.com/16882830/40890552-fa0801b0-6745-11e8-9fd6-af232e990aba.png">

[2018-06-03 19:52] seanyesmunt commented on #1539
This will be a global input style to replace the checkbox. We can also add a tooltip for a larger description on this.

[2018-06-03 23:30] WayneTheJockRonson opened #1540 "Partial failure to launch."
## The Issue
LBRY app (windows 10 downloaded june 3 2018) launches, but then gets stuck on the "connecting, starting Daemon" screen forever.
### Steps to Reproduce
1.download and intall from webpage.
2.restart computer
3.attempt launch

### Expected Behaviour
The program should launched, then also be usable (obviosly).

### Actual Behaviour
Not much. A little loading bar. then a blank teal window

[2018-06-03 23:35] tzarebczan commented on #1540
Please see https://lbry.io/startup-troubleshooting

If you continue to have issues, send us your logfile to help@lbry.io

Https://lbry.io/faq/how-to-find-lbry-log-file

[2018-06-03 23:35] #1540 closed

[2018-06-04 00:37] btzr-io commented on #1409
@astrolope are you still  working on this issue?

[2018-06-04 00:47] astrolope commented on #1409
I’ve been fairly busy with work and school to really dive into finishing
this properly. If you’d like to fork my code and finish it I have the 3D
model loading and controls implemented.

On Jun 3, 2018 at 5:37 PM, Baltazar Gomez <notifications@github.com> wrote:

@astrolope <https://github.com/astrolope> are you still working on this
issue?

—
You are receiving this because you were mentioned.
Rep

[2018-06-04 00:55] btzr-io commented on #1409
Ok, I'll be working on this branch -> https://github.com/lbryio/lbry-app/tree/three

[2018-06-04 01:08] nikooo777 commented on #1102
done!

[2018-06-04 01:08] #1102 closed

[2018-06-04 01:10] astrolope commented on #1409
I was having some troubles getting the three.js code from the importer
plugin and

On Jun 3, 2018 at 5:46 PM, Garrett Criss <astrolope@gmail.com> wrote:

I’ve been fairly busy with work and school to really dive into finishing
this properly. If you’d like to fork my code and finish it I have the 3D
model loading and controls implemented.

On Jun 3, 2018 at 5:37 PM, Baltazar Gomez <notifications@gi

[2018-06-04 01:11] astrolope commented on #1409
see the ModelViewer component. I had some trouble getting the extra
three.js code in the internal folder through the pre-linter. This extends
the Three.JS object to contain the functions for the model loader and orbit
controls https://github.com/astrolope/lbry-app/tree/model-viewer

On Jun 3, 2018 at 5:55 PM, Baltazar Gomez <notifications@github.com> wrote:

Ok, I'll be working on this branch ->
h

[2018-06-04 01:18] btzr-io commented on #1409
Ok, thanks I found a fix for that (https://github.com/lbryio/lbry-app/pull/1542/commits/8ae03b5f72572780a0b12dcecd824f222b29ca13)
See fix from this thread -> https://github.com/mrdoob/three.js/issues/9562#issuecomment-383390251

[2018-06-04 02:03] jamesbiller commented on #1409
@btzr-io @astrolope Hey Baltazar! Garrett and I have chatted and he did some work obviously.

I would love to hop on a call sometime and chat about this issue and some other javascript projects going forward.

Will send you a more formal email in the morning! :)

[2018-06-04 15:58] kauffj opened #1544 "Use router pattern for rendering file viewer"
The app already supports several distinct viewers (video, markdown/html) and this list will only grow.

We ought to use a sensible pattern to handle this case.

For more details, see https://github.com/lbryio/lbry-app/pull/1542#issuecomment-394406669

[2018-06-04 16:06] tzarebczan opened #1545 "Autoplay calls get command twice"
## The Issue
If autoplay is enabled and you visit a media claim where the functionality is triggered, the get command is called twice (can see this in network logs and in daemon - says Already have a file for xxxxx).  This is fairly transparent to the user, but it should only be called once.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating sy

[2018-06-04 18:06] tzarebczan opened #1546 "Redesign: NSFW content claim pages not masked/blocked"
## The Issue
In the redesign, you can still navigate to and download properly marked NSFW. The thumbnail does have the red image and note to go into settings on the Discover/channel pages, but you can still click on it to go to the claim page (should not be able to right?) and the claim page allows download/view (should not be able to unless setting is turned).

Sample URL - see homepage or lbry:/

[2018-06-04 18:17] seanyesmunt commented on #1546
This is intentional. I am very much in favor of allowing people to navigate to the file page. I think the red color and description is enough of a warning.

Interested in hearing others thoughts.

[2018-06-04 19:34] Feanor78 opened #1547 "Text disappears when highlighted in navigation bar"
When you highlight text in the navigation bar, instead of graying out the highlighted text, the text disappears entirely.

[2018-06-04 19:36] Feanor78 opened #1548 "Highlighting doesn't work in video description box, links render as normal text"
When writing the description for a video, highlighting does not work properly in the text entry box.  Also, when you put a link in the text, it renders as normal text in-app when published (i.e. no blue text or underlining happens).

[2018-06-04 19:59] tzarebczan commented on #1547
This is a known issue in the current build on light mode. Works in dark mode. Will be fixed in the redesign. It actually sets the highlighted text to white which is why it looks like it disappeared.

[2018-06-04 19:59] #1547 closed

[2018-06-04 20:27] tzarebczan commented on #1546
Ah, now I do remember that conversation. @kauffj do you have a strong stance one way or another?

[2018-06-04 20:28] tzarebczan commented on #1548
Per our convo, this is the same issue as https://github.com/lbryio/lbry-app/issues/1547 and the redesign has better link/markdown support.

[2018-06-04 20:28] #1548 closed

[2018-06-04 20:31] #1538 closed

[2018-06-04 21:27] kauffj commented on #1546
@tzarebczan I have no opinion about this until my build is working again and I can actually see what we're talking about. I'm also archiving this thread, so please ping me again if you actually want an answer. Also, I trust @seanyesmunt, so we should do whatever he says.

(I do think, in time, it makes sense to evolve filtering from a binary option to a ternary of: on/blur/hide, but that'd be a ne

[2018-06-05 02:26] tzarebczan opened #1549 "App page URL issues when app cold starts to rewards page"
## The Issue
On Windows, the app will load but fail to load the special URL (i.e lbry://?rewards) because the ? is not replaced in the createWindow.js file (which is loaded on cold start as opposed to the call in index.js). On Mac, the app will green screen because daemon_settings are not loaded quickly enough.

Fixed in pre-redesign here: https://github.com/lbryio/lbry-app/commit/81ce8582833a1ee6

[2018-06-05 04:28] tzarebczan commented on #1545
Sometimes this happens to me even without autoplay on, but can't reproduce consistently.

[2018-06-05 11:58] Bentley912 commented on #1537
Hey. Id like to take a stab at this.

I have a few questions. Am i addig a new function in the lbry-redux code and also making some changes to the /'/report' component? If so, I cloned the lbry-redux repo and did not find the `Lbry.report_bug` in that code. Where is it in the code ?

[2018-06-05 13:01] tzarebczan commented on #1537
@Bentley912 we plan to eventually replace the Lbry.report_bug call (this is actually in the lbrynet-daemon, not in redux) so it's okay to reuse the same form/call for this request at the moment. So it's mainly just wording that needs to be adjusted in a few places.

Thanks for taking a shot at this!

[2018-06-05 13:35] kauffj commented on #1537
@tzarebczan if we're going to work on this I'd really like to kill `lbry.report_bug` as it shouldn't exist.

Do we want these to go straight into the help desk?

[2018-06-05 13:39] tzarebczan commented on #1537
@kauffj we discussed using the helpscout api in the ticket here: https://github.com/lbryio/lbry-app/issues/1078

But regardless of how it's sent, I think these changes are separate.

[2018-06-05 13:46] tzarebczan opened #1550 "Let reward approved users know they are unsubscribed from emails"
## The Issue
There may be users of our app who are unsubscribed from LBRY promotional emails and we'd want to let them know what they are missing out on. Not sure if this should be a one time pop up or something in the help / rewards section.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-05 13:52] kauffj commented on #1550
Great idea

[2018-06-05 14:08] Bentley912 commented on #1537
Ok. So, for now, I'll just change the language up a bit. When we get all that straightened out, Ill implement the helpscout from the API. Cool?

[2018-06-05 14:36] kauffj commented on #1537
Sounds good, thanks and welcome @Bentley912!

[2018-06-05 14:57] Bentley912 commented on #1537
@tzarebczan does this need to be added to the Changelog? It is a very minor change.

[2018-06-05 15:31] tzarebczan commented on #1537
Yep, we should always have a change log. Check out the previous entries for proper format.

[2018-06-05 22:19] tzarebczan opened #1555 "Reward cannot be claimed messages when visiting rewards screen"
## The Issue
If you visit the rewards page after your first stream (not featured content) , it tries to claim the Watch Many Things reward and you get a "you haven't watched enough stuff yet" message. It also tries to claim the feature content reward and you get a 2nd message "you haven't watched a featured video from this time period yet". Users will. By confused as to why they are getting this m

[2018-06-06 03:17] Invariant-Change opened #1556 "Make it Easy For People to Find Their Log"
Add a button to auto open log or log folder or both, so that users can send debugging information easier.

![image](https://user-images.githubusercontent.com/29914179/41013960-c1ff3f52-698b-11e8-9725-00566111aa92.png)

[2018-06-06 03:30] Invariant-Change opened #1557 "App Error When Pending Update"
The pending update created an error. After clicking OK, the app closed and Windows asked for permission for LBRY to make changes to the system. After relaunch the navigations bars were missing.

After closing the app and restarting, everything was OK again.

![image](https://user-images.githubusercontent.com/29914179/41015215-a48240f4-698c-11e8-8af5-3632014dc75a.png)
![image](https://user-images.g

[2018-06-06 04:11] seanyesmunt commented on #1556
I really like this idea.

[2018-06-06 04:19] Invariant-Change commented on #1556
[code]

[Code Location](https://github.com/lbryio/lbry-app/blob/d27308688b05759cea551ce8250d567a5254af6f/src/renderer/page/help/view.jsx)

[2018-06-06 04:35] amitnndn commented on #1492
I am trying to take a dig at this one. @tzarebczan

I understand that when a user first registers their email, there is a call to [LBRY API](https://api.lbry.io/user_email/new)'s ```user_email/new``` end point and since that one is for a new user, I am thinking that it should ideally create a conflict if I am trying to reuse the same funciton from the first step where the user enters their email f

[2018-06-06 06:07] tzarebczan commented on #1557
I think this was a hiccup on your end, haven't seen this from anyone else. Closing for now unless it pops up again

You can try reinstalling 0.21.5 and then upgrading again to see if it's reproducible.

[2018-06-06 06:07] #1557 closed

[2018-06-06 07:14] #1494 closed

[2018-06-06 14:38] kauffj commented on #1492
Hi @amitnndn! Thanks for taking this on.

You can call `/user_email/resend_token?email=xxx@example.com`.

This API is not publicly documented as it is primarily intended for our internal use.

[2018-06-06 14:40] kauffj commented on #1556
Agreed, this is a great idea @Invariant-Change!

The button should probably be somewhere else though. Either a standalone card, or in About?

[2018-06-06 14:45] Invariant-Change commented on #1556
As a separate section makes it easier to find. So I guess that is the best solution.

![image](https://user-images.githubusercontent.com/29914179/41045626-1337771c-69ec-11e8-91f7-098212bb1ce8.png)

[2018-06-06 14:49] kauffj commented on #1555
I'm fairly certain this is a regression. Some places in code attempt to auto-check for those rewards but are supposed to swallow failures. @daovist is it is possible your latest reward improvements accidentally changed this?

[2018-06-06 14:50] tzarebczan commented on #1555
I don't think it's related to his latest changes... I remember seeing this a while ago but never reproduced it consistently until now.

[2018-06-07 03:22] QuirkyRobots opened #1561 "Confusion After First Publish"
If no previous publishes, after first publish you are directed to this screen.

It would be better if it said something like:

![image](https://user-images.githubusercontent.com/29914179/41076569-a7002322-6a55-11e8-85d4-b2ead0754783.png)

[2018-06-07 03:22] #1561 closed, assigned to nobody

[2018-06-08 15:48] tzarebczan opened #1564 "Show hand pointer when hovering over anywhere on video thumbnail"
## The Issue
We recently re-added the ability to play a video when clicking anywhere in the thumbnail, but the hand pointer still only shows when hovering over the play button.

I may take a shot at fixing this if no one else claims it :)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-08 21:37] DaniNz opened #1567 "The end of the video should have a re-play button"
## Replay button

### Steps to Reproduce
1. End a video
2. There is no button to replay

### Expected Behaviour
Should have a replay button when the video ends.

### Actual Behaviour
At the end of a video there is the possibility to see it again, but there is no visible way to replay the video, except for the mouse pointer when hovering in the video.

### Suggested Solutions
Add a button with the

[2018-06-08 22:39] amitnndn commented on #1556
I will take this up!

I had a couple of questions/clarifications - @kauffj @seanyesmunt

* The log files location are mentioned in [this post](https://lbry.io/faq/how-to-find-lbry-log-file) and I am assuming that this is the right file.
* I know that the electron shell plugin allows you to open external files that are on the file system, but it cannot open files with relative paths. Does anyone kn

[2018-06-08 23:27] tzarebczan commented on #1556
@amitnndn take a look at how we do this on the backup page: https://github.com/lbryio/lbry-app/blob/afaad1910e84d27140abaa696af53a985349c53d/src/renderer/page/backup/view.jsx

In this case, the setting is: `data_dir`

[2018-06-08 23:40] amitnndn commented on #1556
@tzarebczan Thank you! I will take a look at it.

[2018-06-09 00:58] tzarebczan commented on #1567
@DaniNz do you plan on working on this?

[2018-06-09 16:03] tzarebczan commented on #1549
Fixed in https://github.com/lbryio/lbry-app/pull/1552

[2018-06-09 16:03] #1549 closed

[2018-06-09 16:07] tzarebczan opened #1568 "Epic - Video player"
See below for video player related issues.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-10 13:54] m160 opened #1570 "Incorrect markdown preview on url with parentheses"
## The Issue
The link in the markdown preview differs from published description when it's a parentheses in the url.

### Steps to Reproduce
1. Markdown text:
![capture1](https://user-images.githubusercontent.com/34570404/41202049-71c2d692-6cbb-11e8-98c5-73203f489618.PNG)

2. Markdown preview:
![capture2](https://user-images.githubusercontent.com/34570404/41202051-76a15e22-6cbb-11e8-9941-bf9ace47a

[2018-06-10 14:37] kauffj commented on #1570
Thanks @m160 - we like nitpicking

[2018-06-10 17:12] tzarebczan commented on #592
Closed via https://github.com/lbryio/lbry-app/pull/1248

[2018-06-10 17:12] #592 closed

[2018-06-10 17:51] btzr-io commented on #1570
There is nothing we can do about the parenthesis:

[2018-06-10 17:57] btzr-io commented on #1570
Also that's not the only problem with links, here is a full list of issues related:
https://github.com/markedjs/marked/issues/984

[2018-06-10 18:10] btzr-io commented on #1570
Possible solution (external fix):
https://github.com/RIP21/react-simplemde-editor/issues/47

[2018-06-10 18:36] tiger5226 commented on #1497
closing 4th part of the issue for https://github.com/lbryio/lbry-app/issues/1261
Talked with @seanyesmunt he said this is not happening for the redesign release.

[2018-06-10 18:36] #1497 closed

[2018-06-10 18:44] tiger5226 commented on #1502
@tzarebczan this was fixed recently with another PR. I can't find it though. I tested and it appear to be working fine ( the back button ) in the redesign. Can you confirm?

[2018-06-10 18:47] tiger5226 commented on #1496
I did check the code and it appears to be going to a url if it is one word and search if there are two words or more.

[2018-06-10 19:30] tzarebczan commented on #1502
@tiger5226 just tried it on 0.20rc10 and it still occurs.

[2018-06-10 19:53] tzarebczan opened #1572 "Fetch new rewards automatically"
## The Issue
Currently, the app only fetches new rewards on startup. Need to fix/replace this code: https://github.com/lbryio/lbry-app/blob/master/src/renderer/page/rewards/view.jsx#L28 so that it fetches when the rewards page is accessed or at some interval.

I believe @daovist briefly looked into this.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
-

[2018-06-10 19:55] tzarebczan commented on #1298
This check was removed from the daemon for now.

[2018-06-10 19:55] tzarebczan commented on #1537
FIxed in https://github.com/lbryio/lbry-app/commit/ddf1397a2816d9ccfe7a64f444465c7cee87c127

[2018-06-10 19:55] #1537 closed

[2018-06-10 22:13] amitnndn commented on #741
Since this is a small fix, I am fixing this as a part of  #1569 PR.

[2018-06-10 23:04] tiger5226 commented on #1502
Ohh sorry wrong issue. The search page back button wasn't working and is now. This issue is different, my apologies.

[2018-06-11 01:49] #1555 closed

[2018-06-11 02:07] tiger5226 commented on #761
@seanyesmunt Do you think it is an easy thing to pass the `node_id` to internal_apis? Just getting this information there opens up a lot of possibilities for network participation rewards for our users.

[2018-06-11 02:15] #1428 closed

[2018-06-11 02:27] tiger5226 commented on #1570
solved and merged

[2018-06-11 02:27] #1570 closed

[2018-06-11 02:31] tiger5226 commented on #1492
solved and merged

[2018-06-11 02:31] #1492 closed

[2018-06-11 14:27] tzarebczan opened #1577 "Cannot play large (4+GB) video in app"
## The Issue
Might be related to https://github.com/lbryio/lbry-app/issues/937, recently tried playing a file which is 4.8 GB and the app player says "sorry you can't play this file" and then the app becomes slow/unresponsive.

### Steps to Reproduce
1. Play lbry://theunmasking-part3-theprojections
2. Let it download
3. Can't play video / app performance may degrade

### Expected Behaviour
Tell us

[2018-06-11 14:50] kauffj opened #1578 "Log time to video start"
It'd be good to collect some explicit data here, especially so we can see improvements related to @shyba's work.

[2018-06-11 19:25] lyoshenka commented on #829
sean says

[2018-06-11 19:28] tzarebczan commented on #1400
Will track LBRY app upgrade % (through new daemon release since we don't have version information) until it hits a critical point when it's safe to make this change. 0.21.5 has the fix for this.

[2018-06-11 19:33] tzarebczan commented on #1388
@seanyesmunt can you share the pattern to add tooltips? I can try to help out in some places.

[2018-06-11 20:22] tzarebczan opened #1579 "Pass app version information to internal APIs"
## The Issue

`lbryio.authenticate` should be modified so that after a successful authentication is completed, additional system details are sent to a new endpoint.

- The new endpoint will be `/install/new` (and thus can be called `lbryio.call("install", "new")`).
- It should be sent the following properties:
  - `app_id` (this is already sent to `/user/new`)
  - `app_version` (from package.json)

[2018-06-11 20:52] #1352 closed

[2018-06-11 20:54] tzarebczan opened #1580 "version"

[2018-06-11 20:54] tzarebczan commented on #1580
whoops.

[2018-06-11 20:54] #1580 closed

[2018-06-11 23:48] DaniNz commented on #1567
yes @tzarebczan, I'll work on this.

[2018-06-12 01:53] DaniNz commented on #1567
yes @tzarebczan, I'll work on this.

[2018-06-12 05:15] seanyesmunt commented on #1579
Is this actually a release blocker?

[2018-06-12 07:04] seanyesmunt opened #1581 "Show smaller NSFW tag if it's my content"
## The Issue
If I have `Show NSFW content` unselected, and have published NSFW content, the title and thumbnail will not be visible. We should still show them.

### Steps to Reproduce
1. Make sure `Show NSFW content` is unselected in settings
2. Publish a NSFW claim
3. View your list of published claims

### Expected Behaviour
I should be able to see the title/thumbnail for every claim I've publis

[2018-06-12 21:24] tzarebczan opened #1584 "Show/store previously set thumbnail URL on edit"
## The Issue
After we added the ability to upload thumbnails through spee.ch, we no longer show the thumbnail on edit. This is confusing because the user may think they need to re-upload or re-enter a thumbnail. If they don't, the thumbnail will be cleared out.

They should see the thumbnail set and be able to view it via a link. Also, allow upload of new thumbnail if needed.

### Steps to Reprodu

[2018-06-13 03:50] tzarebczan commented on #635
Another video stuck on waiting for metadata, looks like a properly structured MP4 (2.7 gb) but it does have a non-standard resolution: https://www.screencast.com/t/4sUpFFuhYoW1

lbry://@BrendonBrewer#87adc4b16eabfaf37485a6e4ed03d47b2481a4b4/stats331

[2018-06-13 04:17] seanyesmunt commented on #1581
After https://github.com/lbryio/lbry-app/pull/1585 we don't show the NSFW cover which is much better, maybe we don't even need to show a NSFW marker? If we do show it, i'm not sure how it should be presented. I'll keep this open for now if anyone has ideas.

[2018-06-13 13:41] kplesko opened #1588 "LBRY is not working properly"
## The Issue
I've installed the latest version of LBRY (version 0.21.6) from deb package on my Ubuntu 16.04.1 distribution. LBRY app loads, but it cannot fetch any content on Discover tab (there is no error message, it's just trying and trying to fetch it, but without any success). I have access to my subscriptions on Subscriptions tab, but every video i try to open just opens a green screen on LB

[2018-06-13 16:28] tzarebczan commented on #1588
@kplesko sorry to hear about the trouble. Can you bring up the developer control (ctrl shift I or from the developer menu) to see if there are any errors there.

Did you get a password prompt on startup? Lbry uses an authentication token to authorize the app for rewards and such... Possibly you declined that? You can check out https://lbry.io/faq/how-to-change-email on how to clean it out and poss

[2018-06-13 17:18] tzarebczan opened #1590 "Review isPlayable() function"
## The Issue
Related to work done for https://github.com/lbryio/lbry-app/issues/1503

Some zip files (and possibly other formats), like the one at lbry://ScreenToGif12-50-45590#f8866c585e39d26f87039547e0c51b2614280eb0, show up as playable files (show Play button and then say "this file cannot be played"). We should review the isPlayable function to ensure it only shows play on valid media types (r

[2018-06-13 17:30] tzarebczan commented on #1590
Render media: https://github.com/feross/render-media

This is a powerful package that handles many file types like video (.mp4, .webm, .m4v, etc.), audio (.m4a, .mp3, .wav, etc.), images (.jpg, .gif, .png, etc.), and other file formats (.pdf, .md, .txt, etc.).

[2018-06-13 17:48] tzarebczan commented on #1590
Sample files:
Text: lbry://textfile#e39b887ff0c06438f673067f94243b33bde44518
HTML: lbry://htmlfile#67f030c9c658d2797ddfa08ee5657e6896759044

[2018-06-13 20:23] daovist opened #1592 "upgrade prompt needs formatting/is unresponsive"
related to issue #1536

## The Issue

Upgrading a locally-built of the app on Linux shows upgrade prompt and it does not close. Clicking 'Skip' does nothing. Clicking 'Upgrade' eventually prompts a download after a minute+ wait.

Also, the formatting is off. There is an invisible link (white-on-white, I think) that takes a user to [the release page](https://github.com/lbryio/lbry-app/releases). Sc

[2018-06-13 20:47] #1579 closed

[2018-06-13 21:08] #1520 closed

[2018-06-13 21:08] #1219 closed

[2018-06-13 23:59] kplesko commented on #1588
I've checked in Settings in Help tab.
Connected Email: None
Access Token: (empty)

![lbry 3 - email and access token](https://user-images.githubusercontent.com/32712528/41384239-ef6b7480-6f74-11e8-9197-d2d03a6a3c99.png)

I've never seen password prompt on startup of the app. I've never been asked to enter password. Here is the log file.
[lbrynet.log](https://github.com/lbryio/lbry-app/files/210034

[2018-06-14 01:10] kplesko commented on #1588
OK, I was reading through FAQ section on lbry.io and Github issues and realized what was the problem. It was not obvious, some clear error message was not provided by the app, but my gnome-keyring-daemon is not in my startup list and it is necessary for authentication, right?! After I've started gnome-keyring-daemon, everything works fine.

Thank you for your quick answer, it really helped me to f

[2018-06-14 01:18] tzarebczan commented on #1588
I was actually just going to ask you to check that. If it's not already clear in the startup faq, I'll be sure to add this problem. It's harder to diagnose because of the lack of error, but the fetching content usually gives it away haha.

Hope you stick around, no problem about the issue... just glad you got it solved :)

If you'd like to test the new app with us, just give me a shout on chat.lbr

[2018-06-14 01:48] #1588 closed

[2018-06-14 03:14] tzarebczan commented on #1592
Also, the upgrade button doesn't work unless you click it like 5/10 times (and this only works sometimes), then you get a bunch of save prompts.

[2018-06-14 14:02] tzarebczan commented on #741
Closing per #1569

[2018-06-14 14:02] #741 closed

[2018-06-14 14:34] kauffj commented on #1588
@tzarebczan can you open an issue to improve detection of this if one isn't open already? It's clear from @kplesko's experience that this is flawed UX.

[2018-06-14 16:40] tzarebczan commented on #1439
Happening here too: lbry://TotW-NYC on a landscape photo. I'm pretty sure it has something to do with file size. It may be trying to read the file before it's fully written. Adding to the video player epic.

[2018-06-14 16:40] tzarebczan commented on #1028
Added in #1222

[2018-06-14 16:40] #1028 closed

[2018-06-14 18:08] tzarebczan commented on #1592
This is due to 64 bit builds that we are doing in the redesign. File path is: Launching upgrade installer at /tmp/ar1h20/LBRY_0.21.6_amd64.deb

The file downloaded is LBRY_0.21.6.deb

[2018-06-14 18:10] tzarebczan commented on #1592
Another option is to open the folder instead of launching the file and give user better install instructions.

[2018-06-14 21:54] #1584 closed

[2018-06-14 23:21] #1437 closed

[2018-06-14 23:21] #1503 closed

[2018-06-14 23:21] #1536 closed

[2018-06-14 23:21] #1592 closed

[2018-06-14 23:36] tzarebczan commented on #1592
@seanyesmunt do you want me to open a separate issue for the Deb path, or did you fix that?

[2018-06-14 23:37] seanyesmunt commented on #1592
Yeah we should open a separate issue for that one.

On Thu, Jun 14, 2018, 7:36 PM Thomas Zarebczan <notifications@github.com>
wrote:

[2018-06-15 06:56] Invariant-Change opened #1598 "Styling Fixes"
**Open File** button is not `inline` with the other buttons creating unnecessary **whitespace** and looks broken.

![image](https://user-images.githubusercontent.com/29914179/41453172-05423cbe-70b8-11e8-8a6a-ad9afe613a78.png)

![image](https://user-images.githubusercontent.com/29914179/41453523-6c755b4a-70b9-11e8-8d38-75ee6658ba91.png)

![image](https://user-images.githubusercontent.com/29914179/4

[2018-06-15 07:01] Invariant-Change commented on #1598
If I get time this weekend, I'll give it a go.

[2018-06-15 07:11] seanyesmunt commented on #1598
@Invariant-Change I'm a fan of this. A couple of thoughts:

- We should keep the border-radius so we have a consistent button style.
- I think the subscription button should still stay on the right side, it is related to the channel, not the file, so I don't think it should be grouped with the file actions
- You can hold off the autoplay styling. It will be improved here https://github.com/lbryio/

[2018-06-15 07:19] seanyesmunt commented on #1598
One of the main reasons for keeping the "Download/Open" button on it's own line was because it loses the button as it's being downloaded. It may look fine inline, but we might need to alter it's styling while the file is being downloaded.

<img width="251" alt="screen shot 2018-06-15 at 3 15 53 am" src="https://user-images.githubusercontent.com/16882830/41455373-efa71068-704a-11e8-93bc-843457984be

[2018-06-15 10:22] Invariant-Change commented on #1598
* **Q) We should keep the border-radius so we have a consistent button style.**
* A) Yes, consistency paramount. I was playing around with theme ideas. The app could do with some more. I've got some great ideas in this department, which I am working on in my secret basement in groom lake, hehe!

* **Q) I think the subscription button should still stay on the right side, it is related to the channe

[2018-06-15 13:09] LavRadis opened #1600 ""Open Log Folder" opens the wrong folder"
## The Issue
The new button "Open Log Folder" does not open the folder. It opens the "Roaming" folder.

### Steps to Reproduce
1. Just click "Open Log Folder" button in the Help section
2.
3.

### Expected Behaviour
it should open the proper folder with log file

## System Configuration

- LBRY Daemon version: 0.20.0
- LBRY App version: 0.22.0-rc.11
- LBRY Installation ID: 7tYN144rHXrspzJG9xLP28fi

[2018-06-15 13:21] Invariant-Change opened #1601 "Open Folder Button for Backups"
As per ***open folder button*** for **logs**. Would be good and **consistent** to have one for **backups** too.

![image](https://user-images.githubusercontent.com/29914179/41470057-c2c847c6-70f2-11e8-9867-3709da30bdb0.png)

[2018-06-15 13:32] Invariant-Change commented on #1598
Just playing around with styling in this image, but I do think **icons** being on the **same level** as the channel name is **cleaner**. I know this idea was thrown out previously, but definitely should remain an idea, especially later on down the road if/when more meta data is added such as views. **YouTube** does this with their icons, such as music, verified, etc (see image).

![image](https://

[2018-06-15 13:49] LavRadis opened #1602 "Some users are sent to home screen after a file is deleted"
## The Issue
Some users (one guy named Tom) report that after they delete a claim in "Downloads" they do not stay in that folder but the app focuses on the main screen.

### Steps to Reproduce
1. Go to "Downloads" and delete one of the claims which are not yours. If you are sent to different app part, you have the issue.
2.
3.

### Expected Behaviour
The user should stay on the claim page after th

[2018-06-15 13:53] LavRadis commented on #1602
I have tried to reproduce the issue but in my app installation, I remained in the "Downloads" folder. @Electron also.

[2018-06-15 14:14] iamuditpatel opened #1603 "Difficult to find video length or duration"
There is no way to know video duration on thumbnail

![lbry](https://user-images.githubusercontent.com/11346292/41472309-a905b7b6-70d3-11e8-85c2-5aa94b943655.PNG)

and also it's difficult to find video duration on single post page too..

![lbry2](https://user-images.githubusercontent.com/11346292/41472465-20c061e8-70d4-11e8-91ea-9604b9721400.png)

there is no way user can know the length of video

[2018-06-15 14:30] #1603 closed

[2018-06-15 14:56] Invariant-Change opened #1604 "LBRY Generated Speech Thumbs Don't Open in Speech."
**App:** RC11
**OS:** Windows 10 64bit

When a [thumbnail ](https://spee.ch/cac7922f5349dd63cb3f8bae6e81a036de044e54/p74PZb63PlaHXJgomVhrLApK.png)is created in the app via Spee.ch, the url doesn't open within the spee.ch website.

![image](https://user-images.githubusercontent.com/29914179/41474630-d486e4ce-70ff-11e8-885b-4f8cd960a5d3.png)

![image](https://user-images.githubusercontent.com/299141

[2018-06-15 15:05] iamuditpatel opened #1605 "Users can't differentiate which one is OLD or NEW (latest) video in homepage"
to fix this problem we have to add date or something like 1day ago, week ago, year ago like that or we should add "new" label in the bottom of thumbnail too..

![lbry3](https://user-images.githubusercontent.com/11346292/41474929-f98937e2-70da-11e8-842d-f3cd0bdcea01.PNG)

[2018-06-15 15:21] seanyesmunt commented on #1598
I am definitely a fan of keeping the links separate from the channel name. On Youtube they do it because those icons give meaning to the channel (verified, artist), ours are just for the file.

[2018-06-15 15:33] kauffj commented on #1605
IMO if we're showing a relative/age date it should be from time added to LBRY, not the original creation date of the content.

If there are performance concerns about calling `block_show` 100 times on the homepage, we could simply do an approximately accurate calculation app-side.

[2018-06-15 16:46] tzarebczan opened #1606 "Fix Linux upgrade process"
## The Issue
Since we started building the LBRY app for 32 and 64 bit, the extension on the file downloaded by the linux upgrade process is different:
What the LBRY app tries to open: /tmp/ar1h20/LBRY_0.21.6_amd64.deb
The file downloaded is LBRY_0.21.6.deb

Instead of launching the deb automatically which never installs correctly because the Ubuntu software center is awful, we should give the user

[2018-06-15 17:04] seanyesmunt opened #1607 "Investigate E2E testing solutions"
It would be great to have some sort of end to end tests in the app.

No idea what it would take, or what resources are out there. This issue is just to explore different options available.

[2018-06-15 17:10] tzarebczan commented on #1607
Have something similar filed under: https://github.com/lbryio/lbry-app/issues/1080

[2018-06-15 17:12] tzarebczan commented on #1600
It does open to the parent folder of lbrynet and highlights it, but yes, it should go into the lbrynet folder itself. It looks like a pretty simple fix/refactor.

[2018-06-15 19:58] seanyesmunt commented on #1607
👍 This one is just for investigating. I think that can stay open for implementing them.

[2018-06-15 21:31] tzarebczan opened #1610 "Cards not marked NSFW in Search (or don't display result at all?)"
## The Issue
We do not mark tiles in search results as NSFW like we do in channels/discover page. Should we not show them at all if a user does not have NSFW turned on?

![nsfw search](https://user-images.githubusercontent.com/8120721/41490326-896da2f4-70c1-11e8-9162-3ec286520b3e.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

[2018-06-15 21:33] tzarebczan opened #1611 "Aspect ratio incorrect for cards on Search page"
## The Issue
Looks like the size is 156.25x100, which is a different aspect ratio than explore/file page cards.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-16 00:20] tiger5226 commented on #1611
https://github.com/lbryio/lbry-app/pull/1595 made some updates here for this.

[2018-06-16 00:37] tzarebczan opened #1612 "Suppress download error messages when video is playing / subscribed downloads"
## The Issue
If a user is watching a video, we should suppress any download failure related error messages.
This would happen if a user started a download, then went to watch another video, and the original download fails.

Another scenario to suppress download failure notifications would be automated downloads started when subscriptions are added/new claim comes in on a subscription.

### Steps t

[2018-06-16 00:56] tzarebczan opened #1613 "Need to click "upgrade on close" button twice"
## The Issue
Need to click "upgrade on close" button twice when prompted for an upgrade.

### Steps to Reproduce
1.
2.
3.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Oper

[2018-06-16 01:18] tzarebczan opened #1614 "Pass claim bid/fee as string instead of number"
## The Issue
If we upgrade to the latest daemon RC, we should pass the claim bid and fee as a string instead of number.
See https://github.com/lbryio/lbry/issues/1251 / https://github.com/lbryio/lbry/commit/e7deecc7ce84a6139ce74f1bad4f124c55c1e62d

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-16 03:58] amitnndn commented on #1556
#1600 I see that there is an issue opened, that is related to the changes in this issue. Can anybody with a Windows 10 system, click on the open log folder and let me know what folder it ends up opening? Thank you!

[2018-06-16 03:59] tzarebczan commented on #1556
On windows 10 and Mac, it opens to the parent folder of lbrynet, with it highlighted. Think you want to pass the logfile and have it open that folder.

[2018-06-16 04:02] amitnndn commented on #1556
@tzarebczan Is that happening when you click on 'Open Log Folder' or 'Open Log'?

[2018-06-16 04:03] tzarebczan commented on #1556
It's described in the issue. It happens when you click open log folder. Open log opens the logfile in notepad correctly.

[2018-06-16 04:04] amitnndn commented on #1556
Got it! 👍 A bit of a lag in my brain registering an Issue on a Friday night!!

[2018-06-16 15:28] tzarebczan commented on #1590
The above was only happening with https://github.com/lbryio/lbry-app/pull/1589  that didn't end up getting merged. Will keep open as we should investigate this line change: https://github.com/lbryio/lbry-app/pull/1589/commits/daeb02cd3777c5aa7ed4ef46656719f3b8a0e10d#diff-df116a02bf8da7997de2245267390707R118

[2018-06-16 15:36] tzarebczan commented on #1556
Closing this, https://github.com/lbryio/lbry-app/issues/1600 tracks latest issue.

[2018-06-16 15:36] #1556 closed

[2018-06-16 15:36] tzarebczan commented on #1545
This also results in 2 file view analytics API calls. We should get this fixed ASAP.

[2018-06-16 15:37] tzarebczan commented on #1539
We added the toggle, now just need the tool tip.

[2018-06-16 15:45] tzarebczan opened #1615 ""Free" / price icon does not scale with other components"
## The Issue
When making the LBRY window size smaller, all components scale well except for the price.
See below.
https://www.screencast.com/t/lcQeNXU4VrW

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-16 16:00] tzarebczan opened #1616 "Determine when to call claim_list_mine"
## The Issue
I ran into a scenario where I closed the app during a pending publish, and when I reloaded, the files were still not confirmed. This results in my pending files to be down in the downloads folder. After they confirmed, I was able to view them through the downloads folder, but they never made it into the publishes folder after navigating there.

Sounds like the only time we are calling

[2018-06-16 16:01] tzarebczan commented on #1601
@amitnndn looks like another perfect one for you :)

[2018-06-16 16:02] tzarebczan commented on #1342
We removed the # of credits for now in the redesign.

[2018-06-16 16:02] #1342 closed

[2018-06-16 16:15] tzarebczan commented on #1457
This is now fixed on master.

[2018-06-16 16:15] #1457 closed

[2018-06-16 16:51] tiger5226 commented on #1610
I believe I solved it with https://github.com/lbryio/lbry-app/pull/1617

<img width="1184" alt="screen shot 2018-06-16 at 12 46 50 pm" src="https://user-images.githubusercontent.com/3402064/41500654-e927ec84-7163-11e8-9417-9d467e5bc154.png">

[2018-06-16 17:14] tzarebczan opened #1618 "Pending publishes show at the end of list"
## The Issue
On one my installations, pending publishes are showing at the end of my claim list in Publishes, but normally they should be in the front.

See: https://www.screencast.com/t/JaRdV01pIMAE

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-16 17:27] seanyesmunt commented on #1539
It's only if you hover over autoplay. I guess it should be if you hover
over any part of it

On Sat, Jun 16, 2018, 1:26 PM Sean Yesmunt <sean@lbry.io> wrote:

[2018-06-16 17:35] tzarebczan commented on #1539
Yep, that's what I tried first haha and didn't bother checking the label.

[2018-06-16 19:28] tzarebczan commented on #1508
This doesn't seem to happen anymore.

[2018-06-16 19:28] #1508 closed

[2018-06-16 19:29] tzarebczan commented on #1357
This also happens if you Publish > dismiss modal > ctrl-R, then go to Publish to make a new one - the data form the previous publish is seen.

[2018-06-16 20:22] tzarebczan opened #1620 "Handle lack of keyring support and/or missing authentication token better"
## The Issue
A user recently reported a blank Explore page when accessing LBRY on Linux and not having gnome-keyring installed. We do check for errors when getting the auth token, but in this case it seems to be coming back as null (brief testing).  Doesn't look like the network call to our API occurs in this scenario.

We should warn the user and send them to the https://lbry.io/faq/startup-troub

[2018-06-16 23:27] Grayyyyy opened #1621 "Claim ID merged with Transaction ID in Transaction History"
## The Issue
The Transaction History doesn't put a limit on characters for the Claim ID, so it continues on to the Transaction ID, which makes the IDs look unclean.

### Steps to Reproduce
1. Go to Wallet
2. Go to Transactions
3. Look for one of your claims in the Transaction History

### Expected Behaviour
The Claim ID not merging with the Transaction ID.

### Actual Behaviour
The Claim ID mergin

[2018-06-17 05:50] tiger5226 commented on #1545
solved with https://github.com/lbryio/lbry-app/pull/1622

This was happening because when the auto play was implemented a few months ago a direct call to load a video was added. However, this was not needed because a simple play call would already by default load a video via the same call already. So what ended up happening (if the user did not already have the content) is that it would get called

[2018-06-17 06:15] tiger5226 commented on #1590
the default [mime.json](https://github.com/feross/render-media/blob/master/lib/mime.json#L80) has .zip in it. So wouldn't that find a match if we passed in .zip?
Instead of trying to find in the mime set, we should instead check against [MEDIASOURCE_EXTS](https://github.com/feross/render-media/blob/master/index.js#L30) which should only give us audio/video formats.

[2018-06-17 06:46] tiger5226 commented on #1590
fixed with https://github.com/lbryio/lbry-app/pull/1623

We just need to compare mediatype and only allow video and audio to be playable.

[2018-06-17 14:16] tiger5226 commented on #1496
I wonder if it would be performant to just try to resolve the url on enter, and if not, perform a search instead. This way there is no questioning whether it is a valid url or not. This would probably be the idea scenario.

[2018-06-17 16:59] Grayyyyy commented on #182
Can confirm, having the issue on the latest RC.

System Config:
![image](https://user-images.githubusercontent.com/37783688/41510201-db462c94-7225-11e8-83dd-244c5de5aab8.png)

[2018-06-18 02:08] #1545 closed

[2018-06-18 02:09] seanyesmunt commented on #1545
Whoops. Wasn't looking close enough at that if else, I believe it's to "load" videos before playing them, but if we do that anyway inside the play call, we don't need that if else (I think)

[2018-06-18 02:14] #1610 closed

[2018-06-18 02:25] tzarebczan opened #1626 "Total reward amount incorrect on Get Credits screen"
## The Issue
To reproduce this screen, must have 0 balance and go to Publish or a paid claim.

See below: https://www.screencast.com/t/VAyPx49x

Amount should be 26, not 30.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version

[2018-06-18 02:29] tzarebczan opened #1627 "Rewards screen for Invite reward should show reward amount"
## The Issue
The rewards screen should show 3 LBC (or whatever the value from the API is) for the reward amount, similar to other rewards.

Change in which this was lost:
https://github.com/lbryio/lbry-app/pull/1509/files

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested solutions if you have any.

[2018-06-18 03:02] Grayyyyy commented on #1601
I've created the button, pushing a commit now

[2018-06-18 13:51] tzarebczan commented on #1618
This is also happening to another user on an existing install. Will try fresh install today.

[2018-06-18 14:29] tzarebczan commented on #1611
part of https://github.com/lbryio/lbry-app/pull/1629

[2018-06-18 14:36] Invariant-Change opened #1631 "Resizable Cards for Better Navigation"
Have a slider that resizes cards when dragged left or right.

This would be good for when searching the home screen or a channel with lots of content.

[code]
![image](https://user-images.githubusercontent.com/29914179/41538727-4bd785f0-734f-11e8-9f89-b3efe47cfaaf.png)

![smalllbry](https://user-images.githubusercontent.com/29914179/41542506-758a41f4-7358-11e8-9ba0-0bdb709634c4.gif)

[2018-06-18 14:39] tzarebczan commented on #1631
Yep, suggested this to @seanyesmunt last night. Unless it's easy to implement, we probably won't get this in for the redesign.

[2018-06-18 14:45] Invariant-Change commented on #1631
It's easy. I found no bugs locally. However, anything below 10% width becomes too squashed. Just need to map the var shown above to the sliders range of 10-100%.

[2018-06-18 14:46] Invariant-Change commented on #1631
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_rangeslider

[2018-06-18 14:57] kauffj commented on #1614
Why would a string be preferred to a number? Sounds like a daemon bug - is an app-side change actually necessary here?

[2018-06-18 14:59] tzarebczan commented on #1614
Was just going based off @eukreign 's Comment here https://github.com/lbryio/lbry/issues/1251#issuecomment-397492196

[2018-06-18 15:15] seanyesmunt commented on #1631
I have a PR that changes the card size for medium/large displays. I would be interested in this in the future.

I would like to add a `UI` section on the settings page. But that won't be implemented any time soon.

[2018-06-18 15:28] Invariant-Change commented on #1631
The slider would work well on ultra wide screens too. This is how it looks on my ultra wide.

### Normal Size - Very big cards. Looks a little uncomfortable.

![image](https://user-images.githubusercontent.com/29914179/41545957-b3deb30c-735f-11e8-8df2-e33aca4ea616.png)

### Slider at 10% - Perfect size for this display (common gaming monitor size).

![image](https://user-images.githubusercontent.c

[2018-06-18 16:05] tzarebczan commented on #1516
Still occurring on newly added subscriptions. Removing release blocker for now.

[2018-06-18 16:06] tzarebczan commented on #1611
Fixed in 1629.

[2018-06-18 16:06] #1611 closed

[2018-06-18 16:13] tzarebczan commented on #1626
Round down instead of up: https://github.com/lbryio/lbry-app/blob/0cd5ef9ab4b4e8f38569127caa85568bd5a6a54d/src/renderer/modal/modalCreditIntro/view.jsx#L17

[2018-06-18 16:13] eukreign commented on #1614
Ideal would be an integer representing the amount in satoshis. If we're accepting decimals then string is better since there is no decimal type in JSON and a string would most accurately let user represent the decimal.

[2018-06-18 16:16] tzarebczan commented on #1627
Will add as a note in the API for now.

[2018-06-18 16:35] kauffj commented on #1614
I would disagree relatively strongly that passing as a string is the right solution to this. Can discuss on upcoming protocol meeting or in the office.

[2018-06-18 16:39] tzarebczan commented on #1590
Reverting the above PR since it doesn't take into account image types.

[2018-06-18 16:55] btzr-io commented on #1590
Also `pdf`, `3D-files`, `e-books`

[2018-06-18 18:41] kauffj opened #1634 "Add whatever magic "yarn cache clean lbry-redux" does to other yarn scripts and readme"
I'm pretty sure I've spent several hours over the last few months on random bugs that were due to `lbry-redux` being out of date.

The instructions for [Resetting your Packages](https://github.com/lbryio/lbry-app#resetting-your-packages) do not actually work. They only work if you run `yarn clean` in between.

It would be good if the instructions made it clear how to do a full reset, and it'd also

[2018-06-18 18:54] kauffj opened #1635 "Improve Wallet Backup UX"
1. If we're printing the path, let's use the input type that makes it easy to select and copy it. Most likely the identical component used for Receiving Credits in the Wallet would work.

2. Add a button that opens the folder or file directly.

[2018-06-18 18:57] tzarebczan commented on #1635
We have a pr for the button already.. Probably just needs some positioning/styling fixes.
https://github.com/lbryio/lbry-app/pull/1628

Agreed with the copyable field.

[2018-06-18 19:05] #1626 closed

[2018-06-18 19:05] #1334 closed

[2018-06-18 19:19] btzr-io commented on #1577
https://github.com/feross/render-media/issues/28

[2018-06-18 19:30] tzarebczan opened #1636 "Adjust Resend verification email button on welcome prompt"
## The Issue
This looks funky on the welcome prompt because of the not now button, but looks fine with just 2 buttons on rewards entry screen for email.

![buttonssss](https://user-images.githubusercontent.com/8120721/41557680-63cfb148-730c-11e8-8502-99e43ea44f67.jpg)

### Steps to Reproduce
1. Start new user flow

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us wh

[2018-06-19 00:42] Grayyyyy commented on #1635
I'll try to work on 1. too

[2018-06-19 04:38] tzarebczan commented on #797
Fixed in https://github.com/lbryio/lbry-app/pull/1563

[2018-06-19 04:38] #797 closed

[2018-06-19 10:48] iamuditpatel opened #1642 "Missing key features like "View Counter""
![lbry view](https://user-images.githubusercontent.com/11346292/41592953-f945a000-73db-11e8-9726-13a52b3f9d8c.PNG)

[2018-06-19 14:35] tzarebczan commented on #1627
stop gap- https://github.com/lbryio/internal-apis/pull/401

[2018-06-19 14:41] tzarebczan commented on #1614
No need anymore, the latest fix seems to work: https://github.com/lbryio/lbry/pull/1257

[2018-06-19 14:41] #1614 closed

[2018-06-19 15:13] CurtisLeeBolin opened #1644 "[feature-request] flatpak for wider linux distribution"
Please consider releasing a flatpack package so more linux distros can easily run LBRY.

More info at: https://flatpak.org/

[2018-06-19 15:18] tzarebczan commented on #1644
See previous discussion at https://github.com/lbryio/lbry-app/issues/570

We'll need to revisit snap vs app image at some point, but Linux is least used platform, so it's difficult to prioritize at the moment.

[2018-06-19 15:18] #1644 closed

[2018-06-19 16:31] CurtisLeeBolin commented on #1644
@tzarebczan, thank you for your quick reply.

You mentioned the problem in your statement.  Yes, Linux adoption is low because it is only packaged for one distro.  You can't expect high adoption unless it is packaged for all distros and hosted on one of the package hub sites, flathub.org or appimage.github.io .  The hub sites are basically **free advertisement**.

Snap wouldn't be any better becau

[2018-06-19 22:02] tzarebczan opened #1647 "Add loading screen after publishing, before success message"
## The Issue
After you click the publish button, the content get's unfocused (as if you were starting a new publish) and then a few seconds later, you get the modal with the success message. We should add a loading indicator during this process.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested so

[2018-06-19 22:13] tzarebczan commented on #1606
Fixed: https://github.com/lbryio/lbry-app/pull/1641

[2018-06-19 22:13] #1606 closed

[2018-06-19 22:14] tzarebczan commented on #1618
Think it has to do with installs that haven't had publishes when running the new version.

[2018-06-20 01:20] seanyesmunt commented on #1598
Will be addressed in https://github.com/lbryio/lbry-app/pull/1650

[2018-06-20 04:47] tzarebczan commented on #1613
Fixed in 1649

[2018-06-20 04:47] #1613 closed

[2018-06-20 04:47] tzarebczan commented on #1618
hopefully fixed in: https://github.com/lbryio/lbry-app/pull/1651

[2018-06-20 04:47] #1618 closed

[2018-06-20 11:46] Invariant-Change opened #1653 "Fixed Header"
As on websites, having a fixed header is always nice. With a **fixed header**, which compliments the side navigation, you could also put more options in this prime real-estate, such as notifications of pending rewards or whatever amazing ideas you can come up with :)

[![image](https://user-images.githubusercontent.com/29914179/41655718-2817c75a-74d1-11e8-980a-2622892e3dba.png)](https://spee.ch/6/

[2018-06-20 13:30] tzarebczan commented on #1653
We had one, and then Sean removed it. Will revisit.

[2018-06-20 13:32] Invariant-Change commented on #1653
Aww. Poor fixed header. He's having a tough time! We should show him some more love ❤️

[2018-06-20 21:02] seanyesmunt commented on #1653
Part of the issue was just trying to improve how content went "below" the header when you scrolled. There were a few bugs that were more pressing so we just got rid of it (for now).

I really like how the header in your video looks. Would you be interested in making a PR with that change?

[2018-06-20 22:04] kauffj opened #1655 "Better UI/UX for external links"
The app uses one shade of blue and one shade of blue-green to differentiate internal and external links.

I do not think the purpose of this is clear.

Maybe a more traditional external link indicator would make sense to use here? (https://www.flaticon.com/free-icon/external-link-symbol_25284)

[2018-06-20 22:22] tiger5226 opened #1656 "Search dropdown is sticky"
See screenshot below

<img width="1319" alt="screen shot 2018-06-20 at 6 21 41 pm" src="https://user-images.githubusercontent.com/3402064/41687731-e214eebe-74b6-11e8-9766-2ce969d423a7.png">

[2018-06-20 22:41] #1636 closed

[2018-06-20 22:42] seanyesmunt commented on #1598
Made some improvements but I'll keep this open if there is more discussion

[2018-06-20 22:44] seanyesmunt commented on #1496
I'm not sure what we would gain from resolving on enter? Do you mean resolve, then if nothing is at that uri, fallback and do a search?

[2018-06-20 23:51] vv181 opened #1658 "Fade automatic dark mode text when dark themes selected"
## The Issue
If we already choose the dark theme, try to make the "Automatic dark mode" text a little bit fading, so the user aware it can't be ticked.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:

[2018-06-21 01:39] Invariant-Change commented on #1653
@seanyesmunt Yes, I'm out viewing houses, but will put one together when back.

The fixes were extra padding to the top of the content area and a z-index fix for the description input box.

[2018-06-21 02:18] vv181 opened #1662 "After deleting videos locally, videos get stuck and need to restart to get the workaround."
## The Issue
Deleting locally a downloaded video then opening it again on LBRY shows its stucks on "Waiting for Metadata". The app needs to be restarted to get the workaround, then it shows "the files missing, rebuilding".
### Steps to Reproduce
1. Play / Download videos
2. Delete the file locally on the drive
3. play the videos, it gets stuck at "Waiting for metadata"

### Expected Behaviour
It s

[2018-06-21 02:21] tzarebczan commented on #1662
Thanks for filing! Easiest solution would be to refresh fileinfo when going into a file page.

[2018-06-21 02:35] tiger5226 commented on #1496
thats exactly what I mean. It is uber annoying that it defaults to a URI that doesn't exist

[2018-06-21 03:08] seanyesmunt commented on #1496
Gotcha. I like that idea

On Wed, Jun 20, 2018, 10:35 PM Mark <notifications@github.com> wrote:

[2018-06-21 04:45] tzarebczan commented on #393
No longer an issue on the redesign.

[2018-06-21 04:45] #393 closed

[2018-06-21 04:47] tzarebczan commented on #596
This is fixed on the redesign.

[2018-06-21 04:48] tzarebczan commented on #599
This is fixed in the redesign.

[2018-06-21 04:48] #599 closed

[2018-06-21 04:48] tzarebczan commented on #600
This is no longer an issue after v19 daemon.

[2018-06-21 04:48] #600 closed

[2018-06-21 04:50] tzarebczan commented on #669
This is fixed on the redesign.

[2018-06-21 04:50] #669 closed

[2018-06-21 04:50] tzarebczan commented on #700
Fixed in the redesign.

[2018-06-21 04:50] #700 closed

[2018-06-21 04:50] tzarebczan commented on #702
Added to the redesign.

[2018-06-21 04:50] #702 closed

[2018-06-21 05:35] tzarebczan commented on #751
This should be fixed in the redesign.

[2018-06-21 05:35] #751 closed

[2018-06-21 05:35] tzarebczan commented on #753
I think this is fixed, reopen if it still happens.

[2018-06-21 05:35] #753 closed

[2018-06-21 05:36] tzarebczan commented on #795
Fixed in the redesign.

[2018-06-21 05:36] #795 closed

[2018-06-21 05:39] tzarebczan opened #1664 "Can't right click > paste into description on publish"
## The Issue
Can use ctrl-v, but right click doesn't work in Publish > Description. Might be worth looking into other parts of the app also.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-21 05:39] tzarebczan commented on #818
Closing in favor of: https://github.com/lbryio/lbry-app/issues/1664

[2018-06-21 05:39] #818 closed

[2018-06-21 05:40] tzarebczan commented on #873
This is fixed in the redesign.

[2018-06-21 05:40] #873 closed

[2018-06-21 05:40] tzarebczan commented on #882
This doesn't seem to happen anymore.

[2018-06-21 05:40] #882 closed

[2018-06-21 05:41] tzarebczan commented on #874
The UX around this has improved, no longer an issue in the redesign. Final adjustments will be made when the daemon can provide fee estimates.

[2018-06-21 05:41] #874 closed

[2018-06-21 05:42] tzarebczan commented on #908
This is fixed in the redesign, https://github.com/lbryio/lbry-app/issues/251 still applies.

[2018-06-21 05:42] #908 closed

[2018-06-21 05:44] tzarebczan commented on #958
this is fixed in the redesign, @LavRadis please confirm/reopen.

[2018-06-21 05:44] #958 closed

[2018-06-21 05:45] tzarebczan commented on #1004
Closing this for now. We don't have any immediate plans to go away from POW, as this is the only proven consensus mechanism currently available. If you feel strongly about it, feel free to open an issue on https://github.com/lbryio/lbry

[2018-06-21 05:45] #1004 closed

[2018-06-21 05:46] tzarebczan commented on #1007
Closing this, the UX has improved but final enhancements will be added when the daemon can provide fee estimates.

[2018-06-21 05:46] #1007 closed

[2018-06-21 05:47] tzarebczan commented on #1008
Don't think this is an issue anymore, see new build instructions.

[2018-06-21 05:47] #1008 closed

[2018-06-21 05:47] tzarebczan commented on #1048
Fixed in https://github.com/lbryio/lbry-app/pull/1646

[2018-06-21 05:47] #1048 closed

[2018-06-21 05:48] tzarebczan commented on #1049
Fixed in : https://github.com/lbryio/lbry-app/pull/1267

[2018-06-21 05:48] #1049 closed

[2018-06-21 05:49] tzarebczan commented on #1052
Think this is addressed in the redesign.

[2018-06-21 05:49] #1052 closed

[2018-06-21 05:49] tzarebczan commented on #1096
Closing in favor of: https://github.com/lbryio/lbry-app/issues/1096

[2018-06-21 05:49] #1096 closed

[2018-06-21 05:50] tzarebczan commented on #1162
Doesn't seem to be an issue in the redesign anymore.

[2018-06-21 05:50] #1162 closed

[2018-06-21 05:51] tzarebczan commented on #1190
Closing this in favor of: https://github.com/lbryio/lbry-app/issues/1568

[2018-06-21 05:52] tzarebczan commented on #1196
@seanyesmunt is this fixed? If not, please reopen.

[2018-06-21 05:52] #1196 closed

[2018-06-21 05:54] tzarebczan commented on #1328
Done!

[2018-06-21 05:54] #1328 closed

[2018-06-21 05:54] tzarebczan commented on #1338
Fixed in: https://github.com/lbryio/lbry-app/pull/1654

[2018-06-21 05:54] #1338 closed

[2018-06-21 05:56] tzarebczan commented on #1378
Fixed in : https://github.com/lbryio/lbry-app/pull/1648

[2018-06-21 05:56] #1378 closed

[2018-06-21 05:56] tzarebczan commented on #1384
@seanyesmunt were all these moved?

[2018-06-21 05:56] tzarebczan commented on #1430
This is fixed in : https://github.com/lbryio/lbry-app/pull/1500

[2018-06-21 05:56] #1430 closed

[2018-06-21 05:57] tzarebczan commented on #1456
Fixed in: https://github.com/lbryio/lbry-app/pull/1659

[2018-06-21 05:57] #1456 closed

[2018-06-21 05:57] tzarebczan commented on #1471
This should be much improved in the redesign + updated daemon, please reopen if it's still happening.

[2018-06-21 05:57] #1471 closed

[2018-06-21 06:00] tzarebczan commented on #1539
This is fixed in the redesign, still looking for the exact placement though.

[2018-06-21 06:00] #1539 closed

[2018-06-21 09:32] Invariant-Change commented on #1664
The **description** area needs to be an **Input HTMLElement**. When I change the span to an input it works. However, it then requires restyling.

[code]
The code only lets the **context menu** work on **inputs**.
[code]

See [contextMenu.js](https://github.com/lbryio/lbry-app/blob/ae93a0d95d9209ea40d897bba0fdfa7c1f08028a/src/renderer/util/contextMenu.js)

[2018-06-21 10:10] Invariant-Change opened #1666 "Previous Claim Info Shows on Pending After New Publish Then Displays as Unused Until Restart"
The two **pending** items shown in this screenshot, show the **previous** claims prices (50 LBC and FREE), **not** the new set price for the new claim which is __**10 LBC**__ in this case.

![image](https://user-images.githubusercontent.com/29914179/41712715-928bf3b4-758e-11e8-9969-86d691f4f3ce.png)

Then after a few minutes, all the info disappeared and the cards said **Unused**,

![image](https:

[2018-06-21 10:59] Invariant-Change opened #1667 "Missing Community URL Info on Cards"
When you have **multiple** items, all with the same **title** and **thumb**, it's hard to know which one is which if you need to edit one.

This might also be a problem for content which have the same thumbs with **similar titles**, which are **truncate**, so you **can't** see the last part, such as "**Part Two**"

Showing the **Community** URL would be suffice, avoiding the long tailed permanent

[2018-06-21 11:17] Invariant-Change opened #1668 "The "Community Top Bids What's this?" Info is Wrong."
The "**Community Top Bids What's this?**" info contains the **wrong** information.

It should be **one** to **ten**, not **one** to **five**.

![image](https://user-images.githubusercontent.com/29914179/41715839-fc21fcde-7597-11e8-824e-6533bd197e1c.png)

The "What is this?" text could do with **separating** itself a little more from the **title**. Maybe a shade of grey that works on both the light

[2018-06-21 12:01] tzarebczan commented on #1667
We used to have this a while ago, the solution would probably be https://github.com/lbryio/lbry-app/issues/1394

[2018-06-21 12:03] tzarebczan commented on #1666
Did you leave the screen at all during this process? I think this is something isolated to an edge case or your environment, I've had better luck with edits in the past but will try to confirm.

Does this reproduce each time?

[2018-06-21 12:42] tzarebczan commented on #1666
Ah, old you meant original vanity URL you are trying to take over.

Does the unused location thing happen each time also? Can't seem to reproduce that on my end.

I do see the issue with price not showing during a pending publish correctly - sometimes it shows nothing (which is probably what it should show), sometimes it shows free (even though I set a price - this was during a takeover).

[2018-06-21 12:46] Invariant-Change commented on #1666
Yes. Previous. I've updated the title to be more clear.

Just going to check the "unused" issue again.

[2018-06-21 12:55] Invariant-Change commented on #1666
"**Unused**" did not happen on this occasion. I will report back if I see again. Pending was also a lot quicker to resolve. So maybe a temp network error, or something?

[2018-06-21 13:01] tzarebczan commented on #1666
Pending is checked every 30 seconds, and depends on when the claim is confirmed in a block.

[2018-06-21 13:23] Invariant-Change commented on #1666
Pending was pending for several minutes. I just timed. It took around 5 minutes to stop pending. However, it seems if you switch views and come back, the pending info resolves. So it seems like an app update info issue, not a blockchain issue.

[2018-06-21 13:28] Invariant-Change commented on #1666
Sorry, I mistook "**checked every 30**" for "**updated every 30**". Ignore the last comment.

[2018-06-21 15:20] Invariant-Change opened #1669 "Previous Thumbs Selections to Avoid Duplicates on Speech"
I found the newly embedded Speech **thumb creation tool** encourages **duplicate** thumbs when there are already existing ones.

Humans follow "**the path of least resistance**". If it's **easier** to create a new thumb than it is to find an **existing** one, they will. This will start tying up the server with **unnecessary** duplicate files.

A good way to prevent this would be to have a "**choos

[2018-06-21 15:41] tzarebczan commented on #1669
Great idea, but not sure what the best way to save the previous thumbs is. Application state might work for now, but that's cleared out with the application cache.

[2018-06-21 15:50] Invariant-Change commented on #1669
The thumb is already on Speech. It never needs to be in the app/local.

The thumb area would just save the URL and use the URL to make a preview of the thumb.

This could be done without the images in the image, it could be a drop down of previous locations. It's just saving a list of speech URLs into the existing JSON file.

Displaying the thumbs would make it easier to know which thumb a user wa

[2018-06-21 16:09] Invariant-Change opened #1670 "Use TinyPNG API in App to Compress Files Before Sending to Spee.ch"
## Smaller Files = Faster Files, Less Storage, Less Overheads.

[TinyPNG ](https://tinypng.com/developers) is a service I can't live without for my web development work, even after professionally compressing in Photoshop, I can still save a further 40% with [TinyPNG](https://tinypng.com/developers).

Many/most content providers have no idea how to compress images for the web. With this in the LBRY

[2018-06-21 16:11] Invariant-Change commented on #1670
**Example:**

[code]

[2018-06-21 17:13] btzr-io commented on #1664
This requires a more complex fix :upside_down_face:  ^^
See https://github.com/RIP21/react-simplemde-editor/issues/67

[2018-06-21 19:25] iamuditpatel opened #1672 "Need features like auto flush downloaded videos after certain time period like after 1 day, 1 month"
If the video is important need option that mark as favorite video.. so when flush happen your favorite video is not delete from your computer hard disks..

This is great help to our valuable user to free up unnecessary videos that they don't really want to store :)

This is just demo i created in my local application..

![flush after](https://user-images.githubusercontent.com/11346292/41740528-ef5

[2018-06-21 20:07] tzarebczan commented on #1672
We'd need protocol support for this: https://github.com/lbryio/lbry/issues/1171 and I'm not sure this would be the best way to implement something like that UX wise (and may be tough to implement on the protocol - what if it's not running - then it won't flush right?). Closing this for now.

[2018-06-21 20:07] #1672 closed

[2018-06-21 20:21] btzr-io commented on #1253
Fixed on master

[2018-06-21 20:32] #1253 closed

[2018-06-21 20:35] btzr-io commented on #768
https://github.com/electron/electron/issues/4349#issuecomment-256365499

[2018-06-21 21:55] btzr-io commented on #984
I can't recreate this ^^

[2018-06-22 00:21] btzr-io commented on #1670
Open source: https://github.com/lovell/sharp

[2018-06-22 08:21] Invariant-Change commented on #1670
I was going to suggest adding an open source option but didn't know of any or if they produced good results. I'll see if there is a test area for the one above and give it a go.

[2018-06-22 14:01] Invariant-Change opened #1674 "Price Can Change When Scrolling in Edit"
## Price Can Change When Scrolling in Edit

On several occasions the **Price** has changed when I've **scrolled** to the publish button at the bottom of the page. I only become aware of this **after** publishing, so then I have to go back and **re-edit**.
This could lead to content providers **accidentally** selling their content at a vastly **reduced price** or **higher** price if they scroll up.

[2018-06-22 14:42] Invariant-Change opened #1675 "Spellcheck Needs Restyling in Dark Theme"
## Spellcheck Needs Restyling in Dark Theme

The **styles** for **spellcheck** are hard to see in the **dark theme**.

## CURRENT

[code]

![image](https://user-images.githubusercontent.com/29914179/41782538-e1400226-767d-11e8-8c9d-29ffa2991177.png)

## NEW DARK

[code]

![image](https://user-images.githubusercontent.com/29914179/41782485-b9c4420c-767d-11e8-8d09-ccfb59203a6f.png)

## NEW LIGHT

![

[2018-06-22 14:45] tzarebczan commented on #1675
@Invariant-Change why not just submit a PR? You can literally edit that on the web interface :)

[2018-06-22 14:47] tzarebczan commented on #1674
Not only in edit, but in Publish mode too. Yea not sure how I feel about this, but ran into it myself also. Clicking shift and scrolling isn't intuitive, and a tooltip doesn't really help there.

@seanyesmunt wants to add a confirmation prompt, that would be a separate issue.

[2018-06-22 14:48] Invariant-Change commented on #1675
Because I'm too tired, but will tomorrow. I have matchsticks under my eyes atm. Haha!

There are several I can fix, but thought it's better to post them here until I can do them, just in case someone else can do them quicker.

[2018-06-22 14:48] tzarebczan commented on #1656
Fixed in 1657

[2018-06-22 14:48] #1656 closed

[2018-06-22 14:49] Invariant-Change commented on #1674
But more importantly, do you like the mouse wheel gif? 😂

[2018-06-22 15:15] seanyesmunt commented on #1674
Hoping to add a confirmation modal at some point. We should be able to just disable mouse scroll on these inputs.

[2018-06-22 15:19] seanyesmunt commented on #1669
I do like thinking about how we can improve the publish flow, but I'm not sure if this will change much. How often do you see YouTube channels with the same thumbnail on multiple videos?

[2018-06-22 15:28] Invariant-Change commented on #1669
Useful if you've deleted a claim and want to re-add it or move to a new URL or adding multiple claims to different vanity URL's or if there was an error and you have to start again. It would also make the app look a bit more graphical/pleasing (subject to pleasing looking thumbs).

But **not** a priority for sure!

[2018-06-22 16:00] m160 opened #1676 "Feature Request: Download-button on thumbnails"
## The Issue
There's no easy way to prepare content for later. Say I'm on the **Explore** page and I discover several videos I want to watch, but before watching I want to scroll through the **Explore** page to see if there's anything else I want to watch too. I either have to try to remember everything so I can click through it later, or I have to click into each video and press download so it ge

[2018-06-23 01:29] 42degrees opened #1678 "Documentation for Publish API needs extra info"
Looking at the documentation at: https://lbryio.github.io/lbry/ for "publish" API (and CLI, presumably) the 'name' field apparently has limitations on what characters can be in the field, but these are not documented. I have discovered through trial and error that at least spaces and commas are not allowed.  I don't know yet if other characters are also disallowed.

[2018-06-23 02:01] 42degrees commented on #1678
After digging through the code in lbry/Daemon.py and lbryschema/uri.py I finally found the regular expression governing names is:
valid_name_char = "[a-zA-Z0-9\-]"

That is pretty limiting and really should be documented.

[2018-06-23 05:04] tzarebczan commented on #1678
Issue moved to [lbryio/lbry #1268](https://github.com/lbryio/lbry/issues/1268) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-23 05:04] #1678 closed

[2018-06-24 15:16] Invariant-Change commented on #1653
@seanyesmunt @tzarebczan There was some responsive **issues** with the `header` in the above fixed header preview.

When the `position: fixed;` is set, it is no longer part of the **Flexible Box Layout**. As a result, the width **wasn't** calculating correctly, which meant when the app was resized to a **smaller** size, parts of the `header` became **chopped off.**

As a **fix** and in my opinion

[2018-06-24 15:54] Invariant-Change commented on #1675
The fix can be found here: https://github.com/lbryio/lbry-app/pull/1679

[2018-06-24 16:06] Invariant-Change commented on #1668
Fix found here: https://github.com/lbryio/lbry-app/pull/1680

[2018-06-24 17:17] seanyesmunt commented on #1653
Away from my computer so I'll give this a better review tonight but I love it.

[2018-06-25 03:20] tzarebczan opened #1681 "Better channel loading transition"
## The Issue
See below - the transition when loading a channel for the first time can be improved.
https://www.screencast.com/t/UbUYgfBQklb

Also, @seanyesmunt noticed it doesn't have lbry:// in the URL for channels.

### Steps to Reproduce
1. load a channel
2.
3.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell u

[2018-06-25 04:05] #1675 closed

[2018-06-25 05:06] seanyesmunt commented on #1653
This will be added in https://github.com/lbryio/lbry-app/pull/1661. Based of @Invariant-Change's design

[2018-06-25 07:44] Krisseck commented on #386
I can confirm that this is still an issue on a KDE-based distributions, the Explore page is blank and get this error on log:

[code]

The version I am using is v0.22.0-rc.14

[2018-06-25 09:00] Invariant-Change commented on #1653
There are **large** (hard to see) **shadows** on the **search bar** and other elements that require **adjusting**.

The new header is now floating with its own shadow. This means for a more natural look the shadows are best being **shallower** or **none** at all.

The search bars/input tend to have **inset shadows** giving inwards depth for the best look or none at all.

![image](https://user-imag

[2018-06-25 12:06] Invariant-Change opened #1682 "Web Content Should Open in a Web Type View"
Having self-contained and `lbry://` interlinkable websites is a big selling point for LBRY. However, viewing HTML content is in need of some love. It would be nice to have HTML/web documents open up in fullscreen below the new header, to make the experience more enjoyable.

I also noticed anchor links and context menus don't work with HTML content.

At the time of writing this, this web content I

[2018-06-25 14:15] kauffj opened #1683 "Set and document icon naming standard"
Should icon constants be named after the icon display or the icon purpose?

For example, should the constant for the subscribe icon, currently a heart, be `HEART` or `SUBSCRIBE`?

Typically (e.g. FontAwesome), icons are named after the display. But I'd actually argue that for a single application, the icons should be named after the purpose (i.e. `SUBSCRIBE` would be a better name than `HEART`).

[2018-06-25 14:30] tzarebczan opened #1684 "License data not copied during edit"
## The Issue
@Invariant-Change noticed that license type is not re-populated during an edit.

### Steps to Reproduce
1. Publish with a license type
2. Edit the file
3. Notice license type is not correct.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Config

[2018-06-25 17:18] akinwale opened #1686 "Show progress for blockchain_headers download on first launch"
Currently, the daemon downloads the `blockchain_headers` file when the app is launched for the first time, and the only message displayed on the desktop splash screen is "Catching up with the blockchain...".

The daemon's `status` call has been updated to return 2 additional fields in the `blockchain_status` property.
`is_downloading_headers` which is a boolean flag that indicates whether or not t

[2018-06-25 18:48] #1516 closed

[2018-06-25 18:56] seanyesmunt commented on #1653
@Invariant-Change Could you open a PR with your suggested fixes? I wasn't sure what box-shadow styles you used.

[2018-06-25 18:56] #1684 closed

[2018-06-25 20:33] kauffj commented on #1384
It's conceivable, likely even, that applications will desire their own notifications independent from those used cross-platform. If that case doesn't exist yet, it's probably fine to wait until it does, but it's something to consider when designing the pattern used here.

[2018-06-25 20:42] seanyesmunt commented on #1384
Whoops missed this. Yeah the app is using lbry-redux for all notifications

On Mon, Jun 25, 2018, 4:33 PM Jeremy Kauffman <notifications@github.com>
wrote:

[2018-06-25 21:14] LavRadis opened #1689 "Handle ERR_CONNECTION_RESET and restart app without quitting"
## The Issue
Before testing the RC15, my RC14 did not start the automatic upgrade prompt. After few moments it reported the ERR_CONNECTION_RESET. After clicking "OK" on the error message, the entire app crashed. I remember one-two other users reporting the same error.
Tom has my logfile on Discord.

### Steps to Reproduce
1. Not sure how to reproduce it.
2.
3.

## System Configuration

- LBRY Daem

[2018-06-25 21:22] tzarebczan commented on #1689
Thanks for filing! We'll need to deal with daemon resets better in more general terms.  Maybe the app can start the daemon back up instead of quitting.

[2018-06-25 23:58] tzarebczan commented on #1682
Maybe after https://github.com/lbryio/lbry-app/pull/1576 is merged, someone can look into better open source HTML / other doc type readers instead of render media.

[2018-06-26 05:01] Invariant-Change opened #1690 "Reduce Limit For Title and URL Length"
Currently, there is a long limit for URL and title length, apparently **240 characters**.

I imagine this could start being **taxing** on the **blockchain** in the future? I see no reason for titles and URLs over **60 characters** and would help keep URLs and metadata looking clean. I guess it would also help prevent **malicious code** injections.

Also, long URLs **break** formatting in-app as sh

[2018-06-26 05:30] Invariant-Change commented on #1690
Formatting fix would look something like this, which tourniquets anything over the set length.

[code]
![image](https://user-images.githubusercontent.com/29914179/41891043-ce84d654-7955-11e8-84f7-c60087bed80e.png)

[2018-06-26 05:32] tzarebczan commented on #1690
Notice the fee? :p Longer claim names require a larger fee. I'm not sure if the app is the right place to set the limits, we can leave that up for discussion.

[2018-06-26 05:49] Invariant-Change commented on #1690
Yeah. Maybe a blockchain limitation would be better!

App formatting needs fixing though to cope with any titles longer than the width of the table.

@seanyesmunt

I'm currently experimenting with ways to do this. Text fields are displayed as `<span>` but need to be a text element for this to work. If changed to a `<p>` the fix is easy and you get the below fitted content.

### CODE FIX
[code]
###

[2018-06-26 05:51] tzarebczan commented on #1690
Yea, that looks good to me. I think someone mentioned the same in a recent issue.

The blockchain hard-coded limitation is 240 :)

[2018-06-26 14:49] m160 opened #1695 "Suggestion: Separated NSFW section for mainstream adoption"
## The Issue
Having hardcore porn on the front page will hold LBRY back from mainstream adoption.
It will make me and others less inclined to promote our content on LBRY and can even make content creators go elsewhere. It also makes LBRY unsuitable for kids, which is a huge demographic.

### Steps to Reproduce
1. Open app
2. Scroll down to Community Top Bids
3. Porn:
![capture1](https://user-image

[2018-06-26 16:14] 42degrees opened #1696 "Beta showing duplicate videos on subscription page"
In the most recent betas, I am seeing every video on my subscription page duplicated.  Here is a screen shot.

![image](https://user-images.githubusercontent.com/1676142/41925195-209dade4-7929-11e8-8008-e165de956775.png)

Every one that is duplicated is from @timcast.  Clicking on the duplicates takes me to the identical video for each duplicate.  I subscribed to other channels and the videos on t

[2018-06-26 16:33] tzarebczan commented on #1696
Thanks for opening this @42degrees. Just checked our api and it's stored twice there (not supposed to happen). The fix may be on that side of the house, will take a closer look. I'm leaving as such for now so we can debug :)

[2018-06-26 16:38] tzarebczan commented on #1689
The daemon log shows:
[code]

[2018-06-26 16:52] tzarebczan commented on #1689
@shyba will take a look into this from lbryum side

[2018-06-26 17:54] tzarebczan commented on #1696
yep, an issue on our API side, the record was stored twice (not supposed to happen). Only happened to one other person, but I'll leave this issue open for visibility in case someone else runs into it.

[2018-06-26 19:41] tzarebczan opened #1698 "Error when reopening LBRY app to quickly on Mac/Linux"
## The Issue
I've seen this happen before and James ran into it earlier. Seems to occur if you close LBRY and try to re-open it too quickly. I've never seen it on Windows, only Mac/Linux.

<img width="482" alt="screen shot 2018-06-26 at 1 09 53 pm" src="https://user-images.githubusercontent.com/8120721/41935306-2ae9b8be-7957-11e8-906b-d8173465ce1d.png">

### Steps to Reproduce
1. On a Linux/Mac ma

[2018-06-26 19:44] tzarebczan opened #1699 "Search by default if URL entered does not resolve"
## The Issue
Currently, if you enter a single word (or something with a -) search term, the default behavior is to go to the URL even if it may not exist. We should resolve it, or have the resolution status return from Lighthouse, and search by default if it doesn't resolve properly.

@seanyesmunt / @tiger5226 do you think this is possible on app side only, or needs Lighthouse support?

## System

[2018-06-26 22:33] btzr-io commented on #1658
Fixed and merged in master.

[2018-06-26 22:33] btzr-io commented on #1655
Fixed and merged in master.

[2018-06-26 22:33] btzr-io commented on #1502
Fixed and merged in master.

[2018-06-26 22:33] btzr-io commented on #1175
Fixed and merged in master.

[2018-06-26 22:47] #1175 closed

[2018-06-26 22:47] #1502 closed

[2018-06-26 22:48] #1655 closed

[2018-06-26 22:48] #1658 closed

[2018-06-27 00:30] kcseb opened #1700 "Add Arch Linux Install Instructions"
Add in instructions for users on Arch Linux to install the LBRY Application. (This was mentioned on the help channel on Discord, and since you guys only have .deb installs, I figured you could use this.)

Linux (Arch): https://aur.archlinux.org/packages/lbry-app-release/
`Clone the AUR repository, and change directory to the new folder, run "makepkg -csir", this will install all dependencies and i

[2018-06-27 01:30] vv181 opened #1701 "Unsupported file types warning text overlayed with the image thumbnail text"
## The Issue
Unsupported file types warning text (couldn't load plugin) overlayed with the image thumbnail text (Image thumbnail)

### Steps to Reproduce
1. Open unsupported file types (e.g. pdf)
2. Click View

### Expected Behaviour
Should only show couldn't load plugin.

### Actual Behaviour
It shows both and the text overlayed

### Suggested Solutions
Should only show couldn't load plugin.

##

[2018-06-27 01:36] kcseb commented on #1700
Closing this as I added it as a pull request. :)

https://github.com/lbryio/lbry-app/pull/1702

[2018-06-27 01:36] #1700 closed

[2018-06-27 02:02] tzarebczan commented on #1701
Or better yet, let's find an open source PDF reader to integrate :) Can you dig into it and rename/rework your issue?

[2018-06-27 13:31] tzarebczan opened #1705 "Sidebar too narrow to fit Subscription count on larger displays"
## The Issue
See below
![bleed](https://user-images.githubusercontent.com/8120721/41977230-ceaef3b6-79ec-11e8-9813-7d9672844d6b.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-27 13:42] tzarebczan opened #1706 "Feature request: Option to keep LBRY on top of other windows"
## The Issue
Suggestion from a community member was to have an option (maybe in the tray?), to force LBRY to stay on top of other windows.  Maybe there's a way to do this with Electron.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-06-27 13:53] tzarebczan commented on #563
@jsigwart can we close this in favor or #620?

[2018-06-27 13:55] tzarebczan commented on #960
If a file exists, we should give the user an option to delete the file from LBRY (and locally if they want) when abandoning a claim.

[2018-06-27 13:58] tzarebczan commented on #710
Just ran into this recently again while playing lbry://Elastos#08f18690044232e82a6286667ce17f2c49c4a8bf

[2018-06-27 15:02] Invariant-Change opened #1707 "Git Clone Master App = 1.8.7 But User Downloaded App = 0.22.0"
Git Clone Master App = 1.8.7 But User Downloaded App = 0.22.0

### Git Clone Master App

![image](https://user-images.githubusercontent.com/29914179/41982572-20b7a41e-7a6f-11e8-9dae-44e9d5e6cac0.png)

### User Downloaded App

![image](https://user-images.githubusercontent.com/29914179/41982578-2757ac2e-7a6f-11e8-9ea2-fbe8386dfc58.png)

[2018-06-27 15:04] seanyesmunt commented on #1699
This can happen entirely in the app

On Tue, Jun 26, 2018 at 3:44 PM, Thomas Zarebczan <notifications@github.com>
wrote:

--
Sean Yesmunt
Application Engineer for LBRY

[2018-06-27 15:04] tzarebczan commented on #1707
This has been happening for a while.. Probably to do with how we are reading the verison on he help page. It should come from package.json

[2018-06-27 17:12] tzarebczan commented on #1701
@vv181 ebook is a duplicate of https://github.com/lbryio/lbry-app/issues/623 - unless such solution can also support PDF, not sure.

[2018-06-27 23:30] m160 opened #1708 "Misleading thumbnails (or lack thereof) on channel pages"
## The Issue
With the limit of only displaying 10 thumbnails on the channel pages, some can be misled to believe that this is all the content on a particular channel, especially if the screen size/resolution leaves an open space on the two last thumbnail 'spots' (see screenshot below)

There's a 'go to page' below the thumbnails, but it can be off the screen in window mode.

### Steps to Reproduce

[2018-06-27 23:37] tzarebczan commented on #1708
Thanks for filing this! My original suggestion was to have some type of indicator at the end that more pages are available - since some people overlook the page indicator at the bottom. Another option is to fetch content dynamically to fill up the entire area (doesn't solve the issue of users not knowing there's a next page). I'm sure @Invariant-Change would want lazy scroll here - and maybe that'

[2018-06-28 00:49] m160 commented on #1708
I put that under suggested solutions: **2. Put a tile in the empty spot saying 'Next Page'.**
When the page is filled up with thumbnails it's more natural to try to scroll though.

If lazy scroll is what YouTube does, I prefer pages. A couple more rows of thumbnails per page would be nice though.

[2018-06-28 01:09] tiger5226 commented on #1699
This is a duplicate of another issue. We can definitely resolve it first and if it resolves go to url and if not perform search.

[2018-06-28 05:20] seanyesmunt commented on #1683
I'm beginning to think it should be based on the purpose. Mainly to prevent the same icon being used for two different actions.

Ex: If we had a like button, maybe someone would just see the `HEART` icon and use that. If it was called `SUBSCRIBE` instead the chance of that happening is much lower.

[2018-06-28 05:39] seanyesmunt opened #1710 "Ensure claims are properly added to `byId` in redux"
This discussion spawned from https://github.com/lbryio/lbry-app/pull/1652

### The issue
At some points, data gets added to the `byId` key in redux. What is currently happening is that we populate `byId` in redux before populating the claims, which can cause issues. For example, on the subscriptions page, we should be able to take the channel claim id, and check it against the `byId` object in the

[2018-06-28 05:42] seanyesmunt commented on #1710
A good place to start would be to look at [this file](https://github.com/lbryio/lbry-redux/blob/master/src/redux/reducers/claims.js) and check out any functions returning a new `byId` value.

If there is a key with no claims attached to it, we shouldn't add it.

[2018-06-28 10:32] Invariant-Change commented on #1668
@tzarebczan This is now fixed and can be closed.

[2018-06-28 10:33] Invariant-Change commented on #1653
@tzarebczan @seanyesmunt This can be closed now :)

[2018-06-28 13:13] #1668 closed

[2018-06-28 13:14] #1653 closed

[2018-06-28 14:24] Invariant-Change opened #1712 "Can't Edit Existing Claim if Deposit Value is Changed"
If you click in to the **deposit area** and **change** the **value**, you can no longer **edit** unless you have that **entire value** in your wallet, which isn't necessary because you've already made your claim.

Solution to this can also be the solution to @tzarebczan's filed issue: https://github.com/lbryio/lbry-app/issues/634

### Before Value Changed Then Changed Back
![image](https://user-im

[2018-06-28 14:42] Invariant-Change commented on #1357
I can't recreate this issue. Has it been fixed?

[2018-06-28 14:45] Invariant-Change commented on #1346
This can now be closed :)

[2018-06-28 15:07] #1346 closed

[2018-06-28 15:15] tzarebczan commented on #1712
Ah, good point... Completly forgot about this when I made the ux enhancements.

@seanyesmunt do you think we can get the current claim deposit and add that to the balance for this simple check? I'll look into this.

[2018-06-28 15:52] Invariant-Change commented on #1712
Just noticed - Styling issue with "`I agree to the`" text in above screengrab,

[2018-06-28 15:55] tzarebczan commented on #1712
I'm not seeing the same in the prod version. But I think I saw something similar on another screen via Dev mode/master. Let me see if it's something to do with Dev mode, or a recent change.

[2018-06-28 16:12] tzarebczan opened #1713 "Alignment issues on Help / Publish"
## The Issue
On master, seeing the below. Not sure what other areas it affects:

![terms](https://user-images.githubusercontent.com/8120721/42046748-88ac4aa4-7acc-11e8-8faa-d0e217f6ceb9.jpg)
![alignmnet](https://user-images.githubusercontent.com/8120721/42046749-88b5f09a-7acc-11e8-9c1a-d4f1ebd849cf.jpg)

Thanks to @Invariant-Change for pointing out the publish page one.

## System Configuration

-

[2018-06-28 16:37] ceoger opened #1714 "Chanding Video URL During Edit Changes The Edit Button To Publish Giving An Error Message"
## The Issue
I tried editing a video i published and what happens is,  when i change the video url under "Where can people find this content" the edit button changes to publish giving error massage of  "no source provided to publish"  if this is suppose to be the case then how about (graying out the url under  "where can people find my video" when we want to edit)

### Steps to Reproduce
1. Go to

[2018-06-28 17:00] tzarebczan commented on #1714
Nice find and thanks for filing! We should either grey out the claim name during edit, or if they change it, alert them to select a file.

[2018-06-28 17:14] ceoger commented on #1714
@tzarebczan alerting them to select a file, isn't it going to be a publish? maybe they do not want to publish the same file again just updating the url, so i think either an option to change url or no option to change at all. they they can publish the same file again and use the preferred url

[2018-06-28 18:09] seanyesmunt commented on #1714
This one is tricky. We use the old url to retrieve the previously published file. If you change the url I'm not sure how we would determine if this is an edit or a new publish.

I like the idea of just disabling the input on edit. Maybe next to it we can say `This is an edit so you can't change the url, to start a new publish click "here"` or something similar.

[2018-06-28 18:14] #1713 closed

[2018-06-28 18:16] tzarebczan commented on #634
This is fixed in the redesign

[2018-06-28 18:16] #634 closed

[2018-06-28 18:17] ceoger commented on #1714
@seanyesmunt
 **I like the idea of just disabling the input on edit**. Maybe next to it we can say

 or something similar.

sounds like perfect :100:

[2018-06-28 18:23] tzarebczan commented on #1708
We also discussed bringing in more than 10 results: https://lbryio.github.io/lbry/cli/#claim_list_by_channel

[2018-06-28 18:52] tzarebczan commented on #1621
Fixed in: https://github.com/lbryio/lbry-app/pull/1694

[2018-06-28 18:52] #1621 closed

[2018-06-28 19:02] tzarebczan commented on #1384
This is all in lbry-redux now

[2018-06-28 19:02] #1384 closed

[2018-06-28 19:05] tzarebczan commented on #1357
I'm able to reproduce it. Go to publish, enter data, leave screen, go back to publish, clear, ctrl-R. Edge case, but it happens :)

[2018-06-28 19:07] tzarebczan commented on #1261
With the setting for # of search results, we don't believe we need pagination. @tiger5226 what do you think?

[2018-06-28 22:44] tzarebczan opened #1717 "Improve channel definition experience on Explore page"
## The Issue
When using channel definitions, there are a few issues on the home page:
1) The styling of the channel name is different from the rest of the categories
2) No way to pass a channel description from our API
3) When new users load the app (or after going to Settings > clear the cache), the row is blank until resolved.

The channel definition is currently returned as: `"@CryptoCandor#915

[2018-06-29 15:32] tzarebczan opened #1718 "Add open file/folder buttons to thumbnail if content not playable"
## The Issue
Resurrect https://github.com/lbryio/lbry-app/pull/1589 to add at least an open file button (maybe open folder too?) to the thumbnail if a file is not playable/viewable in the LBRY app.

This should also correct the display of thumbs for claims like lbry://epubfile

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anyth

[2018-06-29 18:58] tzarebczan opened #1719 "Do not Block / show DMCA page on own content"
## The Issue
Currently, if a user uploaded something which was flagged as a DMCA violation, they would see the same message when going into the claim. This gives them limited ability to edit or delete the claim. They could still delete it by going through the tx list as a work around.

Update: on the new homepage, we also block the content from their publishes page and any other views. This should

[2018-06-29 19:36] tzarebczan opened #1720 "Notification when publish is confirmed"
## The Issue
As a user, I want to know when my published item is fully confirmed on the network so that I can view and share it. Create a system notification when the pending notification process is completed - https://github.com/lbryio/lbry-app/blob/master/src/renderer/redux/actions/publish.js#L275

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Oper

[2018-06-29 19:41] tzarebczan opened #1721 "Present option for Community Top bids during Publish"
## The Issue
In order to encourage more users to participate in the community bidding on the home page, we should present the community bids in some clever way. Can reference https://lbry.io/faq/community-top-bid for more information.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

###

[2018-06-29 19:55] tzarebczan commented on #695
Notification scenarios, including the ones mentioned above:
- Publish completed
- Download completed
- Incoming tip
- Incoming content payment
- New content in subbed channels
- Trending content
- Pushed notifications from LBRY about app features  / news / content  / creators
- LBRY app updates
- System outages
- Vanity URL outbid

[2018-06-29 23:12] tiger5226 commented on #1261
I think it is much less important, but probably a nice to have. If you want to see 1000k results the loading of that will take a minute. Pagination allows for faster iteration of results. It is more of a formality now though. Happy to close this for now until we get through some of the more important issues. We can reopen if this  becomes more important.

[2018-06-29 23:12] #1261 closed

[2018-06-30 00:24] 42degrees opened #1723 "Can't watch my own pay streams"
I've been playing around with setting my items to require payment to test my publishing app, but then I noticed that LBRY was going to require that I pay the vig for watching my own videos.  It seems like there should be a way to watch your own streams without having to pay yourself (and lose LBC due to transaction fees).

[2018-07-02 04:08] #1707 closed

[2018-07-02 17:06] seanyesmunt commented on #1647
Just going to disable the file input for now. In the future we will add some loading styling on the confirmation modal

[2018-07-02 18:25] seanyesmunt commented on #1327
Got rid of the console errors in #1724 but we can keep this open for now for more discussion around claim id behavior on edits vs new publishes

[2018-07-02 18:41] kauffj commented on #1327
While I agree the user should have access to the old file and should know what's up, I feel very strongly that the ideal solution is not two distinct listings.

Instead, multiple outpoints for the same claim id should be treated/displayed as two different versions of the same content.

[2018-07-02 18:41] kauffj commented on #1327
^ If above is unclear I can elaborate

[2018-07-02 18:45] seanyesmunt commented on #1712
Fixed in https://github.com/lbryio/lbry-app/pull/1725

[2018-07-02 18:58] seanyesmunt commented on #1634
Added in #1726

[2018-07-02 18:58] #1634 closed

[2018-07-02 19:07] seanyesmunt commented on #1717
Fixed in 1711

[2018-07-02 19:07] seanyesmunt commented on #1681
Fixed in #1711

[2018-07-02 19:07] #1681 closed

[2018-07-02 20:12] #1712 closed

[2018-07-02 22:30] tzarebczan commented on #1723
Thanks for opening this issue! This would most likely depend on https://github.com/lbryio/lbry/issues/803 unless we do some type of workaround using claim_list_mine to check ownership of a claim.

This situation will only occur if you delete the file after you publish it, otherwise, you should be able to play it after publishing since file_list will know that you published it.

[2018-07-03 04:38] #1664 closed

[2018-07-03 14:58] tzarebczan opened #1728 "Support new daemon startup process"
## The Issue
When https://github.com/lbryio/lbry/pull/1164 is merged, the status calls returned to the app will be different. From [changelog](https://github.com/lbryio/lbry/blob/26098879e77149fc8401b0e9f04436964f83013c/CHANGELOG.md#removed):
`STARTUP_STAGES from status API and CLI call, it instead returns a dictionary of components along with their running status(this is a potentially breaking ch

[2018-07-03 17:50] webwakko opened #1730 "Adding a setting to open the app in @subscriptions"
It would be nice if we could have a setting that allows to open the app directly in the @subscriptions section

[2018-07-04 18:28] tzarebczan opened #1731 "Newly loaded channels brief alignment issue"
## The Issue
See gif - for newly loaded channels, there's an alignment issue briefly before it shows the content.  It's more apparent on slower PCs/connections
![channel loading](https://user-images.githubusercontent.com/8120721/42290951-75a8538e-7f96-11e8-9415-3bf4b8db8c37.gif)

### Steps to Reproduce
1.
2.
3.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what

[2018-07-05 18:41] ceoger opened #1732 "Nothing Happens When You Click On Continue After Getting Authentication Failure Message"
## The Issue
Nothing Happens When You Click On Continue After Getting Authentication Failure Message At The App Start Up
### Steps to Reproduce
0. Close LBRY app from the taskbar/ kill LBRY process
1. Change date and time settings to some months back(maybe 2 months back)
2. Open LBRY app and you get Authentication Failure
3.  Click continue and nothing happens

### Expected Behaviour
Tell us what

[2018-07-05 21:29] tzarebczan commented on #1732
Thanks for filing this Clement! It could be a modal issue with the continue button. If someone does continue, I don't think the app will function correctly without an API key, but that case might be different for the date/time issue.

Can you tell if an API key is passed via the network tab when this occurs?

[2018-07-05 21:42] misternils opened #1733 ""prove Humanity" more than once same wallet on multiple machines"
## The Issue
I authenticated my wallet on one machine, and have installed LBRY on a second.  I loaded my wallet from backup, but it is now asking me again to verify my wallet.   I verified after the backup.  Funds are correct.

### Steps to Reproduce
1. install on machine one
2. install on machine two
3. Verify (on machine two)

### Expected Behaviour
Recognize verification on any node.

### Actua

[2018-07-05 21:46] tzarebczan commented on #1733
Please see https://lbry.io/faq/lbry-basics on how authentication/rewards work. You can only sign in with a single email on one device currently (we'll be changing this in the future). If you plan on running on 2 machines, simply don't sign in on the other or sign in with a different email but do not go through the rewards process (rewards are 1 per person/household).

It's also not advisable to ru

[2018-07-05 21:46] #1733 closed

[2018-07-06 02:20] tzarebczan opened #1734 "Subscriptions quirks"
## The Issue
Recently saw a (1) next to my subs and a downloaded completed, but when I went to the sub page, it didn't show the content: https://www.screencast.com/t/7zhYO3VKk

After a reload: https://www.screencast.com/t/21JKM04tM9

Also, looks like there were 2 new uploads while my app was open, so it should have notified and downloaded both, but only 1 was attempted.

This is about the 2nd time

[2018-07-06 12:29] ceoger commented on #1732
it only gives err_insecure_response, the insecure response in my opinion is cos of the wrong date/time.
usually that is what you will get in an actual web browser when the date is wrong, you get certificate error and insecure connection error

another thing i just saw was when i click anywhere on the page, it reloads, anywhere on the lbry app

https://cdn.discordapp.com/attachments/440189329139171

[2018-07-07 13:16] tiger5226 opened #1735 "Ability to search within channels"
Depends on https://github.com/lbryio/lighthouse/issues/90

When on the channel page, searching should search within the channel results only. There will be a new parameter to the search api where a channel can be specified.

Also referenced in https://lbry.io/news/lbry-development-community-update-june-2018

@seanyesmunt any particular vision for this or is this above what you had in mind?

### Ac

[2018-07-07 13:21] tiger5226 commented on #1496
closed in favor of the more specific [issue](https://github.com/lbryio/lbry-app/issues/1699) that addresses the problem as described above.

[2018-07-07 13:21] #1496 closed

[2018-07-07 13:30] tiger5226 commented on #761
The node_id is not viable per @lyoshenka due to privacy/security concerns. The storing of this information has been rolled back.

[2018-07-08 07:22] ElectronEsq opened #1737 "Civic Integration"
## Optional Civic Integration

Optional Civic integration to **protect** wallets, enable or prevent viewing of **NSFW** and to prevent **rewards abuse**. It could make the app **safer**, more resistant to **scams** and more **family friendly**.
Or just use for rewards to prevent **abuse**. It would be a **good** partnership.

[![image](https://user-images.githubusercontent.com/29914179/42417653-d6

[2018-07-09 03:34] seanyesmunt commented on #1735
Yeah that is basically it. Somewhere there will be a search input on the channel page. Longer term it might be nice if we could include `similar content`?

Ex:
[code]

After typing that out though I think it might be better to just show a button on the page if there are no search results `Search other channels for this content` or something.

[2018-07-09 03:36] seanyesmunt commented on #761
Any ideas on what we can use instead? What were the concerns?

[2018-07-09 04:45] tiger5226 commented on #761
I don't really know the specifics, as I have not had the opportunity to discuss this with @lyoshenka yet.

As far as alternative ids, there is no other generic way of linking a verified user to their participation in LBRYNet. We would have to get the information we need app side and pass it across. Below would be some information:

 - Available file information such as claimid,outpoint. This is so

[2018-07-09 12:28] LavRadis commented on #1737
or lbry should develop its own identity app. it would be in line with developing the lbry ecosystem. you could obtain your LBRY CARD to access any of the apps! (i'm not sure how are they called in the usa)

[2018-07-09 13:31] tzarebczan opened #1740 "Update Electron-builder to latest version"
## The Issue
Update + test automated updates via RC releases on Mac/Windows/Linux.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-09 14:22] tzarebczan commented on #1737
Thanks for creating this issue! Something we should definitely explore. I remember looking into this a while ago but Civic wasn't well developed. Does anyone want to do research into what it would take to get this integrated?

[2018-07-09 14:23] tzarebczan commented on #1732
@seanyesmunt I'm guessing this is another close modal issue, I'll try to take a look myself :)

[2018-07-09 14:30] Invariant-Change commented on #1737
They have a [Civic Community Developer Program](https://www.civic.com/developers/community-developer-program/)

[2018-07-09 14:30] tzarebczan commented on #1737
Think I've done that already and dm'd with him about it (a while ago) . Now it's just a matter of digging into their api and integrating it.

[2018-07-09 14:34] Invariant-Change commented on #1737
Seems pretty straightforward. Create a [JWT token](https://docs.civic.com/#Browser) to authenticate a users account. The rest is done via Civic I guess?

https://docs.civic.com/#Browser

[2018-07-09 14:42] tzarebczan opened #1741 "Upgrade + test Electron latest version"
## The Issue
Latest version: https://github.com/electron/electron/releases

v3 beta is out also, need to check on the development status.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-09 15:13] tzarebczan commented on #1698
Fixed in https://github.com/lbryio/lbry-app/pull/1727

[2018-07-09 15:13] #1698 closed

[2018-07-09 15:49] seanyesmunt commented on #1382
Closing this. We now clear the yarn cache for `lbry-redux` on every install.

[2018-07-09 15:49] #1382 closed

[2018-07-09 15:53] #1714 closed

[2018-07-09 15:54] seanyesmunt commented on #1728
@tzarebczan Is this different from #1686 ?

[2018-07-09 15:54] tzarebczan opened #1742 "Show Community Top Bids only when NSFW enabled"
## The Issue
As an immediate step to make the Explore page friendlier for all audiences, only show the Community Top Bids if the NSFW setting is enabled.

Do we want to hint at its existence / explain how to enable on the explore page?

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-09 15:55] seanyesmunt commented on #1728
Oh. Just saw you referenced a PR, which has been reverted.

[2018-07-09 16:09] seanyesmunt opened #1743 "Add recommended content to File Page"
This is part two after #1249 is implemented

## The Issue
Currently there is no way to discover content on the File Page

### Expected Behaviour
There should be some list of files to view (semi) related to the file you are currently viewing.

### Actual Behaviour
There is nothing on the File Page except the content you are viewing.

### Suggested Solutions
Possibly perform a search based on the ti

[2018-07-09 16:15] kauffj commented on #1742
Please make sure that there is some cue to new users that this exists and do not just silently hide it.

[2018-07-09 16:22] seanyesmunt commented on #1578
This should be pretty straight forward.

Start a timer when user clicks play, then stop the timer when the content actually starts to play. @kauffj is that what you were thinking?

[2018-07-09 16:30] seanyesmunt commented on #1249
This channel fetching should be straight forward. Most of the time will be spent styling this. I am thinking this will be similar to youtube.

<img width="400" alt="screen shot 2018-07-09 at 12 29 29 pm" src="https://user-images.githubusercontent.com/16882830/42463326-cf5497ea-8373-11e8-9ea6-ff2603713171.png">

[2018-07-09 16:31] seanyesmunt commented on #754
Planning on working on this

[2018-07-09 17:07] seanyesmunt commented on #1686
Blocked until the next daemon release

[2018-07-09 17:37] tzarebczan commented on #762
use keyring setting: https://github.com/lbryio/lbry/blob/6952c2c07e099a13afa6458baa47fa2ea202340a/lbrynet/conf.py#L297

[2018-07-09 19:16] ykris45 opened #1744 "[Feature Request] Bring Back Bank icon on wallet area and header area [Redesign]"
## The Issue
on lbry app old version have a bank icon instead on header and wallet section area, but on the newest app doesnt have this icon. would be nice on next release of LBRY App have this bank icon.. so it means will make Design of LBRY App looks more pretty.

### Steps to Reproduce
1. Open LBRY App
2. looks header on You Have 5 LBC ( there no bank Icon)
3. Click Wallet ( on the balance sect

[2018-07-09 19:17] #1546 closed

[2018-07-09 19:18] seanyesmunt opened #1745 "Actually hide NSFW content if the "Hide NSFW content" setting is checked"
Currently we just show a red box and don't show the title, we should just hide those cards.

Additionally, we should display "We hid 4 files because of your content preferences" (something similar)

Will add more info

## The Issue

### Steps to Reproduce
1.
2.
3.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell u

[2018-07-09 20:02] tzarebczan commented on #635
Here's another: lbry://the-metagame-batman-arkham-asylum-20

[2018-07-09 20:09] tzarebczan commented on #1744
It was actually a really poor Library icon, and not a bank (but it was easier to call a bank icon because of how it looked haha). If we add anything to this, it would be: https://github.com/lbryio/lbry-app/issues/251

[2018-07-09 20:09] #1744 closed

[2018-07-09 20:58] jbshirk opened #1746 "First Publish 10 LBC - cannot claim reward : transaction_id: Transaction ID is not for a publish"
## The Issue
Claiming First Publish from rewards page generates message:
transaction_id: Transaction ID is not for a publish

### Steps to Reproduce /Actual Behaviour
1. Publish a file, wait for upload
2. go to rewards page, claim "first publish"
3. get confusing message

### Expected Behaviour
1. Publish a file, wait for upload
2. go to rewards page, claim "first publish"
3. see wallet balance in

[2018-07-09 21:02] tzarebczan commented on #1746
@jbshirk sorry for your trouble. Do you recall if you published this file after being rewards approved? Have you changed the email connected in your LBRY app recently? These would be the 2 common reasons this could happen.

Send me your LBRY connected email (Help > Connected Email) to help@lbry.io and we'll take a closer look. In the meantime, you can try restarting the application, publishing aga

[2018-07-09 23:52] tzarebczan opened #1747 ""Upgrade on Close" doesn't close because multiple modals open"
## The Issue
If a user has the LBRY app open and an update is out, it will create a modal every 10 minutes. So if you try to click the "Upgrade on Close" button - it won't actually close because you need to click it multiple times.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-10 01:21] jbshirk commented on #1746
Yes. Other rewards worked on schedule.

[2018-07-10 02:08] tzarebczan commented on #1746
Did you by any chance remove the published file? Please send the email as specified earlier.

If you want to help troubleshoot this, enter Dev mode by clicking ctrl shift i (side bar will open). Then go to the network tab. As soon as you click the button to claim the reward, there should be a network call made to our api server with some parameters like transaction  ID and wallet address. Please s

[2018-07-10 12:46] jbshirk commented on #1746
Did you by any chance remove the published file?  : no, it's still accessible locally.

[2018-07-10 14:51] seanyesmunt commented on #1745
Starting on this

[2018-07-10 14:57] skhameneh commented on #1607
Here's what I've found

- Spectron is _the_ tool to use for Electron -> https://github.com/electron/spectron
- Spectron is unopinionated and calls out Mocha, Jasmine, AVA, and Chai.
- I'm a fan of Mocha and their unopinionated model, combined with Chai; Jasmine is the primary tool for Angular dev (less relevant here).
- AVA looks like a nice new(er) test runner with improvements over Mocha; I am v

[2018-07-10 16:49] tzarebczan commented on #1746
Communicating with @jbshirk over email to try this again when we take a closer look on our API side. Seems like an edge case as other users are able to claim their first publish reward. The app is sending all the data as expected.

[2018-07-10 16:49] #1746 closed

[2018-07-10 17:12] 42degrees opened #1749 "Better instructions when daemon is incompatible due to upgrade"
I had 0.22.0 previously, **did not close LBRY**, ran the 0.22.2 installer.

When LBRY came back up it said, "This browser is running with an incompatible version of the LBRY protocol and your install must be repaired." (Known bug: the daemon was not killed before the upgrade, only LBRY-app.)

I hit "Quit Daemon" and LBRY exited.

Since it said that my install must be repaired I waited for it to re

[2018-07-10 19:07] tzarebczan opened #1751 "Console warning on Publishes page - unique "key" prop"
## The Issue
See below for warning shown in console when entering the publishes page for the first time. Don't think it affects the display of anything.

[code]
### Steps to Reproduce
1. Turn on dev mode (ctrl-shift-I),Refresh the app, wait to finish loading
2. Go to My LBRY
3. Go to Publishes - check console

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what ha

[2018-07-11 14:50] tzarebczan commented on #1474
@namujan78 can you check to see if you can still reproduce this on the latest version? The new daemon should handle deletions better. Also, give it a few seconds after deleting before going back into the claim.

[2018-07-11 17:30] #1526 closed

[2018-07-11 18:53] tzarebczan opened #1756 "Edit button missing in certain cases"
## The Issue
If you upload a file that's non-shareable on spee.ch and that's not in a channel, you won't be able to edit from the file page.

Submitting a PR for this shortly...

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-12 00:14] #1756 closed

[2018-07-12 04:17] tzarebczan commented on #1590
@btzr-io lbry://mpgfile#077ec523f7a6950476cd071d3190228e564b4472 shows play for an mpg file.  https://github.com/sinabio/Eleven - old.

[2018-07-12 04:36] tzarebczan opened #1761 "Add warning when opening files externally"
## The Issue
When using the open button (and possibly when clicking the file location at the bottom of a downloaded claim), we should warn users that they are opening at their own risk. FIles played inside the app are sandboxed, but anything opened externally could be a risk. Maybe we only do this for non-playable/viewable types?

It would be similar to the modal when clicking a hyperlink in a cla

[2018-07-12 05:10] tzarebczan opened #1762 "Autoupdate support for AUR and Flatpak"
## The Issue
We have community maintained builds for [AUR](https://aur.archlinux.org/packages/lbry-app-bin/) and Flatpak(https://flathub.org/apps/details/io.lbry.lbry-app) packages. The current auto update process for Linux only supports Debs and will trigger a download and install even on AUR/Flatpak builds.

This issue to do handle update notifications for AUR and Flatpak installs. The updater c

[2018-07-12 15:02] kauffj commented on #1762
@tzarebczan @alyssaoc do we need an epic related to this? At a minimum, the copy on the linux download partial for lbry.io and the lbry-desktop readme ought to be updated.

[2018-07-12 15:11] tzarebczan opened #1763 "Allow delete of LBRY/local content on DMCA page"
## The Issue
Similar to https://github.com/lbryio/lbry-desktop/issues/1719 but for downloaders. We should have the delete option available to users who have downloaded DMCA/copyright content and wish to delete it from LBRY/local drive.

The page should show the local path and a delete button if the file exists in file_list.

### Suggested Solutions
Tell us your suggested solutions if you have any.

[2018-07-12 16:06] tzarebczan commented on #1762
The readme is updated. I think we should link to that readme section from the lbry.io linux download page, as opposed to the download links themselves.

[2018-07-12 16:53] tzarebczan opened #1764 "Improve UX around returned results setting"
## The Issue
We recently added the ability to change the number of search results returned. If a user changes this setting, the search page is not automatically refreshed with the new number of search results. It seems only new searches take the setting into account. So if you search "test", change the setting, and search "test" again, it won't take the new setting into account. It does take it in

[2018-07-12 19:33] kauffj commented on #1762
@tzarebczan I support that choice.

[2018-07-12 21:54] skhameneh commented on #1607
I spent a considerable amount of time on this.

Universal findings:
- `electron-webpack` does not work well with `spectron`, see electron-userland/electron-webpack#75

Dev + Spectron:
- All attempts to get basic Spectron methods stall or fail, e.g. `client.waitUntilWindowLoaded()` stalls indefinitely.
- The application will execute within the test script, no testing interfaces work as expected.

P

[2018-07-12 22:42] tzarebczan commented on #608
Reopening
@daovist  - Please add this to the filter dropdown on the transaction history page and ensure that the export feature works with it as well.

[2018-07-12 22:55] tzarebczan opened #1766 "Enhanced tiles/display for tiered rewards"
## The Issue
The business team will be introducing tiered rewards in order to encourage continued app usage ([Internal API issue](https://github.com/lbryio/internal-apis/issues/392)).

It would be nice to have these tiered rewards display as a single tile in order to track progress.  The tile would disappear only when all levels have been unlocked.

At a minimum, the app should support claiming +

[2018-07-12 23:05] tzarebczan commented on #1766
@robvsmith may have some UX tips here :)

[2018-07-12 23:41] tzarebczan opened #1767 "Snackbar blocks other notifications (snackbars/modals)"
## The Issue
If a snackbar is shown on the screen, other actions which result in a notification (modal/snackbar) are blocked until the snackbar disappears.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-12 23:54] #1742 closed

[2018-07-13 15:38] tzarebczan commented on #1506
repo was renamed along with a bunch of the references on other repos. Just waiting for a few PRs to go through before closing.

[2018-07-13 18:32] #1745 closed

[2018-07-14 10:01] namujan78 commented on #1474
@tzarebczan It is not fixed, still same problem.

App | 0.22.2
Daemon (lbrynet) | 0.20.3
Wallet (lbryum) | 3.2.3

[2018-07-14 10:08] namujan78 commented on #1175
@tzarebczan This issue still happens when you quickly click multiple times on CHOOSE FILE after the PUBLISH screen appeared.
CC @btzr-io
![image](https://user-images.githubusercontent.com/37721875/42723471-89758d56-8788-11e8-97e6-14158d74bba0.png)

[2018-07-14 19:09] btzr-io commented on #1175
I can confirm this is working on `linux`, not sure about `macOS`,
Maybe this is a `windows-bug` ?

[2018-07-14 19:14] tzarebczan commented on #1175
He's clicking it really quickly... I'll try on windows. This is an edge case though, someone won't click like that :)

[2018-07-14 20:56] btzr-io commented on #1175
Clicking really quick freezes the window:
 https://github.com/electron/electron/issues/11323

[2018-07-15 00:10] #1572 closed

[2018-07-15 01:43] namujan78 commented on #1175
It’s not freeze, but the app become slow responsive...

[2018-07-15 01:57] namujan78 commented on #1175
One more thing, it happen only for first time you go to Publish app.
Next time it doesn’t happen. Maybe the app load complete all components successfull.

[2018-07-16 07:35] 42degrees opened #1770 "Better thumbnailing (feature suggestion)"
The current thumbnail system leaves a bit to be desired because of the broad usage for the thumbnails.  In the list of videos it's pretty small, on the viewer page (before you press play) it's pretty large, and on spee.ch it's somewhere in between.  I wonder if LBRY should come up with naming conventions for thumbnails to get (for example) small, medium, and large versions for different uses.

Che

[2018-07-16 11:44] tzarebczan commented on #1770
I think it's just a matter of training users to upload appropriately sized thumbnails so they scale well on the file page. They scale down already on the other smaller thumb areas.

Currently we only have the capability to store a single thumb in the metadata.

I don't think sites like YouTube store multiple thumbs either.

I'll leave this open for discussion, but the more immediate enhancements h

[2018-07-16 12:53] Invariant-Change opened #1772 "Reverse Order & Use System/Location Time/Date"
The order of rewards would be better if the last reward claimed was first on the list.
Also, the date & time is set to something different than the users' location or system. Using the system or location time and date makes more sense.

![image](https://user-images.githubusercontent.com/29914179/42759504-8d0dfaac-894a-11e8-9787-1338802a7222.png)

[2018-07-16 13:15] seanyesmunt commented on #1761
This should use the same styling as the `openExternalLink` modal. Maybe we can combine them into one modal?

@btzr-io This might be a good one for you if you are interested.

[2018-07-16 13:22] seanyesmunt commented on #1767
Easy to reproduce:

- go to the `Send & Receive` page
- populate the `send credits` fields (amount & address)
- click the `copy address` button
- click the `send` button to open the confirmation modal
  - This will be delayed until the snackbar goes away for the `address copied` message

[2018-07-16 13:29] seanyesmunt commented on #1175
It doesn't happen on macOS.

[2018-07-16 13:55] tzarebczan commented on #451
A user ran into this recently, so it's still an issue.

[2018-07-16 15:27] skhameneh opened #1773 "Add missing daemon (block heights) information to 'About' under the 'Help' page"
## The Issue

Chain Local Height & Remote Height are not easily found.
Users must make a manual daemon call or scan logs to find what the daemon has as the user's current block.

### Suggested Solutions
Add current daemon block heights to the About section under the Help page.

## System Configuration

[2018-07-16 18:39] tzarebczan opened #1774 "Can't open app on Mac/Linux if GitHub API call fails"
## The Issue
GitHub was down for a few minutes and someone reported not being able to access the app. Add additional error checking for the GitHub API call (https://github.com/lbryio/lbry-desktop/blob/e1210f78051e984f26905c01f5d7eac454adad01/src/main/index.js#L184) so that it doesn't prevent app startup if GitHub is down.

There is an uncaught Json error called on startup for Mac/Linux or on the h

[2018-07-16 18:55] tzarebczan opened #1775 "Subscriptions should autodownload on startup"
## The Issue
We tell users that "This app will automatically download new free content from channels you are subscribed to." but this only occurs if you had the LBRY app opened while the content was posted. We should be auto-downloading subscribed free content (lastest single upload) on app startup.

## System Configuration

- LBRY Daemon version: 0.20.3
- LBRY App version: 0.22.2
- LBRY Installat

[2018-07-16 19:15] #1749 closed

[2018-07-16 19:17] skhameneh opened #1776 "Implement E2E Testing Solution"
See lbry-desktop#1607 for investigation task & findings, on hold due to Electron-Webpack + Spectron compatibility issues.

This will likely require build changes to proceed.

[2018-07-16 19:18] #1607 closed

[2018-07-16 19:25] tzarebczan opened #1777 "Update spee.ch thumbnail upload URL to use asset URL format"
## The Issue
Currently, the app uses the long direct URL (i.e. https://spee.ch/003405a6996d5ede33778367017aa25a2d117924/8ldohtO05Gx0UlwicejtY4nD.jpg) for spee.ch thumbnail uploads which causes issues when the URL is accessed directly. Instead, we should use the asset URL - https://spee.ch/asset/8ldohtO05Gx0UlwicejtY4nD/003405a6996d5ede33778367017aa25a2d117924

## System Configuration

- LBRY Daemo

[2018-07-16 19:42] tzarebczan commented on #1526
@seanyesmunt re-opening to address Jeremy's comment about showing the protocol warning but allowing the user to continue.

[2018-07-16 20:51] #762 closed

[2018-07-16 20:52] alyssaoc commented on #762
a duplicate of #1097, this issue closed in of another issue

[2018-07-17 14:25] tzarebczan opened #1780 "Rewards refresh enhancements"
## The Issue
1) To support tiered rewards, we should refresh the reward list after a reward is claimed.
2) Instead of calling the reward list when going to the Rewards page, call it on the Overview page. This ensures that the user is shown accurately rewards information on Overview.

@tiger5226 can you confirm that the next level in a tiered reward will be available right after the previous level

[2018-07-17 18:02] tzarebczan commented on #1400
Done! A couple remnants that don't need to be changed: https://github.com/search?q=org%3Albryio+lbry-app&type=Code

[2018-07-17 18:02] #1400 closed

[2018-07-17 18:06] tzarebczan commented on #1506
This has been completed - a few remnants that will remain (necessary): https://github.com/search?q=org%3Albryio+lbry-app&type=Code

[2018-07-17 18:06] #1506 closed

[2018-07-17 18:52] tzarebczan commented on #1283
This LGTM!

[2018-07-18 07:46] namujan78 commented on #1474
Happen with lbry://aggretsuko-a-cartoon-for-children-ages#66070156e7c93df52122b4359361e3424818b4c4
Frequency: 1/5

It’s quite hard to happen. Thanks.

[2018-07-18 13:10] tzarebczan opened #1782 "Show Community Top Bids if all content is SFW"
## The Issue
In [#1760](https://github.com/lbryio/lbry-desktop/pull/1760), we hid the community top bids unless the NSFW setting enabled.  If all the community top bids end up being marked SFW, we may want to consider showing this row by default. If any one of the claims (one through ten) are marked NSFW, then default to the hidden behavior along with hint on front page.

### Suggested Solutions
T

[2018-07-18 14:44] #608 closed

[2018-07-18 16:22] tzarebczan opened #1783 "Spacing at bottom of Explore page when Community Top Bids are hidden"
## The Issue
Now that community top bids are at the bottom, the spacing looks like it needs to be adjusted:
![spacing comm top bids](https://user-images.githubusercontent.com/8120721/42894541-155fcb3e-8a85-11e8-9794-c0c2e31e1ed4.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-18 17:22] NetOperatorWibby commented on #251
# `ᜢ`: `U+1742`
![ᜢ](https://user-images.githubusercontent.com/1288356/42897283-874c59c6-8a8d-11e8-8ddc-8d0857520bfb.png)

# `℄`: `U+2104`
![℄](https://user-images.githubusercontent.com/1288356/42897237-59004bfe-8a8d-11e8-935e-5b41d3ffc9bf.png)

[2018-07-18 20:30] seanyesmunt opened #1786 ""yarn" command installs LBRY daemon every time instead of checking if it's already downloaded"
Working on this

[2018-07-18 22:30] tzarebczan opened #1788 "Feature Suggestion: Option to enable/disable desktop notification"
## The Issue
Currently, we use desktop notifications when a file has completed downloading. These notifications may extend to other areas in the future.

A setting to enable/disable these notifications should be available for users who don't want to to see them.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Sc

[2018-07-19 16:51] kodxana opened #1790 "Arm build problems"
### Expected Behaviour
Build script produce .deb file
### Actual Behaviour
Crash at fpm step.

### Suggested Solutions
Scripts download fpm x86 package. Mayby it is possible to use system instaled fpm insted of packaged version downloaded from github.
Link to package: https://github.com/electron-userland/electron-builder-binaries/releases/tag/fpm-1.9.3-2.3.1-linux-x86_64

## System Configuration
R

[2018-07-19 19:54] NetOperatorWibby opened #1791 "Tutorial"
This looks like a good candidate: https://introjs.com

[2018-07-20 15:52] tzarebczan opened #1794 "Channel hyperlink fires twice, going back requires two clicks"
## The Issue
If you go into a channel, it takes 2 clicks of the back button to get back to the previous page. @seanyesmunt confirmed the history navigate action is being called twice.

Could be related to the latest channel caching enhancements.

### Steps to Reproduce
1. Click into a channel, click back
2. Takes 2 clicks to go back

### Expected Behaviour
Tell us what should happen.

### Actual B

[2018-07-20 16:01] tzarebczan opened #1796 "Disable channel hyperlinks on channel page"
## The Issue
When you are on a channel page, the file card's channel is still clickable which leads you back to the same page and duplicates havigation history. We should disable channel hyperlinks on the channel page.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-20 17:56] tzarebczan commented on #1796
After discussing with @seanyesmunt and the latest fix for channel navigation, we're gonna close this. If you are on page 1 and click the channel, nothing will happen (and navigation works). If you are on page 2 and click it, will take you back to page 1.

[2018-07-20 17:56] #1796 closed

[2018-07-22 16:45] tiger5226 commented on #1780
They will see 1 level at a time, and once claimed they will see the next level if the api is called again. This work is ready and should be merged for our internal-apis soon, specifically for many download levels and subscription levels.

[2018-07-22 16:48] tiger5226 commented on #1743
Sean, the way elastic search will work if you send in the title is it breaks down each word in the title and returns the results based on the scoring of those words in other claims. I think that is a great solution actually. I would just make sure you ignore the highest ranking result which would be itself.

[2018-07-23 13:20] tzarebczan commented on #754
@skhameneh to take a stab at this.

https://github.com/jhiesey/videostream

https://github.com/feross/render-media/issues/31 /https://github.com/lbryio/lbry-desktop/issues/635 (always happening on this file)

[2018-07-23 13:37] tzarebczan opened #1801 "Figure out what's wrong with source-map electron builder issues"
## The Issue
When I upgraded Electron builder, I could not build locally on windows due to the below error. It would build on Travis fine (built on Linux). Mac worked also.

Turns out the deb has the same issue as the local windows build. This is the most immediate fix we need.

Also ran into this on Mac build when fixing the duplicate daemon downloads (http://build.lbry.io/app/build-2815_commit-b

[2018-07-23 14:40] tzarebczan commented on #1794
Fixed in https://github.com/lbryio/lbry-desktop/pull/1797

[2018-07-23 14:40] #1794 closed

[2018-07-23 14:40] tzarebczan commented on #1777
No longer an issue with spee.ch's latest changes.

[2018-07-23 14:40] #1777 closed

[2018-07-23 14:41] tzarebczan commented on #1783
Fixed in https://github.com/lbryio/lbry-desktop/pull/1793

[2018-07-23 14:41] #1783 closed

[2018-07-23 14:41] tzarebczan commented on #1740
This is completed, but leaving open until https://github.com/lbryio/lbry-desktop/issues/1801 is resolved

[2018-07-23 15:46] kauffj commented on #1780
This shows merged so I'm closing, re-open if I'm missing something.

[2018-07-23 15:46] #1780 closed

[2018-07-23 16:39] tzarebczan commented on #1409
Added in https://github.com/lbryio/lbry-desktop/pull/1558

[2018-07-23 16:39] #1409 closed

[2018-07-23 16:44] tzarebczan commented on #1775
@daovist you are working on this in your autodownload branch, right?

[2018-07-23 17:00] tzarebczan commented on #1717
The content URLs are now passed from Chainquery. Will create separate issues for making the channel name be clickable and for loading tile revamp.

[2018-07-23 17:06] kodxana commented on #1801
Compile node_modules and put them in app.asar will fix this problem :)

[2018-07-23 18:07] daovist commented on #350
I'm gonna look into implementing this feature.

[2018-07-23 18:27] seanyesmunt opened #1802 "Add recommended content on anonymous content file page"
This will be done after we add content to the file page for channel pages

[2018-07-23 18:32] daovist commented on #907
I'm gonna work on this feature.

[2018-07-23 18:54] kauffj commented on #907
Are we imagining a change to the existing search behavior or a new separate search bar for this feature? My preference would be the former if we can come up with good UX around it

[2018-07-23 18:58] #1612 closed

[2018-07-23 19:01] #1802 closed

[2018-07-23 19:02] tzarebczan commented on #1255
Closed by https://github.com/lbryio/lbry-redux/pull/60

[2018-07-23 19:02] #1255 closed

[2018-07-23 19:03] #1362 closed

[2018-07-23 19:14] daovist commented on #1775
yes

[2018-07-23 21:03] #1786 closed

[2018-07-24 03:12] tzarebczan opened #1805 "Sorting on channel page different from Subscriptions page"
## The Issue
When there are multiple claims in the same block, sorting differs on the channel page vs the subscriptions page. See lbry://@Dota2Divine#2d2c1a3dc98ca868d1f2bfe76b8a1bb820857c5a as an example.

Note: You'll have to be subbed to more than 1 channel to see the bug.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:

[2018-07-24 04:02] tzarebczan opened #1806 "Quitting app in Dev mode does not kill yarn dev process"
## The Issue
When running the app in dev mode (yarn dev) and then quitting, the console does not even the yarn dev process. A few versions ago, it used to (see release-0-22-1 branch). Need to ctrl-C out of the process.

Note: this leaves lbrynet-daemon running in the background.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Any

[2018-07-24 04:46] tzarebczan opened #1807 "Publish screen shows it's in editing mode on first run (no publishes)"
## The Issue
When running the app for the first time, you'll see "edit this file" even though you aren't editing anything. This is because this line returns "undefined" = "undefined" - https://github.com/lbryio/lbry-desktop/blob/32942ed349c5587a60da3e406efb29781ed35003/src/renderer/redux/selectors/publish.js#L66

See state here: https://www.screencast.com/t/Y1x4EgWZc

On another machine with publi

[2018-07-24 15:02] tzarebczan commented on #1801
This was fixed by https://github.com/lbryio/lbry-desktop/pull/1803. Turned out to be an issue with the daemon not downloading on Linux(weird, since this worked before electron-builder changes) and locally on Windows. The build process was changed to download the daemon correctly in all cases.

[2018-07-24 15:02] #1801 closed

[2018-07-24 15:05] tzarebczan opened #1808 "Differentiate between blank and incorrect URL on Publish thumbnail preview"
## The Issue
Currently, the same "broken" image is shown when there is no URL or an incorrect URL is entered. We should differentiate between the two scenarios to make it clearer for the user.

![thumb preview](https://user-images.githubusercontent.com/8120721/43147556-4e1f441c-8f31-11e8-9e6f-d97acb41d6cf.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation

[2018-07-24 15:39] tzarebczan opened #1810 "Social sharing options"
## The Issue
Currently, the only thing that comes close to social sharing is the "View on Web" button that's available for free images/videos which opens a spee.ch page for the content. The goal is to allow users to share content from LBRY on their blogs or other social platforms. There would be predetermined formats/links for popular platforms like Facebook/Twitter/Reddit (spee.ch also has Tumblr

[2018-07-24 15:50] LavRadis opened #1811 "Minor UI issue: "Choose File" opens LBRY install folder"
## The Issue
On the first usage, the "Choose File" button in the "Publish" section opens in LBRY install directory. It could be confusing for new users. It could maybe open in "My documents" or "My computer". It remembers the last directory after the first time.

## System Configuration

- LBRY Daemon version: 0.20.4
- LBRY App version: 0.23.0-rc.3
- LBRY Installation ID: 7tYN144rHXrspzJG9xLP28fi1

[2018-07-24 15:56] tzarebczan opened #1812 "Determine when to run list_featured API call"
## The Issue
When featured content is pushed to the homepage, users won't see the ribbon unless they refresh the app since the list_featured call is only made on startup. Should it be called when the homepage is? Call in the background?

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-24 17:19] 42degrees opened #1813 "Videos on Explore showing incorrect fee"
Some videos on the Explore page are showing the incorrect fee information.  I have LBRY set to be NSFW (I have covered the offending thumbnails).

Here is what I see:
![2018-07-24_11-11-58 showing incorrect fee for video](https://user-images.githubusercontent.com/1676142/43154991-4dff0a10-8f33-11e8-8962-cfe0e1f958bd.png)

All three of the videos at the bottom of the image initially showed up as "F

[2018-07-24 17:22] tzarebczan commented on #1813
This is an edge case during a takeover bid and when the user hasn't refreshed their LBRY app in a while. There was a fix applied for the claim page with https://github.com/lbryio/lbry-desktop/issues/797.

I'll keep this open, but the more generic issue to tackle might be: https://github.com/lbryio/lbry-desktop/issues/451

[2018-07-24 17:35] 42degrees opened #1814 "0.23 does not play, even when it has successfully downloaded"
I clicked on a video, hit play.  The download counter went from 0 to 80 something percent (I wasn't watching it all that closely) then went away as if it had completely downloaded.  It would not play.  I backed out then came back in.  I hit play again and it shows "Waiting for metadata" but at the bottom of the page it says, "Downloaded to: [file]" and I checked the file and it plays fine in VLC M

[2018-07-24 17:38] seanyesmunt commented on #1811
On mac it opens to the folder you chose from last time after clicking the button. I guess this isn't happening on windows? Must be an OS thing

[2018-07-24 17:39] seanyesmunt commented on #1807
The issue is with the `parseURI` command returning `"undefined"` (string) instead of an actual `undefined` value

[2018-07-24 17:42] tzarebczan commented on #1814
It's not an H264 MP4, so our in-app player doesn't support it. https://www.screencast.com/t/p2rIeElBe06W

Closing in favor of https://github.com/lbryio/lbry-desktop/issues/635 / https://github.com/lbryio/lbry-desktop/issues/1003

[2018-07-24 17:42] #1814 closed

[2018-07-24 17:47] tzarebczan commented on #1811
Yes, that's true on windows also. But what happens when it's on a first run (no file previously selected)?

[2018-07-24 17:54] seanyesmunt commented on #1811
Seems like it's persisting between first runs. We might need to try on a new machine?

[2018-07-24 18:44] tzarebczan opened #1815 "Expose Full Screen setting in app"
## The Issue
Some users may want to run the LBRY desktop app in full screen (i.e. pressing F11 while in the app). It would be a good idea to expose this setting somewhere in the app - settings page could be appropriate.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-24 20:07] ykris45 opened #1816 "Feature Request : Expose Smiley on Description Field Form in published area"
## The Issue
 Btzr has added emoji features on the LBRY App but its only support if user know how to add emoji via the key like :dog: :jiggy: and etc. for amateur user it will make confusing to them, would be nice if on the description area has the emoji button/option so user can add it manually/directly via in
### Steps to Reproduce
1. Click Publish
2. Choose a File
3. See Description Field Form

[2018-07-24 20:08] ykris45 commented on #1816
https://media.discordapp.net/attachments/377895389992321064/471405027215409172/unknown.png?width=574&height=430 see example like this what i meanly

[2018-07-24 22:36] kauffj commented on #1813
Hey @42degrees, just wanted to say thanks for some of the thorough, well-written issues you've filed as well as your first contrib. I'm guessing @tzarebczan has already hooked you up with some LBC, so this is just a thank you from me and the rest of the LBRY team!

[2018-07-24 22:37] kauffj commented on #1812
Candidates for times to call it:

1) When rewards are refreshed
2) Whenever discover / suggested is refreshed

[2018-07-25 15:19] #1740 closed

[2018-07-25 15:38] seanyesmunt commented on #1249
test comment

[2018-07-25 15:53] kauffj commented on #1097
@skhameneh I believe by convention we're not closing issues until merged, even if the PR has been submitted.

Also, if you have Zenhub installed then you will see a "Connect with an Issue" button on the PR near the bottom of the page above the comments.

Using this will improve board organization and I believe auto-close the issue on merge.

[2018-07-25 18:18] skhameneh commented on #1485
My general approach:
- Add `webpack --watch` as `yarn dev` command to `lbry-redux`
- Add `./node_modules/lbry-redux` to the watch paths in `lbry-desktop`

[2018-07-25 18:18] skhameneh commented on #1485
I should have a working PR shortly 😃

[2018-07-25 19:30] seanyesmunt commented on #1815
Is this idea "click this button to go full screen"?

[2018-07-25 21:01] tzarebczan opened #1819 "Enhance tile experience during data load"
## The Issue
Currently, our default loading tiles look like the screenshot below. The goal would be to replace them with something more aesthetically and functioanlly pleasing. This would include all areas of the app where tiles are used, including channel pages which don't show any loading tiles until the channel is resolved.

![loading tiles](https://user-images.githubusercontent.com/8120721/432

[2018-07-25 21:09] tzarebczan opened #1820 "Clickable channel names on Explore page headings"
## The Issue
Breaking out this issue from https://github.com/lbryio/lbry-desktop/issues/1717.

It would be nice if the channel name in the heading would be a hyperlink to the channel page. With this change, we can have internal APIs pass the long URL, and cut it off after the `#` for display purposes.

![image](https://user-images.githubusercontent.com/8120721/43227524-f1f314dc-902c-11e8-9e92-988c

[2018-07-25 21:09] tzarebczan commented on #1717
Closing in favor of https://github.com/lbryio/lbry-desktop/issues/1819 / https://github.com/lbryio/lbry-desktop/issues/1820

[2018-07-25 21:09] #1717 closed

[2018-07-25 21:41] tzarebczan commented on #1819
@kauffj homepage - it does resolve in a few seconds, that's not the problem. It's just improving the experience.

It would come in handy on the channel/subscription/search and new claim page that has other content. Currently, channel pages don't show any tiles until the claim_list_by_channel call returns...and since we know how many tiles we are returning, we can use these as a placeholder. This w

[2018-07-25 22:07] kauffj commented on #1815
This is a good feature but Settings is probably the wrong place for it (or I'm misunderstanding)

[2018-07-25 22:17] jamesbiller opened #1821 "Create "You must wait until thumbnail finishes uploading" message"
I have been loving the new thumbnail upload feature!

However, it's possible that users will attempt to click 'Publish' before their thumbnail is done uploading to spee.ch.

In this case, we should have a message similar to "You must agree to terms and service" that lets them know that they can't publish without the thumbnail being published.
![image](https://user-images.githubusercontent.com/3879

[2018-07-25 22:21] tzarebczan commented on #1821
I was aware of this but didn't file because once the new wallet is inplemented, the response time should be a couple seconds.

Let's keep open until it's confirmed.

[2018-07-25 22:22] jamesbiller commented on #1821
You mean it will only take a couple of seconds to upload the thumbnail?

[2018-07-25 22:23] tzarebczan commented on #1821
Yes, sorry for not being clearer.

[2018-07-25 23:21] tzarebczan commented on #1815
Believe would be specific to Windows, as Mac already has a maximize option that works like this, and Linux users can move over the title bar to view the menu...and go to View > Toggle Full Screen. On Windows, the menu bar is hidden by default. Maybe we can add a minimalistic one like Slack has: https://www.screencast.com/t/9tJgM3iRCA  - might be possible with https://www.npmjs.com/package/electron

[2018-07-26 03:46] 42degrees commented on #1813
@kauffj Thanks for the compliment.  @tzarebczan has indeed been throwing shekels my way ;-)

[2018-07-26 03:47] 42degrees commented on #1813
@tzarebczan I had just upgraded to the new beta of LBRY, so I had definitely refreshed my LBRY immediately before seeing this error.  And that release had a new daemon as well, so that was brand new when I saw this problem.

[2018-07-26 03:50] 42degrees opened #1823 "Spamming the Use It Now button causes the installer to run many times"
I saw an upgrade notification in LBRY and so I hit the "Use It Now" button.  It didn't react right away so I hit it again.  Then I hit it a couple more times.  Each hit (more or less) resulted in an installer trying to run.  The button should be greyed out and the cursor should be changed to a busy cursor as soon as the button press has been received.

[2018-07-26 03:53] 42degrees commented on #1696
Confirmed, LBRY 0.23.0 (or daemon 0.20.4) fixed the duplication in my subscriptions page.  I did not need to clear my cache.

[2018-07-26 05:10] tzarebczan commented on #1823
Mine starts fairly quickly after clicking once, but indeed, we should disable it after clicking to prevent duplicate installers. Thanks for the report!

[2018-07-26 05:18] tzarebczan commented on #1813
We'll see if we can get the same fix applied from https://github.com/lbryio/lbry-desktop/pull/1563 to other areas, or remove this cost-refresh dependency completely.

[2018-07-26 05:29] ceoger opened #1824 "Feature Request: It'll Be Nice To See Visualizations/Album Art When Playing Audio Files"
## The Issue

At  the moment, audio files plays on a black background, it'll be nice to see some visualizations when playing audio files in the app

### Steps to Reproduce
1. Start playing any audio file
2. You see video playing and in a dark background
3.

### Expected Behaviour
we should see some visualization or a background images/album arts

### Actual Behaviour
black background with the play

[2018-07-26 14:33] tzarebczan commented on #231
Reopening per discussion in : https://github.com/lbryio/lbry/issues/701#issuecomment-406360004

Relevant: https://github.com/electron-userland/electron-builder/issues/3171

[2018-07-26 14:35] tzarebczan commented on #1821
Agreed, we should implement this regardless. I may take a stab at it this weekend, shouldn't be too difficult.

[2018-07-26 14:37] tzarebczan commented on #1824
Great idea, thanks for filing! Want to do some research for open source alternatives that might do this already for mp3s/audio files?

[2018-07-26 14:54] ceoger commented on #1824
yeah, i know VLC/ VideoLAN, which is a media/mp3 players, has some nice visualization, open source and AIMP3 play which i am looking into.

VLC: https://github.com/videolan/vlc

[2018-07-26 14:58] tzarebczan commented on #1705
Reopening: https://www.screencast.com/t/HS3BiqDU

[2018-07-26 20:03] #1485 closed

[2018-07-26 20:19] tzarebczan opened #1825 "Explore presenting channel suggestions on subscriptions page / modal"
## The Issue
Similar to how we currently fetch featured content, we will be implementing an endpoint  (https://github.com/lbryio/internal-apis/issues/262 - internal issue) which lists suggested channels for users to subscribe/view content from. I've also suggested a community-driven category be added to the endpoint which would list channels with the highest claim bids. The endpoint for featured s

[2018-07-26 20:21] tzarebczan commented on #1825
@alyssaoc I'll let you determine if we should be created an Epic for this as a separate issue, or possibly turn this one into an Epic

[2018-07-26 20:32] #1097 closed

[2018-07-27 03:18] btzr-io opened #1827 "Multithreading"
## The Issue
There are some performance issues while rendering / parsing non-playable files

### Expected Behaviour
:rocket: Non-blocking UI events.

### Suggested Solutions
https://electronjs.org/docs/tutorial/multithreading

[2018-07-27 03:21] btzr-io commented on #1827
See: https://github.com/lbryio/lbry-desktop/pull/1558#issuecomment-406178533

[2018-07-27 15:04] jamesbiller opened #1828 "Improve search UX / Create clickable search bar icon changer"
When people look at the search bar in the LBRY app they see a magnifying glass that symbolizes search.

However, when a word is typed in the search bar that word is not searched for, but instead, a file is attempted to be accessed at the lbry:// URL of that word.

![image](https://user-images.githubusercontent.com/38798392/43328341-b2b1b002-918b-11e8-9fbe-f7a8676291ab.png)

An easy way to fix this

[2018-07-27 20:57] dan1d commented on #1808
Hi, I would need an icon image to be inserted on this issue. Code is ready to be reviewed but I'm missing a second icon.
Fail url:
![screenshot from 2018-07-27 17-53-10](https://user-images.githubusercontent.com/3293616/43346123-6f106d80-91c6-11e8-95a4-f16f6a07fa90.png)
Blank url
![screenshot from 2018-07-27 17-53-21](https://user-images.githubusercontent.com/3293616/43346127-71e09b20-91c6-11e8-9d

[2018-07-27 22:52] tzarebczan commented on #1828
@jamesbiller - agreed this can still be confusing, see the previous discussion here https://github.com/lbryio/lbry-desktop/issues/671 for why why default to lbry URLs instead of search. Think we can still improve upon the behavior.

One of the shorter term fixes would be https://github.com/lbryio/lbry-desktop/issues/1699

[2018-07-27 23:57] DrAlta commented on #619
Couldn't this be easily added by allowing LBTY names as sources in addition to LBRY sd_hashes, HTP URLs, bittorrent whats its and IPFS paths.

[2018-07-28 05:00] btzr-io opened #1830 "Update 3D viewer v2"
Just tracking possible next features for the 3d-file viewer.

### Todo
- [x] Add controls.
- [ ] Add `gcode` loader.
- [x] Fix memory issues https://github.com/lbryio/lbry-desktop/issues/1863
- [x] Fix flow errors / warnings.

[2018-07-28 19:22] btzr-io commented on #1816
https://github.com/sparksuite/simplemde-markdown-editor/issues/673

[2018-07-29 00:36] #1190 closed

[2018-07-30 13:36] tzarebczan commented on #1825
API sample output:
https://api.lbry.io/subscription/suggest
[code]

[2018-07-30 17:15] kauffj commented on #619
I'm closing this as it isn't a desktop issue and I believe this issue exists in either proposals or lbry.

[2018-07-30 17:16] #619 closed

[2018-07-30 17:39] doniyor2109 commented on #1747
I have tested "Upgrade on Close"  button but it works as expected

[2018-07-30 17:40] doniyor2109 commented on #1747
What is the platform name that the case occurred?

[2018-07-30 19:27] tzarebczan commented on #1747
@doniyor2109 - did you leave the app open more than 10/20 minutes? The upgrade on close stack up on one another when the updater checks for new updates. This would only happen on Mac/Windows.

[2018-07-30 22:11] kauffj commented on #1376
This is still true. In particular I'd like at least the extremely old, broken version to not show up when I search "LBRY" (it's the first result).

I'm guessing the other 2 are just properly setting some metadata in one of the build artifacts.

[2018-07-30 22:13] kauffj commented on #1376
Actually, the "correct" entry is also wrong. It's showing 0.21.5, not 0.23.

[2018-07-30 23:02] #1823 closed

[2018-07-31 00:11] dan1d commented on #1788
Hi I've added the setting there, should I create a new section?
![screenshot from 2018-07-30 21-10-53](https://user-images.githubusercontent.com/3293616/43429990-170e0434-943d-11e8-9cea-01cdac97c374.png)

[2018-07-31 03:32] tzarebczan opened #1835 "Automatically claim subscription reward after subbing to channel"
## The Issue
Similar to how we claim (and fail silently) other rewards like featured download/many download after download actions, we should attempt to claim the new subscription reward after a subscribe action occurs.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-31 03:35] tzarebczan opened #1836 "Shapeshift option still disabled even though it should be available"
## The Issue
There was a bug in the availability checking logic, it's fixed on this branch: https://github.com/lbryio/lbry-desktop/tree/release-0-23-1

Will get a patch release out on Tuesday most likely.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-07-31 03:50] tzarebczan commented on #1578
See discussion in https://github.com/lbryio/internal-apis/issues/452#issuecomment-408924440 for app side changes required

[2018-07-31 15:38] tzarebczan opened #1837 "Failed downloads stuck in "connecting" state if you navigate away/back"
## The Issue
We recently made some improvements to download failure notifications () but looks like we are running into a bug in the below scenario. You can still click "View" but it doesn't have the right color/mouseover.

1) Click play on lbry://oldmovie
2) Navigate away, wait 5 minutes
3) Go back to lbry://oldmovie
4) Notice the app shows connecting and the play button is greyed out.

The statu

[2018-07-31 18:08] seanyesmunt commented on #1705
Will be fixed in https://github.com/lbryio/lbry-desktop/pull/1817 since I'm making some changes to the side bar

[2018-07-31 19:42] #1705 closed

[2018-07-31 20:56] kauffj opened #1838 "Kill all line break tags"
`<br />` should not be used for styling.

Usages can be seen [here](https://github.com/lbryio/lbry-desktop/search?q=%3Cbr%2F%3E&unscoped_q=%3Cbr%2F%3E)

#940 is related

[2018-07-31 22:49] ceoger opened #1839 "Limit Thumbnail upload file types"
## The Issue
The error message retrieved for choosing unsupported file format as thumbnail does not contain much information as to why the file failed to upload
### Steps to Reproduce
1.try publishing a content
2.chose for example MP4 as thumbnail
3. YOu'll simpley get and error "upload failed"

### Expected Behaviour
maybe only show supported files instead of showing all files for the thumbnail o

[2018-07-31 23:10] tzarebczan commented on #1839
Thanks for filing! At a minimum, we should validate the file extension. If it's possible, we should open the file selection screen with only the valid types (as you mentioned).

[2018-08-01 07:01] doniyor2109 commented on #1747
I waited sometime nothing happened. I will wait sometime again

[2018-08-01 07:46] tzarebczan commented on #1747
Nothing is meaning you weren't notified of an update or you didn't run into the modals stacking?

To reproduce, you must download an earlier version like https://github.com/lbryio/lbry-desktop/releases/tag/v0.22.2

[2018-08-01 15:02] #1249 closed

[2018-08-01 15:45] skhameneh opened #1841 "Development node_modules are bundled in the distribution, excess modules need to be pruned before packing"
Use [asar](https://github.com/electron/asar) to extract the `app.asar` from the distribution; under the extracted `node_modules` folder you'll see every module used during development.

The build process and dependencies need to be adjusted so we don't package unnecessary modules.

[2018-08-01 15:58] Invariant-Change opened #1843 "Middle Click Link Error"
When someone **middle-clicks** on **links** within the app, it opens them up in an app window with **incorrect** formatting and also **doesn't** support the Shapeshift site.

But if clicked as normal with the **left mouse button**, they open in the default browser as **normal**.

![image](https://user-images.githubusercontent.com/29914179/43533044-3547ca78-95f7-11e8-80d4-d88fc1812657.png)

[2018-08-01 16:08] tzarebczan commented on #635
I think the best example so far of this issue is lbry://@BrendonBrewer#87adc4b16eabfaf37485a6e4ed03d47b2481a4b4/stats331 https://www.screencast.com/t/RVKtR3EQEZX9 - which looks like the main difference is the resolution / framerate ( I can do more testing to narrow this down by transcoding it)

The others in this ticket (lbry://the-metagame-batman-arkham-asylum-20 / lbry://@EEVblog#22b0dc5c08107ea

[2018-08-01 16:39] tzarebczan commented on #1815
Doesn't look like they expose a setting, but ctrl-shift-F forces it (not well documented)

[2018-08-01 18:06] tzarebczan commented on #1841
Sounds like it should be possible with https://github.com/electron-userland/electron-packager/blob/master/docs/api.md#ignore

[2018-08-01 20:59] btzr-io commented on #1843
https://github.com/electron/electron/issues/2770

[2018-08-01 23:06] tzarebczan commented on #1747
@doniyor2109 you should be able to reproduce if you are on 0.23.0 (0.23.1 launched today) on Windows/Mac.

[2018-08-02 21:09] tzarebczan commented on #1843
Fixed in https://github.com/lbryio/lbry-desktop/issues/1844

[2018-08-02 21:09] #1843 closed

[2018-08-02 21:55] LavRadis opened #1847 "Problem with search auto-complete menu when scrolling over file viewer"
## The Issue

When you try to use search with 3d printing file or PDF viewer, the search extended bar menu goes UNDER the preview 3d image/PDF.
Other users were able to replicate this issue.

### Steps to Reproduce
1. Open a 3d printing or PDF file for preview
2. Type something in the search
3.

## System Configuration

- LBRY Daemon version: 0.20.4
- LBRY App version: 0.23.1-rc.1
- LBRY Installat

[2018-08-02 21:58] tzarebczan opened #1848 "Higher CPU/GPU usage when viewing GIF preview thumbnails"
## The Issue
When viewing the explore page which currently has the @3dprinting channel (or when going to lbry://@3dprinting), GPU and CPU usage is noticeably higher and stays as such file they are in focus.

The same happens when I visit https://giphy.com, so I'm not sure if there's any solution to this at the moment...besides potentially not allowing GIFs, or limiting their size for thumbnails.

[2018-08-02 22:00] tzarebczan opened #1849 "Claim name positioning too close to transaction id"
## The Issue
I know we improved this experience in certain cases by limiting the characters shown in the claim name, but I ran into the below which still looks rather odd.

![cliam](https://content.screencast.com/users/thomas.zarebczan/folders/Snagit/media/436df32d-d96b-44a7-81fa-cf3ccec313ce/08.02.2018-17.58.png)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installa

[2018-08-02 22:07] tzarebczan opened #1850 "Review file/media types for Autoplay"
## The Issue
When we originally setup autoplay, it was intended to only work for media file types (i.e videos/photos/gifs). Currently, autoplay seems to work on all file types (see lbry://@jiggytom for sample files).

Since we now have a 3d viewer and document viewer (pending https://github.com/lbryio/lbry-desktop/pull/1826), I think we should also include these to autoplay (along with media types

[2018-08-02 22:10] tzarebczan opened #1851 "Pre-cache next page when viewing channels"
## The Issue
The experience when switching between pages in a channel has improved where pages load fairly quickly, but I think we can go another step further to make it even more seamless. If a user goes to a channel, we should call the next page (or maybe two/three pages forward?) so when they switch, it will already have all the next data. Same would happen on page 2 (get page 3).

## System Co

[2018-08-02 22:19] tzarebczan opened #1852 "Load subscription data on app startup"
## The Issue
Currently, we don't check the API or load subscription data until the user subscribes to something or visits the subscriptions page. This should be loaded on startup instead.

Side effect: Clearing cache or logging into a new PC with old account will result in a subscription 101 notification if you subscribe to something before visiting the subscription page.

Thanks @ceogear for find

[2018-08-03 13:09] #829 closed

[2018-08-03 13:15] #1345 closed

[2018-08-03 13:33] #1191 closed

[2018-08-03 13:36] #1169 closed

[2018-08-03 13:39] #1091 closed

[2018-08-03 13:41] alyssaoc commented on #1091
closed in favor of #695

[2018-08-03 13:47] alyssaoc commented on #1063
@kauffj Do you still want this auto-claimed? The user might miss it if is automatic

[2018-08-03 13:56] alyssaoc commented on #508
open new issue for exploration

[2018-08-03 14:00] #620 closed

[2018-08-03 14:02] kauffj commented on #1852
@daovist probably easy to roll into current sub work?

[2018-08-03 14:13] kauffj commented on #1063
I think this can be closed.

[2018-08-03 14:13] #1063 closed

[2018-08-03 14:22] kauffj commented on #1848
It's sad but probably all GIF animation on tiles needs to go :(

[2018-08-06 15:29] tzarebczan commented on #1472
@ceoger can you see if this still happens? In the last version we added caching to channels. Rarely I'd run into a message about "no content found" briefly but it ends up loading.

[2018-08-06 15:31] tzarebczan commented on #720
Do you think this should be part of an in-app notification (i.e. https://github.com/lbryio/lbry-desktop/issues/695) or show be a System / OS notification?

[2018-08-06 15:32] ceoger commented on #1472
I checked now and everything looks fine, I get the video list for each number I select.

[2018-08-06 15:35] tzarebczan commented on #635
I tried a smaller version of stats331 and did not run into the same issue, so it might be related to the length/size of the original file. Will confirm after a fix for larger files is implemented ( https://github.com/feross/render-media/pull/50)

[2018-08-06 15:40] LavRadis commented on #720
I'm not sure. Most wallets show Win system notification when the balance changes.

[2018-08-06 15:43] tzarebczan commented on #754
I've been running into this issue less and less. My current hypothesis is that the daemon may sometimes write blob 2 of a file before blob 1 (which has metadata), so the event for loaded metadata is never fired. This makes sense that the file streams if you leave the file and come back.

[2018-08-06 15:55] tzarebczan commented on #1472
Can you modify this issue or create a new one to fix the "no content found" message when navigating? Maybe you can grab a screenshot of it too!

[2018-08-06 16:45] tzarebczan commented on #1847
This is fixed on master, will be released with the next version!

[2018-08-06 16:45] #1847 closed

[2018-08-06 16:50] tzarebczan commented on #1808
Implemented on master via 1829, will be in next release.

[2018-08-06 16:50] #1808 closed

[2018-08-06 16:52] tzarebczan commented on #1788
Merged in master with https://github.com/lbryio/lbry-desktop/pull/1834, will be in next release.

[2018-08-06 16:52] #1788 closed

[2018-08-06 17:14] kauffj opened #1856 "Record user prior to daemon ready"
I believe the new daemon component structure as of 0.21 will make it viable to authenticate the user earlier in the first run process.

It would improve our analytics if we record the app launch ASAP, rather than only after daemon ready.

[2018-08-06 17:32] doniyor2109 commented on #1747
Sorry for late response. Can you check the PR for the issue? I have linux so I could not test it.

[2018-08-06 18:08] daovist commented on #1852
Yes, this is going in my subscriptions epic.

[2018-08-06 18:11] daovist commented on #1825
This is gonna be part of my subscriptions epic.

[2018-08-06 18:57] tzarebczan commented on #1850
Possibly related: https://github.com/lbryio/lbry-desktop/issues/1590

[2018-08-06 19:21] seanyesmunt opened #1859 "Make "new content" in subscriptions stand out more"
## The Issue
Make "new content" in subscriptions stand out more
add publish date to the tile

### Steps to Reproduce
1. Subscribe to a channel
2. Wait for new content to be posted from that channel
3. Navigate to the subscriptions page

### Expected Behaviour
The new content should be more prominent

### Actual Behaviour
They are at the top of the list, but there is no way to tell what is new

###

[2018-08-06 19:25] tzarebczan commented on #1835
@daovist do you want to take this one since you are looking at the subscription code? Should be a quick one.

[2018-08-06 22:03] tzarebczan opened #1860 "file_list call continues indefinitely if a file is removed while downloading"
## The Issue
If a user is in the middle of a download and deletes the file (trying to stop the download), the file_list call that we use to check progress continues to be called indefinitely. The result is null ( `"result": []`)

This will bog down their app util it's refreshed/restarted.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating syste

[2018-08-07 00:10] alyssaoc opened #1861 "Improve subscription experience in the App"
This epic is a collection of issues to improve and consolidate the subscription experience:

-Load subscription data on app startup
-Subscriptions should autodownload on startup
-Autodownload settings for subscriptions
-Subscriptions quirks
-Automatically claim subscription reward after subbing to channel

[2018-08-07 01:05] alyssaoc opened #1862 ""Role of the desktop app" blog post"
@seanyesmunt commented on [Mon Aug 06 2018](https://github.com/lbryio/grooming/issues/73)

[2018-08-07 15:08] jamesbiller commented on #1862
@seanyesmunt You gonna write this Sean? I'd love to be an editor

[2018-08-07 15:11] jamesbiller opened #1863 "Computer Interface starts to slow when viewing too many 3D files"
I've noticed that when I go from viewing one file to viewing the next eventually my computer starts to slow down so much that I have to quit the LBRY app and/or hard shutdown my computer.

It usually doesn't happen until I've viewed at least 3 files. This isn't the biggest deal in the world considering I probably do more file-viewing than anybody else using the app currently, but it will be a bigg

[2018-08-07 15:19] kauffj commented on #1863
@btzr-io tagging you in case you don't monitor all new issues :)

[2018-08-07 15:38] seanyesmunt commented on #1863
Possibly we need to do a better job cleaning up after leaving the 3d file viewer?

[2018-08-07 15:44] tzarebczan commented on #1863
Could be related to the discussion in https://github.com/lbryio/lbry-desktop/issues/1827. I've also seen high memory usage when viewing 3d files, but never had it freeze up on me.

From my testing on Windows: when leaving a 3d file, the memory from the 3d viewer is not released. But if I view more 3d files after, the memory will increase/decrease based on the complexity of the file, but never actu

[2018-08-07 15:57] tzarebczan commented on #1863
Actually, I lied - the memory usage does grow when viewing multiple files. One of the processes does release it, but another continues to grow.

[2018-08-07 16:16] btzr-io commented on #1827
https://github.com/mrdoob/three.js/issues/13664

[2018-08-07 16:20] btzr-io commented on #1863
https://github.com/mrdoob/three.js/blob/master/examples/webgl_test_memory.html

[2018-08-07 20:33] skhameneh commented on #635
Notes:

1. The media player begins reading from disk with no awareness of the completion of blobs. See https://github.com/lbryio/lbry-desktop/blob/e8aa67bf7eefeb778617403a89d593081cb62b2d/src/renderer/component/fileViewer/internal/player.jsx#L165
2. `videostream` v2 as used in `render-media` does not support fragmented MP4's (variable bitrate optimized MP4's)
3. The current implementation of the d

[2018-08-07 20:34] skhameneh commented on #754
Notes:

1. The media player begins reading from disk with no awareness of the completion of blobs. See https://github.com/lbryio/lbry-desktop/blob/e8aa67bf7eefeb778617403a89d593081cb62b2d/src/renderer/component/fileViewer/internal/player.jsx#L165
2. `videostream` v2 as used in `render-media` does not support fragmented MP4's (variable bitrate optimized MP4's)
3. The current implementation of the d

[2018-08-07 20:56] skhameneh commented on #1841
Can use `package.json` to differentiate `dependencies` and `devDependencies` and do a `prune` instead; that would be my suggested long-term approach.

[2018-08-09 05:27] #1741 closed

[2018-08-09 18:27] #1747 closed

[2018-08-09 19:11] tzarebczan commented on #1841
If the dev dependencies have other dependencies, will it be smart enough not to package them? I can try moving the file watcher plugin to dev dependencies and see if this brings the installer size down.

[2018-08-10 13:18] alyssaoc commented on #1380
this will be considered as a first user re-design

[2018-08-10 13:18] #1380 closed

[2018-08-10 13:27] tzarebczan commented on #1410
Closing https://github.com/lbryio/lbry-desktop/pull/1826

[2018-08-10 13:27] #1410 closed

[2018-08-10 13:38] tzarebczan commented on #1474
Closing because it's a small timing issue between the app and daemon. Don't think it's a typical use case to delete the file and quickly go back to the file page.  As the daemon performance improves we should see less of this.

[2018-08-10 13:39] #1474 closed

[2018-08-10 13:41] alyssaoc commented on #1487
@eukreign What is the status of this? Do we have additional details or issues to associate with it?

[2018-08-10 13:47] #1534 closed

[2018-08-10 13:48] eukreign commented on #1487
Just a wishlist item. It can be on back burner.

[2018-08-10 13:49] tzarebczan commented on #1544
Closed in https://github.com/lbryio/lbry-desktop/pull/1576

[2018-08-10 13:49] #1544 closed

[2018-08-10 13:52] alyssaoc commented on #1577
@tzarebczan  is this still an issue?

[2018-08-10 13:58] tzarebczan commented on #1615
Closing as per new path forward with free content - no tag will be shown unless the content has a fee. cc: @seanyesmunt

[2018-08-10 13:58] #1615 closed

[2018-08-10 14:22] seanyesmunt opened #1866 "When viewing claim at vanity URL, same pice of content is in "related" content list"
## The Issue

### Steps to Reproduce
1. Go to lbry://three
2. See the top item in "related"

### Expected Behaviour
That should be removed from the list

### Suggested Solutions
We need to pass in the full claim uri into `<RecommendedContent uri={full uri plus claim id} />`

[2018-08-10 14:25] #1807 closed

[2018-08-10 22:34] alyssaoc commented on #1667
@tzarebczan Can this be closed in favor of #1394

[2018-08-10 22:38] alyssaoc commented on #1669
@seanyesmunt Would you like to put this on hold, in the icebox or close?

[2018-08-10 23:11] seanyesmunt commented on #1669
We can put it in the icebox. It would be nice to have but very low
priority.

On Fri, Aug 10, 2018 at 6:38 PM Alyssa Callahan <notifications@github.com>
wrote:

--
Sean Yesmunt
Application Engineer for LBRY

[2018-08-11 00:03] alyssaoc commented on #1670
@tzarebczan should this be closed in favor of 1770?

[2018-08-12 15:58] tiger5226 opened #1868 "Allow enabling rewards for all videos on a channel"
From @Feanor78 Rather than picking 10 videos to receive rewards (like we do with LBRYCast), we should be able to turn on rewards for every video on a channel, every video that's tagged with some specific tag (in the future), etc.

This is already possible with our internal-apis, but it would require some app changes.

From @seanyesmunt Yeah looks like we need an app side change. We currently have

[2018-08-13 03:01] #1743 closed

[2018-08-13 16:23] kauffj opened #1871 "Asset Minification"
This issue inspired by https://github.com/lbryio/lbry-desktop/pull/1869

1. Does asset minification provide a meaningful benefit when assets are distributed via an electron app? Either in the distribution size of the binary or in the load/render time of the app? It almost certainly affects the size on disk of the installed app, but we probably care little about this given the sizes. It may not aff

[2018-08-13 18:55] seanyesmunt commented on #1686
Closing this in favor of #1728

[2018-08-13 18:55] #1686 closed

[2018-08-13 23:37] ykris45 opened #1874 "[Feature Request] would be nice if the LBRY App has a feature to redeem LBC Gift Vouchers"
## The Issue

now the LBRY App has fantastic features that are integrated with the Shapeshift Exchange. to convert BTC and other cryptocurrency to LBC (Library Credits). it would be better if you have an in-App E-LBC Voucher Generator and also Code In-App Redeem Voucher. so users can give LBC prizes to other users without the need to provide tips or press the tip button on the LBRY App. this allow

[2018-08-13 23:44] tzarebczan commented on #1874
Not sure about the generation part, but we're looking into a way users can redeem codes which are given out by LBRY. Having someone else create the codes would be non-trivial.

[2018-08-13 23:50] ykris45 commented on #1874
@tzarebczan Yessir. The Main Idea is Based on https://cryptovoucher.io/ . i think LBRY must have the feature so Redeem Code using LBRY App get LBC Gift.

[2018-08-14 04:05] skhameneh commented on #1871
Minification includes some runtime optimizations as well.

We already minify all scripts; we should probably remove source maps from distribution though, that's a lot of extra weight all around.

[2018-08-14 04:35] skhameneh commented on #1841
I don't believe so, you'd need to do a `yarn prune` or `npm prune` before the final build @tzarebczan

[2018-08-14 13:01] kauffj commented on #1871
@skhameneh thanks, I'm going to close this then

[2018-08-14 13:01] #1871 closed

[2018-08-14 14:39] Invariant-Change opened #1876 "Card & Thumbs Have Different Background Size Properties"
The CSS for the cards and thumbs are diffrrent. This means that what people see in the thumb area isn't the same as what they will see in cards.

**Card: **

[code]

**Thumb:**

[code]

![image](https://user-images.githubusercontent.com/29914179/44097767-e30f7384-a021-11e8-9909-1af921b97294.png)

![image](https://user-images.githubusercontent.com/29914179/44097786-ebf2d34c-a021-11e8-86de-d7bfe46e1

[2018-08-14 14:59] tzarebczan commented on #1821
Closed via https://github.com/lbryio/lbry-desktop/pull/1867

[2018-08-14 14:59] #1821 closed

[2018-08-14 15:01] #1728 closed

[2018-08-14 15:01] #1578 closed

[2018-08-14 19:07] lyoshenka opened #1877 ""Go to page" not aligned with page numbers"
<img width="523" alt="screen shot 2018-08-14 at 2 58 41 pm" src="https://user-images.githubusercontent.com/362784/44112690-c90f8684-9fd3-11e8-823e-cdf551124747.png">

[2018-08-14 21:41] real-rouse opened #1878 "Feature: FileType Categories in 'Explore' tab."
<img width="1273" alt="screen shot 2018-08-14 at 23 40 11" src="https://user-images.githubusercontent.com/30915240/44120063-6cfd6efe-a01b-11e8-913c-0c123e5d2a96.png">

1. Excuse this design and tagline, but wouldn't it be nice to give the user an option about which file-type they want to look for BEFORE they see the files?

2. So many people think LBRY is a video platform, this may combat that per

[2018-08-14 21:45] real-rouse commented on #1878
One more category could be "Archives" which could be .zip and .7zip, .tar etc...

[2018-08-14 21:47] real-rouse commented on #1878
And also one for "Applications" which could be .dmg, .exe, .pkg, .deb .... etc.

[2018-08-14 21:48] real-rouse commented on #1878
and one for torrents as well 🤷‍♂️

[2018-08-14 22:10] real-rouse opened #1879 "Feature: Before Sync, let user watch video's hosted by Spee.ch"
It would be great to let the user skip the Blockchain syncing, and go straight to a selection of curated public domain videos, hosted by Spee.ch?

How about some old Betty Boop or Mickey Mouse? (If that is old enough for being classified as public domain?) 🤔

I think this would drive adoption and hold the user more engaged. Especially since the first time the users with slow computers open the LBR

[2018-08-15 21:00] tzarebczan opened #1884 "Subscription page doesn't load if a channel has no claims or is abandoned"
## The Issue
A couple of users ran into an issue where the subscription page was showing blank. Tracked the root cause down to either a subbed channel that's blank, or a subbed channel that no longer resolves (is abandoned). The claims_list_by_channel call is continued repeatedly for the said channel.

For the abandoned channel scenario - do we want to remove the channel via the subscription api c

[2018-08-18 02:10] tzarebczan opened #1886 "Ability to redeem LBRY generated Reward Codes"
## The Issue
The API team has almost completed implementing a feature that will allow us to generate reward codes that can be redeemed by app users for LBC. We'd need to add a feature into the UI so a user can enter the reward code to claim their credits. @tiger5226 suggested a good place for it might be the top right area of the claimed rewards section (but now that I think about it, not sure if

[2018-08-18 07:02] ceoger opened #1887 "Feature Request: Zoom in/out and fullscreen for 3d files, images, pdf, and most digital files"
## The Issue
Images and other supported files should have the zoom in/out/fullscreen mode  scroll bar

### Steps to Reproduce
1. open this link lbry://thievescantcomic#29392ee295394647fbdb4cfe58d16d79f27b5ebe
2. Click View
3. Image comes up in the center of the view app, cannot zoom in/out no fullscreen makes it hard to see
the image content. same with 3 files and cannot enter fullscreen

### Expe

[2018-08-18 22:16] jamesbiller opened #1889 "Tipping mechanism acts like it lets you tip less than one LBRY satoshi"
The tip button doesn't limit the number of decimal points you can type but sends you an error message if your amount is under a LBRY satoshi

[2018-08-20 13:27] tzarebczan commented on #1889
Should be a pretty easy fix to make sure it's higher than 8 decimals.

[2018-08-20 13:28] tzarebczan commented on #1884
We should get this fixed along with the subscriptions overhaul. I cleaned up a few records I knew were causing issues.

[2018-08-20 14:19] kauffj commented on #1886
IMO just showing this as a tile with the rest of the rewards is fine. Rather than "Get X LBC", it should say "Enter Code" or another equivalent cue.

When clicked take the user to a screen that let's them enter the code, and that's it.

[2018-08-20 14:55] tzarebczan commented on #1841
Fixed in: https://github.com/lbryio/lbry-desktop/pull/1888

[2018-08-20 14:55] #1841 closed

[2018-08-20 15:46] seanyesmunt commented on #1878
I think the largest issue with a feature like this is that we can't search by file type atm. We would just need to return a large number of results and then filter it out app-side. But the breakdown wouldn't be even.

[2018-08-20 16:41] tzarebczan opened #1890 "Claim keeps auto-redownloading on subscription with invalid signature"
## The Issue
lbry://@Lunduke has claims with invalid signatures right now. If you sub to this channel, it will keep trying to re-download the claim. You'll get a notification each time (every ~15 min).

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-20 17:02] kauffj commented on #1878
https://github.com/lbryio/lighthouse/issues/49

[2018-08-20 18:48] #1775 closed

[2018-08-20 18:48] #1114 closed

[2018-08-20 18:54] seanyesmunt commented on #1862
Just saw your comment @jamesbiller. Yes I've done a little bit on this so far. Planning on finish a rough draft this week. I'll let you know when it's done!

[2018-08-20 18:59] #1828 closed

[2018-08-20 19:00] #1856 closed

[2018-08-20 19:00] kauffj opened #1891 "Email management link and/or other driver(s)"
Soon (after https://github.com/lbryio/lbry.io/pull/711), users will be able to manage exactly what topics they want to receive email about.

We ought to drive users to this page from the app, as well.

The URL format will be lbry.io/list/edit/{token}

[2018-08-20 19:07] tzarebczan commented on #1835
Completed in https://github.com/lbryio/lbry-desktop/pull/1872

[2018-08-20 19:07] #1835 closed

[2018-08-20 21:42] tiger5226 commented on #1886
Currently it is hidden in our internal-apis. We would just need to make it visible and add a description. Then it should just work.

[2018-08-20 22:05] tzarebczan commented on #1887
This would need to be implemented separately in each type of renderer (i.e. the document viewer, render-media for images, etc)

[2018-08-21 03:36] seanyesmunt commented on #1876
I can't seem to reproduce this. I've tried several thumbnails and they appear the same in the tool and in a card. Was this on master?

[2018-08-21 03:36] seanyesmunt commented on #1876
@tzarebczan are you able to reproduce?

[2018-08-21 04:47] Invariant-Change commented on #1876
@seanyesmunt Did you use thumbs with different aspect ratios, such as 1:1?

[2018-08-21 04:53] seanyesmunt commented on #1876
@Invariant-Change Huh. Guess I should have just used the thumbnail from your example. I see it now. Working on a fix. Will go out in 0.25.0

[2018-08-21 05:46] seanyesmunt commented on #1876
@Invariant-Change do you think we should stretch to fit like the current behavior in the thumbnail css? Or zoom in if necessary to the image isn't messed with? I would probably say the latter (current card behavior) but I'm not sure.

[2018-08-21 12:00] Invariant-Change commented on #1876
Sorry for the long delay - Relying on dodgy mobile internet until the new line is installed.

Both have pros and cons.

Zoom fills all the space but chops parts of the image off, stretch makes the image look funny and original aspect ratio leaves blank areas if it's not the correct aspect ratio.

Maybe zoom is best and applied to both!?

[2018-08-21 13:24] tzarebczan opened #1894 "Download progress in taskbar gets stuck sometimes"
## The Issue
I've noticed this from time to time in the past but was never able to reproduce it repeatedly. Took another look and I think it might be happening due to our written vs total bytes calculation. There are times when the total bytes is higher than written bytes due to padding. Maybe instead of using bytes, we should use blobs? Another option would be to do some rounding.

https://github

[2018-08-21 13:39] kauffj commented on #1894
@tzarebczan are app team isn't going to be the only one to run into corner cases from `written_bytes` not matching `total_bytes`. I understand why, and would also support including blob info, but I think a form of this ticket should be opened on https://github.com/lbryio/lbry. Either total_bytes should exclude padding, written_bytes should include it, or a third byte related value that makes this

[2018-08-21 13:41] kauffj commented on #1876
I missed this when it was originally filed. Great catch @Invariant-Change, really appreciate your eye for correctness and ability to make contributions like this.

[2018-08-21 13:43] kauffj commented on #1876
It's worth noting as well that there are no official instructions on metadata image sizing or ratios. While it's good for our app to be consistent, we should expect other apps to render these images in different ways. Given this, my opinion is the widget itself should always show the full image and never zoom or crop it.

[2018-08-21 14:45] tzarebczan commented on #1876
We do recommend a size and aspect ratio on the publish page.

[2018-08-21 15:03] tzarebczan commented on #1805
Discussed with @seanyesmunt, he'll take a look at this one. If not addressed, it may make it seem like subscriptions are not working properly. Having multiple claims in the same block will be common for youtube synced channels.

[2018-08-21 15:05] tzarebczan commented on #1852
Completed and confirmed in https://github.com/lbryio/lbry-desktop/pull/1872

[2018-08-21 15:05] #1852 closed

[2018-08-21 15:11] seanyesmunt commented on #1710
Now that we have an actual bug related to this I'm going to close this and keep that one open. #1884

[2018-08-21 15:11] #1710 closed

[2018-08-21 17:06] alyssaoc commented on #231
@tzarebczan  Can you reproduce this?

[2018-08-21 17:07] skhameneh commented on #231
This might (or might not) have an impact:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests

[2018-08-21 17:15] alyssaoc commented on #384
@tzarebczan is this still happening?

[2018-08-21 17:17] alyssaoc commented on #386
@tzarebczan is this still happening

[2018-08-21 17:33] alyssaoc commented on #451
@tzarebczan is this still an issue?

[2018-08-21 17:41] #484 closed

[2018-08-21 17:44] #493 closed

[2018-08-21 17:50] seanyesmunt commented on #528
@JoshStrobl I think we have improved on this experience a little bit but could still certainly improve more. Could you try this again and let us know your thoughts?

[2018-08-21 17:53] #554 closed

[2018-08-21 17:55] #563 closed

[2018-08-21 19:26] seanyesmunt commented on #430
This should be possible by just calling `channel_list` after abandoning a claim. It should refresh the list of your channels.

[2018-08-21 19:28] seanyesmunt commented on #482
This will be better addressed in a larger video player re-work. But a easier fix would to just add a label if the file that a user selects is a `.mov`.

`Currently .mov files cannot be streamed inside the app. Considered uploading a different file type.` Or something similar.

[2018-08-21 19:49] alyssaoc commented on #251
Issue moved to [lbryio/growth #68](https://github.com/lbryio/growth/issues/68) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-21 19:49] #251 closed

[2018-08-21 21:47] tzarebczan commented on #1790
@kodxana should we close this?

[2018-08-21 22:00] kodxana commented on #1790
Yup :)

[2018-08-21 22:00] #1790 closed

[2018-08-22 00:54] Invariant-Change commented on #1876
@kauffj That was my initial thinking. But then I was thinking how the app world look if many images didn't completely fill the card. But now I'm thinking the full image again, haha!

Hard to know which solution will look best. I'll make a preview of the app with all three scenarios, then maybe we can ask the community to vote and/or feedback? Anything like this is always a good excuse to get the c

[2018-08-22 14:58] #1884 closed

[2018-08-22 16:17] kauffj commented on #1876
I like polling, but not as a way to resolve a design issue like this that requires a lot of context (and some design skill) to even be able to vote on usefully. It's not as simple as "which looks better or do you like more".

To me the resolution is this:

- If we're making an _official recommendation_ that all publishers and application designers use a specific aspect ratio, the UI should display

[2018-08-22 17:21] tzarebczan opened #1900 "Revisit file view analytics"
## The Issue
1) We are only recording a file_view is a user clicks play. We should also extend this to the case where a user clicks download.  (This was solved in https://github.com/lbryio/lbry-desktop/pull/1901)

2) If a user is viewing content outside of render media (MP4s/images/GIFs), the file view is not counted until they leave the claim - this may be confusing from a rewards perspective if

[2018-08-22 18:01] tzarebczan opened #1902 "If sub page is open when new content arrives, notification does not clear"
## The Issue
I was on the subscriptions page when new content came in on my subbed channel. I got a (1) next to the subscriptions text. Leaving the sub page and coming back did not clear it. Neither did going into the claim.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-22 19:19] seanyesmunt commented on #1805
On the channel you linked to I see the same sorting

[2018-08-22 21:06] tzarebczan commented on #1805
Replied on Slack and updated issue: you need to be subbed to more than 1 channel, that's when this bug rears its ugly head.

[2018-08-23 04:14] tzarebczan commented on #182
Pretty sure something in our code holds a lock on the file. Maybe render media, or Electron, not sure.

Lock:
![locked](https://content.screencast.com/users/thomas.zarebczan/folders/Snagit/media/5f312382-de64-4b6a-9584-28e2f0487824/08.23.2018-00.13.png)
The daemon wil say:
[code]

[2018-08-23 13:59] kauffj commented on #182
@tzarebczan I think better rerpo would aid in resolving this. Can you try to create smallest reproducible case? e.g.

1. If I simply render a `<video>` tag, does this lock the file?
2. If I render a video tag with render-media, does this do it? etc.