[2020-04-16 20:50] tzarebczan commented on #3993
Thanks for finding and filing this issue! Any idea what could be happening? Wanna take a shot at fixing it?

[2020-04-16 20:50] tzarebczan commented on #3977
Thanks @btzr-io !

[2020-04-16 20:51] tzarebczan commented on #3967
This is fixed, thanks @jessopb !

[2020-04-16 20:51] #3967 closed

[2020-04-16 20:53] tzarebczan commented on #3879
This is now on the file details, which is even harder to find.

[2020-04-17 01:39] jeffslofish commented on #3993
Sure, I'll take a look at it.

[2020-04-17 04:14] jeffslofish commented on #3993
The issue is that this particular file is actually a WebP image (in a RIFF container). Currently Safari (and apparently any browser on iOS) doesn't support the WebP image format. This explains why it only displays on Chrome and Firefox.

I did notice that in the "File Details" section of the page (https://lbry.tv/@LBRY-Digest:a/Ever-the-optimist-April-Fools-Day:3) it lists the "Content Type" as "i

[2020-04-17 04:43] jeffslofish commented on #3993
Update: It looks like the MIME type is simply guessed by the file extension, here: https://github.com/lbryio/lbry-sdk/blob/master/lbry/schema/mime_types.py#L166.

So for the image at https://lbry.tv/@LBRY-Digest:a/Ever-the-optimist-April-Fools-Day:3, it was probably uploaded with a .jpg or .jpeg file extension and that is why it thinks it has a content type of "image/jpeg".

But the bigger issue i

[2020-04-17 13:48] tzarebczan commented on #3993
Yep, that's how the detection is done currently, there's probably not many better options on that front. Maybe when we know we can't render it, we'd fall back to the unsupported message and allow download on lbry.tv?

[2020-04-17 14:39] jessopb opened #4012 "restore sidebar ads following testing period"
We disabled sidebar ads to test if it scared people away. Re enable them following  the test.

[2020-04-17 18:40] tzarebczan opened #4017 "don't use localstorage in Embed if not available"
Brave, with shields, turned on blocks localstorage from being accessed via an iframe. Can we see if this happens and not read/store anything but still allow the embed?

![image](https://user-images.githubusercontent.com/8120721/79602941-67fa8d80-80b9-11ea-8dc5-f89eaca8085d.png)

[2020-04-17 22:38] kauffj opened #4018 "better communicate transmission of value (tips, supports)"
- [ ] On file pages
- [ ] To creators via notifications

[2020-04-18 01:51] jeffslofish commented on #3993
I opened a pull request for this issue (#4019) with my best guess as to the functionality you would want. Please give feedback. Thanks!

[2020-04-18 09:13] HarshKhandeparkar commented on #2498
Hi! Is is open for grabs? I am new here and I want to contribute. I may need some guidance initially as I am not familiar with the codebase.

[2020-04-18 18:36] tzarebczan commented on #2498
@HarshKhandeparkar thanks for taking a shot. This one may be tougher to reproduce since we aren't sure of the exact scenario yet, but it was fixed previously in other components.

Welcome to LBRY and check out lbry.tech/contribute to get an overview

[2020-04-18 18:38] HarshKhandeparkar commented on #2498
I looked through the good first issues but couldn't find one that is not
taken up or already fixed. Can you suggest something for me to do? Like
search a specific keyword or label?

On Sun, 19 Apr, 2020, 12:06 AM Thomas Zarebczan, <notifications@github.com>
wrote:

[2020-04-18 18:39] HarshKhandeparkar commented on #2498
I want to try something super simple or even stupid like a typo fix just
get used to the codebase and the development. After that, I can contribute
to other issues.

On Sun, 19 Apr, 2020, 12:08 AM M K, <mjkgoa@gmail.com> wrote:

[2020-04-18 18:42] tzarebczan commented on #766
This can be done via purchase list. Can be added to transaction history and maybe a dedicated page for made purchases.

[2020-04-18 18:44] tzarebczan commented on #1620
Keyring has been removed.

[2020-04-18 18:44] #1620 closed

[2020-04-18 18:46] tzarebczan commented on #1732
Keyring has been removed, this should no longer be an issue

[2020-04-18 18:46] #1732 closed

[2020-04-18 18:50] tzarebczan commented on #2551
There's now a clear button

[2020-04-18 18:50] #2551 closed

[2020-04-18 18:55] tzarebczan commented on #2891
This is now fixed

[2020-04-18 18:55] #2891 closed

[2020-04-18 18:56] tzarebczan commented on #2904
Should no longer happen with latest changes.

[2020-04-18 18:56] #2904 closed

[2020-04-18 19:02] #3250 closed

[2020-04-18 19:02] #3284 closed

[2020-04-18 19:03] #3285 closed

[2020-04-18 19:03] #3289 closed

[2020-04-18 19:03] #3293 closed

[2020-04-18 19:06] #3403 closed

[2020-04-18 19:07] tzarebczan commented on #3451
This should no longer occur.

[2020-04-18 19:07] #3451 closed

[2020-04-18 19:09] tzarebczan commented on #3489
It's clearer now - we show the list with the + button.

[2020-04-18 19:09] #3489 closed

[2020-04-18 19:12] tzarebczan commented on #3662
It's now easier to filter for all tips on the transaction page, and we'll work on another view / way to see only claims with tips.

[2020-04-18 19:12] #3662 closed

[2020-04-18 19:15] tzarebczan commented on #3731
This is covered in a recent PR and will be live next week.

[2020-04-18 19:15] #3731 closed

[2020-04-18 19:18] #3798 closed

[2020-04-18 19:18] tzarebczan commented on #3798
Closing for #3591

[2020-04-18 19:22] tzarebczan commented on #4003
This is now fixed.

[2020-04-18 19:22] #4003 closed

[2020-04-18 19:24] tzarebczan commented on #2498
I've tagged a few more issues as help wanted and good first issue, check some of those out. Or maybe find something else you come across while familiarizing yourself with the app.

[2020-04-18 19:24] HarshKhandeparkar commented on #2498
Oh thank you! I'll have a look tomorrow.

On Sun, 19 Apr, 2020, 12:54 AM Thomas Zarebczan, <notifications@github.com>
wrote:

[2020-04-19 07:57] HarshKhandeparkar commented on #3870
Is this browser specific? Didn't happen to me on Firefox.

[2020-04-19 07:58] HarshKhandeparkar commented on #3870
I couldn't reproduce it on any browser or even the app. :confused:

[2020-04-19 08:32] HarshKhandeparkar commented on #3710
Hi! Can I work on this?

[2020-04-19 09:03] HarshKhandeparkar commented on #3710
I have figured out which file to change but I want to know what I should change. Should the whole location be reloaded using something like `window.location.reload()` or some react trickery to reload certain parts?

[2020-04-19 09:34] HarshKhandeparkar opened #4020 "Dark Mode Switching Does Not Work On The Website"
**Bug**
Dark/Light mode switching works fine on the desktop app but is not working on https://lbry.tv nor on the dev server.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://lbry/tv
2. Click on Settings Icon > Dark/Light

**Expected behavior**
Dark mode switching should work.

**Screenshots**
Below is a GIF of the bug (On the local dev server)
![light-dark-lbry](https://user-ima

[2020-04-19 09:42] HarshKhandeparkar commented on #4020
I am extremely sorry! It was totally my mistake. I had a dark mode extension working in the browser which made light mode look like dark mode. I am truly sorry.

[2020-04-19 09:42] #4020 closed

[2020-04-19 10:42] HarshKhandeparkar commented on #3710
Or should I just make it a NavLink to `/`?

[2020-04-19 11:42] Tcll commented on #4012
this could possibly be why I can't start LBRY without a VPN, including on older versions... smh

shame on you for using malicious domains like google and aws
and for using viruses (ads)

[2020-04-19 13:53] HarshKhandeparkar commented on #3710
Okay it apparently already navigates to `/`, so should I just make it reload if it is on `/`?

[2020-04-20 13:18] CodeDragon5793 opened #4021 "Don't Allow Autoplay when commenting / taking other actions"
There has been a few times when I would be commenting or replying to a comment on someone's video and the video would autoplay to the next video while I am actively typing. When I go back, text isn't there anymore, so I have to retype. Pretty annoying from a user exeperience standpoint.

[2020-04-20 13:53] #3986 closed

[2020-04-20 13:53] #2677 closed

[2020-04-20 13:55] seanyesmunt commented on #4021
Great idea. I think YouTube pauses the countdown timer when the video scrolls off the page. We should probably do something similar.

[2020-04-20 14:14] seanyesmunt opened #4022 "JS Code splitting"
The js bundle is 3mb, which ends up being 844kB after it's compressed.

https://web.dev/measure/

Lighthouse says the time to interactive is 25 seconds (I think that is with "slow 3g"). Since we have a lot of non-us users, trimming excess js should help a lot.

[2020-04-20 18:11] tzarebczan opened #4024 "RC bugs list"
- [x] add back utxo_release at least on the refresh button
- [x] re-accessing already downloaded file creates a new notification everytime
- [ ] move transactions faq link to near the dropdown

[2020-04-20 18:27] HarshKhandeparkar commented on #3710
@tzarebczan ?

[2020-04-20 18:37] kauffj commented on #3710
@HarshKhandeparkar that seems like a good solution, thanks!

[2020-04-20 18:41] HarshKhandeparkar commented on #3710
Thanks for the green signal! I'll open a PR soon.

[2020-04-20 18:56] kauffj commented on #4012
@Tcll ads were never included in the desktop app

[2020-04-20 19:26] #3950 closed

[2020-04-21 00:51] Tcll commented on #4012
@kauffj honestly, I was kinda referring to both in that statement
but yes the client absolutely uses aws, which is likely why I have that error without a VPN.
(I haven't created an issue on it because I don't feel a need to, the mention of ads combined with aws is why I'm posting here)

but with that said, there are better FOSS alternatives to analytics and advertising that aren't based around mal

[2020-04-21 05:31] jeffslofish opened #4027 "Linting the source code is currently broken"
**Bug**
According to https://github.com/lbryio/lbry-desktop/blob/master/CONTRIBUTING.md#lint we should be able to lint the code by running `$ yarn lint`. However, this currently produces an error because it is trying to lint starting at the top level "src/" directory, but there is no longer a top level "src/" directory. I can fix this issue if you let me know what directories you actually want lin

[2020-04-21 16:54] tzarebczan opened #4034 "Better open.lbry.com support when not signed in"
Currently you need to be signed into lbry.tv and it have awareness of a desktop app install to be re-directed to the app.

we could have a setting that says "always open links with LBRY app" or something like that.

[2020-04-21 16:59] seanyesmunt opened #4035 "Add back 3d file viewer / fix cbz reader"
After the file page refactoring, there are issues displaying 3d files.

It seems like some wrapper class is preventing the 3d canvas from expanding in height

[2020-04-21 17:56] seanyesmunt opened #4036 "Improve developer experience for new contributors"
What can we do to make it easier to contribute to this repo?

[2020-04-21 18:05] HarshKhandeparkar commented on #4036
Hi! I have contributed to another open source organization before. The thing that got me started with github and OpenSource was their `first-timers-only` issue template.

These are issues specifically made for newcomers who know how to code but are not familiar with github and OpenSource.

Such issues with the specific label `first-timers-only` gain a lot of github trafic and call a lot of newcome

[2020-04-21 21:07] #3993 closed

[2020-04-21 21:13] jeffslofish commented on #4036
I recently started contributing to this repo a little while ago and here is some feedback:

Things I found frustrating:

1. There is a repo named lbrytv that says it is "LBRY on the web", which I assumed was all the code for lbry.tv, but it is actually the backend written in go. Granted, there is a step in setup instructions that say you must clone lbry-desktop and then "Launch UI in lbry-desktop"

[2020-04-21 21:17] seanyesmunt opened #4037 "docs cleanup"
Some stuff is out of date/could be improved.

#4036

[2020-04-22 03:38] eggplantbren opened #4038 "App crashes upon navigation to deleted text file"
**Bug**

I'm in the habit of deleting all my LBRY downloads but keeping the blobs. In the latest app (0.45.0), if I navigate to one of these files (e.g., one of the `.py` files or `.md` files on my channel), it crashes (to the screen that tells you to refresh the app). In previous versions it showed a weird gray box.

Once the file has been re-created, the app displays the files correctly and does

[2020-04-22 03:42] eggplantbren opened #4039 "Backup wording is all about 'credits', but control of claims is probably more important"
**Is your feature request related to a problem? Please describe.**

On the help page of the desktop app where it talks about backing up your wallet, it says lots of things about your credits. However, I suspect many people have some publishes and not that many credits, and may not realise that the wallet controls the publishes (and the channels, etc). These people would probably be more upset losi

[2020-04-22 07:02] HarshKhandeparkar commented on #3710
@seanyesmunt this can be closed ig?

[2020-04-22 07:04] HarshKhandeparkar commented on #4005
Should we add something like the YT intro video?

[2020-04-22 07:07] HarshKhandeparkar commented on #4005
Or something like a landing page for the user where the user can describe themself and the channel, decide to show a trailer/intro video or some picture that describes themself?

[2020-04-22 07:27] HarshKhandeparkar commented on #4005
May I work on this if you don't mind? I have already found what is to be changed...

[2020-04-22 13:31] seanyesmunt opened #4041 "Figure out how to change the desktop homepage without shipping a patch release"
Dynamic js fetching on startup?
Put it in a claim?

[2020-04-22 13:33] tzarebczan commented on #4039
Thanks @eggplantbren ! Want to take a stab at the copy? I think the majority of users also use backup, so it's not as critical. The ones that don't probably understand more about LBC.

[2020-04-22 13:41] seanyesmunt opened #4042 "search for #hashtags in comments/descriptions and replace them with tag links"
This shouldn't be that hard. I think we can just use a regex in the `<MarkdownPreview />` component, then do a find and replace.

[2020-04-22 13:43] cassidypignatello commented on #3529
@tzarebczan I'd like to take this one if no one's working on it!

[2020-04-22 14:10] tzarebczan commented on #4042
As part of this we should also make sure that lbry:// urls are also rendered / linked as such. I'm pretty sure this doesn't happen today.

[2020-04-22 17:51] seanyesmunt commented on #3880
Fixed with #4043

[2020-04-22 17:51] #3880 closed

[2020-04-22 18:39] marrie opened #4044 "accessibility of mass unlocking tips is nonexistent on the lbry mac app using voiceover"
The accessibility of the mass unlock of tipping in the app does not work as of yet. I'm using voiceover on the mac with the app. I reported this already  I believe in terms of the lbry.tv website but here are  the  steps.

1. Launch voiceover. This can be done with command f5.
2. Launch the lbry app.
3 turn off your screen.
4. Navigate to the wallet link.
5. Pick a video you published. Note that t

[2020-04-22 18:42] tzarebczan commented on #4038
Thanks for spotting this issue. I think we've seen some crashes recently around this in our logs.

[code]

[2020-04-22 18:46] seanyesmunt commented on #4044
I'm really sorry about this @marrie

Thank you for creating this issue. I assigned it to myself and I will start working on improving this.

[2020-04-22 19:46] seanyesmunt commented on #4005
Nice work on this @HarshKhandeparkar! 🙂

[2020-04-22 19:46] #4005 closed

[2020-04-22 19:47] HarshKhandeparkar commented on #4005
Thabk you!

[2020-04-22 19:53] eggplantbren commented on #4039
Yeah, after opening this issue I realised it was one I could try to resolve
myself. I'll see when I get around to it :)

On Thu, Apr 23, 2020 at 1:33 AM Thomas Zarebczan <notifications@github.com>
wrote:

--
Dr Brendon J. Brewer
Phone: +64 27 5001336
Zoom: https://auckland.zoom.us/j/4933284737
Keybase: https://keybase.io/brendonbrewer
Web: https://www.brendonbrewer.com
LBRY: lbry://@BrendonBrewer#

[2020-04-22 20:06] marrie commented on #4044
Thanks so much. I hope those steps were clear enough. I kind of wrote
those in a hurry. I did not test the windows client, but I assume that
we might have the same issues as well. Can that be tested with
[nvda?](http://nvda-project.org) Please? Thanks for the quick comment.

[2020-04-22 21:56] marrie commented on #4044
# Another comment:
I tested this on windows and I don't really want to create another bug
for this as the steps are going to be the same. Mass unlocking tips is
not doable in the app. I do have the work around, but this is to let you
guys know anyway that the current function of mass unlocking is not
accessible for any screen reader as far as I can tell. The slider
control is just not showing up.

[2020-04-22 22:27] kauffj commented on #4039
If you do this, please do not use the word "claims". Say content or publishes.

Claims is an internal word that we should avoid using publicly since it's not really intuitive.

[2020-04-22 22:29] eggplantbren commented on #4039
Okay, that makes sense, although publishes isn't a real word and I might
one day make a fork that replaces it with publications ;-)

On Thu, Apr 23, 2020 at 10:27 AM Jeremy Kauffman <notifications@github.com>
wrote:

--
Dr Brendon J. Brewer
Phone: +64 27 5001336
Zoom: https://auckland.zoom.us/j/4933284737
Keybase: https://keybase.io/brendonbrewer
Web: https://www.brendonbrewer.com
LBRY: lbry://@Br

[2020-04-22 22:33] kauffj commented on #4039
Every time my spellchecker corrects me I get a surge of pleasure in the knowledge that I am partaking in shifting the currents of the river of human language.

[2020-04-22 22:55] kauffj commented on #3529
You got it @cassidypignatello!

We're pretty good about keeping issues we're working on actively assigned (it's much more likely someone is *not* working on something that is assigned than vice versa).

So generally feel free to pick up any issue you think you can make progress on if it's unassigned.

[2020-04-23 00:55] tzarebczan opened #4046 "Other accessibility issues"
[lbry accessibility issues on app and website.pdf](https://github.com/lbryio/lbry-desktop/files/4519635/lbry.accessibility.issues.on.app.and.website.pdf)

@marrie put these together last week, thank you again!

[2020-04-23 01:34] SleepingFox88 commented on #1763
How do I view the DMCA page?

[2020-04-23 01:42] tzarebczan commented on #1763
Create a sample claim and paste it here, I can add it to the blocklist. This will be changing a bit once we move away from blocklists, but we'll need to make similar changes in other areas.

Thanks for taking a look!

[2020-04-23 02:09] afwang commented on #3424
Hi @seanyesmunt

Can you also add a link to your key in the README.md file? The currently linked key leads to a different key, so verification of the sigs.asc file failed when I used this other key. Would this make sense?

[2020-04-23 02:50] seanyesmunt commented on #3424
Hey @afwang. I just added a sentence with a link to my key in the same section.
https://github.com/lbryio/lbry-desktop#security

[2020-04-23 02:52] afwang commented on #3424
Thank you!

[2020-04-23 03:04] seanyesmunt commented on #3424
No problem! Let me know if there is anything else I can do.

On Wed, Apr 22, 2020 at 10:53 PM afwang <notifications@github.com> wrote:

--
Sean Yesmunt
Engineer for lbry.com

[2020-04-23 03:46] SleepingFox88 opened #4047 "Video UI is hidden until video is paused"
**Bug**
Occasionally upon playing a video, the video that is played will not have it's UI behave properly. Normally the pause/play button, volume slider, and progress bar should all be displayed at the bottom when the user mouses over the video. This issue causes that UI to only be displayed if the video is paused.

**To Reproduce**
Steps to reproduce the behavior:
1. Play videos until one of the

[2020-04-23 03:48] SleepingFox88 commented on #4047
I left my ``Installation ID`` out of my listed System Configuration details. Can I assume it's safe to share with others?

[2020-04-23 03:56] SleepingFox88 opened #4048 "Subscribe button label desync"
**Bug**
The Subscribe button is suppose to show ``Following`` when not moused over and ``Unfollow`` when moused over. If you run your mouse over it and force it's label to change many times per second and then stop, it can sometimes show ``Unfollow`` when not moused over and ``Following`` when moused over.

**To Reproduce**
Steps to reproduce the behavior:
1. Run your mouse over it and force it's

[2020-04-23 03:57] SleepingFox88 commented on #4048
I left my Installation ID out of my listed System Configuration details. Is it safe to share?

[2020-04-23 04:10] jeffslofish commented on #3813
I will take a look at this

[2020-04-23 04:55] jeffslofish commented on #3298
I'll take a look

[2020-04-23 05:14] cassidypignatello commented on #3529
Right on @kauffj, great to know!

[2020-04-23 05:27] jeffslofish commented on #3298
All 184 languages with a two letter code (as documented here: https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes#Table_of_all_possible_two_letter_codes) are accounted for in https://github.com/lbryio/types/blob/master/v2/proto/claim.proto#L115.

However, https://github.com/lbryio/lbry-desktop/blob/master/ui/constants/languages.js is missing two languages: ae and nb and has two extra languages w

[2020-04-23 05:39] jeffslofish commented on #2714
I'll take a look

[2020-04-23 14:20] kauffj commented on #3529
@cassidypignatello if you want extra insights into our work status you can install Zenhub plugin. I believe those are publicly visible to everyone with the plugin.

[2020-04-23 14:25] kauffj commented on #4048
@SleepingFox88 it's safe to share in the sense it couldn't be used to compromise your account or wallet, but it is information that could be used to identify your install

just keep that access token nice and safe :)

[2020-04-23 14:44] HarshKhandeparkar commented on #4048
I would like to work on this, if possible.

[2020-04-23 14:47] #3529 closed

[2020-04-23 14:58] #3813 closed

[2020-04-23 14:59] tzarebczan commented on #4047
Thanks for opening the issue! Can you check if this also happens in https://github.com/lbryio/lbry-desktop/pull/3990 - there's a big player refactor there.

[2020-04-23 15:00] tzarebczan opened #4052 "Bring back Wallet History page (transaction list data)"
We should still have a way to access transaction list data since it's more detailed than the current list and shows fees/abandons etc. It also allows export to xls and some creators use this for tracking their income.

It needs to be properly paginated, but no filters needed.

[2020-04-23 15:12] seanyesmunt commented on #3710
Yep!

[2020-04-23 15:12] #3710 closed

[2020-04-23 15:18] HarshKhandeparkar commented on #4048
I think the issue is that currently the DOM event changes the react state of the button which causes the button to re-render. But this is a bit inefficient. The react state changes can be slow and be debounced too.

What should instead happen is the DOM event callback should directly change the icon which is a bit difficult to do.

[2020-04-23 15:22] cassidypignatello commented on #3529
Awesome, thanks for the tip @kauffj! I just installed Zenhub and can see everything now.

[2020-04-23 15:23] HarshKhandeparkar commented on #4048
I think that this bug should not be fixed as there is no good way to stop this from happening. We need to either force re-render the component (which is not recommended) or manipulate the DOM directly(also not recommended).

Also, too many fast DOM events will only affect performance. We should just leave it as it is for now. It is not a big issue.

[2020-04-23 15:34] HarshKhandeparkar commented on #4048
Another issue could be that both the mouse-enter and mouse-leave events trigger the same function.

[2020-04-23 15:38] HarshKhandeparkar commented on #4048
Which means that even if it gets out of sync, it cannot get re-synced.

[2020-04-23 15:41] #4024 closed

[2020-04-23 15:43] tzarebczan commented on #4035
There's also bugs with the cbz reader: lbry://@injustice#3/01byInjustice-GodsAmongUs-Annual0012014digitalSonofUltron-Empirecbz#7

It won't load the first time and then crashes when you leave the page.

@btzr-io do you think you can work on these?

[2020-04-23 15:45] tzarebczan commented on #4018
We don't have signed supports (requires https://github.com/lbryio/types/issues/32), but we do have this information on resolves which could help clear up some things in the meantime:

[code]

[2020-04-23 15:56] tzarebczan commented on #4021
This should also be blocked when a user is reposting/tipping while the video is playing/autoplay is supposed to trigger.

[2020-04-23 15:58] HarshKhandeparkar commented on #4048
Okay I am working on optimizing it a little bit.

[2020-04-23 16:33] tzarebczan opened #4053 "Don't reset view when taking transaction actions on mobile"
If you unlock a tip, the page gets reset to the top so you have to scroll down again each time.  This only happens on mobile, works fine on desktop/lbry.tv desktop.

[2020-04-23 17:52] HarshKhandeparkar commented on #4048
@seanyesmunt can this one be closed?

[2020-04-23 18:03] seanyesmunt commented on #4048
Yep. Thanks for the reminder.

[2020-04-23 18:03] #4048 closed

[2020-04-23 18:03] HarshKhandeparkar commented on #4048
I had a suggestion. I think we should add something like `Fixes #0000 (<==== replace "0000" with the issue number)` to the PR template so that the issue is closed automatically upon merging.

[2020-04-23 19:52] ProjektRoot opened #4055 "'Related' column (proposal)"
Hi guys, can you make *Related* column look like tab/column on left. Don't know how to explain this, so I've modified screenshot :)

![screenshot](https://i.imgur.com/FUtgnnK.png)

Thanks for your hard work! Regards :)

[2020-04-23 19:55] HarshKhandeparkar commented on #4055
Ty @ProjektRoot. You can put the image link in `![title](https://link.to.image)` and it will show an image preview.

[2020-04-23 19:58] ProjektRoot commented on #4055
Done :) Thank you @HarshKhandeparkar

[2020-04-23 19:59] HarshKhandeparkar commented on #4055
Thanks a ton! You can work on this if you want to.

[2020-04-23 20:02] ProjektRoot commented on #4055
With pleasure but there is one problem. My programming knowledge is limited to print 'Hello World' :D

[2020-04-23 20:05] HarshKhandeparkar commented on #4055
Oh. That's not an issue. If you ever want to learn web dev, you are always welcome. :smile:

[2020-04-23 20:38] SleepingFox88 commented on #4047
[code]

@tzarebczan that branch is not yet compiling for me. I can check back once they work the kinks out. Is there a specific commit that you think might have fixed this issue?

[2020-04-23 22:37] gubatron commented on #4021
this just happened to when reposting, and it's bound to happen a lot because you'd think you'd only be willing to reshare good content once you've watched all the way to the end.

Reported it, and they sent me here.

[2020-04-24 06:42] jeffslofish opened #4057 "Purchase Confirmations not working correctly when set to USD"
**Bug**
There are two related scenarios:
1. If the setting "Only confirm purchases over a certain price" is chosen and currency is set to USD, the app treats the value entered as LBC, not USD.

2. If the setting "Always confirm before purchasing content" is chosen and previously the currency for "Only confirm purchases over a certain price" was set to USD, a javascript error occurs.

**To Reproduc

[2020-04-24 06:46] jeffslofish commented on #4057
I cannot complete the requested additions to #4051 until this issue is addressed.

[2020-04-24 13:15] #3935 closed

[2020-04-24 13:31] kauffj opened #4058 "Desktop and lbry.tv BitTorrent changes"
lbry.tv will not support BitTorrent publishes (at least initially).

- [ ] Add a setting on desktop only, enable bittorrent (I will revise copy, it will be disclaiming it's new / raw).
- [ ] When setting is checked, pass flag to `claim_search` to include BitTorrent results (consult https://github.com/lbryio/lbry-sdk/issues/2767 for flag)
- [ ] When viewing a BitTorrent file, include some small ind

[2020-04-24 14:07] tzarebczan opened #4061 "Add more logging to publish xhr for lbry.tv"
We see many publishes fail, but have very little insight into why it happens.

We/they just see "There was a problem with your upload" when the xhr call craps out

[2020-04-24 14:44] rosa2 opened #4062 "Change from Google Analytics to Matomo in https://lbry.tv/"
Hello and thanks for the software

My association is looking where to move from Youtube to another platform and we were considering https://lbry.tv/, but we just discovered that you use Google Analytics and decided that this is a blocker, so we will go to another service.
It is sad because we liked it a lot and because you have an alternative like Matomo https://matomo.org/ with ethical analytics.

[2020-04-24 14:48] tzarebczan opened #4063 "[mobile] Show Discover New channels link / Manage tags on Your Tags page"
Can't discover new channels on lbry.tv mobile. The UI works fine when you go to it directly (via landscape).

Also can't manage tags from the your tags page.

[2020-04-24 15:26] seanyesmunt opened #4064 "Add referral string to embeds"
Right now it's not generated until you navigate to the invites page. We would need to fetch it somewhere for embeds, then add it to the lbry.tv link

[2020-04-24 15:50] tzarebczan commented on #3757
The discover URL does seem to work now. Closing this in favor of https://github.com/lbryio/lbry-desktop/issues/4064

[2020-04-24 15:50] #3757 closed

[2020-04-24 16:09] tzarebczan opened #4065 "YouTubers cannot edit without removing tags / increase max tags?"
Youtube users have more than 5 tags come over and when they go to edit, they'd need to remove tags.  Should we allow them to still be able to edit if they don't change anything? Should we consider increasing max tags to 8 for everyone also?

[2020-04-24 16:18] tzarebczan opened #4066 "Call utxo release after failed transactions"
Failed transactions will cause balance issues until utxo_release is called to reset them. The SDK does need to improve/remove this issue altogether, but if we can add something in the app in the meantime it would be less confusing to users.

[2020-04-24 17:46] kauffj opened #4067 "Help wanted on these issues"
Looking for issues to work?

1. Check issues tagged [help wanted](https://github.com/lbryio/lbry-desktop/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22). These issues were typically explicitly looked at the LBRY team, are friendly to work on, and are explicitly _not_ a priority for us.
1. Check issues tagged [Tom's Wishlist](https://github.com/lbryio/lbry-desktop/issues?q=is%3Aopen+is%3Ai

[2020-04-24 17:50] kauffj commented on #4067
@HarshKhandeparkar @jeffslofish just made this, thought you guys might want to know about @tzarebczan 's Wishlist tag.

[2020-04-24 17:52] HarshKhandeparkar commented on #4067
I was just going through the list when I got this notif 😃.

On Fri, 24 Apr, 2020, 11:20 PM Jeremy Kauffman, <notifications@github.com>
wrote:

[2020-04-24 17:59] #3266 closed

[2020-04-24 18:02] HarshKhandeparkar commented on #3071
I can work on this. I looked into the infinite scroll page while working on my last PR #4054 and the code is not efficient/best way. I also found that infinite scroll doesn't work at all on smaller `pageSize` i.e. number of loaded elements.

I can look into this. May I?

[2020-04-24 18:02] seanyesmunt opened #4068 "paid"

[2020-04-24 18:02] #4068 closed

[2020-04-24 18:04] seanyesmunt commented on #4057
Good find @jeffslofish

I think your suggested fix looks like it would fix this issue. Can you make that change?

[2020-04-24 18:04] seanyesmunt opened #4069 "Paid content on lbry.tv"
Just adding everything I find to this right now. I bet some of the issues can be broken out/removed.

[2020-04-24 18:10] seanyesmunt opened #4070 "Add separate view for paid downloads"
I should be able to easily see the files that I have purchased. Maybe this is a tab on the downloads page? Or it's own separate page?

Are their any actions that you might want to take for a paid download, but not a regular download?

[2020-04-24 18:19] seanyesmunt commented on #4036
The `lbrytv` repo description was changed to "API Server for LBRY on the web", and I just opened https://github.com/lbryio/lbrytv/pull/207 to update the readme there which includes a link to the lbry-desktop repo.

[2020-04-24 18:20] seanyesmunt commented on #4036
I'll give another pass at the readme for this repo sometime next week. I agree it's not very clear this is the UI for lbry.tv _and_ the desktop app.

[2020-04-24 18:22] HarshKhandeparkar commented on #4036
If I have permissions, then may I convert some of the issues marked with
help-wanted to the first-timers-only issues as I suggested above? I
guarantee that will instantly pull a lot of new contributor traffic.

On Fri, 24 Apr, 2020, 11:50 PM Sean Yesmunt, <notifications@github.com>
wrote:

[2020-04-24 18:51] seanyesmunt commented on #4036
I don't think we will be spending very much time setting up issues for first timers only. The issue you linked looks like it would be very helpful for new contributors, but would take a really long time to build, much longer than actually fixing the issue.

At first I think we should focus on improving the experience for developers with some knowledge of git/github.

Feel free to ping me in any is

[2020-04-24 18:52] jeffslofish commented on #4057
I can change line 201 (|| to &&), but that only solves half the problem. The other problem is line 205, where Lbryapi.getExchangeRates() is undefined. I am not clear how to get the exchange rate functionality working.

[2020-04-24 18:53] HarshKhandeparkar commented on #4036
The issue can be generated by a bot too. Also, most of the issue is just a
template, I probably edited only 20 or so lines.

On Sat, 25 Apr, 2020, 12:22 AM Sean Yesmunt, <notifications@github.com>
wrote:

[2020-04-24 18:57] seanyesmunt commented on #4036
Yes I understand that, but finding an issue as simple as that, and creating a new issue for it will always take longer than just fixing it. Since our team is so small currently, we probably won't start doing that anytime soon.

[2020-04-24 18:57] seanyesmunt commented on #4036
I do think it's a great idea though!

[2020-04-24 18:59] HarshKhandeparkar commented on #4036
New contributors will be allowed to resolve only one such issue and then once they get comfortable, they can continue with solving other issues. These issues do the first step. New contributors are like lost when they see github issues. They get overwhelmed. They don't know what a PR is or how to edit code and stuff, so they need a step-by-step tutorial like this issue. Once that is done, it's no

[2020-04-24 19:00] HarshKhandeparkar commented on #4036
And I am saying that **I** can do it for the organisation. The core lbry team doesn't have to.

[2020-04-24 19:01] seanyesmunt commented on #4057
Ah I missed that comment. Sorry about that. Let me check and see what's going on with that.

[2020-04-24 19:04] HarshKhandeparkar commented on #4036
The idea is not to get the issue solved but to attract new people who can later solve issues. This process can be slow at the beginning but once new people start contributing, more people start flowing in. I am pretty sure that a lot of newcomers are browsing the issues from the lbry repos but they just can't get started so they move along.

Also, newcomers just search for first-timers-only issues

[2020-04-24 19:05] seanyesmunt commented on #4036
Oh I misunderstood! If you would like to try taking this on go for it! I just added you to the lbry-desktop team. You should be able to edit issues/add labels once you accept the invite. Can you see if it works?

[2020-04-24 19:06] HarshKhandeparkar commented on #4036
Yeah it worked. Ty. I will get started on it soon.

On Sat, 25 Apr, 2020, 12:35 AM Sean Yesmunt, <notifications@github.com>
wrote:

[2020-04-24 19:09] seanyesmunt commented on #4036
@HarshKhandeparkar Great! Let me know if you have any issues.

[2020-04-24 19:13] seanyesmunt commented on #4057
@jeffslofish I just pushed up this commit https://github.com/lbryio/lbry-desktop/commit/dcb79685bc25cf3bc77d434255063fc4933cdf44

It should work now. Looks like that has been broken for a while. Thanks for finding/reporting it!

[2020-04-24 19:32] kauffj commented on #3071
Definitely @HarshKhandeparkar!

[2020-04-24 20:20] kauffj commented on #4062
We agree with this in principle but have struggled to prioritize this. @finer9 did you look at if matomo could work for our purposes?

[2020-04-24 22:21] SleepingFox88 commented on #1763
I created this template based on https://lbry.com/dmca

=====

### Sample Claim:

YOUR NAME: ``Sean Logan King``
RIGHTSHOLDER OR YOUR NAME: ``Sean Logan King``
EMAIL ADDRESS: ``seanloganking@gmail.com``
REPORTED CONTENT IDENTIFIER: ``https://open.lbry.com/@testAccount146:6/20200318_193125:3``

=====

@tzarebczan let me know if that works

[2020-04-24 22:44] tzarebczan opened #4072 "New channels dropdown alignment is off"
![image](https://user-images.githubusercontent.com/8120721/80262504-9c42f080-865b-11ea-99e0-df51109f0646.png)
Thanks to Lav for spotting this one.

[2020-04-24 23:21] gubatron opened #4073 ""Choose file" broken, Can't upload videos, channel avatar, background image"
**Bug**
Every time I try to upload an avatar or background image for a new channel, or a video for a channel I'm forced to go to lbry.tv to do so (or use URLs in the case of avatars/channel background), the file picker isn't working.

**To Reproduce**
![Screen Shot 2020-04-24 at 5 22 00 PM](https://user-images.githubusercontent.com/163977/80264094-25542a80-8650-11ea-8435-91f0f8e1dc2c.png)
None of

[2020-04-25 00:10] tzarebczan commented on #4073
Sorry to hear about the trouble. I don't think we've ever seen this reported from other Mac users, so it could possibly be a local issue. Can you check the console (ctrl-shift-i) to see if there are any errors when you do this?

[2020-04-25 00:49] btzr-io commented on #4035
hmm I think I fixed that bug or a similar problem, I'll have to search for those commits 🙃

[2020-04-25 01:24] tzarebczan commented on #1763
Ah sorry about that, I got confused. You need to download one of my items
and then I'd block it. Try this one: lbry://test-ff-video#d

But I did block yours and we can ensure that you can still see it locally.

On Fri, Apr 24, 2020 at 6:21 PM Logan King <notifications@github.com> wrote:

[2020-04-25 07:05] rosa2 commented on #4062
Thanks @kauffj for prioritizing this.

@tzarebczan not all people have the technical skills to add blockers or is conscious about data brokers or scrapers or want to install another app. As a social association careful with their associates and people in general, we are not going to facilitate that their data goes to wrong hands. Nor, we are going to make a diffusion new on a new video blog saying

[2020-04-25 07:16] btzr-io opened #4074 "Force non-streaming content to wait for download"
**Bug**

Some viewers will fail to render content the first time, because some files cant be streamed, you have to wait until the download is completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a non-streamable file like `CAD` or `Comicbook`
2. Viewer will try to render the file but it will fail until `download completed`.

**Expected behavior**
Wait for `download completed`, th

[2020-04-25 07:20] btzr-io commented on #4035
See: Force non-streamable content to wait for download #4074

[2020-04-25 07:21] rosa2 commented on #4062
Why did you @tzarebczan transferred this issue from lbryio/lbrytv to here if the problem is there? I am very surprised by this.

[2020-04-25 07:42] btzr-io opened #4075 "Incorrect render mode on some files"
**Bug**
Some files are reported as `Video` on the `renderMode` prop of `fileRender` component.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any url from the examples list.
2. See error...

**Expected behavior**
Use the correct viewer for this file, or just don't try to render.

**Examples**

https://lbry.tv/@GRAVITYSHAPES:f/free-3dprint-bowl-19cm-voronoi-style-no4-stl:8
https

[2020-04-25 08:44] btzr-io commented on #4035
I fixed the 3d viewer styles, the same solution can be used for the comic viewer but the other errors are probably in the `Villain` side and I'll need to publish a new version once I figure out what is the error...

Anyway let me know if this still an issue, maybe I can fix it in the process: https://github.com/lbryio/lbry-desktop/issues/2777

[2020-04-25 17:14] harshkhandeparkar opened #4077 "Standardize 'Related' Column Looks"
### First Timers Only
This issue is reserved for people who haven't contributed to our codebase before, or never contributed to Open Source. [About First Timers Only](https://www.firsttimersonly.com/).

We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

If you have contributed before, **consider leaving this one for someone new

[2020-04-25 17:14] HarshKhandeparkar commented on #4077
Original Idea #4055 by @ProjektRoot. Thank you!

[2020-04-25 17:15] HarshKhandeparkar commented on #4077
@seanyesmunt I wanted to create a `first-timers-only` label but it seems I don't have permissions to do that...

[2020-04-25 17:19] HarshKhandeparkar commented on #3071
@tzarebczan I wasn't able to reproduce this one. It seems like infinite scroll works fine? :man_shrugging:

[2020-04-25 19:50] seanyesmunt commented on #4077
I’m not sure if this is a good issue for first timers. It would require making a decent amount of changes to the recommendedContent component. And possibly the ClaimList component

[2020-04-25 20:05] HarshKhandeparkar commented on #4077
Hmm. I am not sure either actually. It is just one header that they need to
change. Some css and html should suffice. But they may have to dig and
fiddle around a little.

On Sun, 26 Apr, 2020, 1:20 AM Sean Yesmunt, <notifications@github.com>
wrote:

[2020-04-25 20:07] HarshKhandeparkar commented on #4077
I was just testing btw. Finalizing the template (and the labels when I realised that I don't have permissions to do that).

Maybe we'll leave this one as is, as a template. I'll open another, simpler one tomorrow.

[2020-04-25 20:33] gubatron commented on #4073
Tried to replicate and it didn't happen this time, grrr.

Also Ctrl-shift-i, or Cmd-shift-i isn't bringing up the debug console, it'd be nice to have it available to better report issues.

It happens quite a lot that you're playing a video, you hit Back, and the video keeps playing and you can't see where it is, only hitting forward nav takes you back and then you can stop it.

I suppose it's a bu

[2020-04-26 03:06] seanyesmunt commented on #4077
I gotcha. I’ll create that label tomorrow. Then you will be able to add it
to issues.

On Sat, Apr 25, 2020 at 4:07 PM Harsh Khandeparkar <notifications@github.com>
wrote:

--
Sean Yesmunt
Engineer for lbry.com

[2020-04-26 03:47] btzr-io commented on #4077
This should be ok for first timers: https://github.com/lbryio/lbry-desktop/issues/3221

[2020-04-26 04:07] HarshKhandeparkar commented on #4077
I'll look into it. Thank you.

On Sun, 26 Apr, 2020, 9:17 AM Baltazar Gomez, <notifications@github.com>
wrote:

[2020-04-26 21:34] rubyil commented on #3088
Although I'm not familiar with the codebase there is a number of better solutions that come to mind. For example, storing the search query as text in a session persistent variable and performing a subsequent search with the value of this variable as the search query.

[2020-04-26 22:17] eatdostacos opened #4081 "Show total balance on "Support This Claim" popup"
**Is your feature request related to a problem? Please describe.**
There isn't a problem, just a feature that would be useful.

**Describe the solution you'd like**
Put your current total balance on the "Support This Claim" popup box.

**Describe alternatives you've considered**
Maybe change the balance in the top right to be more precise.

**Additional context**
When I want to support a new video

[2020-04-26 22:31] tzarebczan commented on #4081
We have this on mobile mode already, shouldn't be hard to add. Thanks for opening the issue!

[2020-04-26 22:35] eatdostacos opened #4082 "Publishes show max of three tags on "Publishes" page"
**Bug**
The "Publishes" page only shows up to three tags per publish even though I have five tags on many of my videos.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Publishes' Page
2. Look at all your publishes
3. See error
4. Then click on a video with more than three tags and see all five tags listed in the video description.

**Expected behavior**
All five tags should show up ne

[2020-04-26 23:11] eatdostacos opened #4083 "Sometimes no videos show as downloaded even though they have been"
![lbrybug](https://user-images.githubusercontent.com/64234158/80322150-e2bd5a00-87d7-11ea-96a6-019563299504.png)

**Bug**
I have previously downloaded videos to my PC, but LBRY says I don't have them downloaded, and downloads the same video and saves it right next to the copy already saved from earlier. This has happened before, but doesn't happen all the time.

**To Reproduce**
Steps to reproduce

[2020-04-26 23:52] tzarebczan commented on #4083
This will happen if videos are updated with a new file. There's an existing issue that covers redownloading and this requires a bigger revamp of our library section also.

Thanks for opening and hope that makes sense!

[2020-04-26 23:52] #4083 closed

[2020-04-26 23:54] tzarebczan commented on #4082
The claim previews you see only show a few tags, not all of them. This is normal and you can see the rest into the file page. Eventually we can add a mouse over that would show all of them.

[2020-04-26 23:54] #4082 closed

[2020-04-27 00:08] tzarebczan commented on #3071
I'm able to reproduce in the all content area. First scroll down so a 2nd page loads. Then scroll down a little bit and click an item. Click back to go to all content. Scroll down again. It will stop at the bottom. Try this a couple times and see if it does it. Happens consistently here.

If I scroll back up and down a few times, then it scrolls more.

[2020-04-27 00:09] tzarebczan commented on #4062
The code for lbry.tv front end lives here (for both web and desktop). Lbry.tv repo is just an API proxy.  It's a bit confusing, I know....

[2020-04-27 04:34] HarshKhandeparkar commented on #3071
Okay I'll try again today. Maybe I was doing this incorrectly.

[2020-04-27 13:35] HarshKhandeparkar commented on #3071
I am still not able to reproduce this very well. The content is also not loading fast enough (Internet Cap Over, Meh). Could you record a GIF or a video of this?  TY.

[2020-04-27 13:53] #4057 closed

[2020-04-27 14:31] HarshKhandeparkar opened #4085 "Add Tooltips To Channel Action Buttons"
### First Timers Only
This issue is reserved for people who haven't contributed to our codebase before, or never contributed to Open Source. [About First Timers Only](https://www.firsttimersonly.com/).

We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

If you have contributed before, **consider leaving this one for someone new

[2020-04-27 14:32] HarshKhandeparkar commented on #4085
Is this one fine for first-timers?

[2020-04-27 16:11] seanyesmunt commented on #3088
@rubyil Are there benefits in doing that? I think it would have the same behavior as storing it in the URL, except that if you refresh, you will lose your search history.

Also that would require changing the "goback" behavior to not only back if there isn't a search query saved.

[2020-04-27 16:13] seanyesmunt commented on #4085
Yep!

[2020-04-27 16:32] calvincodes commented on #4085
Hi! Can I work on this issue? Thanks.

[2020-04-27 16:40] HarshKhandeparkar commented on #4085
Sure. Go ahead.

[2020-04-27 16:40] HarshKhandeparkar commented on #4085
@seanyesmunt new contributor already :rocket:!

[2020-04-27 16:41] HarshKhandeparkar commented on #4085
@calvincodes you can ask any difficulty here.

[2020-04-27 17:12] calvincodes commented on #4085
Thanks @HarshKhandeparkar. Sure, will do.

[2020-04-27 18:08] seanyesmunt opened #4086 "Better handle thumbnail uploads/failed lbry.tv publishes"

[2020-04-27 18:26] seanyesmunt commented on #4086
closing for #4061

[2020-04-27 18:27] #4074 closed

[2020-04-27 18:28] #4086 closed

[2020-04-27 18:59] btzr-io commented on #4075
@seanyesmunt Any reason to have `application/octet-stream` listed as `FORCE_CONTENT_TYPE_PLAYER`
https://github.com/lbryio/lbry-desktop/blob/eaca77d39430fa6f64af054ac3705c687935c18f/ui/constants/claim.js#L14

[2020-04-27 19:08] kauffj commented on #3752
I closed #3928 because I think it is papering over an issue rather than understanding it. Do we have a clue on where the translations get mangled? On the way into Transifex, the way out, somewhere in i18n pipeline?

[2020-04-27 19:34] #4039 closed

[2020-04-27 22:31] bitcoinbrisbane commented on #3467
Opens in a new tab for me
- FireFox
- Ubuntu Desktop 19.10

[2020-04-27 23:17] tzarebczan opened #4088 "Option to disable hardware acceleration"
I notice my laptop struggles when playing videos and other users with lower-end computers also have issues with performance. There should be a way to disable hardware acceleration like it chrome and it may help in some cases.

[2020-04-28 03:31] calvincodes commented on #4085
@HarshKhandeparkar What should the language/content of these messages be?

[2020-04-28 03:38] btzr-io commented on #4088
https://www.electronjs.org/docs/tutorial/offscreen-rendering

[2020-04-28 03:46] tzarebczan commented on #3071
Let me know if this helps: https://photos.app.goo.gl/hgkzZ5Yo7VVZ5KJGA

Notice how sometimes it starts again when going back up and down, and other times it takes a few tries. This happens on desktop too.

[2020-04-28 05:00] HarshKhandeparkar commented on #4085
Language should be English. Content can be whatever you feel is Intuitive.

On Tue, 28 Apr, 2020, 9:01 AM Arpit Jain, <notifications@github.com> wrote:

[2020-04-28 05:02] HarshKhandeparkar commented on #3071
Okay got it. I was trying this on my desktop. Does it happen on a desktop
too?

On Tue, 28 Apr, 2020, 9:16 AM Thomas Zarebczan, <notifications@github.com>
wrote:

[2020-04-28 13:41] #4085 closed

[2020-04-28 14:13] HarshKhandeparkar commented on #4088
But disabling hardware acceleration will put more load on the CPU, will this not affect the performance further?

[2020-04-28 14:37] #3774 closed

[2020-04-28 15:40] tzarebczan opened #4092 "Improve experience while publish is pending"
If a publish is pending, you can still get into it from the wallet page and it will show that it's not accessible on the web / download desktop. Maybe block going into a pending claim?

[2020-04-28 17:09] HarshKhandeparkar commented on #3071
I managed to reproduce this on the desktop app too. Trying to fix...

[2020-04-28 18:34] tzarebczan opened #4093 "Allow grouping of followed channels / reordering"
A couple users have asked about this. It would be nice to group your followed channels and re-order them as you want to see them in your following list. Otherwise, a long followed list becomes unmanageable.

[2020-04-28 18:39] csharpner commented on #4093
Thanks!

[2020-04-28 18:56] tzarebczan opened #4094 "publish date incorrect (future) sometimes"
https://github.com/lbryio/lbry-redux/blob/17f611888c60b71910b5b984a05c5ef6eef4d5dc/src/redux/actions/publish.js#L330

Maybe it's related to system time or timezones - but we often see publishes with release times a few to  12+ hours ahead of local time.

[2020-04-29 02:34] Salmawati1 commented on #4073
Upload slow please repair

[2020-04-29 03:04] jeffslofish commented on #2775
I'm going to work on this issue now

[2020-04-29 09:24] bitcoinbrisbane commented on #3800
Has this been started in the branch https://github.com/lbryio/lbry-desktop/tree/feat-channelAbandon?

[2020-04-29 09:30] bitcoinbrisbane commented on #4052
Wouldn't `.csv` be better than `.xls`?

[2020-04-29 09:35] bitcoinbrisbane commented on #4067
For the last few weeks I've been playing around with the desktop app and the daemon and looking for issues to pick off.

Although the branching naming conversion uses fix/feature/feat nomenclature, as a newbie, its hard for an outsider to understand if issues are actively being worked on, and thus my coding could be wasted.

Perhaps if lbry could assign users when they're actively working on an is

[2020-04-29 09:55] bitcoinbrisbane commented on #3926
@tzarebczan confirm this test scenario:

- Given a channel,
- And it has a comment,
- And I click reply,
- And I add a message,
- When I switch channels,
- Then the channel

[2020-04-29 09:58] HarshKhandeparkar commented on #4067
Hi. You don't really need to follow any *branch* naming convention. Just
giving the branch a descriptive name is enough.

Also if you want to know if someone is working, just drop a comment. Also,
if you want to claim an issue, just leave a comment.

If someone had claimed an issue and haven't replied in a long time, it can
be assumed that they abandoned it. Or you can just ask one of the
reviewer

[2020-04-29 10:00] HarshKhandeparkar commented on #4067
Also, I don't believe that outsiders with no contribution can be assigned
to an issue using the issue assign feature.

Although, we could create a label for that...

On Wed, 29 Apr, 2020, 3:28 PM M K, <mjkgoa@gmail.com> wrote:

[2020-04-29 10:09] bitcoinbrisbane commented on #4067
Sure.  That being said, I was looking at issue #3800 and noticed branch https://github.com/lbryio/lbry-desktop/tree/feat-channelAbandon.  Im not sure if someone is actively working on this fix.  All good, just an observation / suggestion.

[2020-04-29 13:30] tzarebczan opened #4099 "claim search filiter for free vs paid content"
Can do this via:
[code]

[2020-04-29 15:53] tzarebczan opened #4100 "add embed tag for first time embed users / pirate bay"
If a new user comes in to Odysee through an embed, add the `new-user-embed`  tag to them.

If someone comes through piratebay, add `new-user-piratebay`. The URL source when this happens is: ```?utm_source=PB&utm_medium=referral```

[2020-04-29 16:30] kauffj commented on #3800
@bitcoinbrisbane I believe that branch is to allow deletion of channels (and publishes) directly from their respective pages and is not related to the above issue. @jessopb please confirm or correct.

[2020-04-29 16:32] kauffj commented on #4052
Yes, `.csv` over `.xls` 100%. It's probably pretty workable to add an export button to the current state of Transaction List. I added help wanted to this issue.

[2020-04-29 17:28] #2714 closed

[2020-04-29 18:44] rubyil commented on #3088
@seanyesmunt Not really, it's just as bad.
The approach with storing the query param to rerun the search is a bad idea from any standpoint. Security wise, implementation wise, traffic wise, server load wise etc. It's bad practice.
What you really need is a mechanism that stores search results as application state.
If you are familiar with redux, it's devtools extension should have a time travel fe

[2020-04-29 19:37] #4055 closed

[2020-04-30 15:05] #3591 closed

[2020-04-30 15:15] kauffj opened #4105 "In-app text and markdown publishing and editing"
Currently markdown is well supported only if you prepare it via an external editor and upload a `.md` file directly.

It would be much better UX if a user could:

1. Create a new post via the existing markdown editor directly in the app
2. Edit previous text or markdown posts directly in the app
3. Embed other LBRY content directly in the posts (add a custom button or parsing for lbry.tv embeds)

[2020-04-30 15:16] #3373 closed

[2020-04-30 15:16] #3828 closed

[2020-04-30 15:17] kauffj commented on #4105
50,000 LBC bounty for this if someone wants to do it

[2020-05-01 03:33] jtwebman commented on #3926
Going to give it a try to fix this as the first issue I try in this codebase.

[2020-05-01 04:25] tzarebczan commented on #3926
@bitcoinbrisbane / @jtwebman thank you!!

[2020-05-01 07:09] jeffslofish commented on #3467
I'm looking into this issue now.

[2020-05-01 10:09] rzelnik opened #4112 "Theme setting is reset when launching the Lbry app"
**Bug**
When I set dark theme in the Settings > Appearance, the setting is remembered in 2-3 starts of the application, then it is reset back to Light theme (white background, dark text).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Appearance > Theme > Dark
2. Quit the Lbry app or restart the computer
3. Start Lbry again
4. The theme setting is Light

**Expected behavior

[2020-05-01 13:08] tzarebczan commented on #4112
Sorry to hear about the trouble. Does this happen each time? Are you also signed out of the app? We are aware of issues where this happens randomly sometimes and have a separate issue to track saving this to the wallet.

If it happens each time , you may have local issues with your user profile on Windows.

[2020-05-01 13:08] #4112 closed

[2020-05-01 14:14] #2775 closed

[2020-05-01 14:35] #4038 closed

[2020-05-01 14:38] rzelnik commented on #4112
I noticed many occurences of this issue. It happens every third or every fourth start of LBRY desktop.
I don't log out when closing the app, I am still logged in.
I can check my config file if it helps. Where is the Theme setting stored?

[2020-05-01 14:44] tzarebczan opened #4113 "markdown - numbered list shows as bullet"
If you put this into a markdown file, the 2nd numbered list shows as bullets:

[code]

![image](https://user-images.githubusercontent.com/8120721/80813723-90de5080-8b98-11ea-9221-c03b34861f43.png)

[2020-05-01 19:34] jtwebman commented on #4105
How would you guys want the UI to look? Would there be a new publish markdown button? The current publish just goes straight add a file via upload and I don't really see any tab pattern in the app already.

[2020-05-01 22:42] kauffj commented on #4105
My off-the-cuff proposal:

1. The toggles on this page can be used as tabs: https://lbry.tv/$/discover
2. Insert tabs above file selector, below publish header (Show: File | Text)
3. Use the same text editor for description to construct the markdown

In general, we're happy to do a pass on labeling or other presentation, so if you can get the core architecture and design correct, we're happy to ma

[2020-05-01 23:33] bitcoinbrisbane commented on #3800
Ok, Ill take a look at this today.

[2020-05-02 00:52] jtwebman commented on #4105
Cool will give it a shot this weekend.

[2020-05-02 02:17] chomehdi opened #4116 "scaaaaaaaaaaaaaaaaaaam"
i try to verifi my account by master card lbry claim 1 eur from my account and my account still no verified pliz dont trust is a big scamer

[2020-05-02 02:50] #4116 closed

[2020-05-02 03:30] jeffslofish commented on #3122
I'm going to work on this now

[2020-05-02 05:46] bitcoinbrisbane commented on #3926
How did you go?  I was looking at it too.

[2020-05-02 06:05] bitcoinbrisbane opened #4117 "doFetchFileInfos breaking"
On `yarn dev` off master branch, its breaking on https://github.com/lbryio/lbry-desktop/blob/master/ui/redux/actions/app.js#L355

Commenting out that line allows the app to start.

![image](https://user-images.githubusercontent.com/8411406/80856639-c9f8ec80-8c8e-11ea-84b2-87a5f387856d.png)

[2020-05-02 06:24] bitcoinbrisbane commented on #4072
How can I replicate this?  Seems fine on mine.

[2020-05-02 06:28] jtwebman commented on #3926
The merge above https://github.com/lbryio/lbry-desktop/pull/4110 fixed it.

[2020-05-02 08:29] rainbowjaw opened #4118 "Rebrand and refunction of "support" button."
**Is your feature request related to a problem? Please describe.**

This is an optimization recommendation. **My main point is making this button do more with fewer steps would lead to a bit more community curation/more accurate feeds to what people are interested in**

There are _barriers to entry_ on using "support", staking tokens for the sake of boosting content when a user *like* another user

[2020-05-02 13:58] matthewadie opened #4119 "Ability to block tags"
**Is your feature request related to a problem? Please describe.**
There is a lot of content on LBRY that I'm interested in and a lot of content that I would rather not see.  I would like a more efficient and flexible way of blocking content.

**Describe the solution you'd like**
I would like to be able to block based on a Tags.  For example I'm interested in technology in general, but when I sear

[2020-05-02 15:18] tzarebczan commented on #4119
Thanks for filing, this is a duplicate of https://github.com/lbryio/lbry-desktop/issues/2727

Please do a quick search if you can before opening new issues, thank you.

[2020-05-02 15:18] #4119 closed

[2020-05-03 04:57] jeffslofish commented on #3122
For the UI, how about something like this:

![Screen Shot 2020-05-02 at 9 51 54 PM](https://user-images.githubusercontent.com/1240484/80898989-38ee3980-8cbf-11ea-8efa-a390c783e6b0.png)
![Screen Shot 2020-05-02 at 9 51 06 PM](https://user-images.githubusercontent.com/1240484/80898990-3986d000-8cbf-11ea-9271-7af7b145020c.png)

[2020-05-03 05:04] jeffslofish commented on #3122
Also, should both the "LBRY Link" and "Embedded" tag have the t parameter, but not the "LBRY URL" or "Download Link"?

[2020-05-03 14:00] m160 opened #4120 "Keyboard shortcuts"
Could I suggest to just blatantly copy the keyboard shortcuts from this other video platform?

`Shift` + `?` to show a map of the keyboard shortcuts available:
![image](https://user-images.githubusercontent.com/34570404/80915972-99c45300-8d4d-11ea-8062-3d26ed9c4ecb.png)

In particular I miss the `Shift` + `.`/`>` to increase playback rate, but hey, why not just copy all the shortcuts that apply to

[2020-05-03 17:46] tzarebczan commented on #4120
Thanks for the issue and write up, can you please add it to https://github.com/lbryio/lbry-desktop/issues/1395

[2020-05-03 17:46] #4120 closed

[2020-05-03 17:49] tzarebczan commented on #4118
Thanks for the detailed write up. There are some immediate things we can do as part of https://github.com/lbryio/lbry-desktop/issues/3822 and can take some ideas here.

Automated support removal won't be a thing, but we want to make it easier eventually but we need sdk support for it (will make sure we have an issue filed for that ).

[2020-05-03 19:23] chron0 opened #4121 "lbry.tv embed third-party cookie security issue"
**Bug**
When trying to use lbry.tv embed via iframe the content isnt loaded and fails in chromium with a security exception:

[code]
**To Reproduce**

Manually adding lbry.tv to third party cookie exceptions in chromium security settings seems to solve the issue, but that can't be considered a real solution...

**Expected behavior**
lbry embedding works without having to manually add a security ex

[2020-05-03 19:32] tzarebczan commented on #4121
Thanks for filing, it's a duplicate of https://github.com/lbryio/lbry-desktop/issues/4017

Sounds like Brave and maybe other browsers block some additional things on embed.  If you turn shields off in brave, it works.

[2020-05-03 19:32] #4121 closed

[2020-05-03 19:34] chron0 commented on #4121
ah, i searched in issues for cookie only, not localstorage... sorry for dup

[2020-05-03 21:55] m160 commented on #1395
On YouTube you can press `Shift` + `?` to show a map of the keyboard shortcuts available:
![image](https://user-images.githubusercontent.com/34570404/80915972-99c45300-8d4d-11ea-8062-3d26ed9c4ecb.png)

I think these are a good starting point. I miss the `Shift` + `.`/`>` to increase playback rate in particular!

[2020-05-04 01:36] eatdostacos opened #4122 "Floating video player goes away when opening an image"
**Bug**
When I am watching a video in the floating player and I click on a different video, it shows all the information and doesn't play the video unless I start it and have it going. When I click on an image, the floating player disappears and the image is shown as the normal page. I then lose the video and have to go back and find it again.
**To Reproduce**
1. Go watch a video
2. Click somewher

[2020-05-04 01:37] tzarebczan commented on #4122
Thanks for filing, it's a duplicate of: https://github.com/lbryio/lbry-desktop/issues/3654

[2020-05-04 01:37] #4122 closed

[2020-05-04 01:58] tzarebczan opened #4123 "Paid content bugs / improvements"
- [ ] Need to check purchase list to see if something has been bought before if it's not in your file list (i.e. delete file or on lbry.tv). Otherwise it will prompt to pay, but it actually won't charge you.

- [ ] max purchase price silent error:  https://github.com/lbryio/lbry-desktop/issues/2294

[2020-05-04 07:21] infinite-persistence-2016 opened #4124 "Variable for string 942 causes mixed language sentence"
**String:** `942 Official YouTube Creator - Last updated %time_ago%`
**Problem:**:  The replaced text is in English, so we end of up mixed languages.
**Example:**:  "Kreator YouTube Rasmi - kemaskini terakhir pada **a week ago**"

I think this is because the string from `relativeDate()` is not localized.

[2020-05-04 09:19] keikari commented on #4047
This can be reproduced by making the video to go to floating player. After that the player UI stays hidden until paused.

[2020-05-04 15:53] seanyesmunt opened #4125 "report videojs errors to sentry"

[2020-05-04 19:08] #3673 closed

[2020-05-04 19:08] #3770 closed

[2020-05-04 19:39] tzarebczan commented on #4073
Closing this issue. I think the others are already logged. https://github.com/lbryio/lbry-desktop/issues/2750

[2020-05-04 19:39] #4073 closed

[2020-05-04 19:42] tzarebczan opened #4127 "Curated unauthenticated page, especially for new comers"
The goal would be to give first time LBRY users a more curated experience for their first visit.

Ther could be some option on top for curated vs custom that can be changed.

We would preselect a few categories (Gaming, education, music, entertainment, science, technology) associated with top youtube channels.

[2020-05-04 20:31] tzarebczan opened #4128 "Improve failed video loading experience"
If a video is not fully reflected/available, it will return a 416 on the stream call
[code]

Will need to gather some other error codes as I come across them.

[2020-05-04 20:36] tzarebczan commented on #4117
Sorry to hear about the trouble. Did you have any downloaded content or was this your first time starting up?

[2020-05-04 20:38] tzarebczan commented on #4072
Hey @bitcoinbrisbane , thanks for poking at some of the issues here, welcome to LBRY!

I'm seeing the above both on the desktop and web - maybe it has something to do with the channels having a title vs not? You'd edit the title on the channel edit page. Have you tried with multiple channels too?

[2020-05-04 20:39] seanyesmunt commented on #4117
@bitcoinbrisbane I just tested a fresh clone of the repo and it worked for me. That error looks like `lbry-redux` might not be setup properly on your computer. You might just need to re-run `yarn`, and possibly delete the `node_modules` folder before running that.

[2020-05-04 20:39] #4117 closed

[2020-05-04 20:41] tzarebczan opened #4129 "Support : in embed urls"
Someone tried an embed with : instead of #, we should support both. Should be an easy regex, we do it in a few other places.

[2020-05-04 22:10] kauffj commented on #4047
@seanyesmunt can you assist on this ticket?

[2020-05-04 22:12] seanyesmunt commented on #4047
Yeah I will look into this

[2020-05-04 22:13] tzarebczan commented on #4047
Can't seem to reproduce here. @keikari can you see if it still happens here: https://github.com/lbryio/lbry-desktop/releases/tag/v0.45.1-rc.5

@SleepingFox88 this is now merged to master, try there?

[2020-05-04 22:18] tzarebczan commented on #3926
Woohoo!

[2020-05-04 22:18] #3926 closed

[2020-05-04 22:48] kauffj commented on #4105
How'd it go @jtwebman?

[2020-05-04 23:03] jtwebman commented on #4105
@kauffj Slower then I thought. The way that the upload page is built doesn't make it that easy. I need to re-think how I was going to do it.

[2020-05-05 06:49] keikari commented on #4047
@tzarebczan I tested with appimage and now it worked normally. Also lbry.tv player works normally now.
Wow! That got handled quick.

[2020-05-05 13:20] tzarebczan opened #4130 "wallet custody message - check sync get / sync setting"
The wallet custody message just checks if a user is signed into lbry.tv, but not if they actually have a synced wallet or the sync option enabled. Can use sync get to check this , or maybe in combination with the client setting.

[2020-05-05 13:47] tzarebczan opened #4131 "Pass time to start on lbry.tv too"
We pass this to the Prometheus metrics, should be able to pass to apis as well. Would be in MS for apis.

[2020-05-05 16:31] kauffj opened #4132 "Embedly support"
https://embed.ly/providers/new

Would make videos work on Reddit, among other places. Context:

https://www.reddit.com/r/lbry/comments/gdo200/will_lbrytv_be_added_as_an_embedly_provider_to/

[2020-05-05 18:03] chron0 commented on #704
I have exactly this issue with 0.45.1-rc5 on linux desktop-app, no controls on mouse over, they only appear when klicking and pausing and are gone again when playing.

[2020-05-05 18:28] tzarebczan opened #4134 "[mobile] can't view following or tags list anymore"
You used to be able to scroll down past all the menu options to see the list of followed channels/tags, but they don't show anymore. Also, that's now super clear - how can we display this on mobile better?

Maybe fix https://github.com/lbryio/lbry-desktop/issues/4063 in the process too

[2020-05-05 20:46] tzarebczan commented on #704
@chron0 I'm not able to reproduce it, but if you can, and it happens consistently, please open a new issue with the exact steps. Thank you!

[2020-05-05 21:39] tzarebczan opened #4137 "Stop calling file list when file stops streaming / content fails"
When a user leaves a video page, we can stop calling file list so it doesn't poll it constantly without needing to provide any information to the user. This case isn't as but, but if the content fails, we will continue to call it indefinitely.

[2020-05-05 21:51] tzarebczan opened #4138 "call publish api on channel create"
Right now I think we only call it during publish. Found a user with a channel but no api entry.

[2020-05-05 22:29] tzarebczan commented on #3467
Thanks for chiming in on a few issues @bitcoinbrisbane ! Can we [show you some appreciation](https://lbry.com/faq/appreciation) ?

This will be fixed once https://github.com/lbryio/lbry-desktop/pull/4111 is merged.

[2020-05-05 22:29] #3467 closed

[2020-05-05 22:35] tzarebczan commented on #3122
@jeffslofish , that's looking great so far, thank you! Alignment could use some work, but I'll let @seanyesmunt comment further.

And yes, this would only make sense in the LBRY link. We could make them work in the LBRY URL, but that requires: https://github.com/lbryio/lbry-desktop/issues/3972

[2020-05-05 23:21] bitcoinbrisbane commented on #3467
Sounds good!  I hope to make some code contributions soon, but keep getting beaten!

[2020-05-05 23:45] seanyesmunt commented on #3122
Nice! I’m not sure exactly how it should look but that is a good start. That can work for now if the inputs are vertically aligned with each other.

[2020-05-05 23:52] kauffj commented on #3122
I'm here with the bikeshed of also shrink the input width if it's limited to a time value

[2020-05-06 00:30] tzarebczan commented on #2776
This is fixed and will file the new issue for the modal.

[2020-05-06 00:30] #2776 closed

[2020-05-06 00:31] tzarebczan opened #4139 "Incorrect modal on tip unlock"
You get the support unlock modal. Should be an easy one to check with the txo list results

[2020-05-06 00:38] tzarebczan opened #4140 "Display -- instead of 0 before first account balance load"
Community suggestion to display -- instead of 0 before the first wallet balance call is returned so users don't freak out about a 0 balance.

[2020-05-06 00:40] tzarebczan commented on #4124
Thanks for filing this issue @infinite-persistence ! Yea, that must be it. This also happens in other places we use relative dates. Want to help us look for a solution?

[2020-05-06 00:43] tzarebczan commented on #4027
Thanks for filing this issue! I would say it's all the directories outside of the . ones.

[2020-05-06 00:45] tzarebczan commented on #4124
Actually, we do have it working in some places, but not on the homepage where I first checked.
![image](https://user-images.githubusercontent.com/8120721/81129115-51559280-8f11-11ea-8f55-222d54b36b2a.png)

[2020-05-06 00:47] tzarebczan commented on #4035
These are now fixed, will open a new issue for the CBZ requiring download first.

[2020-05-06 00:47] #4035 closed

[2020-05-06 00:50] tzarebczan opened #4141 "cbz/cbr file page shows download button first, and then viewer after download"
It should just show the viewer and invoke the download.

lbry://@mxlinuxpl#f/mx-linux-polska-news-test-cbr#c

[2020-05-06 01:41] btzr-io commented on #4141
I think that's the intended behavior for files that need to be downloaded first ?

[2020-05-06 01:42] tzarebczan commented on #4141
Is that how 3d files work too? We used to just show the viewer and that would download it.

[2020-05-06 01:47] btzr-io commented on #4141
yes

Ok, I'll see if I can show the viewer

[2020-05-06 03:44] jeffslofish commented on #3972
I'm going to look into this issue.

[2020-05-06 08:47] bitcoinbrisbane commented on #4140
Looking at this now.

[2020-05-06 14:11] tzarebczan opened #4143 "Only show tip unlock if there are tips (edge case of supports only)"
Should be able to use ```--include_received_tips```
![image](https://user-images.githubusercontent.com/8120721/81187209-bcd74880-8f81-11ea-9b87-67882f3f99f7.png)

[2020-05-06 15:36] chron0 commented on #704
@tzarebczan: I could reproduce the issue in 0.45.0 and 0.45.1-rc5 but so far it's working in 0.45.1 release (both floating vid and restored vid from float now react to the mouse hover with controls as they should) - if it ever comes up again (might be some weird 1px quirk during window resizes) I'll open a separate issue for it.

[2020-05-06 15:42] m160 opened #4144 "Blank toggle preview on the publish page"
**Bug**
The toggle preview goes blank in the new update

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the publish page
2. Type something in the description
3. Click toggle preview
4. See error

**Expected behavior**
Formatted preview of the description

**Screenshots**
![image](https://user-images.githubusercontent.com/34570404/81196746-566d1d00-8fb7-11ea-8b1d-be0dfe8192b3.png)

[2020-05-06 18:08] seanyesmunt opened #4145 "Add footer"

[2020-05-06 22:40] swedneck opened #4146 "Webp support"
Currently webp is not supported for viewing in the app, unlike png and jpg. Since webp is quite well supported nowadays, and absurdly more efficient than jpg, it would be very good to add webp support to the desktop app.

[2020-05-07 08:49] swedneck opened #4147 "tiff support"
Tiff is a widely used and flexible format, it would be nice to be able to view it in the app.
https://en.wikipedia.org/wiki/TIFF

[2020-05-07 14:06] swedneck opened #4149 "Outdated CONTRIBUTING.md"
**Bug**
https://github.com/lbryio/lbry-desktop/blob/master/CONTRIBUTING.md is out of date, it refers to src/platforms/electron/index.js which no longer exists.

[2020-05-07 14:06] tzarebczan commented on #4147
Thanks for opening the issues, sent some appreciation in Discord! Tif may need a special renderer, we would need to do some research.

[2020-05-07 14:07] tzarebczan commented on #4146
Thanks for opening the issue!

[2020-05-07 14:08] tzarebczan commented on #4144
Hmm, it seems to be working here. Can you try again? What did you type?

[2020-05-07 14:34] HarshKhandeparkar commented on #4149
This is a nice first-timers-only candidate!

[2020-05-07 14:43] tzarebczan opened #4150 "Video player does not work on iPad"
Getting reports that our video player just shows a black screen on ipad
![image1 (1)](https://user-images.githubusercontent.com/8120721/81308252-8ec03a00-904f-11ea-999c-ac8ddc05ae0f.png)

[2020-05-07 14:52] kauffj commented on #4099
This should be possible in claim search and lighthouse searches

[2020-05-07 16:35] btzr-io commented on #4147
You can't display tiff images directly in the browse, needs a js port / based decoder:
https://github.com/photopea/UTIF.js
https://github.com/image-js/tiff

[2020-05-07 16:46] swedneck opened #4152 "Change "view file" icon in floating player"
The current "view file" icon appears to be the log-in icon from feather, which is rather misleading and has lead me to accidentally click it instead of the X to close the player (which is sort of impressive since the very obvious close button is right next to it).

I think the "view file" button should be changed to the maximize-2 icon since that's actually what the button does. Perhaps the name o

[2020-05-07 17:16] jessopb commented on #3702
lbry.tv currently has a dependency on chainquery credentials.

[2020-05-07 18:41] btzr-io commented on #3161
I cant reproduce this issue

[2020-05-07 18:50] jessopb commented on #3702
"install" as the call from web to note users?
what about "user/new"?

[2020-05-07 19:42] btzr-io opened #4154 "Dark theme for markdown editor"
**Bug**

The current markdown editor needs a better dark theme, right now it only changes the background color of the form field, but not the text colors.

Related issues, but there are probably more:
- [ ] Inconsistent cursor color on dark theme, its hard to see.
- [x] Hyperlinks on markdown hard to read in dark mode #3468

**Expected behavior**
A good contrast of colors for both themes : light /

[2020-05-07 20:38] #3522 closed

[2020-05-07 22:04] kauffj commented on #3702
I may have gotten call wrong. Whatever passes `web` or whenever `web` is passed, domain should be passed too.

[2020-05-07 22:04] kauffj commented on #3702
@jessopb hard dependency or just dependency for metadata? When not present, omit metadata.

[2020-05-07 22:23] kauffj commented on #4105
@jtwebman if you're still actively working on it and it'd be helpful to chat with one of our team, just let me know

[2020-05-07 23:40] jtwebman commented on #4105
@kauffj Thanks, I am still working on it but this week was a little crazy at work so I didn't have as much time. I think I have a much better idea now on how to do it. If I have any questions I will ask for sure. I also will try and get a WIP Draft PR open so the team can take a look and make sure I am on the right path once I get some time tomorrow.

[2020-05-08 05:45] BitWizzard opened #4158 "Confusing upgrade process (app should quit, not minimize into tray)."
**Bug**

When upgrading the app to a newer version on Ubuntu, a dialog pops up that says "Close the app an you will be prompted to install the new version..." and there is a button to close the app.

When I pressed the button, the app closed and I was waiting to be prompted about the installation, but nothing was happening. I thought that it didn't work. But then I noticed the app didn't quit, jus

[2020-05-08 09:43] m160 commented on #4144
It happened when I edited the description of an existing claim. The issue seem to have disappeared now though, not sure what happened there.

[2020-05-08 12:21] tzarebczan commented on #4144
Great!

[2020-05-08 12:21] #4144 closed

[2020-05-08 18:01] #3122 closed

[2020-05-08 18:16] btzr-io commented on #2777
I found the cause of this bug, we can't use the protocol: `file://` with special characters because is interpreted as an actual `url`.

Creating an stream for the file fixes the issue.

[2020-05-08 18:16] #4072 closed

[2020-05-08 18:17] jessopb commented on #2750
If I go to a video page and click edit, it opens the PIP.
If I do the same on an image page, it doesn't.
Until I edit the file and change it to a video. Then the filerenderfloating ( i assume ) pops into existence because it was there all along just not showing because it was an image.

One solution is to not autoplay on file page if isMine

[2020-05-08 19:35] infinite-persistence commented on #4124
Ok, I'll give this a shot. (I switched accounts due to key and various problems, abonding that account).

There are currently 2 ways of getting relative time:  the one mentioned above, and `DateTime`. They are not in sync:
![mismatch](https://user-images.githubusercontent.com/64950861/81442413-25067400-91a6-11ea-8114-8d80c98c19ae.png)

(1) I'll try to sync the implementation of these 2 functions,

[2020-05-08 19:58] infinite-persistence commented on #4124
Looking further, I think I'll:
1. Leave `relativeDate` untouched.
2. Switch all usages of `relativeDate` in `lbry-desktop` to `DateTime`.  I think this one is more correct, and was recently adjusted to match YouTube.

[2020-05-08 20:45] tzarebczan commented on #4158
Sorry to hear about the trouble and thanks for the report. I'll give this a shot and see if it works...I know it definitely used to close the app - wonder if something hung up on your end this time.

[2020-05-08 20:46] tzarebczan commented on #4152
Thanks for the suggestion! If you want to give it another shot, feel free to poke around a bit more.

[2020-05-09 00:14] SquidLord opened #4162 "Spacebar on non-video pages should page forward, not be consumed."
When looking at non-video content in both the desktop application and the website, space does not act to move the viewed content forward by a full-screen. Instead, the keypress is consumed with no effect.

Instead, the page should advance. This is the norm elsewhere throughout the interface. (There is an argument to be made that it should even be true when video content is being displayed as long

[2020-05-09 15:50] jtwebman commented on #4105
@kauffj Ok sorry to delay this. I think this is maybe too much for being new to the project for me to bit off. If anyone else wants to work on this please do.

[2020-05-09 16:03] kauffj commented on #4105
@jtwebman all good, thank you for attempting the challenge :grin:

I hope you are enjoying LBRY

[2020-05-09 17:22] jtwebman commented on #4105
I do very much and will keep trying to help out. It just been a long time since I have worked on the frontend.

[2020-05-09 17:51] btzr-io commented on #4105
I'm working on some minor improvements to the markdown editor, if nobody picks this one, I'll give it a try, either way I can provide help if needed :v:

[2020-05-09 22:01] btzr-io opened #4163 "Inconsistent syles of markdown editor"
**Bug**
- [ ] Inconsistent selected text styles
- [ ] The current font is hard to read and there is no need for it ( monospace )
- [ ] Inconsistent cursor color on dark theme, its hard to see.
- [ ] Hyperlinks on markdown hard to read in dark mode #3468
- [ ] Dark theme for markdown editor #4154

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Publish area'
2. Use the markdown editor

[2020-05-10 04:57] btzr-io commented on #4154
This will be a tedious process, since codemirror classes are mixed / overwrited by easymde

[2020-05-10 12:16] HarshKhandeparkar opened #4166 "Outdated CONTRIBUTING File"
### First Timers Only
This issue is reserved for people who haven't contributed to our codebase before, or never contributed to Open Source. [About First Timers Only](https://www.firsttimersonly.com/).

We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

If you have contributed before, **consider leaving this one for someone new

[2020-05-10 12:16] HarshKhandeparkar commented on #4149
Moved to #4166

[2020-05-10 12:16] #4149 closed

[2020-05-10 20:52] btzr-io opened #4167 "Can't drag and drop text on inputs"
**Bug**
Drag and drop text is not allowed on text inputs / fileds.

**To Reproduce**
Steps to reproduce the behavior:
1. Select and drag some text
2. Drop it on the search bar or any text input ( publish area, comments )
3. See error

**Expected behavior**
Text should appear on the drop target ( default behavior ).

[2020-05-11 03:00] jcalfee opened #4169 "Update snap"
**Bug**
Snap is out of date

**To Reproduce**
Steps to reproduce the behavior:
1. sudo snap refresh
2. lbry
3. UI says "Upgrade is ready", the "install" button does not upgrade

![image](https://user-images.githubusercontent.com/204121/81520261-6bc0af00-9309-11ea-87fc-1c6e8db9642a.png)

**Expected behavior**
Update snap please

**System Configuration**

- LBRY Daemon version:0.38.5
- LBRY App vers

[2020-05-11 03:07] tzarebczan commented on #4169
The snap is community run, we'll reach out to maintainer and get it added to the readme. Sorry for the trouble.

For best results with auto update, we'd recommend the aur.

[2020-05-11 03:07] #4169 closed

[2020-05-11 06:45] imanishbarnwal commented on #4166
Hello, @HarshKhandeparkar I want to take this issue I am new in this open-source community. But I just doubt like will remove all the broken links but after removing it from which link I have to update it means where do I get working links. Thank You!

[2020-05-11 06:48] HarshKhandeparkar commented on #4166
We are not sure whether there are broken links. Besides, you can always ask
here in the chat. We are eveready to help you. Welcome to the community!
Please go ahead and work on this. Thank you.

On Mon, 11 May, 2020, 12:15 PM Manish Kumar Barnwal, <
notifications@github.com> wrote:

[2020-05-11 06:55] imanishbarnwal commented on #4166
Okay,

Okay, I just need to update them with new links. If stuck somewhere will definitely comment here. Thanks.

[2020-05-11 08:36] infinite-persistence commented on #3465
I'll give this a shot.

[2020-05-11 09:26] infinite-persistence opened #4173 "Message in `I18nMessage` not translated correctly"
In the error message below, it appears in English, but the embedded link was translated.

![partial](https://user-images.githubusercontent.com/64950861/81545497-8f3c3600-93ab-11ea-95ce-7174b9e110f2.png)

The string is part of `app-string.json` and has been translated. But since it was used in a `I18nMessage`, I'm guessing the string substitution doesn't work there?

[code]
I then tried encapsulati

[2020-05-11 10:56] imanishbarnwal commented on #4166
I am not able to merge my PR it shows # merging is blocked. Can you help in this? @HarshKhandeparkar

[2020-05-11 10:58] HarshKhandeparkar commented on #4166
Your PR will be merged by a maintainer after reviewing.

On Mon, 11 May, 2020, 4:26 PM Manish Kumar Barnwal, <
notifications@github.com> wrote:

[2020-05-11 13:15] tzarebczan commented on #4173
Thanks for spotting and opening the issue! Maybe @seanyesmunt can point you in the right direction.

[2020-05-11 13:25] #4047 closed

[2020-05-11 13:25] tzarebczan opened #4174 "reset media position when at the end of video"
If you get to the end of a video, it stores that video position on refresh and makes you click the rewind button.

@jeffslofish wanna take this one?

[2020-05-11 13:28] seanyesmunt commented on #2750
We should `setPlayingUri(null)` when you click the edit button

[2020-05-11 13:44] #2390 closed

[2020-05-11 13:51] tzarebczan opened #4175 "mobile view - loading icon / accessibility selection / long URL issues"
See below -

![image](https://user-images.githubusercontent.com/8120721/81569247-08686880-936d-11ea-98f3-088d2cccdf9b.png)

![image](https://user-images.githubusercontent.com/8120721/81569239-056d7800-936d-11ea-83ad-6aa7a67ec445.png)

[2020-05-11 14:01] HarshKhandeparkar commented on #4166
Fixed via #4171

[2020-05-11 14:01] #4166 closed

[2020-05-11 14:09] #3972 closed

[2020-05-11 14:53] seanyesmunt commented on #4175
Fixed the long title overlaps with #4176 (and removed the image/edited the issue title)

[2020-05-11 15:11] tzarebczan opened #4177 "Only show "start at" on share page for videos/audio"
Right now we are showing it on the channel share page and for content that's non-video/audio

[2020-05-11 16:32] #4070 closed

[2020-05-11 17:25] mikadoplus commented on #508
Hi, already someone working on this ? I could work on it if it's ok, even though it's not a top priority.

[2020-05-11 17:45] seanyesmunt commented on #508
No one is working on this @mikadoplus. It's all yours! I'd love to have this in the app

[2020-05-11 17:57] tzarebczan opened #4178 "app crash - Reduce of empty array with no initial value"
Not sure where this happens yet, but it could be around comments/invites without having a channel. See it come up often in the logs recently.

Most likely from here per https://sentry.lbry.tech/organizations/lbry/issues/1631/?query=is%3Aunresolved+Reduce+of+empty+array+with+no+initial+value&statsPeriod=14d
[code]

[2020-05-11 18:08] mikadoplus commented on #508
Thanks @seanyesmunt, just not sure about Airplay, will continue to investigate on it, but Chromecast shouldn't be an issue. Let's dive into this ^^.

[2020-05-11 18:11] seanyesmunt commented on #508
No worries, just ignore Airplay for now. Chromecast support can be added first.

[2020-05-11 18:13] tzarebczan opened #4179 "Improve labeling on creator analytics page"
From:https://www.reddit.com/r/lbry/comments/gg3apy/a_pile_of_suggestions_for_the_lbry_interface/

"Your Recent Content" and "Most Viewed Content" should maybe be labeled more clearly. I currently have the same item showing in each section. Is it basically "Most popular this week" and "Most popular all time"? I know this is a new feature.

[2020-05-11 18:16] tzarebczan opened #4180 "Publish page improvements"
https://www.reddit.com/r/lbry/comments/gg3apy/a_pile_of_suggestions_for_the_lbry_interface/ (12)

- [ ] Add hyperlink to lbry.com/faq/content somewhere to spell out what content is allowed to be uploaded

- [ ] Add hyperlink to https://lbry.com/faq/thumbnails-and-covers near thumbnails (and also on channel edit page)

- [ ] save last used channel

- [ ] move tags below name/channel?

- [ ] hyperli

[2020-05-11 18:18] tzarebczan opened #4181 "Direct publish page, remove New Channel from drop down?"
From https://www.reddit.com/r/lbry/comments/gg3apy/a_pile_of_suggestions_for_the_lbry_interface/

They can already get to the new channel page from the My Channels area and publish page.

13) In the top navigation bar, I don't know why you need the Publish button to have "New Channel" under it. That's not something people need to do often, and it can be done directly from the Publish page anyway,

[2020-05-11 18:23] kauffj commented on #508
You will be a hero to the community if you add this @mikadoplus! This is one of the most requested features we haven't had the bandwidth for yet

[2020-05-11 18:34] kauffj opened #4182 "Add age confirmation on opting in to mature"
When selecting checkbox to show mature, ask for birthday before apply the change.

Birthday must be above configurable age value.

Leave space for help text that I will finalize that makes clear this is for regulatory compliance and not stored.

[2020-05-11 18:39] kauffj commented on #3903
this is a pretty subpar and terrifying initial screen to see after logging in (no channels, no balance, etc.)

![Screenshot from 2020-05-11 14-37-39](https://user-images.githubusercontent.com/530774/81598352-25b12d00-9395-11ea-931c-5c98fe35cc31.png)

[2020-05-11 18:54] #4124 closed

[2020-05-11 19:04] tzarebczan commented on #2796
I don't think the initial load checks the balance until you try changing it also - and that coupled with no error message is ugly.

[2020-05-11 19:06] #2780 closed

[2020-05-11 19:34] tzarebczan commented on #4146
Live on lbry.tv!

[2020-05-11 19:34] #4146 closed

[2020-05-11 19:36] kauffj opened #4184 "Purchase integration"

[2020-05-12 20:04] tzarebczan opened #4187 "Add languages and locations to channel edit"
You can set multiple languages and locations, please see SDK API for reference. We may want to limit the # a user can add.

[2020-05-12 22:44] littlemadhatter opened #4188 "More security features"
**Is your feature request related to a problem? Please describe.**
I'd like to see more security options to protect one's account

**Describe the solution you'd like**
Options to disable magic link, disable password reset when signing in, 2FA and/or require password every time you come back to the app/web (like a auto-sign out option)

**Describe alternatives you've considered**
None

**Additional

[2020-05-13 14:18] #2777 closed

[2020-05-13 14:18] #4141 closed

[2020-05-13 15:13] tzarebczan commented on #4188
Thanks for opening the issue! I'll file our API side work to get the magic link disabled, and some of the other features are on our long term roadmap.

[2020-05-13 15:49] seanyesmunt commented on #4062
Commenting to remind myself to update `src` handling for referrals

[2020-05-14 13:14] cassidypignatello commented on #3870
I've been able to reproduce this in both the app and on Chrome. It's my understanding that the default spacebar behavior in most browsers is to scroll down when the miniplayer isn't in focus. However, as soon as the miniplayer is brought back into focus it only pauses the video.

I think the best way to handle this would be to add an event listener that would disable the default behavior if a user

[2020-05-14 16:20] kauffj commented on #4105
@btzr-io would love to see you try this one, it's very desired feature https://twitter.com/squidlord/status/1260967812383805441

The bounty promised above still stands, worth about $2500 for someone to do this right now

[2020-05-14 18:15] btzr-io commented on #4105
@kauffj Ok, I can give it a try 👍

[2020-05-14 19:34] tzarebczan commented on #4174
Also worse with autoplay

[2020-05-14 22:19] jeffslofish commented on #4174
I'm looking into it now

[2020-05-15 00:30] lunodin opened #4191 "clipboard bug"
![1](https://user-images.githubusercontent.com/64392671/81998825-10b9ef80-965c-11ea-87c0-0415e6e3ae3a.jpg)
![2](https://user-images.githubusercontent.com/64392671/81998830-11eb1c80-965c-11ea-8b5a-0fdbaec943af.jpg)

*Buffer can be done using empty characters*
I assume that an attacker could execute malicious code.

My gmail: @falertoll

[2020-05-15 00:32] lunodin commented on #4191
Buffer can be done using empty characters
I assume that an attacker could execute malicious code.

My gmail: @falertoll

[2020-05-15 00:32] tzarebczan commented on #4191
Thanks for opening the issue - can you give us more information as to what the attack would be and what claims the above are?

[2020-05-15 00:43] Suisse00 opened #4192 "[French] Following menu/page title not great"
### What is to be done?
Hi!
You use the translation key `Following` as for the menu option AND page title to list videos from your subscriptions.

- In french, if we are using the same word, it would need to be plural in this specific case. Which we can't because it would also change the button in a channel that allow you to follow/unfollow.

  Alternatively, we could use another word like `Subscr

[2020-05-15 03:52] jeffslofish commented on #4177
I'll take a look at this

[2020-05-15 03:55] lunodin commented on #4191
I dont know. This is at the discretion of the attacker.

[2020-05-15 13:45] #3465 closed

[2020-05-15 13:51] #4174 closed

[2020-05-15 13:52] #4177 closed

[2020-05-15 14:37] #4145 closed

[2020-05-15 16:59] tzarebczan commented on #4191
It would just fail, I don't think there's any issue here.

[2020-05-15 16:59] #4191 closed

[2020-05-15 17:00] tzarebczan commented on #4192
Thanks for filing this issue! Would you want to take a shot at fixing it?

[2020-05-15 18:01] btzr-io commented on #4105
Initail refactioring for the filePublish `component` done here: https://github.com/lbryio/lbry-desktop/pull/4170, now it should be easy to set the current file from any component.

[2020-05-15 18:53] tzarebczan opened #4198 "time incorrect (shows Aug vs Sept) on file page"
lbry://@sean#e2/mp3#e

release time is 1537385210 which is Sept 19

[2020-05-15 20:23] TigerxWood opened #4199 "Create the posibility to remove the inexistent blocked channels"
#### Issue Summary

Currently in the window where you can manage the blocked channels there is no possibility to delete the channels that no longer exist.

![Blocked_channels](https://user-images.githubusercontent.com/29385229/82092710-7496f380-9702-11ea-9138-aac7f10f6a9d.jpg)

[2020-05-15 20:32] TigerxWood commented on #4199
Thanks for the transfer, I didn't know or maybe can't remove from lbry.com and move to desktop.

[2020-05-16 00:25] Suisse00 commented on #4192
I could, however, I just need a hint of what to use in english.

[2020-05-16 03:40] jeffslofish commented on #4150
It appears that both the native and videojs controls are hidden. I think we should show one or the other. I believe the video is not playing when you try to autoplay a non-muted video in iOS, so if the controls were there, the user could manually start the video.

If we want to show native controls, we need to add

`
html5: {
    nativeControlsForTouch: true,
},
`
here: https://github.com/lbryio/l

[2020-05-16 05:27] jeffslofish commented on #4052
I'm working on this now.

[2020-05-16 07:48] jeffslofish commented on #4052
What if we have a button on the wallet page called "Detailed History" that takes you to the old transactions page which has all the transaction list data. Or did you want to display the transaction list data right on the wallet page? I have the former working right now ... it would take some more work to display it on the wallet page.

![Screen Shot 2020-05-16 at 12 40 59 AM](https://user-images.g

[2020-05-16 13:17] infinite-persistence opened #4202 "Odd "file is now" text appearing incorrectly in translated Upload Success dialog."
![bug](https://user-images.githubusercontent.com/64950861/82120616-feee5e80-97b9-11ea-91de-ad135472b173.png)

For reference, the following is the translation.  The variable needed to be moved to the front, and I believe it was done correctly, so I don't think this is causing the substitution error.

![translation](https://user-images.githubusercontent.com/64950861/82120652-4e348f00-97ba-11ea-889e-

[2020-05-17 10:25] #4188 closed

[2020-05-17 16:00] jeffslofish opened #4205 "Cannot create a new channel in mobile view"
**Bug**
When the screen width is below 900px, there is no way to create a channel, except from the publish page. The "New Channel" button disappears at 900px from the channels page. Also, there is no "New Channel" menu item in the mobile menu.

**To Reproduce**
Steps to reproduce the behavior:
1. On a device with less than 900px width, Go to https://lbry.tv/$/channels
2. Notice that there is no "N

[2020-05-17 20:29] jeffslofish commented on #4017
Looking into this...

[2020-05-17 22:29] jeffslofish commented on #4017
Pull request submitted =)

[2020-05-18 02:42] jeffslofish opened #4207 "Should be able to double-click in header of app to maximize window"
**Is your feature request related to a problem? Please describe.**
There is no easy way to maximize the app window without going into "full screen" mode.

**Describe the solution you'd like**
I would like to be able to maximize the app window (but not use "full screen" mode) without having to drag the app window to the upper-left of my screen and then drag the lower-right corner of the app to the

[2020-05-18 02:42] jeffslofish commented on #4207
I'm looking into this now...

[2020-05-18 05:54] jeffslofish opened #4209 "Can't select text in wunderbar by dragging cursor over it in app"
**Bug**
Normally you can select text by dragging the cursor over the text and highlighting it. However, in the wunderbar if you try to do this, it acts like you are grabbing the app and the entire app moves across the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Enter some text in the wunderbar
3. Attempt to select it by dragging over the text with the cursor
4. Wa

[2020-05-18 05:54] jeffslofish commented on #4209
Looking into this now...

[2020-05-18 06:29] jeffslofish commented on #2903
Looking into this...

[2020-05-18 13:57] seanyesmunt commented on #4150
That sounds good. I don't see the video-js controls on my iPhone, maybe iPad doesn't show it's own native controls unless that flag is passed in?

[2020-05-18 13:58] #2750 closed

[2020-05-18 18:19] tzarebczan opened #4213 "ensure user/me called after after email verification"
We have some users that get whitelisted for rewards, but then they still go through the rewards verification process - I'm guessing this is because we didn't properly update user/me when they confirm the email or maybe it fails? Before proceeding with reward verification, check user me again?

[2020-05-18 18:38] tzarebczan opened #4214 "Refresh on publish page does not have loading indicator"
When you click the refresh button, it may not seem like anything is happening because we don't show a loading indicator.

[2020-05-18 18:46] e4drcf commented on #895
may be it's time to close this issue?)
it's in the master already)

[2020-05-18 21:26] kauffj commented on #2903
Oops, I actually researched this when doing some weekend hacking and never updated the ticket.

I believe if you update the core Electron dependency that this will work again.

[2020-05-18 23:43] TigerxWood commented on #4207
I tested in Windows. So far it seems it works here too.

[2020-05-19 06:07] infinite-persistence commented on #3859
Seems like issue is no longer present in `0.45.2`, both in Linux and Windows.

[2020-05-19 07:41] infinite-persistence opened #4216 "ctrl+p shortcut for Toggle Markdown Preview doesn't work after help is invoked"
**Bug**
When editing a published claim, the `ctrl+p` shortcut for `Toggle Preview` stops working if `Markdown Guide` is clicked. However, it will be operational again if the button is clicked via mouse.

**To Reproduce**
1. Click `Edit` on a published claim.
2. In the `Description` section with _Advanced Editor_ active, hit `ctrl+p` several times -- you should see the markdown preview being toggle

[2020-05-19 07:49] infinite-persistence opened #4217 "Canceling an Edit for a published claim doesn't return to claim's page"
**Bug**
Canceling an Edit session for a published claim doesn't return to the claim's page.  Instead, it just gives you an empty "Publish" page.

**To Reproduce**
1. Go to `Publishes` and click on any of your existing posts/claims.
2. Click `Edit`.
3. Go all the way down and click `Cancel`.

**Expected behavior**
It should return to the previous page instead of giving me a new Publish page.  The u

[2020-05-19 14:43] mikadoplus commented on #508
Just teasing...

<img width="1430" alt="cast_teasing" src="https://user-images.githubusercontent.com/53256355/82340642-c041e980-99ef-11ea-8195-7b03cff85f8b.png">

[2020-05-19 14:45] mikadoplus commented on #508
Just teasing a bit ...

<img width="1430" alt="cast_teasing" src="https://user-images.githubusercontent.com/53256355/82340920-157dfb00-99f0-11ea-8008-ea17a3808726.png">

[2020-05-19 14:56] paju1986 opened #4218 "Add price value min & max filter to search"
It would be great to have a min/max price value filter on searchs so you can search at a specific price range.

Thanks you!

[2020-05-19 15:09] seanyesmunt commented on #508
@mikadoplus Awesome!!

[2020-05-19 19:26] tzarebczan commented on #4218
Thanks for the feature request. We'll be adding free vs paid to our next release and will iterate on that. Right now we can't do a range also.

[2020-05-19 19:26] #4218 closed

[2020-05-19 19:27] tzarebczan commented on #4217
Thanks for the issue, probably does make sense to go back.

[2020-05-19 19:28] tzarebczan commented on #4216
Thank you for filing!

[2020-05-19 23:24] tzarebczan opened #4220 "[moble] show time left / progress on video player bar"
If the screen size is small, it hides the video progress doesn't show. Used to show both time left/progress, but this did take up lots of real estate.

[2020-05-19 23:46] kauffj commented on #4052
Can we instead do this in a way that you "toggle" between extra details mode?

I dislike two distinct pagination methods that are 80% similar pretty strongly from a UX perspective.

[2020-05-20 12:26] infinite-persistence commented on #3081
Seems like a good way to explore the code.  I'd like to try this if it's still wanted :)

[2020-05-20 16:10] tzarebczan opened #4221 "Improve publishes page after deleting a video (from publishes page > content)"
Sometimes it still appears on the publishes page  (if claim list is called too quickly)

[2020-05-20 18:21] tzarebczan opened #4222 "[Desktop] Autoplay next gets stuck at loading"
Sometimes (most of the time for some people), autoplay next will go to the next file, then call file list (returns blank), and not call get - so it gets stuck at the loading screen. If you had downloaded the next file already, it would play.

[2020-05-20 19:59] tzarebczan commented on #3081
Yes, that would be awesome, thank you!

[2020-05-20 20:11] #3875 closed

[2020-05-20 20:12] kauffj commented on #695
@seanyesmunt https://github.com/lbryio/internal-apis/pull/1326 will make 6 existing notifications consumable via API and make it much easier to add new ones whenever we want

Expect work to begin on this next week if we can find the time (and we probably should)

[2020-05-21 05:47] jeffslofish commented on #2903
The PDF issue in Electron was fixed in 9.0.0, which was recently released. There are some deprecations and other changes that require more changes in the code than just setting the Electron dependency to 9.0.0.

**Here is what I did to get PDFs to work in the app**:

1. Update core Electron dependency to 9.0.0
2. Set the nodeIntegration option to true (because it now defaults to false) under webPr

[2020-05-21 16:14] jsigwart opened #4225 "Add ability to support language subsets i18n"
We have Chinese in our language selection (zh) but a community member really wants to add Taiwanese (zh_tw) to the app and gave a good description how it differs and is a legit request. Right now we don't support the languages on Transifex that have the underscore in their language code.

[2020-05-21 17:24] #4209 closed

[2020-05-21 17:28] #4017 closed

[2020-05-21 17:28] #4150 closed

[2020-05-22 02:51] jeffslofish commented on #4052
Is this more along the lines you were thinking?

https://open.lbry.com/@jeffslofish:7/wallet-history-test-2:3

[2020-05-22 09:30] infinite-persistence commented on #3776
Would like to give this a shot if it's still valid (seems like some parts have been implemented).

Questions:

1. By `status bar`, do you mean you would like to see an introduction of a bottom status bar (either a permanent one like in old Windows apps, or a transient one like in Google Chrome)?
2. I noticed that some hyperlinks already support `right click > copy link`, but there seems to be a fe

[2020-05-22 13:35] tzarebczan opened #4231 "paid content fall out"
- [x] show price on embeds (both markdown and external)
- [x] Handle purchase prompt from embeds - only prompts sometimes, other times it just makes you pay
- [ ] improving paid embed display as lbry.tv driver / purchase flow
- [x] if you click purchase and then cancel, you get a black screen with loading indicator

[2020-05-22 17:11] chron0 commented on #4017
Seems to be working now in chromium on linux as well. Thanks a lot!

[2020-05-22 19:56] kauffj commented on #4052
@jeffslofish yes. Additional comments:

- Would like a shorter label. If all that is added is fees, it can be labeled "Show Fees"
- Ideally height would not "jump" when toggling. Can we show a busy indicator without trashing the current results?
- The table looks like it could be smarter about widths (existing issue, but while you're there... :grin:)
- Can the flow to export be presented as one si

[2020-05-22 19:56] kauffj commented on #4052
@jeffslofish also, if you ever want prompt UI feedback, do not hesitate to @ me in Slack. I will almost always see and answer GitHub messages too, but I process these as low priority emails.

[2020-05-22 21:47] tzarebczan commented on #3776
Thanks for doing some digging!
1) I'd say a transient one like Chrome
2) I'd say anything that's a hyperlink can be right clicked > copied.  The copy link has a bug too - it needs to replace # with : for the URLs. The right click is greyed out by mistake most likely.
3) external ones should copy https:// urls, whereas the internal ones, like channel, should copy the lbry:// url? Does that make sen

[2020-05-23 07:38] probonopd opened #4236 "xdg-settings: default-url-scheme-handler not implemented for xfce"
**Bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to run LBRY_0.43.3.AppImage
2. See error

**Expected behavior**

The application runs

**Screenshots**

![](https://user-images.githubusercontent.com/2480569/82724785-22d50700-9cc8-11ea-8ce8-ef197cefd7c2.png)

**System Configuration**

- LBRY Daemon version: LBRY_0.43.3.AppImage
-

[2020-05-23 07:40] probonopd commented on #4236
0.45.2 also does not run:

[code]

[2020-05-24 02:28] bit4man opened #4237 "Chromebook app fails to start"
After having install the lbry app and configured it, everything looked fine. A few days later, I try to re-launch the app, and it just fails loading after I enter my key-password.  Repeatably hitting reload just goes to the same screen.  I'm unable to determine what version of the app is running.

[2020-05-24 14:11] tzarebczan commented on #4237
Sorry about the trouble. Which app are you running?
Have you tried rebooting the machine?

Can you send us your log file to hello@lbry.com https://lbry.com/faq/how-to-find-lbry-log-file

[2020-05-24 14:11] #4237 closed

[2020-05-24 22:16] infinite-persistence commented on #4173
I think I found the culprit.  PR coming up...

[2020-05-24 22:56] infinite-persistence commented on #4202
Ah, found the culprit -- the variable just wasn't localized with `__( )`.

The fix would be trivial, but I think a better fix would be to not break apart the strings for the translators.  #4239, if approved, would fix this.

[2020-05-25 08:19] infinite-persistence opened #4240 "Data loss: Don't clear comment field if failed to post"
**Bug**
I get `Unable to create comment, please try again later.` **quite frequently**.
The comment that I just entered, which could be paragraphs long or full with markdown formatting, should not be cleared in this event to avoid having to re-type everything again.

**To Reproduce**
I don't know how to reproduce the failure -- it just occurs quite frequently for me.  Looking at the log file, I se

[2020-05-25 11:10] infinite-persistence opened #4241 "Markdown "Quotes" display in Desktop is bad"
**Bug**
The markdown Quotes look bad in the Desktop.  It looks correct in lbry.tv.  Here's a comparison of a comment section of the same page:
![image](https://user-images.githubusercontent.com/64950861/82807523-80c94080-9eba-11ea-9f6d-553eb4357521.png)
**Expected behavior**
Minor differences between platforms should be ok, but the extra spaces is really odd.

**System Configuration**
[code]

[2020-05-25 14:14] #4125 closed

[2020-05-25 14:14] #4182 closed

[2020-05-25 14:14] #4184 closed

[2020-05-25 14:18] #4173 closed

[2020-05-25 14:32] #3081 closed

[2020-05-25 19:00] #4207 closed

[2020-05-25 19:22] #4069 closed

[2020-05-25 19:24] btzr-io commented on #4241
duplicate of **Extra spacing in markdown quotes in comments** #3522

It should be fixed on `master`.

[2020-05-25 19:29] infinite-persistence commented on #4241
Sorry, I wasn't thorough enough in my github search.  Works fine in today's `master`.

[2020-05-25 19:33] kauffj opened #4243 "commenting elitism experiment"

[2020-05-25 19:42] kauffj commented on #695
@sean ensure it works as intended

[2020-05-25 21:18] #895 closed

[2020-05-25 21:41] jeff-hykin commented on #622
This is a killer feature for switching from YouTube, at least for me. I use it to que additional videos while a video is playing.

If time permits me to learn the codebase, I have the background for helping with a PR. Guidance/status update on this issue would be helpful.

I just found lbry today. The fact that I can find this issue for a feature (instead of submitting feedback to who-knows-where)

[2020-05-26 12:21] infinite-persistence commented on #4240
This only impacts the "Simple Editor".  The latest `master` includes the Advanced Editor, which seems to retain the data well.

[2020-05-26 15:44] infinite-persistence commented on #3930
Similarly, a long comment without any spaces will cause the same problem.  A real-life example could be a long URL pasted into the comments section (I wanted to try it out, but seems like the comment system is dead currently).
![image](https://user-images.githubusercontent.com/64950861/82920882-738b7f00-9faa-11ea-8c70-0986f315328f.png)
Japanese characters (without spaces) seems to flow, however.

[2020-05-26 16:30] mikadoplus commented on #508
So in order to go further with this, I created a commit for this feature.

https://github.com/mikadoplus/lbry-desktop/commit/4312afb92006c5ec58968759820b739c6e94aa64

There is a free room for improvements, but let's see it as a start and see if everything works fine. Although I must say that in my local dev version of lbry I wasn't able to play any video since they are behind a localhost source. N

[2020-05-26 16:38] #4140 closed

[2020-05-26 16:39] tzarebczan commented on #4236
Thanks for filing. The latest should be working - can you try it again?

[2020-05-26 16:49] probonopd commented on #4236
[code]

[2020-05-26 17:14] #4231 closed

[2020-05-26 20:22] seanyesmunt commented on #622
Hey @jeff-hykin !

This feature is on hold until we have a plan for playlists
https://github.com/lbryio/lbry-desktop/issues/1982

Once we have a way to build proper playlists, then it will be simple to create a new "watch later" playlist.

[2020-05-26 20:23] seanyesmunt commented on #508
@mikadoplus can you create a PR with that commit so it's easier to see the diff?

[2020-05-26 22:59] mikadoplus commented on #508
@seanyesmunt done https://github.com/lbryio/lbry-desktop/pull/4252

[2020-05-26 23:25] davidpgil commented on #3767
I have experienced this issue!

The delete button allows me to delete the video (yes a window pops up confirming this) but then if i browse my library the the reference to the video is still there. When i click on the video link again, the trash bin is gone. if i play the video, it downloads again, repeating the issue.

[2020-05-26 23:51] kauffj commented on #622
If @jeff-hykin wants to work on this, IMO there'd be no problem with storing watch later in your local settings (ideally wallet) to start. While we do need to build out playlists generally, proper playlists will require spending LBC (even if a small amount), since it is a publish.

I'm not sure watch later should work that way. So if a first version was just a button/element that pushed to local w

[2020-05-27 05:08] infinite-persistence commented on #3641
_This seems related, so I'm putting it here instead of submitting a new one_
### Issue:
I noticed recently that Desktop always starts in English.  I seldom get to see "Spin Spin Sugar" in it's translated form.

[2020-05-27 13:06] Acid147 opened #4255 "Markdown line breaks don't work"
**Bug**
Markdown line breaks (with a backslash at the end of the line) don't show up as line breaks. Instead, backslashes are displayed. I haven't tested if the behavior is the same for two spaces at the end of a line.

**To Reproduce**
Create and publish a Markdown document with a backslash at the end of a line and another line following it without extra spaces between those lines.

**Expected be

[2020-05-27 17:20] #350 closed

[2020-05-27 17:25] #3466 closed

[2020-05-27 17:26] #1489 closed

[2020-05-27 18:06] infinite-persistence commented on #3752
In retrospec, I believe the issue is now fixed through https://github.com/lbryio/lbry-desktop/pull/4238.

[2020-05-27 19:35] seanyesmunt opened #4257 "Drag and drop for thumbnails too"
We have drag n drop for files. If a user is on the publish page and tries to drag n drop their thumbnail, they could accidentally replace the file they are trying to publish.

Maybe there should be a special modal when you are on the publish page? One that allows choosing to drop a file or thumbnail.

[2020-05-28 03:30] jeff-hykin commented on #622
@seanyesmunt that's great to hear! Thanks for the update.

[2020-05-28 03:50] jeff-hykin commented on #622
@kauffj LocalStorage on the web would be a breeze to implement on my side. I'm not sure how that would work with your mobile software stack, and I'll have to get more familiar with the wallet.

It's just a "play next" buffer that would take priority over the existing autoplay, so temporary storage would work fine. I only use the YouTube "watch later" playlist as a makeshift solution. The most comm

[2020-05-28 13:50] #4202 closed

[2020-05-28 13:53] seanyesmunt commented on #622
@jeff-hykin we already have a (semi-broken atm) system in place to sync data between devices. All you need to do is add it to the redux store, then add that key in a few other places.

Maybe you could start by creating a `watchLater` reducer? It would just need to store a list of lbry URLs, and would need actions to add to the end of the list, and remove from the front of the list.

[2020-05-28 14:05] seanyesmunt opened #4258 "Add a way to "quick {tip, support}""
Idea from discord

Maybe this could be a thumbs up or, an extension of the tip button. But the idea is to have it setup to tip x lbc without needing confirmation, where x is some value set in settings, or on the tip modal.

[2020-05-28 15:39] #3134 closed

[2020-05-28 16:01] infinite-persistence commented on #3776
Adding PR for the Status Bar...

[2020-05-28 17:46] seanyesmunt commented on #4044
This should be fixed in next version

[2020-05-28 17:46] #4044 closed

[2020-05-28 19:25] marrie commented on #4044
Yep. It almost is accessible. The only issue now is the button is
mislabeled on mac os, I have not yet tried this on windows yet. But from
my testing, it  is 99 percent of the way there. Thanks so much.

[2020-05-28 19:31] seanyesmunt commented on #4044
@marrie Which button is mislabled? I'll fix that right now.

[2020-05-28 19:35] marrie commented on #4044
Thanks, when you go to the tips section on a video, expand it, then
curser through the table to the tips seciton, there is a link and a
button that says somethingn like object button. You will have to use
voiceover to see the label. I have not tested this with NVDA as of yet.
Here's hoping though that will fix both nvda and voiceover labeling
issues. I can't code, I just brake, I mean test things.

[2020-05-28 21:40] btzr-io commented on #4105
Those the bounty still stands ?

[2020-05-28 22:16] kauffj commented on #4105
@btzr-io yes, bounty still stands. Would love to give it to someone I already know is talented :stuck_out_tongue:

[2020-05-29 10:55] infinite-persistence commented on #3751
In today's code, the `alt` text has been removed, so it looks somewhat ok.  The only issue left is probably the default "broken image" picture not fitting the theme, and that the empty space could be improved.

With `img:after`, we could paint over the section with minimal code.  It works on Desktop, but I believe some browsers don't support it, so it might not work in lbry.tv.  However, it should

[2020-05-29 13:15] r-hmn opened #4284 "an "open.lbry.com" url-redirect to "lbry.tv" fails because of a upper/lowercase issue"
**Bug**
I paste an "open.lbry.com" link in a browser, and the link ends up on the wrong "lbry.tv" page, because of an upper/lowercase issue.

**To Reproduce**
0. i copied an url from a video thumbnail in the Windows LBRY 0.45.2 desktop app.

1.  paste that link in a browser
https://open.lbry.com/@Fasting#a/Why-Dry-Fasting-Health-Benefits,-OMAD,-Ketosis,-Metabolic-Water,-BMR#4

2. notice the redire

[2020-05-29 23:59] apenasrr opened #4288 "Add different resolution options for the same video, using user processing power"
**Is your feature request related to a problem? Please describe.**
I opened this suggestion to go a little deeper into this [another suggestion](https://github.com/lbryio/lbry-desktop/issues/3478) made in the past by [@Tcll](https://github.com/Tcll) and to suggest in detail, a way for its application.

Many people have difficulty and are sometimes technically unable to watch a video with a higher

[2020-05-30 14:41] Editiano commented on #4258
My reward was locked again how to recovery

[2020-05-31 01:45] Suisse00 opened #4291 "Bid text message when publishing on your own channel may confuse people"
**Bug**
**WARNING:** I'm not a user of lbry. Please double check this is indeed a "bug"/could be hidden and if there is more that should be hidden (like the deposit form? I don't think)

**To Reproduce**
Steps to reproduce the behavior:
1. Go on the publish windows
2. Fill the form so you can select a channel
3. Select a channel you own
4. In the next block (the one about both the effective URL an

[2020-05-31 05:47] infinite-persistence commented on #4154
Hi, do you still want help for this one?

[2020-06-01 02:01] Invariant-Change commented on #3575
More info: https://github.com/lbryio/lbrytv/issues/230

[2020-06-01 02:14] Invariant-Change commented on #3575
I couldn't find where the meta/OG tags were generated in the SDK. Can anyone point me in the right direction?

[2020-06-01 02:51] ingridxx commented on #4192
I agree with @Suisse00 that in the menu bar, using `subscriptions` as a translation key would be more appropriate when translated into french (Abonnements).

[2020-06-01 14:03] tzarebczan commented on #4291
Since URLs resolve at both channel paths and ones without a channel, we still show this message regardless. Someone may want to know what the highest bid at a URL is regardless of it they are using a channel or not.

[2020-06-01 14:03] #4291 closed

[2020-06-01 14:06] tzarebczan commented on #4284
Thanks for opening this issue. Where did you grab that URL from? Since URLs don't support #, we use : instead on our share pages.

[2020-06-01 14:06] #4284 closed

[2020-06-01 14:06] tzarebczan commented on #4255
Thanks for filing this issue! @btzr-io wanna take a look and keep in mind for the advanced markdown creator?

[2020-06-01 14:07] tzarebczan opened #4293 "Better download link support"
It's impossible right now to get a download URL for non-video content.

- [ ] make it so you can right click a download button > copy download URL
- [ ] in share dialog, show download URL to copy for non-video content

[2020-06-01 16:50] #3983 closed

[2020-06-01 18:56] infinite-persistence opened #4295 "Channel deletion confirmation does not work"
**Bug/To Reproduce**
When deleting a channel, there will be a confirmation dialog asking the user to type the name of the channel to prevent accidental deletion.  I just typed `dsfdsafdsfsaff` and it still went through  T_T

**Expected behavior**
Cancel the deletion since the strings did not match.

**System Configuration**
[code]

[2020-06-01 19:24] #2560 closed

[2020-06-01 19:24] tzarebczan commented on #4295
Good catch, it definitely used to work!

[2020-06-01 19:24] kauffj commented on #580
Use #4018

[2020-06-01 19:24] #580 closed

[2020-06-01 19:25] tzarebczan commented on #4179
This was fixed

[2020-06-01 19:25] #4179 closed

[2020-06-01 19:25] tzarebczan commented on #4139
This was fixed

[2020-06-01 19:25] #4139 closed

[2020-06-01 19:25] kauffj commented on #1216
Using #4018

[2020-06-01 19:25] #1216 closed

[2020-06-01 19:26] tzarebczan commented on #3822
Also consider comments in https://github.com/lbryio/lbry-desktop/issues/4118

[2020-06-01 19:26] tzarebczan commented on #4099
This is now available.

[2020-06-01 19:26] #4099 closed

[2020-06-01 19:27] tzarebczan commented on #4288
Thanks for the issue, we have this filed under https://github.com/lbryio/lbry-desktop/issues/3878

[2020-06-01 19:27] #4288 closed

[2020-06-01 22:12] Suisse00 opened #4296 "Missing requirement to build from source (python)"
**Bug**
I'm trying to build the projet on Windows and got a surprise from node-gyp

`gyp ERR! stack Error: Can't find Python executable "python", you can set the PYTHON env variable.`

I'm not sure of the minimum python requirement yet (probably 2.7?)
  EDIT: node-gyp v2.7, v3.5, v3.6, v3.7, or v3.8 (I just don't know if there is other python dependencies)

**To Reproduce**
Steps to reproduce the

[2020-06-01 22:21] Suisse00 opened #4297 "Python 3 not supported when building from source"
**Bug**
When running yarn for the first time I got an error from node-gyp:

[code]

when looking at the code you must use [node-gyp  >= 4.0.0](https://github.com/nodejs/node-gyp/commit/0c6bf530a070022235240a8d7be1ff091710689f#diff-7ad6309831a48a234780b58baca65710)

I tried to upgrade it from yarn so I could report to you possible issue but yarn seem to fetch initial dependencies first then upgrade

[2020-06-02 06:59] r-hmn commented on #4284
As i said, i copied an url from a video thumbnail in the Windows LBRY 0.45.2 desktop app, using right click "copy link" fro a video-thumbnail-title.
So maybe this bug should go to the "Windows LBRY desktop app", instead of closing it.

[2020-06-02 13:41] tzarebczan commented on #4296
Sorry to hear about the trouble. I don't think you need python at all. Did you install yarn?  You should not be running yarn.cmd or ps, just yarn. Let us know.

[2020-06-02 13:41] #4296 closed

[2020-06-02 13:41] tzarebczan commented on #4297
See comment in https://github.com/lbryio/lbry-desktop/issues/4296#issuecomment-637551221

[2020-06-02 13:41] #4297 closed

[2020-06-02 15:00] skuzzymiglet opened #4302 "Storing cache in .cache instead of .config"
On Linux, LBRY stores its cache in `.config/lbry/Cache`.

Ideally, it should be in `.cache`. Just a nitpick, but is it possible to move the cache to `.cache`?

[2020-06-02 15:01] tzarebczan commented on #4284
We'll get this fixed for the next release, thanks!

[2020-06-02 15:06] tzarebczan commented on #4302
Thanks for the issue. This is not possible without https://github.com/electron/electron/issues/8124

[2020-06-02 15:06] #4302 closed

[2020-06-02 15:19] Suisse00 commented on #4296
Yes, yarn is trying to setup node-sass which require node-gyp which require python

Don't forget I'm on Windows, there is not shebang, the "shebang" is by extension.

ps1 is recognized as an executable extension, so using `yarn` (no .cmd nor .ps1) will use `yarn.ps1`.

When looking at: `yarn.ps1`, `yarn.cmd` and `yarn` all those will do only one thing: start `node yarn.js`

So this isn't a mater a

[2020-06-02 16:20] infinite-persistence commented on #4296
I just spun up a fresh Windows VM to try, and the 3 steps in the readme is all that you need.  Yarn will handle every thing.

Try running the following in the **Git Bash** in Windows:
[code]
Other things that you can try:
1. Environment variables conflict or something?
2. Use node v10 instead of the latest v12.

[2020-06-02 16:40] Suisse00 commented on #4296
By the way, this ticket is just only about adding python as a requirement.
I created https://github.com/lbryio/lbry-desktop/issues/4297 for a python 3 issue with node-gyp. (which is what prevent me to run yarn successfully right now)

So this remove `Environment variables conflict or something?` from the list since it does detect python.

[2020-06-02 16:47] infinite-persistence commented on #4296
The point we are trying to make is an explicit python install is not needed.  So, I made that sentence as a guess to see if your existing variables are causing an unnecessary conflict.  Having said that, I think the build is/should be sandboxed, so it shouldn't matter (I don't know).

Have you tried running in bash?

[2020-06-02 17:12] Suisse00 commented on #4296
The git bash took a while but it finished, and I still have the issue (thought this new test had python installed so I had to uninstall it first).

Maybe now will be a good idea to provide to log

[lbry-desktop_4296_yarn.log.txt](https://github.com/lbryio/lbry-desktop/files/4718640/lbry-desktop_4296_yarn.log.txt)

I will look a little bit into node-sass to find out when node-gyp is used, but I exp

[2020-06-02 17:14] Suisse00 commented on #4296
Well it went pretty fast

[2020-06-02 17:18] infinite-persistence commented on #4296
Are you using Node14?  If yes, use 10.

[2020-06-02 19:53] Suisse00 commented on #4296
Nope, had mess up something and was still on node 14...

And my brain didn't pickup the v10 required (use to read the minimal version, not to use THAT specific version).

Turn out node-sass v4.13.1 support up to node 13.... oupsy
So if somebody end up with a line like "unable to download https://github.com/sass/node-sass/releases/download/v4.13.1/win32-x64-83_binding.node" well this probably mean

[2020-06-02 20:23] seanyesmunt commented on #4192
Maybe the french translation just needs to be updated?

[2020-06-02 20:37] Suisse00 commented on #4192
It won't solve the issue since the current translation key (`Following`) is used in two contexts. We would change it and break the other way.

I didn't yet write anything yet since I did notice "Subscription(s)" keys, thought I also found some code using this wording and I wanted to check if it wouldn't be a word already use (internaly or from the UI) for other purpose. (Like some subscription pay

[2020-06-03 02:43] infinite-persistence commented on #4296
It's stated in the readme to use v10 only.

[2020-06-03 10:28] infinite-persistence opened #4306 "Comments broken in "master : c6bd2804 : v0.46.0-rc.6""
1. I noticed that it was stuck in Advanced Mode for new comment posts (probably due to my previous stashed setting).  The button to toggle between normal and advanced was missing for new posts.
2. Then, when replying a comment (I noticed we've limited it to normal mode), the field is stuck showing "[object]" only when typed.  I think this is because the New Post is still in Advanced, and there's p

[2020-06-03 15:21] seanyesmunt commented on #4306
Good find. Will fix this

[2020-06-03 15:39] seanyesmunt commented on #4306
fixed in #4308

[2020-06-03 15:39] #4306 closed

[2020-06-03 16:37] infinite-persistence opened #4309 "v0.46.0-rc.6 - Small thumbnails are not working"
![image](https://user-images.githubusercontent.com/64950861/83663391-5fbfc880-a5fb-11ea-9c20-9ce8f8fab341.png)

If I revert 48eac118 `always use thumbnail from claim if it exists on web`, then it works.

----
`yarn dev`

[2020-06-03 17:52] #4309 closed

[2020-06-03 19:01] infinite-persistence opened #4311 "Add per-user setting to never show comments"
Add per-user setting to never show comments.  This includes both claim and channel comments.

**Benefits:**
1. Some users might not want to load (dirty) images in comments.
2. Some users might want to save resources (network, CPU).
If they know they won't read comments, don't bother loading (the recent change to not load until scrolled down partially solves this, but the Related section is nearby,

[2020-06-03 20:35] joaquimbrugues opened #4312 "Add Catalan language"
Catalan is complete on Transifex. I will create a PR to add it to available languages.

[2020-06-04 14:22] #3468 closed

[2020-06-04 14:22] #4154 closed

[2020-06-04 15:36] tzarebczan opened #4315 "release time reset if claim updated while pending confirmation (don't allow edit while pending)"
If you update a claim while it's pending confirmation, the release time is reset. It probably also resets other claim metadata that's being auto populated from the claim itself. Not sure why it can't read the existing claim during this time (should at least be able to read the original).

The overall solution would be not to allow editing while it's pending - safer that way.

[2020-06-04 18:43] tzarebczan opened #4317 "Transaction list shows previously requested data / pages"
If you load the wallet page and then change some filters/options before it's done, it will continue to load the original filters and won't show the results of the new ones until you hit the refresh button.

[2020-06-04 21:24] jessopb opened #4321 "Independent LBRYTV instances, v2"
[ ] theme scss file overridable / locally usable (worth discussing sane practices here based on lessons from spee.ch)
[ ] logo URL local to project, any other lbry.tv specific images in source control moved to configuration or out of source control
[ ] Possible, but not necessary for MVP: ability to add site-specific filters to claim_search and lighthouse search (example first use case: no porn)

[2020-06-04 23:10] tzarebczan opened #4323 "Add Buy credits prompt to screens that require additonal LBC"
- [ ] paid content page + not enough balance
- [ ] publish page + no balance
- [ ] channel page + no balance

[2020-06-04 23:13] tzarebczan opened #4324 "improve first run around followed LBRY channels"
![image](https://user-images.githubusercontent.com/8120721/83819151-276dc800-a697-11ea-96de-22d12fa1ce01.png)
is confusing if you don't know that these 2 channels were followed.

[2020-06-04 23:43] tzarebczan opened #4325 "Show "unmute" option on videos automatically muted by browser"
Some users may not notice that the video is muted automatically and the overlay would alert them to this. Youtube does something similar.

[2020-06-05 05:19] LBRYansUnited opened #4327 "Add a "Reposts" tab on channel pages"
I would like to suggest the addition of a 4th tab on channel pages called [Reposts] (probably between [Content] and [About] tabs) I am not a coder, but I am a content creator. As such, I want to make it as easy as possible for folks to view MY content on my channel. I also want to share content from other creators. (Reposts) From creators that I want to support/like/approve of/etc. What I don't wa

[2020-06-05 14:32] #3702 closed

[2020-06-05 15:19] unklebonehead commented on #4327
I have to agree with this one. It only makes sense. I would repost more myself if it was seperated from my original content. I personally, when visiting someones channel, have made it my personal policy that I will not follow a channel if all I see are reposts without scrolling. If I have to scroll to find someone original content then they do not make enough for me to follow.

[2020-06-05 18:33] infinite-persistence opened #4331 "Instances of string overflow"
**Bug**
Various instances of string overflow.

1. Re-post » Long channel name causes the "new channel name" field to go off screen. (the screenshot below show it's still within the dialog, but I've seen instances where it's off screen due to super long channel-name)
![image](https://user-images.githubusercontent.com/64950861/83910819-ca106e80-a79d-11ea-87d4-4f39d9245a1c.png)

2. Comments that are

[2020-06-06 05:27] infinite-persistence opened #4332 "Video transcode setting not reflected correctly (MP3 incorrectly transcoded to MP4)"
**Bug**
If you previously transcoded an MP4 file and published, and later want to publish an MP3, the MP3 gets incorrectly transcoded to MP4 despite the checkbox showing unchecked.

I think the setting isn't being reflected correctly, and it's because MP3 are supposed to gray out the checkbox anyway, so it didn't "update" the checkbox when the file was selected, but the publish process still uses

[2020-06-06 14:23] tzarebczan commented on #4331
Thanks for the issue. These are filed under https://github.com/lbryio/lbry-desktop/issues/3930 https://github.com/lbryio/lbry-desktop/issues/3697

[2020-06-06 14:23] #4331 closed

[2020-06-06 14:25] tzarebczan commented on #4332
Nice catch, thanks for the issue!

[2020-06-06 17:21] derycck commented on #622
A small and improvised suggestion on one of the ways to enable synchronization of these 'Bookmarking / Watch later lists' between different devices (desktop, mobile), would be to offer the user the possibility of defining a folder on their device to 'dump' the data they support this 'bookmarking / watch later lits' function.
Thus, the user is responsible for informing a folder that is being monito

[2020-06-06 17:28] apenasrr commented on #622
A small and improvised suggestion on one of the ways to enable synchronization of these 'Bookmarking / Watch later lists' between different devices (desktop, mobile), would be to offer the user the possibility of defining a folder on their device to 'dump' the data they support this 'bookmarking / watch later lits' function.
Thus, the user is responsible for informing a folder that is being monito

[2020-06-06 18:08] tzarebczan opened #4333 "ensure auth token passed for early lbry.tv calls"
If you land on a URL or refresh a page, there are a few calls, i.e. resolve, that are not authenticated since an x-auth-token is not passed. This could cause your purchase history to not come over or show edit/delete options.

[2020-06-06 18:17] OfficeGeek888 opened #4334 "Loop button"
I would like to suggest the ability to loop videos. This would be useful for people who listen to subliminal affirmations.

[2020-06-08 13:45] #3697 closed

[2020-06-08 16:43] tzarebczan commented on #4334
Thanks for the feature suggestion! It's possible today on lbry.tv by right clicking > loop video.

[2020-06-08 16:43] tzarebczan commented on #4312
This was added, thank you!

[2020-06-08 16:43] #4312 closed

[2020-06-08 16:44] tzarebczan commented on #4295
This should be fixed now, thanks again for pointing it out. Sent a tip the other day on Discord.

[2020-06-08 16:45] #4295 closed

[2020-06-08 16:48] tzarebczan commented on #4222
This should be fixed now.

[2020-06-08 16:48] #4222 closed

[2020-06-08 16:53] bcrowie commented on #1811
I'd like to take this one on if that's alright.

[2020-06-08 17:03] seanyesmunt commented on #1811
@bcrowie It's all yours!

[2020-06-08 19:15] leshacat opened #4345 "BUG: Upgrade command missing version number"
**Bug**
Upgrade command missing version number

**To Reproduce**
Steps to reproduce the behavior:
1. Get notified/asked for upgrade
2. Start/download the upgrade file
3. Copy / Paste command shown to you into console
4. Backspace removing "undefined.deb"
5. Press tab to auto fill the version number
6. Click begin upgrade

**Expected behavior**
Add version number (not 'undefined') so when you paste

[2020-06-08 19:17] tzarebczan commented on #4345
Thanks for filing the issue - we'll look into this. Can we show you [some appreciation](https://lbry.com/faq/appreciation)?

[2020-06-08 19:22] tzarebczan commented on #4333
This is now fixed.

[2020-06-08 19:22] #4333 closed

[2020-06-08 19:57] tzarebczan commented on #4345
I'm not seeing the same here when coming from 0.45.2. Which distribution of the LBRY app do you have installed? Do you recall which version you were on? If you install 0.45.2 (https://github.com/lbryio/lbry-desktop/releases/tag/v0.45.2) and try again, what do you see?
![image](https://user-images.githubusercontent.com/8120721/84074522-b54ff880-a9a0-11ea-9515-ca41d58467d4.png)

[2020-06-08 20:38] eggplantbren opened #4346 "Clicking download plays videos in web browser"
I did my usual thing of downloading videos from the front page, but they opened in the web browser instead by going to some localhost address. That shouldn't happen.

[2020-06-08 20:38] tzarebczan commented on #4346
It was just fixed, will be in the next patch. Btw, MH beat you to the report lol

[2020-06-08 20:38] #4346 closed

[2020-06-08 20:56] tzarebczan opened #4347 "[desktop] remove file://c: from status bar on hover LBRY urls"

[2020-06-08 21:49] unklebonehead opened #4348 "**Bug** Help button"
"Ohm"
Installed from AUR

Help button under the settings "cog" sends you to your "new" following list.

[2020-06-08 21:51] tzarebczan commented on #4348
Thanks for the report. Does it not show the help page? It seems to be working here - can you try again?

[2020-06-08 21:53] unklebonehead commented on #4348
Oops. Nevermind. Its my shitty touchpad. I checked on the other computer. Definitly my error.

[2020-06-08 21:53] #4348 closed

[2020-06-08 21:54] tzarebczan commented on #4158
Just tried it and it takes a few seconds to close after it shuts down the app. But if you wait, it does so and then brings up the software center updater.

[2020-06-08 21:54] #4158 closed

[2020-06-08 22:39] tzarebczan commented on #4345
Closing for now, let me know if you see it again. May need to test it out on a debian VM.

[2020-06-08 22:39] #4345 closed

[2020-06-08 23:03] tzarebczan opened #4350 "comments getting cut off mid word instead of being wrapped properly"
Thanks to MH for spotting it!

![image](https://user-images.githubusercontent.com/8120721/84088522-ab3af380-a9ba-11ea-9b1c-0fbc72904825.png)

[2020-06-08 23:36] tzarebczan opened #4351 "Infinite load won't work if the same sort option clicked"
To refresh my New followed content, I click on the New button to get the latest results, but if you do that, it won't auto scroll anymore.

Easiest way to repro is just clicking the new button twice(mobile). On desktop mode you need to scroll down first before you can click the new button again.

[2020-06-09 03:23] BrodieRobertson commented on #4327
As someone who uploads content daily I find it difficult to justify reposting videos because it'll always be making it harder for someone to see my video which has only just come out, I completely agree that it should be separated, I'd be way more likely to use the feature.

[2020-06-09 04:59] infinite-persistence opened #4352 ""Library" page's tab setting not persistent (always goes back to "Purchased")"
**Bug**
The `Library` page always starts in the `Purchased` tab.  It should go to whatever was previously chosen when we re-enter the page.

**To Reproduce**
In 0.45, I would usually do the following:
1. `Library` (there was no Purchase tab in this version)
2. Open a claim, and delete from disk.
3. Press `Back`.
4. Repeat 2 and 3 until I'm done.

With 0.46, there's an extra step before 4 to switch

[2020-06-09 05:01] tzarebczan commented on #4352
Nice catch, thanks for filing!

[2020-06-09 08:21] infinite-persistence opened #4355 "Editing a published comment with long string causes width overflow"
**Bug**
With the `Advanced Editor`:
✔️ typing a long string with no spaces in a **new** comment works fine (the widget doesn't change width and the text reflows).
❌However, if you do that **while editing a published comment**, the widget overflows and it's very hard to get it back to original left position (the `cancel` button would be off screen by now).

**Expected behavior**
The **edit** versio

[2020-06-09 13:39] #4350 closed

[2020-06-09 13:41] #4347 closed

[2020-06-09 13:54] #4355 closed

[2020-06-09 18:16] infinite-persistence opened #4358 "The mute icon sometimes does not reflect actual state."
**Bug**
The mute icon in the player does not reflect the actual state for this scenario.  It's very minor, but would probably impact the "tap to unmute" feature request.

**To Reproduce**
1. Open a video and mute it.
2. Click `Back` and close the floating player.
3. Open another video, and click to play (I had "autoplay" set to off). It should then start as muted, and if not, repeat 1 and 2 again.

[2020-06-09 18:44] tzarebczan opened #4359 "Look into twitter metadata / especially on mobile"
Notice that the mobile view does not show any part of the video / thumbnail (only URL), and even in desktop view, it shows a condensed view until the item is clicked, and then shows a nicer thumb. Wonder if we can improve at least the first item, but 2nd sounds trickier.
![Screenshot_20200609-144247](https://user-images.githubusercontent.com/8120721/84187159-a2502d80-aa5f-11ea-894b-757f396fd6b4.jp

[2020-06-09 20:27] kauffj opened #4360 "Allow default channels to be domain/build configurable"
so lbry.lat can have @Lbrylatam and @LbryLatamRecomienda be default follows

[2020-06-09 23:57] kauffj opened #4361 "i18n update on build"
Steps:

- Run `tx push -s` (https://docs.transifex.com/client/installing-the-client)
- Put `.transifexrc` in `~`, containing values viewable here:

[2020-06-09 23:58] kauffj commented on #4361
Is this @nikooo777 or @seanyesmunt?

[2020-06-10 01:07] afwang opened #4362 "LBRY version 0.46.1 downloads page missing signature"
**Bug**
When I check the releases page - https://github.com/lbryio/lbry-desktop/releases/tag/v0.46.1 - the downloadable assets do not include a signature file, whose contents contain a signed list of hashes of the LBRY AppImage file.

This information is helpful for users to verify that the released LBRY packages are the packages the developer intends users to download and use.

**To Reproduce**
S

[2020-06-10 01:44] tzarebczan commented on #4362
Thanks for raising the issue. We'll get this added soon.

[2020-06-10 02:09] seanyesmunt commented on #4362
@afwang Thanks for openeing this issue. I added my signatures to 0.46.0 and 0.46.1

[2020-06-10 02:09] #4362 closed

[2020-06-10 05:44] Invariant-Change opened #4364 "Status Notifications 🔔"
When LBRY desktop or TV is down or other related issue, it would be useful to see error notifications. This helps prevent new and existing users from permanently bouncing and helps creates a better UX.

![image](https://user-images.githubusercontent.com/29914179/84228651-ef4d0600-ab2a-11ea-940f-910e2afaa536.png)

![image](https://user-images.githubusercontent.com/29914179/84230974-85cff600-ab30-11

[2020-06-10 16:33] tzarebczan opened #4366 "If support/tip unlock action fails, don't grey out"
I tried unlocking a tip and it failed because my wallet was locked (this can happen for other reasons), but then the unlock icon was still greyed out. Only grey out if successful.

[2020-06-10 23:28] #3925 closed

[2020-06-10 23:30] tzarebczan commented on #2882
A few users recently overwrote their claims. We should either improve this in the meantime by not allowing publish unless they click edit, or do https://github.com/lbryio/lbry-desktop/issues/3704

[2020-06-10 23:48] jsigwart opened #4367 "Limit channel tags to reduce tag spam"
### Proposed: Allow 5 tags max for channels like we do for content publishes.

Inspired by this claim:
[code]

[2020-06-10 23:53] tzarebczan opened #4368 "Allow upgrade nag bar to be dimissed per session"
Users on third party builds may have to way a few hours for the update and the bar is annoying.

[2020-06-10 23:56] tzarebczan opened #4369 "Limit description contents to ~6K chars"
If you create a description that's too long, the publish will fail with a claim script too large error. We can either handle that and tell the user it's too long, or impose a limit. A user mentioned 7K works, but it will vary on other areas like tags/title/name

[2020-06-11 08:42] eskema commented on #4334
The app doesn't have that option available (at least on MacOS), and it would be really helpful for short videos that loop (similar to gifs)

[2020-06-11 12:21] littlemadhatter commented on #743
Is this still relevant due to the implementation of MoonPay?

[2020-06-11 12:52] marko-lorentz commented on #3440
I saw that the number of places where `if`-statements are used in the code to pick the correct plural form is increasing. Having `if` in every piece of source code is a mess that makes it less readable and introduces new errors. It also assumes that the developer understands the plural rules of all language as he must add the correct `if`-blocks (for Russian this would be 4, for Arabic its up to 6

[2020-06-11 13:07] kauffj commented on #743
no

[2020-06-11 13:07] #743 closed

[2020-06-11 18:13] tzarebczan opened #4374 "Rules of engagement on sign in/sign up"
Thanks to @jsigwart for the write up.

We should present these and have users acknowledge them before signing up, and show them on sign in.

Registration allows you to get the most from LBRY, including personalized content based on your interests, the ability to tip your favorite content, write comments, and more.

**Here are a few reminders and rules of engagement for your LBRY account:**
 - Do n

[2020-06-11 18:31] kauffj commented on #4374
Can we defer some of these? Maybe make them explicitly opt-in to rewards, even if they'd be auto-approved, and show them then?

No one likes reading a bunch of rules before they get to do stuff, and most people just won't.

[2020-06-11 19:02] tzarebczan commented on #4374
Yea, we can do that. Some are more basic and could be made up front.

[2020-06-11 19:40] infinite-persistence opened #4375 ""Use the App" nag seems incorrectly invoked"
**Bug**
I don't have the app installed in another computer, but this still appears:
![image](https://user-images.githubusercontent.com/64950861/84431415-d7c26a00-ac5d-11ea-95f9-528bb469917d.png)
Although it did say "may", seems odd for it to appear.  Pressing the button simply opens up a blank tab.

**To Reproduce**
1. Open lbry.tv in Incognito Mode on a PC without Desktop installed.
2. Log in.

*

[2020-06-11 19:42] tzarebczan commented on #4375
This is linked to a signed-in account based on installations you have, we have no other way of telling (at least not right now). Incognito should not show you this unless you've signed into an account there.

[2020-06-11 19:42] #4375 closed

[2020-06-12 18:15] Suisse00 commented on #3440
WARNING: No real experience with i18 and languages I work with only contains one plural form

On the code side it could be only one method with ONE specific translation key that, behind the scene, change according with the number.

Eg. __n('You have %n messages', n)

TLDR: Behind the scene it will look for the key 'You have %n messages' + `[${n}]`
   I added a kind of [n] at the end just to recogn

[2020-06-12 18:43] marko-lorentz commented on #3440
@Suisse00 The downsides you mention are nearly completely covered by the ICU model:

# just 1 line for the _programmer_ (as with all translation token with replacements, he must know what he doing, of course - i.e. he must know the types of all replacement parameters)
# all decision making code is hidden completely (i.e. the knowledge how many plural forms a language has, is not needed for writing

[2020-06-12 19:50] infinite-persistence commented on #4369
I've managed to add character limits to `SimpleMDE`. I decided to go with 5000 since it's a nice number and YT uses 5000 as well.

However, while testing, I found this:
✔️ 5000 English characters -- ok.
❌ 5000 Japanese characters -- same tx error.
I think it's because CJKs are multi-byte.  You've also hinted that there are other factors as well.

Do you think it's still worth submitting the PR whe

[2020-06-12 19:53] kauffj commented on #3440
@marko-lorentz thanks for your message. I get the impression you know more about `i18n` than anyone at @lbryio currently :grin:, but we're always happy to learn from those that know more than us.

1. Can you clarify what the syntax is when there is no variable in the message? How is `foo != 1 ? __('Plural foos') : __('One foo')` reduced to one string?
2. To reduce to one string in code, I assume t

[2020-06-12 19:54] kauffj commented on #3440
@seanyesmunt please read/follow this thread

[2020-06-13 05:31] infinite-persistence commented on #3440
For number 2, doing that would also solve the "can't reuse the same string in different locations for my language" problem that few have reported (https://github.com/lbryio/lbry-desktop/pull/4340#issuecomment-641476349).  I believe that if more translators verify the context of the strings, we'll get more reports of this issue.

[2020-06-13 06:59] marko-lorentz commented on #3440
_Sidenote concerning using the entire string in code:_
The "have a complete string in the code"-approach has some charm (like: the software will work out of the box - even without any translations - and of course the explicit in-context listing of all replacement parameters with (hopefully) good names in an example phrase to ease understanding for the translators).
But it has also some well known

[2020-06-13 07:36] infinite-persistence commented on #4369
Hm ... I'll submit it anyway, since it indirectly fixes another existing issue (see PR).

[2020-06-13 08:40] marko-lorentz commented on #3440
I will try to answer the questions raised by @kauffj:

- yes - using an ICU-based translation model means that you also need to add a dedicated "English translation" as the plural forms vanish from the code
  - Transifex proposes to upload the developer strings as language "en" to the system and have (developers or) translators create a translation for language "en_US" which will then be used by t

[2020-06-13 14:06] infinite-persistence commented on #4241
### Re-opening
There is one unhandled case:  "extra space in bullets in quotes". Github's MD doesn't have show extra space.
![image](https://user-images.githubusercontent.com/64950861/84570735-f80b3980-adc1-11ea-879e-e1d0a3915d4e.png)

[2020-06-14 12:49] infinite-persistence opened #4380 "Tip Modal improvements"
![image](https://user-images.githubusercontent.com/64950861/84593400-b42a3a00-ae7e-11ea-9d33-bcfd699bf53a.png)

### 1. There's an extra space before the channel name
This one's a bit subjective and perhaps added to cover a corner-case that didn't have a space already to the left of the URI string.
But I think we should just let clients add the spacing when needed instead of fixed it into the compo

[2020-06-14 12:57] seanyesmunt commented on #4380
This modal is being overhauled. You can see the new one at dev.lbry.tv

[2020-06-14 16:19] infinite-persistence commented on #2679
I'd like to try this one if it's still wanted.
`Active | Historical | All` in the `Wallet Page` seems like another candidate for persistence?

[2020-06-14 20:38] KamenkoTV opened #4381 "Support for hvec / h265 videos."
**Is your feature request related to a problem? Please describe.**
I would like to upload my videos in a codec thats small and uses little bandiwth, so i choose hvec because its small and uses little bandwith and allows me to have higher quality videos at a smaller size,

**Describe the solution you'd like**
Add hvec video support into lbry

**Describe alternatives you've considered**
Add option t

[2020-06-15 11:45] infinite-persistence commented on #2669
Hi, this one still up for grabs?  Was able to reproduce both issues and more.

[2020-06-15 14:51] #4366 closed

[2020-06-15 14:53] #4369 closed

[2020-06-15 18:08] tzarebczan opened #4383 "Refresh reward status on rewards page"
I recently enabled rewards for a user, but when we went to the rewards page, it still showed "unlock rewards". I clicked that, and then tried the refresh button - this would call user/me and show the right status, but still would prompt for phone. Refreshing didn't help (ctrl) once I was already on the unlock page. Clicking Skip did.

I guess we call user/me but don't update the page? It probably

[2020-06-15 18:34] tzarebczan opened #4385 "Don't show upload progress if no file exists (shows 0% progress)"
There are many cases where a user is editing a publish but they don't actually have the file list entry for it (i.e.  a youtube synced video which they haven't downloaded). This could also happen in a few different ways (new PC without the file, file deleted, etc).

Right now we show uploading 0% when this happens and it doesn't clear.

[2020-06-15 19:26] tzarebczan commented on #4381
Thank you for opening the issue. I don't think we'll be supporting this until major browsers all have support for h265 content because of the lbry.tv use case. LBRY does not transcode any content, so the viewers would need support on their browser.

[2020-06-15 19:26] #4381 closed

[2020-06-15 23:13] rainbowjaw commented on #3644
This is basically already implemented here:
https://open.lbry.com/@Alojz:f/LBRY-turn-support-into-profit-maximize-your-profit-tutorial:1?r=Cs2WAZHpMqPTuFiVjF3YzewoXMwoBc4Q

Can't someone just copy the code over and change the banner to "download this file for full quality"
so that there is a preview on unsupported file formats?

[2020-06-15 23:40] ceoger commented on #2882
I have also seen a few users complain about tier the last upload overwriting a previous upload.

My guess was they were probably editing a claim and ended up publishing a new file on the old claims. If that is the case, maybe we can have a warning after editing a claim where user selects  a new file.

[2020-06-16 14:08] infinite-persistence opened #4393 "Tag query URL goes on indefinitely as you change between [Trending|New|Top]"
**To Reproduce**
1. lbry.tv
2. `Your Tags`
3. Click on one of your tags on the right bar.
4. Click `New`
5. Keep changing between `Trending`, `New` and `Top`.  URL keeps going longer.

![image](https://user-images.githubusercontent.com/64950861/84785113-ac54cc00-b01d-11ea-8e74-16d55a0f96f9.png)

The query still works, just that the URL gets weird.

[2020-06-16 14:34] tzarebczan opened #4394 "add persistence to new support modal"
Should save my tip/support preference and last amount (button) and custom amount.

[2020-06-16 14:38] #4258 closed

[2020-06-16 14:54] tzarebczan commented on #4380
It's live on lbry.tv now, please take a look and let us know if you have any issues with it.

[2020-06-16 14:54] #4380 closed

[2020-06-16 20:21] kauffj opened #4397 "Add lbry.lat metadata and fix root lbry.tv metadata for social/twitter"
- Direct link to lbry.tv in a tweet does not display site metadata. Probably because it does not contain `twitter:` sub-fields. Check if other fields are missing that are used when linking file pages.

- Add support for default metadata to be specified in site config

[2020-06-16 20:21] kauffj commented on #4397
@jessopb doesn't need to interrupt current work but please do this before new ticket

[2020-06-16 20:36] #2679 closed

[2020-06-16 21:14] #4325 closed

[2020-06-17 02:55] clay53 commented on #404
This issue seems to be solved. I'm not getting this issue on Windows 10 w/ Focus Assist disabled (LBRY First testing build). Is there any other way to recreate this or is it actually just solved?

[2020-06-17 08:46] infinite-persistence opened #4400 "TXT: Should limit when to display it in the app"
**Bug**
I published a 20MB text file.
- Desktop hangs while trying to view it (even though the file is available locally).
- Web still allows some scrolling, but you can't click on anything.  Since it loads automatically, I can't click the "download" button.

When it does finish loading, scrolling is very sluggish and unusable.

**Other considerations (did not test):**
- I wonder what happens if I

[2020-06-17 10:14] infinite-persistence opened #4401 "List of Markdown display issues in Comments"
## Bug
- [ ] The Preview and actual outcome differs a lot in terms of spacing.
- [ ] Bullet-lists within Quotes should not have extra top spacing (other websites don't).
- [ ] Ordered-list doesn't seem to work in Preview (style not applied)

## To Reproduce
<details>
  <summary>The text used: (<em>click to expand</em>)</summary>

[code]
</details>

## Expected behavior
Same as Github's (good spaci

[2020-06-17 10:15] infinite-persistence commented on #4241
Closing this (consolidate to 4401)

[2020-06-17 10:15] #4241 closed

[2020-06-17 15:33] antoniodebaca commented on #4367
I was wondering if anyone else has seen this bug or if it's been fixed:
![Screenshot from 2020-06-17 09-30-04](https://user-images.githubusercontent.com/8698724/84917891-26686d80-b07d-11ea-9139-11ec451c84a0.png)
im not sure if this image downloaded. So if you go to the lbry user above, duplicate videos will show up on the page causing  a "Warning: Encountered two children with the same key"

[2020-06-17 16:55] infinite-persistence commented on #4367
Yeah, I'm seeing the "two children" error as well while looking into 2669.  I'm hoping to fix that together in 2669 as they are all related to the infinite scroll.

[2020-06-18 16:19] #3695 closed

[2020-06-19 02:01] #4394 closed

[2020-06-19 19:44] infinite-persistence opened #4408 "Inf-scroll: doClaimSearch() sometimes returns duplicates, causing scrolling problems."
When the requested `page` and returned `results` don't match, we'll get the `Encountered two children with the same key` error. #4403 tried to solve it by making sure these 2 variables are "in sync", but it seems like repeated identical queries can result in the same error as well.  I'm not familiar with the redux stuff yet to dig further.

Here's a video to explains the issue:
https://youtu.be/K4

[2020-06-20 04:35] infinite-persistence opened #4410 "Tip-Modal: Unhandled case with "send as = new channel""
**Bug**
If you don't have any channels, you get to create a new one in the Tip Modal.  However, you still get to send the tip even if you didn't finish creating the channel.
   ![image](https://user-images.githubusercontent.com/64950861/85191423-69cb1200-b2f1-11ea-86d2-718bc542bc4b.png)

I don't think there are any major side-effects though, other than the next screen saying **"From: new"** which

[2020-06-20 04:43] infinite-persistence opened #4411 ""SelectChannel=New" doesn't show all fields on re-entry"
In `Comments` or `Tip Modal` (and maybe others too), if your previous selection was `New Channel...` and you re-enter these pages, you don't see the additional fields to create the new channel, unless you toggle the selection to refresh.

![image](https://user-images.githubusercontent.com/64950861/85191997-77819700-b2f3-11ea-9076-e4d0653a7ee7.png)

[2020-06-21 12:48] nycex opened #4415 "add exif data to downloaded videos"
**Is your feature request related to a problem? Please describe.**
When downloading the actual video files via the option in the Network and Data Settings, the filenames aren't always very clear, e.g. they are abbreviations of the title with the ending stripped away or just the youtube video id. That makes viewing those files offline by using a standard video player much harder.

**Describe the so

[2020-06-22 06:18] eatdostacos commented on #4415
I'm not sure how this would work as currently content file names are just the file names given by the creator. If you changed it when it was being published, it may cause some sort of error or incompatibility unless the app changed the name of the original file on the publisher's computer. Another option could be a very basic offline mode if the app detects no internet connection. This offline mod

[2020-06-22 10:55] infinite-persistence opened #4420 ""Downloads" list show someone else's claim if you deleted the local file"
**Bug**
I have been wondering for months why I frequently see claims that I have not encountered before in my `Downloads` list and can't seem to remove it.  I've figured out the recipe to reproduce and the method to erase it from the list.

**To Reproduce**
1. Publish something **anonymously** to an address that has already been taken.  Examples are `test2` and `apple-s-very-bad-week`.
2. After th

[2020-06-22 12:33] nycex commented on #4415
That's a reason why I thought using exif titles would be a better option, the filename could stay as it is.

So you mean it would download the info for the files, but only add it into them when the app is running without internet connection?

[2020-06-22 13:31] #2669 closed

[2020-06-22 13:50] #4368 closed

[2020-06-22 19:21] #2882 closed

[2020-06-22 19:21] kauffj commented on #2882
(Closed this prematurely, but fix will be merged very soon)

[2020-06-22 19:27] #4012 closed

[2020-06-22 19:28] #2796 closed

[2020-06-23 05:14] bfreshhb commented on #3878
Bump

[2020-06-23 16:07] LendoK opened #4425 "Daemon crashes on startup with /tmp mounted on RAM"
**Bug**
Lbry not starting.

**To Reproduce**
Steps to reproduce the behavior:
1. mount your temp folder on ram. tmpfs /tmp tmpfs defaults,noexec,nosuid 0 0 (fstab)
2. start lbry
3. see error

Daemon: /opt/LBRY/resources/static/daemon/lbrynet: error while loading shared libraries: libz.so.1: failed to map segment from shared object

**Expected behavior**
daemon not crashing

**Screenshots**
![Error

[2020-06-24 04:56] infinite-persistence opened #4428 "Tip-unlock: Problems entering decimal places"
**Version Found**
lbry.tv - 2020-06-24

**Bug**
When unlocking a support on a claim, I can't enter decimal places directly in some scenarios.

**To Reproduce**
1. I have a claim with "_185.05 LBC to unlock_"
2. I tried to type **85.05**, but the period doesn't work ❌
3. Typing **185.05** surprisingly worked ✔️
4. Dragging the slider does produce decimal points. To get my desired value of **85.05**

[2020-06-24 05:25] infinite-persistence opened #4429 "Unresolved string: "You sent ${amount} LBC""
**Version Found**
lbry.tv 2020-06-24

**Bug**
Sent LBC to someone and got this:
![image](https://user-images.githubusercontent.com/64950861/85504196-14a73d00-b61e-11ea-9f09-4b3f5ed8590f.png)

[2020-06-24 07:46] marko-lorentz opened #4430 "Support for Right-to-left languages"
[Right-to-left languages](https://en.wikipedia.org/wiki/Right-to-left) are not properly supported by the application. Neither direction switch nor CSS adaptions are implemented yet.

**Languages in question**
* Arabic (> 310 M speakers)
* Hebrew (> 9 M speakers)
* Persian (> 70 M speakers)
* Urdu (> 60 M speakers)
* Sindhi (> 25 M speakers)

**Additions/Changes required**
* Must: HTML/CSS needs to

[2020-06-24 08:08] marko-lorentz commented on #4430
**Proposal for solution**
My employee @sanabhass is about to prepare a PR but might not be able to fully complete it without some discussion with the core team.

(Maybe it would be worth considering to have a branch in the main repo instead of a fork to ease collaboration.)

[2020-06-24 09:51] infinite-persistence opened #4431 ""Publish to lbry://xxx" button doesn't pre-populate publish address?"
![image](https://user-images.githubusercontent.com/64950861/85532978-b771b280-b642-11ea-8e2c-e0834578a104.png)
When I click the the "Publish to" button above, I was expecting that the Publish Page would have pre-populated the "new channel" or address field with the said value, since the text above it says "claim this spot".  Otherwise, it's no different than having to manually copy the claim URI (

[2020-06-24 11:59] infinite-persistence commented on #3800
Hi @bitcoinbrisbane, are you still working on this item?

[2020-06-24 18:54] infinite-persistence opened #4434 "[Mobile] Reflow issues for abandoned channels in Blocked Page"
**Bug**
See image below.
Also if 4433 gets approved, the fix for this also needs to take into account the new "Remove from list" button for abandoned claims.

![image](https://user-images.githubusercontent.com/64950861/85615278-933bc300-b68e-11ea-8bd1-519b0c983ed4.png)

[2020-06-24 18:57] infinite-persistence commented on #4431
If the intention is not to pre-populate the field in the first place, perhaps we can just remove/replace the button to become a short link.  This should indirectly solve the space problem in #4434 `[Mobile] Reflow issues for abandoned channels in Blocked Page` as well.

[2020-06-24 23:18] kauffj commented on #4327
Feedback heard that we should do something here, thanks

[2020-06-25 04:23] #4021 closed

[2020-06-25 04:30] Invariant-Change commented on #4327
This would be an awesome feature and help keep the interface clean 👍

[2020-06-25 15:27] mschilli87 opened #4435 "FR: Support to (download and) play audio only."
**Is your feature request related to a problem? Please describe.**
Sometimes, the image part of a video is more of a nice-to-have and all relevant information is actually contained in the audio.
Being on small bandwidth and/or low-powered hardware, downloading and rendering the video can actually become a bottleneck causing the playback to pause for downloading or the CPU to run hot due to the hea

[2020-06-25 17:44] infinite-persistence commented on #4105
Hi guys, I was curious on the technical side on how one would be implemented (wanted to get acquainted with the SDK).
I believe the `publish` API only accepts a file path `file_path` as a parameter.  I was thinking of spewing the text editor's value to a temp file before publishing (so code changes would be minimal), but I think that would only work for Desktop.
**Q:**  Does the API provide other

[2020-06-26 01:11] btzr-io commented on #4105
Idk, I don't think so

Yes, there are different ways to achieve this, there is a new web api specifically for this but is still experimental, you can create workspaces, folders and files etc..

You can also build a  `blob` from a string:
[code]

Yes you can just use the stream api from the lbry sdk, and `fetch` the stream data

[2020-06-26 01:24] btzr-io commented on #4105
`http://localhost:5280/stream/63004f5578b24360b3c67cffa552d07a4a334375afb7972c8beb47b835a1cec86b7208dc17addf852377e6afb78b8b81`

https://lbry.tech/api/sdk#get

[2020-06-27 22:05] chrisamow opened #4439 "Linux running lbry does not come to foreground on next run"
**Bug**
The desktop app when already running and clicked in the taskbar does not do anything so does not feel like a native or friendly experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Run lbry
2. Create some other windows, like browsers, or file managers
3. Run lbry again (or click on a shortcut that was made)
4. Nothing happens so you have to go find it wherever it is (which wor

[2020-06-28 06:48] infinite-persistence commented on #3464
Can't reproduce with today's lbry.tv.  Seems to load ok.

[2020-06-29 13:48] #3641 closed

[2020-06-29 13:54] seanyesmunt commented on #3464
Seems to work for me too. Closing this.

[2020-06-29 13:54] #3464 closed

[2020-06-29 13:56] seanyesmunt commented on #4431
It should definitely pre-populate. Maybe we should cut it off after 20 characters or something to help with the overflow issues.

[2020-06-29 14:19] #3750 closed

[2020-06-29 15:03] sanabhass commented on #4430
**Done**

- [x] Direction for frame in <html>.
- [x] Style sheet files of the lbry-desktop and components modified in a way that support switching the direction correctly.
- [x] Auto-detection of direction for content  with varying direction (rtl and ltr content).

**Tests**
- [x] Create [channel ](lbry://@سناء#9) with an arabic name : OK
- [ ] Upload [Markdown content](lbry://@سناء#9/إرشادات_RTL#

[2020-06-29 17:02] tzarebczan commented on #4439
Sorry to hear about the trouble and thanks for the report. How does this compare to other electron apps (Slack, Discord?) you run? It may be an issue specific to your window manager as I'm pretty sure this works correctly on Ubuntu and other major distros.

[2020-06-29 17:03] tzarebczan commented on #4435
Thanks for opening the issue. We do hope to support lower quality video formats in the future, but most likely won't support audio only. I will link this issue here https://github.com/lbryio/lbry-sdk/issues/2879 to see if we can consider it.

[2020-06-29 17:03] #4435 closed

[2020-06-29 17:05] tzarebczan commented on #4429
There's also one on the "large account history" string on app startup (splash file).

[2020-06-29 17:08] tzarebczan commented on #4425
Sorry to hear about the trouble. Can you try with sudo, like ```sudo mount /tmp -o remount,exec```

Also, you can try something like this:

[code]

[2020-06-29 17:08] #4425 closed

[2020-06-29 17:08] infinite-persistence commented on #4429
This one? https://github.com/lbryio/lbry-desktop/pull/4440

[2020-06-29 17:10] tzarebczan commented on #4415
Thanks for the suggestion, but as explained above, this matches the file name given by the user. In the future we can make it clearer to users when they publish that this will occur.

[2020-06-29 17:10] #4415 closed

[2020-06-29 17:11] tzarebczan commented on #3898
Closing this for now since it's documented on the flathub issue.

[2020-06-29 17:11] #3898 closed

[2020-06-29 17:12] tzarebczan commented on #4420
Thanks for the repo. I think this is a similar issue to https://github.com/lbryio/lbry-desktop/issues/3767 . Will close that one.

[2020-06-29 17:13] tzarebczan commented on #3767
Closing for https://github.com/lbryio/lbry-desktop/issues/4420 which has a repro.

[2020-06-29 17:13] #3767 closed

[2020-06-29 17:42] nycex commented on #4415
I understand not wanting to change the filename, but that is no argument about the exif data, is it?

[2020-06-29 18:43] infinite-persistence commented on #4431
**This is no longer valid** after #4433 `Option to remove abandoned claims from Blocked Channels page`.  The component in the screenshot above is not supposed to appear in the blocked list, which probably explains why it didn't populate the URL field.  In the normal cases (outside of Blocked Page), that button does populate the URL field.

[2020-06-29 18:43] #4431 closed

[2020-06-29 18:45] infinite-persistence commented on #4434
No longer relevant after #4433 `Option to remove abandoned claims from Blocked Channels page` (the correct component will now be used, which doesn't overflow).

![image](https://user-images.githubusercontent.com/64950861/86043717-a928f980-ba7b-11ea-81ed-be7acb404682.png)

[2020-06-29 18:45] #4434 closed

[2020-06-29 18:55] infinite-persistence opened #4442 "Overflow issues in small gadgets (e.g. Galaxy S5)"
Spawned from #4434.
Overflow issues in small gadgets (e.g. Galaxy S5)

- [ ] `Publish To` button overflow
- [ ] `ClaimPreview` ellipsis won't appear unless the screen is a little bit bigger.

![image](https://user-images.githubusercontent.com/64950861/86044263-72071800-ba7c-11ea-977d-60b52eca7d67.png)

[2020-06-29 19:05] #3822 closed

[2020-06-29 19:07] tzarebczan commented on #3328
Many users complain about losing various settings when local app data is wiped out and between app instances. Should consider Android settings too.

[2020-06-29 19:12] tzarebczan commented on #4118
We've made some progress with https://github.com/lbryio/lbry-desktop/issues/3822. We won't be doing any automated type stuff with supports for now, but do hope to make this easier down the road with SDK improvements around management.

[2020-06-29 19:12] #4118 closed

[2020-06-29 19:41] tzarebczan commented on #4408
Pretty sure this happens when claim search results change due to new trending / new content between the original search and when you scroll down. The solution would be to ignore any keys already loaded and don't duplicate the content.

[2020-06-29 20:01] infinite-persistence commented on #4408
Yeah, I wondered if that is the solution as well.  But given that it happens without scrolling or when scrolling has long stopped (as shown in the video), I wonder if it's a mistake in the redux side.
It also happened on obscure tag searches (limited & same results for several days), so it can't be due to actual new entries in between those searches.

[2020-06-29 20:05] #3800 closed

[2020-06-29 20:07] infinite-persistence commented on #4199
Duplicate of #3800

[2020-06-29 20:07] #4199 closed

[2020-06-29 20:27] bitcoinbrisbane commented on #3800
Sorry :(

[2020-06-29 20:55] infinite-persistence opened #4443 "Weird "tags_followed"
Never mind

[2020-06-29 21:00] #4443 closed

[2020-06-30 03:37] seanyesmunt commented on #3800
@bitcoinbrisbane no problem! It was just merged! 🙂

[2020-06-30 03:50] seanyesmunt opened #4444 "Add "tab to search" functionality for lbry.tv on chrome"
Still not sure if this is possible, but this StackOverflow post seems to make me think it is
https://stackoverflow.com/questions/7630144/how-to-add-google-chrome-omnibox-search-support-for-your-site

[2020-06-30 09:24] infinite-persistence opened #4447 "Notifications and Blocked "Manage" button doesn't work with 0 blocked channels"
`Notifications` and `Blocked` _Manage_ button doesn't work with 0 blocked channels.
- The former should work regardless of blocked channel count?
- The latter is technically correct, but no harm to just enter the page since it will show a _When you block a channel, all content from that channel will be hidden._ message which seems useful for beginners?

![image](https://user-images.githubuserconte

[2020-06-30 09:31] infinite-persistence opened #4448 "Better presentation for disabled button"
The disabled button (at least for the "secondary" type) looks the same as the active button. The only indication of disabled is whether a mouse-hover will highlight it, which is irrelevant for mobile.  Perhaps it should be grayed out instead.

![image](https://user-images.githubusercontent.com/64950861/86109661-33fb0a00-baf7-11ea-9bba-b22286f88de3.png)

[2020-06-30 09:48] infinite-persistence opened #4450 "Minor "back" glitch with Notification page after logging in"
**To Reproduce**
1. Log out (or use `yarn dev`, which starts without logging in)
2. Go to **Settings** » **Notifications** » **Manage**
3. Log in
4. Press **Back**.  It keeps jumping back to **Notifications**, with the login modal briefly flashed.

[code]

[2020-06-30 09:58] marko-lorentz commented on #4430
@seanyesmunt
Could we get some support from a team member in order to solve the last open issue (switch the direction depending on the language setting)?

(We can already provide a PR for `components` for review if you like. The PR for `lbry-desktop` will need some input as mentioned above.)

[2020-06-30 14:24] seanyesmunt commented on #4430
Hey @marko-lorentz, sorry I missed this. I just got back from vacation yesterday.

I support this idea. I am not sure how the markdown content will work. We use this for our editor
https://github.com/RIP21/react-simplemde-editor (it might be simple and I am just missing something).

For automatic switching based on language setting:

I would put the direction "setting" here https://github.com/lbry

[2020-06-30 14:25] #4214 closed

[2020-06-30 15:37] seanyesmunt commented on #4450
Good catch. This line probably needs `&& !IS_WEB`
https://github.com/lbryio/lbry-desktop/blob/master/ui/page/settingsNotifications/view.jsx#L92

[2020-06-30 17:04] infinite-persistence commented on #404
Can't reproduce with Linux + Cinnamon either.

[2020-06-30 23:26] tzarebczan opened #4454 "URL / top claims overlap"
![image](https://user-images.githubusercontent.com/8120721/86186664-a5db4f80-bb07-11ea-923d-5231e6f44516.png)

[2020-07-01 03:39] seanyesmunt commented on #4448
I will fix this. Just need to add a variable. Thanks for reporting.

[2020-07-01 14:38] kauffj opened #4456 "UI experiments"
(defined in email)

[2020-07-01 15:11] #3071 closed

[2020-07-01 15:11] #4351 closed

[2020-07-01 15:19] #4081 closed

[2020-07-01 15:20] #4220 closed

[2020-07-01 15:22] seanyesmunt commented on #4447
I agree it probably is worth it to show the blank page so users see that help message. I'll keep this open.

[2020-07-01 15:53] tzarebczan commented on #4128
This would improve the experience when a video is not fully uploaded or fails for some other reason. Right now they get a very generic message that something went wrong.

[2020-07-01 16:23] infinite-persistence opened #4457 "Cancelling a transcoded Publish doesn't work"
1. Select an mkv file with the "Transcode" checked.
2. Publish
3. Cancel the operation (upper-right "x")
I can still see the transcoded file being generated.  Minutes later, I see the Publish (Uploading) modal appear.

[2020-07-01 16:25] tzarebczan commented on #4457
I don't think there's any way to cancel a publish on the SDK side once it's been submitted. We are working on a big revamp there, so it may be possible later with web sockets. For now, on the UI side we should just disable that option to cancel.

[2020-07-01 17:13] sanabhass commented on #4430
@seanyesmunt
We followed what you did in the theme to apply the direction changes. We used CSS Custom Properties (Variables) so that we need only to add the tag direction = "rtl" to the html frame to switch the direction to RTL. I am wondering were can we add the direction tag to the html frame. e.g:
`<html theme="light" direction="rtl">`

[2020-07-01 17:14] tzarebczan opened #4460 "unmuted state lost / reverted"
Notice that my videos go back to muted state after using lbry.tv for a while or possibly in a new tab.  Not sure if the browser is causing this to happen or the mute persisted data is lost.

[2020-07-01 17:26] arthurferrai opened #4462 "Video never starts playing"
**Bug**
I'm trying to play [this video](https://lbry.tv/@gamefromscratch:1/wicked-engine-gets-more-wicked:f) but it never starts on my machine

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://lbry.tv/@gamefromscratch:1/wicked-engine-gets-more-wicked:f
2. Click on Play button
3. Video is stuck on thumbnail.

**System Configuration**
MacBook Pro (Retina, 13-inch, Late 2013) with m

[2020-07-01 18:11] tzarebczan commented on #4462
Sorry to hear about the trouble. Getting stuck on the thumbnail seems strange. Does this happen on this video only or on all? Can you try again with another browser to see if that helps?

[2020-07-01 18:19] arthurferrai commented on #4462
Tried right now on same browser, this time using private browsing (cmd + shift + N) and it plays as expected.
I'll download opera and test it again.

[2020-07-01 18:27] arthurferrai commented on #4462
On Opera, in logged window I need to wait some minutes for video to play (it keeps on "Loading decentralized data..." for a long time). Playing from private browsing works as expected.

[2020-07-01 21:16] seanyesmunt commented on #4430
@sanabhass after spending more time thinking about this, I think something like this would be more useful
https://github.com/nicolashemonic/rtl-css-transform-webpack-plugin

It appears twitter uses something similar. I don't think always writing css like this will be very sustainable, and not very easy to start using for developers new the project (I didn't even know a lot of these properties exis

[2020-07-01 21:52] Golutazem opened #4464 "Filtering video list for for 'Free' / 0 LBC does not filter out low cost items."
Filtering a video list for free or LBC = 0 still passes items which cost.
CGI parameter is fee_amount=0 .
I saw items as high as 0.5 LBC.  I guess it is a rounding error.

[2020-07-02 00:18] tzarebczan commented on #4462
Glad to hear that!

[2020-07-02 00:18] #4462 closed

[2020-07-02 07:19] infinite-persistence commented on #4408
#### Root-cause
Currently, the code calls `doClaimSearch()` for the same query if the system clock has incremented to the next minute.  This seems intended from the following code:
[code]
Over at `doClaimSearch()`, the `append` is set to true if we have scrolled, and ...
[code]
... duplicate check hasn't been implemented.
[code]
#### Possible fixes
1. **The client side should exclude `release_time

[2020-07-02 09:01] infinite-persistence opened #4466 "'Back' sometimes takes a few seconds to restore y-location"
This was discussed in one of the infinite-scroll PRs, where the `Back` action sometimes will take an extra second or two to restore to the right y-location.  More likely to happen in Debug code than standalone builds.  The current belief is that it is due to the asynchronous nature of `useEffect` where the y restoration is called.

[2020-07-02 14:37] #2789 closed

[2020-07-02 14:37] #2957 closed

[2020-07-02 16:59] Tcll opened #4467 "lost settings on bad network connection"
whenever loading the app, sometimes you'll get an error message just after the loading screen
after that, all your prior settings are lost and everything is reset
this can also happen when a page takes a while to load, and also happens on the site

I've even had it happen where after setting my reset settings, I click "Home" and my settings are reset again
really annoying and happens almost every

[2020-07-02 17:47] tzarebczan opened #4468 "Add password reset link to settings page"
Use same password reset link as from the sign in page. If a user doesn't remember the old one, they can't change it if they are already logged in.

[2020-07-02 17:51] tzarebczan commented on #4467
Sorry about the trouble. What error message do you see? That should not reset the settings, but we are aware of some rare cases it does. The solution is filed under this issue: https://github.com/lbryio/lbry-desktop/issues/3328 and we'll be working on it soon.

[2020-07-02 17:51] #4467 closed

[2020-07-02 17:56] Tcll commented on #4467
alright thank you, and sorry if I'm posting this on thin patience

I probably wouldn't've even created this issue if everything weren't working against me (not a typical bad day)

hope things get sorted out soon :)

[2020-07-03 00:34] Suisse00 opened #4472 "Translation - selectAsset dynamicaly generate the string key / ratio title partialy translated"
**Bug**
This is likely to be a two part issue (first part is to clarify then take action).

I was poking the code to fix a non translation string in the edit channel page.

[Thumbnail <recommendation ratio>](https://github.com/lbryio/lbry-desktop/blob/8b266ebacb0fc4d3c9673a5ef4da22d0d61d681d/ui/component/channelEdit/view.jsx#L119), [Cover <recommendation ratio>](https://github.com/lbryio/lbry-desk

[2020-07-03 00:37] Suisse00 commented on #4472
Suggested labels: good first issue, level 1, type: discussion, type: task

[2020-07-03 14:12] tzarebczan opened #4475 "Option to retry video stream on failure"
There are various instances where a video may fail on start or mid way, and it would be nice to have a retry button on the page instead of having to refresh the page.

[2020-07-03 14:30] arthurferrai commented on #4462
It's not exactly solved (since safari still doesn't play the video as expected).

[2020-07-03 14:52] tzarebczan commented on #4462
You wrote "Tried right now on same browser, this time using private browsing (cmd + shift + N) and it plays as expected"  

Maybe you have some extension or blocker in Safari on your main tab? Sounds like a local issue.

[2020-07-03 15:12] jessopb opened #4476 "Be sure matomo has UserId"
Matomo requires UserId for certain reports.
Current system doesn't directly support it.
Find a way.

[2020-07-03 15:26] arthurferrai commented on #4462
Yeah, looks like a local issue. Now the same video is working (even without private browsing).
Sorry for bothering 😅

[2020-07-03 15:33] #3821 closed

[2020-07-03 15:33] #2943 closed

[2020-07-03 15:43] infinite-persistence opened #4477 "Price="free" yields nothing"
If "Anything" yields a bunch of free items, "Free" should yield the same thing, right?
https://youtu.be/HxOm51r8ERY

Seems to only affect `Following + New` query.

[2020-07-03 15:44] tzarebczan opened #4478 "adjust default bid based on wallet balance"
Default bid on publish and channels is 0.001 LBC. We should adjust upwards when the user has a higher balance (i.e. 0.1 LBC if over 1, 1LBC if over 10LBC).

[2020-07-03 16:01] jessopb opened #4479 "Post-channelNew issues"
- [ ] name/helptext overlap
- [ ] reorder pending channels to top
- [ ] inline channel creation option
- [ ] tab names
- [ ] location/language

[2020-07-04 05:00] infinite-persistence opened #4481 "Issues with new Channel Creation page"
- [ ] Minor overlap between label and error message
![image](https://user-images.githubusercontent.com/64950861/86505145-d8c96000-bdf3-11ea-9c5f-dc03e39b4bec.png)

- [ ] If I cancel the channel creation using the button at the bottom, it doesn't bring me back to previous page, but always lands in "Your channels" instead.  The cancel button at the top does bring me to the previous page.
- [ ] The _

[2020-07-04 09:22] LendoK commented on #4425
@tzarebczan after `sudo mount /tmp -o remount,exec` I can start the daemon. But this is only a temporary solution. Why is the ticket closed?

[2020-07-06 10:59] infinite-persistence commented on #4063
Both buttons are available in today's code:

![image](https://user-images.githubusercontent.com/64950861/86586621-c2b9cc00-bfba-11ea-92fe-dd6af00f6c65.png)

[2020-07-06 12:24] infinite-persistence commented on #4429
**Close**
- The change in redux has been incorperated.
- The "large account history" issue has been fixed.

[2020-07-06 12:24] #4429 closed

[2020-07-06 13:29] seanyesmunt commented on #4408
I think I would prefer fix #1 mostly because of this comment

Generally, I have started to prefer putting more logic inside of components. I think that makes the data flow easier to track. It does lead to component bloat though, but that is out of scope for this issue.

[2020-07-06 13:42] #4332 closed

[2020-07-06 19:44] infinite-persistence opened #4485 "Double "@" in New Channel desktop notification"
Create a channel and wait for the confirmation.  I've seen various behavior:
- no notification
- got the notification but with double "@"
   ![image](https://user-images.githubusercontent.com/64950861/86633979-eb19e880-c003-11ea-831a-99652952062a.png)
- notification appears correctly

Not sure how to reproduce, but this was the second time.

[code]

[2020-07-06 19:59] infinite-persistence opened #4486 "Highlight the "More" filter button for Refugee filter?"
Normally, the "More" filter button would be highlighted when the filter is auto-expanded.  The Refugee list does auto expand, and it includes a "clear" button, but it doesn't highlight the button.  There's no indication that it has been filtered after collapsing the area.
![image](https://user-images.githubusercontent.com/64950861/86635670-f66e1380-c005-11ea-8e72-4ded666afed3.png)

[2020-07-06 21:29] kauffj commented on #4486
Ideally everything that we can do via URL is doable via the UI directly. The "advanced filter" thing is a hack from our ability to filter out-racing our ability to build a UI.

tl;dr - build a multi-channel selector :sunglasses:

[2020-07-07 02:01] seanyesmunt commented on #4485
Probably not worth fixing for now. I plan to get rid of this notification in favor of in-app notifications once that is complete.

[2020-07-07 04:22] #4485 closed

[2020-07-07 13:28] #4460 closed

[2020-07-07 13:29] #4293 closed

[2020-07-07 15:24] tzarebczan opened #4490 "authenticate status call with auth token header (when exists)"
The call to https://api.lbry.tv/api/v2/status gets made without a header so it checks a random SDK. If a user is authenticated, it should pass their token so it checks the right SDK.

[2020-07-07 18:29] tzarebczan opened #4492 "Make support (tip case) dialog clearer"
Make it clearer that tip being sent to creator when tip option is used.

Potentially move other text to bottom of modal and add note below title.

[2020-07-07 20:23] kauffj commented on #4397
@michaelmitnick when you see this merged you can make changes from https://github.com/lbryio/lbry-latam/issues/16

[2020-07-08 04:47] infinite-persistence commented on #4477
@tzarebczan, I can still reproduce it consistently when I switch back to `0`, and "fix" it with `<=0`

My setup:
* `yarn dev`, which starts as logged out but with valid wallet.  I didn't log back in.
* Only following 2 channels

<details>
<summary>Query with "0" (<em>click to expand</em>)</summary>

[code]
</details>

<details>
<summary>RPCError for "0" case (<em>click to expand</em>)</summary>

[

[2020-07-08 13:03] sanabhass commented on #4430
@seanyesmunt
after spending some time looking through your proposal, we think that this [https://github.com/vkalinichev/postcss-rtl](https://github.com/vkalinichev/postcss-rtl) plugin would be more useful. It's basically do the same work as the [https://github.com/nicolashemonic/rtl-css-transform-webpack-plugin](https://github.com/nicolashemonic/rtl-css-transform-webpack-plugin) but it is better m

[2020-07-08 18:25] #4225 closed

[2020-07-08 18:36] #4468 closed

[2020-07-08 20:01] ole-tange opened #4501 "Font size"
I am visually handicapped. This mean that I always increase the font size to 200% - sometimes even more.

I have found no way to do that in LBRY.

Ideally I would like it to work as smoothly as in Firefox: CTRL + and CTRL - to zoom. CTRL scrollwheel also zooms.

But it would also be acceptable, if I could change the font size in settings.

As it is now, I cannot use the Desktop app - simply becaus

[2020-07-08 20:44] #3953 closed

[2020-07-08 20:44] #3582 closed

[2020-07-08 20:45] seanyesmunt commented on #2138
I think this can be closed?

[2020-07-09 08:31] kabo opened #4503 "Can't play videos from some channels, only download"
**Bug**
Some channels have videos I can't play, but I can download them and play them in VLC just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to lbry://@SciShow#6 or lbry://@The-King-of-Random#a or lbry://@PBS-Space-Time#e (I'd say SciShow, PBS Spacetime, and The king of random are pretty big content creators and probably know what they're doing)
2. Click on any video
3. Can't p

[2020-07-09 08:35] kabo opened #4504 "Make it clearer how I likely I am to be able to view a video without buffering"
**Is your feature request related to a problem? Please describe.**
Sometimes when I watch a video it buffers for 10 seconds, plays for 5 seconds, buffers for 10, plays for 5, over and over. And if I try to download the video it takes longer to download than the play time of the video.
If I click some other video it plays without a hitch.

**Describe the solution you'd like**
I'd like to have some

[2020-07-09 13:11] clay53 opened #4505 "Highlight url instead of text when embedding a link"
**Is your feature request related to a problem? Please describe.**
It really annoys me every time I press ctrl+k with the display text selected and I accidentally paste over it and then have to undo that, select the "https://" thing, and then paste the url. Please make it so that it just goes straight to highlighting the "https://".

**Describe the solution you'd like**
When writing text, make it

[2020-07-09 13:22] clay53 opened #4506 "Add ability to support on publish page"
**Is your feature request related to a problem? Please describe.**
Add ability to support the publish on the publish page so you don't have to wait until after the claim is confirmed to add support.

**Describe the solution you'd like**
Add a field below the deposit to stake revocable support.

**Describe alternatives you've considered**
Making it so that users are able to view their publish befor

[2020-07-09 13:25] tzarebczan commented on #4506
This won't be possible since the claim needs to be crested before it can be supported. You can add a bigger initial deposit or wait until it's confirmed.

[2020-07-09 13:25] #4506 closed

[2020-07-09 13:26] tzarebczan commented on #4501
Thanks for opening the issue!

[2020-07-09 14:38] clay53 commented on #4506
Would it be impossible to add it to a kind of queue in the app and just say to wait for it to go through before closing?

[2020-07-09 16:26] tzarebczan commented on #4503
Looks like this user is publishing files without a file extension which is why the app / SDK can't detect the correct file type to stream it.

I'll try to reach out to him and see why this is not failing on the SDK side. Thank you for brining this up! Will send a tip over on Discord.

[2020-07-09 16:26] #4503 closed

[2020-07-09 17:04] #4492 closed

[2020-07-09 23:41] tzarebczan opened #4512 "Show mini channel thumbnail next to channe list in sidebar"
A user on telegram suggested we should do this to match our Android app / Youtube. This would require resolving all the channels on app load also (can be batched). On lbry.tv, we'd want to optimize this not to happen on every reload if possible.

[2020-07-10 07:04] #4486 closed

[2020-07-10 07:25] infinite-persistence commented on #4457
Ah, from the GUI, I was under the impression that we haven't submitted to the servers yet and is still transcoding locally, hence was expecting the `Cancel` button to kill ffmpeg and skip the submission.

[2020-07-10 14:04] #4385 closed

[2020-07-10 15:31] #424 closed

[2020-07-10 15:31] #4397 closed

[2020-07-10 21:34] tzarebczan opened #4516 "search with % causes app crash"
the autocomplete api fails with : {
  "success": false,
  "error": "S: cannot be blank.",
  "data": null
}

[2020-07-11 19:10] infinite-persistence commented on #4408
## tl;dr
After experimenting, I think neither solution will fix it completely;  might need more elaborate stuff at redux.  Live with the minor glitches for now, I guess.

## Details
#### Solution 1 will just mask the issue as well
I think it's actually due to the hack that prevents showing videos from the future:
[code]
Say that you are currently showing 3 pages (e.g. 20, 20, 20) ... and after 1 m

[2020-07-11 21:01] eggplantbren opened #4519 "Non-mature video hidden by mature filter"
Via @jaworek in the Discord.

[This video](https://lbry.tv/@Luke:7/on-setting-a-good-example-for-kids:0) does not have a mature tag, but is filtered by the mature setting in the app/lbry.tv for no apparent reason.

I wonder if this has something to do with the bug where it used to say channels had 1 filtered item in them, even when they didn't.

[2020-07-11 21:15] tzarebczan commented on #4519
It has other tags from YouTube including the porn tag, that's why it's hidden. We should be showing those tags on the file page up front though. Pretty sure the mature one does, but others may not.

[2020-07-11 21:21] eggplantbren commented on #4519
I didn't see that tag. My bad.

On Sun, 12 Jul 2020, 9:16 AM Thomas Zarebczan, <notifications@github.com>
wrote:

[2020-07-11 21:22] jaworek commented on #4519
<img width="391" alt="image" src="https://user-images.githubusercontent.com/22678765/87234034-69dca000-c3cd-11ea-8698-e7f219c36a40.png">
Only these tags show up under the video.

[2020-07-12 05:43] infinite-persistence opened #4520 "Can't view price of own items unless I edit that time"
I couldn't find a view that would display the price for my own claims, except in the Edit Page, or by logging out.  I've tried Publishes, search, view from my channel, etc.

Being able to see the price easily would be helpful.  Makes we realize if I have any mispriced items, or if I decide an item needs a price change.

[2020-07-12 13:27] infinite-persistence commented on #3964
The "YouTube channel info" is referring to the string `Official YouTube Creator - Last updated 1 day ago`, right?  Or does it include other things as well (just to be sure)?

[2020-07-13 17:29] tzarebczan commented on #4504
Thanks for opening this issue! We're aware this is a common issue on lower bandwidth connections / areas where we don't have good coverage yet. Hope to make some enhancements in the future.

[2020-07-13 18:43] seanyesmunt opened #4522 "Show channel associated with lbry-first, and add option for youtube premiere in the future"
Taken from #3841

[2020-07-13 18:43] #3841 closed

[2020-07-13 19:42] #1718 closed

[2020-07-13 19:48] tzarebczan commented on #4481
Thanks for the issue, appreciate it! A few good points that should be considered soon.
Also see https://github.com/lbryio/lbry-desktop/issues/4479

[2020-07-13 19:50] #4447 closed

[2020-07-13 21:12] tzarebczan opened #4524 "[mobile] in channel search not available"
The search feature is not available on the channel page in mobile mode

[2020-07-13 22:11] tzarebczan opened #4525 "splash screen internationalization bug"
![photo_2020-07-13_18-10-11](https://user-images.githubusercontent.com/8120721/87358655-4122ea80-c534-11ea-9e30-447619a192c4.jpg)

[2020-07-13 22:16] kauffj opened #4526 "alternative homepage queries"
per https://docs.google.com/document/d/1vra2ttX6S1t8kWsi9blwBiANx--wfxWP0zrNU20_b5s/edit?ts=5f0b860d

(not intended to be public, this is a reminder to me and will be converted into more digestible form before working)