[2018-08-23 17:56] skhameneh opened #1904 "Large "thumbnail" failed with code 524 on Spee.ch (`lbry-desktop` should optimize/resize/crop before sending to Spee.ch)"
Minimum implementation:
 - `lbry-desktop` resizes all thumbnails so a "cover" scaling will match the 800x450 dimensions (one dimension can exceed 800x450, the other dimension must match 800x450).

Ideal implementation:
- `lbry-desktop` prompts the user with a scaling/cropping tool for thumbnails.

Considerations:
- Doing pre-optimization on clients helps reduce server loads
- pngquant + zopfli pro

[2018-08-23 22:34] tzarebczan commented on #1667
@alyssaoc yep, added information about the URL to #1394

[2018-08-23 22:34] #1667 closed

[2018-08-24 14:39] tzarebczan commented on #1859
Notes from Slack:
summary of subscription discussion:
- show the age of the content on the tile card (`x time units old`) similar to youtube
- make sure there is a clear indicator of what's "new" - there is a number in parentheses next to subscriptions, I should easily be able to tell what this corresponds to after clicking
- also make sure the badge number has consistent/understandable behavior
-

[2018-08-24 15:03] seanyesmunt opened #1905 "Exact url match on search page doesn't work properly for channels"

[2018-08-26 22:06] shyba commented on #1689
@tzarebczan maybe this was related with that bug that got solved during restart? that caused troubles on startup if one of the wallet servers were out?
lbryum is being deprecated and the wallet servers got a new release. I wonder if the new one still disconnects or if it got solved.

[2018-08-26 23:18] tzarebczan opened #1907 "Handle content that doesn't have related suggestions"
## The Issue
lbry://13761535286640252 has no related content so the app shows "Related0" with a blank list. We should add  a short message when this is the case.

https://content.screencast.com/users/thomas.zarebczan/folders/Snagit/media/2e330da9-e2a7-4e83-8384-44f91f858080/08.26.2018-19.13.png

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating

[2018-08-27 15:43] skhameneh commented on #579
Closing
https://github.com/lbryio/lbry-desktop/pull/1523, a new PR can be filed when work is resumed.

[2018-08-27 19:08] #1734 closed

[2018-08-27 19:08] #1861 closed

[2018-08-27 20:12] tzarebczan commented on #1904
@skhameneh see comments on https://github.com/lbryio/lbry-desktop/issues/1670#issuecomment-412516084 - I think we should open this as a spee.ch issue. The app can pass a parameter so spee.ch knows to "thumbnail" it. Can you follow up with the spee.ch issue and close one of these...then udpate one to mention the spee.ch issue and how the app would support it.

[2018-08-27 20:48] tzarebczan opened #1911 "parts of title stripped out when sent to search for related content"
## The Issue
See lbry://gametales-11-nes-the-console-that-beat#b2725a53e56d8cefc15cabe4a806e4bc7430d4f4

Search: https://lighthouse.lbry.io/search?s=GameTales%20

Not sure what other characters would be affected, so far only noticed `#`.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-27 22:59] #1907 closed

[2018-08-27 22:59] #1905 closed

[2018-08-28 13:31] tzarebczan commented on #1911
https://github.com/lbryio/lbry-redux/pull/73

[2018-08-28 13:38] tzarebczan opened #1913 "Fix Mac digital cert"
## The Issue
The digital certificate for Mac needs to come from the playstore and has to be configured in Travis/travis.yml.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-08-28 14:02] tzarebczan commented on #1913
Fixed on latest Travis build! https://travis-ci.org/lbryio/lbry-desktop/jobs/421326470

[2018-08-28 14:02] #1913 closed

[2018-08-28 14:03] tzarebczan commented on #1863
Fixed abnormal memory usage in https://github.com/lbryio/lbry-desktop/pull/1870

[2018-08-28 14:03] #1863 closed

[2018-08-28 16:15] tzarebczan commented on #1805
Looked like it was fixed, but still coming up as an issue in some scenarios.
![image 1](https://user-images.githubusercontent.com/8120721/44736016-0f2d4a00-aabc-11e8-8fd9-8e30aa236445.png)

[2018-08-28 16:54] tzarebczan opened #1915 "Handle subscriptions where multiple claims posted in short period or when app is closed"
## The Issue
Currently, the subscriptions process is only able to handle 1 piece of new content that's posted either in the same block, or within the interval the internal that the app checks for new subscriptions (15 minutes).

There are 2 scenarios:
1) The app is running and these new claims come in
2) The app was closed while the claims were posted, and then opened (this applies to all new cont

[2018-08-28 17:09] tzarebczan commented on #586
We should check that the file exists before opening it, and if not, allow the user to re-download it.

[2018-08-28 17:15] alyssaoc commented on #607
@seanyesmunt find any outstanding find/replace and close

[2018-08-28 17:19] #618 closed

[2018-08-28 17:19] tzarebczan commented on #618
The subscriptions approach has been reengineered and covered in newly opened issues.

[2018-08-28 17:20] alyssaoc commented on #621
closed, this has been addressed in the redesign

[2018-08-28 17:20] #621 closed

[2018-08-28 17:20] tzarebczan commented on #621
@MR4Y let us know if you are still seeing this on the latest app release. Closing for now.

[2018-08-28 17:30] alyssaoc commented on #626
@tzarebczan open lbry side issues as appropriate

[2018-08-28 17:41] alyssaoc commented on #637
@seanyesmunt can you confirm this is done?

[2018-08-28 17:42] alyssaoc commented on #670
closed, this has been fixed

[2018-08-28 17:42] #670 closed

[2018-08-28 17:44] tzarebczan commented on #670
Fixed in dev mode, will open a ticket for prod mode.

[2018-08-28 17:44] alyssaoc commented on #679
Closed, this was fixed in the redesign

[2018-08-28 17:44] #679 closed

[2018-08-28 17:49] alyssaoc commented on #695
@seanyesmunt This should be considered for an epic

[2018-08-28 17:54] alyssaoc commented on #704
closed, this problem has been solved

[2018-08-28 17:54] #704 closed

[2018-08-28 17:56] alyssaoc commented on #719
@tzarebczan is this still an issue?

[2018-08-28 17:58] tzarebczan commented on #719
Yes, still happening on on the latest build.

[2018-08-28 20:19] tzarebczan opened #1916 "Ensure file analytics are called before claiming reward"
## The Issue
Thanks to @LavRadis for spotting this one, I was able to reproduce. Looks like the file_view call came in after the reward tried to be claimed for featured content.

https://www.screencast.com/t/Tb1jNunH

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating sys

[2018-08-29 13:23] ykris45 opened #1921 "Add ability to view Excel Spreadsheet files in app"
## The Issue
Currently LBRY App can view csv,txt,html etc files in document viewer. would be nice if have feature to view xls files directly in app. i testing the latest RC and publishing excel files but it cannot view in my LBRY App.

### Steps to Reproduce
1. Publish a Excel Files
2. wait until published excel completed
3. view your published excel. i doesnt appears in LBRY App Document viewer

[2018-08-29 15:07] #1911 closed

[2018-08-29 15:07] #1812 closed

[2018-08-29 15:07] #1902 closed

[2018-08-29 15:43] VigilanteComedian opened #1922 "[Enhancement] Choose times for Automatic Dark Mode"
## The Issue

### Steps to Reproduce
1. Enable Automatic Dark Mode in LBRY App.
2. Observe switchover timing being restricted to 9pm and 8am.

### Requested Behaviour
The LBRY automatic dark mode should have the ability to be configured to engage at times of the users choosing.

### Actual Behaviour
Automatic dark mode only enables for 9pm and 8am switchovers.

### Suggested Solutions
Allow system

[2018-08-29 15:55] kauffj commented on #586
A bit torn on this one. Should the daemon be doing more to verify files exist or is this always the job of the application layer?

At first thought, I'm inclined to say if the daemon is returning a path, it is implicitly promising the file is actually there.

@eukreign @skhameneh maybe you could discuss and reach consensus on where this responsibility should reside?

[2018-08-29 15:57] kauffj commented on #1915
If I can't reliably use subscriptions to see every piece of content from a creator since the time I subscribed, then this is a bug.

[2018-08-29 16:02] tzarebczan commented on #1921
Thanks for filing @ykris45 ! Looking for a community member who might want to take this on.

[2018-08-29 16:03] tzarebczan commented on #1922
Thanks for joining our Discord community and for filing this issue!

[2018-08-29 16:03] tzarebczan commented on #1916
Fixed in https://github.com/lbryio/lbry-desktop/pull/1918

[2018-08-29 16:03] #1916 closed

[2018-08-29 17:16] daubaris commented on #1922
I'll take a look on this one!!!

[2018-08-29 17:58] ykris45 opened #1923 "[FEATURE REQUEST] Get Ability to view Powerpoint Presentation files in App"
## The Issue
Currently LBRY has Document viewer. its a greatest feature in LBRY App. so users can view pdf, doc, html, txt or etc files directly in App. i testing publish presentation files in my LBRY App but when i click view file and the App told me "sorry we can't preview this file" its means LBRY does not have feature to view pptx files or other Powerpoint Presentation extension. so would be n

[2018-08-29 22:19] kauffj commented on #1923
Google has spent a decade on this and it still has bugs.

It is extremely unlikely we'll support complex, proprietary file formats in the app, so I'm going to close this.

You're welcome to continue to push for other types that are open or more feasible to support.

[2018-08-29 22:19] #1923 closed

[2018-08-30 10:59] arre-qp-db opened #1926 "Handling multiple "contents" at once"
### Steps to Reproduce
0. Open something in desktop client
1. Open web browser, type in lbry:// link
2. LBRY Desktop client opens a link
3. Previous content is aviable only with back button

### Expected Behaviour
Some possibility to handle multiple links at once

### Actual Behaviour
No possibility to do so

### Suggested Solutions
Tabs + Trash

## System Configuration
Linux Mint 18.3 w KDE

[2018-08-30 13:58] tzarebczan commented on #1926
@arre-qp-db thanks for the suggested feature request! Are you part of our [Discord community](https://chat.lbry.io) yet?  If so, shoot me a DM and we'll get some LBC over to you as a tip :)

[2018-08-30 18:31] tzarebczan commented on #1900
Check to see if similar timing issues as in lbry_file_view entry 391277

[2018-08-31 03:02] ceoger opened #1927 "Any special character before, after or within a url breaks the app"
## The Issue
when you include any special character like :  (,./';][?":) within a claim url, it breaks the app
### Steps to Reproduce
1. Click on any video,
2. once your get url in the address bar, add any special character like say , period "."
3. press enter and you get a blank screen

### Expected Behaviour
when a special character is added to the url, nothing should happen, a warning, or a sea

[2018-08-31 04:07] tzarebczan commented on #1927
To be clear, it's when it's added to the claim ID portion. The app handles the scenario where bad characters are present in the claim name.

[2018-08-31 08:49] ceoger commented on #1927
it happens also in then url as well: "lbry://real-life-cryptocurrency-purchase-and.." as well as the claim ID portion

[2018-09-02 00:35] seanyesmunt commented on #508
Chromecast support seems like it should be possible. There is an [issue](https://github.com/electron/electron/issues/869) bake cast functionality directly into Eelectron, but it doesn't seem like that is going anywhere.

There are a couple options, https://github.com/thibauts/node-castv2-client, https://github.com/GPMDP/electron-chromecast

It looks like `node-castv2` has more support, and there i

[2018-09-02 00:36] seanyesmunt commented on #508
My recommendation is to use `node-castv2` since there is an example application. We should be able to use that code without changing to much.

[2018-09-02 08:37] m160 opened #1932 "Paragraphs not rendered correctly in markdown"
When publishing content the description text is mushed into a block of text.
I think this is something that was introduce in the latest version: 0.25.0

Two screenshots says more than two thousand words.

Editor:
![screenshot from 2018-09-02 10-18-33](https://user-images.githubusercontent.com/34570404/44953988-082b8080-ae9c-11e8-84b7-1c62a26e2397.png)

Preview:
![screenshot from 2018-09-02 10-18-5

[2018-09-03 02:53] #1876 closed

[2018-09-03 02:53] #1891 closed

[2018-09-04 00:16] seanyesmunt commented on #1862
@jamesbiller I created the PR with a rough draft.
https://github.com/lbryio/lbry.io/pull/745

[2018-09-04 11:01] m160 opened #1933 "[Feature Request] Progress overview of ongoing downloads"
## The Issue
When downloading a lot of content at the same time there's no convenient way to check the progress of each download. You'd have to make a mental note of the content you are currently downloading and then go to each individual claim to see the progress.

### Suggested Solutions
A downloads button similar to what you can find Firefox and other browsers would make it a lot easier to chec

[2018-09-04 12:37] seanyesmunt commented on #1933
This is a great idea.

I think there can be two approaches:
- Adding the downloaded percentage to the `FileCard` component in "Your Downloads" (and possibly subscriptions too)
- Adding this new drop-down component for quick access to your x latest downloads

[2018-09-04 12:39] seanyesmunt commented on #1932
We use https://github.com/RIP21/react-simplemde-editor for this component. This issue should be opened there.

[2018-09-04 17:49] alyssaoc commented on #766
@eukreign Does the new wallet support this?

[2018-09-04 17:54] alyssaoc commented on #780
current UI fixes this

[2018-09-04 17:54] #780 closed

[2018-09-04 17:56] #787 closed

[2018-09-04 19:31] alyssaoc commented on #887
this has been added

[2018-09-04 19:31] #887 closed

[2018-09-05 20:19] #742 closed

[2018-09-05 20:19] alyssaoc commented on #742
Issue moved to [lbryio/lbry #1429](https://github.com/lbryio/lbry/issues/1429) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-06 00:15] seanyesmunt commented on #607
All icons use constants now.

[2018-09-06 00:15] #607 closed

[2018-09-06 00:16] seanyesmunt commented on #637
There is one modal left, inside of `rewardLink/view.jsx`

Currently if claiming a reward through the reward link fails, we pass an error string into the component. We can just call `doNotify` inside of the redux action.

[2018-09-06 04:35] seanyesmunt opened #1936 "Use 'lbryio/lbryinc' module."
We should be using https://github.com/lbryio/lbryinc

This should allow us to get rid of lbryio and redux files for user and rewards.

[2018-09-06 23:55] btzr-io commented on #1932
We are using a custom markdown render not the one from `simpleMDE`

[2018-09-07 00:00] seanyesmunt commented on #1932
@btzr-io This is for the markdown preview, not for actually viewing the markdown on the file page

[2018-09-07 00:01] btzr-io commented on #1932
@seanyesmunt Yes, we use the same component on preview and on file page...

[2018-09-07 00:18] btzr-io commented on #1932
@seanyesmunt If you check the description on file-page, you can see the same bug :upside_down_face:

[2018-09-07 00:38] seanyesmunt commented on #1932
Ah you are right @btzr-io. Thanks for re-opening this issue.

@m160 Sorry about that!

@btzr-io Do you think we can solve this with css? Or will a change need to be made to the markdown renderer?

[2018-09-07 14:05] seanyesmunt commented on #1932
FIxed with #1939

[2018-09-07 14:05] #1932 closed

[2018-09-07 14:07] #1877 closed

[2018-09-07 14:14] #1849 closed

[2018-09-07 19:05] seanyesmunt opened #1945 "Snackbars and modals can't be displayed at the same time"
## The Issue
Currently modals and snackbars can't be rendered at the same time.

### Steps to Reproduce
1. On the Send/Recieve page
2. Copy address with button to see the copy address snackbar
3. Press the "send" button to open up the send confirmation modal

### Expected Behaviour
The modal and snackbar should both be displayed

### Actual Behaviour
The modal isn't displayed until the snackbar go

[2018-09-08 00:42] tzarebczan commented on #1945
Same as https://github.com/lbryio/lbry-desktop/issues/1767? Keep whichever is clearer / has more info.

[2018-09-08 05:45] #1945 closed

[2018-09-08 15:49] tzarebczan commented on #1889
Go for it, should be an easier one to fix :) We should just put up a message (and not allow submit) when the value is less than 0.00000001

Thanks again for the help!

[2018-09-08 19:35] jessopb commented on #1889
Cool, no problem. I am sensitive to lbry-desktop seeming more of a "justify" style than "center". :)

![ssa](https://user-images.githubusercontent.com/36554050/45257944-a75ce600-b37c-11e8-9c94-c152f8a2b6e8.png)
![ssb](https://user-images.githubusercontent.com/36554050/45257945-ac219a00-b37c-11e8-97ba-5132f4ed338d.png)
Which do you like?

[2018-09-08 19:38] seanyesmunt commented on #1889
Definitely the bottom! That looks great 🙂

On Sat, Sep 8, 2018 at 3:35 PM jessopb <notifications@github.com> wrote:

--
Sean Yesmunt
Application Engineer for LBRY

[2018-09-08 22:26] jessopb commented on #1889
PR submitted for checking tip amount validity. Sorry about the thread mixup here.

[2018-09-09 02:50] btzr-io commented on #695
#### WIP (Just the ui, no redux logic yet)
@seanyesmunt  any ideas or feedback on this?

![notify](https://user-images.githubusercontent.com/14793624/45260555-e6546100-b3a7-11e8-913c-8cab0d17d156.png)

[2018-09-10 02:29] btzr-io commented on #695
![notify](https://user-images.githubusercontent.com/14793624/45273211-c20f8780-b46e-11e8-94c3-b9a838536842.gif)

Some minor updates, still working on `3`

[2018-09-10 02:40] btzr-io commented on #695
![colors](https://user-images.githubusercontent.com/14793624/45273584-9d1c1400-b470-11e8-94c1-44db13003a29.png)

[2018-09-10 15:09] seanyesmunt commented on #695
This is awesome @btzr-io.

I agree with @kauffj's comments. Maybe add an `x` in the corner when you hover over one notification to remove it from the stack. For the redux side this should live in`lbry-redux`. Probably in the `notifications` reducer.

I think to keep it simple we can just start with adding newsly subscribed content and your publish confirmations: `"Your file at lbry://something is

[2018-09-10 15:10] seanyesmunt commented on #695
Also this should use the`FileTile` component to keep it consistent with search/related content.

[2018-09-11 14:36] tzarebczan opened #1948 "Autoplay next suggested content"
## The Issue
Explore adding a feature which allows users to continuously play suggested content.

Note: will be important to take into account the current autoplay button functionality and how to differentiate it with autoplay next content.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-09-11 14:53] tzarebczan opened #1949 "Move suggested content endpoint to internal-apis"
## The Issue
Based on https://github.com/lbryio/internal-apis/issues/579, we want to move the current related content query away from lighthouse search and into internal apis.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-09-11 15:04] tzarebczan opened #1950 "Strip out non-critical characters from related content / lighthouse queries"
## The Issue
Certain characters don't provide any value of being passed to related content or lighthouse queries and should be stripped out. This would include symbols, emojis and non-ascii characters. See https://github.com/lbryio/lighthouse/issues/112#issuecomment-420233106 for one particular discussion/example.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installa

[2018-09-11 15:06] tzarebczan commented on #1900
There are a few users complaining that their file_views are not being counted. I've been able to confirm that this is occurring but have not reproduced it or seen it in action. Will continue to dig in.

[2018-09-11 15:26] tzarebczan opened #1951 "Add file_view/sub count analytics throughout app (file pages, tiles, etc)"
## The Issue
As a user, I'd like to know how many times a piece of content has been viewed to have an insight into popularity. As a creator, I want to know how many times my uploaded content has been viewed to judge traction/viewership.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-09-11 15:35] tzarebczan opened #1952 "File analytics (view counts) for own published content"
## The Issue
As the first step to https://github.com/lbryio/lbry-desktop/issues/1951, allow publishers to see view counts on content within their channel.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-09-11 16:51] tzarebczan commented on #1341
We no longer automatically download the latest content for newly subscribed channels, so this notification is not generated. Closing...

[2018-09-11 16:51] #1341 closed

[2018-09-11 19:40] tzarebczan opened #1953 "Autoplay and subscription autodownload views do not trigger file view api call"
## The Issue
If autoplay is enabled, a file view call is not triggered which results in file downloads not being counted for rewards purposes.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-09-11 20:43] seanyesmunt opened #1955 "Implement videojs file player"
https://videojs.com/

To determine if this is a viable solution for our new video player.

[2018-09-11 20:46] lyoshenka commented on #761
the real solution to this is data payments from users to hosts

[2018-09-11 20:46] #761 closed

[2018-09-12 18:21] asddsaz opened #1956 "[Feature]Show PeerTube Videos"
I know PeerTube gets a lot of hate, but I have seen many good content posted there and dislike switching clients.  It would be awesome if I could see LBRY videos and PeerTube videos in the same place.

PeerTube: https://joinpeertube.org/en/

[2018-09-12 18:24] asddsaz opened #1957 "[Feature] Allow users to control content based on community/LBRY driven tags"
**Feature**: An opt-in blocker for inappropriate content.

**Why**: Many other decentralized streaming services have lots of inappropriate content and I don't believe people would be wiling to adopt a platform without the ability to block it.

**How**? Similar to safe search for platforms like Google, DuckDuckGo, and SearX.
When the report button gets pressed it could ask for why they are reportin

[2018-09-12 18:32] asddsaz opened #1958 "[Feature/Question] Ongoing List of Blocked Videos"
From my understanding .LBRY does and will block videos from the client if the break copyright laws. I have 2 questions:

1. How do the video get blocked if the client is open source and decentralized?

2. Is there public list of all videos that have been removed from the client? If no then why?

[2018-09-12 19:02] asddsaz opened #1959 "[Feature] Search Other Databases"
**Feature**: The ability to import from other DApps

**Why**: There are many decentralized video platforms including KopyKate , DTube, PeerTube, and more. Personally, I believe the one to win will be the one that includes all protocols in one client.

**How**? I have seen some other networks allow users to point to a URL or Localhost and load data from there too. Obviously this will be for technic

[2018-09-12 19:09] asddsaz opened #1960 "[Feature] Add AppImage Support"
**Feature**: Create **[AppImage](https://appimage.org/)** for LBRY

**Why**? Many reasons, the main being that it is portable and easy to use.

[2018-09-12 19:11] asddsaz opened #1961 "[Feature] Add BSD Binary"
**Feature**: Add Binaries for BSDs like OpenBSD, LibertyBSD, and FreeBSD / TrueOS.

[2018-09-12 20:02] seanyesmunt commented on #1958
We maintain a list of content that is blacklisted from the app.

https://github.com/lbryio/lbry-redux/blob/master/src/redux/actions/blacklist.js

The content that is blocked can be found here https://api.lbry.io/file/list_blocked

[2018-09-12 20:10] tzarebczan commented on #1960
Thanks for opening this issue!

Please see previous discussions about appimage in https://github.com/lbryio/lbry-desktop/issues/953
https://github.com/lbryio/lbry-desktop/issues/332

For now we are sticking with deb files as it supports a majority of Linux users and for the reasons discussed in the issue above. We also provide flatpak support which covers other non-debian distros: https://github.c

[2018-09-12 20:10] #1960 closed

[2018-09-12 21:28] tzarebczan commented on #1957
Thanks for creating this issue!

This is mostly a duplicate of https://github.com/lbryio/lbry-desktop/issues/1001

We will be moving to a model where users can report other types of content outside of DMCA and then they'll be able to opt into LBRY/Community suggested tags.

We'll keep this issue open to keep track of work required to allow users to opt in/out of tags.

[2018-09-12 22:09] lyoshenka opened #1963 "Comments VMVP"
For the comments Very Minimum Viable Product, I suggest the following:

- add a section under each video called Comments. the section would have some indicator next to it that signals that the section is closed, and that you can open or drop-down the section by clicking on it.
- when the section is opened, it contains a message saying "Comments coming soon"
- anytime someone opens the section, thi

[2018-09-12 22:17] alyssaoc commented on #1963
@lyoshenka comments are planned for app d

[2018-09-13 00:01] btzr-io commented on #695
@seanyesmunt  There is a modal that for that, should I remove it?

[2018-09-13 02:26] btzr-io commented on #695
![remove-notify](https://user-images.githubusercontent.com/14793624/45463525-c08dcb80-b6c9-11e8-9754-3ae027421da2.gif)

[2018-09-13 11:51] tzarebczan commented on #1958
You can see more information about content blocking/policy at https://lbry.io/faq/content . Closing this issue for now.

[2018-09-13 11:51] #1958 closed

[2018-09-13 11:54] tzarebczan commented on #1959
Similar to my response in https://github.com/lbryio/lbry-desktop/issues/1956, we will not be supporting other databases via the desktop app. Down the road the LBRY protocol will support other source content outside of LBRY's P2P system.

[2018-09-13 11:54] #1959 closed

[2018-09-13 11:57] tzarebczan commented on #1961
Do these OSes support flatpaks? On our readme, we have a community controlled section which links to the flatpak: https://flathub.org/apps/details/io.lbry.lbry-app

I don't see us taking this on anytime soon as the Linux userbase is one of our smallest, and BSD oses make up even a tinier portion than that.

[2018-09-13 11:57] #1961 closed

[2018-09-13 12:53] stevenmos opened #1965 "lbry-app has forgotten verified humanness"
## The Issue
lbry-app has forgotten verified humanness

### Steps to Reproduce
1. Become verified
2. Earn rewards for nearly 1 yr
3. app forgets verified status without user consent/LBRY inc. justification

### Expected Behaviour
The lbry-app shouldn't forget, unless the user asks it to do so or the user has been notified why it has been removed.

### Actual Behaviour
lbry-app has forgotten withou

[2018-09-13 13:12] tzarebczan commented on #1965
Steven, I just re-enabled rewards on your account. (press ctrl-R in the app to refresh). Our system detected VPN/shared account use, which is one reason why we may disable rewards - please see https://lbry.io/faq/rewards.

[2018-09-13 13:12] #1965 closed

[2018-09-13 18:41] #1009 closed

[2018-09-13 19:09] kodxana opened #1966 "BLOB Files location"
Can we get option to move huge blob files to another hard drive. I tested that creating symblink and moving files to another drive works without problems to the app. But it will be better to do it from gui app 👍

[2018-09-13 19:55] tzarebczan commented on #1966
Blob files are part of the data_dir location which can be configured on the daemon. This is a bit tricky because when you change this location, you'd need to close the daemon, move current contents to the new location (excluding the daemon_settings file (https://github.com/lbryio/lbry/issues/1375)), and then restart.

We are looking at solutions for the daemon side to get rid of blob files complet

[2018-09-13 20:00] kodxana commented on #1966
I tested it by creating symblink in original folder to new folder on other drive where I copied all files.

[2018-09-14 18:35] jessopb commented on #1827
I wanted to add some intel to this:
I noticed the UI blocks intermittently: random delays lock up the entire UI interrupting tooltips, scrolling, input field entry, etc. I'm told that this is well-known, and that it's not unique to LBRY.
I recorded behavior using javascript profiler in tools.
It looks like _compress from iz-string.js is being called in a blocking way and isn't unblocked until crea

[2018-09-15 00:35] namujan78 commented on #1175
@tzarebczan How about the status of this issue?
I think we should change the Closed to open/in progress if you still want fix it.
If not we just ignore this case.

**Procedure of this case is:**
- Click on "PUBLISH" button then quickly multi click on "Choose file" when you can see "Choose file" button ==> Multi windows will appear

I don't have macOS so that I cannot confirm it happen or not on ma

[2018-09-15 02:38] 42degrees opened #1967 "Sort order should be retained when returning to page"
My publishes library has a lot of duplicates in it.  These are real duplicates.  So, I sorted my list by name and started going through it to remove the duplicates.  But every time I hit Back to return to the main list, it changes the sort order back!  Very annoying, especially if I'm scrolled down the page as the sort control scrolls off.

Also, if a change has happened (like I deleted an item) t

[2018-09-15 23:05] 42degrees opened #1968 "Upload (and possibly resize) image as its own thumbnail"
## Feature request
When uploading an image it would be nice to allow the same image to be used as the thumbnail for the image.  If the image is over x size (>5 mb? >500 pixels wide or tall) then the client should automatically resize the image and upload it to spee.ch as the thumbnail.

[2018-09-16 04:04] asdedhj commented on #1961
https://github.com/flatpak/flatpak/issues/1985

[2018-09-16 17:55] tzarebczan commented on #1670
Issue moved to [lbryio/spee.ch #599](https://github.com/lbryio/spee.ch/issues/599) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-16 17:55] #1670 closed

[2018-09-16 17:57] tzarebczan commented on #1904
Closing in favor of https://github.com/lbryio/spee.ch/issues/599

The app would presumably pass a parameter to spee.ch which would trigger the compression before upload.

[2018-09-16 17:57] #1904 closed

[2018-09-16 17:59] tzarebczan commented on #1968
The compression would be handled by https://github.com/lbryio/spee.ch/issues/599

For this to work inside the app, we'd need to give users who are uploading images an option to use the same image as a thumbnail. This would then call the spee.ch upload functionality, but at least they wouldn't have to re-select the file again. I don't think this should happen automatically...what if they want to us

[2018-09-16 18:02] tzarebczan commented on #1967
Thanks for filing this @42degrees ! Similarly, we should persist these filters in other areas of the app, i.e. https://github.com/lbryio/lbry-desktop/issues/1154

[2018-09-16 21:13] tzarebczan opened #1969 "Allow typing of encryption password without clicking entry box"
## The Issue
When starting up the app with an encrypted wallet, you are prompted for a password. In order to type the password, you must first click the entry box and then you can type.

The app should automatically select the entry box so the password can be typed without having to click anything.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Opera

[2018-09-16 23:15] seanyesmunt commented on #695
@btzr-io Sorry I missed your comment.

Maybe we should show the desktop notification if the app is closed, but not if it's open? Will this contain an "in-app" notification when something happens? It would be the same text as the text inside the drop down, but shown right when something happens? Maybe that should be it's own issue.

[2018-09-17 14:16] kauffj commented on #1969
Implementation suggestion: make this a property of either an input or form, not specific to encryption component.

[2018-09-17 16:17] tzarebczan commented on #1647
A user just ran into what he thought was a bug because the publish took longer than expected (will happen with larger files). I think a loading screen would have at least let them know something was in progress.

[2018-09-17 19:34] alyssaoc commented on #1890
this has been resolved, closing

[2018-09-17 19:34] #1890 closed

[2018-09-17 19:45] alyssaoc commented on #1921
we will not support excel files in app, will improve experience via #1718

[2018-09-17 19:45] #1921 closed

[2018-09-17 19:55] alyssaoc commented on #1874
closing in favor of #1886

[2018-09-17 19:55] #1874 closed

[2018-09-17 20:06] alyssaoc commented on #1766
once we know what the growth team wants to show, we will need to create the api calls

[2018-09-17 21:15] kauffj commented on #1766
@tzarebczan this is a good idea but will require further changes to the API reward structure to return information about all of the levels at once. Please group this issue with that one in an epic once that exists.

[2018-09-18 14:16] tzarebczan commented on #1695
The business team decided that this section should be called "LBRY After Dark" if and when it's implemented.

[2018-09-18 15:57] tzarebczan opened #1971 "Difference in price of the video and price to be paid"
@alyssaoc commented on [Wed Sep 05 2018](https://github.com/lbryio/lbry/issues/1429)

@LavRadis commented on [Tue Nov 14 2017](https://github.com/lbryio/lbry-desktop/issues/742)

## The Issue
There is a different price on the video and when you want to download it and buy it. Not sure if it affects multiple videos, it probably does but I couldn't check due to my balance. It is probably some kind o

[2018-09-18 17:17] alyssaoc commented on #1791
check to see if this is a duplicate for another tutorial issue

[2018-09-18 17:26] Grayyyyy commented on #1601
Had a lot of IRL stuff happen recently, but I’ll try to pick this back up 🙂

On Tue, Sep 18, 2018 at 12:22 PM Thomas Zarebczan <notifications@github.com>
wrote:

[2018-09-18 17:28] alyssaoc commented on #1830
@btzr-io can this be closed? should an issue for gcode be opened

[2018-09-18 17:29] #1830 closed

[2018-09-18 20:06] alyssaoc commented on #1791
also on growth board for content development portion

[2018-09-19 00:34] btzr-io opened #1974 "Obstructive notifications (snackbar)"
## The Issue
Snackbar notifications obstruct some elements on the header component.
~Also would be nice to have an option to remove it without having to wait.~

### Steps to Reproduce
1. Trigger a snackbar notification (click on the copy wallet address button)

### Expected Behaviour
Non-obstructive notifications.

## Screenshots

![snackbar](https://user-images.githubusercontent.com/14793624/4572

[2018-09-19 00:37] 42degrees opened #1975 "License setting is lost if you edit an item"
## The Issue
If I upload an item and set the License to "Copyrighted..." when I edit the item the selection returns to "None".

### Steps to Reproduce
1. Upload something setting the License to "Copyrighted...".
2. Edit the item and notice that the License has reverted to None

### Expected Behaviour
It should refill the License dropdown to the previous value.  It should refill the Copyright Notic

[2018-09-19 00:56] 42degrees commented on #1968
There was also discussion in the forum that many (most?) images wouldn't be good to use as the thumbnail since they would be too large (would slow down the pages), so the client should resize the image dynamically (maybe even offer cropping, etc. to make it more reasonable).

So, the feature might be broken into versions:
- Upload as thumbnail, no resizing
- Auto resize and upload, no editing
- Au

[2018-09-19 18:48] kauffj commented on #1975
@tzarebczan your comment above would count as Triage so you can update Pipeline. I'm adding "Consider Soon" as well, this is important to fix.

[2018-09-20 01:52] btzr-io commented on #1974
@seanyesmunt some good suggestions:
https://material.io/design/components/snackbars.html#placement

[2018-09-20 01:58] btzr-io commented on #1830
@alyssaoc ok, you should ask  @jamesbiller if the app needs a `gcode` support.

[2018-09-20 13:18] #1862 closed

[2018-09-20 18:24] alyssaoc opened #1976 "App frontpage redesign"
This issue pertains to what you see in the app as soon as it loads. The "homepage", if you will.

[2018-09-21 19:30] alyssaoc commented on #623
closing for #1701

[2018-09-21 19:30] #623 closed

[2018-09-22 02:30] #1969 closed

[2018-09-22 05:50] seanyesmunt opened #1978 "Make tooltip smarter"
## The Issue
Currently the tooltip can be cut off if it is near the edge of the screen

<img width="400" alt="screen shot 2018-09-22 at 1 46 20 am" src="https://user-images.githubusercontent.com/16882830/45913865-7fa06000-be09-11e8-825f-e919640b39f1.png">

### Steps to Reproduce
1. Hide NSFW content
2. Scroll to bottom of explore
3. Hover over "whats this" tooltip

### Expected Behaviour
All of th

[2018-09-24 13:32] #1936 closed

[2018-09-24 16:14] tzarebczan commented on #1827
@jessopb I'm experiencing the same. @seanyesmunt this is what I was referring to in my DMs. Something definitely introduced in 0.25 as it doesn't happen in 0.24. I'll see if i can pin this to the electron upgrade or something else we changed.

[2018-09-24 16:31] tzarebczan opened #1982 "Feature: self organizable playlists"
## The Issue
The idea would be to allow users to create their own playlists in the app, outside of any playlist functionality that may be implemented on the protocol level. I'd want to be able to create/delete/edit multiple named playlists, add claims easily to the queue (from file pages, tiles, etc), re-order playlists using drag/drop features, auto play next functionality and syncing my playlist

[2018-09-24 22:45] tzarebczan commented on #1827
@seanyesmunt and I did a little more digging and it's related to how much localstorage an install is using and claim caching. It's happening more often now that we are resolving/caching ~20 claims on each file page with recommended content. I'll create a separate issue for this to try to unblock the call or improve caching logic/performance. Clearing the cache (settings option) improves this tempo

[2018-09-24 23:17] jessopb commented on #1827
Is it worth removing 'claims' from the whitelist in store.js? Or does that defeat the main purpose of persist?

[2018-09-25 06:14] seanyesmunt commented on #1827
I think it's worth trying to just remove that. The resolve calls are way faster now so it should be ok.

[2018-09-25 13:10] tzarebczan opened #1983 "App locks up on when caching claim data due to blocking calls"
## The Issue
Breaking out findings from https://github.com/lbryio/lbry-desktop/issues/1827#issuecomment-424150007 - the app runs into blocking calls which look like the app is locking when caching claim data (after a resolve), especially if the current claim cache has lots of claims already saved.

Reproduce: increase search results to 500 and resolve a few queries. Then browse claims from the fro

[2018-09-25 13:17] tzarebczan opened #1984 "undecodable claims cause green screen"
## The Issue
When viewing claims like lbry://one:15 / lbry://one:23, you'll get a green screen in the app since the claim does not decode properly.
Console shows: `Uncaught TypeError: Cannot read property 'title' of null `

Checking with the protocol team as to what these are, but we should handle them better on the app side.

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App vers

[2018-09-25 17:17] #1848 closed

[2018-09-25 17:33] tzarebczan commented on #1848
Will replace with a new ticket to only loop GIFs on mouseover.

[2018-09-25 17:43] tzarebczan commented on #1950
Closing for now, will revisit after testing the changes in https://github.com/lbryio/lighthouse/issues/112#issuecomment-420233106

[2018-09-25 17:45] #1953 closed

[2018-09-25 17:49] tzarebczan commented on #1953
This was fixed in 0.25.1

[2018-09-25 17:54] #1978 closed

[2018-09-27 16:47] seanyesmunt opened #1987 "Allow running app with local instance of internal-apis"
Before we could pass in `LBRY_APP_API_URL` as an environment variable to point to localhost. After moving to `lbryinc` that doesn't work anymore.

Most likely this will require a change to the `lbryinc` module first.

[2018-09-27 19:12] #1950 closed

[2018-09-27 20:10] tzarebczan commented on #1699
Yes, the new search works in a way that shows the current item typed as well as search results. Closing...

[2018-09-27 20:10] #1699 closed

[2018-09-27 20:50] seanyesmunt commented on #1690
Yep

[2018-09-27 20:50] #1690 closed

[2018-09-28 22:32] tzarebczan commented on #1810
@jessopb please post some of your mocks ups here as well :)

[2018-09-28 22:35] seanyesmunt commented on #1810
I just commented in gitter. Not sure why I didn't get any notifications when I was tagged.

[2018-09-28 22:38] tzarebczan opened #1988 "0.30 required daemon changes"
## The Issue
Below is a running list of app side changes required for 0.30 daemon. Please add to the list as you come accross issues. Some will also be valid for other apps like spee.ch/android/web daemon.

- [ ] [deprecated commands](https://github.com/lbryio/lbry/releases/tag/v0.30.0rc2) (@eukreign already started changing in [redux](https://github.com/lbryio/lbry-redux/pull/79))
- [ ] all amoun

[2018-09-29 02:34] jessopb commented on #1810
I'm pretty happy with this. If feathericons had a reddit icon, I'd add it; Youtube can demonstrate the potential share-to-reddit api functionality.

One small detail is that the only thing I see in the app that uses the color_secondary is the clipboard button and that color is just close enough to color_primary to look like an unintentional error. What is color_secondary for and is it even necessa

[2018-10-01 18:53] #940 closed

[2018-10-01 19:00] #632 closed

[2018-10-01 19:29] tzarebczan commented on #1859
Possibly consider https://github.com/lbryio/lbry-desktop/issues/1605 to go along with these changes.

[2018-10-01 19:50] seanyesmunt commented on #1824
I'm marking this as on-hold since we are moving to a different video player (video.js)

[2018-10-01 19:53] alyssaoc commented on #1080
closing in favor of #1776

[2018-10-01 19:53] #1080 closed

[2018-10-01 19:56] alyssaoc commented on #926
closing, implemented elsewhere

[2018-10-01 19:56] #926 closed

[2018-10-01 20:23] alyssaoc opened #1992 "App C"
This epic contains all the functionality for the next release

see the roadmap for additional app planning information

Features are defined within this epic and it included issues

[2018-10-01 21:27] #1327 closed

[2018-10-02 01:11] #1886 closed

[2018-10-03 14:42] tzarebczan opened #1995 "history page formatting / URL needs lbry://"
## The Issue
Looks like the history page could use some CSS work, see below. For longer URLs, titles, would be a good idea to add ellipses similar to how we do it on the transaction page.

Also, when clicking a URL from the history page, it does not populate the `lbry://` prefix in the URL, which causes an issue with the play button being greyed out.
![image](https://user-images.githubusercontent.

[2018-10-03 18:04] #1983 closed

[2018-10-03 19:03] tzarebczan commented on #1751
Closed by https://github.com/lbryio/lbry-desktop/pull/1991

[2018-10-03 19:03] #1751 closed

[2018-10-03 19:06] tzarebczan commented on #1472
Going to close this as it doesn't happen anymore. There may still be a short loading hiccup with "no context found", but I think multithreading enhancements will improve this.

[2018-10-03 19:06] #1472 closed

[2018-10-03 19:08] tzarebczan commented on #974
Implemented in https://github.com/lbryio/lbry-desktop/issues/999

[2018-10-03 19:08] #974 closed

[2018-10-04 02:44] seanyesmunt opened #2000 "Transactions filter menu collides with transaction table"
## The Issue
Transactions filter menu collides with transaction table on small screens. This must have happened after https://github.com/lbryio/lbry-desktop/pull/1985 was merged.

### Steps to Reproduce
1. View transactions page
2. Shrink screen until the filter menu overlaps with the table

<img width="400" alt="screen shot 2018-10-03 at 10 41 18 pm" src="https://user-images.githubusercontent.com

[2018-10-04 03:29] estevanjantsk commented on #2000
nice! I'll try that one 👍

[2018-10-04 03:29] seanyesmunt commented on #2000
Awesome! Let me know if you have any more questions 🙂

[2018-10-04 17:15] ykris45 commented on #2000
@seanyesmunt i tested it with position relative and the Transactions filter menu uncolides

[2018-10-04 18:29] tzarebczan commented on #997
This is still a valid issue. If a user mistypes their email, there's no way to clear it out.

[2018-10-04 19:06] alyssaoc opened #2006 "Blockchain hard fork testing"
## The Issue

With the blockchain upstream and normalization changes in the upcoming hard fork,
as an app developer,
I want to identify as many automated and manual tests as possible so that the hard fork does not break the desktop app.

## DOD/Acceptance Criteria
Identify all interactions with the blockchain and document
Identify and document possible testing scenarios for those interactions

As

[2018-10-04 19:22] tzarebczan opened #2007 "email verification broken on master"
## The Issue
@seanyesmunt aware of the issue, should be a quick fix. `Uncaught TypeError: Cannot read property 'getStripeToken' of undefined`

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-10-04 19:29] #2007 closed

[2018-10-04 20:52] neb-b opened #2009 "Feature: Quick Publish mode"
## The Issue
It would be really nice to have an option (or default to) a quick publish page. Just select your file, name and then publish. The bid amount could default to something in settings (and/or an expandable area)

Currently, it can be confusing for users who want to publish something, they may not know about bid amounts, license types, or don't need a description. This publish mode would b

[2018-10-04 20:58] darrylpargeter commented on #1922
Hey, would it be possible to give this one ago?
assuming no one else has claimed it?

[2018-10-04 21:04] tzarebczan commented on #1922
Hey @darrylpargeter, welcome to LBRY! Looks like it's all yours..let us know if you have any questions!

[2018-10-05 04:13] jessopb commented on #2009
How about a "publish preferences" in settings to facilitate it?

[2018-10-05 04:15] seanyesmunt commented on #2009
Yeah. That could contain settings for which one to default to, default bid amount, etc

[2018-10-05 04:16] seanyesmunt commented on #2009
I think I would be in favor of defaulting to quick publish. With a button on the publish page to "view more details" or whatever you want to call it.

[2018-10-05 17:48] #1975 closed

[2018-10-05 17:51] sanketsingh24 commented on #1974
If this issue is free, I would like to work on this, but would need some more info on where to place the snackbar, I think adding a close button would be necessary.

[2018-10-05 17:52] #1995 closed

[2018-10-05 18:20] kauffj commented on #1974
Material specifically does not have close buttons. Is there something unique about our app that requires them vs. Google which does not? Or do we think Google is wrong in not having them?

Unless we're answering in the affirmative to one of those questions, it is probably better to start with different/smarter placement and consider tweaking timing or usage if people feel a need to close.

[2018-10-05 18:32] kauffj commented on #2009
1) The central idea of this is fantastic and very much worth doing.
2) I think it is a mistake to think of this as a unique option and it should avoid requiring (explicit) preferences unless absolutely necessary.
3)  Focus on how we can design a page that allows the user to seamless switch between both styles. If we're concerned about user's having to perform extra actions, we can track their impl

[2018-10-05 18:51] #1347 closed

[2018-10-05 19:02] sanketsingh24 commented on #1974
Usually, snackbar is placed on bottom-right or bottom-left, the reason being the fact that people usually try to keep the relevent info nearer to top of the screen, and hence the bottom side of website is not used. Also, size and timing can be tweaked.

[2018-10-05 19:05] seanyesmunt commented on #1974
I think if we move the snackbar to the bottom left, a close button would not be necessary. The only reason an argument could be made to have one now is because it covers the search bar.

[2018-10-05 19:10] btzr-io commented on #1974
Yeah, we don't need the close button if isn't obstructing important stuff :+1:

[2018-10-05 19:51] sanketsingh24 commented on #1974
Bottom-left is cool but might hide some menu buttons, which is my only concern.

[2018-10-05 20:21] nikooo777 opened #2015 "HTTP -> HTTPS"
## The Issue
HTTP is bad

### Steps to Reproduce
1. Travel in time from the past to 2018
2. Find out about sniffing, tampering, mitm and all the horrible things that are possible on http
3. panic

### Expected Behaviour
We should use https where possible

### Actual Behaviour
Some things don't

### Suggested Solutions
add an `s` here:
https://github.com/lbryio/lbry-desktop/blob/e4f4909725f52c1eca8

[2018-10-05 20:33] kauffj commented on #1974
Just noticed Gmail snackbars do have close buttons.

[2018-10-05 20:56] sanketsingh24 commented on #1974
Well, they have the same issue I had concerns with, and the snackbar disappear upon clicking any action button.

[2018-10-05 22:43] #2015 closed

[2018-10-05 22:43] seanyesmunt commented on #2015
Thanks @imjayanthka! 🙂

[2018-10-08 02:51] tiger5226 opened #2017 "Add popup to promote content better"
We should add an info popup that users can click to explain how to get their content higher in the search results. Now that we have the effective amount firmly in place in the search query, a content creator can get more views from related content by increasing their effective amounts. If their content is considered related, they can increase their effective amount to get higher in the search resu

[2018-10-09 00:00] eukreign commented on #766
I think this depends on https://github.com/lbryio/lbrycrd/issues/184.

[2018-10-09 17:04] alyssaoc commented on #528
quick publish epic

[2018-10-09 17:07] alyssaoc commented on #551
most of these are fixed, please open new issues for specific modals

[2018-10-09 17:07] #551 closed

[2018-10-09 17:14] alyssaoc commented on #586
@jackrobison is this hard/worth adding to the daemon?

[2018-10-09 17:18] alyssaoc commented on #675
accepting PRs for this issue, otherwise closing

[2018-10-09 17:18] #675 closed

[2018-10-09 17:20] alyssaoc commented on #694
closing for #1203

[2018-10-09 17:20] #694 closed

[2018-10-09 17:20] seanyesmunt commented on #1203
Just noting that this should fix #694 too

[2018-10-09 17:22] alyssaoc commented on #720
will consider as part of #695

[2018-10-09 17:22] #720 closed

[2018-10-09 17:31] #828 closed

[2018-10-09 17:35] alyssaoc commented on #893
closing, will only show LBC for the near future

[2018-10-09 17:35] #893 closed

[2018-10-09 17:37] seanyesmunt commented on #1791
Closing in favor of #894

[2018-10-09 17:37] #1791 closed

[2018-10-09 17:37] seanyesmunt commented on #894
From #1791

[2018-10-09 17:38] jessopb commented on #1967
I have spent some time researching this and https://github.com/lbryio/lbry-desktop/issues/1154
It seems like there is a choice to create a new state object in local app redux state, or to just use the existing navigation object that records, for example, scrollY.

Supposing the best choice is to persist during the session in the navigation local redux object. This will involve:
1) an action in src

[2018-10-09 17:42] alyssaoc commented on #909
closing, we will keep the webpage and not move into the app

[2018-10-09 17:42] #909 closed

[2018-10-09 17:45] alyssaoc commented on #913
closing for #1761

[2018-10-09 17:45] #913 closed

[2018-10-09 17:46] seanyesmunt commented on #1735
The api is documented here https://lbryio.github.io/lighthouse/

[2018-10-09 17:47] alyssaoc commented on #922
closing for #1395 Keyboard shortcuts, https://github.com/lbryio/lbry-desktop/issues/1395

[2018-10-09 17:47] #922 closed

[2018-10-09 17:47] seanyesmunt commented on #1395
As discussed in #2003
We should try to extract any additional shortcuts away from specific to components if possible and have a standard way to do this

[2018-10-09 17:56] alyssaoc commented on #984
closing, reopen if it continues to be an issue

[2018-10-09 17:56] #984 closed

[2018-10-09 18:02] seanyesmunt opened #2019 "Determine what to do once ShapeShift stops working"
At some point, shapeshift will require accounts to use it's service. We need to determine if this will affect the api, and if it does we may need to find another service to handle getting LBC inside of the app.

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without e

[2018-10-09 18:02] seanyesmunt commented on #2019
One possible solution https://changelly.com/developers

[2018-10-09 18:27] MadDataScience opened #2020 "App never loads on Mac"
## App never loads on Mac

### Steps to Reproduce
1. Start LBRY App
2. Wait for Blockchain Sync to complete
3. Wait for LBRY service to initialize
4. Go to 2.

### Expected Behaviour
The LBRY app should load

### Actual Behaviour
It just cycles through the Blockchain Sync step and the initializing LBRY service step forever.

### Suggested Solutions
I have no idea why it's in an infinite loop.

##

[2018-10-09 18:30] seanyesmunt commented on #2020
Hey @MadDataScience Thanks for opening the issue!

Is this when you run the app normally? Or when building from source? It sounds like it's having issues connecting to the daemon, not sure what would cause that.

[2018-10-09 18:35] MadDataScience commented on #2020
Normally. Just downloaded the app from lbry.io. Just tried reinstalling but got the same result. Realized it might be because I'm behind a company firewall? I haven't tried running it from home yet.

[2018-10-09 18:37] seanyesmunt commented on #2020
@tzarebczan Any ideas?

I think this could happen if the daemon never returns `status.is_running` as `true`

[2018-10-09 18:37] seanyesmunt commented on #2020
There have been a few issues with firewall before, that could be related.

[2018-10-09 18:39] MadDataScience commented on #2020
Come to think of it, it's almost certainly a firewall (or related) issue. The Android app isn't working either so long as I'm connected to the corporate network, though it worked fine when I was at home.

[2018-10-09 18:42] seanyesmunt commented on #2020
👍 Very interested to see if the app works for you when you are on a different network

[2018-10-09 18:49] tzarebczan opened #2021 "Handle daemon not fully starting scenario better"
## The Issue
Handle scenarios like https://github.com/lbryio/lbry-desktop/issues/2020 where the daemon doesn't fully connect to the LBRY network, and thus the app gets stuck on initializing. We should try connecting for some period of time before timing out and showing an error message similar to:https://github.com/lbryio/lbry-desktop/blob/9844cbdaf6f6cad3eefba7dfaa1a7598cdbb1bd1/src/renderer/comp

[2018-10-09 18:50] tzarebczan commented on #2020
Yep, it's probably related to local network issues. Check out https://lbry.io/faq/startup-troubleshooting

We should probably handle this particular scenario better and alert the user to the FAQ as we do with other daemon startup errors. Opened https://github.com/lbryio/lbry-desktop/issues/2021

Going to close this for now, but @MadDataScience please let us know if you're able to get it working on

[2018-10-09 18:50] #2020 closed

[2018-10-09 19:34] MadDataScience commented on #2020
Yup, works at home. Thanks!

[2018-10-10 14:33] chrisza4 commented on #1820
I just realized I should comment in the issue before taking the issue. Can I take this issue?

[2018-10-10 14:37] chrisza4 commented on #1839
Can I help with this issue?

[2018-10-10 14:57] seanyesmunt commented on #1820
All good. Checking out your PR

[2018-10-10 15:12] ykris45 commented on #2000
close close..hehehe

[2018-10-10 16:40] seanyesmunt commented on #2000
@estevanjantsk We found a fix for this issue but I still think the solution we discussed would be preferable. If you are still working on it feel free to submit a PR!

[2018-10-10 17:03] seanyesmunt opened #2024 "Flow type errors"
We are currently trying to use Flow in every file. We have been slowly making progress but there are still a lot of errors.

If you open a PR with some Flow error fixes (or anything else) we will send you some LBC as appreciation!

Some of the biggest offenders right now are in `pages/file/view.jsx` and anything with subscriptions.

To see all of the errors you can run `./node_modules/.bin/flow  -

[2018-10-10 19:39] izanf commented on #2024
I will work on this issue

[2018-10-10 21:48] feralCode commented on #2024
/request

[2018-10-10 21:52] seanyesmunt commented on #2024
@izanf and @feralCode there are a ton of issues that can be fixed. I would open a PR as you fix them (or leave another comment here) saying which component/file you are fixing so no work is duplicated.

[2018-10-10 22:49] seanyesmunt commented on #1839
@chrisza4 Sorry I missed this. Go ahead! You can start working on any issue with the `help wanted` tag, just leave a comment saying you are starting on it so no one else starts on the same one.

[2018-10-11 15:32] kauffj opened #2027 "Separate LBRY Inc Styles from Browser Styles"
As the first step of https://github.com/lbryio/design/issues/1, we want to:

- Review all CSS and split it into two buckets: styling that ought to apply to all of LBRY Inc. presentation and styling specific to the browser (e.g. perhaps the wunderbar or load screen).
- While reviewing and refactoring the CSS, make any other improvements related to design/presentation.

[2018-10-11 15:48] kodxana opened #2028 "Subtitles support"
I think it will be a great idea to allows people to load subtitles in str format, when publishing video.
Cause for example im making my videos in polish language but I would like to make it more international by adding translated subtitles. Its anoying to need blend subtitles into video.

[2018-10-11 16:15] chrisza4 commented on #2024
While I am working on this issue, I also need to fix flow type error at `publishForm/view.jsx`. I am working on that file.

[2018-10-11 20:28] tzarebczan commented on #1927
Fixed in https://github.com/lbryio/lbry-desktop/pull/2026

[2018-10-11 20:28] #1927 closed

[2018-10-11 20:33] kauffj commented on #1967
@seanyesmunt or @skhameneh can you provide clarity or guidance for @jessopb on this? Let's not leave a good contributor hanging!

This seems roughly correctly, though I may disagree with this part:

My thought would have to store them in state in either:

- The same place settings are stored (`settings.file_download_sort_order` or whatever)
- The same place the most closely data type is stored (`w

[2018-10-11 20:35] kauffj commented on #1967
Also, when this is done, I'd suggest that these become independent components as well `<SelectTransactionListOrder>`, `<SelectDownloadedFileListOrder>`, etc.

If they were all in settings, you may even be able to do something like this:

`<SettingSelect setting="transaction_list_order" values=values>`

[2018-10-11 20:36] seanyesmunt commented on #1967
@jessopb Sorry about that!

I don't think it makes sense to include this in the navigation state. I agree with @kauffj that it would be fine in either settings or wallet. My suggestion would be wallet since this is something that android app might want to do also.

[2018-10-11 20:38] seanyesmunt commented on #1967
Actually after going over this issue again I think wallet makes sense for transactions sorting, but not for "your {publishes, downloads}"

Maybe that toggle should live in the `file_info` reducer?

[2018-10-11 20:42] seanyesmunt commented on #2028
Thanks for the issue @kodxana 🙂

This is part of a much larger issue where we want to expand the data that can be included when you publish something. This will definitely require changes at the protocol level, so not much we can do right now. But thanks for documenting it!

[2018-10-11 20:58] tzarebczan commented on #2028
I think we should close this for now, there are other ways around it. The new video player will support subs, but I think we should have users bake them into the mp4 as opposed to a separate file. Right now you can only upload one first with a claim, so it would suck to have to go to a separate claim for the subs, and then load the subs in. Even if we had the protocol changes, would still require

[2018-10-11 20:58] #2028 closed

[2018-10-11 21:20] tzarebczan opened #2029 "Only animate GIF thumbnails on hover over"
## The Issue
Due to the finding described in https://github.com/lbryio/lbry-desktop/issues/1848, we should see if there's a way to pause animation on GIF thumbnails unless a mouse is hovered over it.  This behavior would be similar to what is seen on other popular video sites.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anyth

[2018-10-11 23:21] CoryWritesCode commented on #2029
Mind if I take a shot?

[2018-10-13 12:43] CJorwinJ commented on #1926
5.30179143 LBC to
bXV635LMw4r9mjwJ1Lcs5cdt6dSJnhye1i (unspent)

[2018-10-13 12:43] CJorwinJ commented on #1926
solo que no hay muchas partes donde se pueda colocar link's completos.

[2018-10-13 12:44] CJorwinJ commented on #1926
#13 Oct 2018 12:25:46 UTC
Block Time
13 Oct 2018 12:26:39 UTC (+53 seconds)

[2018-10-13 12:45] CJorwinJ commented on #1926
#2031 #2022 alli si se puede colocar mucho mejor y con #2031

[2018-10-13 12:49] CJorwinJ commented on #1815
So is this still the same box?
< div id = " electron-titlebar " class = " inset " > < / div >

[2018-10-13 12:54] CJorwinJ opened #2032 "Link inmediato con la búsqueda."
## The Issue

### Steps to Reproduce
1.
2.
3.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-10-13 12:56] CJorwinJ commented on #2032
the link appears immediately at the time of the search. so that the address is already known in advance.

[2018-10-13 12:57] CJorwinJ commented on #2032
[BSk.7j](url)

[2018-10-13 13:01] tzarebczan commented on #2032
This does not look like a valid issue. Please be more mindful when opening one next time.

[2018-10-13 13:01] #2032 closed

[2018-10-13 13:14] CJorwinJ opened #2033 "when you leave several tabs without opening because you are browsing in one, the others when you open them are blank and take time to open again."
## The Issue

### Steps to Reproduce
1.Place the link
2.wait for the network
3.analyze the computer

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anyt

[2018-10-13 13:49] tzarebczan commented on #2033
Lbry doesn't even have tabs, please stop creating issues.

[2018-10-13 13:49] #2033 closed

[2018-10-14 17:49] btzr-io commented on #1974
@sanketsingh24  Are you still working on this?

[2018-10-14 22:38] jessopb commented on #1967
My plan is to move forward in lbry-redux:wallet and lbry-redux:file_info the way @seanyesmunt seemed to be leaning (nobody objected to file_info), and a <FormPresentationSelector> (common/form-component) that takes as props 'options: []' and 'presentationSelection: string' as @kauffj suggested. I think I'll turn the list of <options> in the transaction filter into a map: Object.values(TRANSACTIONS

[2018-10-15 02:18] dan1d commented on #1851
@tzarebczan  Working on this one!

[2018-10-15 04:44] #1974 closed

[2018-10-15 16:17] seanyesmunt commented on #1815
@CJorwinJ Not sure what you mean.

[2018-10-15 18:54] seanyesmunt opened #2043 "Don't show "Are you real" modal every time you subscribe to a channel if you aren't verified"
This must have happened when we moved to `lbryinc` so the fix will have to be made there.

## The Issue
If you aren't reward verified, subscribe to a channel and see the "Are you real modal" every time you try to subscribe

### Steps to Reproduce
1. Make sure you aren't reward verified
2. Subscribe to a channel
3. See the reward modal

### Expected Behaviour
This shouldn't happen for subscriptions

[2018-10-15 19:10] #1731 closed

[2018-10-15 19:10] #1810 closed

[2018-10-15 19:14] #1772 closed

[2018-10-15 19:30] #1001 closed

[2018-10-15 19:30] alyssaoc commented on #1001
Issue moved to [lbryio/lbry.io #822](https://github.com/lbryio/lbry.io/issues/822) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-15 19:33] seanyesmunt commented on #1299
@lyoshenka Does internal api's have everything needed when you click on the email link? Or can we implement that feature? I agree with @kauffj, the process of manually adding the verification code is very cumbersome.

[2018-10-15 19:37] alyssaoc commented on #1251
closing while tom is on vacation

[2018-10-15 19:37] #1251 closed

[2018-10-15 19:40] dan1d commented on #1851
Thanks @seanyesmunt , PR sent!

[2018-10-15 19:46] alyssaoc commented on #1167
Need new UI changes to support daemon v.30

[2018-10-15 19:53] alyssaoc commented on #1016
closing, we have split this into smaller issues that will be added to app incrementally

[2018-10-15 19:53] #1016 closed

[2018-10-15 19:55] alyssaoc commented on #1062
closing, has been fixed

[2018-10-15 19:55] #1062 closed

[2018-10-15 19:59] alyssaoc commented on #1298
@tzarebczan and @jackrobison What is the status of this?

[2018-10-16 04:18] seanyesmunt commented on #1265
This should be another setting similar to how `enableOSNotifications` is implemented.

We can have a new card `UI Settings` (better name to come) that will house this.

There may need to be some changes made to how links are handled. Currently, we change the top level header "Wallet", "My LBRY", etc to the last link visited.

[2018-10-16 17:11] seanyesmunt commented on #1377
@btzr-io Any plans to add that viewer for comics?

[2018-10-16 17:17] btzr-io commented on #1377
@seanyesmunt  currently is a web app, not sure if an `iframe` would work :upside_down_face:

[2018-10-16 17:18] btzr-io commented on #1377
If not we need to port it to a react component :stuck_out_tongue:

[2018-10-16 17:22] alyssaoc commented on #1429
closing, no plan to change in the short term.

[2018-10-16 17:22] #1429 closed

[2018-10-16 17:28] alyssaoc commented on #1491
closing for a future world

[2018-10-16 17:28] #1491 closed

[2018-10-16 17:31] alyssaoc commented on #1527
closing

[2018-10-16 17:31] #1527 closed

[2018-10-16 17:34] alyssaoc commented on #1535
closing, will re-evaluate with new video player

[2018-10-16 17:34] #1535 closed

[2018-10-16 17:34] seanyesmunt commented on #1531
@tzarebczan Does the daemon handle batched calls quicker? Would it wait to return until it has the data for all urls? I think it would be ok to resolve individually since they are quick and it lets a user see files as soon as they are ready.

[2018-10-16 17:41] alyssaoc commented on #1581
closing

[2018-10-16 17:41] #1581 closed

[2018-10-16 17:49] #1627 closed

[2018-10-16 17:54] seanyesmunt commented on #1647
I think for now we can just add the spinner component next to the button when it's publishing.

[2018-10-16 18:04] seanyesmunt commented on #2019
Looks like ShapeShift officially stopped working.

<img width="676" alt="screen shot 2018-10-16 at 12 35 20 pm" src="https://user-images.githubusercontent.com/16882830/47037178-44fdbf00-d14c-11e8-9432-85ec1114fa97.png">

I think for now we can just remove the card if we don't implement something immediately.

[2018-10-16 18:09] seanyesmunt commented on #1631
I'm going to close this. I'm not sure if we should start adding settings for every piece of ui. Any changes made to these cards in the future would need to work with whatever setting we implement for this. We would also need to ensure titles/channels are increased in size appropriately with the card size which increases complexity.

If we should change the card size for small/medium/large screens

[2018-10-16 18:09] #1631 closed

[2018-10-16 18:22] seanyesmunt commented on #1590
I think we can close this. We properly show the view button.

[2018-10-16 18:22] #1590 closed

[2018-10-16 18:55] seanyesmunt commented on #1377
Ah I didn't realize that. Ok. Well this isn't a high priority, maybe someone will pick it up.

[2018-10-16 22:00] seanyesmunt commented on #2000
I'm going to close this for now

[2018-10-16 22:00] #1839 closed

[2018-10-16 22:01] #1820 closed

[2018-10-17 11:30] jimmiehansson commented on #2043
@seanyesmunt could you add me as a collaborator and i'll push a branch for PR of the changes?

[2018-10-17 14:21] kauffj commented on #2019
Agreed, just remove it. You should also check out how many people used it and share that info in chat.

[2018-10-17 14:54] lyoshenka commented on #1299
No, we'd need to make some changes on internal-apis side to make this work. I'm guessing to make it work really well, we'd need some way to notify the app that signin has occurred (long-polling? websockets? idk)

[2018-10-18 01:49] rahulkumaran opened #2046 "Update org name in license"
## The Issue
Organisation name incomplete in license

### Steps to Reproduce
1. Check LICENSE file

### Expected Behaviour
It should be LBRY Inc

### Actual Behaviour
Currently it's LBRY only

### Suggested Solutions
I'd like to take this issue up and make the change

[2018-10-18 04:57] seanyesmunt commented on #2043
@jimmiehansson You can just push to your fork and make a PR from that.

[2018-10-18 04:59] seanyesmunt commented on #1299
Polling wouldn't be hard. Websockets would be nice. I'm not sure what future use case there may be to have a websocket with internal apis.

[2018-10-18 07:49] jimmiehansson commented on #2043
@seanyesmunt Then fork it is 💯

[2018-10-18 15:18] #2046 closed

[2018-10-18 15:23] #1860 closed

[2018-10-20 17:13] surmistry commented on #2027
Mind if I take a crack at this?

[2018-10-20 18:00] NetOperatorWibby commented on #2027
I’m already doing this @surmistry.

[2018-10-21 08:44] dannycalleri commented on #2024
Hi @seanyesmunt , I'm opening a PR to fix flow errors in a few `view.jsx` files:
`renderer/component/channelTile/view.jsx`
`renderer/component/button/view.jsx`
`...`

[2018-10-22 18:03] seanyesmunt commented on #2027
Initial PR is merged. There will be some minor cleanup but I think we are pretty close.

[2018-10-22 18:03] #2027 closed

[2018-10-22 18:03] seanyesmunt commented on #2027
https://github.com/lbryio/lbry-desktop/pull/2045

[2018-10-23 15:08] #1859 closed

[2018-10-25 21:22] NetOperatorWibby opened #2056 "Vulnerabilities in dependencies"
_This issue doesn't apply to the git issue format._

### Critical Vulnerabilities
- [filewatcher-webpack-plugin](https://github.com/sap9433/filewatcher-webpack-plugin)

### High Vulnerabilities
- [filewatcher-webpack-plugin](https://github.com/sap9433/filewatcher-webpack-plugin)
- ~[fs-path](https://github.com/pillys/fs-path)~

### Low Vulnerabilities
- [filewatcher-webpack-plugin](https://github.

[2018-10-26 14:29] jessopb opened #2059 "Channel page allows navigation to pages beyond content limit"
## The Issue
A Channel page presents navigation to pages beyond content limit

### Steps to Reproduce
1. Go to a channel page, such as 3Blue1Brown.
2. Click to go to page 3
3. -Whitescreen-

### Expected Behaviour
With 48 items per page, a channel with less than 96 items should not show an option to go to page 3 or higher.
### Actual Behaviour
Channel page UI presents nav options up to page 8.

##

[2018-10-26 18:15] jessopb commented on #2059
Is it wise to have
`export const CLAIMS_PER_PAGE = 48` for this value?
LBRY-DESKTOP:
`Lbry.claim_list_by_channel({ uri, page: page || 1, page_size: 48 }).then(result => {`
LBRY-REDUX:
`

export const makeSelectTotalPagesForChannel = uri =>
  createSelector(
    selectChannelClaimCounts,
    byUri => byUri && byUri[uri] && Math.ceil(byUri[uri] / 10)
  );
`

[2018-10-26 18:18] seanyesmunt commented on #2059
@jessopb Good find. Yeah, that would have prevented this bug in the first place.

[2018-10-28 15:19] amelzer opened #2065 "Linting errors fixable with `--fix`"
Currently, the project contains a ton of lint errors that get can and will get autofixed by running `yarn lint` . This adds several modified files to a commit / PR and therefore not helpful at the current stage.

## The Issue

### Steps to Reproduce
1. Create new branch
2. Run `yarn flow`
3. Run `git status`

### Expected Behaviour
No changes made, because master is clean of autifixable errors

##

[2018-10-28 21:33] seanyesmunt commented on #2065
This is great @amelzer

We have been slowly fixing files as we work on them, but it's good to have one complete list of all of the files with issues.

[2018-10-30 03:45] seanyesmunt commented on #1531
Cool. I agree some testing is needed.

[2018-10-30 15:00] tzarebczan opened #2073 "Recent issues on master after design/sdk updates"
## The Issue
- [x]  Rewards page text is jumbled
- [x] Channels names are different shades and cutoff sometimes on Publish page  (See below)
- [x] transaction overview history is backwards when new transactions are created (pending show at the bottom of the list, and so do any txs created int he current sessionI). A refresh fixes this.
- [x] all modals/toasts stop working after abandoning a claim

[2018-10-30 17:01] seanyesmunt commented on #2059
@jessopb Were you planning on working on this?

[2018-10-30 19:13] seanyesmunt commented on #2073
Fixing these

[2018-10-30 20:33] seanyesmunt commented on #2073
https://github.com/lbryio/lbry-redux/pull/95 for the transaction list fix

[2018-10-30 21:40] jessopb commented on #2059
It's up for grabs. I'll get to it November 1st otherwise.

[2018-10-30 22:45] jessopb opened #2077 "Share button on channel page does not use new share modal."
## The Issue
Channel page still uses ViewOnWeb for share
### Steps to Reproduce
1. Go to a channel, e.g. @MinutePhysics
2. Click Share

### Expected Behaviour
modalSocialShare should display several sharing options.

### Actual Behaviour
The original ViewOnWebButton component takes the user directly to spee.ch.

### Suggested Solutions
Implement as done in  `src/renderer/page/file/view.jsx`
[code]

[2018-10-31 15:36] phillipyork commented on #2021
**I have this exact problem .where the daemon doesn't fully connect to the LBRY network, and thus the app gets stuck on initializing.**  screen shot below

![snapshot](https://user-images.githubusercontent.com/26136041/47797972-a6916200-dce4-11e8-8805-5378c4928a3f.PNG)

[2018-10-31 15:46] tzarebczan commented on #2021
@phillipyork can you send us your logfile (https://lbry.io/faq/how-to-find-lbry-log-file) so we can better diagnose it? Or you can also look at https://lbry.io/faq/startup-troubleshooting in the meantime.

[2018-10-31 16:28] #1600 closed

[2018-10-31 20:18] phillipyork commented on #2021
[lbrynet.log](https://github.com/lbryio/lbry-desktop/files/2536243/lbrynet.log)

heres my log file

[2018-11-01 12:52] seanyesmunt opened #2084 "Add identifier/message somewhere on first publish explaining why publishes need to be "confirmed""
## The Issue
As a user publishing for the first time in the app, I might be confused why I got a success message after my publish, then have to wait x time to actually view it. It could be helpful to add a message, or something cool only if it's the user's first publish.

### Expected Behaviour
On my first publish I should be explained that my claim may take some time to confirm.

### Actual Behav

[2018-11-02 00:04] jessopb commented on #2077
I've started this.

[2018-11-02 16:41] tzarebczan commented on #1866
This is still occuring, reopening. Go to lbry://five, and you'll see the same claim in recommended. Maybe the difference is that it has a channel?

![image](https://user-images.githubusercontent.com/8120721/47928400-9b813200-de9c-11e8-83b8-8fe59b6b659a.png)

[2018-11-05 15:22] #2059 closed

[2018-11-06 17:56] tzarebczan opened #2093 "Fix Travis runs on forked repos/PRs"
## The Issue
Currently, Travis fails to run on PRs that are from forked repositories due to lack of code signing access. We want to disable code signing for these builds and allow them to complete.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

## Internal Use

### Acceptance Criteria
1.
2.
3.

###

[2018-11-07 15:10] #2019 closed

[2018-11-07 20:13] seanyesmunt commented on #2056
Mammoth will be resolved when it releases a new version. For `filewatcher-webpack-plugin` i'm not sure what to do. It's an old module with no support. @skhameneh Any ideas or alternatives?

[2018-11-07 20:13] seanyesmunt commented on #2056
Regardless it is a dev dependency only, so we should be fine.

[2018-11-08 15:30] #2056 closed

[2018-11-08 18:27] tzarebczan opened #2097 "Better feedback after credits are sent"
## The Issue
When a user sends LBC using the Send/Receive screen, there is a snackbar that the funds are sent (edited - we do get a snackbar, I missed it!). We also provide a link to the TX or possibly to the overview/tx page.

## Anything Else

## Screenshots

## Internal Use

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against t

[2018-11-09 15:00] #2021 closed

[2018-11-09 16:04] #2073 closed

[2018-11-09 17:11] kauffj opened #2099 "Cleanup Autoplay"
See https://github.com/lbryio/lbry-desktop/issues/584  for the original discussion of autoplay.

I propose the following changes:

- Default autoplay to true
- Move autoplay setting to "settings" rather than the file page itself

However, this should not be done until autoplay reduces disk usage. Solutions:

- Wait on https://github.com/lbryio/lbry/issues/1311
- Stop downloading the file when the

[2018-11-09 17:21] kauffj opened #2100 "Auto-render certain types of content"
For certain types of content, it seems safe to automatically render it without requiring the user to press "View". Some examples: markdown, HTML (unless we think there is a security risk), 3D-printing

Related: #2099, #584 (historical discussion)

[2018-11-09 21:39] tzarebczan opened #2101 "HTML/Markdown hard to read in dark mode"
## The Issue
See below for lbry://israel-spy-systems-saudi-arabia#2c76e02092c1d25d094145dd6943c8106232585f

![image](https://user-images.githubusercontent.com/8120721/48289582-fcc97800-e43d-11e8-972c-7c431fd190e3.png)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

## Internal Use

### Acceptance Cr

[2018-11-12 04:51] seanyesmunt commented on #2097
@tzarebczan Gonna close this. The link will be back when the new notifications PR is merged.

[2018-11-12 04:51] #2097 closed

[2018-11-12 15:31] tzarebczan commented on #2100
Related: https://github.com/lbryio/lbry-desktop/issues/1850

[2018-11-12 15:31] tzarebczan commented on #2077
Closed via https://github.com/lbryio/lbry-desktop/pull/2088, thanks @jessopb !

[2018-11-12 15:31] #2077 closed

[2018-11-12 20:16] alyssaoc commented on #1666
@tzarebczan Has this been fixed?

[2018-11-12 20:16] #1605 closed

[2018-11-12 20:56] alyssaoc commented on #2093
@nikooo777 is this something you are working on currently?

[2018-11-13 00:12] seanyesmunt commented on #1866
This stopped working because previously, the exact match was always the first result. We just removed the first result assuming it would be the exact match (which is honestly not the best solution).

Either way, the first result coming back is `lbry://two` which is a porn video with a huge bid. I created https://github.com/lbryio/lighthouse/issues/132. I think this issue should be fixed by that.

[2018-11-13 21:03] nikooo777 commented on #2093
i'll be tackling this tomorrow as part of my new sprint

[2018-11-14 01:11] #1963 closed

[2018-11-14 16:10] tzarebczan opened #2105 "Supports showing up on publishes page"
## The Issue
If you send support to a claim (classic support, not tip), it will show the file in your My Publishes section.  A support will have the `type: support` Same happens for channels.

[code]
### Suggested Solutions
When calling claim_list_mine, only look at type claim and update

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system

[2018-11-14 18:11] tzarebczan commented on #1666
Looks like this is fixed on the latest RC, @Invariant-Change please re-open if you see it pop up again after we release the update.

[2018-11-14 18:11] #1666 closed

[2018-11-15 17:36] #2093 closed

[2018-11-16 05:47] #1967 closed

[2018-11-16 16:13] tzarebczan opened #2110 "Unread subscription count not updated after unsubscribing"
## The Issue
@seanyesmunt is aware of this one. If you have items marked as unread/new, they are not removed from the total count when you unsubscribe.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

## Internal Use

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acce

[2018-11-19 18:18] seanyesmunt opened #2111 "Add content filtering on search page"
After https://github.com/lbryio/lighthouse/pull/135 is merged, we can add filtering on the search page.

### Expected Behaviour
This will probably be some sort of dropdown, similar to other filters in the app (tx list, downloads)

### Suggested Solutions
This value should persist between searches, but only for searches on the search page (not related content).

This feature will also be done in `l

[2018-11-19 18:20] tzarebczan commented on #2111
Related, but for channels: https://github.com/lbryio/lbry-desktop/issues/1735

[2018-11-19 21:13] tzarebczan opened #2112 "Allow option to mark all subscribed content as read"
## The Issue
Discussed this with @seanyesmunt previously - we'll first roll out without an option to mark all items as read - users would need to click an item to clear the counter. This would further encourage users to actually view the content to get rid of their unread count. We'll see what the initial feedback is like and most likely add an option to mark all as read in a future release.

## S

[2018-11-20 00:11] tiger5226 opened #2113 "Co-reward creators for user collected rewards"
(Jeremy's idea's, formalizing it into an issue)

For certain rewards like subscribing and first tip, having part of the reward (or whatever reward equivalent) go to the creator will encourage them to share their LBRY content. The viewer will also feel like they are supporting their subscribed creators.

[2018-11-20 00:17] tiger5226 opened #2114 "Show users eligible content creators to be co rewarded"
This is to support the [epic](https://github.com/lbryio/lbry-desktop/issues/2113) for co-rewarding creators from users collecting rewards. [this] will provide the capability of rewarding content creators automatically. This issue is for determining how this feature will be presented to the user. One idea was showing an icon next to channels or claims that are allowed. We want the user to get the e

[2018-11-20 16:00] seanyesmunt commented on #1866
Fixed with https://github.com/lbryio/lbry-redux/pull/103

[2018-11-20 16:47] #1866 closed

[2018-11-21 16:52] jessopb opened #2116 "Pressing escape in wunderbar should do something useful"
## The Issue

When I click in wunderbar which is displaying current location (perhaps to copy or edit), if I start typing, or searching and don't like my progress, escape does nothing.

### Steps to Reproduce
1. Start searching.
2. Press escape. Nothing happens.
3. ???

### Expected Behaviour

Tell us what should happen.
Pressing escape should clear, then reset to fully selected current location.

[2018-11-21 17:16] seanyesmunt commented on #2116
This is a great idea. I agree with the expected behavior, that is the same way chrome handles the escape key.

[2018-11-21 17:49] jessopb opened #2117 "Not easy enough to see content title without clicking or navigating."
## The Issue

I can't see the whole title without going to the file page. Especially a problem for seeing at a glance whether something is "part 2".

### Steps to Reproduce

1. Go to any list view or channel page
2. See a title with " Blah blah ..."

### Expected Behaviour

There should be some way for the user to see the rest of the title without clicking.

### Actual Behaviour

User has to visit

[2018-11-21 17:52] seanyesmunt commented on #2117
Currently, you can hover over the title and the entire title is shown in a popup, which is the same way youtube does it.

[2018-11-21 17:54] seanyesmunt commented on #2117
<img width="574" alt="screen shot 2018-11-21 at 12 54 21 pm" src="https://user-images.githubusercontent.com/16882830/48859636-9a04a480-ed8c-11e8-89ad-908eebd3b218.png">

(my mouse disappeared when taking the screenshot)

[2018-11-21 17:59] jessopb commented on #2117
Oh, ok. Then this change will be in the next release? I didn't see "title" mentioned in any issues. My 25.1 thinks it's up to date.

[2018-11-21 18:01] seanyesmunt commented on #2117
it should work in that version too

[2018-11-21 18:02] seanyesmunt commented on #2117
https://github.com/lbryio/lbry-desktop/pull/1980

[2018-11-21 18:30] seanyesmunt commented on #2117
Oh duh. I had my months off, we haven't had a release since that PR.

You can try the latest RC http://build.lbry.io/app/build-4183_commit-240ca20_tag-v0.26.0-rc.7/

It should work there.

[2018-11-21 18:31] tzarebczan commented on #2117
Works on Windows on the rc. Careful with that rc, it won't migrate a wallet correctly.

[2018-11-21 18:37] jessopb commented on #2117
OK, closing the issue.

[2018-11-21 18:37] #2117 closed

[2018-11-21 20:16] seanyesmunt commented on #2114
I think it could be cool if the reward info contains data about who it helped and or how much was sent to them too. We could display that in the rewards table/on the success snackbar.

This can all be shared with the mobile app since all of the rewards code lives in https://github.com/lbryio/lbryinc

[2018-11-22 00:19] tiger5226 commented on #2114
@seanyesmunt The idea is that all youtube sync partners will be eligible for the co-reward. What I mean was, how are we presenting letting the user know that if they watch a video for a reward, the content creator they choose gets the co reward. Or, are you saying the user should not know and it should just be a notice after the fact?

I can certainly put who and how much was given for the co-rewa

[2018-11-22 04:51] Invariant-Change opened #2118 "App Storage & Social Media Integrations + Privacy Mode"
# LBRY Flexibility & Intergrations

## Storage Integrations

An integrations tab containing integrations options that would allow users to connect their Amazon AWS/S3, Dropbox, Google Drive, One Drive and any other popular service that can be utilised.
This would tally nicely with current LBRY mirroring servers and offer greater storage flexibility.

## Social Media Integrations

Also, having opti

[2018-11-23 19:12] tzarebczan commented on #2118
Please open only 1 issue per detailed requirement.

1) LBRY is not meant to be used as a storage mechanism.

2) You can open a more detailed requirement for this. I assume this would mean when I publish something locally, it would automatically make a post on any social media accounts I've connected the app with. Sounds feasible long term, just not sure it's something we'd work on right away.

3)

[2018-11-23 19:12] #2118 closed

[2018-11-23 21:06] seanyesmunt commented on #2114
I'm not sure how (if?) we would display it to users before they claim a reward. I think if we present it somewhere before a user claims a reward, it will just be a general message and not dependent on internal apis.

[2018-11-26 09:52] cavey65 opened #2120 "Dropdown field in my LBRY"
I posted several pieces of content under different channels.
When seaching for it under my LBRY it would be nice to have them sorted by channel

Perhaps the dropdown field in my LBRY can be changed to add this.

[2018-11-26 13:20] seanyesmunt commented on #2120
This is a great idea @cavey65. We are hoping to make some improvements to the `My LBRY` section (publishes/downloads) soon. I think we can get to this when we make those changes.

[2018-11-26 13:59] seanyesmunt commented on #2006
I'm sure I will add more as I think of them but I don't think there will be that much to test in the app. Here are three:

[code]

[code]

[2018-11-26 21:42] tzarebczan opened #2121 "Add new content indicator to other pages"
## The Issue
Currently, the NEW indicator is shown only on the subscriptions page. We should add this to other pages like Explore, channels, recommended and search.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

## Internal Use

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested

[2018-11-28 13:36] tzarebczan commented on #2121
This is completed in https://github.com/lbryio/lbry-desktop/pull/2122

[2018-11-28 13:36] #2121 closed

[2018-11-28 13:36] tzarebczan commented on #2112
This is completed in https://github.com/lbryio/lbry-desktop/pull/2122

[2018-11-28 13:36] #2112 closed

[2018-11-28 14:30] tzarebczan opened #2125 "0.26 RC issues list"
## The Issue
- [x] authenticaton failure on first run or after clearing auth token (do we check too soon?). I can click continue and auth token is in the help screen.
- [x] brief white background on startup (turn on dark mode to see it)
- [x] subscriptions gerbil first run slow to show up when there are many existing subscriptions. (load less items per channel? don't load already subbed channels?

[2018-11-28 15:50] tzarebczan commented on #1825
Closed in https://github.com/lbryio/lbry-desktop/issues/1825

[2018-11-28 15:50] #1825 closed

[2018-11-28 17:44] tzarebczan commented on #2101
Fixed in https://github.com/lbryio/lbry-desktop/pull/2122

[2018-11-28 17:44] #2101 closed

[2018-11-30 04:31] jsigwart opened #2128 "Yerbil can't count"
## The Issue
In Subscriptions on 0.26-rc9, Yerbil can't determine the right number of subscriptions in a channel.

I thought Yerbil said I had 5 subscriptions when I had 3, but I didn't screenshot it. So I cleared the cache and then Yerbil says:
<img width="1211" alt="screen shot 2018-11-29 at 8 04 58 pm" src="https://user-images.githubusercontent.com/1363664/49268302-9cfa3780-f413-11e8-9b59-7d3c8

[2018-11-30 04:34] seanyesmunt commented on #2128
Thanks for the issue Julie. I'll check it out.

[2018-11-30 14:56] tzarebczan commented on #2128
The first blank one is probably because subscriptions aren't loading. The incorrect one not sure. @jsigwart can you open the console and watch the network calls to lbry.io and claim_list_by_channel on startup? You'll see what channels you are actually subbed to.

[2018-12-04 15:31] oakey22 opened #2132 "Remember my settings (especially on file delete Modal)"
When you download a video and wish to delete it, you have to select "Also delete this file from my computer" every time. Can. There be a checkbox to remember this setting so I do not need to do it for every download I want to delete?

https://spee.ch/f/IMG20181204152519

[2018-12-04 15:35] oakey22 opened #2133 "Hide balance"
Would it be possible to have a hide balance option in the settings?

If I want to use and browse LBRY and people are around me I do not want then to know how much LBC I have in my wallet on the top bar.

[2018-12-04 15:36] tzarebczan commented on #2132
Thanks for opening this Oakey! For the download specific one, maybe it can be done along with:https://github.com/lbryio/lbry-desktop/issues/895

We could explore to see what other settings might be in this boat.

[2018-12-04 15:38] tzarebczan commented on #2133
Thanks for filing @oakey22, good idea!

[2018-12-05 05:04] Invariant-Change opened #2135 "Meaningfully Styled URLs"
As someone that is very UX/UI focused, I thought it would be a good idea to have the different parts of the URL more apparent than others. The permanent part of the URL is not something that needs to be seen. Making it less obvious with an opacity reduction would make the whole URL look more attractive and more obvious what it points to.

The channel part of a URL (not shown) could also have a sli

[2018-12-05 05:07] seanyesmunt commented on #2135
@Invariant-Change This is a great idea!

[2018-12-05 05:07] tzarebczan commented on #2135
1) The permanent part is necessary because of how vanity URLs work. I don't think not shading it is the answer. This will be solved with https://github.com/lbryio/lbry/issues/958

2) We aren't showing channel URLs on most claims do to some bugs on how they are resolved if there are duplicates.

[2018-12-05 05:15] Invariant-Change commented on #2135
Yes, they are necessary, but they are also ugly and get in the way of the useful vanity URL. In this example, you can still see the permanent URL and it's still fully functional, but the less obvious style of it gives the whole URL more meaning and aesthetics. Visual ergonomics! My crazy creative mind loves it. lol

[2018-12-05 05:21] seanyesmunt commented on #2135
I think we should still show the full url. If we show the vanity url and a user tries to copy that, the person they share it wil may be directed to a different claim.

It's also common in browsers:
<img width="347" alt="screen shot 2018-12-05 at 12 21 03 am" src="https://user-images.githubusercontent.com/16882830/49491827-b17b6d00-f823-11e8-81bf-f963a9b3f5c4.png">

[2018-12-05 05:21] Invariant-Change commented on #2135
I'm trying to digest how a URL will look with the new approach on https://github.com/lbryio/lbry/issues/958 so can't comment on that part atm. I might need another coffee!

[2018-12-05 14:40] kauffj commented on #2135
Good change. We could consider de-emphasizing the `lbry://` portion as well.

Post https://github.com/lbryio/lbry/issues/958, when the claim ids should only be a few characters, we should consider showing them again.

[2018-12-05 16:08] #1987 closed

[2018-12-07 06:05] jsigwart opened #2137 "Deleting files in My LBRY > Downloads results in empty tiles"
## The Issue
After individually deleting files in my Downloads in the desktop app, when I go to look at My LBRY Downloads, I have gray blank tiles showing up in places.

### Steps to Reproduce
1. Delete files in My Downloads
2. Go back to My LBRY > Downloads and see if there are gray placeholders
3. It seems to happen sometimes but not others (argh)

### Expected Behaviour
Deleting a file should r

[2018-12-07 06:09] tzarebczan commented on #2137
Are you sure these are happening after deleting? The most common scenario is an abandoned file that is downloaded. Already logged under https://github.com/lbryio/lbry-desktop/issues/960 / and overall fix is part of https://github.com/lbryio/lbry-desktop/issues/1203

run a file_list api call (or check the network) tab to see what those might be.

[2018-12-07 06:20] jsigwart commented on #2137
I had no gray boxes before I deleted files. If they were abandoned claims, then I had old files on my drive that matched up...

[2018-12-07 06:31] jsigwart commented on #2137
Still there after clearing the cache. Also tried a restart of the app, and they're still there.

[2018-12-07 06:34] tzarebczan commented on #2137
Api commands are easier to run now, just use lbrynet to call file_list.`./lbrynet file_list`

Search for lbrynet on your file system (noticed the Mac faq didn't have this location recently).

[2018-12-07 16:57] seanyesmunt commented on #2133
If you balance is hidden, it should change the message to something like "View your wallet"

[2018-12-07 16:57] seanyesmunt commented on #2137
Should be fixed with #2129

[2018-12-07 19:22] alyssaoc commented on #182
closing, reopen if this is still an issue

[2018-12-07 19:22] #182 closed

[2018-12-07 19:29] tzarebczan commented on #384
There's a newer issue filed for this, thanks!

[2018-12-07 19:30] alyssaoc commented on #430
closing, reopen if this is still an issue

[2018-12-07 19:30] #430 closed

[2018-12-10 14:53] tzarebczan commented on #2137
Closing, will be fixed in next release

[2018-12-10 14:53] #2137 closed

[2018-12-10 14:53] tzarebczan commented on #2128
Closing, addressed in next release.

[2018-12-10 14:53] #2128 closed

[2018-12-10 18:06] tzarebczan opened #2138 "Pending channel not available in Publishes screen sometimes"
## The Issue
Breaking out from: https://github.com/lbryio/lbry-desktop/issues/2125

After you create a channel, publish something, and while it's pending - if you navigate back home/other screens before going back to the Publish page, the channel may not be available. If you refresh the app, it fixes itself.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation I

[2018-12-10 20:21] #2006 closed

[2018-12-12 16:02] kauffj opened #2140 "Close custom reward modal after providing reward"
There's no reason for the modal to stay open once I've entered a code and received a reward.

[2018-12-12 16:06] seanyesmunt commented on #2140
Hm, this should have been fixed. Will check it out

[2018-12-12 16:06] tzarebczan commented on #2140
It is still happening - but yes, it was fixed at some point.

[2018-12-12 16:08] #2125 closed

[2018-12-12 16:19] tzarebczan opened #2142 "Copy icon cut off for some users"
## The Issue
This is happening to @skhameneh on the address copy button as well.
![image](https://user-images.githubusercontent.com/8120721/49882965-b5992300-fdff-11e8-8e41-60d1e9e0996d.png)

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

##

[2018-12-12 17:15] alyssaoc opened #2143 "App D"
## The Issue
Please see the roadmap in Notion . https://www.notion.so/lbry/App-Roadmap-3b100694e8bc45b5a1d45aa90e7f744f

## Internal Use

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without errors
- [ ] Unit tests are written and passing
- [ ] Tests on devices/brow

[2018-12-14 16:21] #2140 closed

[2018-12-16 21:50] btzr-io opened #2148 "Big picture mode"
### The issue
Add a big picture mode for the lbry-desktop app.
The big picture feature allows you to optimize and adapt the UI / UX  for TV or large / big screens.

### Suggestions
Add simple checkbox / switch option on the menu settings to trigger this behavior. https://developer.android.com/design/tv/

### Example

<img src="https://cdn.vox-cdn.com/thumbor/FxLBjlgVj_cowxDNp7oaHI04dtc=/0x0:1045x6

[2018-12-16 21:52] btzr-io commented on #2148
Let me know if there is a similar issue open or if this is irrelevant so I can close this :v:

[2018-12-16 23:53] seanyesmunt commented on #2148
I wonder if this should be set during build? I'm guessing there will be other ui changes that are necessary for TV/large screens. `yarn build --tv` or something would just set all of these changes.

Then we don't have a bunch of settings for small bits of ui?

I can see a case being made for individual settings too. Not sure.

[2018-12-16 23:59] btzr-io commented on #2148
It only requires a single button or a switch
@seanyesmunt Here is a better example https://store.steampowered.com/bigpicture

[2018-12-17 00:01] seanyesmunt commented on #2148
Ah, I gotcha. That's a good example.

[2018-12-19 05:44] #1976 closed

[2018-12-19 15:58] seanyesmunt opened #2151 "Redesign Fixes"
## This issue will track any new bugs from the new style changes

### Outstanding issues
- <> navigation issues sometimes (https://spee.ch/7/redesign-scroll)

### Fixed
- ~call reward list after getting confirmation from lbry.io - this ensures existing accounts show correct rewards.~
- ~Publish page - Price > value and drop down alignment (same with other value/dropdown pairs, i.e. settings page)~

[2018-12-24 02:52] julianschacher opened #2152 ""Enter Reward Code" doesn't accept Enter Key to trigger Redeem"
## The Issue

### Steps to Reproduce
1. Go to LBRY -> Wallet -> Rewards -> Custom Code -> Enter Code
2. Enter a code
3. Press the enter key

### Expected Behaviour
This should do the same as clicking the "Redeem"-Button.

### Actual Behaviour
Nothing happens.

### Suggested Solutions

## System Configuration

- LBRY Daemon version: 0.30.1
- LBRY App version: 0.26.1
- LBRY Installation ID: 9VS5gCQN

[2018-12-24 02:55] seanyesmunt commented on #2152
Thanks for the issue @julianschacher !

This is an issue with all modals (I think the only other one is with email verification)

I think the issue is that the `button type="submit"` is not inside of these form elements.

[2018-12-27 20:21] tzarebczan commented on #2152
@julianschacher, thanks for opening this issue - great suggestion! Can we send you [LBC in appreciation](https://lbry.io/faq/appreciation) for filling this out?

[2018-12-27 22:18] tzarebczan opened #2153 "Daemon not shutdown cleanly on app quit"
## The Issue
Currently, the app kills the daemon abruptly and it does not go through its shutdown procedure (which may cause issues). Instead, it should send a stop command and then shutdown if it wasn't closed after a few seconds (or allow the user to click a button to force close).

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

#

[2018-12-27 23:37] tzarebczan opened #2154 "Unread count reset when navigating other channel pages"
## The Issue
Thanks to a community member (Brendon) for spotting this one.
If you are subscribed to a channel and then navigate to any other page (besides 1), the unread count gets reset to 10 and the `new` tag comes back. It takes a few seconds for this to occur after navigating to the other page.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Opera

[2019-01-02 18:32] kauffj opened #2155 "Publish app to Windows store"
(Stub ticket - I have no idea what's involved.)

[2019-01-02 18:36] skhameneh commented on #2155
Looks like a UWP shell may be a hard requirement (not verified).
Electron supports UWP deployments: https://electronjs.org/docs/tutorial/windows-store-guide

If running the daemon is an issue, we can wait until lbryweb is ready.
Will investigate further, @seanyesmunt and @shyba let me know if you find anything new.

I will also explore AppCenter and see if they make UWP deployments easier. (@akinw

[2019-01-02 18:37] skhameneh commented on #2155
Also worth consideration:
React Native for UWP https://github.com/Microsoft/react-native-windows

[2019-01-02 19:39] tzarebczan commented on #1949
This actually needs to happen in https://github.com/lbryio/lbry-redux/blob/7507cfd2f77a0f27b6eb678481df80b54cfa49d4/src/redux/actions/search.js#L52, but will leave here for visibility.

[2019-01-02 22:15] tzarebczan commented on #2142
@Invariant-Change tracked this down and it's related to the css around the svg icon: ```To fix the SVG rendering issue, I've added the stroke-width: 1; CSS like this to _buttons.scss. I```

[code]

[2019-01-03 12:50] Invariant-Change commented on #2142
Since this, the code has changed and a [bug ](https://github.com/lbryio/lbry-desktop/issues/2151) is now present preventing the icons from showing to test. I will revisit once the `ModalSocialShare ` modal is fixed so that I can make sure the icon fix is working.

[2019-01-03 13:01] Invariant-Change opened #2158 "Credits Warning After Publishing When Editing Another Claim."
## The Issue
After publishing a file, the wallet balance artificially goes to zero for a short time. During this time, if you try to edit another claim, an "**LBRY Credits Needed**" warning is displayed. This could be confusing to new users.

### Steps to Reproduce
1. Publish a file.
2. Immediately edit existing claim.

### Expected Behaviour
The app should understand when the zero balance isn't a

[2019-01-03 14:43] ngeiswei opened #2159 "Toggle fullscreen when pressing `f`"
## The Issue
Pressing `f` while watching a video doesn't toggle fullscreen.

### Steps to Reproduce
1. Launch a video.
2. Press `f`.
3. Press `f` again, nothing happened.

### Expected Behaviour
Fullscreen should be toggled.

### Actual Behaviour
Nothing happens instead.

### Suggested Solutions
Implement toggling fullscreen when pressing `f`.

## System Configuration

- LBRY Daemon version: 0.30.

[2019-01-03 14:46] tzarebczan commented on #2159
Thanks for opening this issue! I agree, this would be a nice shortcut to have! Do you want to take a shot at implementing it?

Can we send you [some appreciation](https://lbry.io/faq/appreciation) for opening the issue?

[2019-01-03 14:50] ngeiswei commented on #2159
I could take a shot, though it might take me a while given how busy I am.

Question: would it be OK if it is hardwired?

Appreciation is always welcome :-)

[2019-01-03 17:32] tzarebczan commented on #2158
Thanks for filing this! I'm going to talk to Sean to see if this should be improved from the app side or if we need to figure out a better way to handle it on the SDK. What happens, and only in certain cases, is that the funds are marked as spent before the change arrives in another address and balance is recalculated (this should only happen for a short period of time before fixing itself, and on

[2019-01-03 18:43] tzarebczan commented on #2159
@ngeiswei hmm, not sure what you mean by hardwired. Maybe this previous PR to add a different shortcut would help: https://github.com/lbryio/lbry-desktop/pull/2003

[2019-01-03 19:18] tzarebczan commented on #2158
I've opened https://github.com/lbryio/lbry/issues/1740

[2019-01-03 20:40] ngeiswei commented on #2159
By hardwired I mean that the shortcut, here `f`, is specified in the code rather than in a config file that is accessible to the user.

BTW, I had a look at the code and I think I can handle it (especially if hardwired), just need to gather free time for it.

[2019-01-03 21:04] seanyesmunt commented on #2159
Hey @ngeiswei

This is a great idea! This shouldn't be accessible to the user, but should just happen in the background like youtube does.

`f` should maximize the screen, but also minimize it.

Since we already have this functionality for `double-click`, it should be pretty straight forward to add.
You could add the event listener right below this line: https://github.com/lbryio/lbry-desktop/blob

[2019-01-03 21:13] ngeiswei commented on #2159
Hi @seanyesmunt, yeah, player.jsx L110 is exactly where I had my eyes on.

I don't fully understand that but I guess it will become clear as I dwell deeper into the code.

Thanks for the other tips.

[2019-01-03 21:15] seanyesmunt commented on #2159
@ngeiswei No problem.

I just meant that we need to remove the event listener when the react component leaves the page. We don't care if a user pressed `f` on the settings page. We do something similar here:
https://github.com/lbryio/lbry-desktop/blob/master/src/renderer/component/wunderbar/view.jsx#L39-L41

[2019-01-03 21:58] skhameneh opened #2160 "Add FBX and OBJ support for rendering 3D models with textures"
@kodxana has some really cool 3D models he'd like to publish on LBRY, I'd like to see them on LBRY as well.  Some of these models are used in VRChat as well as other popular game/VR platforms.

See https://github.com/lbryio/SpeechVR/blob/master/src/index.js#L30 for **fixing UV maps** that may not always be available.
May also need to **massage vertices/polys**, see https://github.com/lbryio/Speech

[2019-01-04 02:22] tiger5226 opened #2161 "Reward Tiles don't update properly"
Currently we don't have multiple rewards of the same type so the bug is never seen. When a reward is claimed the view is regenerated and the reward of the type claimed is removed. However, if there are multiple rewards of the same type in multiple tiles, and I claim 1 of them, then of the remaining ones, one of them gets stuck in a state, only resolved by a reload of the app.

<img width="548" alt

[2019-01-04 15:01] tzarebczan opened #2162 "Can't close error modal from spee.ch thumb upload"
## The Issue
If you run into an error uploading a spee.ch thumb (I ran into one on VPN before, or if it were to fail for some reason), you can't close the modal that comes up - it requires an app reboot.

Easy way to test this at the moment is to upload a thumb with an apostrophe in the filename.

![error](https://media.discordapp.net/attachments/377895389992321064/525948297928638485/error.jpg?wid

[2019-01-04 15:31] tzarebczan commented on #1819
This was shipped with 0.26

[2019-01-04 15:31] #1819 closed

[2019-01-04 16:00] tzarebczan opened #2163 "Additional search options (sorting, simple filters)"
## The Issue
Along with https://github.com/lbryio/lbry-desktop/issues/2111 / https://github.com/lbryio/lbry-desktop/issues/1764 / https://github.com/lbryio/lbry-desktop/issues/1735, we should also add simple search result sorting and filtering. Examples include:

Sorting by title asc/desc
Sorting by date (currently height) asc/desc
In last day, week, year, month, etc (time period filtering)
Effect

[2019-01-04 16:00] seanyesmunt commented on #2162
Working on this

[2019-01-04 16:37] #2162 closed

[2019-01-04 20:40] robvsmith opened #2165 "Invitation Change and Micro-Tutorial"
##Invitation Featured At Top Level With a CTA and Guidance

### Acceptance Criteria
1. Invitation Featured On Main Menu
2. Users prompted to invite friends on first run
3. A Yerbil tutorial the first time someone goes to the Invite screen

### Definition of Done
- [x]  The Invitation link is moved to the main menu in the app
- [x] A prompt asking users to invite their friends is part of first run

[2019-01-07 16:44] seanyesmunt commented on #510
Added in https://github.com/lbryio/lbry-desktop/pull/2164

[2019-01-07 17:04] #510 closed

[2019-01-08 01:10] Invariant-Change commented on #2142
https://github.com/lbryio/lbry-desktop/pull/2167

[2019-01-08 07:12] #2142 closed

[2019-01-08 15:56] tzarebczan opened #2171 "Add loading animation to search page"
## The Issue
The improve the UX while searching, we should add a loading animation to the search page. Otherwise, it first says "no results" and then the results start coming in.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

## Internal Use

### Acceptance Criteria
1.
2.
3.

### Definition of Done

[2019-01-08 17:59] tzarebczan opened #2172 "lazyresolve claims, especially on downloads/search page"
## The Issue
If a user has many downloads (separate issue on why we re-resolve all these filed under:https://github.com/lbryio/lbry-desktop/issues/1203)  or if many things are resolved at once (i.e on search page), the number of parallel calls may make the app lockup and put more load on the daemon. We could try resolving only when the claim is ready to be shown on the screen or optimize loading o

[2019-01-08 18:03] seanyesmunt commented on #2172
A super simple way to do this would be to add a check for every `FileCard` component to see if it's on the page, if it isn't, don't resolve.

Then listen for a scroll event and perform the check again.

The key part would be to ensure performing all of these checks aren't equally as slow.

[2019-01-08 21:52] tzarebczan opened #2173 "delay install/new call until after user/me call"
## The Issue
Sometimes the user can't be created quickly enough and the install version is not linked back to the account.

Also, take a look at why user/me is called twice on startup.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Scree

[2019-01-09 19:48] tzarebczan opened #2174 "Add autorun on startup capability / option in settings"
## The Issue
We can use https://www.npmjs.com/package/auto-launch to give users the ability to start up LBRY on boot. This would default to off most likely, but we could entertain turning it on if we alert users to it. This could be done before we figure out how to run the daemon as a service on startup.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
-

[2019-01-10 01:41] tzarebczan commented on #2151
New:
- last item in row is smaller than rest on homepage
- show page title/desc overlapping on large screen

[2019-01-10 04:56] seanyesmunt commented on #2154
Fixed in #2176

[2019-01-10 04:56] #2154 closed

[2019-01-10 18:51] tzarebczan opened #2177 "Shouldn't hide modals after reward is claimed, only if it's from the reward code"
## The Issue
~If you have a modal open, i.e. share, and you get a snackbar, the modal closes. This happened to me after I subbed to something and then went to share - the sub triggered a reward, which resulted in snackbar. ~

Realized this is because we hide modals on reward success, which helps with the reward code modal, we need to add a check for this so we don't hide the wrong modals

### Expe

[2019-01-10 20:02] tzarebczan commented on #2161
Update with new approach from internal apis: ```now the rewards of same type are duplicating when claiming other rewards + the reward amount shows the same value (i.e i have 3 channels, 100, 200, 300 LBC, but all 3 rewards show 100 - the api call is correct```

[2019-01-10 22:47] tzarebczan commented on #2151
- icons look blurred / small
![image](https://user-images.githubusercontent.com/8120721/51001941-bbb61880-14ff-11e9-9814-bb8305f67c1a.png)

[2019-01-11 01:56] tzarebczan commented on #2173
I think we should try to get this in with the email verification - otherwise, we may get unlinked installs.

[2019-01-11 06:46] skhameneh opened #2179 "Add support for `*.lbry` packages (sandboxed applications)"
Add support for `*.lbry` packages (sandboxed applications)

[2019-01-11 16:13] #1299 closed

[2019-01-11 16:23] tzarebczan commented on #2173
This should already be happening: https://github.com/lbryio/lbryinc/blob/1627e26525580a6e301c698a0faf4974f64dcd0b/src/redux/actions/user.js#L66

[2019-01-11 16:23] #2173 closed

[2019-01-12 17:57] tzarebczan opened #2180 "Suggested channels after subscribing"
## The Issue
Cool feature I noticed on YouTube recently where they show you a list of similar channels after subscribing to one. We could do this in a similar way to related content along with Search, but I think we'll need creator profiles before we can do this well. Right now we'd only be able to search on name, which won't give good results.

![image 2](https://user-images.githubusercontent.com

[2019-01-12 20:19] tzarebczan opened #2181 "offline mode when can't connect to sdk / internet"
## The Issue
We should allow the app to startup without a SDK connection in "offline mode". With numerous planned upgrades to the SDK, there may be times when an upgrade affects a large set of app users where they can't startup. If we allowed offline mode, they could at least startup and grab an update we would have pushed, otherwise, they need to manually download/install.  Offline mode would als

[2019-01-14 14:20] tzarebczan commented on #2151
Some feedback about the balance in top left from community members: new users may get confused about what 0.0 LBC means. Previously it used to say "You have xx LBC", so at least it gave them a small hint. They will have more information when they click the balance from the overview screen though.

[2019-01-14 15:47] seanyesmunt commented on #2151
@tzarebczan Added a more descriptive title that is shown on hover:
`Your balance is x.x LBRY Credits`

[2019-01-14 18:40] seanyesmunt commented on #2151
Will fix the navigation issue in a future release

[2019-01-14 19:21] tzarebczan commented on #2151
- [ ] text size on manual upgrade prompt (not the automated one):
![image](https://user-images.githubusercontent.com/8120721/51135283-9c710100-1807-11e9-93d0-b097821f4fb8.png)
- [ ] mention rewards on  Invite page?

[2019-01-14 19:56] tzarebczan opened #2183 "Add subscription page caching"
## The Issue
If a user has many subscriptions, navigating to the subscription will result in hangups / slower loading times. Similar to other pages we have, we need to add a caching mechanism, which would ensure the pages come up quickly and then new data is fetched in the background (i.e. claim_list_by_channel calls).

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Ins

[2019-01-14 20:06] #2151 closed

[2019-01-14 22:02] tzarebczan opened #2186 "Add new version / description on upgrade prompt"
## The Issue
On the upgrade prompt for new versions, we should list the version and/or the tag from GitHub. Most times we add a release description which should suffice: "Clarke - 0.26.1". There will be a few different prompts to ad this one (one for auto, one for manual, and Linux).

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon

[2019-01-14 22:16] kauffj opened #2187 "Better UI indication of why taskbar icon is filling/downloading"
(I understand what's going on here, just putting on my ignorant user hat.)

When the LBRY desktop app is running and downloading a file, it fills the icon in the taskbar as the file is downloading.

However, outside of being on the URL of the specific file being downloaded, there is no way to tell what this bar is or why it is filling. Especially for users who (already) get confused about the fact

[2019-01-14 22:18] tzarebczan commented on #2187
Similar to https://github.com/lbryio/lbry-desktop/issues/1933 - this may also change with streaming mode (we may still want to show progress though?)

[2019-01-14 22:24] kauffj opened #2188 "Unify upgrade modals"
`modalAutoUpdateDownloaded` and `modalAutoUpdateConfirm` appear to have both similar functionality and templating. Can they simply be the same thing?

[2019-01-14 22:37] kauffj opened #2190 "Subscriptions UI Changes"
1. Can the suboptions (All, Latest) that appear at the top of the subscription area appear in the left navigation once I've clicked into the area? (Either replacing the UI element at the top, or in addition to it)
2. It seems strange that "All" and "Latest" are effectively a toggle between "By Date" and "By Channel". I understand that "All" shows me things I've already watched, maybe we can change

[2019-01-14 22:40] tzarebczan commented on #2190
Agree about the side navigation and quirks with top nav, this was something I was asking Sean if we should change.

I was going to suggest a third view, which shows all subs, by channel - your suggestion should cover that! I like it even better.

[2019-01-15 05:07] skhameneh commented on #2155
I am working with this tool, I am making progress
https://github.com/felixrieseberg/electron-windows-store

[2019-01-15 13:58] tzarebczan opened #2194 "Display error message from SDK on modal"
## The Issue
There are a few different scenarios where we display the failed to download error modal, but we don't display what the error was. We just ask users to try again or contact us. Typical failure reasons would be https://github.com/lbryio/lbry-desktop/issues/1025, not having permissions to write to the download folder, timeouts, disk space or database issues.

I believe the error modal ne

[2019-01-15 21:38] ykris45 opened #2196 "amount/transaction/date being squished on smaller screens on rewards page"
## The Issue
i use a square monitor 1024x768 screen resulution but after i tested it and go to the rewards page i seeing amount/transaction/date being squished on smaller screens on the rewards page

### Steps to Reproduce
1. use small screen e.g 1024x768 monitor resulution
2. go to rewards
3. and then you will see as i mentioned on this screenshot image

### Expected Behaviour
Tell us what should

[2019-01-15 21:39] tzarebczan commented on #2196
Thanks for opening this @ykris45 !! Wanna take a shot at fixing it?

[2019-01-15 22:27] nikooo777 opened #2198 "Improve accessibility for colorblind people"
## The Issue
While testing the app I noticed one thing. With the dark mode and the new colors we're straying further from colorblind accessibility.
Grey and Green together are very similar color to 8% of the population. Probably not something we should overly worry about right now but it's something to keep in mind while normalizing the CSS and all the colors. https://scrn.storni.info/2019-01-15_1

[2019-01-15 22:51] tzarebczan opened #2199 "autopopulate release notes on all releases"
## The Issue
Release notes should come from the unreleased section of the change log. This should happen on all RCs and releases.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

## Internal Use

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ]

[2019-01-16 16:40] #2196 closed

[2019-01-16 21:41] kauffj opened #2202 "Alternative paragraph spacing rule (modalEmailCollection spacing is incorrect)"
`modalEmailCollection` has is missing spacing below the last paragraph due to this rule:

https://github.com/lbryio/lbry-desktop/blob/bed9b1f95f6af3beb3df01db57e5dea44be773ae/src/renderer/scss/component/_card.scss#L86

I understand the utility of a `p:not(:last-child)` rule but IMO `p:not(:last-of-type)` makes this spacing tough to fix.

With `:not(:last-child)`, I can eliminate spacing on a `<p>`

[2019-01-16 22:49] seanyesmunt opened #2203 "Refreshing should not should not send you back to the home screen"
## The Issue
As a user, when I refresh something, I expect to stay on the same page
As a developer, when the app reloads after changes, I expect to stay on the same page

### Suggested Solutions
Currently, the refresh just reloads the html page. We could hijack that, but it might affect cases where the app is in a bad state and refreshing actually fixes that. We should probably only keep the curre

[2019-01-16 22:55] seanyesmunt commented on #2202
Hm. Yeah this is one of the tricky things with using `margin-bottom`. Wrapping each group in a `.card__content` should fix it, and wouldn't be _that_ crazy since they are separate element groups. But I'm not a super big fan of that.

[2019-01-16 23:05] kauffj commented on #2202
I think this is why `:not(:last-child)` instead of `:not(:last-of-type)` ends up being better.

When you have a `<p>` that is a last-child and you still want spacing below it, it can be provided by the parent `<section>` or `<div>`. When you have a chained elements and you have a `<p>` that you don't want a margin-bottom on, you can wrap that `<p>` (plus possibly some of it's previous siblings) in

[2019-01-16 23:09] seanyesmunt commented on #2202
Yeah I just messed with it a bit. I guess I was confused.

I agree, `:not(:last-child)` is better. Will fix and include in the next release.

[2019-01-16 23:23] tzarebczan opened #2204 "Support locking and unlocking of wallet while in use"
## The Issue
The latest SDK includes an account_lock function that we can use to lock a users wallet while they have the app open. This would be useful when allowing LBRY to run in the background, or when using LBRY in a public setting. I think it should also lock down any changes in the app (i.e. mature content setting/download directory/etc) and put a banner with something along the lines of "wa

[2019-01-17 05:41] seanyesmunt opened #2205 "Actually report errors that cause error modals"
## The Issue
Currently on the error modal, we say: "We're sorry that LBRY has encountered an error. This has been reported and we will investigate the problem.", but we aren't doing that.

### Possible solutions
- Post errors to a slack channel (probably have to go through internal api's)
- Mixpanel
- Automatically take a screenshot and fax it to lbry hq

[2019-01-17 06:38] seanyesmunt commented on #2202
Changed to `:last-child` in https://github.com/lbryio/lbry-desktop/pull/2206

[2019-01-17 06:38] #2202 closed

[2019-01-17 06:39] seanyesmunt commented on #637
Finally removed the last one in https://github.com/lbryio/lbry-desktop/pull/2206

[2019-01-17 06:39] #637 closed

[2019-01-18 19:10] tzarebczan opened #2209 "Support auto-claiming of Publish+Channel rewards"
## The Issue
Now that we have chainquery validating publishes via the mempool, we should be able to streamline/automate the claim process for first publish/channel. After a publish/channel, continue calling the api to claim (silently) it for X amount of time until it succeeds. If it doesn't, a popup alerting the user that something may have gone wrong/claim later would be a nice touch.

### Sugges

[2019-01-19 01:24] #2161 closed, assigned to neb-b

[2019-01-19 17:21] #2000 closed

[2019-01-19 18:42] tzarebczan opened #2211 "Fix homepage channel category loading"
## The Issue
When I added the claim ids to items on the homepage categories, the row gets treated similar to the subscription suggestions and shows 20 items at a time. This is inefficient for first start since we resolve all the homepage URIs, and then re-resolve the 20 items using claim_list_by_channel. If a user is subbed to the channel already, we call claim_list_by_channel another time too. We

[2019-01-19 18:45] tzarebczan opened #2212 "Show more related content"
## The Issue
Currently, we only show 20 pieces of related content. I should be able to scroll to the next page, or it should continue to load more as I scroll down (YouTube does a "show more" button).

We should already have offset features via the call parameters.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

##

[2019-01-19 19:00] seanyesmunt commented on #943
Other languages were added in https://github.com/lbryio/lbry-desktop/pull/2201

For more language support feel free to open a PR.

[2019-01-19 19:00] #943 closed

[2019-01-21 05:59] #2179 closed

[2019-01-21 17:46] tzarebczan opened #2215 "< > navigation problems on some screen sizes"
## The Issue
Breaking out from:
https://github.com/lbryio/lbry-desktop/issues/2151

https://spee.ch/7/redesign-scroll

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-01-21 17:49] seanyesmunt commented on #2215
The current solution for checking if a user can scroll right/left in a list on the homepage isn't very performant. And this bug arises when you click scroll _again_ after it hasn't fully updated after the first click.

[2019-01-21 17:51] tzarebczan opened #2216 "Improve show page when no thumbnail exists"
## The Issue
Breaking out from: https://github.com/lbryio/lbry-desktop/issues/2151

When there is no thumbnail, the show page shows a blank black image. On tiles, we have a placeholder.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-01-21 17:57] tzarebczan opened #2217 "Quick access to theme change slider"
## The Issue
Many users are big fans of Dark mode, but some users may not even know it exists. We can try exposing this setting on the bottom left of the sidebar, and alert users to it as a first run hint. My suggestion would be to make dark mode default for the next named release (D, for Dark as a double meaning on the author name), along with the prompt so users can turn back to light mode easil

[2019-01-21 19:14] tzarebczan opened #2218 "Determine why user/me calls happens twice on startup"
## The Issue
The user/me api call happens twice on startup, which could end up creating 2 entries for the same user and cause some data inconsistencies.  Determine why this is happening and attempt to fix it.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-01-21 20:12] tzarebczan commented on #2205
In the short term, would like to get them the actual error shown to them: https://github.com/lbryio/lbry-desktop/issues/2194

[2019-01-21 20:23] tzarebczan opened #2219 "Show page relative sizing"
## The Issue
This was removed in the previous version to simplify the show page. Show related content under the video on smaller screens.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-01-22 19:04] tzarebczan opened #2220 "Feature Request: Setting to control app closing behavior"
## The Issue
Users should be able to control whether or not the app minimizes to the system tray when closing. Many users are unaware that closing the app sends it to the tray, and doesn't actually quit. Other Electron apps like Discord and Slack allow this as well.

![image](https://user-images.githubusercontent.com/8120721/51558892-905ff180-1e4e-11e9-853a-876af7b5ad56.png)

## System Configurati

[2019-01-22 19:04] seanyesmunt commented on #2220
Part of this should be to add `launch on login` too.

[2019-01-22 20:38] seanyesmunt commented on #1683
Done in https://github.com/lbryio/lbry-desktop/pull/2221

[2019-01-22 20:38] #1683 closed

[2019-01-23 16:58] lyoshenka opened #2223 "The roundedness of the different elements feels inconsistent"
The Explore page is very rectangular. The Publish page is rectangular with rounded corners. The buttons are very rounded. It feels inconsistent.

[2019-01-23 17:00] lyoshenka opened #2224 "Highlight primary action in sidebar"
A lot of sites highlight the main action in the sidebar (e.g. the Compose button in gmail). We may want to highlight Explore so it's easier to find, and/or maybe the Publish button (which is kinda hidden in the top-right).

[2019-01-24 21:22] seanyesmunt commented on #2172
Working on this. Will implement on the homepage first, since new users won't run into issues on the other pages until they've used the app for a while. The implementation may be slightly different too.

Mostly experimenting at this point.

[2019-01-24 22:17] lyoshenka opened #2228 "improve confirm text when editing claim"
When I change the description on a claim I published but don't touch the uploaded file, the confirm dialog still tells me my file has been published.

[2019-01-25 11:55] tzarebczan opened #2229 "automatically create lbry:// hyperlinks in description"
## The Issue
https://github.com/lbryio/lbry-desktop/blob/master/src/renderer/component/common/markdown-preview.jsx#L33 works for markdown like ```[test](lbry://test)``` but we should also support regular lbry links like lbry://test / lbry://test#12312321321 / lbry://@channel, etc.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## A

[2019-01-25 12:02] tzarebczan opened #2230 "Tile display with price looks strange"
## The Issue
The folder icon still looks okay with the white background, but the yellow price and white background looks a bit strange. Maybe @Invariant-Change has some ideas on how to improve, he spotted this.

![ugly](https://user-images.githubusercontent.com/8120721/51744618-69800600-206e-11e9-9aa4-425690ddb3bb.png)

### Suggested Solutions

Tell us your suggested solutions if you have any.

##

[2019-01-26 16:56] tzarebczan opened #2231 "0.31 daemon changes needed app side"
## The Issue
- [x] change download_directory > download_dir
- [x] settings_set format is new for setting/disabling key fee, download directory and possibly others we allow:
```{"jsonrpc":"2.0","method":"settings_set","params":{"key": "max_key_fee", "value": null}}```
```{"jsonrpc":"2.0","method":"settings_set","params":{"key": "max_key_fee", "value": "1 LBC"}}```
- [x] no need to pass sd hash when

[2019-01-26 23:42] #2219 closed

[2019-01-27 21:14] jsigwart opened #2232 "Toggle to allow/disallow file sharing"
## The Issue
My internet provider sends me large bills if I exceed my monthly bandwidth cap. I would like to choose to share/not share content in my library. Currently the only way to unshare is to quit the LBRY app.

### Suggested Solutions

I would like to be able to control the sharing of my content library like I can in uTorrent. Here are the controls I have in uTorrent:

<img width="554" alt=

[2019-01-28 00:55] skhameneh commented on #2155
Semi-blocked on setting up LBRY as an org for "Microsoft Developer" registration.
Should have this done shortly with @finer9 and @lyoshenka

[2019-01-28 11:14] tzarebczan commented on #2232
This would require both https://github.com/lbryio/lbry/issues/798 / https://github.com/lbryio/lbry/issues/1379 from the SDK to proceed.

[2019-01-28 14:14] tzarebczan opened #2234 "Fix app crash on invalid claim"
## The Issue
Someone created a claim with a # in it, and it crashes the app when accessing it. It may also crash when searching for the claim name/title (still confirming if this is the case).

[code]

From the reportee: This is because it erroneously treats the literal hashmark embedded in the name as the separator between name & claim id.

## System Configuration

- LBRY Daemon version:
- LBRY A

[2019-01-28 16:32] seanyesmunt commented on #2165
First version of this will be released without # 4

I think that's something we might want to extend in the future with more options. Not sure of the best way to do that right now.

[2019-01-28 16:54] kauffj commented on #2155
@skhameneh is this different than whatever certification or process we went through with MS already? I'm pretty sure we had to do some sort of registration to sign our apps in the first place.

[2019-01-28 17:42] seanyesmunt commented on #2211
This is fixed (kind of).

Improvements can still re/ re-fetching stuff we don't need to.

[2019-01-28 18:00] seanyesmunt commented on #2234
- Searching works
- Trying to navigate directly to the url works `lbry://name#x#x` shows a snackbar with `Invalid LBRY URL entered. Only A-Z, a-z, and - allowed.`

I think the only thing that would be broken is if it's your own claim? Still trying to test.

[2019-01-28 19:46] seanyesmunt commented on #2099
Autoplay currently only exists in settings, but is still defaulted to `off` until lbryio/lbry#1311 is addressed.

[2019-01-28 19:55] seanyesmunt opened #2236 "Add "CTA after x time" framework"
Creating this based on https://github.com/lbryio/lbry-desktop/issues/2165

This should be something generic, so we can add prompts for other items in the future. I.e. "Tell a user to subscribe to someone if they haven't after x time"

[2019-01-28 19:56] seanyesmunt commented on #2165
closing this in favor of #2236

[2019-01-28 19:56] seanyesmunt commented on #2211
Closing this. The fetching stuff will be improved in another PR.

[2019-01-28 19:56] #2211 closed

[2019-01-29 01:14] tiger5226 opened #2239 "Content Discovery KPIs"
In order to [train the AI](https://github.com/lbryio/internal-apis/issues/674#issuecomment-459520806) we need feedback from users as well as to collect our KPIs:

- **Ratings:** We want to measure the quality based on ratings. If we are providing interesting content the ratings ratio will show it.

- **Recommendation Clicks:** The % clicked will tell us if we are providing good recommendations. As

[2019-01-29 15:29] seanyesmunt opened #2240 "Reset video to 0 time after completion"
## The Issue
If you watch a video completely, then navigate away and back, it will be "stuck" at the end of the video. You have to manually move the time back to 0.

### Steps to Reproduce

1. Watch a video until the end
2. Navigate away and back
3. See that it it tries to start at the very end

### Expected Behavior
It resets to 0 after finishing

Tell us what should happen.
It doesn't

### Sugge

[2019-01-29 16:10] kauffj commented on #2236
@robvsmith do you want an(y) email(s) for this as well?

[2019-01-29 19:09] tzarebczan opened #2242 "Pass error from spee.ch api on failure"
## The Issue
spee.ch upload error not being passed back into the error prompt.
![image](https://user-images.githubusercontent.com/8120721/51933495-72a30700-23cf-11e9-8a6c-5a0ff5be9405.png)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-01-29 22:34] tzarebczan commented on #2165
Reopening to track completion of new reward claiming mechanism.

[2019-01-30 01:47] tzarebczan opened #2243 "determine why lbry.exe is asking for firewall permissions (games related)"
## The Issue
Since the games commit, LBRY asks for firewall permissions on lbry.exe on first startup. I had it ask a 2nd time for me as well (once for private and other time for public network). The protocol is 6 TCP and 17 UDP.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-01-30 02:32] tzarebczan opened #2244 "determine why lbry://2048 game fails / doesn't play"
## The Issue
lbry://2048#44064cadfc22dc13419843999ec80e30cf13262b

get this first, which crashes the app.
![image](https://user-images.githubusercontent.com/8120721/51954163-24145d80-240d-11e9-97a4-9d4b246d2127.png)

reopening it leads to:
![image](https://user-images.githubusercontent.com/8120721/51954209-5756ec80-240d-11e9-9e09-a9e4bba7822c.png)

## System Configuration

- LBRY Daemon version:
-

[2019-01-30 02:37] tzarebczan opened #2245 "Show new published icon on tiles that are own publishes"
## The Issue
Per Jeremy, we should show the published icon on tiles for own published content.  Should we also show the download icon if the file is stored locally, or is it meant to be a replacement? Probably the latter...

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-01-30 04:52] #2240 closed

[2019-01-30 07:22] seanyesmunt commented on #2245
Agreed on using this as a replacement for the download icon

[2019-01-30 07:50] seanyesmunt commented on #2245
Fixed in #2249

[2019-01-30 07:50] #2245 closed

[2019-01-30 17:58] tzarebczan commented on #885
Win/Mac support will be added with https://github.com/lbryio/lbry-desktop/pull/2250. Will keep this issue open to track Linux support (to be added with Electron upgrade or https://github.com/jostrander/mouse-forward-back

[2019-01-30 19:33] seanyesmunt opened #2251 "Check if games sandbox exists before starting server"
## The Issue
With the new sandbox server, it's not possible to run two apps at once. You get an error saying the sandbox port is already in use.

### Steps to Reproduce

1. Run the app in dev mode
2. Run the latest rc
3. See the error

### Suggested Solutions

Check if the port is in use before starting the server.

[2019-02-01 06:32] tzarebczan commented on #2243
Whoops, totally missed this! Yep, problem seems fixed!!

[2019-02-01 20:53] skhameneh commented on #2251
🤔 seems reasonable, I'd imagine this is rarely needed (except maybe in your case of testing/dev multiple instances)

[2019-02-01 20:56] seanyesmunt commented on #2251
Yep. It's nice to have the app and the dev build open at the same time for testing.

[2019-02-01 20:57] seanyesmunt commented on #2251
Or maybe only start the sandbox server with a flag passed in in dev mode? Then it would default to off and the production app would still work

[2019-02-01 23:07] tzarebczan commented on #626
transaction list and claim list mine both have pagination options - we should implement these on the app side. Currently we are running into performance and lockup issues with larger wallets (i.e. youtubers with lots of videos).

[2019-02-03 01:46] kicken opened #2258 "Windows daemon process detection"
## The Issue
Detecting an existing daemon process on windows appears to be fragile and fails to work under some circumstances.

### Steps to Reproduce
1. Create a shortcut to the daemon app with settings:
   a. **Target:** "C:\Program Files\LBRY\resources\static\daemon\lbrynet.exe" start
   b. **Start In:** "C:\Program Files\LBRY\resources\static\daemon"
2. Launch daemon process using shortcut
3.

[2019-02-03 01:51] seanyesmunt commented on #2258
Wow thank your for the very detailed issue!

We definitely didn't test these different ways to open the app but shouldn't this is very helpful. Shouldn't be to hard to fix. Thanks again. 🙂

[2019-02-03 01:53] tzarebczan commented on #2258
Thanks for the report. There's a known process parsing issue that prevents us from detecting it in a better way on Windows (most won't run into this problem).  If you start lbrynet as just ```lbrynet start```, without the exe, it should work. There is a guide here, we can make a note... https://lbry.io/faq/how-to-run-lbry

Not sure how to do this via a shortcut, will give it a shot.

[2019-02-03 01:55] tzarebczan commented on #2258
Can we [show you some appreciation](https://LBRY.io/faq/appreciation) for opening the issue? Thanks again!!

[2019-02-03 05:56] skhameneh commented on #2244
Might be related to Node v8 not supporting `{ recursive: true }` in `fs.mkdirSync()`, see:
https://nodejs.org/docs/latest-v8.x/api/fs.html#fs_fs_mkdirsync_path_mode

I'll make a patch to support earlier versions of Node.

[2019-02-04 03:57] seanyesmunt commented on #2242
Fixed in https://github.com/lbryio/lbry-desktop/pull/2254

[2019-02-04 03:58] seanyesmunt commented on #2194
Fixed in #2257

[2019-02-04 03:58] #2194 closed

[2019-02-04 15:17] kauffj commented on #626
I support pagination from a UX perspective (super-long lists are hard to use), but the fact that performance is a driver here is somewhat concerning. Given that everything is coming from a local database and the overall data is a reasonable size, what is the performance bottleneck?

I'm not looking for immediate action here, but @tzarebczan @lbryio/protocools please keep an eye on these issues and

[2019-02-04 15:37] seanyesmunt commented on #626
This is not related to the daemon, but rather trying to render 1000s of items on the screen at the same time (even if they are off the screen). React does try to batch some of the updates, but if you have a large amount of files, the page is going to update a lot. I just went to my downloads page and with 347 downloads the page re-rendered 339 times as it was getting data.

It's probably worth loo

[2019-02-04 15:53] kauffj commented on #626
Got it, thank you. Still somewhat concerning though not necessary to address immediately. I will say that anytime we have performance rather than UX as a design driver, we should take it as a cue to step back and do some research/learning to see if we're doing something that is more fundamentally mistaken.

[2019-02-04 19:10] tzarebczan opened #2261 "Capture system architecture (64/32 bit) along with install data"
## The Issue
Right now, we don't capture 64/32 bit architecture data with install data. Internal APIs will need to support this new field.  Capture this data from https://github.com/lbryio/lbry/issues/1856 and pass with the install/new call.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-02-04 20:03] #2172 closed

[2019-02-04 20:34] kauffj opened #2262 "Use broken-heart icon for unsubscribing"
We use the heart icon for subscribe, but unsubscribe has no icon. Font awesome has a broken heart icon, let's use that.

[2019-02-04 22:35] tiger5226 opened #2264 "Search Feedback"
Implement thumbs up thumbs down on the search result page. We need this to get feedback on whether or not our search results are good for our users. It should call the API to let us know if the results were good.

https://github.com/lbryio/internal-apis/issues/773

[2019-02-05 04:31] tiger5226 opened #2265 "Sourcing Publish and Search"
As part of the drive to identify users that use the app we would like to record hits for Publishing and
 Searching. No data is to be collected other than the event itself.

The app should call `/event/search` when a user searches(excluding autocomplete).
The app should call `/event/publish` when a user publishes content.

Standard authentication is required from the app to these APIs. No handling

[2019-02-05 07:35] #2244 closed

[2019-02-05 12:43] seanyesmunt commented on #2265
Added in #2266

[2019-02-05 12:43] #2265 closed

[2019-02-05 18:23] LavRadis opened #2267 "Full screen (f11) does not work for games (PDFs and images also)"
## The Issue

When playing Unity games the app will not get in the full-screen mode (F11).

@tzarebczan mentioned that it also doesn't work for PDFs and images.

Could be related to: https://github.com/lbryio/lbry-desktop/issues/1815

### Steps to Reproduce

Load a game from lbry://OpenSourceGames and try to get into full screen.

## System Configuration

- LBRY Daemon version: 0.30.4
- LBRY App v

[2019-02-05 20:54] seanyesmunt opened #2270 "Inverse buttons hard to read when hovering in dark mode"
## The Issue
On dark mode, inverse buttons are hard to read when hovering. They are missing some css.
`.btn--inverse` should use the color `$lbry-white` when hovering (in dark mode).

### Steps to Reproduce

- Hover over the refresh button on the transactions list
- Look

<img width="500" alt="screen shot 2019-02-05 at 3 51 24 pm" src="https://user-images.githubusercontent.com/16882830/52303511-30

[2019-02-05 21:16] derek-yesmunt commented on #2270
Hey Sean, I'll take this one.

[2019-02-06 19:16] kuesa commented on #2262
I can take this one!

[2019-02-06 19:22] seanyesmunt commented on #2262
@kauffj I'm not sure we want to use font awesome just for one icon.

@kuesa Maybe they offer svg's for their icons? But still I think it will look weird with two different icon styles next to each other. Maybe we could tweak this svg to make it a broken heart?
https://github.com/feathericons/react-feather/blob/master/src/icons/heart.js#L7-L20

Then we could add it to our list of custom icons:
http

[2019-02-06 19:27] kuesa commented on #2262
FontAwesome offers SVGs. I'm adding it to the custom icons, and testing to see if it looks good. Will update with a screenshot so you can see how it looks.

[2019-02-06 19:27] seanyesmunt commented on #2262
Great. Thanks @kuesa !

[2019-02-06 19:28] kuesa commented on #2262
https://origin.fontawesome.com/icons/heart-broken?style=light

This icon is pretty close, but is a "pro" icon, so it costs money.

[2019-02-06 19:34] seanyesmunt commented on #2262
Hm, I don't think we should do that. I see there is a free one, but it is solid, which is different from all of our icons.

Maybe we should just open an issue in https://github.com/feathericons? And possibly try to build our own based on the current heart icon we use.

[2019-02-07 05:02] #2270 closed

[2019-02-07 06:20] kuesa commented on #2262
Used the feather heart to make a couple of broken hearts. I personally prefer the second one, but let me know which one would make the most sense for the rest of the app aesthetic. I might rework the second one so that the lines are more parallel too.

![alt text](https://i.imgur.com/ETTbwVm.png)
![alt text](https://i.imgur.com/yaNBW0C.png)

[2019-02-07 06:26] kuesa commented on #2262
Here is how it looks in-app:

![unsubscribe](https://user-images.githubusercontent.com/32714062/52394123-1474c480-2a5e-11e9-8656-fdafcbc4f5f1.PNG)

[2019-02-07 06:26] seanyesmunt commented on #2262
Woah those are pretty cool! Could you share the svgs?

I think it will be easier to tell which looks better when they are on the screen next to the other icons.

[2019-02-07 06:26] seanyesmunt commented on #2262
Ah you beat me too it!

[2019-02-07 06:29] seanyesmunt commented on #2262
How does the other one look in the app?

[2019-02-07 06:32] kuesa commented on #2262
Here is the first one in app:

![unsub2](https://user-images.githubusercontent.com/32714062/52394401-04a9b000-2a5f-11e9-8260-35f43ed5a58a.PNG)

[2019-02-07 06:34] seanyesmunt commented on #2262
I definitely like the second one more (out of the first images you sent).

I wonder how it would look with less parallel lines though. If the two lines going left and right were more horizontal? I hope that makes sense 😄

[2019-02-07 06:37] kuesa commented on #2262
![bheart4](https://user-images.githubusercontent.com/32714062/52394642-ca8cde00-2a5f-11e9-85d4-0925cc25f5d6.png)

Something like this?

[2019-02-07 06:41] seanyesmunt commented on #2262
Sorry, the other icon. With just one line going down.

[2019-02-07 06:45] kuesa commented on #2262
Ah, how does this look?

![bheart5](https://user-images.githubusercontent.com/32714062/52394890-de850f80-2a60-11e9-9f6f-9db93c20fe1c.png)

[2019-02-07 06:49] seanyesmunt commented on #2262
Maybe a little bit shorter on the middle line. Could you open a PR with this change? This will be a great addition 🙂

[2019-02-07 06:58] kuesa commented on #2262
Done!

[2019-02-07 07:01] seanyesmunt commented on #2262
Whoohoo! I'll take a better look in the morning. 🙂

[2019-02-07 15:57] kauffj commented on #2262
@seanyesmunt my bad, I forgot we had moved away from fontawesome. Good stuff @kuesa!

[2019-02-07 16:13] seanyesmunt commented on #2262
No problem. @kuesa crushed it! Just merged in #2272

[2019-02-07 16:13] #2262 closed

[2019-02-07 18:51] tzarebczan opened #2273 "upgrade electron to latest version"
## The Issue
https://github.com/electron/electron/releases

There was some discussion about waiting for 5 to get out of beta, or go with 5. Looks like a new update for 5 was just released 4 days ago.

### Suggested Solutions

Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anythin

[2019-02-08 06:58] skhameneh opened #2274 "Add additional filters to Sandbox URL loading"
While CORS is disabled, the Sandbox can still make network requests.
There is likely some additional filtering we want to do.

[2019-02-08 20:13] skhameneh opened #2275 "Clean up/refactor/streamline build process (relates to lbry-web)"
Nice work @seanyesmunt, connecting an issue to WIP

[2019-02-08 20:16] skhameneh commented on #885
@tzarebczan @seanyesmunt can this be closed (#2250 is complete)?
Do we need another ticket open for Linux?

[2019-02-08 20:23] seanyesmunt commented on #885
I figured we could just keep this open. Linux will work after an electron
upgrade, which is happening very soon.

On Fri, Feb 8, 2019 at 4:16 PM Shawn K <notifications@github.com> wrote:

--
Sean Yesmunt
Application Engineer for LBRY

[2019-02-10 05:10] seanyesmunt commented on #2273
Upgrading to 4 in https://github.com/lbryio/lbry-desktop/pull/2276/files

4 was only recently working after some of our dependencies made some updates to work properly with it. Haven't tested 5 though so that might work. I don't want to add it until it's out of beta though.

[2019-02-11 19:21] tzarebczan commented on #2231
These have been made on https://github.com/lbryio/lbry-desktop/commits/031-sdk-fixes. Needs a couple more fixes around unavailable files.

[2019-02-12 14:58] tzarebczan opened #2278 "Modify sdk download script to use build.lbry.io"
## The Issue
To make app building more flexible with unreleased SDK version, we should allow the sdk download script to use the build.lbry.io folder based on a commit. This should still support the current way when a  commit is not used (whether it downloads from build or github is debatable).

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating

[2019-02-12 16:12] seanyesmunt commented on #2223
Will be fixed with https://github.com/lbryio/lbry-desktop/pull/2279

Moving to the shared components styling so it will use the same styles .tech uses.

[2019-02-12 17:26] #2231 closed

[2019-02-12 18:56] seanyesmunt commented on #2152
Will be fixed in https://github.com/lbryio/lbry-desktop/pull/2279

[2019-02-16 14:31] tzarebczan opened #2281 "lazy load doesn't resolve new content without scrolling"
## The Issue
We have an automated homepage refresh feature that gets new content if you just leave the app running. The problem is that these will show us as an unresolved tile because lazyload doesn't take it into account (because no scrolling happened)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshot

[2019-02-16 18:02] julianschacher commented on #2152
@seanyesmunt Awesome, thank you for your work!
@tzarebczan Thanks for the offer, but I don't think I deserve LBC for opening issue, which isn't a critical bug or something very special.

[2019-02-16 18:04] #2152 closed

[2019-02-16 18:05] seanyesmunt commented on #2152
@julianschacher Everything helps! It was helpful to have this issue created. It allowed us to track and prioritize it. Not sure when we would have fixed this if didn't create the issue!

[2019-02-16 18:10] julianschacher commented on #2152
@seanyesmunt I agree, creating issues is super useful.
But for me (as a developer?) it's something natural to do, just because I want the project/product I use to improve. And if everyone lives with this mindset, you get payed by others reporting issues in projects you work on yourself.
I appreciate the gesture tho and I think it motivates people in general to report issues they find.

[2019-02-16 18:12] seanyesmunt commented on #2152
I understand where you are coming from. Hope to see you around 🙂

[2019-02-17 21:21] tzarebczan commented on #1025
Fixed in https://github.com/lbryio/lbry-desktop/issues/2194

[2019-02-17 21:21] #1025 closed

[2019-02-17 21:28] tzarebczan commented on #1662
This will be fixed in the next release. Should work as long as the file isn't deleted when you are on the page (very unlikely), without refreshing.

[2019-02-17 21:28] #1662 closed

[2019-02-18 17:27] tzarebczan commented on #2153
Fixed in https://github.com/lbryio/lbry-desktop/pull/2283

[2019-02-18 17:27] #2153 closed

[2019-02-18 17:30] tzarebczan commented on #2258
Fixed in https://github.com/lbryio/lbry-desktop/pull/2283

[2019-02-18 17:30] #2258 closed

[2019-02-18 18:27] seanyesmunt commented on #2111
Closed with #2282

[2019-02-18 18:27] #2111 closed

[2019-02-18 18:28] seanyesmunt commented on #1764
closed with #2282

[2019-02-18 18:28] #1764 closed

[2019-02-18 18:32] tzarebczan opened #2284 "Add referral/affiliate code feature"
## The Issue
Round off our invites revamp with a referral code feature, see https://github.com/lbryio/internal-apis/pull/796 for details. On the Invites screen, we should display a button that will allow a user to generate a referral code if the list returned from apis is blank. If there is an item in the list, display that code. Allow the user to easily copy it.

## System Configuration

- LBRY D

[2019-02-18 20:22] alyssaoc commented on #894
closing for micro tutorials

[2019-02-18 20:22] #894 closed

[2019-02-18 23:56] tzarebczan opened #2285 "UI bugs with components"
## The Issue
- [x] reward code
![image](https://user-images.githubusercontent.com/8120721/53137628-6e42b780-3551-11e9-939d-596c2e40a133.png)

- [x] border issue
![image](https://user-images.githubusercontent.com/8120721/53136944-e65bae00-354e-11e9-99a5-7856a597543a.png)

- [x] invites screen button (that should also be 60 LBC, checking with Beamer)
![image](https://user-images.githubusercontent.co

[2019-02-20 19:18] #2284 closed

[2019-02-22 18:23] kauffj opened #2290 "Be consistent between upgrade and update"
Do users upgrade or update when they download a new version of LBRY Desktop?

The popups and buttons inconsistently switch between the two words. We should always use the same one.

I'm mildly in favor of upgrade, but both are fine.

[2019-02-25 17:09] jsigwart opened #2291 "Play videos at different speeds"
## The Issue

User request: "I would like to play videos at 1.25x, 1.5x, 1.75x, and 2x speed, like
that other site."

From personal experience, I use the speed up/slow down feature on educational videos especially, to breeze 2x through info I already know, or slow it down if I'm having trouble with the instructor's accent.

[2019-02-25 21:21] eggplantbren opened #2292 "Don't allow downloaded videos to be NEW in subscriptions"
## The Issue

Firstly, this is a relatively minor hiccup that occurs during upgrades and when I switch between stable and development versions. The app gets confused about which videos from subscriptions are unread, and usually marks many as unread even though I have seen them before and downloaded most of them.

### Steps to Reproduce

1. Use the stable release of LBRY and subscribe to stuff
2. S

[2019-02-25 22:45] tzarebczan commented on #2292
Hey Brendon, thanks for the issue. When you switch between Dev and prod modes, the local data directory is different which is why you see 2 different views of the content. There's not much you can do about this.

As far as the downloaded showing unread - we still want this to be unread until you actually go into the file. You still want to know what's new even though it auto downloaded.

[2019-02-25 22:45] #2292 closed

[2019-02-25 22:47] tzarebczan commented on #2291
The new video player (blocked by sdk streaming) will support this.

[2019-02-25 22:57] seanyesmunt commented on #2290
I think `upgrade` is fine. To fix, you should be able to just do a global search for `"update"` and then change that to `"upgrade"`, but only for text that is visible to users, variables or comments don't need to change.

[2019-02-25 23:32] tzarebczan opened #2294 "Handle max key fee warning/error better in app"
## The Issue
Right now a user has to click expand error details when a download fails due to a max key fee. We should show this particular error up front, and possibly consider showing the details for all errors in order to give users a better indication of why something is failing. In the long term, SDK errors codes can be used to customize the messages a user sees.

## System Configuration

- LB

[2019-02-25 23:33] derek-yesmunt commented on #2290
Hey Sean, I'll take this one.

[2019-03-01 16:00] Gratefulll commented on #2285
Well, this is art

[2019-03-01 16:29] tzarebczan commented on #2285
Sure is :)

[2019-03-01 16:29] #2285 closed

[2019-03-02 22:16] tiger5226 commented on #2264
This is complete with the latest release.

[2019-03-02 22:16] #2264 closed

[2019-03-04 14:49] seanyesmunt opened #2298 "Responsive lbry.tv"
lbryweb should be somewhat usable on mobile phones

[2019-03-04 16:11] alyssaoc commented on #2274
@skhameneh Please define this issue

[2019-03-04 18:44] seanyesmunt opened #2299 "UI server for lbry.tv"
`lbry-desktop` should serve the ui for lbry.tv.
Requiring the ui code to be hosted and downloaded by lbryweb shouldn't be necessary. It also makes a few perf improvements impossible.

Adding this makes a couple things simpler
- ci (just deploy to lbry.tv on commit to master)
- local dev
  - Don't need local lbryweb api (that should still be possible though)
  - Easier to run the desktop app and th

[2019-03-04 18:50] seanyesmunt opened #2300 "desktop app download CTA's on lbry.tv"
Some features will not be available on lbry.tv, this should point users to download the app.

- Publish
- Tips
- Download file
- some sort of global error handler that says something like "this is still experimental, the desktop app is more stable"
-wallet

This shouldn't be _to_ obtrusive, but should clearly show this feature isn't available (yet).

[2019-03-04 19:31] kauffj commented on #2298
My proposal for this is that we start by simply having a landing screen that encourages downloading of the mobile app but also allows a user to use to navigate past it to use the full desktop version.

[2019-03-04 19:33] kauffj opened #2301 "Continuous integration for lbry.tv"
lbry.tv should either use `master` or a designated branch, but pushes to this branch should automatically update lbry.tv.

[2019-03-04 19:34] seanyesmunt commented on #2301
Related: #2299 but I think it makes sense for this issue to stand on its own

[2019-03-04 19:45] kauffj opened #2302 "Unimplemented feature and download driver screen for lbry.tv"
There should be a single, clean, well-designed page that breaks out of the typical UI display when the user attempts to do something that is not currently supported on lbry.tv. This screen should encourage the user to download the desktop app for the full experience and to use the unsupported feature.

[2019-03-04 20:10] #2302 closed

[2019-03-06 04:36] ITwrx opened #2305 "3 out of 4 published videos won't play"
## The Issue
3 out of 4 published videos won't play. either they weren't really successfully uploaded or something is preventing playing them. they appear as if they are there and ready to play but they don't play and the timeline dealy doesn't ever move nor does the counter start. no errors in the journal (system log) and lbry reported that all the videos uploaded fine and were ready to be viewed

[2019-03-06 04:40] tzarebczan commented on #2305
Hey, thanks for reaching out. What format are the videos in? Our in app video player only supports h264 mp4s currently, but any file can also be opened externally. We have a few other tickets outstand for video player issues similar to this, and the solution is to upgrade our video player. We are waiting on an SDK enhancement to do so, but it should be coming in the next couple of months.

Please

[2019-03-06 04:40] tzarebczan commented on #2305
Closing in favor of https://github.com/lbryio/lbry-desktop/issues/1955

[2019-03-06 04:40] #2305 closed

[2019-03-06 04:50] ITwrx commented on #2305
it was mentioned in the "steps to reproduce" 1, but no big deal. they are webm files and one of them plays. maybe non-h264 just doesn't play reliably?

[2019-03-06 04:54] tzarebczan commented on #2305
Webm is just a container like mp4 is. Non h264 videos will not play back in the app until we upgrade the video player.

Shoot us an email with your LBC address so we can show you some appreciation for taking the time to test out LBRY and report issues :)

[2019-03-06 05:03] ITwrx commented on #2305
i was afraid you might say that. i never can be bothered to remember which is the containers, etc. I just checked and all four videos are vp8 with vorbis audio in webm container. all recorded with simple screen recorder.
thanks, i'll do that. :)

[2019-03-06 05:07] tzarebczan commented on #2305
Sounds good, and I'm also really looking forward to being able to support more formats and codecs.

[2019-03-06 05:16] ITwrx commented on #2180
I just went to my subscriptions page (i have two sub'd channels) and instead of my subscribed channels being shown, i am shown other channels i am not subscribed to. This made me furious with molten rage! :) It was as if the fat mouse was mocking me...

I can see how this feature might be useful one day, but IMHO in needs to be a little more discrete and a user shouldn't have to click to show thei

[2019-03-06 05:20] tzarebczan commented on #2180
This is only shown a single time or after clearing app cache. Otherwise, it will show you your synced content. We do show suggestions in the latest only section if all your current channels don't have any new content.

[2019-03-06 05:34] ITwrx commented on #2305
btw, i scanned the FAQ prior to uploading my videos and it says

this does not mean that mp4 is the best format for streaming...  The FAQ needs to be clearer about the facts, not just state opinions based on what might easier for people with crippled software. Webm is the best format for streaming, out of the two, if we are giving opinions. They are both supported by html5 video and webm is a Free

[2019-03-06 05:38] ITwrx commented on #2180
oh, ok. thanks

[2019-03-06 12:29] seanyesmunt commented on #2305
hey @ITwrx sorry about the issues. A new video player is one of our top priorities. I agree it's a huge pain not being able to stream some videos.

The upcoming lbry.tv, which is just the app code in the browser, will use this new player. Should be able to play them there.

[2019-03-07 00:25] jsigwart opened #2307 "If I close LBRY app window, there is no way to get new window without relaunching the app"
## The Issue
If I click to close the LBRY browser window, there is no way to get a new window except for quitting the app and relaunching it.
### Steps to Reproduce

1. close LBRY window
2. try every combination of key commands (command-N, etc) to spawn a new window
3. give up, quit the program, and relaunch LBRY desktop

### Expected Behavior

If I close a window, I should be able to open a new o

[2019-03-07 01:16] tzarebczan commented on #2307
Spoke with Julie about this, she will edit the issue. She was hoping a keyboard command would re-open the app. It does minimize to tray and comes back up if relaunching/opening from menu/task tray.

[2019-03-07 21:47] robvsmith opened #2309 "Tag-interest Interface"
User Story: As a user of the LBRY app, I should get a chance to select some topics I find interesting, so that my homepage can deliver new content that matches my interests and personality.

AC: Before a user arrives at the Explore page of the LBRY app, the user can select from the tags that are being created to create a custom row (or several) on their homepage.

The tags can be seen on this dash

[2019-03-08 16:25] dereksilva commented on #1952
I would really like to see this happen soon. I was hunting all over the app recently looking for view counts, subscriber counts, etc. We're not trying to monetize LBRY, but knowing that the effort is leading to some results in terms of visibility would be highly appreciated.

[2019-03-08 20:00] kauffj commented on #1952
@dereksilva I think we have everything in place to add this to the UI very soon, it will probably get assigned for work on Monday.

[2019-03-08 23:34] tzarebczan opened #2312 "Enable Enter button to work on all modals with inputs"
## The Issue
This was recently fixed on the Reward code modal, but should work on all modal where inputs are possible (i.e tip, send/receive, delete?).

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-08 23:35] seanyesmunt opened #2313 "feature: "Watch with friends""
It would be great if you could watch content with your friends at the same time. There are a few chrome extensions that offer this for Netflix, but it would be great if it was baked into the app.

The super duper rough idea is some sort of ui to connect to friends running the app, then start viewing a video at the same time.

Not really sure about anything else, just want to create this to see wha

[2019-03-08 23:41] seanyesmunt commented on #2312
This should be pretty straight forward. Currently we let the modal components handle the submit/cancel actions. We need to bring the buttons inside of the `form` element.

[code]

needs to change to

[code]

[2019-03-08 23:47] tzarebczan opened #2314 "Some MP3s don't stream well, allow download first?"
## The Issue
Some mp3s (test: lbry://mp3large), when initially played, will only show that only 1:27 is available when it's really 28 minutes long. Not sure if this is an issue with this specific MP3, but other larger ones like lbry://@FeralLogic#e46c575bb4b77ff3f26cd8e85aa2908d76e9972d/six also have a similar issue - it shows the correct length but you can't scrub past a few minutes.

If you refr

[2019-03-08 23:48] tzarebczan commented on #2312
Yep, I meant to link https://github.com/lbryio/lbry-desktop/pull/2279/files#diff-921813afc64507753cab7239e29ef55dR47 as the fix for the Reward code one for reference!

[2019-03-09 01:59] tzarebczan opened #2315 "Missing error modal when download triggered through button"
## The Issue
If you click the download button instead of clicking play and the download fails, the user is never notified why. Looks like we don't show the error modal.

The easiest test is: set max key fee to 0 LBC and try to download paid content.

Thanks to Discord community member kysh for the find!

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
-

[2019-03-09 02:07] tzarebczan opened #2316 "Lazy resolve doesn't recognize window size changes"
## The Issue
If you maximize your LBRY window or resize it so that more tiles are shown (which have not yet been resolved), lazy resolve will not pick them up.

This normally won't happen on a fresh install because we launch in a large window, so it's not a huge priority. They also start loading as soon as you scroll.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Inst

[2019-03-10 21:20] Blanxs opened #2317 "Titles longer than dont show the entire title"
## Titles longer than a certain length dont show the entire title, and there is no option available to view the entire title

### You can reproduce by making a publish with a certain length title

1.  2.  3.

### Expected Behavior

Tell us what should happen.
The title should continue below on another line
### Actual Behavior

Tell us what happens instead.
The title gets cut off
### Suggested Solu

[2019-03-10 21:39] eggplantbren opened #2318 "Search doesn't find content with exactly matching title"
Feel free to close this if I've done something silly or misunderstood something.

## The Issue

Sometimes, when I search for something I know the exact title of, the search results cannot find that item (or it appears really low in the ranking).

### Steps to Reproduce

1.  Search for _Psychology of Redemption in Christianity_ (this is just an example, there are others)
2. Observe that content wit

[2019-03-10 21:42] #2318 closed

[2019-03-10 21:42] tzarebczan commented on #2318
Issue moved to [lbryio/lighthouse #150](https://github.com/lbryio/lighthouse/issues/150) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-10 22:44] seanyesmunt commented on #2317
Thanks for the issue @Blanxs 🙂

This must only be for titles with no spaces in them, they wrap correctly with spaces. We just need to add: `word-break: break-word` to that css style.

[2019-03-10 22:45] #2301 closed

[2019-03-10 22:45] #2299 closed

[2019-03-10 22:49] Blanxs commented on #2317
Awesome! Thanks for the quick response 🙂

On Sun, Mar 10, 2019, 6:44 PM Sean Yesmunt <notifications@github.com> wrote:

[2019-03-11 03:16] seanyesmunt commented on #2309
Made a few minor changes. The only thing I don't really agree with is that this should be the last step in the first run process.

The goal with the last set of first-run changes was to allow users to actually use the app before we try to get their email. I think this should be separate from that, so we don't try to collect their email _before_ they see any content.

[2019-03-11 12:59] tzarebczan opened #2320 "White screen with autoplay+videos or very short videos (release)"
## The Issue
With the attempted metadata fix from the last release, we broke autoplay for videos that are already downloaded. Also, small videos with 1 blob like lbry://linux-sucks-in-space-april-27-2019#75137041ffa7df1b6f67cd5902fefc8675736ecd also break, and possibly other shorter ones.

We should look into releasing a patch this week.

## System Configuration

- LBRY Daemon version:
- LBRY App

[2019-03-11 18:28] tzarebczan commented on #1708
Closing, this is no longer an issue after increasing number of tiles on channels.

[2019-03-11 18:28] #1708 closed

[2019-03-11 21:27] Blanxs opened #2322 "Cover images are forced into 16:9 ratio by cropping the image"
## The Issue
Cover images are forced into 16:9 ratio by cropping the image sometimes making it unrecognizable
### Steps to Reproduce
Place a cover image that isnt 16:9
1.  2.  3.

### Expected Behavior

Tell us what should happen.
The app should display the entire image and fill in the unused space with certain colors
### Actual Behavior

Tell us what happens instead.
It crops the image forcing it

[2019-03-11 21:39] tzarebczan commented on #2322
Thanks for creating this issue! It would be nice to also get a better preview of the thumbnail on hover over (@kauffj recently suggested this).

[2019-03-12 15:06] kauffj opened #2323 "Better routing to manual verification"
When a user attempts to become rewards eligible in a country that is blocked for fraud reasons, the current UX is rather discouraging.

Instead, we should route these users to a clear path to become eligible when they are specifically blocked by country.

[2019-03-12 16:12] seanyesmunt commented on #1952
Thanks for the feedback @dereksilva. I'm going to try and get to this issue this week. If not I'll start on it next Monday by the latest.

[2019-03-12 16:59] tzarebczan opened #2324 "App slowness on Subscriptions page"
## The Issue
If a user has about 10 or more subscriptions, the performance starts to degrade on the sub pages.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-12 18:04] skhameneh opened #2325 "Add WebVTT support (subtitles)"
It seems WebVTT is ideal for subtitles support:
https://www.w3.org/TR/webvtt1/
https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API

[2019-03-12 18:53] tzarebczan opened #2328 "Ability to set releaseTime on publish"
## The Issue
Users will have access to a new release time (publish date/time stamp) attribute for publishing and viewing content.  Also, the NSFW/Mature field is changing to a tag.

On publish side:
Allow setting of releaseTime attribute
Defaulting of releaseTime if not set?
On Edit, default releaseTime to original publish date (allow override?)?

Viewing content:
What's the new default sorting me

[2019-03-12 22:11] kauffj commented on #2309
A few comments:

1) Once tags are in blockchain metadata, tags can be pulled directly from chainquery.
2) Adding tags should not be a forced step of first-run and possibly not even a strongly encouraged step. Instead, we should look to create a UX that defaults users into following some tags and encourages them to change or evolve them once they learn more or begin using it. Possibly worth cribbin

[2019-03-12 22:22] kauffj opened #2329 "Redesign Explore"
Once the new tag information is in the blockchain, we will want to rework the explore and trending areas entirely. This includes the following:

- Merging trending and explore into a single area. It's possible that these views both exist within the area, but they are no longer discrete areas.
- Pull trending data and tag-based view from chainquery rather than our own internal service. Trending wil

[2019-03-13 13:59] robvsmith commented on #2309
Fair points @seanyesmunt - feel free to work it in how you think best fits, as you do most of the work. I do think if we show them content they care about the first time, it'll be like selling someone using things they enjoy but it could be that it being last is wrong.

@kauffj - I'm down to allow them to skip it, but not strongly encouraging them makes it a meaningless exercise. People go to all

[2019-03-13 15:51] robvsmith opened #2332 "Fix Unsub Token In Mailjet"
Whoever set up the earliest Mailjet templates botch a token, which breaks unsubs.

The link needs to work.

[2019-03-13 15:52] #2332 closed

[2019-03-13 15:52] robvsmith commented on #2332
Issue moved to [lbryio/growth #209](https://github.com/lbryio/growth/issues/209) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-13 16:31] seanyesmunt commented on #2309
@robvsmith An argument could be made that we lose users if we force them to make a choice before seeing any content. Some won't want to give any info to us before they know what the app _is_. If you give them a taste of what it could be, they might want to choose their topics to personalize it.

I have an idea for a layout, I'll do a quick sketch and post it here.

[2019-03-13 16:37] seanyesmunt commented on #2309
https://spee.ch/4/9D87E701-EEEF-49E4-9E2F-F61E855BC590

[2019-03-13 16:50] #2275 closed

[2019-03-13 20:37] tzarebczan opened #2334 "Fix automatic dark mode"
## The Issue
Can't turn on unless light mode is chosen first. Thanks to @lyoshenka for pointing this out!

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-14 16:54] seanyesmunt commented on #1952
@dereksilva Started on it here https://github.com/lbryio/lbryinc/pull/30!

It will be included in the next release

[2019-03-15 14:51] seanyesmunt commented on #1952
Added in #2335

[2019-03-15 14:51] #1952 closed

[2019-03-15 14:59] tzarebczan opened #2338 "Determine what's causing large build sizes / other build issues"
## The Issue
All packaged installer are much larger than expected, especially for Windows.

Current build errors on keytar

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-16 22:23] tzarebczan commented on #1894
This feature is gone, closing.

[2019-03-16 22:23] #1894 closed

[2019-03-16 22:23] tzarebczan commented on #2187
It's been removed

[2019-03-16 22:23] #2187 closed

[2019-03-16 22:24] tzarebczan commented on #2273
On master...

[2019-03-16 22:24] #2273 closed

[2019-03-16 22:28] tzarebczan commented on #1774
This was fixed in https://github.com/lbryio/lbry-desktop/commit/6126eb1bf4248206aff119f2ec2f2a72d0f63ea7

[2019-03-16 22:28] #1774 closed

[2019-03-16 22:41] tzarebczan commented on #1957
Replaced by https://github.com/lbryio/lbry-desktop/issues/2309

[2019-03-16 22:41] #1957 closed

[2019-03-16 22:42] tzarebczan commented on #262
Replaced by https://github.com/lbryio/lbry-desktop/issues/2309

[2019-03-16 22:42] #262 closed

[2019-03-16 22:55] tzarebczan commented on #508
More and moe folks asking about this...perfect for lbry.tv too.

[2019-03-17 17:25] tzarebczan commented on #2338
This is fixed on master, thanks @skhameneh !!!

[2019-03-17 17:25] #2338 closed

[2019-03-17 22:05] tzarebczan opened #2345 "Outstanding 0.30 release issues"
## The Issue
- [x] updater fails when clicking "use it now" - looks like it's not finding the updater file? The directory changed where the updater downloads. It works fine from 0.29.4 to 0.30 on Windows. Works fine on quit. Mac worked fine on rc1-rc2/3. https://github.com/electron-userland/electron-builder/issues/3526#issuecomment-473727934
[code]

- [x] subscribe button showing on anonymous chan

[2019-03-18 15:32] tzarebczan commented on #1951
sub: https://api.lbry.io/subscription/sub_count?auth_token=xxxxxxxxxxxxxxxxxxxxx&claim_id=feb61536c007cdf4faeeaab4876cb397feaf6b51

view: https://api.lbry.io/file/view_count?auth_token=xxxxxxxxxxxxxxxxxxxxxx&claim_id=98da3414ade7ed939eb24d943b47a6e18ae5da27

[2019-03-18 15:32] tzarebczan opened #2348 "Add subscriber counts for publishers"
## The Issue
Add along with the view count - on file / channel pages?
https://api.lbry.io/subscription/sub_count?auth_token=xxxxxxxxxxxxxxxxxxxxx&claim_id=feb61536c007cdf4faeeaab4876cb397feaf6b51,36b7bd81c1f975878da8cfe2960ed819a1c85bb5 (supports comma-separated claim ids)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything

[2019-03-18 15:54] tzarebczan opened #2350 "URL bar + forward/back navigation support on lbry-web"
## The Issue
Should be able to navigate to LBRY urls via browser URL (i.e. lbry.tv/@jiggytom) and forward/back browser (and mouse) navigation is captured intrasite.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-18 16:03] tzarebczan opened #2351 "Investigate / fix streaming issues for non-web optimized content"
## The Issue

### Steps to Reproduce
Non-web optmized Mp4s (and possibly other file types) fail to play on lbry web. Example:lbry://ABoyAndHisDog#278f98e230f0c5965a1682fa007db1e920080c8e

```The media could not be loaded, either because the server or network failed or because the format is not supported.```

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID

[2019-03-18 17:36] skhameneh opened #2352 "Wallet halt & sync daemon config for lbry-desktop (cross-device sync)"
Recreating issue here

Add sync startup flow.

[2019-03-18 17:54] skhameneh commented on #2345
Working on 3D rendering

[2019-03-18 18:35] seanyesmunt commented on #2345
Working on fixing PDF's. Looks like it was broken in 0.3
https://github.com/electron/electron/issues/12337

[2019-03-18 19:15] tzarebczan opened #2353 "Open external links in new tab from lbry.tv"
## The Issue
External hyperlinks should open in a new window (i.e share links, other urls)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-18 19:25] skhameneh opened #2354 "Implemented browser paths to mirror claim URLs (lbry-web)"

[2019-03-18 19:34] #2354 closed

[2019-03-18 19:34] kauffj commented on #2353
To be clear, this is just external links, right?

[2019-03-18 19:36] tzarebczan commented on #2353
Yep, updated !

[2019-03-18 20:21] tzarebczan opened #2355 "Investigate UI locking / redux performance"
## The Issue
The app UI hangs while making background calls to during searching (when it resolves each claim), while navigating between subscription views, and generally in places where it needs to re-draw lots of information (part of this will be solved with pagination).

Consider:
https://github.com/lbryio/lbry-desktop/issues/1827
https://github.com/lbryio/lbry-desktop/issues/2324
https://github

[2019-03-18 20:38] tzarebczan commented on #2351
This is now fixed with Andrey's api changes...

[2019-03-18 20:38] #2351 closed

[2019-03-18 22:39] tzarebczan opened #2357 "Add more information about hosting content / reflector on publish"
## The Issue
Received feedback from @eggplantbren that users may not know they need to keep their LBRY app open after publishing to allow reflection to complete/seed the content. Since reflector is a temporary solution, I don't think we will be adding a reflection status to the SDK anytime soon (@eukreign  / @jackrobison correct me if I'm wrong). We may just want to add a warning to the publish co

[2019-03-19 03:54] seanyesmunt commented on #2205
This is added. We may want to suppress individual errors (like the max key fee error). But honestly that shouldn't be an error modal anyway

[2019-03-19 03:54] #2205 closed

[2019-03-19 04:48] seanyesmunt commented on #2345
Gave up on the PDF viewer and fixed a bunch of other issues.

[2019-03-19 18:31] toktoakhil opened #2361 "Make the volume control remember if muted"
If we mute a video sound  the player is not remembering it and it resumes to full volume when next video is played.

[2019-03-19 18:34] seanyesmunt commented on #2361
Thanks for the issue @toktoakhil !

I believe we used to have this feature, but removed it for some reason. It's a great idea to add it back.

[2019-03-19 20:01] eggplantbren opened #2362 "App freezes when I accidentally drag text from the search bar"
I've been getting app freezes sometimes (Ctrl+R doesn't help), and just figured out a way to reproduce it. See https://spee.ch/6/vokoscreen-2019-03-2008-58-27 for a video of how to reproduce this issue.

My system and LBRY version:

[code]

[2019-03-19 20:09] tzarebczan commented on #2362
Thanks for filing @eggplantbren ! @lyoshenka actually ran into this too, but I was unable to reproduce on any of the OSes (he was using Ubuntu). Per our Discord chat, try running from source and see if this still happens on master (upgraded chrome).

[2019-03-19 20:19] eggplantbren commented on #2362
Doesn't occur on master. Closing.

[2019-03-19 20:19] #2362 closed

[2019-03-19 20:49] seanyesmunt commented on #2345
Starting back up on the pdf viewer. I think it's just that and the 3d viewer

[2019-03-20 06:06] skhameneh commented on #2345
3D models should be working in full

[2019-03-20 17:11] #2143 closed

[2019-03-20 17:22] #788 closed

[2019-03-21 14:17] tzarebczan commented on #1078
This is now going to internal apis on master, closing

[2019-03-21 14:17] #1078 closed

[2019-03-21 15:02] Invariant-Change opened #2369 "Markdown not showing in search results."
## Mark Down is Showing in App Search Results.

### Steps to Reproduce

Search for content that uses Markdown in Title/Description.

### Expected Behavior

Clean formatted text.

### Actual Behavior

Markdown is shown.

## System Configuration

App | 0.29.4
Daemon (lbrynet) | 0.32.4
Windows 10

## Screenshots

![image](https://user-images.githubusercontent.com/29914179/54761608-22615c00-4c3e-11e9-

[2019-03-21 18:11] tzarebczan opened #2371 "Not showing bid amount during edit (caching?)"
## The Issue
When you editing a url that has a channel (may also happen without a channel), we don't show the outbid amount until you change the url and put it back. It works everytime after. If you clear cache, it happens again.
![image](https://user-images.githubusercontent.com/8120721/54774837-02e91580-4be3-11e9-9bd0-1ee06215535c.png)

after adding/removing a character:
![image](https://user-im

[2019-03-21 18:53] seanyesmunt opened #2372 "Not enough credits" error doesn't appear if an address is already entered into the field."
From a user report

[2019-03-21 20:25] tzarebczan commented on #2345
The mouse forward / back is an issue in electron https://github.com/electron/electron/issues/17134

[2019-03-21 20:25] #2345 closed

[2019-03-21 20:27] eggplantbren opened #2373 "Clicking in the app should deselect search bar"
## The Issue

After typing in the search bar, deleting my typing, and then clicking elsewhere in the app, the search bar remains active, but it shouldn't IMHO.

### Steps to Reproduce

1. Type in the search bar
2. Delete what you typed
3. Click on a blank part elsewhere in the application

### Expected Behavior

The search bar should be made inactive.

### Actual Behavior

It remains active.

[2019-03-21 20:29] tzarebczan commented on #2373
Thanks for opening the issue @eggplantbren , I was able to reproduce!

[2019-03-21 21:38] tzarebczan opened #2374 "Improve Windows taskbar / shortcut icons"
## The Issue
The shortcut icon is lower quality than the previous version. The task tray icon may be also, but harder to tell.

Confirmed, the taskbar icon is also lower quality.

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-23 06:30] skhameneh opened #2375 "Show locked & unlocked tips on claim pages (published content)"
I would like the app to show me my total received tips as well as (un)locked tips on my published content.  Could display as `${unlocked_tips} / ${total_tips} tips`

[2019-03-23 06:31] tzarebczan commented on #2375
Would go nicely with https://github.com/lbryio/lbry-desktop/issues/617

[2019-03-23 06:32] skhameneh opened #2376 "Show play counts"
I'd like to see total play counts as well as the current "views" (which are actually download count) on content I publish.

[2019-03-23 19:23] skhameneh opened #2377 "Should show published and updated dates when content has been edited"
The application should have more awareness and communication of when claims have been changed.
1. Users should be aware of when an update is available.
2. Give users control of how edits are handled for content they have already downloaded.

Downloading content implies a file may be stored statically.  Some users will want edits to auto-apply.  Other users may want explicit control w/ manual updat

[2019-03-23 19:26] tzarebczan commented on #2377
Discussed some scenarios here too https://github.com/lbryio/lbry-desktop/issues/2328... this requires the release date attribute and probably https://github.com/lbryio/lbry-desktop/issues/1203

[2019-03-23 19:49] tzarebczan opened #2378 "Fix show page with long links in description"
## The Issue
See lbry://@MinutePhysics#589276465a23c589801d874f484cc39f307d7ec7/extraterrestrial-cycloids-why-are-they

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-23 19:50] tzarebczan opened #2379 "Check bid against balance on Publish screen load"
## The Issue
Balance is not checked against the claim bid when the publish page is loaded...this means I can click submit even if I don't have enough LBC. The typical scenario is with a 0 LBC balance.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-23 21:17] skhameneh opened #2380 "Channel thumbnails"
I'd like the ability to add a thumbnail to my channels.

[2019-03-23 21:32] tzarebczan commented on #2375
And also https://github.com/lbryio/lbry-desktop/issues/580

[2019-03-23 21:32] tzarebczan commented on #2380
Duplicate of https://github.com/lbryio/lbry-desktop/issues/561

[2019-03-23 21:32] #2380 closed

[2019-03-23 21:35] tzarebczan commented on #2376
Discussed wth @skhameneh - the intention is to show total views as opposed to downloads. Right now we only count a content view when you download it.

My only concern is that showing multiple counts to users would be confusing, especially since we can't guarantee which are uniques or not (I can just delete the content, and it counts as a view again).

[2019-03-24 01:42] seanyesmunt commented on #2378
Fixed with https://github.com/lbryio/lbry-desktop/commit/9fadbc96242a68c1f0d09160f1a31f42acc921da

[2019-03-24 01:42] #2378 closed

[2019-03-25 04:16] skhameneh opened #2382 "Implement/fix games/sandbox for web"

[2019-03-25 04:17] skhameneh commented on #2251
@seanyesmunt fixed this

[2019-03-25 04:17] #2251 closed

[2019-03-25 15:15] seanyesmunt commented on #2099
Additional feature idea. Someway to autoplay content on a specific channel. If I have a channel I like, I can go to that channel and click something like "play all"

[2019-03-25 18:47] tzarebczan commented on #1088
From @kauffj: For other file types that we can process/view, we should automatically propose a thumbnail (e.g. when a PDF is uploaded, you could create an image from the first page).

Should we still upload one automatically if the user chooses not to?

Would go nicely with https://github.com/lbryio/lbry-desktop/issues/1968 and being able to crop/resize the thumbnail before it's uploaded (or maybe

[2019-03-26 04:43] skhameneh opened #2385 "Address size/performance issues w/ web & desktop"

[2019-03-26 04:44] tzarebczan commented on #2385
Related: https://github.com/lbryio/lbry-desktop/issues/2355

[2019-03-26 06:05] skhameneh opened #2386 "codeViewer.jsx (Code Viewer and Document Viewer) shows infinite load on some files"
Working on this w/ lazy-loading.

[2019-03-27 13:35] tzarebczan opened #2388 "0.36 SDK changes + support"
## The Issue
Lots of these will be in redux, but creating issue here for awareness.

- [ ] use stream update instead of publish when editing claims. Need to pass the claim id. Otherwise publish doesn't allow certain things like clearing channels/fees/locations/tags, etc.

- [ ] Set/handle/show release time https://github.com/lbryio/lbry-desktop/issues/2328

- [ ] publish process needs to support m

[2019-03-27 13:42] tzarebczan opened #2389 "Support unified sync api for all data (subs, tags, etc)"
## The Issue
App side changes to support https://github.com/lbryio/internal-apis/issues/836

Once defined in the app/redux, @akinwale can also use it on Android.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-27 14:19] tzarebczan opened #2390 "Single new lines in description not rendered"
## The Issue
See any claim on homepage, wasn't obvious at first since we do render \n\n\

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-03-27 14:20] tzarebczan opened #2391 "md file not rendered (stuck at processing) - document/code viewer failures"
## The Issue
See lbry://md or ones on Antimedia channel like lbry://remembering-us-torture-abu-ghraib#c2504455454bbe6c31682ba8e521815c6cdb1c8b

codeviewer: lbry://py#1499b64a686aa1f34dbbe8e1cc84292c4e81379d / lbry://js#80d592b964ec55e7a1e4db85bd449d67e47aed8c

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Scree

[2019-03-27 14:28] tzarebczan commented on #2386
Would this fix https://github.com/lbryio/lbry-desktop/issues/2391 ? I'll try it on your branch...

[2019-03-28 12:37] Invariant-Change opened #2392 "Full screen Button Stops Working After Double Click"
## The Issue

Full screen button stops working after double clicking it. You have to use the keyboard or double click again to get out of it.

### Steps to Reproduce

Double click a video to make full screen. Then try coming out of full screen using the full screen icon in the bottom right.

### Expected Behavior

The icon should make the screen size normal again.

### Actual Behavior.

Does nothi

[2019-03-28 14:27] tzarebczan commented on #2392
Thanks for filing and vv181 for finding this! Strange that it works fine if you full screen using the button, or exit full screen when double clicking!

[2019-03-28 17:27] skhameneh opened #2393 "Implement "Licenses" list on help screen"
We use OSS just as much as we give back to OSS, let's verify we are crediting all our applicable dependencies in releases.

We _could_ autogenerate a list of dependencies and licenses w/ each release as a clickable table.

e.g.
[code]

[2019-03-28 17:28] ykris45 opened #2394 "video list is upto 41, when i type 42 in the goto bar and press enter, nothing happens"
## The Issue
video list is upto 41, when i type 42 in the goto bar and press enter, nothing happens, at least we should get a respons help to file a @ceoger report

see this screenshoot to reproduce

## System Configuration

- LBRY Daemon version: 0.34.0
- LBRY App version: 0.31.1
- LBRY Installation ID:
- Operating system: WINDOWS 10

## Screenshots

![Screenshot_from_2019-03-28_22-34-31](https:/

[2019-03-29 07:32] Invariant-Change opened #2396 "Media Loading Icon Looks Pixelated"
## The Issue

The loading icon looks pixelated/grainy when spinning. Seems like the background spills out past it at various points in its rotation.

*This screenshot isn't the best. It's more apparent on other videos.

### Steps to Reproduce

Play streaming content that is waiting to load.

### Expected Behavior

Look more pleasing.

### Actual Behavior

Looks broken.

### Suggested Solutions

Re

[2019-03-29 16:59] tzarebczan commented on #2396
I suspect this will change when we implement the new video player. Thanks for creating the issue!

[2019-03-29 20:45] skhameneh opened #2397 ""Open LBRY" does not restore to the last size"
I finally found what's causing this nuisance, minimizing then using "Open LBRY" from the tray icon changes the window size.
Happens on Windows, have not checked other OS's for similar.

[2019-03-29 20:48] tzarebczan commented on #2397
Duplicate of https://github.com/lbryio/lbry-desktop/issues/1199 ?

[2019-03-29 20:51] #2397 closed

[2019-03-29 20:51] skhameneh commented on #2397
#1199 needs to be prioritized, a year is too long

[2019-03-29 20:52] seanyesmunt commented on #2396
Yep. This is also chromes video player, and we're a few version behind so maybe it's fixed upstream? I wonder if you see it when you drag the video into chrome

[2019-03-29 20:53] seanyesmunt commented on #2394
Thanks for the issue @ykris45

Not sure of the best fix. Maybe we can just add a simple error label over the input like we do on the send credits page when you try to send more than you have.

[2019-03-30 17:02] tzarebczan commented on #486
We now have the --preview command which will show the fees / metadata that set before the tx is created.

[2019-03-30 17:03] tzarebczan commented on #699
Closing for https://github.com/lbryio/lbry-desktop/issues/597

[2019-03-30 17:03] #699 closed

[2019-03-30 17:04] tzarebczan commented on #960
This is no longer an issue, we don't show invalid claims. And Claim abandon will now allow for a delete flag we can pass.

[2019-03-30 17:04] #960 closed

[2019-03-30 17:07] tzarebczan commented on #1265
Solved in the latest side bar redesign

[2019-03-30 17:07] #1265 closed

[2019-03-30 17:18] tzarebczan commented on #1602
This is expected.

[2019-03-30 17:18] #1602 closed

[2019-03-30 17:19] tzarebczan commented on #1642
Closing for https://github.com/lbryio/lbry-desktop/issues/1951

[2019-03-30 17:19] #1642 closed

[2019-03-30 17:22] tzarebczan commented on #1851
Not required anymore, we'll make sure the API can return this very quickly!

[2019-03-30 17:22] #1851 closed

[2019-03-30 17:28] tzarebczan commented on #2320
This was fixed

[2019-03-30 17:28] #2320 closed

[2019-03-31 16:00] tzarebczan opened #2398 "Some vanity URLs don't load after normalization"
## The Issue
This doesn't load: lbry://@CopChronicles , but this does: lbry://@copchronicles

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2019-04-01 03:16] skhameneh commented on #2385
https://github.com/lbryio/lbry-desktop/pull/2387 is merged

[2019-04-01 03:17] skhameneh commented on #2385
Will continue working on this, I'd like to see the main bundle brought down to ~1MB.

[2019-04-01 07:53] dan1d commented on #2334
The checkbox option is available only when the current dark them is not selected, there is no point to set the automatic dark mode if the dark mode is already selected ?
What do you suggest ?
@tzarebczan @lyoshenka