[2017-07-27 19:38] lyoshenka opened #397 "Fix linting errors"
![errors](http://i.imgur.com/oBgK8MV.png)

[2017-07-27 19:38] lyoshenka commented on #397
ASAR fix should be a separate ticket. I know we turned it off for a reason, but I don't know what that reason is.

[2017-07-28 14:44] #385 closed

[2017-07-28 14:47] lyoshenka commented on #326
@6ea86b96 this is in "needs review"? is there a PR for this?

[2017-07-28 14:52] 6ea86b96 commented on #326
Forgot to link the PR #370 which has already been merged. @lyoshenka

[2017-07-28 16:37] joemarchese commented on #309
![access license](https://user-images.githubusercontent.com/11649609/28726949-3de68d56-7391-11e7-8054-0d94b76c6221.PNG)

I think the first option isn't displaying because there's an extra blank <option></option>. _See screenshot_

[2017-07-28 16:40] tzarebczan commented on #309
Blank is normal, that's not the problem.  I was trying to point out that it's difficult to see that there even is a drop down because it's not differentiated from the rest of the form (besides the arrow on the right)

[2017-07-28 19:54] samz-me opened #398 "Negative balance after withdraw"
## The Issue
Negative balance after withdraw
v0.14.0rc4

### Steps to reproduce
1. You have 9.9 LBRY
2. Try to withdraw 9
3. Got error
4. Try to withdraw 7
5. Balance in UI is equals "-3"

## System Configuration
![image](https://user-images.githubusercontent.com/2629338/28734041-a5bdf1ac-73e7-11e7-955e-f78e872a805b.png)

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operati

[2017-07-28 20:09] tzarebczan commented on #398
Does it update shortly after? Temporarily the balance may show incorrectly due to the UXTO model that LBRY follows (same as Bitcoin).  When you send 7 LBC, you actually need to send the entire balance of your previous tx, which, let's say is 9LBC.  It then sends you back the 2 LBC as "change".

Did you balance reflect accurately after a minute or two?

Also, the reason your original amount failed

[2017-07-28 20:16] samz-me commented on #398
Less then two. I understand that this is not critical issue.  I think you can change it to something like "pending" instead of negative value.

[2017-07-28 21:30] tzarebczan opened #400 "Issues viewing own content when uploaded from outside of download directory"
## The Issue
Both Open and "Open in Folder" fail to work properly for locally published content if it was uploaded from outside of the Downloads directory. Also, the content may not open or stream correctly, because it doesn't know where the file is. There is also the

### Steps to reproduce
1. Upload a file from your desktop
2. Go to your claim
3. Click Open or Open in Folder (using .... )
4. Fai

[2017-07-29 16:55] lyoshenka opened #401 "Wunderbar buttons need tooltips"
It's not obvious what the folder icon is, for example

[2017-07-29 16:57] lyoshenka opened #402 "Watching any video only works on the second try"
Windows 10, app version 0.14.1.

To reproduce:

- click on any video
- you get the "requesting stream" message
- then you get the play button again
- click play the second time
- you get "downloading stream" message
- then video plays

[2017-07-29 17:29] lyoshenka opened #403 "Failed to watch paid video"
Windows 10, app version 0.14.1.

To reproduce:

- click on Skate Yrself Clean
- click play
- get confirm popup
- click confirm
- nothing happens. play arrow is back on the video
- click play again
- get confirm again
- click confirm
- no more play arrow, no video playing

[2017-07-29 17:30] lyoshenka opened #404 "Don't show "download completed" notifications when watching video in fullscreen mode"
The notifications are distracting.

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without errors
- [ ] Unit tests are written and passing
- [ ] Tests on devices/browsers listed in the issue have passed
- [ ] QA performed & issues resolved
- [ ] Refactoring completed

[2017-07-29 18:17] kauffj commented on #250
In master now.

[2017-07-29 18:17] #250 closed

[2017-07-30 17:54] kauffj opened #409 "Video player is left aligned on some some video proportions"
Try: [lbry://themechanicalmonster](lbry://themechanicalmonster)

[2017-07-30 21:19] kauffj commented on #402
Fixed

[2017-07-30 21:19] #402 closed

[2017-07-30 21:21] kauffj commented on #403
Fixed.

If you try this again and you are now seeing an error related to max key fees, please let me know.

[2017-07-30 21:21] #403 closed

[2017-07-30 21:24] #401 closed

[2017-07-31 07:25] likewei92 opened #410 "Update README and/or build.sh to properly install yarn"
besides node and npm

[2017-07-31 11:20] filipnyquist commented on #410
I´ve look into this and see what´s the best way to include it.

[2017-07-31 11:37] filipnyquist commented on #410
@likewei92 We already have yarn as a dependency and its downloaded and installed in the prebuild script
https://github.com/lbryio/lbry-app/blob/master/build/prebuild.sh#L91

To check and install all needed dependencies use `FULL_BUILD=true ./build.sh`

[2017-07-31 12:59] lyoshenka commented on #211
@kauffj fixed?

[2017-07-31 13:11] tzarebczan commented on #211
Yep, just checked it out in 0.14.2

[2017-07-31 15:58] minhlee995 opened #412 "Did i have the code ?? But email not valid ???? why"
## The Issue

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-07-31 16:49] #412 closed

[2017-07-31 20:12] tzarebczan opened #414 "LBRY App does not prompt with Welcome message or for email input"
## The Issue
When clearing auth_token on an existing install and then starting LBRY, LBRY does not issue the welcome message nor does it prompt for email. Help screen shows email not connected. Rewards say "Verified account is required".  Only fix is to restart LBRY or Reload (ctrl - R or Developer > Reload).

This also did happen to Jason on a fresh install of 0.14, not sure if it's been fixed si

[2017-07-31 21:44] tzarebczan commented on #414
There were 2 users who reported this issue on a clean install today. Reload fixes it

[2017-07-31 22:41] kauffj opened #415 "Improve editing UX by adding sane flow to enter claim edit"
We have an edit behavior that works but is difficult to trigger (enter the name and a prompt appears). Instead, we should add an edit button to File Actions if you own the claim, or somewhere else that makes sense.

[2017-08-01 13:22] #326 closed

[2017-08-01 13:31] kauffj commented on #264
There's been some progress here, but it can still feel like nothing is happening after clicking download or stream. Part of the problem is that a `get` call can block for up to 30 seconds, and provides no details in the interim.

[2017-08-01 13:37] #211 closed

[2017-08-01 14:31] tzarebczan opened #416 "Channel pagination display issue"
## The Issue
Pagination in channels is not displaying properly at the bottom of the page.  Also, should we have this at the top of the page as well? Just a thought.

### Steps to reproduce
1. Go to lbry://@JordanBPeterson
2. Scroll to bottom of page
3. See pages, shown on two lines

### Expected behaviour
Shown nicely on a single line

### Actual behaviour
Shows on 2 lines
<img width="882" alt="pa

[2017-08-01 16:59] avashlin commented on #264
How about a distraction whilst waiting for the `get` call to resolve? Something along the lines of having a splash display with the featured content you are promoting for the week? Or if advertisements are in the future plans of lbry - it can act as a smoke screen for the background tasks (with the option of disabling it based on user preference)

[2017-08-01 17:29] kauffj opened #417 "Serve GIFV"
It should be possible to upload a properly encoded video and serve it via an `<img/>` tag.

When @reillysmith tried uploading the mp4 equivalent of https://spee.ch/iad-lbry/5e4c0afaed2ad4a5bd01d9a8479cd7fbce82f3e1.gif I was unable to get it to work.

[2017-08-01 20:21] tzarebczan opened #418 "Cannot stream lbry://bellflower or coherenace in app - console errors"
## The Issue
Whern trying to stream lbry://bellflower#f01cf8a0b58b194cd7947885c5dc1028a9296d1c (costs ~10LBC), it gets stuck at 0:00 and console throws errors. Issue with Video file or our streaming capability?
### Steps to reproduce
1. stream lbry://bellflower#f01cf8a0b58b194cd7947885c5dc1028a9296d1c
2. check console, see error below

### Expected behaviour
Should stream in app
### Actual behavio

[2017-08-01 20:26] tzarebczan opened #419 "Videos inappropriately aligned if 4:3 or vertical"
## The Issue
Take this video as an example: lbry://nightofthelivingdead#e59cb8ee903d9c38c2563e2200026aec1be638fd

The streaming screen could look a bit better in terms of aesthetics for videos with odd resolutions. It almost looks like it's cutting off. Maybe center or size the player accordingly? See screenshot below

### Steps to reproduce
1. Stream lbry://nightofthelivingdead#e59cb8ee903d9c38c2

[2017-08-01 21:08] kauffj commented on #419
Duplicate of #409

[2017-08-01 21:08] kauffj commented on #419
I suppose yours is better.

[2017-08-01 21:09] kauffj commented on #409
Duplicate of #419

[2017-08-01 21:09] #409 closed

[2017-08-01 22:17] oakey22 opened #420 "Unable to abandon claim"
## The Issue

### Steps to reproduce
1.Make a claim
2. Remove file from download folder
3. Abandon claim through App

### Expected behaviour
Should still give me the option to abandon the claim

### Actual behaviour
I do not get the ... to let me abandon the claim, i just get Download button.

## System Configuration

[code]

[2017-08-01 22:25] tzarebczan commented on #420
For step 2, download folder in the OS, or download folder in lbry? Did you mean Publishes area?

[2017-08-02 01:16] stragu opened #421 "Lbry app crashes at startup on Ubuntu 14.04-based system"
## The Issue

### Steps to reproduce
1. install v. 0.14.2-1590
2. launch the app

### Expected behaviour
App would stay up

### Actual behaviour
Splash appears, blockchain downloaded fine on first start, then the interface appears for a second and the app closes. On subsequent launches, same thing happens: interface opens, then disappears instantaneously.

When launched from the command line, outp

[2017-08-02 01:20] tzarebczan commented on #421
This is a known issue because lbry requires gnome keyring installed in order to generate an authentication token. Can you try installing it and re running? We will look towards a solution that doesn't require the keyring in the future: https://github.com/lbryio/lbry-app/issues/386

Please reach out to help@lbry.io or #help channel next time if you require technical support.

[2017-08-02 02:21] tzarebczan commented on #421
Check this thread, might adress the error. https://askubuntu.com/questions/777803/apt-relocation-error-version-glibcxx-3-4-21-not-defined-in-file-libstdc-so-6

Also, make sure the keyring is running: https://askubuntu.com/questions/898694/gnome-keyring-daemon-not-starting-up-properly

[2017-08-02 06:05] stragu commented on #421
The keyring is definitely running (checked in my system monitor).

However, I managed to fix it somehow.

If anyone is running into the same issue, I managed to downgrade `libstdc++6` from version `7.1.0-5ubuntu2~14.04` (provided by `ppa:ubuntu-toolchain-r/test`)  to version `5.4.0-6ubuntu1~16.04.4` (from the Xenial updates, downloaded from [packages.ubuntu.com](https://packages.ubuntu.com/xenial-

[2017-08-02 06:05] #421 closed

[2017-08-02 09:14] oakey22 commented on #420
Its when i delete the file from the Download folder in the OS.

[2017-08-02 10:31] filipnyquist opened #422 "gnome-keyring as a dependency on KDE systems"
Trying to run the app on KDE systems fails because of is requireing the gnome-keyring.

it shouldn't be necessary to have the need of using gnome-keyring on KDE systems with a functional KWallet.
I know that org.freedesktop.secrets is not provided by KWallet - yet, so either we can force gnome-keyring as a dependency on KDE systems or find a way to use KWallet through DBus.

Problem arises on KDE

[2017-08-02 12:14] tzarebczan commented on #422
Similar to https://github.com/lbryio/lbry-app/issues/386

[2017-08-02 12:20] nikooo777 opened #423 "LBRY fails to install on a custom ubuntu 14 installation"
## The Issue
Installing LBRY fails due to unresolved libraries (i think).

The ubuntu installation seems custom (by reading the kernel name) but I think it might underline an existing problem

### Steps to reproduce
1. match the configuration mentioned below
2. try installing lbry
3. incur in the error

### Expected behaviour
LBRY should install on any supported system

### Actual behaviour
LBRY f

[2017-08-02 17:19] buddyleex commented on #290
Still occuring in 0.14.2

[2017-08-02 17:22] tzarebczan commented on #290
@buddyleex - the work around is to create a dummy channel and publish, both for a low 0.0001 LBC amount. This is because the rewards system is unaware of channels or claims created before getting access to rewards.

If this is on a new install, let me know and I'll try to reproduce it but I was recently able to claim all the rewards.

[2017-08-02 17:34] buddyleex commented on #290
@tzarebczan yeah I'm still having issue. I did for 1 lbc...and I don't know how to revoke the claim on windows. I only see methods for osx or linux.

[2017-08-02 17:48] kauffj commented on #417
Whoops, thought I created this on spee.ch.

[2017-08-02 17:48] #417 closed

[2017-08-02 17:55] tzarebczan commented on #410
Also, someone tried on Fedora25 and if failed until libsecret-devel was installed.

[2017-08-02 18:06] likewei92 commented on #410
@tzarebczan thanks, I was trying on Solus and failed at a libsecret step. Will try again and let you know soon.

Btw isn't better to list the dependencies so it can be distribution agnostic rather than running a prebuild script that apt-get installs stuff you need?

[2017-08-02 18:18] tzarebczan commented on #290
Don't use the claim_id, just the claim# itself right after the claim_abandon

Come over to our slack channel and I can try to help out more. Slack.lbry.io and dm jiggytom

[2017-08-02 19:23] tzarebczan commented on #386
Similar issues are discussed here: https://github.com/lbryio/lbry-app/issues/422 and https://github.com/lbryio/lbry-app/issues/423

[2017-08-02 19:36] tzarebczan commented on #332
With more users coming onboard, we need a universal installation method on Linux that will work across Distributions. If Appimage is intended to be that, we should pursue this further.

[2017-08-02 19:42] tzarebczan opened #424 "Feature request: Delete/Abandon channels via channel page"
Add delete channel button to channel pages.

[2017-08-02 20:29] filipnyquist commented on #386
Some People cannot install the gnome-keyring as it Will put their current keyring out of place.

[2017-08-02 21:26] lyoshenka opened #425 "Switch to new daemon api endpoint"
After https://github.com/lbryio/lbry/pull/820 is merged, the daemon will expose the API at `localhost:5279` instead of `localhost:5279/lbryapi`

[2017-08-02 22:59] kauffj commented on #414
This one was tricky to debug. I pushed a fix for this that should at least show a pop-up when authentication failed. Has this issue only been happening to people who have installed at least once before?

[2017-08-02 23:23] tzarebczan commented on #414
From what I understood, it was happening on brand new installs. I'd say at least 10 people reported either in Slack or email. Each time, a reload fixed it.

[2017-08-03 15:17] tzarebczan opened #426 "Placeholder fee is confusing in Publish"
## The Issue
When publishing content for a Fee, you get a placeholder of 1.00USD or 1.00 LBRY but it isn't an actual value that's taken into account during the publish. Need to make this less confusing. The same is happening for bid amounts, but that is discussed here: https://github.com/lbryio/lbry-app/issues/373

Log shows:
`2017-08-03 08:08:39,329 WARNING  lbrynet.daemon.Daemon:1812: Stripping

[2017-08-03 15:30] tzarebczan opened #427 "Internal Error when trying to Publish without an insufficient balance"
## The Issue
When trying to create a channel for more LBC than exists in your wallet, you get an internal error as opposed to a better insufficient funds message.  We should also make a note of TX and Publish fees, because if someone has 10 LBC, they most likely won't be able to claim for 10.

Log shows:
[code]

### Steps to reproduce
1. Publish something for more LBC than you have in your wallet

[2017-08-03 15:34] kauffj opened #428 "Developer menu item showing on all installs"
It should only be shown if development mode is enabled (possibly developer mode is enabled for all installs).

[2017-08-03 15:52] tzarebczan opened #429 "Withdrawal through app forces you to leave 1LBC in wallet"
## The Issue
When trying to send LBC for the entire amount in your wallet, the app tells you 1LBC must be left in the wallet. We should have a button that allows for max to be sent, while taking into account the TX fee.

Workaround is to use the https://lbryio.github.io/lbry/cli/#send_amount_to_address cli call

### Steps to reproduce
1. Go to wallet, send an amount that's .5 less than your total

[2017-08-03 16:26] tzarebczan opened #430 "After abandoning identity, App must be reloaded to clear it out in Publish"
## The Issue
After abandoning an identity, it still shows in Publish. Disappears after clearing the app.

### Steps to reproduce
1. Create identity
2. Abandon identity
3. Check Publish

### Expected behaviour
App should be aware it was abandoned

### Actual behaviour
Still shows identity in the dropdown.

## System Configuration

- LBRY Daemon version: 0.14.2
- LBRY App version: 0.14.2
- LBRY Inst

[2017-08-03 18:26] tzarebczan opened #432 "Prompt/show user minimum LBC deposit amounts for Publish and Claims"
## The Issue
The minimum deposit about that is able to be abandoned right now seems to be anything higher than 0.000096. This is most likely because the tx fee for publish/unpublish is 0.000096.  I guess the minimum amount would depend on the outcome of this discussion: https://github.com/lbryio/lbry/issues/768

The channels, the publish fee is 0.000178 so that would be the minimum.

### Steps to

[2017-08-03 20:15] tzarebczan opened #433 "Uninstall LBRY.exe needs to be run as Administrator?"
## The Issue
When simply running Uninstall LBRY.exe from the C:\Program Files (x86)\LBRY directory, nothing get's uninstalled. Not sure if there is anything we can do about this since the file is in a protected Windows folder, but thought we should file it anyway.

Works fine when run as administrator.

### Steps to reproduce
1. Run Uninstall LBRY.exe from C:\Program Files (x86)\LBRY directory

##

[2017-08-04 01:21] kauffj commented on #414
Should be fixed in 0.14.3.

[2017-08-04 01:21] #414 closed

[2017-08-04 18:22] tzarebczan commented on #420
This doesn't seem to happen in Windows, but this does: https://github.com/lbryio/lbry-app/issues/400

[2017-08-04 21:30] btzr-io commented on #410
### Keytar

- Debian/Ubuntu: `sudo apt-get install libsecret-1-dev`
- Red Hat-based: `sudo yum install libsecret-devel`
- Arch Linux: `sudo pacman -S libsecret`

[2017-08-04 23:40] MSFTserver opened #435 "Download to Play Text below play button on video thumb nail"
## The Issue

below the play button on the app there should be text that says download to play to not confuse people as to why everything downloads when they just hit the play button, a lot of new people get confused seeing the play button, then below the video frame they see Download, i feel they get confused as to thinking they can directly stream it without downloading but im assuming from very

[2017-08-05 03:50] btzr-io opened #437 "Contributors guide"
## The Issue
I can't find any contributors guide / guidelines, would be useful for new contributors like me.

### Expected behavior
A detailed list of guidelines  for new contributors  such as:
- Work flow
- Code standard ( indent / style )
- Commit messages
...

[2017-08-05 03:58] MSFTserver commented on #437
Agreed, would be very helpful for everyone including the dev team

[2017-08-05 04:02] btzr-io commented on #437
Also it should be  easy to find / access,  Like a section in `Readme.md`:

[2017-08-05 04:20] MSFTserver commented on #437
don't forget contribute.lbry.io or lbry.io/contribute

[2017-08-05 08:44] mzannoni opened #438 "LBRY 14.3 does not auto-upgrade on Ubuntu 16.04"
## The Issue
After following the instruction to upgrade, nothing happened, the version is still 14.2 and it keeps asking me every time to upgrade.
I then downloaded the 14.3 package from GitHub, and I installed it with `apt-get`, not with the gnome software centre (it does not work with that).

### Steps to reproduce
1. Follow the link on the LBRY app first to dowload update, than to Upgrade
2. No

[2017-08-05 16:15] btzr-io commented on #432
I think a prompt / modal would be annoying :upside_down_face:

[2017-08-05 16:15] btzr-io commented on #432
![minimum](https://user-images.githubusercontent.com/14793624/28996935-0520583a-79c7-11e7-838b-1f4928a98839.gif)

[2017-08-05 19:10] btzr-io opened #440 "Duplicated function handleCreateChannelClick"
## The Issue
Unused function `handleCreateChannelClick(event)` inside [publishForm/view.jsx#L382](https://github.com/lbryio/lbry-app/blob/master/ui/js/component/publishForm/view.jsx#L382)

 Moved to [publishForm/internal/channelSection.jsx#L55](https://github.com/lbryio/lbry-app/blob/master/ui/js/component/publishForm/internal/channelSection.jsx#L55)

[2017-08-05 19:46] btzr-io commented on #432
![minimum](https://user-images.githubusercontent.com/14793624/28998280-37da3ecc-79e4-11e7-9cfa-6d4ed5212279.gif)

[2017-08-05 23:40] MSFTserver commented on #435
heres a fix that i use in my themes its all .css fixes
`.icon-play:before {
    content: "Download to ""\f04b";
    display: flex;
}
span.icon.icon-fixed-width.icon-play {
    left: -100px;
}`

[2017-08-06 02:26] btzr-io opened #441 "Inputs allow negative value"
## The Issue
The claim deposit input inside `publish` page allows a negative value.

### Steps to reproduce
1. Open publish page
2. Go to Content URL > deposit
3. Add a negative value.

### Expected behaviour
It should probably allow  `0` or `minimum` but not negative.

### Actual behaviour
A negative value it's assigned,

## System Configuration

Configuration | Version
-- | --
App | 0.14.3
Daemo

[2017-08-06 02:34] btzr-io commented on #441
https://github.com/lbryio/lbry-app/issues/398

[2017-08-06 02:59] MSFTserver commented on #435
RESULT:
![image](https://user-images.githubusercontent.com/18357967/29000166-986d0db2-7a18-11e7-9d4c-2defad5b3cab.png)

[2017-08-06 14:26] kauffj commented on #435
You are supposed to be able to stream the videos, not have to download them. Or rather, you're supposed to be able to start streaming without having downloaded the full file.

I do agree that some people find it confusing that they also download the file when they expect to stream it, and we should probably clarify this and add a setting to not do it.

But I'm disinclined to add this to the UI in

[2017-08-06 14:26] #435 closed

[2017-08-06 14:28] kauffj opened #442 "Improve streaming vs. downloading UX"
1. Many users get confused that streaming also downloads the file.
1. Some users would prefer to stream only and not download.

We need to both make this clearer and add options to allow people to automatically delete content after streaming.

[2017-08-06 14:29] kauffj commented on #435
Made this one so we keep track: https://github.com/lbryio/lbry-app/issues/442

[2017-08-06 14:31] kauffj commented on #437
Great idea @btzr-io! We'll do this. Would you or @MSFTserver be able to share any contributor guidelines from any other projects that you think are particularly well done?

[2017-08-06 14:56] btzr-io commented on #437
@kauffj Check butter project:
https://github.com/butterproject/butter-desktop/blob/master/CONTRIBUTING.md#contributing-to-butter

[2017-08-06 15:36] jsigwart opened #443 "UI enhancement: Add forward history navigation"
## The Issue

### Steps to reproduce
1. Open LBRY
2. Do a few searches or view a few videos, then push the back arrow
3. See if you can go the other way in your history (forward). I dare you. ;)

### Expected behaviour
Tell us what should happen
There should be a -> arrow on the interface next to the <- arrow so you can go back and forth in your browsing history.

### Actual behaviour
Tell us what

[2017-08-06 16:26] MSFTserver commented on #442
we could create a separate cache folder that gets enabled when the option is selected and runs a garbage collection on that cache folder

[2017-08-06 16:37] btzr-io opened #444 "Use css vars for theming"
## The Issue
To make a theme I need to compile  all scss into > `all.css` every time a change it's made.
Also I can't edit vars from `developer-tools` ( because its get compiled to css values ), so
this make a tedious process for testing / creating new themes.

### Steps to reproduce
1. Copy all `scss` styles.
2. Modify vars.
3. Build / compile `scss` > `all.css`

### Expected behaviour
Enable edi

[2017-08-06 16:38] btzr-io commented on #444
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

[2017-08-06 16:46] MSFTserver commented on #444
Example:
[code]

[2017-08-06 16:56] btzr-io commented on #444
We can override the current `scss` vars like this:
[code]

[2017-08-06 17:18] tzarebczan commented on #400
Issue moved to [lbryio/lbry #827](https://github.com/lbryio/lbry/issues/827) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-06 17:18] #400 closed

[2017-08-06 18:25] MSFTserver opened #445 "Check Address is valid before sending"
## The Issue
issue comes about when trying to send funds to a non legit account like "aaaaaaaa"
### Steps to reproduce
1.enter address aaaaaaaaaa
2.enter amount
3.send

### Expected behaviour
i would expect this to do an api call to see if this address is existence and has funds linked to it or if it does not have a public or private key don't send the funds, and have error pop up if it doesnt wor

[2017-08-06 18:31] tzarebczan commented on #445
We may be able to do some semantic checks on the address (length, etc) but checking if the address exists or if it has public / private keys is impossible.

[2017-08-06 18:34] MSFTserver commented on #445
even just an error saying it didnt send would be nice at this point even if it doesn exist and it doesnt send it says it sent and its in my queue

[2017-08-06 18:35] tzarebczan commented on #328
We definitely need some work on this as the current message is not informative.

For instance, a failed download shows the sdhash
Error message: Failed to download 8a455fb52ac158ec8bb80737dd9dc1e70c25dcd7b6966bc358cc466b78fdcc22c646616ba3decdba906d27f06730ac49 within timeout

Users are not familiar with the SDhash, so the URL should be shown

[2017-08-06 18:36] MSFTserver commented on #445
![image](https://user-images.githubusercontent.com/18357967/29005962-79f4be4c-7a9b-11e7-9da2-371530124975.png)

[2017-08-06 18:58] kauffj commented on #445
This issue exists in the daemon as well, and there are likely changes required for both. Here's the daemon ticket: https://github.com/lbryio/lbry/issues/828

[2017-08-06 19:00] kauffj commented on #445
On the app side of this, the proper solution is probably one of:
- Create a component, `FormFieldWalletAddress`, that verifies the value is a valid address on blur/submit
- Modify `FormField` to take a `regexp` parameter, that matches on blur/submit, and submit the proper regexp as defined in `lbryuri`.

[2017-08-06 20:54] tzarebczan opened #446 "Allow users to choose installation directory (data path too?)"
## The Issue
Not sure if this applies to Linux or Mac, but the windows installer does not allow the user to select an installation directory. If users are concerned about this, then they will also be concerned with the data directories we have as well.
This could pose some downstream issues in terms of support or reinstall.

### Steps to reproduce
1 . Install lbry
2. Installs to default program fi

[2017-08-06 22:27] #426 closed

[2017-08-07 12:50] tzarebczan commented on #441
Don't think #398 has anything to do with this one.

[2017-08-07 15:44] kauffj commented on #390
@tzarebczan can 1, 3, and 4 be made separate tickets?

Guessing 3 requires navigating to a URL that is currently resolving. I bet it will happen more reliably if you do it on URLs you have never accessed before, or after clearing your app cache.

[2017-08-07 15:44] kauffj commented on #390
I'm tempted to omit creating a ticket for 1 until it proves a priority issue, as I think there may be changes to the daemon that allow us to drop the whole crappy dummy publishing logic.

[2017-08-07 19:15] tzarebczan commented on #432
@btzr-io  - thanks for your efforts, but I think we will need to scratch this for now as the fee is dynamic based on the tx size and there's no way to currently get these values. I'll open a separate issue for that and then maybe this could be revisited.

@kauffj would it make sense to set a fixed fee for now, or should we circle back with @kaykurokawa regarding: https://github.com/lbryio/lbry/iss

[2017-08-07 19:17] tzarebczan commented on #418
Same happens for lbry://coherence#7cae78226d2b6f972c10c24e1ce9f40f71883bd0

[2017-08-07 20:03] tzarebczan opened #450 "Publishes page does not refresh after file confirms"
## The Issue
Original issue being separated out from: https://github.com/lbryio/lbry-app/issues/390

After publishing, Publishes Page does not refresh after the file is confirmed (stays in pending confirmation)

A user reported that the file is seen on the Downloads page until it confirms.

### Steps to reproduce
1. Publish something, wait patiently at the Publishes screen
2. After 5 minutes, clic

[2017-08-07 20:12] tzarebczan opened #451 "Issue resolving previously uncached URIs / Refreshing cached data"
## The Issue
Original issue being separated out from: https://github.com/lbryio/lbry-app/issues/390

After publishing a file and then viewing it via the entire URL (claimname#claimdid): There is an issue where removing the claim id from the url and clicking enter to load the vanity url where the app sometimes returns "there is nothing at this location". Doesn't happen all the time, and if you sear

[2017-08-07 20:16] tzarebczan commented on #390
Issues number 2/4 should now be covered under: https://github.com/lbryio/lbry/issues/827

Issue 1: https://github.com/lbryio/lbry-app/issues/450
Issue 3: https://github.com/lbryio/lbry-app/issues/451

[2017-08-07 20:16] #390 closed

[2017-08-07 21:37] MSFTserver opened #452 "URI Description Length (Add Max Character Count)"
## The Issue
when setting a long description inside the app it will say it has published and is pending but looking at the transaction history no trans has been made but the video pop up in published area saying still pending but the daemon has already rejected it for having to long of a description
### Steps to reproduce
1. Create a Long Description for a URI (for this i used a nice Wiki Article

[2017-08-08 00:34] MSFTserver commented on #444
![image](https://spee.ch/9/Custum-Create-Your-Own.png)
https://spee.ch/9/Custum-Create-Your-Own.png

[2017-08-08 02:03] btzr-io commented on #441
ok, I was just pointing out a similar issue, they are kind of related because both of them are: `ux` issue )

[2017-08-08 02:22] btzr-io commented on #432
ok, so should I close my `PR` ?

[2017-08-08 03:28] 98farhan94 opened #453 "UI Enhancement: Way to cycle through a user's claims"
## The Issue
Right now if I go to any channel, I can click on some content and if I want to watch the next one,  I have to go back and then click the next one. I think that's an additional step that can be eliminated.

Can we have something like: "<- Previous Claim By User" "Next Claim By User ->" buttons on the claim page that let you cycle through all of the given channel/user's claims?

### Ste

[2017-08-08 13:38] akinwale commented on #445
I think we can run a base58 address validation check at the very least. Perhaps, something like https://github.com/wzbg/base58check/blob/master/index.js#L30-L47 which would require the use of an external module.

[2017-08-08 13:50] kauffj commented on #418
I'm pretty clueless on this one. When testing on Linux, it also did not work, but the daemon responded "float argument required, not NoneType".

[2017-08-08 13:50] kauffj commented on #418
@jackrobison do these stream for you?

[2017-08-08 13:51] kauffj commented on #427
@tzarebczan any time the daemon throws an exception rather than cleanly returning a signature that indicates an error, it's a bug in the daemon.

[2017-08-08 13:53] kauffj commented on #450
Iceboxing this in the hopes the API gets fixed rather than addressing this in the app.

[2017-08-08 14:13] tzarebczan commented on #355
When we tested tipping, the tipped amount shows up in wallet but gets inserted as a support, which is not spendable.  This issue may need to be expanded so that it's clearer to the users what is happening (WHERE IS MY LBC??!?, WHY IS MY BALANCE INCORREC?T?!?): https://github.com/lbryio/lbry-app/issues/379

Also, claim_abandon support: https://github.com/lbryio/lbry/issues/795 will be needed to ful

[2017-08-08 16:46] hackrush01 commented on #355
After having a discussion on hangouts regarding the working of the `send_claim_tip` command, there were several other issues that prevented this from working properly. One of which is pointed in the last comment. As for the solution part, it would need a new kind of wallet and better claim management system to get it working properly. Right now the feature is not working in the way it was intended

[2017-08-08 16:56] tzarebczan commented on #355
@jackrobison may want to chime in here, but this was what we discussed on the call this morning.  If we want tipping ASAP, it just needs to be a simple LBC send tx as opposed to the new supports mechanism.

[2017-08-08 17:39] btzr-io opened #456 "Experimental features"
## The Issue
Allow users to test new features right away from the settings section (`UI`)
Without having to wait for the next / stable release.

### Expected behaviour
- Add a section in settings to allow users to active / disable `experimental` features.
- Show a warning that this my not work or can cause undesired behavior.
- Allow to report bugs...

[2017-08-09 02:50] btzr-io commented on #456
See it as a safe Sandbox for `users` ^^

[2017-08-09 04:56] btzr-io commented on #437
Any news / advances about this ?? ^^

[2017-08-09 18:18] tzarebczan opened #460 "Published URIs with Channel getting incorrect claim_id"
## The Issue
This issue originally stemmed from here: https://github.com/lbryio/lbryum/issues/143
After Publishing a file with an identity, the user is presented a link in their Publishes area.   This link has the incorrect channel id in this format:
lbry://@jiggytom#6e477eded9468613c9c5b45eb58662ea302bccea/index

The channel is actually lbry://@jiggytom#e48d2b50501159034f68d53321f67b8aa5b1d771 an

[2017-08-09 19:25] tzarebczan opened #461 "Content has a tiny LBC fee but shown as Free in app (requires payment)"
## The Issue
If the content fee is a small LBC value, like 0.01, it is shown as Free on the app even though it requires a payment.  Take this instance this published item:  lbry://pascalcoinwalletb21202#e5a47c49c9d8b7a58dfb719992248265adfa75a3 the fee was set to 0.01 LBC but if navigating with app, it is shown as free.  When you go to purchase it, you get a pop-up that says "This will purchase [co

[2017-08-09 19:32] tzarebczan opened #462 "Can Publish without accepting TOS"
## The Issue
Able to publish something without clicking the TOS checkbox at the bottom.

### Steps to reproduce
1. Go to Publish, fill out info, don't check TOS
2. Click Publish
3. Success!

### Expected behaviour
Prompt to check the TOS box

### Actual behaviour
Does not validate that TOS is not checked off

## System Configuration

- LBRY Daemon version: 0.14.2
- LBRY App version: 0.14.3
- LBRY

[2017-08-10 03:37] btzr-io commented on #461
The problem is that price is getting formated `toFixed` ^^

[2017-08-10 03:41] btzr-io commented on #461
Obviously: 0.01999  is not the same as 0.0

[2017-08-10 03:43] btzr-io commented on #461
I know this: `0.0018893955352` looks ugly but I think the `app` should be transparent about prices :stuck_out_tongue:

[2017-08-10 03:56] btzr-io commented on #461
Alternative ->  show a small button to display full price:
[code]

[2017-08-10 04:07] btzr-io commented on #461
![fix-price](https://user-images.githubusercontent.com/14793624/29154090-1a1504c6-7d4f-11e7-8047-b7c6460bbc72.gif)

[2017-08-10 04:25] btzr-io commented on #344
i can't recreate the issue :disappointed:,
can some one check if #465 can fix this?

[2017-08-10 04:54] btzr-io opened #466 "Can't see full price"
## The Issue
Real / full price don't gets show, also tiny price = `free`, see: #461
I think the app should be more transparent about prices ^^
### Expected behaviour
Allow users to see / toggle full price from settings ( or an accessible button near price )

[2017-08-10 17:55] tzarebczan commented on #438
I was able to confirm this.
Another way to upgrade is via the deb file/terminal:
dpkg -i /path/to/deb/file.deb

[2017-08-10 22:09] tzarebczan opened #467 "Source file error when editing existing claim"
## The Issue
When copying data from an existing claim, you should not need to select the source file again since the original blobs should be used in the updated claim. Thanks @reillysmith for finding this one.

### Steps to reproduce
1. Type existing claim name in Publish screen
2. Use "Use data from my existing claim" option to copy claim data
3. Publish and get error message about source
![copy

[2017-08-10 22:49] #419 closed

[2017-08-10 23:40] Synergyst opened #468 "Confirm Identity section does not work!"
I have installed a fresh copy of the LBRY client on Windows(the problem is likely to exist on any platform..) and attempted to add my card as a proof of identity.

Steps to reproduce error:
1. Type card number after reading 'To ensure you are a real person, we require a valid credit or debit card. There is no charge at all, now or in the future. Read More'
2. Add one of my bank debit cards to the

[2017-08-10 23:42] tzarebczan commented on #468
Are you behind proxy or VPN? Which country are you in?  Please send an email to help@lbry.io with the last 4 digits and the answers to the above questions.

[2017-08-10 23:42] #468 closed

[2017-08-10 23:53] #416 closed

[2017-08-11 02:43] kauffj commented on #467
I didn't test, but I doubt #464 fixes this. I actually think that error message is coming from the daemon, though I agree it's likely an app issue.

[2017-08-11 02:44] #462 closed

[2017-08-11 03:06] kauffj commented on #461
I added a "<" symbol for when we are below the smallest renderable value and reduced the default precision to 2. Right now 0.01 LBC is less than a penny, so I'm not particularly concerned with more precision.

[2017-08-11 20:39] #466 closed

[2017-08-12 14:24] Synergyst commented on #468
I have given 2 days for a reply email and have yet to receive one..
I attempted to re-verify my account following the steps given above with the same result..

Is there a reason why this is not working?

[2017-08-12 18:47] kauffj commented on #355
I caught up on this and discussed with Jack. I think we can still move forward with this. @hackrush01 let's sync on Slack.

[2017-08-12 19:16] tzarebczan commented on #420
@oakey22 if you run a lbrynet-cli claim_list_mine - does that claim return there? Also, is the claim under an identity? Instead of going through Publishes screen to the claim link, can you try going through your identity - which should give you the direct URI.

[2017-08-12 19:21] kauffj commented on #441
Fixed in Publish page, as well as in all LBC/USD hybrid inputs.

[2017-08-12 19:21] #441 closed

[2017-08-12 19:29] btzr-io commented on #441
are you sure?? ^^ what about? -> #471

[2017-08-12 19:38] kauffj commented on #441
Merged #471.

[2017-08-12 19:40] btzr-io commented on #441
Also I think would be better set  default prop `min` -> 0

[2017-08-12 19:58] kauffj commented on #441
If the`min` isn't a multiple of `step`, Chrome has some undesirable behavior when using the arrows (e.g. it will step 5 down to 4.91, with min=0.01 and step=0.1).

[2017-08-12 22:24] kauffj commented on #432
I'm closing this. There is no intention for there to be a minimum. It's not a matter of dynamic calculations.

I'm open to ways we can better communicate some portion of a transaction is unrecoverable.

[2017-08-12 22:24] #432 closed

[2017-08-12 22:25] #440 closed

[2017-08-12 22:25] kauffj commented on #440
Merged.

[2017-08-14 15:42] kauffj commented on #398
This is a daemon issue, and I believe will be fixed when https://github.com/lbryio/lbry/pull/747 is merged/finished.

[2017-08-14 15:42] #398 closed

[2017-08-14 15:44] kauffj commented on #423
Fairly certain this is #386

[2017-08-14 15:44] #423 closed

[2017-08-14 15:48] kauffj commented on #438
@tzarebczan can you try this again with the console open and see if the path to the deb is specified correctly?

The app calls `xdg-open` on this path to upgrade, so I suppose missing `xdg-open` could be the issue as well, but that should be on an Ubuntu install.

[2017-08-14 15:51] kauffj commented on #452
This issue was moved to lbryio/lbry#847

[2017-08-14 15:51] #452 closed

[2017-08-14 15:54] kauffj commented on #456
I think the RC system is sufficient for handling this for now.

[2017-08-14 15:54] #456 closed

[2017-08-14 19:49] oakey22 opened #473 "Blur Text on hover on Linux"
Hover over tile on app and the description becomes blurred

### Expected behaviour
Should stay high definition

### Actual behaviour
Blurred Text

## System Configuration
Running Ubuntu 16.04

https://spee.ch/b/blur-text-lbry.jpg

[2017-08-14 20:02] oakey22 commented on #420
I am unable to replicate this now for some reason. So i am closing it

[2017-08-14 20:02] #420 closed

[2017-08-14 20:20] tzarebczan commented on #473
think this is fixed by https://github.com/lbryio/lbry-app/pull/413 but it's not part of a new app build yet.

[2017-08-14 20:20] #473 closed

[2017-08-15 13:26] tzarebczan commented on #438
Actually, I think it is working correctly but the issue may lie in Ubuntu Software Center.  I've tried a couple VMs and I've had issues just installing the deb file through the software center.  While doing some research, I found this http://www.omgubuntu.co.uk/2016/04/ubuntu-16-04-deb-software-install-error and associated Bug reports - many users having the same issue installing 3rd party deb fil

[2017-08-15 13:26] #438 closed

[2017-08-15 15:04] lyoshenka commented on #359
keep in mind that the api will only return one featured_download reward by default. if you want to test your work, pass the `?multiple_rewards_per_type=1` flag to `reward/list`

[2017-08-15 17:43] tzarebczan opened #474 "LBRY installs with failures on clean Ubuntu 16.04 - missing dependencies"
## The Issue
When installing LBRY deb file using sudo dpkg -i LBRY.deb on a clean install of Ubuntu 16.04 with latest updates, get an error about libappindicator1 dependency.  It looks like LBRY installs and works without it, but may be a confusing error to users who are installing with dpkg. Also, you get a notification from Ubuntu about Package Manager - "This usually means that your installed p

[2017-08-15 18:42] tzarebczan opened #475 "Feature Request: Publish Upload Progress"
## The Issue
As a Publisher, when I upload files to LBRY, the current process is fairly uninformative after the Publish button is clicked. There is no indication that the file is being processed or when it's finished uploading (besides the URI being available).  This is a bigger issue with larger files as they take some time to upload.

Feel free to add/comment.

## System Configuration

- LBRY Da

[2017-08-15 18:44] kauffj commented on #475
This isn't an app issue. If you want, you can re-open on lbryio/lbry as "Make publish and get calls asynchronous"

[2017-08-15 18:44] #475 closed

[2017-08-15 20:45] tzarebczan commented on #214
Another aspect to possibly take into consideration is applying the same type of notification to the channel bidding process as it is also possible to take over vanity channel names.

[2017-08-15 21:57] tzarebczan commented on #474
Duplicate of https://github.com/lbryio/lbry-app/issues/261, closing.

[2017-08-15 21:57] #474 closed

[2017-08-15 22:01] tzarebczan commented on #427
Sorry, just saw this now - reopening on the lbry side.

[2017-08-15 22:01] tzarebczan commented on #427
Issue moved to [lbryio/lbry #855](https://github.com/lbryio/lbry/issues/855) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-15 22:01] #427 closed

[2017-08-15 22:09] tzarebczan commented on #333
@akinwale this was fixed right?

[2017-08-15 23:49] kauffj commented on #359
This is blocked by an internal API issue.

[2017-08-16 00:00] akinwale commented on #333
Yes, it was.

[2017-08-16 00:02] #333 closed

[2017-08-16 00:22] lyoshenka commented on #359
We just talked about this today, when I told you it's not blocked by anything. If something changed since then, please link to the blocking issue here so I can fix it.

[2017-08-16 15:01] tzarebczan opened #477 "First Publish / Channel Surfing Rewards incorrect error on unverified accounts"
## The Issue
When using an unverified account, the First Publish and Channel surfing Rewards return their own respective errors as opposed to saying "Only verified and approved accounts can claim rewards".  There should a consistent message across all Rewards for unverified accounts.

### Steps to reproduce
1. Try to claim First Publish or Channel surfing rewards on unapproved accounts
2. Get "Ple

[2017-08-16 21:27] kauffj commented on #477
Moved.

[2017-08-16 23:26] reillysmith opened #479 "channel content list is backward"
## The Issue
most recent claims show on last page, not front page
### Steps to reproduce
1. publish 20 pieces of content to a channel
2. observe pagination order
3.

### Expected behaviour
Newest videos should be on top of the channel

### Actual behaviour
Newest videos (in tx order) show up from end of channel pages

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Insta

[2017-08-16 23:29] reillysmith opened #480 "app entry page refresh bug"
## The Issue
Refreshing brings back to original page on app open--if i clicked a link into LBRY for lbry://@rerez online, move around the app, ctrl-R will bring back to the page upon app entry.
### Steps to reproduce
1. Close lbry
2. click an external link into LBRY
3. move around to other pages
4. Ctrl/cmd-R to refresh
5. observe return to the externally linked page as "default"

### Expected beh

[2017-08-17 15:44] kauffj opened #482 "Warn that .mov files cannot be streamed"
When a user uploads a .mov file, they expect it to be able to be streamed. However, due to the .mov not being playable by `render-media`, we cannot stream them. A warning should be displayed to users on publish that, at least for now, .mov is download only.

[2017-08-17 16:08] lyoshenka commented on #359
Unblocked

[2017-08-17 16:17] btzr-io commented on #482
https://ffmpeg.org/general.html#Video-Codecs
Any chances to integrate this? ^^

[2017-08-17 16:26] btzr-io commented on #482
https://www.npmjs.com/package/fluent-ffmpeg

[2017-08-17 16:54] lyoshenka commented on #477
Reopening, as this is an app issue, not an api issue.

[2017-08-17 17:09] tzarebczan commented on #410
I've submitted a PR to get the setup steps updated: https://github.com/lbryio/lbry-app/pull/483

[2017-08-17 18:59] MSFTserver opened #484 "Full Uninstall Option [no trace files]"
## The Issue
No Complete Uninstall Option
### Steps to reproduce
Option 1
1. Select the Uninstall.exe
2. Leaves Practically Every File if not Run As Admin
3. Manually go through and delete and then use windows uninstall option to get rid of hidden junk
4. still leaves trace files after all this

Option 2
1. go to windows uninstall in control panel
2. select uninstall lbry
3. leaves files in progra

[2017-08-17 19:22] tzarebczan opened #485 "Content page not refreshed after Download removed from LBRY"
## The Issue
Content still shown as "downloaded" after removal from LBRY - the Open button shown.  This does not happen every time, but I've seen it enough times to think there is an issue somewhere. If I reload the content page after removal, then it goes back to an unwatched/undownloaded state where the Download button is shown. Another work around is to remove it again. The other option is just

[2017-08-17 22:02] tzarebczan commented on #482
In addition to this, should we provide HTML5 streaming video guidelines? The whole metadata thing is tricky too for it to stream properly. I think that would remove some confusion.

[2017-08-17 22:19] tzarebczan commented on #344
@btzr-io I think there was also a larger formatting issue that was causing this, it should be fixed in 0.15 daemon

[2017-08-18 14:15] #437 closed

[2017-08-18 15:24] tzarebczan commented on #461
@btzr-io -
Found an issue when downloading lbry://eight on the latest master. I like how it shows <0.01 LBC as the price, but when streaming/downloading, there is no confirmation box to purchase the content even though 0.01 LBC is charged.

There is also this change going in soon: https://github.com/lbryio/lbry/pull/835 so not sure if that fixes/affects it.

[2017-08-18 20:16] tzarebczan opened #486 "Add Confirmation before publishing file or creating channel (show fee estimate)"
## The Issue
Currently, when a user clicks the Publish button to submit content there is no confirmation of their action but instead, it tells them that their publication is pending. Should we have some sort of confirmation box which would at least show the Content URL along with deposit amount? This came from a user suggestion and I thought it was worthy of at least bringing it up.

This is possi

[2017-08-19 04:57] btzr-io opened #487 "Pagination is missing"
## The Issue
Pagination is missing from channel page and search. ( I think everywhere ).

### Steps to reproduce
1. Build app from `master` branch.
2. Open app.
3. Go to `lbry://@ILikeToMakeStuff`
4. Scroll to bottom.

### Expected behaviour
Pagination component should be visible.

### Actual behaviour
There is no pagination.

## System Configuration

Configuration | Version
-- | --
App | 0.14.3
D

[2017-08-19 05:01] btzr-io commented on #487
I noticed this in -> https://github.com/lbryio/lbry-app/pull/436

[2017-08-19 11:45] akinwale commented on #323
@6ea86b96 @kauffj If this is still pending, I can get it done now that I have a better understanding of React/Redux.

[2017-08-19 13:54] kauffj commented on #323
Sure, though it's also not a big priority.

[2017-08-19 15:53] btzr-io commented on #487
@hackrush01 thanks for fixing my typo :+1:

[2017-08-20 15:22] btzr-io commented on #487
https://github.com/lbryio/lbry/pull/801#commitcomment-23706472

[2017-08-20 15:33] #487 closed

[2017-08-20 15:34] btzr-io commented on #487
Check -> https://github.com/lbryio/lbry/issues/691

[2017-08-21 05:27] tzarebczan commented on #468
Just following up, did someone reply to your email? If not, please send another as it may have gotten lost.

[2017-08-21 05:42] Synergyst commented on #468
I eventually received a reply after my last post.

This can be closed now as the issue was resolved.

[2017-08-21 14:43] #410 closed

[2017-08-21 14:49] tzarebczan commented on #379
This should be taken care of by https://github.com/lbryio/lbry/issues/845

[2017-08-21 15:22] kauffj commented on #359
This is finished in `invite_and_rewards` branch.

[2017-08-21 15:22] #359 closed

[2017-08-21 16:20] kauffj commented on #485
This issue was moved to lbryio/lbry#864

[2017-08-21 16:20] #485 closed

[2017-08-21 16:34] kauffj commented on #486
Yes. This would just be to generally improve the post publishing UX. Act like it is published as much as possible, but show some indicator estimating how long until others can see it.

[2017-08-22 04:31] btzr-io commented on #482
It should also trigger a  warning for all files that can't be streamed ^^
https://www.chromium.org/audio-video

[2017-08-22 16:49] btzr-io commented on #461
I can't recreate this issue, I get an error which prevent me to purchase anything lower than `0.01` ^^

[2017-08-23 01:33] LanceDwight opened #491 "Unfinished Video Picking Up Where Last Left Off"
## The Issue
When returning to rewatch an unfinished video in the "Downloads & Purchases" folder, the video starts at 00:00 instead of picking up where it last left off.  You can see this feature implemented on YouTube.

### Steps to reproduce
1. Open the "Downloads & Purchases" folder
2. Click on a video that was not watched to the end.
3.

### Expected behavior
The video should pick up where it

[2017-08-23 05:02] btzr-io commented on #59
Would be nice to use a `relative-time` as format for the date / time
https://github.com/rxaviers/relative-time

[2017-08-23 13:01] tzarebczan commented on #461
@kauffj When they go to purchase the content, you want it also to show <0.01 LBC or show the exact price of the content in the purchase confirmation screen?

[2017-08-23 15:07] reillysmith opened #492 "4:3 aspect ratio videos left justify in player"
## The Issue
4:3 videos move left justified instead of centered
### Steps to reproduce
1. load /nightofthelivingdead, or any superman cartoon or 4:3 aspect ratio video
2. observe lack of centering
3. (full screen does center)

### Expected behaviour
video aligns with player

### Actual behaviour
video left justifies

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Instal

[2017-08-23 15:12] tzarebczan commented on #492
This should be fixed in the next release:
https://github.com/lbryio/lbry-app/issues/419

[2017-08-23 15:12] #492 closed

[2017-08-23 16:18] kauffj commented on #461
Confirmation dialog should show the full price. It would also be a good idea to put the full price as a title attribute on the element when showing "<0.01" so the full price can be seen on mouseover.

[2017-08-23 18:01] tzarebczan commented on #255
fixed by https://github.com/lbryio/lbry-app/pull/399

[2017-08-23 18:01] #255 closed

[2017-08-24 04:10] btzr-io commented on #328
@tzarebczan  url is also weird, what about -> `metadata.title`

[2017-08-24 05:06] tzarebczan commented on #328
Yep, the title seems to make much more sense here, thanks for making that evident.

[2017-08-24 15:02] btzr-io commented on #491
Maybe this should be fixed first: https://github.com/lbryio/lbry-app/issues/389 ?

[2017-08-24 20:44] tzarebczan opened #493 "Published file stays in Publishes area after removing (without abandoning)"
## The Issue
If you remove a published file but don't check the "abandon" option, it will stay in your Publishes area but will seem like you haven't downloaded it.  I'm not sure how we would want to handle this - what would be the scenario where someone would want to remove it from their list without abandoning the claim? If they did this, they would have to manually abandon the claim via CLI righ

[2017-08-25 11:54] tzarebczan commented on #443
Fixed in #481

[2017-08-25 11:54] #443 closed

[2017-08-25 15:06] Makgolli opened #495 "Daemon fails to start if download directory moved"
## The Issue
Version: LBRY_0.14.3_amd64
Operating System: OpenSUSE Leap 42.2

Bug: Lbry desktop closes with message " The Daemon has failed to start...Goodbye"
There is no explanation as to the cause of the problem

Steps to recreate:
a) Move or rename the download directory before starting the application

Work around:

1) Restore or recreate the original download directory from the command line.

[2017-08-25 17:06] kauffj commented on #360
This is done in `invites_and_reward` branch. Will PR soon.

[2017-08-25 17:06] #360 closed

[2017-08-25 19:57] kauffj opened #497 "Allow purchase confirmations to be bypassed"
As a user, I want to be able to not be asked to confirm extremely cheap purchases. Especially after #490 removes this check for prices below 0.01.

This PR would involve:
- Adding a setting to track a price below which the user is not shown a confirmation dialog on purchase
- Re-factor settings page to group this setting with maximum purchase price.
- Update `doPurchaseUri` action to not display t

[2017-08-25 20:05] kauffj commented on #461
Fixed in https://github.com/lbryio/lbry-app/commit/c03c0de0a2b7c3b12b6041f7a851997f0e4229c2

[2017-08-25 20:05] #461 closed

[2017-08-26 00:01] McFarJ opened #498 "Installation Problem"
Gah. I'm somewhat new to Linux, but still, the Linux installation process clearly isn't self explanatory...

## The Issue
Won't install

### Steps to reproduce
1. Use Ubuntu 16.04
2. Download the LBRY .deb file from lbry.io/get
2. It won't install via Software Centre, so use the terminal
3. This is what happens:
$ sudo dpkg -i LBRY_0.14.3_amd64.deb
Selecting previously unselected package lbry.
(Re

[2017-08-26 00:27] tzarebczan commented on #498
We are aware of the error and have it logged as a separate issue: https://github.com/lbryio/lbry-app/issues/474

Lbry should still install even with that error. Did you see if LBRY was installed in the start menu?

[2017-08-26 02:16] McFarJ commented on #498
*jaw drops*
Upon searching, it now shows up as installed. I suppose it's in the realm of possibility I was mistyping during my earlier searches. So, sorry for the duplication of issue.
*leaves in shame*

[2017-08-26 02:39] tzarebczan commented on #498
Haha no worries, thanks for checking out LBRY!

[2017-08-26 02:39] #498 closed

[2017-08-26 03:12] kauffj opened #499 "History error when navigating forward from deeper in the history stack"
to recreate the history issue:

1. Open published
1. Click one of the links
1. Back
1. Click some other link
1. Back

[2017-08-26 03:34] btzr-io commented on #499
@kauffj what's the regression?

[2017-08-26 03:36] btzr-io commented on #499
`lbry://theinternetsownboy`

[2017-08-26 03:52] btzr-io commented on #499
this ? -> https://github.com/lbryio/lbry-app/issues/480

[2017-08-26 14:08] kauffj commented on #499
Click a link that opens an http address. I see errors on the console when I do this.

[2017-08-26 16:04] btzr-io commented on #499
@kauffj  I can't recreated the issue, I try the links from: wallet -> transactions

[2017-08-26 16:28] btzr-io commented on #499
What error are you getting ? :confused:

[2017-08-26 17:08] hackrush01 commented on #499
There's one more error I was getting: [video](https://gfycat.com/DecentAgreeableHumpbackwhale)

[2017-08-26 17:13] btzr-io commented on #499
@hackrush01 what's wrong ? ^^

[2017-08-26 17:13] btzr-io opened #503 "Can't close menu on outside click"
## The Issue
I can't close the menu of `fileActions` component on outside click.

### Steps to reproduce
1. Go to any any downloaded / published claim page.
2. Open the menu ( remove / open folder ).
3. Try to click outside the menu.

### Expected behaviour
The menu should be closed.

### Actual behaviour
The menu don't close, and throws an error:

[code]

## System Configuration
Configuration | V

[2017-08-26 17:52] btzr-io commented on #499
you mean it's gone ? becaus ^^

[2017-08-26 17:59] btzr-io commented on #497
I think amazon have something similar...

[2017-08-26 18:00] btzr-io commented on #497
![amazon](https://user-images.githubusercontent.com/14793624/29743814-217c9602-8a56-11e7-9375-f457f88c14e5.jpeg)

[2017-08-26 18:40] btzr-io commented on #499
I'll look in the code but I don't understand what's the issue yet ^^

[2017-08-26 23:01] btzr-io commented on #499
![wtf](https://user-images.githubusercontent.com/14793624/29745712-e82bc5d8-8a7f-11e7-9a04-c666aaddea78.gif)

Well this obviously  wasn't there :stuck_out_tongue:

[2017-08-27 04:04] btzr-io opened #505 "Cannot read property publisherSignature of undefined"
## The Issues
App gets broken after clicking in downloads and publishes

### Steps to reproduce
1. Run build from last master.
2. Click on downloads and publishes

### Expected behaviour
It should show downloads tab content.
### Actual behaviour
Navigation don't work after this, and multiple errors are thrown:
[code]
[code]

## System Configuration
Last build from master -> https://github.com/lbry

[2017-08-27 04:13] wallermadev commented on #505
Have debugged this and provided information in slack -- thanks for opening a issue @btzr-io

Going to take a look at this now will submit a PR.

[2017-08-27 05:04] btzr-io commented on #499
@hackrush01  provided this information in slack

[2017-08-27 07:18] wallermadev commented on #498
In future this error can mean a dependency was missing

You can try install it with

`apt-get install -f`

[2017-08-27 14:13] btzr-io commented on #505
Fixed -> https://github.com/lbryio/lbry-app/pull/507

[2017-08-27 15:13] tumispro opened #508 "Airplay support MacOS / Chomecast support"
I understand this is not at all a priority, but it would be really cool if Apple Airplay functionality could be added to the Mac app.
I understand an iOS app is underway as well, so native Airplay support on there is perhaps an option as well in the future :-)

[2017-08-27 21:17] btzr-io commented on #499
possible fix, needs to be test it: https://github.com/lbryio/lbry-app/pull/504/commits/4e3f86521e3b7eb2da1bd586a2cd948b11d6863b ^^

[2017-08-28 04:30] jsigwart opened #510 "Re-enable trackpad scrolling on the homepage"
## The Issue
Prior to the navigation arrows on the home page, you could scroll the videos by swiping the trackpad.

### Steps to reproduce
1. Go to home page of the app
2. Try to swipe on the trackpad to navigate
3.

### Expected behaviour
Tell us what should happen
Scroll through the videos by swiping on the trackpad instead of having to use the navigation arrows.

### Actual behaviour
Tell us wh

[2017-08-28 04:36] hackrush01 commented on #510
This is the feature I would love to have back in the app. It saves a lot of
hassle.

-Regards
-Amit Tulshyan

On 28-Aug-2017 10:00 am, "jsigwart" <notifications@github.com> wrote:

[2017-08-28 08:20] MSFTserver opened #511 "New Videos Added When App is Open Price Doesnt Change"
## The Issue
When the app is open when there is a new video added to the front page the prices stay the same as the last video fee that was in its place, so if the last video was free and the new video is not free the price will remain as free and the user may not know that front page has update within the time of them opening the app depending when it was launched. the user must refresh to get ne

[2017-08-28 09:32] hackrush01 commented on #428
How does one enable developer mode explicitly?

[2017-08-28 09:56] hackrush01 commented on #392
@jackrobison
While trying out the resolve API command I encountered the following issue

This is what I get when I use `resolve` using `uri` param
https://pastebin.com/nzk7hjvS

This is what I get when I use `resolve` using `uris` param
https://pastebin.com/7TDQirkY

Am I doing something wrong? Can't there be a single URI in `uris` param.

[2017-08-28 12:32] kauffj commented on #392
@hackrush01 just pass it as an array:

`curl 'http://localhost:5279/lbryapi' --data '{"method":"resolve", "params":{"uris":["lbry://@hackrush/holi"]}}'`

[2017-08-28 12:36] kauffj commented on #428
It looks like this is the check being used in most places:

```lbry.getClientSetting("showDeveloperMenu")```

[2017-08-28 12:46] kauffj commented on #510
@hackrush01 I'm guessing this will require adding an explicit catch of the javascript event. But this would go nicely along with adding keyboard short cuts more generally.

How did this work previously? Did it scroll multiple rows at once? Just the top row?

[2017-08-28 12:47] tzarebczan commented on #467
@btzr-io  - any update on this one? I know you made some progress, but did you get stuck?

[2017-08-28 12:52] tzarebczan commented on #214
@6ea86b96 do you plan to get back to this? If so, we should discuss the above scenarios with @kauffj

[2017-08-28 12:54] hackrush01 commented on #428
So should this be a setting in the `Settings` page to enable or disable the developer mode?

[2017-08-28 12:55] hackrush01 commented on #392
Ah, I tried the other 2 brackets and then gave up :-P

[2017-08-28 13:00] tzarebczan commented on #511
This is probably part of a larger issue: https://github.com/lbryio/lbry/issues/547

[2017-08-28 13:09] hackrush01 commented on #510
@kauffj This "feature" was there in the app previously before the navigation arrows, so there was a scrollbar under each row, and each of them could be scrolled individually. I guess if need to have this feature back, we would need to re-enable scroll bars(in a hidden way maybe. I'm not sure if that's possible).

[2017-08-28 13:17] kauffj commented on #428
I think the setting for toggling developer mode can go away in favor of using `process.env.NODE_ENV` (which is already used in several places). I think we should retain the ability to set alternative search servers and move this into normal settings, at the bottom.

[2017-08-28 13:26] #460 closed

[2017-08-28 15:40] hackrush01 commented on #428
Ok, so what I understand is
- [ ] Remove `ui/js/page/developer.js`
- [ ] Remove the option for toggling dev mode(the devs would use keyboard shortcuts to open console and refresh app)
- [ ] Remove force update
- [ ] Keep alt search server stuff.

[2017-08-28 15:44] kauffj commented on #428
Correct except for #2. The dev mode would be toggled by setting an environment variable.

[2017-08-28 15:47] hackrush01 commented on #428
Gothca. Thanks.

[2017-08-28 16:06] tzarebczan commented on #467
Discussion with @btzr-io:
btzr [28 minutes ago
I know  is the app forces you to add a path every time otherwise you get an error:
`error occurred when attempting to publish your file: source`

jiggytom [27 minutes ago]
yep, and that's exactly what we are trying to solve. So it cold be a backend issue, or maybe we aren't passing something correctly when a path is not selected.
btzr [19 minutes ago]

[2017-08-28 17:37] kauffj commented on #499
@btzr-io I didn't test this really, but by inspection I'm not sure this is the right solution. Do we actually need two separate arrays for back and forward? Can't I do this with just one history array and a position? Then when the user navigates forward from a position other than the top of the history stack, you delete the history past your current position.

[2017-08-28 17:39] kauffj commented on #499
@btzr-io I didn't test this really, but by inspection I'm not sure this is the right solution. Do we actually need two separate arrays for back and forward? Can't I do this with just one history array and a position? Then when the user navigates forward from a position other than the top of the history stack, you delete the history past your current position.

[2017-08-28 17:43] kauffj commented on #499
@btzr-io apologies for sending you on a wild-goose chase here, since the issue as originally reported is only happening in `invites_and_rewards` (I will fix it there.)

I'm going to update this ticket to just address the case laid out here: https://github.com/lbryio/lbry-app/issues/499#issuecomment-325177376

[2017-08-28 21:01] kauffj commented on #467
@btzr-io @tzarebczan to debug further:
1. Open console.
1. Perform broken publish.
1. Observe request. Is it making it to daemon properly? Is it returning errors?
1. If daemon is erroring, what is being passed? Is it passing a signature that the API docs report as valid?
1. If yes, it's a bug in the daemon and has to be passed there. But could just as easily be app-side.

[2017-08-29 01:29] btzr-io commented on #467
[code]

[2017-08-29 01:33] btzr-io commented on #467
@kauffj  As far as I know when there is no path provided it should use `source` but it never get passed ^^

[2017-08-29 01:54] btzr-io commented on #467
https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/Publisher.py#L41

[2017-08-29 04:26] #503 closed

[2017-08-29 04:28] btzr-io commented on #499
@kauffj  I tried a different approach but didn't work,this was the only way

[2017-08-29 04:33] btzr-io commented on #499
I'll try your suggestion but it may get messy :upside_down_face:

[2017-08-29 13:11] kauffj commented on #495
This issue was moved to lbryio/lbry#877

[2017-08-29 13:11] #495 closed

[2017-08-29 13:11] kauffj commented on #495
@Makgolli thanks for reporting this. Please track https://github.com/lbryio/lbry/issues/877 if you want to know when this resolved.

[2017-08-29 13:30] #505 closed

[2017-08-29 14:36] lyoshenka opened #512 "Release next app version"

[2017-08-29 16:44] btzr-io commented on #499
Also the docs aren't really clear about this:

[2017-08-29 16:46] btzr-io commented on #467
Also the API docs aren't really clear about this:
https://lbryio.github.io/lbry/#publish

[2017-08-29 17:52] tzarebczan commented on #511
The more general issue here is that users are not being shown the correct price for content unless LBRY is refreshed or cache is cleared.  This can cause much frustration if a user sees the video as free but it ends up charging them LBC.  In the case above, it was a large LBC value of 49.

Are there any short term / temporary workaround solutions to fix this?

[2017-08-29 19:43] MSFTserver commented on #511
only thing i can think of for a work around for now would be to implement a pop-up that asks a user to refresh the page when new content is there im not sure how goes about caching but it seems the description and everything else gets updated but the price so maybe the caching of the price could just be done away with?

[2017-08-29 22:39] kauffj commented on #511
There are fixes to be made here app side, but I suspect they are insufficient without changes on the daemon side as well.

The changes to be made app side have been merged into #392.

[2017-08-29 22:39] #511 closed

[2017-08-29 22:41] kauffj commented on #392
@hackrush01 if you are ever blocked on tipping, this is a good one to come back to. Big low-hanging optimization here.

[2017-08-29 22:46] kauffj commented on #467
@tzarebczan can you confirm this exists purely daemon side by determining a precise API call that fails when it shouldn't? Then we can open this on the daemon.

[2017-08-29 23:33] tzarebczan commented on #467
@kauffj sure, will take a look tomorrow. I thought it was fixed already, had a comment on slack.

[2017-08-30 01:38] hackrush01 commented on #392
Sure thing.

-Regards
-Amit Tulshyan

On 30-Aug-2017 4:11 am, "Jeremy Kauffman" <notifications@github.com> wrote:

[2017-08-30 04:59] #323 closed

[2017-08-30 05:01] akinwale commented on #396
@tzarebczan I'm curious so that I can reproduce, how do you force the crash?

[2017-08-30 06:17] MSFTserver commented on #396
@akinwale http://www.wikihow.com/Force-a-Blue-Screen-in-Windows

[2017-08-30 07:11] gyroninja opened #516 "Cyan Screen on Launch"
If you launch LBRY when your working directory isn't in lbry-app then the application says at a blank cyan screen.
My current work around is just creating a start script which changes the working directory to there and starts it up.

[2017-08-30 07:28] tzarebczan commented on #516
What working directory are you referring to? Can you be more specific? I can provide a different solution tomorrow when I'm at my PC

[2017-08-30 08:51] gyroninja commented on #516
If you are running it via `node_modules/.bin/electron app`, you have to have your working directory be the root directory of the git repo. If you have packaged it up, you have to have your working directory be `/dist/linux-unpacked`.
This is likely due to it just not being able to find assets that it assume will be located in the working directory.
I don't really need a different solution, but wou

[2017-08-30 14:25] kauffj commented on #445
Per discussion in meeting, the correct resolution for this is still https://github.com/lbryio/lbry-app/issues/445#issuecomment-320525524

[2017-08-30 14:58] btzr-io commented on #467
@kauffj  Already mention this but here is it again -> daemon expects  a fallback `source` when no `file_path` is passed, the app only pass `file_path`: 7a853f1

[2017-08-30 15:06] kauffj commented on #467
But if the daemon says a source isn't required, a source shouldn't be required. I'm not inclined to add a fix for this app side (which also later ought to be removed), when we can just fix it in the right place.

[2017-08-30 15:25] tzarebczan commented on #467
Can confirm I am seeing the same as @btzr-io

Original publish:
`{"jsonrpc":"2.0","method":"publish","params":{"name":"lbryio","bid":0.01,"metadata":{"title":"test pub 1","language":"en","license":"","licenseUrl":null,"nsfw":false},"file_path":"C:\\Users\\Tom-LaptopVM\\Downloads\\lbryio.jpg"},"id":126}`

daemon log:
`2017-08-30 08:12:44,973 INFO     lbrynet.daemon.Daemon:1838: Publish: {'claim_add

[2017-08-30 15:41] btzr-io commented on #467
@kauffj where does it says the source isn't required?

If no path is given but a metadata dict is provided, the source
from the given metadata will be used.

[2017-08-30 20:16] MSFTserver opened #517 "Searching Causes App To Hang-Up"
## The Issue
Wallet Hangs up after searching/browsing for a little while, no indication of what causes this its completely random occurrences but happens every time just a matter of when
[heres a gif of the issue](https://spee.ch/1/SearchFunctionHangUp.gif)
### Steps to reproduce
1. start searching around using the search bar
2. eventually the app will hang up

## System Configuration

- LBRY Daem

[2017-08-30 20:30] MSFTserver commented on #482
what about an option like this in the future?
https://github.com/taltultc/react-native-mov-to-mp4

[2017-08-30 20:56] #517 closed

[2017-08-30 21:04] kauffj commented on #467
@btzr-io you're right, my mistake.

[2017-08-30 21:56] oakey22 opened #518 "Back Button - Does not ignore double clicks on destination buttons"
### Steps to reproduce
1.Click Settings Button (Top Right)
2.Click Home Button twice
3.Click Back

### Expected behaviour
Should go back to the setting folder and not stay on the home screen.
### Actual behaviour
Does not move off the home screen. I see this as a problem as i know a lot of people who will double click icons and buttons.

App | 0.15.0rc2
-- | --
0.15.1
3.1.6
gfugfqpsfpsewz@divermai

[2017-08-30 22:16] tzarebczan commented on #518
If you click back again, does it go back to settings? I think it tracks each click, so it would need to take into account the scenario where the same button /action /screen is clicked twice.

[2017-08-30 22:28] oakey22 commented on #518
Yes it goes back if you double click, like you say it's tracking each click and does not account for a double click. I know my parents and a few of my friends always double click nearly everything lol.

[2017-08-31 01:37] MSFTserver commented on #518
yes youd have implement a check to see if there are two in a row that are the same and filter them out so its a list with no repeats

[2017-08-31 01:38] MSFTserver commented on #518
essentially double clicking logs it twice in the history so you have to press the back button twice to get passed the doubled up history

[2017-08-31 01:51] gyroninja commented on #518
I can not reproduce this bug on the latest version pushed to git.

[2017-08-31 02:09] btzr-io commented on #499
@kauffj fixed this in -> https://github.com/lbryio/lbry-app/commit/f6976c3feb5a049e5071d027f520a11dbba3b4f0

[2017-08-31 04:15] MSFTserver commented on #518
well thats where the issue arises @gyroninja simply press any menu button twice and youll have to press the back button twice or the first time it reloads the page again cause you clicked twice and it logged it to history twice

[2017-08-31 04:23] btzr-io commented on #518
@gyroninja @MSFTserver The new history logic don't allow history duplication ^^

[2017-08-31 04:29] btzr-io commented on #518
@tzarebczan I guess you can close this
unless someone can recreate the bug in master, but that should be impossible :stuck_out_tongue:

[2017-08-31 04:36] MSFTserver commented on #518
👍

[2017-08-31 08:55] oakey22 commented on #518
I am getting this problem on the 0.15.0.rc2 version released yesterday. Has the fix been implemented since then?

[2017-08-31 12:59] kauffj commented on #518
This was real. Fixed in a911336

[2017-08-31 13:11] #467 closed

[2017-08-31 15:03] btzr-io commented on #518
@kauffj I think there is an issue with the home page, the first time location is `/discover?`
and after that you get -> `/discover`

[2017-08-31 19:41] #518 closed

[2017-08-31 19:41] oakey22 commented on #518
working in version 0.15.0

[2017-08-31 23:02] polminer opened #521 "lbry app 15.0 crash on start"
lbry app 15.0 crash on start

Win 10. 64

## Screenshots

![3269](https://user-images.githubusercontent.com/26439658/29948789-8bf02ea6-8eb9-11e7-9521-2256adeb21e6.png)

[2017-08-31 23:13] polminer commented on #521
After I closed Claymore miner, Lbry app starts working well.

[2017-08-31 23:28] MSFTserver commented on #521
@polminer this is know issue with claymore conflicting ports for now simply do this and should work
https://lbry.io/faq/how-to-change-port

[2017-08-31 23:36] #521 closed

[2017-09-01 03:21] btzr-io commented on #499
@tzarebczan this was fixed and merged by @kauffj and it's already in  `v0.15.0`

[2017-09-01 03:22] tzarebczan commented on #499
Closing, thanks.

[2017-09-01 03:22] #499 closed

[2017-09-01 03:43] btzr-io commented on #177
I can't recreate this in `15.0.0`
@tzarebczan I think this was also fixed ?

[2017-09-01 03:47] btzr-io commented on #177
https://github.com/lbryio/lbry-app/blob/master/ui/js/lbryuri.js#L6

[2017-09-01 14:06] #512 closed

[2017-09-01 23:57] lyoshenka opened #523 "Add a message about token security to auth_token display"
As a user, I don't want to ever share my token with anyone, or else they can impersonate me.

We need a message next to the auth token field that says something like "Auth token is for API use only. Never share it with anyone. Keep it secret - treat it like your password."

[2017-09-02 00:08] MSFTserver commented on #523
the access token im assuming?

[2017-09-02 00:18] MSFTserver commented on #523
something like this?
![image](https://user-images.githubusercontent.com/18357967/29991310-9353f10c-8f39-11e7-8f29-177d8a267723.png)

[2017-09-02 00:32] MSFTserver commented on #523
Pull-Request https://github.com/lbryio/lbry-app/pull/524

[2017-09-02 20:43] MSFTserver commented on #493
yes if the user forgets to press the abandon claim they must use the CLI to abandon it, i went through this first time using it lol

[2017-09-02 21:28] MSFTserver commented on #493
something like this would be a work around
![image](https://user-images.githubusercontent.com/18357967/29998882-efc4955c-8fea-11e7-8532-ead6473a0562.png)

[2017-09-03 16:36] #59 closed

[2017-09-03 20:28] kauffj commented on #523
https://github.com/lbryio/lbry-app/commit/19165895533dc3c6b5a092b2c22d14730d11bb14

[2017-09-03 20:28] #523 closed

[2017-09-04 12:12] kauffj opened #528 "Poor UX around credit binding on publish, esp. for new users"
New users who know nothing about LBC are going to be confused about how to use their credits to both claim a channel and make a publish.

See this Twitter thread as an example: https://twitter.com/JoshStrobl/status/904615412712734720

[2017-09-04 12:34] tzarebczan commented on #528
Related to https://github.com/lbryio/lbry-app/issues/373

[2017-09-04 14:28] lyoshenka opened #529 "App should indicate whether I'm reward-approved"
As a user, I want to know if I'm approved to claim rewards. If I'm not and I want rewards, I should see what I can do to get approved. Then I won't be confused about my status, and won't pester support team about it.

[2017-09-04 14:32] finer9 commented on #529
This one is very important to #verification and will help the mods greatly

[2017-09-04 16:20] JoshStrobl commented on #528
Copying what I said in my DM (thanks @kauffj for reaching out), just my personal opinion / recommendations, excluding what is or isn't technically feasible at this moment in time:

[2017-09-04 16:36] MSFTserver commented on #529
isnt that what this page for
![image](https://user-images.githubusercontent.com/18357967/30034193-90e937de-9154-11e7-9387-0cb635631284.png)

[2017-09-04 16:39] MSFTserver commented on #528
would this work?
https://github.com/lbryio/lbry-app/pull/527

[2017-09-04 16:49] JoshStrobl commented on #528
@MSFTserver I think that explains in a clearer manner in the current UX what the deposit is for, yes, however doesn't resolve the UX issues itself _obviously_.

[2017-09-04 16:54] MSFTserver commented on #528
yea i wasnt gonna touch the whole UX yet as that is another issue #373 Thomas posted earlier

[2017-09-04 18:51] MSFTserver commented on #529
but yea should add a display on the rewards tab with eligibility

[2017-09-04 19:20] MSFTserver commented on #529
![image](https://user-images.githubusercontent.com/18357967/30036838-64629e0a-916b-11e7-8c75-039ec41e165a.png)
hows something like this?

[2017-09-05 04:26] btzr-io commented on #528
Also separate editing claims ^^ :stuck_out_tongue:

[2017-09-05 05:05] btzr-io opened #531 "Material design ( UI enhancement )"
If the app is going to have a material design look at least it should follow the guidelines:
https://material.io/guidelines/material-design/introduction.html#

### Frameworks
http://materializecss.com/
https://getmdl.io/index.html

[2017-09-05 05:46] btzr-io opened #532 "App intro screen ( UI / UX enhancement )"
### Feature
An intro screen to  help `first-time` users get started with `lbry` / `lbry-app`.
( Only show the first time you run the app )

### Stuff
- A simple introduction to the `app` / `lbry`.
- A brief explanation of  the confusing things ( Rewards, claims, and don't forget verification ... )
- Let the user know why is important to backup the wallet
( and maybe add the backup button near this

[2017-09-05 13:06] kauffj commented on #531
The app started as a quickly hacked together piece of crap, but adopted Material Design fairly quickly, but also fairly imperfectly.

You are welcome and encouraged to submit individual PRs or tickets to help standardize and improve the UI.

However, I don't think this is actionable as-is, so I'm closing it.

[2017-09-05 13:06] #531 closed

[2017-09-05 13:17] kauffj commented on #532
@btzr-io in MD context, this would be Quickstart onboarding. Also, if you've seen the current first run, we do provide an introductory message, as well as onboarding content when the user first does something credit related.

I we do need more welcome and introductory content, but I think the best UX comes from introducing new things to people as they need to learn or know about them, not by putti

[2017-09-05 13:17] #532 closed

[2017-09-05 13:17] lyoshenka commented on #516
@gyroninja how are you packaging it? for the unpackaged version, it makes sense that this is a bug. for the packaged version, it should create an installable file (a .deb or .dmg or similar) that gets installed by the system. I'm not sure where /dist/linux-unpacked is coming from.

If you run `node_modules/.bin/electron app` but with full paths to the binary and the app dir, does this bug still ha

[2017-09-05 14:38] kauffj commented on #479
This is fixed in lbryio/lbryum#152 and will be added without any further app changes (next app containing a 0.16.x daemon release will have it)

[2017-09-05 14:38] #479 closed

[2017-09-05 16:35] tzarebczan commented on #529
@MSFTserver that looks good to me! Can we add a link to the verification page if they are not eligible?

[2017-09-05 16:36] tzarebczan commented on #177
Thanks @btzr-io , will close.

[2017-09-05 16:36] #177 closed

[2017-09-05 16:39] MSFTserver commented on #529
yea that can be done

[2017-09-05 16:46] MSFTserver commented on #529
i could be wrong but if they arnt eligible isnt there a big box that pops up on the first row to verify or is that on the rewards page....if its only on the rewards page it should be added to the overview page to

[2017-09-05 16:58] MSFTserver commented on #529
@tzarebczan about the link, how you prefer to have it, id most likely have to include the Eligible text twice and pass it in with the the function that determines if they are eligible and on the one they arnt eligble make it hyperlink

[2017-09-05 17:00] finer9 commented on #529
@lyoshenka can you comment on why it would be hard to display a yes/no approval after the YTsync script?

[2017-09-05 17:09] tzarebczan commented on #529
@MSFTserver you don't see anything about verification until verification until you get to the Rewards tab.

Maybe instead of the hyperlink, just direct them to the Rewards tab / hyperlink below? Not sure, maybe @kauffj has a better suggestion.

[2017-09-05 17:11] MSFTserver commented on #529
i could take out the the how many credits you have thing if they arnt eligible and add something to direct them

[2017-09-05 17:12] tzarebczan commented on #529
Showing the available number of credits also entices them to check the Rewards tab...

[2017-09-05 17:14] MSFTserver commented on #529
i just thought of that thats why i edited it and added the or lol

[2017-09-05 17:17] MSFTserver commented on #529
but i could add on to it "You are Not Eligible but you have XX unclaimed rewards waiting click here for verification or something"
but ill wait for jeremy to, see what he thinks

[2017-09-05 17:31] btzr-io commented on #532
@kauffj ok agree, I haven't seen the current first run but I remember the old one: wasn't really clear,
I guess this then:

And maybe ask to do it right from the start?

[2017-09-05 17:38] btzr-io commented on #531
@kauffj ok agree, I haven't seen the current first run but I remember the old one: wasn't really clear,
I guess this then:

And maybe ask to do it right from the start?

[2017-09-05 17:39] btzr-io commented on #532
@kauffj ok agree, I haven't seen the current first run but I remember the old one: wasn't really clear,
I guess this then:

And maybe ask to do it right from the start?

[2017-09-06 02:51] MSFTserver opened #534 "Developer Reload on Publish Page Forces Pop-up"
## The Issue
when on the Publish page and you proceed to hit developer -> reload it will refresh the page with a More Credits Required Pop-up
### Steps to reproduce
1. Go to Publish Page
2. Developer -> Reload
3. More Credits Required Pop-up

### Expected behaviour
i expect the page to normally refresh
### Actual behaviour
the page refreshes to More Credits Required Pop-up

## System Configuration

[2017-09-06 10:23] gyroninja commented on #516
I don't know how many times I need to explain it when it is so simple.
No, I'm not installing it from a dpkg.
dist/linux_unpacked is created when it creates the package
Whether the command uses full or relative paths doesn't matter.

**Like I have said in every post so far, the bug is from having the wrong working directory. The bug very likely stems from using a resource that it assumes exists it

[2017-09-06 12:22] lyoshenka commented on #516
I was asking because I'm having trouble reproducing this. I've never seen the `linux_unpacked` dir and I don't know how it is created. It would be helpful if we knew what OS you're on and what commands you ran. It would be even more helpful if you submit a PR fixing this issue. We're happy to tip LBC for dev work. :smile:

[2017-09-06 14:17] tzarebczan opened #536 "Blank error in app when streaming/downloading"
## The Issue
App side issue to go along with https://github.com/lbryio/lbry/issues/885

Error message on app side is blank for the scenario given in the above issue.  This happens when you go to a claim and the sdblob initially fails but then downloads when you click download/stream (that's when the blank error pops up).   See below for logs:

Lbrynet.log
[code]

Console:
[code]

## System Configu

[2017-09-06 14:18] tzarebczan commented on #529
@kauffj / @lyoshenka  comments on the above?

[2017-09-06 15:05] tzarebczan commented on #396
@akinwale just force shutdown the PC (hold power button) while LBRY is running. Or if you are running a VM, force close the VM without saving. I haven't tried this recently nor have I really tried to reproduce it, I just know it happened to me the couple of times my PC did a hard shutdown.

[2017-09-06 15:10] jsigwart commented on #528
Another small UX related thing would be to change the default deposit from 10 LBC to 1 LBC to be more user friendly.

[2017-09-06 15:24] tzarebczan commented on #423
Think this helps in some cases: https://askubuntu.com/questions/777803/apt-relocation-error-version-glibcxx-3-4-21-not-defined-in-file-libstdc-so-6

[2017-09-06 18:58] MSFTserver commented on #536
i keep seeing this on the blank error
[code]

[2017-09-06 19:06] #534 closed

[2017-09-06 19:06] #445 closed

[2017-09-06 19:07] kauffj commented on #445
Merged, will be released in 0.15.1.

[2017-09-06 20:12] kauffj commented on #529
There is already a display area at the top of rewards that is in one of three states:
a. Prompts you to begin/resume verification
b. Says you are "under review" (happens when user has taken required steps but is still flagged as not eligible)
c. Empty (= you are approved).

What users in what reward state are getting confused as to their status?

I agree with improving the feedback with regards to

[2017-09-06 20:20] kauffj commented on #536
About 50% certain I fixed this, please re-open if this happens past 0.15.1.

Note that this fix (and ticket) is just that the error pop-up is blank.

[2017-09-06 20:20] #536 closed

[2017-09-06 21:34] kauffj opened #538 "Finalization i18n format and i18n"
It's mostly there. Issues on build prevented release.

The only thing that must happen is properly bundling resources (test with releases.lbry.io build).

Other known issues are dates, currencies, and strings with nested components.

[2017-09-07 05:44] tzarebczan opened #539 "Portrait mode support for streaming videos in app"
## The Issue
A user on Reddit noticed that his video, which was recorded in portrait mode, plays in landscape mode (rotated) via the app. The post is here: https://www.reddit.com/r/lbry/comments/6ykhxs/trying_to_upload_a_video_but_its_taking_forever/

Video is here: lbry://@pancake#c515f03fed88e677f28423ed175c8bbc046c8995/cauliflower

When opening the video from the downloads folder, it plays in p

[2017-09-07 13:43] kauffj opened #540 "Publishing Logic Cleanup"
Publishing could use the following design changes, as inspired by #526:

- Publish form accepts pre-filled state from outside
- Publish page handles the edit logic and passes pre-fill state to the form
- Publish form drops the logic handling loading values. The link on a name clash simply becomes a navigate to the proper URL.
- Navigation logic is claim ID based rather than name based (we want to

[2017-09-07 16:04] kauffj commented on #444
Merged in branch `v16`, to be next release.

[2017-09-07 16:04] #444 closed

[2017-09-08 14:15] #529 closed

[2017-09-08 16:10] tzarebczan opened #542 "Bind enter key press to form submission as appropriate"
## The Issue
If you try to use the Enter key to send credits on the Send screen or send an invite on the Invites screen, the page reloads and nothing happens

### Steps to reproduce
1. Go to Send screen, enter amount and address, press Enter
2. Go to invite screen, enter email to invite, press Enter
3.

### Expected behaviour
Enter key should be allowed to confirm action

### Actual behaviour
Ente

[2017-09-08 16:48] tzarebczan opened #543 "Receive and Invites screens missing icon in address bar"
## The Issue
The Recieve and Invites screens are missing their respective icons in the LBRY App address bar. The other screens each have an icon.

Per Jeremy:
[code]
### Steps to reproduce
1. Go to Receive tab, no icon
2. Go to Invites tab, no icon

### Expected behaviour
Icons are consistent

### Actual behaviour
No Icon

## System Configuration

- LBRY Daemon version: 0.15.2
- LBRY App version:

[2017-09-08 17:48] kauffj commented on #542
@tzarebczan re-titled to the solution I'd like to see.

[2017-09-09 04:09] oakey22 opened #544 "Can not publish in 0.15.1 - Channel name hangs"
## The Issue

### Steps to reproduce
1. Go to Publish and try and publish something

### Expected behaviour
Should load the list of channel names

### Actual behaviour
Just hangs on listing the channel names and never loads them up. Can not enter any info in the lbry://....... box either till the channel names are resolved.

https://spee.ch/a6bb8f325ba66e1d1aadec58a1d5e833d5c688ec/nochannelname.pn

[2017-09-10 04:02] btzr-io commented on #543
![fix-543](https://user-images.githubusercontent.com/14793624/30246023-7964cd9e-95aa-11e7-84c6-181129829403.gif)

[2017-09-10 04:11] oakey22 opened #546 "Date is Americanised"
## The Issue

### Steps to reproduce
1. Click on any thumbnail on the main screen
2.look at the "Published on" date

### Expected behaviour
I  am from the UK and we have our date format DD-MM-YYYY so i would expect to have an option to specify where you are from or choose the format and this alters. Maybe have this in the settings.

### Actual behaviour
Date is MM-DD-YYYY, as seen in the picture t

[2017-09-10 04:32] btzr-io commented on #546
Looks like a simple fix -> `date.toLocaleString('en-GB')`
The problem would be to implement a simple ui / ux ^

[2017-09-10 04:37] btzr-io commented on #546
Looks like just needs to pass this ->  `window.navigator.language`

[2017-09-10 04:52] btzr-io commented on #546
@oakey22 can you open the Developer Tools: ` ctrl + shift + I `
and run this in the console? -> `app.i18n.getLocale()`

[2017-09-10 04:59] gyroninja commented on #516
Okay, I went ahead and diagnosed and resolved the issue I was getting. You were probably having issues reproducing this because the code which caused this error was being avoided. (There was a return inserted to the beginning of the function which errors to temporarily disable it)

[2017-09-10 16:27] oakey22 commented on #546
I get this when ran in console

[code]

[2017-09-10 16:27] oakey22 commented on #546
and

`window.navigator.language
"en-US"`

[2017-09-10 16:55] oakey22 commented on #544
getting this in the developer tools

`Uncaught (in promise) TypeError: Cannot read property 'name' of undefined
    at file:///opt/LBRY/resources/app/dist/js/bundle.js:35181:26
    at Array.map (native)
    at ChannelSection.render (file:///opt/LBRY/resources/app/dist/js/bundle.js:35180:29)
    at file:///opt/LBRY/resources/app/dist/js/bundle.js:74359:21
    at measureLifeCyclePerf (file:///opt/LB

[2017-09-10 16:57] oakey22 opened #548 "Lbry unresponsive when clicking menu buttons"
## The Issue

### Steps to reproduce
1.Click settings, click home, click settings, click publish, click home, click settings, etc

### Expected behaviour
Should go to each screen when clicked

### Actual behaviour
The app becomes unresponsive when clicked so many times other than the name changing in the search bar and title bar
### Fault in developer tools

`Uncaught (in promise) TypeError: Canno

[2017-09-10 17:00] tzarebczan commented on #544
Anything change recently? Have you tried clearing cache in the settings screen? Can you also check the daemon (lbrynet) version in Help.

[2017-09-10 17:09] oakey22 commented on #544
the only thing i changed was upgrading to the new app.

App | 0.15.1
Daemon (lbrynet)  |  0.15.2
Platform | Linux (Linux-4.4.0-93-generic-x86_64-with-Ubuntu-16.04-xenial)

[2017-09-10 17:30] oakey22 commented on #544
Tried 0.15.0 and it is the same, i am now back on 0.15.1

I used the lbrynet-cli channel_list_mine and it displays all my channel names.

[2017-09-10 19:59] tzarebczan commented on #544
And you've tried clearing the cache too? Can you provide your latest lbrynet.log file to see if there are any clues there.

[2017-09-11 02:04] btzr-io commented on #546
Oh yeah,there is only on language supported at the moment -> `en-US` :stuck_out_tongue:
until that's fixed I guess this is the only option for now:

[2017-09-11 02:07] btzr-io commented on #546
Alternative solution just change the format to -> `May 13 2017, 12:00 AM`

[2017-09-11 02:12] btzr-io commented on #542
should all forms have this behavior (  publish form... ) ?

[2017-09-11 02:46] btzr-io opened #551 "Annoying modal popups"
## The Issue
There are some annoying and unnecessary popups inside the app.
Most of them are errors badly handled.

### Steps to reproduce
1. If you have an empty balance and go to `walletSend`
a popup it's shown, but this is annoying and don't prevent the user of submitting the form.

2. If you try to send a higher value than your current balance an other popup it's shown, it should display the e

[2017-09-11 02:47] btzr-io commented on #551
Split from -> https://github.com/lbryio/lbry-app/issues/531

[2017-09-11 09:53] oakey22 commented on #544
I tried clearing the cache, the log is added to this post, i also edited out my balance

[2017-09-11 13:52] tzarebczan commented on #353
This still occurs from time to time when LBRY processes do not shut down properly and LBRY is launched again.

[2017-09-11 13:56] tzarebczan opened #552 "Clicking claim in Invites screen causes console error"
## The Issue
I already redeemed a referral reward and now when I try to claim another, I don't get any feedback but instead a console error is thrown. Earlier last week I remember getting a "You already redeemed your max reward for this" message.

[code]
### Steps to reproduce
1. Click Claim in Invites screen
2. Nothing happens, check console
3. Console has error

### Expected behaviour
Tell me th

[2017-09-11 15:48] tzarebczan commented on #418
@kauffj any reason for closing this? I think it needs to be looked at, especially since these videos are on our front page.

[2017-09-11 16:54] kauffj commented on #542
Publish probably shouldn't?

(It should only be happening when an input or label is not focused, regardless)

[2017-09-11 21:38] tzarebczan opened #553 "Channel not re-populated when editing existing claim"
## The Issue
When editing/re-publishing existing content using the "Use data from my existing claim" option on the Publish page, the channel from the previous publish is not populated in the dropdown. The result also creates some inconsistencies in the Publishes page (will be logged in a separate issue as this is a valid scenario).

### Steps to reproduce
1. Publish content to a channel, wait for

[2017-09-11 22:23] #516 closed

[2017-09-11 22:27] tzarebczan opened #554 "Content re-published without channel not handled properly"
## The Issue
Related to https://github.com/lbryio/lbry-app/issues/553, if the original published content had a channel but is then re-published anonymously (without a channel), the Publishes page continues to show the channel (even after the file is confirmed). It actually doesn't show Pending confirmation until after going to Developer > Reload. When I did this, the file was already confirmed and

[2017-09-12 13:25] kauffj commented on #539
@tzarebczan does this video play in the proper orientation when downloaded?

[2017-09-12 13:29] kauffj commented on #415
This is merged in `v16`.

[2017-09-12 13:29] #415 closed

[2017-09-12 13:31] kauffj commented on #543
I believe we have desired icons for this. This can be resolved simply by properly bundling Font Awesome 4.7 or higher.

[2017-09-12 13:34] kauffj commented on #540
Related for the ambitious: #373 #528 #493

[2017-09-12 13:37] kauffj commented on #353
@tzarebczan when you say "this occurs" - do you mean the daemon disappearing? I am not 100% clear on the issue. Can you re-open this as a summary of what we know if there's something that needs to be fixed here, even if we don't understand it fully?

[2017-09-12 13:38] kauffj commented on #353
Nm, I see you did re-open this. Can you edit the original issue to be a summary of the problem and what's known?

[2017-09-12 13:39] kauffj commented on #418
How widespread / common is this? Are there any other reports? Is it just this movie? I've never been able to reproduce this.

[2017-09-12 13:43] tzarebczan commented on #539
Yep, that's mentioned in the issue.

[2017-09-12 13:44] kauffj commented on #538
Related #546

[2017-09-12 14:04] kauffj opened #556 "Auto-updating app"
I believe Electron supports it, so we ought to provide it.

[2017-09-12 14:05] #355 closed

[2017-09-12 14:11] kauffj opened #557 "App updates for new search service"
The new search service will return channel names and offer type based filtering. The app must be updated to accommodate these features (and possible signature changes).

[2017-09-12 15:13] tzarebczan commented on #353
Will do, I'll create a new issue for it and link this one.

[2017-09-12 15:29] btzr-io commented on #556
https://github.com/electron/electron/blob/master/docs/api/auto-updater.md

[2017-09-12 16:45] tzarebczan commented on #418
@kauffj I'm not sure what other videos it's happening to besides coherence and bellflower, but since these are on our homepage, they ought to work.

I thought you said you said "it did not work" for you [here](https://github.com/lbryio/lbry-app/issues/418#issuecomment-320961838), unless you meant you weren't able to reproduce it.

[2017-09-12 19:33] tzarebczan commented on #508
Don't forget Chromecast support :)

[2017-09-13 21:07] #353 closed

[2017-09-13 21:17] tzarebczan opened #560 "Launching LBRY results in Javascript error occurs if LBRY is hung in background"
## The Issue
Originally stemming from https://github.com/lbryio/lbry-app/issues/353#issuecomment-328855723, we still see this error come up in help requests. It seems to happen when LBRY.exe gets stuck running in the background and then it is started up again by the user.   I've seen instances where I've closed LBRY but the processes don't end, just can't reproduce reliably.

I guess the main conc

[2017-09-13 21:57] tzarebczan opened #561 "Support publishing channel descriptions, cover photos and other metadata"
## The Issue
The current channel page looks a bit empty with the "Channel pages are empty for all publishers currently, but will be coming in a future update." message.  Can we add this issue to the Publishing Epic to at least add some descriptions to channels?

In the future, other channel data could include:
Channel Image
Stats (creation date, total subscribers, total videos, total views, etc)
T

[2017-09-14 00:47] kauffj commented on #560
Possibly related: https://github.com/lbryio/lbry/issues/860

I think one of two things is happening here:
- App launches, sees a running daemon, choose not to launch a daemon, but that daemon is still scheduled to close and closes
- App launches, launches daemon, daemon fails to start due to lbry#860

[2017-09-14 01:29] btzr-io commented on #551
Here is another one, fixed in #550  -> 75417949122d1f6078357f290c95441ecfca3761
![missign_parameters](https://user-images.githubusercontent.com/14793624/30408104-da50581e-98b9-11e7-8255-ae9fdf06d153.jpeg)

[2017-09-14 02:15] unclejed613 commented on #561
Yes, I have the same request.  Having a channel without a description of the channel really doesn't do much for the content, except give the publisher a place to put it.  Also, I noticed that doing a search for a channel name (@whatever) doesn't return any meaningful results, just a list of files that has a portion of the search string in the file name or title.

[2017-09-14 02:28] MSFTserver commented on #561
@unclejed613 search is being worked on i heard it was almost finished

[2017-09-14 02:34] unclejed613 commented on #544
I'm having a similar problem with 0.15.1.  When I try to publish, the channel drop down is all blacked out.  clearing the cache fixes it until the next time I publish, so I have to clear the cache and restart the app every time I want to publish.  I'm running the app on Ubuntu linux.

[2017-09-14 03:44] seanking2919 commented on #561
You definitely could do a linked channels list, but I'd like a social media links list better IMO.

[2017-09-14 05:28] btzr-io commented on #539
![test](https://user-images.githubusercontent.com/14793624/30413360-c16eaeb0-98da-11e7-8bb1-07cd872d7d5d.jpeg)

[2017-09-14 06:03] btzr-io commented on #539
<img width=650 src="https://addpipe.com/blog/wp-content/uploads/2015/06/Screen-Shot-2015-06-10-at-16.48.07-1024x482.png" />

[2017-09-14 16:26] tzarebczan commented on #544
@unclejed613 I think your issue is a little different - probably more rendering related. Are you using a VM or a regular desktop? If you open up developer tools ( Developer > Tools from the top menu bar), do you see any errors these while clicking the drop down?

[2017-09-14 16:29] tzarebczan commented on #544
@oakey22 - I do see something related to UPNP failures in your log, but it most likely wouldn't cause this issue. Do you have UPNP enabled on your router? It's trying to use port 4444 by default. It may cause some streaming issues if it fails.

Otherwise, same question to you, are you using a VM or is this a regular desktop? I wonder if its somehow related to some graphical issues.

[2017-09-14 17:13] btzr-io commented on #544
Related issues with dropdown render:
https://github.com/electron/electron/issues/7289
https://github.com/electron/electron/issues/4322
https://github.com/avocode/avocode/issues/1158

[2017-09-14 17:47] jsigwart opened #563 "UX: Browser should display image downloads"
## The Issue
Currently the LBRY-app player displays thumbnail images for videos, but no preview for image files. Images are represented by file folder icon on a gray window, and it is not obvious a user needs to click on the file folder icon to view the image.
### Steps to reproduce
1. Download lbry://lbry-app-ui#a54b46b501f23f77599d6b4c6c80854bda31d520 in the app.
2. Notice there is no preview, j

[2017-09-14 17:54] btzr-io opened #564 "Form component should block submit if form fields have errors"
## The Issue
Some forms submit data even when input shows an error or it's empty.

### Steps to reproduce
1. Go to invites.
2. Type an invalid email address, see error: `email: must be a valid email address`.
3. Click submit.

### Expected behaviour
Don't allow form submission until `validation == true`

### Actual behaviour
An error shows in the console, because there isn't a real validation:
[co

[2017-09-14 17:56] btzr-io commented on #564
Related issue: https://github.com/lbryio/lbry-app/issues/551#issuecomment-329342925

[2017-09-14 18:16] tzarebczan commented on #563
If a thumbnail was provided for the image, it would show the thumbnail there.

Seems to display in the app for me after clicking the preview. But when you go out, and come back into the claim, it goes back to preview mode. So I guess the requested enhancement here would be to auto show the file in the app if its already downloaded (any bypass any thumbnail if it exists)?

[2017-09-14 18:25] jsigwart commented on #563
Tom can see images in his browser, but this is what I see for every image file download:
<img width="1267" alt="screen shot 2017-09-14 at 11 13 41 am" src="https://user-images.githubusercontent.com/1363664/30446870-409f58b0-993f-11e7-93fe-1c6670553fe0.png">

[2017-09-14 18:36] oakey22 commented on #544
I have checked the router and UPNP is enabled, i am also running this on linux desktop.

I dont get a black box, i just get nothing other than Anonymous and New channel, neither do anything and i get the updating channels ... all the time underneath

[2017-09-14 18:37] MSFTserver commented on #563
@tzarebczan nope not working on windows
![no-thumbnail-issue](https://spee.ch/58b96882af68087bc4da60d0f050d05c3e19480d/no-thumbnail-issue.gif)

[2017-09-14 18:45] tzarebczan commented on #563
It's doing exactly what it's intended to - see my UX comments in other post. The question I guess is should we auto-preview the file (skipping the thumbnail) if someone has it downloaded. And then the next question is, what types of content do we do this for?

The same scenario happens with videos. When you go to the page, you see the uploaded thumbnail. If you click download, it downloads the fil

[2017-09-14 18:46] #543 closed

[2017-09-14 19:40] lyoshenka opened #565 "Exclude blocked content from app"
List of blocked outpoints is at https://api.lbry.io/file/list_blocked

[2017-09-14 19:44] jsigwart commented on #563
I would think for video content, it should show the thumbnail (if available), and if it is an image file format, it should show a scaled version of the content in the preview window.

[2017-09-14 21:17] tzarebczan commented on #563
@jsigwart can you edit the original issue with the new information and what your suggestion for the UX improvement would be?

[2017-09-14 23:04] jsigwart commented on #563
Updated description.

[2017-09-15 05:27] alexliebowitz commented on #556
@kauffj

On Tuesday we decided I would look into this. My findings:
  - It's just an interface to Squirrel, which is popular and well supported.
  - It appears that on Mac it's supposed to work out of the box.
  - The explanations for Windows are more vague, but it sounds like it may depend on using one of the standard Electron Windows installer packages. I think I remember us having some scary ho

[2017-09-15 13:54] kauffj opened #568 "Additional Tipping Fixes/Changes"
There are a few outstanding things that need to be done to release tipping:

- Transaction list doesn't display empty message when filtered/sorted to nothing (e.g. you have one and only one transaction, which qualifies as dust)
- Transaction list is very slow. It probably ought to display previous state when available and display a refresh indicator ala the homepage (navigate to the homepage after

[2017-09-15 21:59] kauffj commented on #556
... so @alexliebowitz want to do this for Win + Mac? :grinning:

[2017-09-16 14:12] fbruetting opened #570 "Flatpak support"
With most free applications moving towards Flatpak, please provide such an image, too!

[2017-09-16 16:56] finer9 commented on #570
I've heard this request many times from Linux users

[2017-09-16 16:59] fbruetting commented on #570
I don’t know if Electron can be used in conjunction with Flatpak. But getting rid of Electron would be beneficial for performance, so this would be pretty good. 😎

[2017-09-16 17:15] tzarebczan commented on #570
We've also discussed appimage packaging in the past as well. Not sure how that compares to flatpak.

Getting rid if electron means developing native solutions on each OS, which is not something we want to do at this time.

[2017-09-16 17:24] fbruetting commented on #570
AppImage is deprecated – Flatpak can do everything what AppImage does and much more!

[2017-09-16 17:26] tzarebczan commented on #570
Good to know, thanks! I'll update that original app image issue and link these.

[2017-09-16 17:27] fbruetting commented on #570
Most programs of the Gnome desktop get ported to Flatpak until 3.28. At the moment a lot is ported already, so this is the way to go. It also is already integrated into the Gnome Appstore. ;)
For more information, see:
www.flatpak.org and www.flathub.org

[2017-09-16 21:35] HoboPrimate commented on #570
Endless people are tackling this issue (flatpaking electron apps):

https://github.com/endlessm/electron-flatpak-base-app
http://blog.manuq.com.ar/posts/building-electron-apps-offline-for-flathub/

[2017-09-17 01:14] alexliebowitz commented on #556
I'll bite!

[2017-09-17 01:43] btzr-io commented on #563
@jsigwart  I published that on `spee.ch`
( there isn't an option for thumbnails there ) :stuck_out_tongue: ^^

You can use a gif too:

<img src="https://user-images.githubusercontent.com/14793624/30517220-e221f940-9b15-11e7-9396-5ff5b84d58e9.gif" width=500 />

I think this issue belongs here -> https://github.com/lbryio/spee.ch/issues/

[2017-09-17 01:57] eriknelson commented on #508
+1,must have feature for me.

[2017-09-17 02:03] btzr-io commented on #563
I guess it depends on the file type and the user,
maybe add an option in settings to toggle this feature ...

But this seems to be a different issue...

[2017-09-17 03:02] btzr-io commented on #540
All that could be handle more eassy if we split: `publish / edit / new channel `
https://github.com/lbryio/lbry-app/issues/528#issuecomment-327068051

[2017-09-17 13:15] eriknelson opened #572 "Seeing app hang during startup on "Fetching Content...""
## The Issue
Seeing the app during startup on "Fetching Content...".

### Steps to reproduce
1. Built from source (tag v0.15.1), installed libsecret/libsecret-devel & keytar
2. Launch app
3. See it hang

### Expected behaviour
App should start, or ideally display an error message with missing dependency.

### Actual behaviour
App does not start, sits at "Fetching Content..."

## System Configurati

[2017-09-17 14:19] tzarebczan commented on #572
It's most likely the gnome-keyring. Up to you if you want to try installing.

Already reported in this https://github.com/lbryio/lbry-app/issues/422 and the issue mentioned there.

[2017-09-17 15:51] eriknelson commented on #572
@tzarebczan thanks, that was it. For Fedora with my setup, I needed to install `gnome-keyring` and then configure my DM (lightdm) to start and unlock gnome-keyring using PAM, which required an additional package (`gnome-keyring-pam`).

Would it make sense to add some kind of validation to the app that confirms `org.freedesktop.secrets` is available, and to have an explicit error notification? I be

[2017-09-17 15:56] tzarebczan commented on #572
Glad you got it up and running, sorry for your trouble.

We have the issue logged in github, the real solution would be to use some kind of token generation that works across all Linux platforms. You shouldn't have to install some gnome software when it doesn't even apply to your system.

Send us an email to help@lbry.io to claim a little tip for getting this far and for the suggestion.

[2017-09-17 16:01] eriknelson commented on #572
+1, a dependency on a particular DE setup doesn't make a lot of sense. #386 is the tracking issue? I might be willing to take a stab at it if I get some time.

[2017-09-17 19:40] eriknelson commented on #572
Going to close this as a duplicate.

[2017-09-17 19:40] #572 closed

[2017-09-17 19:46] tzarebczan commented on #572
Yes, #386 would be the one to use.

Thanks!

[2017-09-17 20:11] btzr-io commented on #553
@tzarebczan this is fixed in `v16`,
do we need a temp fix for `15.x.x` ?

[2017-09-17 20:20] tzarebczan commented on #553
I think that's a question for @kauffj, but think we are going with a v16 release next.

[2017-09-17 21:29] finer9 commented on #556
@kauffj are we still seeking a windev or does this cover it?

[2017-09-18 02:26] kauffj opened #578 "Refactor file_delete to happen inside of FilePage"
Rather than deleting files via a modal popup, deletion can happen inside of a 'tab' of `FilePage`, the same way tipping works.

[2017-09-18 02:30] kauffj opened #579 "Keep video playing when navigating from a playing video"
When the user navigates from a page with a playing video, this video can be displayed in a picture-in-picture-esque popup, ala Twitch.

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without errors
- [ ] Unit tests are written and passing
- [ ] Tests on devices/browse

[2017-09-18 02:33] kauffj opened #580 "Show tipping/support history on FileActions"
As a user, I'd like to be reminded of my past contributions to creators/content when I revisit the page.

Currently, after sending a tip, I receive a snack bar overlay, but no ongoing feedback to let me know that I've tipped a creator before.

[2017-09-18 02:34] kauffj opened #581 "Allow claims to be revoked from TransactionList"
As a user, I may want to use TransactionList to see past supports, publishes, claims, etc. It would be convenient to have the ability to reclaim credits from this screen.

[2017-09-18 02:51] btzr-io commented on #579
I don't think this is gonna be that easy but I'll try :stuck_out_tongue:

[2017-09-18 03:40] btzr-io opened #582 "Can't build last version"
## The Issue
I can't build  the latest branch `v16`

### Steps to reproduce
1. Clone branch `v16`
2. run `./build.sh`

### Expected behaviour
`./build.sh` should make a working build.

### Actual behaviour
The build process is closed before installing dependencies:
[code]
after that I start the app and then get this:
[code]

[2017-09-18 04:17] aayanl commented on #582
related package https://www.npmjs.com/package/jayson

[2017-09-18 04:20] btzr-io commented on #582
My problem is that build exit before installing the dependencies from:
https://github.com/lbryio/lbry-app/blob/master/app/package.json#L11

[2017-09-18 13:15] lyoshenka commented on #422
Duplicate of #386

[2017-09-18 13:15] #422 closed

[2017-09-18 14:22] tzarebczan commented on #582
I'm seeing the same issue - stops after the wget on rc9 daemon. When I start the app, it can't seem to find the daemon. Going to try building from scratch again.

[2017-09-18 14:50] tzarebczan commented on #582
After fresh re-build, can confirm I am getting the same as @btzr-io

[2017-09-18 15:44] tzarebczan commented on #332
@zestyr - we also had some discussion on flatpak here: https://github.com/lbryio/lbry-app/issues/570

Do you know which would be the better route to go in order to support the most Linux distros?

I see some comparisons here:
https://www.reddit.com/r/linux/comments/59njka/the_biggest_winner_of_snap_v_flatpak_is_appimage/
https://www.reddit.com/r/linux/comments/4kxbqp/appimage_snaps_flatpak_pros_an

[2017-09-18 16:08] kauffj commented on #386
This issue seems to be pretty common -- we really ought to be at least erroring on this in a clean enough way that users understand what's happening if we can't fix it outright.

[2017-09-18 16:09] kauffj commented on #582
It's pointed at a draft (non-public) RC. This will be fixed when 0.16.0 comes out which should happen soon. If you want to fix your build locally, change rc9 to rc8 in package.json.

[2017-09-18 16:09] #582 closed

[2017-09-18 16:45] kauffj commented on #579
1. Put component `VideoOverlay` (or similar) in `App` inside of `"main-content"` div.
1. `VideoOverlay` renders a video iff `selectPlayingUri` and not on a show/file page.
1. Remove/modify cancelPlay in unmount of `Video`, so that the playing URI is not cleared when the user navigates away from a video.
1. Add cancel/x/close option to `VideoOverlay` that clears the playing URI (and thus closes the

[2017-09-18 18:13] probonopd commented on #332
Unlike Flatpak packages and other solutions, AppImages run on most Linux systems out of the box, do not need root, and involve no complicated commands on the command line.

[2017-09-18 20:04] Collinthegeek opened #583 "Build fails on Fedora 26(4.12.12-300.fc26.x86_64)"
[code]

[2017-09-18 20:10] tzarebczan commented on #583
Looks like its due some missing prerequisites - please take a look at https://github.com/lbryio/lbry-app/blob/master/README.md - specifically the keytar step.

Once you do get it installed, you may run into https://github.com/lbryio/lbry-app/issues/572 - please see conversation regarding gnome keyring/authentication token requirements. We know this is an issue for any users and are tracking the ro

[2017-09-18 20:12] MSFTserver commented on #583
it may also be these packages you could try along with @tzarebczan suggestion i also made a prebuild-dependecies script i can see if that works on fedora that should get everything you need to compile it no issues, so far it works on ubuntu and elemataryos but try this to:
[code]
and then
[code]

[2017-09-18 21:44] kauffj commented on #553
Confirmed, this is fixed.

[2017-09-18 21:44] #553 closed

[2017-09-18 21:51] kauffj commented on #552
@tzarebczan please verify this is fixed once you see a v0.16 app draft or RC posted. If fixed, close, if not, reassign to me.

[2017-09-18 22:17] #542 closed

[2017-09-19 01:54] #583 closed

[2017-09-19 02:12] btzr-io commented on #579
Also needs an autoplay feature and let's not forget about this one: https://github.com/lbryio/lbry-app/issues/491

[2017-09-19 02:29] btzr-io opened #584 "Automatically play free or already purchased content"
## The Issue

### Steps to reproduce
1. Open a claim video / music ( maybe images and gifs too ).
2. Click on play / open.
3. Wait for the content...

### Expected behaviour
There should be an option in settings to toggle this feature:
I open a claim and then the video starts playing no need to wait or click to play,
same for images or gifs and music.
( content already downloaded / purchased, obvi

[2017-09-19 02:32] tzarebczan commented on #584
What do we want to happen if the video costs money? Prompt the user automatically for purchase? Don't do anything?

I know there's also a recent change to allow content under a certain LBC/USD  to skip the purchase confirmation screen... Also need to decide if those should autoplay, but my guess is no.

[2017-09-19 02:35] btzr-io commented on #584
This is my initial idea:

[2017-09-19 02:40] btzr-io commented on #584
I guess this sounds right to me: `Prompt the user automatically for purchase`

One solution could be to force the popup just in this case ( autoplay: on )

[2017-09-19 02:43] btzr-io commented on #584
@tzarebczan I need it internally so right now the safe / simple way is only for `downloaded` content

[2017-09-19 07:23] oakey22 opened #586 "Open button, opens folder if file has been deleted on v16"
## The Issue

If you download some content on v16 and then delete the file outside of the app. It does not tell you the file is missing and redownloads. It opens the download folder instead

### Steps to reproduce
1. Download any content
2.Go to the file explorer and delete that file from your downloads folder
3. click on the content you previously downloaded from the main page and then click open

[2017-09-19 13:23] kauffj commented on #560
@tzarebczan can you reliably make this happen?

[2017-09-19 13:25] kauffj commented on #563
I'n not sure we can do this without downloading the actual image (which may just be okay?)

However, I agree the UX is poor here regardless.

[2017-09-19 13:27] kauffj commented on #564
This is a real issue (e.g. try entering an invalid amount on a wallet page), but note that we sometimes encounter 400s as part of typical/proper usage (e.g. in the case of rewards, we frequently just try to claim them and can receive a 400 if not allowed).

[2017-09-19 13:32] kauffj commented on #570
Per discussion still happening on #332, it doesn't seem like there is a consensus that Flatpak > AppImage.

I'm open to changing this, but it's unlikely we're adding 2 new ways to package an app on our least popular OS.

[2017-09-19 13:32] kauffj commented on #332
Per discussion still happening on #570, it doesn't seem like there is a consensus regarding AppImage vs. Flatpak.

I'm open to changing this, but it's unlikely we're adding 2 new ways to package an app on our least popular OS.

[2017-09-19 13:35] tzarebczan commented on #560
@kauffj yea, using the quickly close LBRY when it's starting trick. That gets lbry.exe stuck in the background and then the error occurs when you start it again.

I'm sure there are other reasons why Lbry.exe could get stuck in the background (just happened to me earlier when upgrading.... Got stuck after closing it) but these are more difficult to pinpoint.

[2017-09-19 13:39] kauffj commented on #584
I don't think we need an option or settings for this. People expect content to play.

I'd propose that as a first step, content that is free or already purchased automatically play when rendered by `FilePage`.

Additionally, if we make this change, I'd like to modify the video loading component to give more of a visual indicator of the content (since you won't see the poster if you simply changed

[2017-09-19 13:39] #568 closed

[2017-09-19 13:46] finer9 commented on #556
Do I need to find a windev?

[2017-09-19 14:01] kauffj opened #588 "Fix whatever is wrong or confusing with invite claims"

[2017-09-19 14:05] kauffj opened #589 "transaction_list is very slow"
Especially with `include_tip_info=true`.

[2017-09-19 14:16] eriknelson commented on #332
Throwing my hat in; I'm a Fedora user that started playing around with lbry this weekend (exciting project!). Seeing only a `.deb` I had to build from source, which unfortunately requires setting up a bunch of deps, c libs, nvm, python virtualenv etc. I'm pretty used to having to do this, but I would have liked to have something like an AppImage if I'm just trying out the project.

I prefer Flatpa

[2017-09-19 14:22] kauffj commented on #552
#588

[2017-09-19 14:43] tzarebczan commented on #544
@oakey22 - does this still happen in v16?

[2017-09-19 14:49] tzarebczan commented on #588
Have an internal issue open for some discrepancies with what the app is showing as claimable vs what's actually claimed when `Claim` is clicked.

Regarding the original issue in #552 - the error is now suppressed, but don't get feedback from the app that I already claimed my 1 referral reward.

[2017-09-19 16:01] jsigwart commented on #563
The more I think about this, I think there is a bigger issue here that won't be a quick fix. When you upload a video to YouTube, the file is processed on the backend to create optimized video files for different devices plus a thumbnail (unless you upload a thumbnail file - available on certain YouTube accounts). This raises questions about the app creating additional files to be stored on the use

[2017-09-19 16:13] tzarebczan opened #590 "Lighthouse errors / blob cost timeout?"
## The Issue
Thile upgrading from 0.15 to 0.16RC1 on 3 machines, I noticed that multiple items on the homepage showed up with a * next to price/Free, which is usually related to bandwidth hosting fees.  The daemon would show the following on these items:
`2017-09-19 09:13:39,915 WARNING  lbrynet.daemon.Daemon:765: Timeout getting blob for cost est for lbry://linked-ep16, using only key fee`

Resta

[2017-09-19 16:21] btzr-io commented on #584
Ok, but disagree with this, what happen if I click in the wrong claim could be `nsfw` or have annoying music, I think the user should have control of this ^^

[2017-09-19 16:31] btzr-io commented on #584
https://developers.google.com/cast/downloads/GoogleCastAutoplayUXGuidelines.pdf

[2017-09-19 16:40] btzr-io commented on #584
I don't get this one ? ^

[2017-09-19 16:52] tzarebczan commented on #590
on the subsequent restart of app/deamon, no errors, but instead ??? for all prices (may not have waited long enough for stream estimate to complete).. Restarted again, and got the `Timeout getting blob for cost est for lbry://jp-k-dYktgmNUg` issue again, so it's probably not related to my clearing of the auth token.

Something definitely going on, I don't remember having this much trouble lately.

[2017-09-19 18:06] fbruetting commented on #570
Flatpak neither needs root, nor involves complicated commands. It is directly integrated into the Gnome appstore and non-gnome distros will support it too, soon – if they don’t yet provide it already, as e.g. KDE does. With Gnome and KDE you reach >98% of all Linux desktop users – the rest seems to be able installing it via `flatpak install --bundle LibreOffice.flatpak`, or double-clicking the fil

[2017-09-19 18:14] tzarebczan opened #591 "V16RC - Pagination broken, app doesn't show other pages"
## The Issue
When you go to lbry://@Lunduke and try to page through using the controls at the bottom, nothing seems to happen. The URL is updated, but you are not taken to the new page.  If you click Enter in the address bar, nothing seems to happen either.

I know there was a recent change to the daemon which returns the latest uploaded content first on a channel.

### Steps to reproduce
1. go to

[2017-09-19 18:53] kauffj commented on #570
@HoboPrimate @fbruetting would either of you be interested to add support for flatpak yourselves? We'd be happy to offer commensurate LBC bounty.

[2017-09-19 18:56] kauffj commented on #332
Thanks @eriknelson and glad you were able to still get this set up.

We'll look to get this fixed. Let me know if you'd be interested to contribute on this or elsewhere.

[2017-09-19 19:00] kauffj commented on #584
I'm fine with an option to disable, but autoplay should be the default behavior. And I'd be fine releasing this without an option.

Regarding the loading component, I'd like the loading display for a video to give more feedback about the content itself, especially if autoplay is added. Currently the loading message is white text on a black background. If content autoplays, it will go immediately t

[2017-09-19 19:03] tzarebczan commented on #588
Odd, it looks like the console error is back again:

[code]

[2017-09-19 19:07] kauffj opened #592 "Offer thumbnailing via spee.ch"
Allow a user to select an image and upload it to spee.ch, so that they do not need to enter a URL for the thumbnail.

See [spee.ch repo](https://github.com/lbryio/spee.ch) for spee.ch API details.

[2017-09-19 21:09] ChronosCrypto opened #593 "Transaction history doesn't match balance after attempting to claim a reward"
### Steps to reproduce
1. Create new account
2. Claim "Go for a Stream" reward
3. Be told that the requirements for the reward haven't been met yet
4. View a video to qualify for reward
5. Restart application
6. Claim reward
7. Be told that the reward has already been claimed
8. Notice +2 LBC in transaction history, and the reward is gone, but balance is not increased.

### Expected behaviour
Rewa

[2017-09-19 21:14] tzarebczan commented on #593
We are working on improving the wallet transaction list details. Your missing LBC are most likely being reserved in the channel or claims you created (the two negative tx which show the fee). The next version will show the amounts as well.
Check out lbry.io/faq/how-to-publish for more publishing details.

[2017-09-19 21:14] #593 closed

[2017-09-19 21:34] hackrush01 opened #594 "Inconsistencies in the Txn list."
Two issues:

1. All tips are shown as negative amounts, same with supports. Whereas these should be positive, or negative depending on where is it accessed from(-ve for sender, +ve for receiver).

2. All transactions which are basically dust(fee only txns) are also shown in the UI.

What's causing them

1. Not all amount can be assumed to be negative
https://github.com/lbryio/lbry-app/blob/master/

[2017-09-19 21:39] tzarebczan commented on #594
Thanks @hackrush01 . Can confirm 1 needs to be fixed.

For #2, the only type of TX that I can think (which would cause a problem at the moment) where tx fee = amount (or at least how its shown now) is a claim abandon. I think we need to add a new category for Abandoned Claims. The amount should show the LBC amount going back into the wallet, along with the publish fee as the fee.

[2017-09-19 21:54] HoboPrimate commented on #570
@kauffj I commented on the thread with the info on current efforts for flatpaking electron apps, but I don't have the skills myself unfortunately. Am just a linux user who came across this application (by mention in one of bryan lunduke's videos) who doesn't run debian/ubuntu.

[2017-09-19 22:56] tzarebczan commented on #384
UPDATE:  #1/2/3 above are still happening in v16 with the caveat that the supported claim needs to be downloaded to reproduce the issue. #2 is compounded on the claim page now because it will show an Edit button. #3 still happened to me, but @hackrush01 wasn't able to reproduce.

![holi](https://user-images.githubusercontent.com/8120721/30619197-28c2d2a4-9d6c-11e7-8d6f-01d8125942ae.JPG)

![holi2](

[2017-09-20 11:11] SANOEK60 commented on #291
I have tried everything without succes please Help !
Do I lost my wallet now?

[2017-09-20 12:02] tzarebczan commented on #291
Have you looked at https://lbry.io/faq/startup-troubleshooting ?

What os? Please provide logs.

[2017-09-20 12:58] SANOEK60 commented on #291
Already tried everything No results ? IOS Mac pro

[2017-09-20 13:00] tzarebczan commented on #291
I replied to you on slack, give a reboot, Uninstall, reinstall a try. Then follow my other instructions about the log file.

[2017-09-20 13:04] SANOEK60 commented on #291
I have Deleted all files from previous instalation do not find backup files ...

[2017-09-20 13:13] tzarebczan commented on #384
And he's a screenshot for the edit button of a claim I don't own (but support)
![notmyfile](https://user-images.githubusercontent.com/8120721/30645530-ff017ba0-9de3-11e7-8b05-f622ab280bba.JPG)

[2017-09-20 13:31] SANOEK60 commented on #291
If I install on a Windows pc and sign in with my email and give the details from the transfer Bitrex to wallet with address Is it possible to get the coins back?

[2017-09-20 14:20] SANOEK60 commented on #291
I have new install now on a Windows pc !
How to get my coins in the wallet ?

[2017-09-20 14:40] tzarebczan commented on #291
@SANOEK60 I'll work with you on Slack. Check your messages.

[2017-09-20 14:41] tzarebczan commented on #588
@kauffj , per our convo, it's happening here:
[code]

[2017-09-20 15:43] MSFTserver opened #595 "Ensure consistent ratio for thumbnails"
**Ticket addendum**. The proper solution for this ticket is likely not to expand the images, but to keep the ratio used consistent (or at least ensure all the ratios used look good).

## The Issue
thumbnail sizes in browsing section displays them as squares but doesnt properly resize the thumbnail and cuts off sides of the images
### Steps to reproduce
1. browse any videos in the search bar
2. not

[2017-09-20 17:47] tzarebczan commented on #588
Other issue is here: https://github.com/lbryio/lbry-app/blob/master/ui/js/component/inviteList/view.jsx#L50

That should point to Claimable
API:
[code]

[2017-09-20 20:42] tzarebczan opened #596 "Available rewards not refreshed after reward is claimed"
## The Issue
If you claim a reward, it still shows it on the list of available rewards.  After doing a Developer>Reload, it then disappears.  If you click on it again, tells you its already been claimed. Probably just need to refresh the list after claiming.

### Steps to reproduce
1. Redeem a Reward
2. Reward stays on top section with available rewards

### Expected behaviour
Remove claimed Rewar

[2017-09-20 20:54] filipnyquist commented on #557
The current apiDoc is located at: https://lbryio.github.io/lighthouse/

[2017-09-20 21:32] tzarebczan commented on #590
Fixed in latest RC.

[2017-09-20 21:32] #590 closed

[2017-09-20 21:34] tzarebczan commented on #594
First one is fixed in latest RC, 2nd one still needs to be looked at. I'll open a separate ticket for the abandon scenario.

[2017-09-20 21:35] tzarebczan commented on #589
Fixed per Jack in https://github.com/lbryio/lbryum/pull/156

[2017-09-20 21:35] #589 closed

[2017-09-20 21:36] tzarebczan commented on #586
@oakey22 can you try this on the latest RC/master? It should be fixed but will wait for your confirmation.

[2017-09-20 21:40] tzarebczan commented on #548
@oakey22 I can't seem to reproduce this on Windows with the latest v16RC7. Can you try it on the latest update? I'll give it a shot on Linux later on too.

[2017-09-21 03:21] wilsonk opened #597 "Add video length and size metadata"
## The Issue
Consider adding to:
file tiles (at least length?)
file details (both length and size?)

We also have file name, but don't think we need to show that before downloading?

## System Configuration

- LBRY Daemon version:
[code]

- LBRY App version: 0.15.1
- LBRY Installation ID:26bru4Kjp3i3VM5KTFVV3ESEkDWEb9CCA2ate4L9XJYTr8PHUK4jPDQqz4JsG73Wfr
- Operating system: Linux (Linux-4.4.0-93-ge

[2017-09-21 09:50] oakey22 commented on #586
This is still happening in the new v16 RC7. If the file is not in your downloads directory it opens the directory when you click Open

[2017-09-21 10:02] oakey22 commented on #586
https://spee.ch/71c8c83934d31de9adb43233b57c765159759c70/jsdkljsdkljlksa.gif

[2017-09-21 10:05] oakey22 commented on #548
still happening for me on v16RC7, it seems to crash it when i click Publish and then off it straight away.

Could be linked in to #544

[2017-09-21 10:05] oakey22 commented on #544
Still happening in v16RC7 for me

[2017-09-21 12:59] kauffj commented on #594
@hackrush01 see https://github.com/lbryio/lbry-app/blob/master/ui/js/selectors/wallet.js#L24

They're supposed to be filtered there.

[2017-09-21 12:59] #594 closed

[2017-09-21 14:44] tzarebczan commented on #544
Rouse is also having the same issue, I'll try to troubleshoot with him.

[2017-09-21 14:58] tzarebczan commented on #544
@kauffj below is the line it's happening on > 35209 in bundle.js

[code]

[2017-09-21 15:03] probonopd commented on #332
Check out the AppImage support built into [electron-builder](https://github.com/electron-userland/electron-builder). Should really make it easy to produce an AppImage.

[2017-09-21 15:08] kauffj commented on #557
Nice docs!

[2017-09-21 15:15] kauffj commented on #556
@finer9 no

[2017-09-21 19:10] tzarebczan opened #599 "Price not repopulated during edit of claim"
## The Issue
When editing a claim that had a price, the price is not repopulated into the Publish screen. This happens on both the Publish > Edit existing claim entry and the Edit Claim button from the claim page.  This happens for both LBC and USD prices.

### Steps to reproduce
1. Edit content that had a price set via Edit Claim button or Publish screen
2. Notice that the price is not repopulate

[2017-09-21 19:16] tzarebczan opened #600 "Cannot edit claim 2nd time around via Edit Claim button"
## The Issue
The Edit Claim button doesn't seem to re-populate any claim data when trying to edit a claim that was recently edited.  Developer>Reload or clearing the cache don't help, need to restart the app again to be able to edit via the button. You are able to edit via the Publish screen after typing the URL > Copy existing claim data.

Note- after the first edit, updated claim info is not sho

[2017-09-21 20:41] tzarebczan opened #601 "Selecting new file during edit changes URL"
## The Issue
When editing an existing claim and selecting a new source file for upload, the URL is then autogenerated from the title. This should not happen when editing a claim.  Sam,e should happen if "Copy existing data" was clicked from the Publish menu.

### Steps to reproduce
1. Edit a claim
2. Select new file
3. Notice URL changes

### Expected behaviour
The URL should stay static as this i

[2017-09-21 21:50] tzarebczan opened #603 "LBRY network status indicator in App"
## The Issue
As a LBRY user, I want to make sure that my PC and network configuration allows for the sharing and consuming content.  We should have some type of indicator which checks connectivity on the daemon TCP port (3333) and the DHT UDT port (4444).

For content sharing to properly work, hosts need port 3333 accessible and open to the internet. If the port is not forwarded correctly, their P

[2017-09-22 01:15] kauffj opened #604 "Set appropriate step property on credit inputs"
Currently the step property is:

- Inconsistent (0.1, 0.01)
- Prevents sending or publish for small amounts.

If the step de facto enforces a minimum, it may need to be dropped entirely.

[2017-09-22 05:18] wilsonk commented on #393
It seems as though this has been fixed in v0.16? Should this ticket be closed? Hopefully :)

[2017-09-22 05:27] wilsonk commented on #393
Woops, sorry I must have jumped the gun on this one (ie. didn't wait long enough for the search function to auto engage). My bad :(

[2017-09-22 07:41] oakey22 commented on #544
Can confirm that this is working now with the above change

[2017-09-22 07:42] oakey22 commented on #548
this is now working since the fix for channel names,

https://github.com/lbryio/lbry-app/commit/4ed7d2cba9e7f6b2f0fccdd22bdc11ae85bfdaf5

[2017-09-22 13:06] kauffj commented on #548
Yes, that trace is the same error as the issue with channel names. Going to close this.

[2017-09-22 13:06] #548 closed

[2017-09-22 13:11] mirgee opened #605 "UI glitch after accessing a video without enough credits"
## The Issue
A UI glitch (see screenshot below) appears after trying to play a searched video without enough credits.

### Steps to reproduce
1. Make sure you don't have much credits
2. Search for a video
2. Click on a search result you don't have enough credits for
3. Try to play the video
3. Click on Not now

### Expected behaviour
Page of the video, like this:
![screenshot from 2017-09-22 10-28

[2017-09-22 13:16] kauffj commented on #393
#579 will fix this and is being worked on, so I'm going to close this one.

[2017-09-22 13:22] tzarebczan commented on #605
So the video spins and the play button disappears? I'll try to reproduce later.

Anything in the console or network logs?

[2017-09-22 13:41] mirgee commented on #605
@tzarebczan The screenshot didn't upload for some reason, hope it's better now. Spinning and play button disappearing is what happens on videos through featured. This is probably intended and acceptable. The actual behavior after search is not.

[2017-09-22 14:08] #588 closed

[2017-09-22 14:36] tzarebczan opened #606 "Bring back Open File Location / way to locate downloaded file"
## The Issue
In v16, users lost the ability to open the file explorer to the location of the file. Right now they can open the file manually using Open (which opens it externally) or they can see the path in the "Downloaded to" section.  So currently its difficult to locate the file because you don't even know what its called.

Maybe the solution is to add the filename to the "Downloaded to" path

[2017-09-22 16:10] tzarebczan commented on #588
If we are closing this, I'm going to re-open https://github.com/lbryio/lbry-app/issues/552

Maybe it's happening because I've redeemed all my rewards?

[2017-09-22 16:11] tzarebczan commented on #552
Reopening so we can track this, lower priority for now.

[2017-09-22 19:05] tzarebczan commented on #597
@wilsonk thanks for the feature suggestion!  Check out https://lbry.io/faq/tips

I'll probably have to open up a complimentary issue on the [lbry protocol](https://github.com/lbryio/lbry-app/issues/) side so that this data is captured during upload.

[2017-09-22 21:01] kauffj commented on #606
If the link for "Downloaded To" is not opening the folder when clicked, this is a bug.

If it _is_ doing that, but you were confused, then this is just poor design.

[2017-09-22 21:06] tzarebczan commented on #606
It opens to the folder which contains the LBRY download folder. I.e. my downloads folder is "D:\LBRY Downloads" and clicking the link goes to D:\ and highlights the LBRY Downloads folder.  Not sure if that was the intention or not. The scenario I was talking about is where it highlights the particular downloaded file inside the downloads folder.

[2017-09-22 21:11] kauffj commented on #606
This is a bug, since it is supposed to open the folder. But I think it is a UX issue too, since the intended behavior was unclear.

[2017-09-22 21:11] tzarebczan commented on #604
Don't think we have anything that enforces a minimum. There is this discussion that needs a resolution though: https://github.com/lbryio/lbry/issues/768

Whatever we do, we should mention the minimum publishing amount and also alert the user to publishing fees (tx fee).

[2017-09-22 21:15] tzarebczan commented on #552
Nope, still there.  I think it was suppressed on the original v16RC when my transaction list was broken. https://github.com/lbryio/lbry-app/issues/588#issuecomment-330873538 shows the code its failing on. It could be related to the fact that I redeemed all my rewards?

I'd say its low priority, I haven't seen this from anyone else.

[2017-09-22 21:20] tzarebczan commented on #586
I'm pretty sure this was always the functionality.  If you try to stream the content again, that's when it tries to redownload it. Clicking Open causes the file to be opened in the local file explorer.

I agree it should check if the file exists and confirms if the user wants to re-download/regenerate it.

[2017-09-22 21:54] kauffj opened #607 "Update all Icon components to use consts and add titles"
#555 switches the `Icon` component to support constants rather than strings.

Additionally, it's worth looking at whether additional icons should have title properties while doing this.

[2017-09-22 22:01] tzarebczan opened #608 "Transaction List - categorize and fix amount for abandon transactions"
## The Issue
Currently, a claim or channel abandoning transaction shows as a "Spend" and only displays the fee (twice).  It should be possible to determine when a transaction is an abandon and show the reclaimed LBC (positive) as the Amount.  The claim name should also be shown (even though it's abandoned - it will go to a blank claim)

Opened https://github.com/lbryio/lbry/issues/946 on the lbry

[2017-09-22 22:10] #389 closed

[2017-09-22 22:19] btzr-io commented on #599
@tzarebczan so this was working before?

[2017-09-22 22:45] tzarebczan commented on #599
It was broken in v14 and 15 too. No one ever caught it haha.

[2017-09-22 22:46] tzarebczan opened #609 "ShapeShift integration into LBRY app"
## The Issue
Since LBRY is a blockchain based project, lots of LBRY users are cryptocurrency enthusiasts who could benefit from having the ability to acquire more LBRY Credits through the LBRY app using Shap[eshift to convert from many different other cryptocurrencies.

Other possibly helpful projects:
https://github.com/ExodusMovement/shapeshift.io
https://github.com/OpenBazaar/OpenBazaar-Client/

[2017-09-22 22:52] btzr-io commented on #599
All my published content it's free content :stuck_out_tongue:

[2017-09-23 04:28] btzr-io commented on #595
@MSFTserver I'll add this in `redesign` todo list

[2017-09-23 18:26] btzr-io commented on #606
Fixed but won't work in linux:
https://github.com/electron/electron/blob/db6d75ca90ebe23d70f40f767264f7c2d77f882e/atom/common/platform_util_linux.cc#L70

[2017-09-23 18:56] btzr-io commented on #606
Linux needs a fallback:
Ubuntu: `nautilus /path/myFile.txt`
Elementary: `pantheon-files /path/myFile.txt`

[2017-09-23 20:42] #497 closed

[2017-09-23 20:48] oakey22 commented on #609
Oh I do love this idea, would be fantastic to have this

[2017-09-23 22:49] btzr-io commented on #606
Need some confirmation / feedback to send a PR :stuck_out_tongue:

[2017-09-24 02:29] btzr-io commented on #393
<img width=500 src="https://user-images.githubusercontent.com/14793624/30778881-a52cee18-a09d-11e7-8735-491d3494c8ae.gif" />

[2017-09-24 02:46] btzr-io commented on #606
This needs to be merged first: https://github.com/lbryio/lbry-app/pull/61

[2017-09-24 14:06] tzarebczan opened #611 "Transaction List - Claim update amounts incorrect"
## The Issue
Currently, an update claim transaction shows the bid amount as the amount of the transaction. Since an update tx takes the previous bid input, funds are moved from the previous claim to the new one, so they aren't really spent during a transaction where the bid is not changed. In this case, it would show 0 and only a fee.

There are also 2 other scenarios to take into account and calc

[2017-09-24 20:37] #601 closed

[2017-09-24 20:37] #606 closed

[2017-09-24 22:48] btzr-io commented on #164
Fxed in the last version `v1.7.8` :

https://github.com/electron/electron/releases/tag/v1.7.8

[2017-09-25 03:20] btzr-io opened #613 "Unresponsive header"
## The Issue
As pointed out by some users at slack:

![image](https://user-images.githubusercontent.com/14793624/30791119-a83e7a38-a16d-11e7-8a4a-a7284c642c2f.png)

### Steps to reproduce
1. Resize window to `min-width`.

### Expected behaviour
The header should be responsive and don't have a weird behavior
when you resize the window.

[2017-09-25 05:23] jsigwart opened #614 "Published files Sort by Title not working correctly"
## The Issue
Published files list correctly by Date, but not by Title

### Expected behavior
When I go into my Published files, I should be able to view the files alphabetically when I select the Title option.

### Actual behaviour
Please see my screen shot. When I display my videos by Title, they are not in alphabetical order. I'm not sure how they're being displayed. There are two videos that st

[2017-09-25 05:40] jsigwart opened #615 "Free download gets modal popup saying "This will purchase X for free credits""
## The Issue
Purchase modal popup appears for free items asking if you want to buy the item for free credits.

### Steps to reproduce
1. Click to download a free video
2. Watch for popup

### Expected behaviour
Tell us what should happen
I should not be asked if I want to spend nothing for downloading free content.

### Actual behaviour
Tell us what happens instead
Purchase modal popup appears for

[2017-09-25 15:14] kauffj opened #616 "Kill npm and other build clean up"
2 package managers is pretty dumb.

In addition, our set up steps require manual installation of modules that ought to be installable via configuration files.

There was a time when the setup process was:

- Install package manager
- Checkout project
- Run `./build.sh`

We ought to get back to this standard.

[2017-09-25 15:30] lyoshenka commented on #616
npm is only used for `npm rebuild node-sass` ([1](https://github.com/lbryio/lbry-app/blob/dafe9bb87d6dc3f2438aca22f8a47643dee8fc4f/build/build.sh#L69), [2](https://github.com/lbryio/lbry-app/blob/ce0dd5ae62e5daab09523aa49831ca707d521c34/build/build.ps1#L24)) and for [installing yarn on windows](https://github.com/lbryio/lbry-app/blob/ce0dd5ae62e5daab09523aa49831ca707d521c34/build/build.ps1#L7). If

[2017-09-25 16:19] kauffj commented on #164
Nice! @alexliebowitz does this just require an electron update to get working?

[2017-09-25 16:23] kauffj commented on #608
@hackrush01 good one for you?

[2017-09-25 17:02] tzarebczan opened #617 "Wallet Overview - add additional buckets for claims/tips/supports"
## The Issue
Currently, a user is only able to see an LBC balance which denotes total available LBC in the wallet.  Would be a nice feature to show additional information/breakdowns for tips and locked up LBC via supports.  This will also make users more aware of where their LBC is allocated, so there are fewer questions after reviewing their transaction list - they can add up the balances.

Ideas

[2017-09-25 17:44] reillysmith opened #618 "channel subscriptions layout, mgmt"
## The Issue
Subscriptions in the LBRY app: after this feature is added, how should they display?

### Expected behaviour
Tell us what should happen

**Display**
- Subscribe button on all videos connected to a Channel page, as well as on Channel pages themselves.
- Homepage: Up to 10 rows can be cached on homepage Subscriptions; >10 == "Load more..." button
--> how is load more chosen? by channel

[2017-09-25 17:48] reillysmith opened #619 "Nestled Content"
## The Issue
Feature or curate content that doesn't belong to your channel
### Steps to reproduce
1. N/A

### Expected behaviour
Add a piece of content to your channel/playlists in your channel, but the owner of it is still the original URL bidder. So if someone pays to watch the content from @channelA that belongs to @channelB, @channelB still receives the revenue as if it were on their channel.

[2017-09-25 18:20] fbruetting commented on #570
So yeah, Snap only does work for Ubuntu…

[2017-09-26 03:37] btzr-io opened #620 "Better preview for content"
## Update
See https://github.com/lbryio/lbry-app/issues/620#issuecomment-375822739
## The Issue
The preview component seems to give priority for videos and
this affects the rest of the published content ( files ) :disappointed:

### Steps to reproduce
1. Publish a content that isn't a video, audio or image.
2. Go to the claim page and see the preview.

### Expected behaviour
Support multiple previ

[2017-09-26 04:30] unclejed613 opened #621 "channel names and licensing choice dropdowns blacked out while publishing"
## The Issue
when trying to publish, the channel name dropdowns and license dropdowns are blacked out
### Steps to reproduce
1. from a fresh start of the app, publish an item, then try to publish another item
2. when publishing a second or 3rd item the channel name dropdown will be a black rectangle after clicking to open it.  same thing happens to the license dropdown.  when the dropdown is black

[2017-09-26 04:34] btzr-io commented on #621
There are some known bugs with electron: https://github.com/lbryio/lbry-app/issues/544#issuecomment-329548859
That can be fixed using a custom `dropdown` component

[2017-09-26 04:40] btzr-io commented on #621
Example for reference:
https://github.com/JedWatson/react-select

[2017-09-26 06:50] btzr-io commented on #613
Fixed ^

[2017-09-26 12:18] tzarebczan commented on #621
@unclejed613 - thanks for submitting the issue, please check out https://lbry.io/faq/tips :)

[2017-09-26 12:45] tzarebczan commented on #477
This was fixed, now shows popup about verifying humanness

[2017-09-26 12:45] #477 closed

[2017-09-26 12:54] tzarebczan opened #622 "Feature Request: Bookmarking / Watch later lists"
_Edit by Liam:_ **Note to contributors** -- feel free to tackle this! But keep in mind that this needs to be implemented well and integrated well into our design and current redesign efforts. If you want to work on this, I recommend talking to either me or @seanyesmunt.

## The Issue
I've seen this feature requested or talked about a couple times (I think someone was even working on a proof of con

[2017-09-26 12:56] tzarebczan opened #623 "Feature Request: eBook in-app support"
## The Issue
This feature would allow for in-app support of various eBook formats.  Currently, they need to be opened externally. Have seen this talked about or requested a couple times now.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-09-26 13:06] tzarebczan commented on #615
@jsigwart are you able to reproduce this consistently? Does it happen on all free videos? It's not happening to me on Windows. WIll try on Linux in a bit.  What is your max purchase price setting in the Settings area?

[2017-09-26 13:14] kauffj commented on #595
@btzr-io see amendment at top

[2017-09-26 13:19] tzarebczan opened #624 "Setting Max Purchase Price to blank (and then No Limit) produces errors"
## The Issue
If you set the Max Purchase Price in Settings to blank, you get this error:  `float argument required, not NoneType` (LBC setting)/  `float argument required, not unicode `(USD setting) when purchasing content.

If you leave it blank and change the setting to No Limit, you still get the above errors.

### Steps to reproduce
1. Blank out the Max Purchase Price in Settings
2. Try to pur

[2017-09-26 13:24] tzarebczan opened #625 "Can't abandon claim via app if supports added by claim owner or claim is tipped"
## The Issue
If you tip or support your own claim, you can no longer abandon it via the LBRY app.  Also, you run into the same scenario if someone else tips your claim (since this is now your support). The app currently uses the claim_id option to abandon the claim, and because the claim_id is the same on the tip/supports, it's not able to abandon it.  It should be using the txid/nout option of cl

[2017-09-26 13:26] lyoshenka opened #626 "Add Pagination to Downloads/Publishes/Wallet pages"
@tzarebczan commented on [Mon Aug 28 2017](https://github.com/lbryio/lbry/issues/876)

## The Issue
As LBRY usage grows, users will accumulate many items in Downloads, Publishes and in their wallet.  The app should have the ability to paginate on these screens.  This should also make the user experience more pleasant as less data needs to be loaded on each refresh.  Sorting/filtering options would

[2017-09-26 13:31] #261 closed

[2017-09-26 13:39] kauffj commented on #350
I looked at this and re-based it to master. It is going to need to some work. It probably makes sense to hold on this until a larger publishing refactor.

[2017-09-26 14:26] #544 closed

[2017-09-26 14:53] jsigwart commented on #615
Yes, this happens with every item I try to download, free or paid. Screen grab of my settings attached.
<img width="819" alt="screen shot 2017-09-26 at 7 52 38 am" src="https://user-images.githubusercontent.com/1363664/30867079-cbc5229a-a28f-11e7-8f75-c2b6407011b5.png">

[2017-09-26 14:57] alexliebowitz commented on #164
@kauffj: Yep. But I'm not positive that it actually fixes our problem. In the bug they fixed, `app.makeSingleInstance()` was just hanging for 30-60 seconds, with no mention of `shouldQuit` returning the wrong value. On the other hand, there's an [issue](https://github.com/electron/electron/issues/9576) more similar to ours that was merged into the same issue. So hopefully it's all the same bug. I'

[2017-09-26 15:00] jsigwart commented on #615
I tried turning on the Single-click purchasing setting, and setting it to the minimum 0.1 LBC and cleared the application cache. I still am getting the warnings to purchase all items including free ones.

[2017-09-26 16:17] tzarebczan commented on #613
Thanks @btzr-io !

[2017-09-26 16:17] #613 closed

[2017-09-26 16:52] tzarebczan commented on #615
Ah, this is probably a regressive issue from https://github.com/lbryio/lbry-app/pull/541 / https://github.com/lbryio/lbry-app/issues/497

Didn't realize you were running from Master.

paging @alexliebowitz

[2017-09-26 18:05] btzr-io commented on #622
<img width=500 src="https://user-images.githubusercontent.com/14793624/30876069-b0801800-a2b2-11e7-80d1-bd75b0671313.gif">

Yep, that was me: https://github.com/lbryio/lbry-app/tree/btzr/new
I'm working on other stuff, so I'll try next week :stuck_out_tongue:

[2017-09-26 18:42] kauffj commented on #622
@btzr-io can we discuss that feature a bit before you do much more work on it?

[2017-09-26 18:50] kauffj commented on #625
@tzarebczan are you able to do this via the command line? Can you post the API call that fixes this, if so? If there is not an API call that allows abandoning these, then issue needs to be moved or opened in parallel on `lbry`.

[2017-09-26 18:56] tzarebczan commented on #625
yes, there is already a call to abandon by txid/nout - https://lbryio.github.io/lbry/cli/#claim_abandon

The discussion we had with @jackrobison on slack would be more directly related to https://github.com/lbryio/lbry-app/issues/424 - I'll open an ssue on lbry open for the enhancement.

[2017-09-27 00:05] KamilPiekutowski opened #627 "Editing Video Information requires new bid."
## The Issue

### Steps to reproduce
1. Create and publish video.
2. Click on edit and change some data.
3. Check out the Terms box and click publish.

### Expected behaviour
If this has been published before and deposit paid, it should not attempt to charge
again every time the info is edited.

### Actual behaviour
It is trying to charge deposit bid again.

## System Configuration

- LBRY Daemon

[2017-09-27 00:58] MSFTserver commented on #627
if it doesn't charge you again you have no fee to send to the blockchain, after you set a new amount the old claim amount is returned to you

[2017-09-27 01:04] tzarebczan commented on #627
Your old bid is returned and new one is added. You only really pay the tx fee. I have a ticket to fix how it shows in TX explorer.

[2017-09-27 01:04] #627 closed

[2017-09-27 01:05] tzarebczan commented on #627
Lbry works by saving claims. In order to save or update the claim, a transaction must be performed on the blockchain.

[2017-09-27 16:39] tzarebczan opened #628 "Determine and communicate minimum Publish deposit"
## The Issue
This issue stems from https://github.com/lbryio/lbry-app/issues/604 / https://github.com/lbryio/lbry/issues/920.  A new form component was recently added which doesn't allow a bid less than 0.01 (0.16 release) and 0.1 (master).

When you click publish, you don't get any feedback besides highlighting of the bid field (not easy to see sometimes). When you mouse over the LBC value for th

[2017-09-27 16:40] tzarebczan commented on #604
The recent change made the minimum now 0.1 (previously 0.01)

Opened https://github.com/lbryio/lbry-app/issues/628

[2017-09-27 16:50] Feanor78 opened #629 "App fails to launch"
## The Issue

### Steps to reproduce
1. Start the app through the Windows 10 start menu
2.
3.

### Expected behaviour
The app should open

### Actual behaviour
The app doesn't open

## System Configuration

![image](https://user-images.githubusercontent.com/13907896/30926170-4d2a8e90-a382-11e7-8b6f-4b898517bce6.png)

![image](https://user-images.githubusercontent.com/13907896/30926185-54b6165c-a38

[2017-09-27 17:21] tzarebczan commented on #629
@Feanor78 - can you see if these steps help (for both Dlls): https://answers.microsoft.com/en-us/windows/forum/windows_10-files/nodedll-missing-error-on-loading-slack-on-windows/46de0309-d630-403f-90f8-fbe90952192d

Haven't seen this one yet.

[2017-09-27 20:16] tzarebczan commented on #605
@btzr-io thanks for looking at this. Did you get it to stop spinning in the case of not enough funds too?

[2017-09-27 21:27] tzarebczan opened #631 "Publishing - claim overtake amount incorrect"
## The Issue
Breaking out issues discussed (mostly by me) from https://github.com/lbryio/lbry-app/issues/214

Currently, the LBRY app reports an incorrect "current bid" on claimed named.  It returns the original bid amount, but it should be showing the effective amount which takes into account any updates and supports/tips.

### Steps to reproduce
1. Go to Publish, type one in URL
2. Says "A depos

[2017-09-27 22:08] tzarebczan opened #632 "Publishing - channels and overtaking claims"
## The Issue
Breaking out issues discussed (mostly by me) from https://github.com/lbryio/lbry-app/issues/214

Publishing with an identity results in 2 claim resolutions: lbry://@channelname/claim and lbry://claim but the bidding process at the non-channel resolution is not correct.

When going into the Publish screen and selecting a channel from the dropdown, it is appended to the URL and shows th

[2017-09-27 22:32] tzarebczan opened #633 "Publishing - Show takeover time if claim is being outbid"
## The Issue
Breaking out issues discussed (mostly by me) from https://github.com/lbryio/lbry-app/issues/214

Currently, when taking over a claim held by someone else, users are not notified how long it will take for their claim to successfully complete the takeover process (i.e. resolve at the requested vanity name).  They can see this information in the #content channel on Slack, but otherwise i

[2017-09-27 22:36] tzarebczan commented on #212
I opened https://github.com/lbryio/lbry-app/issues/633 but just saw this one now. I'll close this one if that's okay :p

[2017-09-27 22:36] #212 closed

[2017-09-27 22:38] tzarebczan commented on #633
Something to think about:
Do we also take into consideration other "waiting to take over claims" when showing the user the minimum bid amount? If so, how do we do that if the effective amount is 0 while the takeover is in process. I think it takes 6 blocks for an effective amount to show properly.

[2017-09-27 22:42] tzarebczan opened #634 "Publishing - Allow publish even if bid amount doesn't result in vanity takeover"
## The Issue
Breaking out issues discussed (mostly by me) from https://github.com/lbryio/lbry-app/issues/214

Currently, the LBRY publish feature does not allow you to publish to an existing claim name unless you outbid the current claim. I'm pretty sure we want to allow users to do this but need to clearly explain that the content will only be available at the long URL and not the vanity URL.

##

[2017-09-28 13:44] tzarebczan opened #635 "Waiting for Metadata on videos that play correctly in Chrome"
## The Issue
There are a couple videos that are not able to be streamed via the in-app player because they get stuck on Waiting for Metadata.  Here is one example:
lbry://@EEVblog#22b0dc5c08107ea3395c45afefe3c7c53ee3bed9/ee-UeSYRg8GsJI

I can play the video by dragging it into Chrome, so I was hoping the in-app player could render it. Is it worth looking into?

## System Configuration

- LBRY Daem

[2017-09-28 14:32] tzarebczan opened #636 "Channel without claims shows "fetching content...", console error"
## The Issue
Going to a channel without any claims (lbry://@blankchanneltest) makes it seem like the app is trying to pull something back but can't.  The console produces an error:
[code]

### Steps to reproduce
1. Open lbry://@blankchanneltest in LBRY
2. App shows "fetching content..."
3. Console will show error

### Expected behaviour
App should say that no content exists yet

### Actual behavio

[2017-09-28 20:30] lyoshenka commented on #557
Search server is live at lighthouse.lbry.io:50005

[2017-09-29 00:35] #615 closed

[2017-09-29 02:51] btzr-io commented on #605
@tzarebczan nope, not a css bug...

[2017-09-29 16:12] tzarebczan commented on #392
Would something like this also be fixed as part of this effort? https://github.com/lbryio/lbry-app/issues/451

[2017-09-29 19:10] kauffj commented on #557
@lyoshenka is there any reason we put it on a weird port?

[2017-09-29 19:44] lyoshenka commented on #557
Ports above 1024 dont require root to bind. Plus that's the port lighthouse
was on before.

On Fri, Sep 29, 2017 at 3:10 PM, Jeremy Kauffman <notifications@github.com>
wrote:

[2017-09-29 20:06] kauffj commented on #624
Just fixed, will be out in 0.16.1 shortly.

[2017-09-29 20:06] #624 closed

[2017-09-29 20:12] kauffj opened #637 "Move all modals into ModalRouter and independent modal components"
Modals should no longer be rendered directly inside of other components.

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds without errors
- [ ] Unit tests are written and passing
- [ ] Tests on devices/browsers listed in the issue have passed
- [ ] QA performed & issues

[2017-09-29 23:04] btzr-io commented on #636
@tzarebczan is this fixed on ->  `0.16.1rc1` ?

[2017-09-29 23:04] btzr-io commented on #636
if not I'll send a PR ^

[2017-09-30 03:53] KamilPiekutowski commented on #627
Is there more readable version of bundle.js or I am looking at the wrong file?
I would like to see if I can add another line to the card__inner div.

[2017-09-30 04:28] KamilPiekutowski commented on #597
I added another element to the table. I am still learning the code, but I added Length section. Not sure how to access the data for the length.

Here is the photo. Let me know if this what you guys had in mind.

![screenshot from 2017-09-29 23-26-05](https://user-images.githubusercontent.com/13041293/31042447-e9bf8980-a56d-11e7-9327-e897420f8751.png)

[2017-09-30 10:29] #337 closed

[2017-09-30 12:49] kauffj commented on #597
@KamilPiekutowski thanks for your efforts here!

Unfortunately, there's no data to access :/

This will require a much deeper modification to both `lbryschema` and `lbry` before this can be supported.

[2017-09-30 12:51] kauffj commented on #636
It is not fixed.

Also, FYI, 0.16.1rc1 is a "draft", which means it is not public. You can only see it since you're a collaborator on this repo.

[2017-09-30 14:59] btzr-io commented on #636
so my`PR` is not working ?

[2017-09-30 15:21] tzarebczan commented on #636
@btzr-io I just tried on rc1, had same result as reported on this issue.

[2017-09-30 15:24] btzr-io commented on #636
@tzarebczan yeah this is fixed in  `fix-empty-channels` (#638) ^

[2017-09-30 15:35] btzr-io commented on #636
<img width=400 src="https://user-images.githubusercontent.com/14793624/31047157-95529248-a5c2-11e7-9e98-71a6ac5b2a04.gif" />

[2017-09-30 21:15] KamilPiekutowski commented on #597
Is there any app architecture documentation or something that would lead to how lbry,lbry-app and lbryschema are connected?

[2017-10-01 03:06] btzr-io commented on #605
@mirgee could you provide the link of the video ?
you can also test this branch:  https://github.com/lbryio/lbry-app/tree/fix-play

[2017-10-01 03:14] btzr-io commented on #605
@tzarebczan I'm not able to recreate the background glitch, but I was able to stop the spinning  ^^

[2017-10-01 04:20] MSFTserver commented on #605
@btzr-io i noticed this also happens when videos fail to download you could some videos you know wont work

[2017-10-01 04:22] btzr-io commented on #597
@KamilPiekutowski I hope you found something useful :slightly_smiling_face:
https://lbry.io/faq/contributing
https://lbryio.github.io/lbry/cli/

[2017-10-01 04:26] btzr-io commented on #605
@MSFTserver any example ( link ) to test it ?

[2017-10-01 04:54] btzr-io commented on #605
@tzarebczan the `UI` glitch isn't limited to videos and looks like is a different issue...

[2017-10-01 05:12] btzr-io opened #643 "Reset playing uri after error or timeout"
## The Issue
@MSFTserver found the real bug behind  #605

you could try some videos you know wont work
https://github.com/lbryio/lbry-app/issues/605#issuecomment-333352443

### Steps to reproduce
1. Go to `lbry://dope`
2. Wait for the popup error...
3. Close the modal and see the UI glitch #605

### Expected behaviour
Don't try to play or show the source after an error ocurred.

### Actual behavio

[2017-10-01 16:35] #605 closed

[2017-10-01 16:35] #643 closed

[2017-10-02 04:43] jsigwart opened #645 "User request: support for shorter channel names"
## The Issue
Channel names need to be a minimum of five characters. Why can't we have shorter named channels?

### Steps to reproduce
1. Try to create a channel with fewer than five characters

### Expected behavior
User feedback: "My band name is three characters and that's what I want my channel to be! Why can't I do that?"

### Actual behavior
Channel name must be five or more characters, so fo

[2017-10-02 12:40] #645 closed

[2017-10-02 12:41] kauffj commented on #645
Thanks for filing this! This was actually fixed in `lbyschema` 2 months ago, but the check had not been dropped app side.

[2017-10-02 13:08] tzarebczan commented on #214
Closing this, I broke out the remaining issues as referenced here.

[2017-10-02 13:08] #214 closed

[2017-10-02 16:32] kauffj commented on #636
Oops! My previous message was quite unclear. I meant it was not fixed in the RC.

AFAIK, your fix works. @tzarebczan you can test this in master if you like, or just wait for 0.17 rc.

[2017-10-02 16:32] #636 closed

[2017-10-03 02:14] KamilPiekutowski commented on #597
How does hex_encoded_003 get generated in test_data.py?
generate_test_data.py ommits it and makes testing fail.

[2017-10-03 12:10] lyoshenka commented on #633
Here's some code I wrote to calculate the takeover time (or maybe the daemon should return this?)

[code]

[2017-10-03 12:38] kauffj commented on #621
I'm not inclined to drop native selects due to an issue in Electron. Let's see if this persists after Electron is updated.

[2017-10-03 12:40] kauffj commented on #628
This is fixed. It still doesn't give the minimum as required by transaction fees, but this is variable and can't be known unless `lbry` adds an API call to provide it.

[2017-10-03 12:40] #628 closed

[2017-10-03 12:53] kauffj commented on #635
At first glance, this appears to be a bug in the `render-media` plugin the app uses to play this video, not in any lbry-app code itself. It appears that the `loadedmetadata` is never fired by the player.

[2017-10-03 12:53] kauffj commented on #635
Going to icebox this, would recommend isolating the issue in the plugin/player as a first step to advance this one.

[2017-10-03 17:03] btzr-io commented on #635
related -> https://github.com/lbryio/lbry-app/issues/539#issuecomment-329376764

[2017-10-03 20:06] kauffj commented on #539
https://github.com/feross/render-media/issues/30

[2017-10-03 20:11] kauffj commented on #635
https://github.com/feross/render-media/issues/31

[2017-10-04 01:56] btzr-io commented on #600
@tzarebczan I can't recreate this in last master, can you confirm this ?

[2017-10-04 16:26] btzr-io commented on #603
this? -> https://lbryio.github.io/lbry/cli/#status

[2017-10-04 16:41] MSFTserver commented on #603
for the last paragraph i think we should add fallback ports if it detects the ports are in use by mining or other causes use a fallback

[2017-10-04 16:45] tzarebczan commented on #603
@btzr-io nope, not as straightforward as that. I'm not exactly sure what the best technical solution to determine if the connections on the daemon port and dht port are working proprly

[2017-10-04 17:02] kauffj commented on #603
I think this is a ticket for `lbry`, not `lbry-app`. It's the job of the daemon to assess network connectivity. The daemon can be modified to provide more feedback about network status via the `status` call.

[2017-10-04 17:03] kauffj commented on #603
Or rather, it's a ticket for both, and this ticket is blocked until `lbry` has a modified `status` call that can report network connectivity.

[2017-10-04 17:25] hackrush01 commented on #350
I saw the comment just now, what kind of work, UX or functionality?

[2017-10-04 19:28] tzarebczan commented on #603
Opened https://github.com/lbryio/lbry/issues/934 on the daemon side.

[2017-10-05 23:45] minersmoss commented on #392
Launched LBRY app on Win10 x64 desltop. App launched and asked for update, which I clicked. Programmed crashed and now won't launch. What is the fix? Thanks

[2017-10-05 23:48] tzarebczan commented on #392
I'd say restart your pc, and reinstall the latest version from lbry.io/get

That should get you back up and running, otherwise check out https://lbry.io/faq/startup-troubleshooting

[2017-10-06 07:07] lxcosmo commented on #291
I have the same problem too! "The daemon has unexpectedly shutdown. Goodbye."
Windows 7
LBRY_0.16.1 or LBRY_0.15.0 the same

[2017-10-06 21:48] kauffj opened #650 "Drop all instances (3) of XMLHttpRequest for Fetch API"
The [Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) is cleaner, simpler and supports promises.

[2017-10-07 06:02] thujeevan commented on #650
Wish to work on this. What are the things to be considered while implementing this?

[2017-10-07 20:38] seanyesmunt commented on #609
I'll take this one up.

[2017-10-10 05:42] alexliebowitz commented on #392
Fixed by #653.

[2017-10-10 12:43] #557 closed

[2017-10-10 12:44] kauffj commented on #629
I'm closing this since there's nothing actionable a dev can do here. Please re-open if you have additional details, or if it happens again.

[2017-10-10 12:44] #629 closed

[2017-10-10 12:55] tzarebczan commented on #629
I think Brinck got it fixed after a Windows Reinstall

[2017-10-10 13:15] kauffj opened #656 "Further improvements to FileSelector"
- [ ] The new file chooser is mildly confusing without a `readonly` styling
- [ ] The width of the input cuts off the path when there is space to render

[2017-10-10 13:18] kauffj opened #657 "FileTile v2.0"
File Tiles currently have the following issues:

- [ ] Hover style / action behavior is different than cards
- [ ] Poor usage of space
- [x] URI is likely unnecessary to include, or give prominence to
- [ ] Should possibly allow directly taking secondary actions from cards

[2017-10-10 15:35] tzarebczan commented on #656
This affects the Settings > Choose directory page too right? Right now, the paths in both places are cut off by the form field - can this be fixed in this issue as well?

[2017-10-10 16:23] tzarebczan commented on #392
When I type something random into the address bar like "testingsearch123" - the search page continues to show "loading..." and when I click enter / the claim, I get "loading magic decentralized data...".

The resolve call does return:
[code]

If I go Home and search for the same item again, I don't see another resolve call but I get the same results. If I type another 1 at the end (testingsearch12

[2017-10-10 17:09] kauffj commented on #451
This is likely a much larger issue related to caching in general inside of the app. When, and how often, should we re-resolve a URL that we have data for? This applies to not just URL resolution, but things like file status, which claims are yours, and many other things. [Two hard things](https://martinfowler.com/bliki/TwoHardThings.html), etc.

[2017-10-10 18:08] lyoshenka commented on #556
Related: https://github.com/lbryio/lbry-app/issues/298

[2017-10-10 18:44] tzarebczan commented on #392
https://github.com/lbryio/lbry-app/issues/511 is not fixed - I updated a claim and it continued to show the incorrect amount/claim data in the app, even though resolve shows correct data (when running from CLI). Maybe this has to do with caching or Jeremy's comment here: https://github.com/lbryio/lbry-app/issues/451#issuecomment-335543119

[2017-10-10 19:40] tzarebczan commented on #600
Per @btzr-io, if it does work and you get it to edit a 2nd time, it shows old claim data which in part may be related to https://github.com/lbryio/lbry-app/issues/392.  The real question is why is fileinfo is blank after an update sometimes. I'll see if I can reproduce with the debugging info.

Some notes from Slack chat:

not that simple, I found the main issue which is also causing other issues.

[2017-10-10 19:50] tzarebczan opened #658 "Home page shows "index.html" in menu bar"
## The Issue
Home page menu bar shows index.html. Probably related to some recent search changes which put the search icon in the address bar instead of home.  It should show "Home" or possibly "Discover".
![homepage](https://user-images.githubusercontent.com/8120721/31407408-db965df8-add2-11e7-81e7-a4662b3d8177.PNG)

[2017-10-10 19:57] sircodesalittle commented on #658
I'll do some investigating.

[2017-10-10 20:03] tzarebczan commented on #658
It was introduced here: https://github.com/lbryio/lbry-app/commit/18450209b77e63ddb047c805ceb8edbaea1d2fd2#diff-9a6a461f504e63bae49576c6db1d1592 because we wanted to add the search icon/text on the home page, but it also tied to the menu bar.  Correct me if I am wrong, but the fix would be to independently set the Title bar in the case of Home.

[2017-10-10 20:28] tzarebczan opened #659 "Total items incorrect in channel search results tile"
## The Issue
Looks like there is a bug in search results and showing how many claims are in the channel. For example, a channel with 1 claim shows: "This is a channel with over 10 items inside of it."

It stems from: https://github.com/lbryio/lbry-app/blob/master/ui/js/selectors/content.js#L40 / https://github.com/lbryio/lbry-app/blob/master/ui/js/component/channelTile/view.jsx#L38 which tries to

[2017-10-10 20:43] tzarebczan commented on #379
The wallet information was added for claims/channels by https://github.com/lbryio/lbry/issues/845.

Should we show the claim amount / effective claim amount somewhere on the publish side?

[2017-10-10 20:48] tzarebczan opened #660 "Transaction List - Categorize Rewards incoming tx"
## The Issue
Currently, incoming LBRY Rewards payments are not categorized in the transaction list. Think we should add a new category for Rewards and in details show the reward title and hyperlink to the Rewards page.

### Expected behaviour
Show Rewards as "Reward"

### Actual behaviour
Shows Rewards as "receive", no indication it was a reward.

## System Configuration

- LBRY Daemon version:
-

[2017-10-10 21:51] kauffj commented on #656
Yes, the component in both places is the same.

[2017-10-11 01:46] btzr-io commented on #658
I don't think it needs to show "Home" or "Discover", the title it's already handle on the `search-bar`

[2017-10-11 02:50] btzr-io commented on #656
https://material.io/guidelines/components/text-fields.html#text-fields-states

[2017-10-11 03:46] btzr-io opened #664 "Further search improvements"
### Update
Related issue -> https://github.com/lbryio/lbry-app/issues/677

## The Issue
- [ ] Look for improvements in the display and ordering of videos and channels
- [ ] Hide NSFW content if user is already hiding it
- [ ] Add Pagination
- [ ] Add type based filtering once lighthouse supports it

[2017-10-11 03:53] btzr-io commented on #620
The current preview of files sucks and has a really poor ux, but it's `render-media` fault :stuck_out_tongue:

[2017-10-11 04:25] tzarebczan commented on #664
Also, we can slowly begin to enable filters. Have an option to show only channels vs claims for instance. File type would be another, but the list can go on..we need to decide what we want to expose/need exposed.

[2017-10-11 04:26] btzr-io commented on #664
Do we really need to display empty channels ?

[2017-10-11 04:51] btzr-io commented on #659
Would be nice if this kind on info comes directly from the `channel_claim` ( along with subscriptions  count once is implemented) instead of resolving channel again it's slow and don't show relevant data :stuck_out_tongue:

[2017-10-11 05:13] filipnyquist commented on #664
@btzr-io @tzarebczan waller and i are thinking about adding filtering server side, how does that sound?

[2017-10-11 13:13] tzarebczan commented on #659
@btzr-io - claims_in_channel is returned during the resolve of the channel. Is that what you are referring to with channel_claim, or something else?

[2017-10-11 13:53] kauffj commented on #620
Render media is actually only like 350 lines of JavaScript, FWIW

[2017-10-11 14:25] #631 closed

[2017-10-11 14:33] sovanna commented on #650
@thujeevan did you worked on something yet?

[2017-10-11 14:34] #658 closed

[2017-10-11 14:41] kauffj commented on #650
If you just search the `js` folder for `XMLHttpRequest` you will find 3 places it is used. These could be re-written to use `fetch` and promises, resulting in cleaner and more standardized code.

[2017-10-11 16:54] tzarebczan commented on #608
![abandon](https://user-images.githubusercontent.com/8120721/31454386-4953468e-ae83-11e7-9b47-3914f49b4183.JPG)

[2017-10-11 18:01] oakey22 opened #666 "Unable to scroll down at edge of screen"
## The Issue
Unable to click the cursor at the edge of the screen and scroll down,  the new scroll bar is too narrow to do this.

### Steps to reproduce
1.go to edge of screen and left click mouse and hold
2. drag down to scroll down
3.

### Expected behaviour
Should have a large enough area to select the scrollbar at the edge of the screen
### Actual behaviour
nothing happens as it is outside the

[2017-10-11 18:26] hackrush01 opened #667 "Form labels potentially interpreted as disabled fields"
## The Issue
Sub-titles for headings in Publish page are shown as gray.

### Steps to reproduce
1. Open publish page in app

### Expected behaviour
They should be black, as gray color gives the feel that the button/option is disabled.

## System Configuration
Latest app running from master

## Screenshots
https://imgur.com/a/Te3bR

[2017-10-11 18:31] tzarebczan opened #668 "Cannot publish new content in latest RC"
## The Issue
Publish button is greyed out if trying to publish new content. Edits work (besides the known issues)

### Steps to reproduce
1. Go to Publish, fill out all fields
2. Publish greyed out

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Opera

[2017-10-11 18:44] tzarebczan opened #669 "Content URL blank in success message when editing claim"
## The Issue
When you edit a claim, you get a message popup with without the URL:
![address whatttt](https://user-images.githubusercontent.com/8120721/31459480-50012a06-ae91-11e7-997b-762afb3d0cd5.PNG)

This may be related to some of the other edit issues we have filed.  This was happening pre v17, not sure if it happens every time or based on certain conditions.

### Steps to reproduce
1. Edit a

[2017-10-11 19:21] kauffj commented on #664
Yes, please add a type field that would allow users to just search content or channels.

We ought to apply a large negative weight to empty channels, but not exclude them.

[2017-10-11 19:39] jackrobison opened #670 "candidate app builds require fixed daemon candidate"
## The Issue

For example, app 0.17.0rc1 requires daemon 0.17.0rc13 exactly.

### Expected behaviour

Any daemon RC of the same version should work, or at very least every RC >= the bundled daemon (rc14, 15, etc should work).

### Actual behaviour

The app shuts down after saying the daemon is incompatible.

[2017-10-11 20:05] tzarebczan commented on #608
Issue moved to [lbryio/lbry #946](https://github.com/lbryio/lbry/issues/946) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-11 20:31] tzarebczan commented on #611
Issue moved to [lbryio/lbry #947](https://github.com/lbryio/lbry/issues/947) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-11 21:21] tzarebczan commented on #392
lbry://@kazeemanuar - (not a valid claim)  gets stuck on "Loading magic decentralized data" - probably the same issue as reported above.

[2017-10-11 21:30] tzarebczan opened #671 "Search address bar function is confusing to new users"
## The Issue
Many users who initially try to search will type in the term(s) and then click enter. When this happens, it goes to the exact claim typed.  The search function works as expected when something is typed, but enter is not clicked.

Would be awesome if we could add some type of hint to clear this up in the App or find some other UX friendly way to convey the search functionality.

[2017-10-11 22:04] tzarebczan commented on #664
@filipnyquist yep, think it would be a combination of search side + app side options.

[2017-10-11 22:08] tzarebczan commented on #605
@mirgee - please take a look at https://lbry.io/faq/tips :)

[2017-10-11 23:21] kauffj commented on #659
This will be fixed in next RC.

[2017-10-11 23:21] kauffj commented on #659
And yes, the way it was done originally was dumb.

[2017-10-11 23:21] kauffj commented on #392
Something weird is going on here but not sure if multi-resolve related...

[2017-10-11 23:47] tzarebczan opened #672 "Allow access to Developer Tools / Reload functionality"
## The Issue
In v17, the menu bar was removed which takes away the ability easily access the Developer Tools or the Reload function.  Not sure what the best way to re-introduce this feature as it can be helpful to for troubleshooting / debugging purposes. Maybe some "Advanced" setting in the menu which allows you to access both of the functions? Or maybe bring back the keyboard shortcuts and list

[2017-10-12 01:11] btzr-io commented on #620
the problem is that returns an iframe, so we don't have much control on the styles :upside_down_face:

[2017-10-12 01:20] btzr-io commented on #671
why don't just type the exact `uri`?

[2017-10-12 01:21] btzr-io commented on #671
I mean don't auto add the `lbry://` to the search...

[2017-10-12 01:23] tzarebczan commented on #671
Both features are needed... They are 2 different use cases for the same component.

[2017-10-12 01:23] btzr-io commented on #666
Well that's the expected behavior, to scroll you actually have to click the scrollbar not the edge of the screen :stuck_out_tongue:

[2017-10-12 01:24] btzr-io commented on #666
I'll check if we can use padding instead of margin...

[2017-10-12 01:29] btzr-io commented on #671
What I mean is that -> always do search unless user type the exact uri `lbry://cats`:
- User `search-query:` cats -> multiple relevant results...
-  User `search-query:`  lbry://cats -> Go to `uri`...

[2017-10-12 01:31] tzarebczan commented on #671
I think it's useful to be able to type @lbryio and get the exact claim without going through a 2nd click. I thought it was a feature lol. I could be wrong. I'll defer to @kauffj

[2017-10-12 01:41] btzr-io commented on #671
@tzarebczan then I guess we can add an exception for channels

[2017-10-12 01:45] tzarebczan commented on #671
And any inputs with the full claim information (claimname#claim_id  or claimname:sequence)?

[2017-10-12 03:43] btzr-io commented on #666
Also there is an indicator when the scrollbar can be dragged:  the scrollbar thumb background changes on hover depending on the theme, can get lighter or dark...

[2017-10-12 04:18] thujeevan commented on #650
@kauffj I understand what to be done. Wanted to know anything specifically considered. Was having trouble in building step initially.

@sovanna Working on it.

[2017-10-12 04:55] btzr-io commented on #657
I guess this is ok  ^

[2017-10-12 06:50] Newl97 opened #675 "Unexpected behavior when typing in Japanese"
## The Issue
Because Japanese uses multiple scripts, an IME (input method editor) is used to provide various kanji and mixed script options. In response to the space key (on a Western keyboard), these options are displayed in a list under the text being typed. The user uses the down arrow to highlight each option until the desired one is found. The enter key is used to confirm.

When typing in the

[2017-10-12 08:09] sovanna commented on #650
aaa, I worked on it yesterday. I'm going to stop and let you continue.
If it can help, here my work:
- [commit on lybrio.js](https://github.com/sovanna/lbry-app/commit/b8a472e262abc246d0a62c9c5a85fd180cedb600)
- [commit on settings.js](https://github.com/sovanna/lbry-app/commit/34c78bd55c284700222199ae1a591d7d5fb1747b)

miss the last place in jsonrpc.js

[2017-10-12 13:37] #659 closed

[2017-10-12 13:38] kauffj commented on #659
Fixed in 0.17.0rc2, to be made public shortly.

[2017-10-12 13:40] kauffj commented on #671
I have mixed feelings about the behavior of enter. We are trying to teach people about the concept of addresses, and that the bar is both an address bar and a search bar.

[2017-10-12 13:48] kauffj commented on #667
@hackrush01 do you mean the form labels? Or the text directly below the headers?

@btzr-io this did make me notice that we have both `form-row__label` and `form-field__label`, which are now styled the same way as of https://github.com/lbryio/lbry-app/commit/45b2bc6aa852d24a196d358fd10a8c31e3384d8b

[2017-10-12 13:49] Newl97 commented on #675
Additional information:

  "build": "rc",
  "lbrynet_version": "0.17.0rc13",
  "lbryschema_version": "0.0.12rc1",
  "lbryum_version": "3.1.9rc2",
  "os_release": "16.7.0",
  "os_system": "Darwin",
  "platform": "Darwin-16.7.0-x86_64-i386-64bit",
  "processor": "i386",
  "python_version": "2.7.13"

[2017-10-12 14:03] kauffj commented on #392
The way empty/unclaimed URLs are being returned was changed in `lbry`, breaking resolution of unclaimed URLs.

This will be (hack) fixed in 0.17.0rc3

[2017-10-12 14:03] #392 closed

[2017-10-12 14:51] tzarebczan commented on #635
@kauffj I'm still working on isolating render media by running it as a simple app, but I also tried the file on instant.io which uses render-media and it has the same issue: https://instant.io/#ae8e248aeba47363d0fbe577c9b8b839018f4e79

[2017-10-12 15:05] hackrush01 commented on #667
@kauffj I mean the sub-labels, like `File`, `Title`, `Thumbnail URL`, `Description` in attached image 1, and `Free`, `Choose Price` and `Deposit` in attached imaged 2. Also, I seem to recall they were proper in the earlier releases.

[2017-10-12 21:14] wilsonk commented on #671
From a new user point of view it is really odd to not just be able to type in "flame"->hit enter and get back some results of videos that have "flame" in their title or description or the publishers name.

I understand that we may want to teach people about addresses, but it will be very hard for really new (or overall novice internet) users to grasp this without getting frustrated.

I think requi

[2017-10-12 21:55] kauffj commented on #671
To be clear, I don't disagree at all that this is confusing and I think a change is warranted.

I just don't know precisely what it is, because I also think it's important that people have an easy and intuitive way to get directly to a URL, and having to type `lbry://` before everything is not that.

In a more standard browser omnibar, we can tell the difference between a search and a URL by wheth

[2017-10-12 23:25] aayanl commented on #671
add a big search bar, then a tiny go bar, like the old safari browser but the inverse

[2017-10-12 23:25] aayanl commented on #671
http://blogote.com/wp-content/uploads/2011/09/safari_mac_browser.jpg

[2017-10-13 02:29] btzr-io opened #677 "Empty file tiles ( from search results)"
## The Issue
There are a lot of claims without title or description, and this affects the search results ( UI / UX )
### Steps to reproduce
1. Search for something...

### Expected behaviour
Display the name of the claim if no title from metadata exist...

[2017-10-13 03:33] thujeevan commented on #650
@kauffj something wrong with the fetch implementation in the PR. It doesn't seem to work. Not sure what am I missing. Sadly, I couldn't find any tests also. Any method to debug this code?

@sovanna Would you mind to CR and let me know any issues?

[2017-10-13 13:25] #164 closed

[2017-10-13 14:44] tzarebczan commented on #625
Per discussion with @kauffj / @hackrush01 / @jackrobison , the app side should not be in charge of figuring out the support claims, leave that to the daemon. I did open https://github.com/lbryio/lbry/issues/941 which could be used as the issue to track the daemon side changes. lbryum will also need to be enhanced. If it doesn't make sense to try to group all the UTXO from the users' claim+supports

[2017-10-13 17:34] kauffj commented on #667
@btzr-io thought you may be interested in this feedback. Perhaps the color of help text is not appropriate for form labels.

[2017-10-13 19:55] kauffj commented on #650
@thujeevan All of them don't work? What do you see in the console? To debug I would suggest using combination of debug toolbar and code modifications or logging statements. With a proper dev setup, you should be able to change code and CTRL+R in the app for very tight feedback.

Also, I do not think this code should require additional dependencies (which I noticed in your PR).

[2017-10-13 20:49] kauffj commented on #614
See https://github.com/lbryio/lbry-app/pull/661#issuecomment-336563648

[2017-10-13 21:20] kauffj commented on #635
I think we can safely consider this issue confirmed.

[2017-10-13 21:22] kauffj commented on #675
Thanks for reporting this issue @Newl97 and for possibly being the first person to type a Japanese character into the app.

If you'd like a tip for this contribution, [see here](https://lbry.io/faq/tips)

[2017-10-13 21:26] Newl97 commented on #675
Thanks so much. They already tipped me in the Slack :)

There are other scripts that can cause other problems, like Hebrew/Arabic (right-to-left), Thai and the Devanagari script.

I don’t see a point it testing those out yet, but will do that once the general script issue has been addressed.

[2017-10-13 23:44] btzr-io commented on #668
Just because the current form validation sucks -> https://github.com/lbryio/lbry-app/issues/564

[2017-10-14 00:07] tzarebczan commented on #668
Nah, it was an issue with multiresolve. There's a hack now, but this is not a problem.

This issue should be to fix the hackaround.

[2017-10-14 00:45] btzr-io commented on #668
I mean this should be handle in the form validation ^

[2017-10-14 04:09] thujeevan commented on #650
@kauffj Thanks for the info, got it to work. Please have a look at the PR. Drop the unnecessary deps.

[2017-10-15 03:41] btzr-io commented on #667
https://material.io/guidelines/components/text-fields.html#text-fields-states

[2017-10-15 12:25] #656 closed

[2017-10-15 12:25] #666 closed

[2017-10-15 12:26] kauffj opened #678 "On dark theme, radio labels for unchecked radio inputs are missing style"
The labels are black/dark, when they should be white/light.

[2017-10-15 12:28] kauffj opened #679 "Keep spacing consistent on expanding radio elements"
On the settings page, spacing changes when selecting radio input rows with additional input (toggle between the price setting fields).

This is not a new issue, but may be more exaggerated after #673

[2017-10-15 12:38] kauffj opened #680 "Add "Trending" section to Discover page"
We now have an API endpoint for listing trending content!

https://api.lbry.io/file/list_trending

The first integration of this is likely a simple modification to the homepage to include a "Trending" section, most likely above all of the other categories.

[2017-10-15 13:04] #677 closed

[2017-10-15 13:06] #667 closed

[2017-10-15 13:15] kauffj commented on #392
@tzarebczan if there are any outstanding issues here, please open as separate ticket

[2017-10-15 13:19] tzarebczan commented on #392
Nope, all good besides the slowness. Where do you think we can make this process faster? On the resolve itself?

[2017-10-16 00:59] btzr-io commented on #678
I can't recreate this..
please check -> https://github.com/lbryio/lbry-app/pull/681

[2017-10-16 05:09] btzr-io commented on #672
Do we need this in the header ?

[2017-10-16 07:41] MSFTserver commented on #672
@btzr-io not in the header but i think he means like adding an setting to set it so we can get these menus back or atleast the right click or shft+right click to view the old options as youll have to set an environmental variable to get the dev tools and reload

[2017-10-16 07:42] MSFTserver commented on #672
setting the environmental also only launches the devtools once so if you exit you need to restart

[2017-10-16 09:14] chron0 opened #683 "Can't claim any reward - Wallet_address does not match user"
## The Issue

### Steps to reproduce
1. Trying to claim any reward

### Expected behaviour
Reward should be granted

### Actual behaviour
Error Message: Wallet_address does not match user

## System Configuration

- LBRY Daemon version: 0.17.0
- LBRY App version: 0.17.0
- LBRY Installation ID: 2BXqc5xEqfBfZmfzoH2Z8hQnpDnmTfkYhzF35BtktmrkRDX5hzoq3Tg9bb2nXVCRcn
- Operating system: Linux

## Anything

[2017-10-16 11:42] tzarebczan commented on #683
Can you send me your email address to help@lbry.io along with screenshots of the reward / transactions screen?

[2017-10-16 12:00] chron0 commented on #683
Sent, thanks in advance.

[2017-10-16 12:03] tzarebczan commented on #683
Also, lbry should not re request the verification that many times. Are you using the same email on multiple installations? Or possible different emails that were once used on the same one? Move around any wallet
 files?
 https://lbry.io/faq/lbry-directories

[2017-10-16 13:07] chron0 commented on #683
Yes, I do have lbry on my desktop and on my laptop (which doesn't seem like a totally special use case to me). Since I'm also mining I want to be able to use it on multiple hosts to check/access balance, just like any other blockchain based system.

I've started back on 0.12. IIRC I've copied the wallet files because it didn't make sense to me to have two separate wallets. But it was always the sa

[2017-10-16 13:11] #668 closed

[2017-10-16 13:30] hackrush01 commented on #581
I will get to this once I figure the rest of abandon related stuff. One of them is directly related to abandoning claims(with supports and tips).

[2017-10-16 13:33] hackrush01 commented on #374
This is almost complete, I shall make a PR soon.

[2017-10-16 13:39] kauffj commented on #672
@btzr-io I just want everyone to be able to open it via the keyboard short cut for debugging purposes. It does not need to be in either the top menu or the right click context menu. I actually thought I was only removing it from those places, not disabling it entirely.