[2017-10-16 13:50] tzarebczan commented on #683
Going to close this and we'll take care of it via email.

We don't recommend running the same wallet on multiple PCs, at least not concurrently. There may also be some discrepancies on one of the wallets when transactions are made on the other. LBRY works similar to bitcoin and because we use a light client (electron wallet), the wallet addresses it generates on each may be different (but still ti

[2017-10-16 13:50] #683 closed

[2017-10-17 13:05] kauffj commented on #625
Marked as blocked and moving to bottom

[2017-10-17 13:20] kauffj commented on #664
Updated to enumerate the changes. I disagree that channels should always come first. Results should be intermingled based on relevancy.

[2017-10-17 13:20] kauffj commented on #664
Channel search tiles need a huge improvement, obviously.

[2017-10-17 18:24] kauffj opened #684 "Adopt Flow"
Types are nice.

[2017-10-17 19:51] kauffj commented on #678
@btzr-io confirmed fixed

[2017-10-17 19:51] #678 closed

[2017-10-17 22:33] reillysmith opened #685 "Copy-paste keyboard hotkeys into and out of app UI"
## The Issue
Cmd-C, Cmd-V and similar do not work inside app. Right clicking to copy-paste still works.
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-10-18 06:18] btzr-io commented on #672
@kauffj same shorcut: `CTRL+SHIFT+I`  or just something more simple like `F12` ?

[2017-10-18 18:08] kauffj commented on #672
@btzr-io https://spee.ch/whynotboth.jpg

[2017-10-18 18:10] hackrush01 commented on #685
I couldn't exactly reproduce it, could you be more specific as to what you couldn't copy/paste in app. I tried to copy a random snippet from a video's description and paste it in the search bar, and it worked. I tried on Linux based OS.

[2017-10-18 18:12] reillysmith commented on #685
El Capitan 10.11.6, cmd-C and cmd-V do nothing going into or out of the app. For example, non-responsive when I want to copy-paste a URL from LBRY, or a paste a description into the app while publishing.

[2017-10-18 18:16] tzarebczan commented on #685
I believe it's Mac that's affected only. Tested it on Windows and Linux

[2017-10-18 21:35] kauffj commented on #685
@btzr-io any idea on this one? thought it might be related to `user-select`, but idk

[2017-10-19 00:29] btzr-io commented on #685
I can't recreate this in `linux`, but I'll do some research...

[2017-10-19 00:52] btzr-io commented on #685
Not related to `user-select`:
http://codedmaster.com/2017/01/24/getting-electron-copy-paste-shortcuts-for-mac-builds/

[2017-10-19 00:56] btzr-io commented on #672
This also affects the copy / paste behavior on macos, See: https://github.com/lbryio/lbry-app/issues/685

[2017-10-19 01:13] btzr-io commented on #672
@kauffj why the `menu-bar` was removed ?
IMO Looks worth to have it ^^

[2017-10-20 04:33] 8mirw8 opened #689 "LBRY app locks up on "Downloaded" tab"
## The Issue

### Steps to reproduce
1. Create a channel with less than 4 characters
2. Download and publish content
3. Try and run LBRY and view downloaded content

### Expected behaviour
LBRY app should allow you to view your published content.
### Actual behaviour
After some time the LBRY app may become unresponsive when you click on the Folder icon for "Downloaded & Published"

## System Confi

[2017-10-20 04:42] tzarebczan commented on #689
Thx for filing, great find! Took care of reward via slack.

Workaround is to abandon the channel

[2017-10-20 08:28] hackrush01 commented on #689
#690 should fix this.

[2017-10-23 01:00] hackrush01 commented on #671
Instead we could have a key combo(e.g. CTRL + Enter) to go directly to the
claim, and hitting only Enter would initiate a search. And we could make a
tooltip pop-up whenever the user clicks on the wunderbar too, as a
reminder, as this is not particularly intuitive.

-Regards
-Amit Tulshyan

On Oct 13, 2017 4:55 AM, "Procrastinator" <notifications@github.com> wrote:

[2017-10-23 05:42] jsigwart opened #692 "Change App links to Discord"
## The Issue
App and website are still directing people to Slack and this needs to be changed.

### App:
- Help Section: Under "Get Live Help" is button to Slack
- Rewards Section sends verifications to Slack

## Anything Else
Website also needs to be changed, but will document that separately or just change it myself.

## Screenshots

[2017-10-23 16:48] kaykurokawa opened #693 "Do not use daemon API command file_list with argument outpoint"
https://github.com/lbryio/lbry-app/blob/2746627fb15f617725192a51cc8f6ba4f053915a/ui/js/actions/file_info.js#L38

I would like to deprecate the outpoint argument from daemon API command file_list as it is incorrect to attach claim information to files. Files can and do exist without being attached to claims (i.e., on reflector hosts).

doFetchFileInfo(uri) should instead resolve the uri, check the

[2017-10-23 16:54] tzarebczan opened #694 "Cannot view downloaded content in-app that has been abandoned"
## The Issue
If you download content at a URL which is later abandoned, you cannot view the content via the LBRY app anymore.  Even though it's on the download page, when you click the tile it then takes you to the URL which is no longer valid, so it shows "There's nothing at this location.".  The app should recognize that this claim is in your downloads and continue to show it.  Not sure if we ha

[2017-10-23 17:09] tzarebczan commented on #693
Thanks for creating this, I was about to open one up.  I'm sure there will be many touchpoints to this change.

Other related issues which this should take into account/fix: https://github.com/lbryio/lbry/issues/951 (more generic is download problems for updated claims for users who downloaded the original)
https://github.com/lbryio/lbry-app/issues/600 (updating claim bug)

[2017-10-23 17:21] kauffj commented on #693
@kaykurokawa This change is fine with me app-side. Feel free to deprecate or remove this daemon side.

[2017-10-23 17:45] hackrush01 opened #695 "In-App notifications."
Inclusion of an in-app notification system would be helpful in many cases such as if we want the people to move from slack to [discord](https://discord.gg/VuDpEyg), we could just send an in-app notification for the same. It could be extended to other functionalities such as informing about incoming tips, new content, new upload from subscriptions etc.

[2017-10-23 20:05] kauffj commented on #671
CTRL + enter is too obscure. Keep throwing ideas out though, we'll get there.

Maybe we need to focus on what aspect of the UI/UX is causing people to think they need to hit enter in the first place?

If you were showed search results immediately after typing, maybe no one would hit enter?

[2017-10-23 20:07] aayanl commented on #671
They hit enter because thats what google trained them yo do. If people want
to directly go to a link, they can prepend lbry:// that way we can keep
enter for search.

On Oct 23, 2017 4:05 PM, "Jeremy Kauffman" <notifications@github.com> wrote:

[2017-10-23 20:27] kauffj commented on #671
@aayanl Google has trained them that if they hit enter they magically get what they want, whether that was a domain or search.

Also, when typing in Chrome, I never see results until I hit enter. In our app, you will see results just from typing, so it's possibly that if they came even faster, people would stop hitting enter.

[2017-10-23 20:51] tzarebczan commented on #692
We will be creating a https://chat.lbry.io re-direct that we can use for Discord invites (or any other chat URL if it changes in the future).  Once that's up, we can update the app links (and website) accordingly.

[2017-10-23 20:59] #689 closed

[2017-10-23 21:00] kauffj commented on #689
Will be live in next app release (presumably 0.18).

[2017-10-23 21:12] kauffj commented on #672
This was definitely unintended. Reviewing PRs shortly...

[2017-10-24 02:22] MSFTserver opened #696 "front page row alignment"
## The Issue

row doesnt adjust for smaller app window sizes and chops off end of last cards

### Steps to reproduce
1. open the app
2. shrink it a little or a lot
3. scroll the end of row and it starts cut it off

### Expected behaviour
cards should adjust and not be cut off
### Actual behaviour
cards dont adjust and get cut off

## System Configuration

- LBRY Daemon version:
- LBRY App version:

[2017-10-24 17:56] tzarebczan opened #698 "Add ability to re-download content"
## The Issue
There are three main scenarios where users would want to re-download content in the LBRY app:

1) A claim was updated with a new source file - the user should be alerted to this and allow the new file to be downloaded. If the filename is the same, ask to replace or rename automatically  If the content was paid for, it should not charge again (this may require https://github.com/lbryio

[2017-10-24 22:54] nikooo777 commented on #671
i think the best approach is to follow what most of the browsers do.

That is:

- If an address is typed (and this is easy to detect here since we have the prefix `lbry://`) then once enter is pressed it should bring up the claim right away.
- if anything else is typed and enter is pressed, then a search should be performed

in addition, having a live-search as you type is good, however I wouldn't

[2017-10-25 13:37] tzarebczan commented on #564
Here's another one on the tip screen:
https://monosnap.com/file/cA6G6iBcPkzzazOYHQ1pIOk6KTe7NN

We use a placeholder, and if no value is entered, you get the above.

[2017-10-25 17:31] tzarebczan opened #699 "Add file size information to claim pages"
## The Issue
As a user of the app, I'd like to see how big the file is that I'm about to download.

[2017-10-25 21:46] kauffj commented on #692
This is fixed in the app, and has been fixed in the top website navigation.

I believe it needs to be fixed in several other places on the website, which is now handled by this ticket:

https://github.com/lbryio/lbry.io/issues/242

[2017-10-25 21:46] #692 closed

[2017-10-25 23:04] tzarebczan opened #700 "Published content tile blank right after upload"
## The Issue
The initial "pending confirmation" tile is blank, see below. once its confirmed, it gets the title/description.

![blank card](https://user-images.githubusercontent.com/8120721/32027444-18da585a-b9b7-11e7-852e-91e5c59dc5bb.JPG)

### Steps to reproduce
1. Publish content
2. Wait on Publish page
3. See blank tile

### Expected behaviour
Show title/description

### Actual behaviour
blank

[2017-10-25 23:08] tzarebczan opened #701 "Content price saved incorrectly if left at default of 5LBC"
## The Issue
If you Publish content and select the "Choose Price" option but don't change the default LBC value, it publishes at 0.01 LBC instead of 5.

### Steps to reproduce
1. Publish and click Choose Price, leave at 5 LBC
2. See resulting claim

### Expected behaviour
Should use the default price

### Actual behaviour
Uses 0.01 LBC

## System Configuration

- LBRY Daemon version:
- LBRY App ve

[2017-10-26 13:34] tzarebczan opened #702 "Add QR code option to wallet receive screen"
## The Issue
Would be a nice addition to have a hide/show option with the QR code for the receiving address so that users with external wallets (i.e. Coinomi) can easily send LBC to their app.

One example of JS library for QR codes: https://davidshimjs.github.io/qrcodejs/

[2017-10-27 07:23] f1reflyyyylmao opened #703 "Prove Humanity"
## The Issue
It's very hard to proof that one is a human being with the current options, hence there's no possibility to get into the reward system/guided tour.

### Steps to reproduce
1. Don't upload videos to youtube, be a consumer only
2. Don't have a credit card and don't want to get one (Not from the US, happy with my normal bank card)
3. Don't use discord because their ToS are horrifying and

[2017-10-27 14:50] tzarebczan opened #704 "In-app player controls lost if app minimized during stream"
## The Issue
If you minimize the app after starting a stream and then come back, the player controls are lost.

### Steps to reproduce
1. Start stream
2. Minimize
3. Wait for stream to start playing
4. Maximize app
5. Player control is white

### Expected behaviour
Controls should work

### Actual behaviour
Controls are gone

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LB

[2017-10-27 18:01] tzarebczan commented on #703
@f1reflyyyylmao - sorry you are having issues with verification. Shoot me an email over to hello@lbry.io and we'll get you set up.

We'll be moving towards performing a verification request within the app, so that should bridge the gap you are referring to.

[2017-10-27 18:01] #703 closed

[2017-10-27 18:09] tzarebczan opened #705 "In-app video plays upside down"
## The Issue
A LBRY user reported an issue where their uploaded video is playing upside down in the app but plays correctly externally. Might be related to https://github.com/lbryio/lbry-app/issues/539

The content: lbry://viddywell#08911a725c14d17fb36c66642c420c1c96853df6
![upside](https://user-images.githubusercontent.com/8120721/32118672-894332d2-bb20-11e7-9e18-0588677447d8.JPG)

### Steps to r

[2017-10-27 18:40] kauffj commented on #705
Strongly suspect this is identical to #539.

[2017-10-27 19:17] kauffj commented on #672
#688 is merged, this will be in next release

[2017-10-27 19:17] #672 closed

[2017-10-27 19:37] #650 closed

[2017-10-29 07:17] seanyesmunt commented on #684
What about Flow? Would be a lot easier to integrate incrementally.

[2017-10-29 18:06] kauffj commented on #684
@seanyesmunt you and @liamcardenas should discuss this!

I've not worked with either personally, but having worked on long-standing applications, I've definitely shifted towards static typing and immutability as producing code that is easier to refactor and reason about.

[2017-10-30 14:17] #680 closed

[2017-10-30 18:50] tzarebczan commented on #683
@chron0 Let me know when you get to end up checking out if the issue was fixed.

[2017-10-30 19:22] lyoshenka commented on #290
@tzarebczan and I have figured it out. The issues is that the following function in reward.js is wrong:

[code]

The solution is to either fix it, or use another method of determining whether a claim is an update, or to just drop this check.

The function is called on reward.js line 152, and was put there for a reason (d77fc883d1272b3f0cf8f0578c74e6fc752f9535), but it may no longer be necessary.

[2017-10-30 19:25] tzarebczan commented on #290
I don't see why we would need the check for Rewards purposes - whether it was a claim update or not, if the user is eligible to earn the reward, they should be able to.

[2017-10-30 19:42] #290 closed

[2017-10-30 20:25] liamcardenas commented on #684
Hey guys, thanks for tagging me, @kauffj . I just finish the last day of my job Friday and will not be more available on github/slack/etc.

I agree, Flow is a good idea due to the ease of incremental integration. I am not sure about the relative merits of flow vs typescript-- although I think typescript's type system is much more powerful and, in the past, I have found flow all too easy to forget

[2017-10-31 10:36] lyoshenka commented on #660
@hackrush01 you connected this to https://github.com/lbryio/lbry-app/pull/691. That PR was merged. Does that mean we can close this issue? At first glance it looks like the two are not the same.

[2017-10-31 11:05] lyoshenka commented on #705
Closing this. Reopen if #539 is fixed and this still happens.

[2017-10-31 11:05] #705 closed

[2017-10-31 12:29] #425 closed

[2017-10-31 12:37] hackrush01 commented on #660
@lyoshenka I think this can be closed as now the rewards txns are now marked in the txn list and clicking it(the rewards description) redirects to the rewards page, which lists out all the rewards.

[2017-10-31 13:00] #660 closed

[2017-10-31 13:04] kauffj commented on #685
These are back in the menu, so this should be fixed.

[2017-10-31 13:06] #685 closed

[2017-10-31 13:37] kauffj commented on #608
Blocked by https://github.com/lbryio/lbryum/pull/159

[2017-10-31 17:20] chron0 commented on #683
updated to lbry 0.17.1, cleared cache, re-done verification:

Rewards can be claimed and, I checked to test, cannot be
claimed more than one time (at least the single event ones).

It seems to be fixed, yay, thank you very much :)

[2017-10-31 20:00] tzarebczan commented on #290
Verified fix on a user's PC

[2017-11-01 13:39] kauffj opened #708 "Add prominent upgrade button when upgrade is pending"
If a user declines an upgrade, the top menu bar should add an icon prompting an upgrade.

Look to `page/help/view.jsx` for inspiration on how to do this.

[2017-11-02 18:16] tzarebczan opened #709 "Text cut off on new user message"
## The Issue
See screenshot below. Not sure when this started to occur - possibly with some of the recent css/font changes?
![formatting](https://user-images.githubusercontent.com/8120721/32342018-90381896-bfd5-11e7-97ce-2c42dd9c75be.JPG)

### Expected behaviour
format properly

### Actual behaviour
text cut off

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installati

[2017-11-02 19:38] tzarebczan opened #710 "Resume playback when additional data written to file (streaming large videos)"
## The Issue
The root cause of this issue is mentioned in https://github.com/lbryio/lbry/issues/982 - I noticed it when trying to stream Cop Chronicles videos which are 1080P where each blob only holds a second or two of data.  The player will initially start streaming and then stop after a second or two because the 2nd blob is not completed/written to the file. This forces the user to click play

[2017-11-02 19:48] tzarebczan opened #711 "Add "go to page" navigation to channel pagination options"
## The Issue
For channels with many pages of content, the current pagination option allows you to skip forward one or two pages or click the last 2.  There is no option to go directly to a particular page. The current workaround would be to change the page number in the address bar.

Would be a good feature to add - possibly by clicking the ellipses (need to indicate this somehow) or having a sepa

[2017-11-03 06:19] seanyesmunt opened #712 "Create common Button component"
## Create common React components for basic ui elements (input, button)

There should be a common ui component library for basic components. This will make future dev easier if we choose to change common styling. Currently, we are just using classes which is okay for simple components but can become over-complicated if you want anything slightly different from what is already in the css files.

[2017-11-03 06:23] seanyesmunt commented on #712
I'll start on this with the shapeshift component after I finish up on the PR https://github.com/lbryio/lbry-app/pull/652

That should be a pretty easy update, and I can setup the file structure. Then we can make another PR moving other common ui elements to these shared components.

[2017-11-05 09:32] Serkan-devel commented on #48
bump

[2017-11-06 15:52] tzarebczan opened #714 "Snackbar message formatting"
## The Issue
The snackbar messages look like they could be formatted more neatly, see below.

![snackbar](https://user-images.githubusercontent.com/8120721/32449675-39994434-c2e0-11e7-8f6a-53b420fc6f83.png)

### Steps to reproduce
1. Earn LBRY featured download
2. See snackbar

### Expected behaviour
Formatted properly

### Actual behaviour
Message spans 2 lines

## System Configuration

- LBRY Da

[2017-11-06 16:36] reillysmith opened #715 "FEATURE: Subscriptions - Button and Page Resolution"
Ideal Release Date: 12/11, morning EST.
## The Issue
(1) User needs to Subscribe to channel ("subscribe")
(2)* User needs to see their Subscriptions ("subscribe_list")
(3) Publisher needs to see their subscriber count ("subscriber_count")
(4)** Publisher needs to see where their subscriber count arrived from ("subscriber_sourceCount")

*This is a second Homepage, structurally identical to current

[2017-11-07 14:20] kauffj opened #717 "Ensure no claim data is being referenced from file_xxx API calls"
When https://github.com/lbryio/lbry/issues/981 is merged, `file_list` and any other API calls that return a file structure will no longer include claim data.

The app needs to ensure it is not using or expecting claim data on file info.

[2017-11-07 14:23] kauffj commented on #712
@seanyesmunt would you propose the standard that if you're using a class name, it should probably (always?) be a component?

[2017-11-07 14:25] tzarebczan commented on #717
Related to https://github.com/lbryio/lbry-app/issues/693?

We have a couple bugs filed around file_list related issues also, especially when updating claims.

[2017-11-07 14:26] kauffj commented on #717
Duplicate of #693, whoops

[2017-11-07 14:26] #717 closed

[2017-11-07 14:36] kauffj commented on #709
Fixed in c33b7df7

[2017-11-07 14:36] #709 closed

[2017-11-07 14:50] kauffj commented on #608
App will need to use new `balance_delta` field provided by LBRY API.

[2017-11-07 19:04] seanyesmunt commented on #712
Not always. For attributes that are used across components I think I makes sense to use classes (ex. font-weight), but yes for classes specific to a component (ex. Button background color).

I’ll try and get some sort of rough draft for a proposal tonight.

[2017-11-07 19:24] tzarebczan commented on #611
@hackrush01, reopening this one app side for you based on the daemon implementation.

[2017-11-07 21:22] LanceDwight opened #718 "Trackpad scrolling"
## The Issue

Currently, in order to view the out-of-sight featured videos on the homepage, you must click on the left or right arrows.

Please add trackpad gesture control so users can swipe side-to-side on the trackpad to scroll through these videos. This was a feature found on earlier LBRY versions for Mac users.

### Steps to reproduce
1.
2.
3.

### Expected behaviour

When hovering over a fea

[2017-11-07 21:38] tzarebczan commented on #718
Thanks for filing this @LanceDwight, sent you a couple LBC on Discord :)

What do you think about some keyboard shortcuts as well?

[2017-11-08 00:18] LanceDwight commented on #718
Thanks, Tom!

Also, keyboard shortcuts for increasing playback speed, full-screening the video, etc., might be helpful to some users. Were you thinking of suggesting keyboard shortcuts for something other than ones impacting video playback?

[2017-11-08 05:37] seanyesmunt commented on #712
#### My idea for a `Button` component (I know class names/colors are not accurate)

`<Button primary>Button text</Button>`
    applies `.btn .btn-primary`
     default to this, main button

`<Button secondary>...</Button>`
    applies `.btn .btn-secondary`, grey button

`<Button fakelink>...</Button>`
    applies `.btn-link`
    this looks like a link, but handles clicks like a button

Shared comp

[2017-11-08 05:40] seanyesmunt commented on #712
https://www.npmjs.com/package/classnames is a great package that makes adding classes based on logic easy

[2017-11-08 22:28] #374 closed

[2017-11-09 01:12] tzarebczan opened #719 "Minimize to tray issues on Windows"
## The Issue
On Windows:
1) After starting LBRY and not clicking anywhere inside the app, right-clicking on the tray context menu does nothing.

2) Only time I can get "Hide App" to show in the tray is when restoring from the tray and on the first right click on the tray icon.

3) When the app in a maximized window and then is minimized to the taskbar (not tray) and you double click the tray icon

[2017-11-09 14:52] LavRadis opened #720 "There is no Windows system notification when the LBC balance changes and LBRY app is minimized in the tray"
## The Issue

When the LBRY app is minimized to tray and LBC wallet balance is changed there is no notification of any kind.
Since this is an important change, there should be some form of notification.

### Expected behaviour

If the app is minimized there should be a clear system notification that the wallet balance changed (user received or spent LBC).
It should probably be similar to Win notif

[2017-11-09 17:37] tzarebczan commented on #581
Good progress so far, but I'm sure there will be some confusion going forward. When an action is taken, the icon disappears and a new transaction is created (which is not apparent immediately).

Other areas of possible confusion:
1) users won't understand why they can take action in some cases but not others - i.e. a publish and then an update - the publish has no action available, but the update

[2017-11-09 18:47] wilsonk opened #721 "Inconsistent thumbnail sizes in 'Trending' section"
## The Issue
One can game the trending section somewhat by using a very long channel name to make the size of the thumbnail bigger than others in that section.
### Steps to reproduce
1.View trending section today (Nov 9, 2017)

### Expected behaviour
All thumbnails should be the same size

### Actual behaviour
Thumbnails with large channel names are larger than the rest

## System Configuration

-

[2017-11-09 18:55] wilsonk commented on #721
Sorry, maybe that isn't the channel name being too long that is the problem, but the actual size of the file name. Perhaps that forces the 'red ship/free' icon to be pushed onto the next line which then makes the thumbnail longer not wider.

Easier to game the system this way, but with the ellipses eliding the file name size it might be easier to fix?

[2017-11-09 19:06] wilsonk commented on #721
Hmm, maybe I will eventually get this right!  It actually looks like a combination of both the long file name and channel name may be the problem...??

[2017-11-09 21:55] #714 closed

[2017-11-09 22:06] tzarebczan commented on #621
@unclejed613 does this still happen in the latest version?

[2017-11-09 22:49] kauffj commented on #581
@hackrush01 shouldn't this make publishes revokeable?

[2017-11-09 22:53] tzarebczan commented on #581
It does... Maybe you misunderstood what I was saying? But if you publish and then update, the update is now revokeable but the publish isn't (since the bid for the claim is now at a different address)

[2017-11-09 22:54] kauffj commented on #581
Yep, nm.

[2017-11-09 23:06] kauffj opened #722 "Make it clearer the LBRY app does not store your credit card when used for verification"

[2017-11-10 01:32] tzarebczan commented on #344
Closing this as it has not happened for a while. There's a different issue with price not being shown correctly for updated claims.

[2017-11-10 01:32] #344 closed

[2017-11-10 01:46] tzarebczan opened #723 "Content shown as free at overtaken claim, users charged for downloads"
## The Issue
When content is overtaken at a vanity URL that was previously cached, the new claim information is shown but the content price is not updated. There's a possibility that the content price is now 10 LBC but the app will still show 0. When the content is streamed or downloaded, the user is charged 10LBC unknowingly.

The original issue was first reported in https://github.com/lbryio/lbr

[2017-11-10 03:25] hackrush01 commented on #718
@tzarebczan I think this is the same as #510, should we close one of them?

[2017-11-10 09:09] seanyesmunt commented on #721
I think we should remove the card design. It can be tough to deal with when trying to keep boxes the same height.

If we remove the card we could increase the visible text limit and not have to worry about different container heights. Something like this redesign http://lab.zzk.fr/lbry/

[2017-11-10 09:17] seanyesmunt opened #725 "Discover page - Make the channel name a link to the channel"
For each video on the discover page, we show the channel name under the title. We should make the channel page a link to the channel page.

<img width="300" alt="screen shot 2017-11-10 at 1 17 52 am" src="https://user-images.githubusercontent.com/16882830/32651121-049d167a-c5b5-11e7-93aa-09b59ef02a51.png">

[2017-11-10 10:46] oakey22 opened #726 "No pause on internal app player when opening external"
start watching a movie like lbry://pubg-second-place-champ#07a4d9c9cc03f0245d111ffef6de558e83da4cb2
then click open
the original video carries on playing in the app, then the video is opened again  in the external player which starts playing
then in app video needs to pause as the external player is opened

App | 0.18.0rc1
-- | --
0.18.0rc1
3.1.11rc8
gfugfqpsfpsewz@divermail.com
 
Linux (Linux-4.4

[2017-11-10 10:48] oakey22 opened #727 "No error for out of disk space"
Download a video and run out of disk space as it is downloading, there is no error to indicate you ran out of disk space.

this is on the 0.18.0 app.

[2017-11-10 10:57] oakey22 commented on #721
@seanyesmunt i absolutely love that design, so professional looking

[2017-11-10 15:04] lyoshenka commented on #581
Merged

[2017-11-10 15:04] #581 closed

[2017-11-10 15:09] LavRadis opened #729 "When you use the scroll bar in main app screen it also moves the view in download folder and vice versa"
**Working on this?** See [hint here](https://github.com/lbryio/lbry-app/issues/729#issuecomment-343507699)

## The Issue
When you scroll down in main app screen, the view in the "downloads and purchase"s is also moved when you go there. It also happens in reverse, when you move scroll in downloads view and go back to the main screen.

### Steps to reproduce
1. Move scroll down in the main screen
2

[2017-11-10 15:11] LavRadis commented on #729
It also happens when you move scroll in the wallet. When you go to the main window it has also moved.

[2017-11-10 15:14] LavRadis commented on #729
It happens when you move the settings scroll bar also. Looks like all the areas of the app are affected.

[2017-11-10 15:44] kauffj commented on #729
Clue for whoever works on this:

You most likely to change the scrolling behavior in the `doNavigate` function of `actions/navigation.js` so that the Y position is not retained on navigation to new pages not in the history stack.

[2017-11-10 15:47] kauffj commented on #727
This issue was moved to lbryio/lbry#994

[2017-11-10 15:47] #727 closed

[2017-11-10 22:17] tzarebczan opened #730 "file_list indefinitely called after incomplete download/stream"
## The Issue
This issue stems from https://github.com/lbryio/lbry/issues/995

Once a download is able to start, the app calls file_list to get the status. If the download never completes due to missing blobs/network issues, it will continue calling file_list.

Not sure what the right solution would be, but indefinitely spamming it causes the app to get bogged down with requests. Possibly pause the

[2017-11-11 09:49] hackrush01 commented on #578
As per discussion on hangouts earlier, as far as I understood this needs not be done as we are already using a single modal for confirmation(no double confirmation modals). So as I'm closing this for now.

[2017-11-11 09:49] #578 closed

[2017-11-12 06:57] seanyesmunt opened #733 "Automatic dark mode"
We should offer an option to switch to the dark mode automatically. This would automatically switch to dark mode after some time (9pm). Extended functionality could be allowing the user to set the time at which the theme switches over.

Something like this (terrible mock up)
<img width="348" alt="screen shot 2017-11-13 at 5 15 09 pm" src="https://user-images.githubusercontent.com/16882830/32752356

[2017-11-12 20:13] btzr-io commented on #64
Same issue -> https://github.com/lbryio/lbry-app/issues/715

[2017-11-12 20:20] btzr-io commented on #428
is this still an issue?

[2017-11-12 20:30] tzarebczan commented on #428
The menu bar was reinstated in the last version, but requires pressing Alt on windows machines or mousing over the menu bar on Linux (not sure about Mac).

Sounds like there are some remaining issues which were discussed in the thread, so I'll leave it open for now.

[2017-11-12 20:41] btzr-io commented on #428
Ok, `win.setMenuBarVisibility(visible)` only works for  windows and linux

[2017-11-12 21:27] btzr-io commented on #622
I think channels should be handle on `Subscriptions` https://github.com/lbryio/lbry-app/issues/715

[2017-11-12 21:36] btzr-io commented on #622
### Todo
- [ ]  `Add to Bookmarks` button with a dropdown the ability to create a new list or add to existing one.
- [ ] Default List: `favorites`
- [ ] Export / import bookmarks list [ ? ]

[2017-11-13 20:10] seanyesmunt opened #736 "LBRY menu bar icon should be smaller for macOS"
## The Issue
On macOS, when running the app, the icon in the doc should be smaller. It is also pretty pixelated.
### Steps to reproduce
1. Run the newest app on macOS
2. Look at the icon in the menu bar

### Expected behaviour
The icon should look nice next to other icons

### Actual behaviour
The icon is too big, and does not have sharp edges.

## System Configuration
macOS High Sierra 10.13.1 (i

[2017-11-13 20:48] oakey22 opened #738 "Poor error message for no support/tip amount input"
Click support a claim and then click Send without inputting an amount, you get an error of

"Something went wrong"

This should say " Please input an amount" or something along those lines.

This is on the new 0.18.0 version

![image](https://user-images.githubusercontent.com/22527575/32748376-025edf36-c8b4-11e7-8da1-a902413e67cc.png)

[2017-11-13 21:26] tzarebczan commented on #396
@kauffj mentioned he may have fixed a scenario where this could occur. Will keep an ear open to see if its still happening often.

[2017-11-13 21:47] tzarebczan commented on #738
Thanks @oakey22! Sent you a couple LBC for filing the issue.

I've run across this in the past, never got a chance to file it.

[2017-11-13 21:50] seanyesmunt commented on #719
@tzarebczan Is this fixed?

[2017-11-13 21:56] #723 closed

[2017-11-13 21:56] liamcardenas commented on #723
Issue moved to [lbryio/lbry #996](https://github.com/lbryio/lbry/issues/996) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-13 22:03] tzarebczan commented on #719
Nope, those were all minor issues we decided to ship the current app with. They still exist, let me know if you have trouble reproducing any of them.

[2017-11-13 22:12] seanyesmunt commented on #718
Closing this in favor of #510

[2017-11-13 22:12] #718 closed

[2017-11-13 22:12] liamcardenas commented on #715
We need to figure out how subscriptions will integrate with the daemon.

[2017-11-13 22:46] seanyesmunt commented on #704
@tzarebczan Is this on a specific OS? I see the controls disappear when minimizing, but they come back when hovering over the video.

[2017-11-13 22:54] seanyesmunt commented on #418
@tzarebczan

"I just tried republishing the same raw file and it produces the same result"

Not sure if I follow; does that mean the issues is with the actual file?

[2017-11-13 23:08] reillysmith commented on #715
FWIW, I strongly believe Subscriptions belong at the app layer. This is not a fundamental aspect of LBRY, it is aesthetic and application-specific.

[2017-11-13 23:12] liamcardenas opened #739 "Immutable data structures"
Convert redux stores to use immutable.js

[2017-11-13 23:14] tzarebczan commented on #704
It may be specific for Windows then. I'll have to try it on Linux.

Did you minimize right after starting to stream and wait for the stream to finish before bringing it back it?

[2017-11-13 23:15] tzarebczan commented on #418
Yep, something to do with the file encoding possibly.

[2017-11-13 23:18] seanyesmunt commented on #704
Didn't wait for it to finish, I'll try that.

[2017-11-14 13:35] kauffj commented on #715
If subscriptions are only at the app/local level (which I think is reasonable), it will be tricky to count the number of subscribers.

[2017-11-14 13:52] MR4Y opened #740 "No tray icon in Arch Linux"
Title explains the issue.

### Steps to reproduce
1. Install lbry-app-bin from AUR
2. Open LBRY

### Expected behaviour
Much like every other Electron app, if the app has a tray icon, it should appear in the tray when the application opens.

### Actual behaviour
No tray icon shows up. Closing the app shuts down the daemon and closes the app.

## System Configuration
- LBRY Daemon version: 0.18.0
-

[2017-11-14 14:00] seanyesmunt opened #741 "content address extends outside of visible area in card"
## The Issue
When going to an address that is very long, content may extend passed the edge of the card

### Steps to reproduce
1. Navigate to lbry://@seanyesmunt#2fa8ecba445648eae50cb6e98948e67a417c9017/thisisaverylongstringthatiscutoff
2. Notice content extending off the page
3. Publish new content
4. Go to the new content page before the publish is done, see it extend off the page

### Expected

[2017-11-14 14:02] LavRadis opened #742 "Difference in price of the video and price to be paid"
## The Issue
There is a different price on the video and when you want to download it and buy it. Not sure if it affects multiple videos, it probably does but I couldn't check due to my balance. It is probably some kind of a rounding issue.

### Steps to reproduce
1. Open a video with price 0.58 LBC
2. When you try to pay for it, the price will be reported as 0.57

### Expected behaviour

Prices s

[2017-11-14 15:05] LavRadis commented on #742
After clearing the cache, both prices are 0.57.

[2017-11-14 16:26] btzr-io commented on #729
fixed in #732

[2017-11-14 17:03] tzarebczan opened #743 "Coinbase purchase widget in app - USD>LBC gateway"
## The Issue
As a non-crypto user, I would like to have a way to purchase LBRY Credits within the app.

Since Coinbase has gained popularity and provides a widget to purchase BTC/LTC, we could utilize this to automatically convert the coins to LBC via Shapeshift. Shapeshift does require a return address - hopefully the Coinbase API can provide one but if not, we'd have to support otherwise

Yours.

[2017-11-14 17:53] tzarebczan commented on #740
Thanks for the issue @MR4Y ! Sent you a couple LBC on Discord for filing this, it's a good find.

[2017-11-14 18:02] akinwale commented on #721
Created a PR to fix this since it kept bothering me.

Also, @seanyesmunt that new design is amazing! You should show the entire team.

[2017-11-14 18:16] seanyesmunt opened #745 "Avoid content jumping when tipping a channel"
## The Issue
When clicking "support" to tip a channel, the page may jump in vertical scroll

### Steps to reproduce
1. Go to a video
2. Scroll to the bottom
3. Click "Support"
4. Notice the content jump

### Expected behaviour
We should try to avoid quick content jumps. This may require rethinking the tip module on the view page

### Actual behaviour
Content jumps, resulting in a bad experience

[2017-11-14 18:48] hackrush01 commented on #740
Right now, in Linux, only Debian systems are supported.

Could you please post the output of the following command:
`pacman -Qi libappindicator1`. I could probably use the info to add tray
icon support in arch Linux systems.

-Regards
-Amit Tulshyan

On Nov 14, 2017 11:23 PM, "Thomas Zarebczan" <notifications@github.com>
wrote:

Thanks for the issue @MR4Y <https://github.com/mr4y> ! Sent you a cou

[2017-11-14 19:25] MR4Y commented on #740
Output:
```error: package 'libappindicator1' was not found```

[2017-11-14 20:48] tzarebczan commented on #704
I just tried it on Linux and it happens there also. The trick is that you have to minimize (I didn't try closing to tray) really quickly after clicking play (while its still buffering) - then it can be brought up once the file starts streaming (or when its done)

Forgot to attach an image of what it looks like initially.

![unknown](https://user-images.githubusercontent.com/8120721/32803941-36c33d

[2017-11-14 20:51] tzarebczan commented on #704
If its an issue with the player itself, there's probably not much we can do at this time. It's a fairly rare use case (minimizing after trying the stream).

[2017-11-14 22:29] tzarebczan opened #746 "TypeError: Cannot read property 'getHostNode' of null during email verification"
## The Issue
Users are seeing TypeError: Cannot read property 'getHostNode' of null when trying to verify their email

Clearing the LBRY auth token and trying again seems to fix the issue. Not sure if its API side or app side. I was able to get an email verified earlier, so not sure exactly what scenario it happens in or how to reproduce (will try tomorrow on a clean install)

## System Configurat

[2017-11-15 04:17] MSFTserver opened #748 "insufficient funds for deposit error"
## The Issue
i had a user report they tried to make deposit of 10lbc and they only had 7lbc without realizing it, but the error message said [object object] instead of proper insufficient funds readout
### Steps to reproduce
1. go to publish
2. enter deposit with more than balance
3. throws error [object object]

### Expected behaviour

it should throw proper errors
### Actual behaviour

looks lik

[2017-11-15 04:20] MSFTserver commented on #748
would also help if changed the default from 10lbc

[2017-11-15 04:59] tzarebczan commented on #748
Probably the same as https://github.com/lbryio/lbry-app/issues/427 but this is really a daemon side issue per that thread.

[2017-11-15 05:06] MSFTserver commented on #748
ahhh ok i think we should still switch the default amount to the lowest possible just so users now thats its the lowest and they shouldnt run into this issue if they dont change the default amount

[2017-11-15 05:08] MSFTserver commented on #748
even if they do they at that point they would have most likely noticed they didnt have that much but its easily overlooked by new users on first publishes

[2017-11-15 12:41] tzarebczan commented on #746
The workaround may just require a complete restart of LBRY, no auth token clearing required - that seems to work for some users.

[2017-11-15 13:56] tzarebczan commented on #746
@kauffj see below for line/trace

line error from bundle.js:
[code]
[code]

[2017-11-15 15:59] #746 closed

[2017-11-15 21:40] LavRadis opened #751 "Minor issue: copy function does not work on a part of LBRY app main screen text"
## The Issue
I wanted to select and copy a part of a text explaining "Community top bids" for a "Whatis this?" link window, but it doesn't copy it. The text is selectable, a menu appears and after selecting "Copy" there is nothing to paste.

### Steps to reproduce
1. Click "What's this?" link on "Community top bids section"
2. Try to copy the text
3. Paste does nothing

### Expected behaviour
Copy

[2017-11-16 12:46] IGassmann opened #752 "Integrate React and Redux devtools into Electron"
The Chrome DevTools extensions for React and Redux are also available in Electron through the [Electron DevTools Installer](https://github.com/MarshallOfSound/electron-devtools-installer).

It would be useful to enable these tools for easier debugging and inspection.

[2017-11-16 13:54] liamcardenas commented on #752
Yes, this was on my todo list. Can you get this working next (after you finish what you are working on)?

[2017-11-16 18:14] seanyesmunt opened #753 "When scrolling on the home page, there are flashes of un-rendered content at the bottom"
## The Issue
When scrolling on the discover page (more noticeable when scrolling quickly), there can be flashes of content that isn't fully rendered at the bottom of the screen.

### Steps to reproduce
1. On the Discover page
2. Scroll semi-quickly
3. Look at the bottom of the screen when scrolling

### Expected behaviour
Scrolling should mimic a webpage. The content should be "rendered" and ready

[2017-11-16 18:15] seanyesmunt commented on #753
@tzarebczan Interested if you see this on Windows. I would guess this issue is on all OS's, but not sure.

[2017-11-16 18:25] seanyesmunt commented on #751
@LavRadis  Can you try on `0.18.2`?

Seems to work for me, I think it was fixed recently

[2017-11-16 18:28] LavRadis commented on #751
Tried it now on 18.2 still same, no copy. could it be only me and my machine? other texts form the app home page works, only that frame doesn't.

[2017-11-16 18:49] seanyesmunt commented on #751
Hmm, that is pretty weird that copy/paste works in there areas. I'll try to
see if I can reproduce on another machine.

On Thu, Nov 16, 2017 at 1:28 PM LavRadis <notifications@github.com> wrote:

[2017-11-16 18:59] LavRadis commented on #751
I think this is the only frame/pop-up of such type in the entire app. Maybe the best solution would be to just re-design it into more uniform solution, like a link to an external FAQ. This is why I wanted to copy it in the first place, to start making the FAQ on the topic.

[2017-11-17 12:03] MR4Y commented on #740
Updated lbry-app-bin to 0.18.2-1. Still no tray icon.

[2017-11-17 12:38] tzarebczan commented on #740
18.2 was a patch release which fixed a specific new user issue, nothing else was changed.

[2017-11-17 13:42] kauffj commented on #740
@MR4Y I believe Electron only supports tray icons in Linux distributions that support `libappindicator1`.

[2017-11-17 14:14] liamcardenas commented on #699
@tzarebczan please create dependent issue on lbry schema

[2017-11-17 15:04] liamcardenas commented on #442
@tzarebczan please open daemon side issue

[2017-11-17 15:25] reillysmith opened #754 "Video Player "waits for metadata" on correctly structured mp4s"
**UPDATE**
If you PLAY a video and it ends up "Waiting for Metadata," if you *leave* to another page and then hit the back button to return to the Video Page, the video is able to play.

## The Issue
Waiting for metadata and refusing playblack. Similar bug: "Requesting stream" until download finishes instead of streaming ASAP.
### Steps to reproduce
1. Go to lbry://unbubbled1-1
2. Hit play
3. See

[2017-11-17 15:26] reillysmith commented on #754
I believe we need a new video player, and I might go so far as to say we should use closed-source off the shelf / request a closed source and open-source our own modification of it, if other open-source players are similarly bad.

This player does not allow us to see *what* metadata isn't being retrieved, to my knowledge. So we couldn't give encoding guidelines if we wanted.

[2017-11-17 15:44] tzarebczan commented on #625
daemon doesn't error anymore, but the console shows this when trying to remove from the claim page. You can remove it from the tx list
[code]

[2017-11-17 15:56] liamcardenas commented on #554
@tzarebczan can you try this again?

[2017-11-17 16:02] liamcardenas commented on #309
This was closed by #436, thanks @btzr-io!

[2017-11-17 16:02] #309 closed

[2017-11-17 16:05] liamcardenas commented on #179
We are not able to replicate this, it was probably fixed in an update to the UI. If you are still seeing this feel free to reopen.

[2017-11-17 16:05] #179 closed

[2017-11-17 16:26] seanyesmunt opened #755 "Seeing a blank green screen when refreshing when viewing "overview" page"
## The Issue
Not really sure whats happening, needs more exploration. Will update with more details later.

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots
<img width=

[2017-11-17 16:35] liamcardenas commented on #251
@kauffj where do you want to go from here?

[2017-11-17 16:41] liamcardenas commented on #430
@tzarebczan is this still happening?

[2017-11-17 16:48] #252 closed

[2017-11-17 16:51] liamcardenas commented on #424
This is available in the transaction list

[2017-11-17 16:52] kauffj commented on #755
@seanyesmunt Fairly confident it is from one of the two map calls introduced or modified in this PR https://github.com/lbryio/lbry-app/pull/697/files

@hackrush01 may know the fix without needing to examine too deeply, since this is from his code

[2017-11-17 16:53] liamcardenas commented on #565
@lyoshenka can we get some dummy data in the list?

[2017-11-17 17:12] liamcardenas commented on #552
@tzarebczan can you see if this is still happening?

[2017-11-17 17:15] liamcardenas commented on #561
related to https://github.com/lbryio/lbryschema/issues/21

[2017-11-17 17:23] liamcardenas commented on #493
I think we should remove the option to abandon claim from claim page when clicking the remove button (or just disable the button), what do you guys think?

[2017-11-17 17:52] lyoshenka commented on #565
You can install the api locally, then pass an env var to the app to tell it where to find the api (see lbryio.js line 13). Then you can make the api do whatever you want, or put whatever dummy data in the db you want. API setup instructions are in the internal apis readme.

[2017-11-17 17:52] MSFTserver commented on #493
not sure if this issue was addressed i think would fall under here but when i press the trash can button for one of my claims it goes oit of published but remains in downloaded, shouldnt it be removed all together from the app ui maybe not delete my file but delete blobs ect.

[2017-11-17 17:53] aayanl opened #757 "[feature request] option to use a socks5 proxy"
I know a lot of people who would appreciate this option and using a proxy system wide is less than ideal

[2017-11-17 19:54] kauffj commented on #493
@liamcardenas if we remove the option, are you suggesting we always abandon it? If not, I suspect at least some users will be confused that removing a file for one of their publishes does not remove the ability for others to discover and access it.

[2017-11-17 20:15] kauffj commented on #754
@tzarebczan is this the same or different than https://github.com/lbryio/lbry-app/issues/635#issuecomment-333911622 ?

[2017-11-17 21:36] #729 closed

[2017-11-17 21:45] #757 closed

[2017-11-17 21:45] tzarebczan commented on #757
Issue moved to [lbryio/lbry #1002](https://github.com/lbryio/lbry/issues/1002) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-17 22:47] tzarebczan commented on #754
@kauffj believe its different - if you leave the claim page and re-enter, it does start streaming. Also, I uploaded it to instant.io and it streams there (the other videos did not): https://instant.io/#30d175dec43e4a89306100d032ab4ecc9af4c057

Also, doubled checked the video in #635 and it does not stream after exiting the claim page and coming back.

[2017-11-17 22:49] tzarebczan opened #759 "send bug reports to lbry help email box"
## The Issue
https://github.com/lbryio/lbry-app/blob/master/ui/js/page/report.js#L17

We'd like for the bug reports to end up at the help@lbry.io mailbox. The current process uses the [report bug](https://lbryio.github.io/lbry/#report_bug) api call.
Per Jeremy:
"It looks like the app is still using the legacy `report_bug` API command (which ought to be removed entirely)"

My guess is it would need

[2017-11-18 21:48] lyoshenka opened #760 "Set user-agent in Electron"
As the spee.ch maintainer, I'd like to track when images are loaded by the LBRY app vs a normal browser, so I can have better analytics.

If Electron's useragent is set to something like `Mozilla/5.0 ... LBRY v0.18.0 ...`, then speech will know that the request comes from the app.

Some maybe-useful links:
- https://stackoverflow.com/questions/35672602/how-to-set-electron-useragent
- https://githu

[2017-11-18 21:49] lyoshenka commented on #760
@billbitt filed it for you :-)

[2017-11-19 18:37] LavRadis commented on #704
This issue happened on my Win 10 installation also. In addition, I think that video playing should be paused and/or sound turned off. I left a video to download, minimized in the tray, so when it started playing the sound it was when I was in mid-game. Very distracting.

[2017-11-20 16:24] #616 closed

[2017-11-20 16:51] #701 closed

[2017-11-20 16:55] wilsonk opened #761 "Network supporter reward"
## The Issue

We need some changes to the app to pick up the new 'supporter' reward once it is finalized. I am not exactly sure what changes are needed, but wanted to get the ball rolling on this here, so that others can chime in.

[2017-11-20 17:17] tzarebczan opened #762 "Allow users to encrypt wallet / wallet encryption/decryption user flow"
## The Issue
Once @akinwale is done with the protocol side of this which allows wallet encryption, we need to have a discussion about what this should look/work like from a user experience standpoint.

Some quick points:
1) This needs to be as simple as possible - we'll have many non-crypto  / non-tech users
2) We need to be explicit about not being able to recover the wallet if the encryption pas

[2017-11-20 17:52] wilsonk commented on #761
@tzarebczan  Yes, you bet. The network support reward is determined by API accesses over a four week period.

If you have 5 or more accesses in the last week, then you start out at a 1 LBC reward, this continues to escalate to a maximum of 4 LBC if you continue to support the network over the upcoming 3 weeks. You will continue to receive 4 LBC every week that you access the API 5 or more times on

[2017-11-20 17:53] kauffj commented on #762
IMO this is something we ought to avoid introducing on first-run unless we have to. If it must be introduced on first-run, do it in a way that a user can put it off or do it later.

When the user is first running the software, they don't have any credits, or have very few. Being told you must write something down and if you forget it you lose your credits forever is a very intimidating introductio

[2017-11-20 18:20] tzarebczan commented on #761
That makes sense to me in terms of the mechanism and reward structure. Does the "API access" mean the user will have an entry in the access API table?  Does the user need to have "Share Diagnostic Data" turned on for this to work?

[2017-11-20 19:46] IGassmann opened #763 "Setup linting and prettier"
Currently, the app has ESLint installed but it isn't correctly configured. It throws a considerable amount of errors all around the codebase.

The idea would be to setup the linting tools and also prettier so it doesn't throw any errors.

[2017-11-20 19:53] IGassmann opened #764 "Write CONTRIBUTING.md and update documentation"
Write and update the project documentation to ease the process of contributing and keep a consistent codebase.

[2017-11-20 20:24] seanyesmunt commented on #373
Closing since duplicate of https://github.com/lbryio/lbry-app/issues/540

[2017-11-20 20:24] #373 closed

[2017-11-20 20:28] liamcardenas commented on #633
@tzarebczan can you open up a daemon side issue?

[2017-11-20 20:30] liamcardenas commented on #551
@btzr-io hey great work identifying this, what are the next steps for eliminating these modals?

[2017-11-20 20:32] liamcardenas commented on #637
@kauffj most appear to be moved over, do you know off the top of your head which ones are left? If not, I can look and find out.

[2017-11-20 20:55] liamcardenas commented on #670
@kauffj should we prioritize this issue highly? It would help with future daemon testing

[2017-11-20 21:10] #721 closed

[2017-11-20 21:10] liamcardenas commented on #721
@tzarebczan can you verify this is working?

[2017-11-20 21:18] liamcardenas commented on #733
Can you make sure to explain what automatic dark mode is in app?

[2017-11-20 21:26] liamcardenas commented on #621
Closing, please reopen if its still happening :)

[2017-11-20 21:27] kauffj commented on #670
@liamcardenas sure, it's an easy one. Just fix this line:

https://github.com/lbryio/lbry-app/blob/master/ui/js/redux/actions/app.js#L156

However, you need to use a comparison check that can properly handle version numbers, including RCs.

[2017-11-20 21:28] liamcardenas commented on #429
@kauffj what do you think we should do about this? Do you know why this was added to the app?

[2017-11-20 21:37] kauffj commented on #429
This is fixed, according to both source and my quick test.

Though in my test I did encounter https://github.com/lbryio/lbry-app/issues/398

[2017-11-20 21:37] #429 closed

[2017-11-20 21:38] seanyesmunt commented on #733
Yeah. Will definitely have some explanation next to the toggle.

On Mon, Nov 20, 2017 at 4:18 PM Liam Cardenas <notifications@github.com>
wrote:

[2017-11-20 21:39] #264 closed

[2017-11-20 21:43] kauffj commented on #637
Search for the following strings:

- `<Modal` appearing anywhere outside of a modal view. Though potentially the ones in `<SplashScreen>` can or have to stay.
- `modal == "` Anywhere a modal is being checked against a string it should be replaced with the appropriate constant from `modal_types.js`.
- `modal: "` Same as above, but for dispatches.

It's probably slightly better to do regexes of the

[2017-11-20 21:46] liamcardenas commented on #247
@kauffj what are your thoughts about exposing the classic claim supports within the app?

[2017-11-20 21:54] kauffj commented on #764
To clarify, we already have one CONTRIBUTING.md, which exists here:

https://github.com/lbryio/lbry.io/blob/master/content/faq/contributing.md

If every repo is to have a CONTRIBUTING.md, it seems likely that there will be a good amount of shared content between repos. The question then becomes:

- Is CONTRIBUTING.md the shared part, with the per-repo stuff in a separate file?
or
- CONTRIBUTING.md

[2017-11-20 22:59] kauffj commented on #759
It can presumably use https://developer.helpscout.com/help-desk-api/

[2017-11-20 23:10] wilsonk commented on #761
Yes the user will have an entry in the access table. I am not sure whether the "Share Diagnostic Data" needs to be turned on. Perhaps @lyoshenka would know?

[2017-11-21 00:53] tzarebczan opened #765 "Integrate verified email reward into new user flow"
## The Issue
Once https://github.com/lbryio/internal-apis/pull/140 is finalized, we should integrate it into the new user flow so that brand new LBRY app users can earn 1 LBC right off the bat without going through the Rewards verification process.

My guess is that we will need to monitor this Reward closely for abuse in case someone goes through the trouble of exploiting it.

[2017-11-21 01:05] seanyesmunt commented on #736
Will take a look at this. Looks pretty bad. Here is a pic with the dark menu bar
<img width="387" alt="screen shot 2017-11-20 at 8 03 40 pm" src="https://user-images.githubusercontent.com/16882830/33049435-150351c4-ce2e-11e7-971a-bb94d6201c70.png">

[2017-11-21 02:41] lyoshenka commented on #761
"Share Diagnostic Data" does not affect internal apis

[2017-11-21 03:58] liamcardenas commented on #748
Interesting, @seanyesmunt what do you think about this? Certainly there are some issues on the app end in terms of displaying the proper error message (as @MSFTserver pointed out, probably an issue reading json) and explaining/modifying the default behavior.

i'm going to assign this to you Sean, obviously feel free to unassign it

[2017-11-21 04:01] tzarebczan commented on #751
I'd day bottom of the backlog for now. I'll see if I have time to reproduce it tomorrow, but it's not a high priority at this time.

[2017-11-21 04:08] tzarebczan commented on #748
https://github.com/lbryio/lbry/issues/855 let's see what Alex says. Can we still capture the daemon output even with the exception? I'm sure we can but we'd wanna know what the daemon will return exactly.

I'm all for making this a priority, comes up alot.

[2017-11-21 04:30] tzarebczan opened #766 "Add purchase and received payment information to wallet / separate area?"
@tzarebczan commented on [Wed Aug 30 2017](https://github.com/lbryio/lbry/issues/884)

## The Issue
As both a publisher and consumer of content via the LBRY app, I would like to be able to track what content purchase was associated with my wallet transactions and also what incoming payments are associated with my published items when they are downloaded.

Currently, when you download something tha

[2017-11-21 04:35] tzarebczan commented on #766
Once the daemon/wallet side is ready, we would add this information to the app transaction list. It should be categorized as Purchases and Content Payment (what's a better single term we can use here to designate incoming payments for monetized content?) and available via the filter.

[2017-11-21 13:16] IGassmann commented on #764
It would be better to have CONTRIBUTING.md as repo-specific due to the fact that Github uses this file to notify the user that the project has some guidelines: [https://help.github.com/articles/setting-guidelines-for-repository-contributors/](https://help.github.com/articles/setting-guidelines-for-repository-contributors/)

Also, contributors usually expect to find that file in the same repo that

[2017-11-21 14:01] tzarebczan opened #768 "Locating downloaded file opens Explorer in minimized state (Windows related) / hyperlinks too"
## The Issue
When on the claim page and clicking the Download location at the bottom of a claim, the goal is to open the Explorer and locate the file. When this is done on Windows, the explorer Window flashes in the taskbar but doesn't come to focus.

I also noticed this happens hyperlinks and Edge Browser (Chrome seems to work ok, so does IE), like the FAQ button from Help page.  Seems to occur w

[2017-11-21 14:04] tzarebczan opened #769 "Finding Help is difficult in the app for a new user"
## The Issue
During the new user experiment in Manchester, we noticed users had trouble finding support within the app. Originally, they were confused about the "support" button on the claim page so they tried that. I think we should have a dedicated button on the menu bar after the settings cog which takes user to the help page.

## System Configuration

- LBRY Daemon version:
- LBRY App version:

[2017-11-21 20:20] #708 closed

[2017-11-21 20:20] #752 closed

[2017-11-21 21:15] kauffj commented on #764
:+1:

[2017-11-21 23:42] seanyesmunt opened #772 "Quiting from the top menu bar doesn't work (File > Quit)"
<img width="419" alt="screen shot 2017-11-21 at 6 38 25 pm" src="https://user-images.githubusercontent.com/16882830/33102594-8167dad4-ceeb-11e7-9917-08fbfd41e97f.png">

## The Issue
safeQuit is not a function

### Steps to reproduce
1. Click "File" then "Quit" from the menu bar

Probably added here https://github.com/lbryio/lbry-app/commit/6d01122967169479c225201a66f9ebe675834e90

@IGassmann can y

[2017-11-22 01:29] hackrush01 commented on #772
I think putting `module.exports` in the first line would fix this issue.

-Regards
-Amit Tulshyan

On Nov 22, 2017 5:12 AM, "Sean Yesmunt" <notifications@github.com> wrote:

[2017-11-22 02:00] btzr-io commented on #551
@liamcardenas Hi, first we would need to create an `EmptyState` component / layout:

For the image probably use some basic illustrations or just icons...

This was intended to be part of the `material-design` refactoring / improvement,
but now that the app is moving towards @nizuka01 design maybe look for other alternatives?

https://material.io/guidelines/patterns/empty-states.html#

[2017-11-22 02:34] IGassmann commented on #772
@hackrush01 Yes it solves. It's because ´setMenu´ is called before the export.

I don't like that we are forced to put the export on top. There should be a better way, but for the time being, I'll put it back there.

[2017-11-22 03:03] #772 closed

[2017-11-22 03:04] #614 closed

[2017-11-22 13:03] IGassmann commented on #738
This issue will be waiting for [that issue](https://github.com/lbryio/lbry/issues/1004). The error message should be returned by the API so it can be used in the app.

[2017-11-22 14:05] IGassmann opened #774 "Support Hot Module Replacement for development"
Support HMR (hot reload) for development. Ideally also have it for Electron's main process.

[2017-11-22 15:05] seanyesmunt commented on #736
-

[2017-11-22 15:05] #736 closed

[2017-11-22 18:54] seanyesmunt opened #775 "Channel name and publish date are not aligned on content page"
<img width="500" alt="screen shot 2017-11-22 at 1 54 15 pm" src="https://user-images.githubusercontent.com/16882830/33144917-a59148b8-cf8c-11e7-90a9-e2989dadaa17.png">

[2017-11-22 20:48] seanyesmunt opened #777 "Enforce BEM accross the app"
We are trying to use BEM practices for css classes. There are a lot of places we aren't doing this, so it can be hard to tell how you should name new classes.

We need to go through the entire app and enforce BEM, and enforce it in all PR's going forward.

[2017-11-23 01:26] hackrush01 commented on #611
Fixed in #731.

[2017-11-23 01:26] #611 closed

[2017-11-23 16:44] reillysmith opened #779 "Toggle Payment Prompt Threshold"
## The Issue
Payment prompt for negligible priced items can be streamlined/toggled
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen
Items less than a certain LBC should not trigger an "Are you sure?" -type payment confirmation if I'm okay with it.

Default: do not prompt if USD < or = $0.05 for an item.
Settings>Toggle Payments: Do not prompt if < = $X.xx (select

[2017-11-23 16:51] tzarebczan commented on #779
This already exists in settings :)

[2017-11-23 17:01] reillysmith commented on #779
I had no idea. So that introduces two other problems:
- The flow leading to that potentially game-changing knowledge isn't correct. ( @liamcardenas )
- I think the default should be a threshold and not "always prompt me" because being prompted for a penny is still ridiculous. It costs more than a penny of time to show them the pop-up asking them if they want to spend a penny.

I propose the defaul

[2017-11-23 17:01] #779 closed

[2017-11-23 17:08] reillysmith opened #780 "Change Payment Toggled Default"
## The Issue
Default of always being alerted of payments is annoying for content that is under a certain threshold.

It also lowers CTR for content that might otherwise be watched.

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Default "alert me" should be $0.05 or $0.10 USD, perhaps even  $0.25, and being alerted for all payments should be the toggle.

### Actual behaviour
No matter wha

[2017-11-24 04:05] #775 closed

[2017-11-24 17:46] kauffj commented on #780
One option is:

1. Change default to something like $0.25.
1. The first time a user clicks on a paid video to something less than this value, we show a modal letting them know that videos $0.25 will auto-play, and that this can be changed in Settings.

[2017-11-25 11:03] MR4Y commented on #740
Both Discord AUR buids have tray icons.

[2017-11-26 05:43] etisdew commented on #777
If this might be a good place to introduce myself to the project and may I discuss this issue with you on discord? @etisdew

[2017-11-26 05:51] seanyesmunt commented on #777
Hey @etisdew! Just sent you a friend request on Discord

[2017-11-26 08:08] etisdew commented on #484
It was unexpected to find a wallet backed up after removing it for the development build from source. Should I bother using the backup I made?

[2017-11-26 10:45] tzarebczan commented on #484
Yes, the lbry data and wallet are not deleted during Uninstall, only the program related files. This is to ensure that you still have your lbry data and credits in case you reinstall lbry or bring it to another pc.

Migration guide here:
Https://lbry.io/faq/backup-data

[2017-11-26 10:46] tzarebczan commented on #777
@etisdew be sure to check out lbry.io/faq/contributing too!

[2017-11-26 19:30] etisdew commented on #740
Off-topic: I would like to request any information you have regards to building to Arch for a proposal of addition to the instructions if able to resolve this. @MR4Y can we PM on discord?

[2017-11-26 19:43] MR4Y commented on #740
Yes.

[2017-11-26 19:49] etisdew commented on #740
@etisdew sorry, not sure which MR you are >_<

[2017-11-26 22:33] seanyesmunt opened #786 "Users should be able to create channels outside of the publish flow"
As a user, it would be nice to be able to create a channel outside of the current publish flow. Some sort of "Create Channel" page would be really nice.

[2017-11-26 22:54] reillysmith opened #787 "Default Channel/Identity"
## The Issue
Identity/Channel creation on its own page/UX flow, outside of content Publish page [per Sean's Issue](https://github.com/lbryio/lbry-app/issues/786), but also:

- Default channel needs to be selectable as "show me as" when interacting in app via comments/tips or having a default channel to publish content toward
- You cannot use [Comments](https://github.com/lbryio/lbry-app/issues/788

[2017-11-26 22:57] reillysmith opened #788 "Comments First Implementation"
"**Edit:** After our recent meeting, the best way to do this seems to be to add a message to to the current support feature that gets displayed on the page."

-- Liam

## The Issue
Commenting first run

### Parameters
1. Comments cost default price (below notification threshold)
- Payment on blockchain mirrors "tip support" button, appears as "tip" or "comment tip" in History
2. Comments sort by
-

[2017-11-26 23:02] reillysmith commented on #780
I like the modal idea. Let's run with that.

[2017-11-26 23:03] reillysmith commented on #786
see also: https://github.com/lbryio/lbry-app/issues/787

[2017-11-26 23:06] seanyesmunt commented on #786
I’ll just close this one

On Sun, Nov 26, 2017 at 6:05 PM reillysmith <notifications@github.com>
wrote:

[2017-11-26 23:18] reillysmith commented on #786
Unless that's bad procedure, let me know.

[2017-11-26 23:20] seanyesmunt commented on #786
Oh. No that’s fine. Just make that one dependent on this issue then. Should be good. 👍

[2017-11-27 14:31] kauffj commented on #740
@etisdew @MR4Y as far as I know, Electron tray icons will only display if `libappindiactor1` is available. See:

- https://github.com/webtorrent/webtorrent-desktop/issues/383
- https://github.com/electron-userland/electron-builder/issues/375

Can you guys clarify this issue? Is it:

1. You have libappindiactor1 installed, but it doesn't work.
2. You do not have libappindiactor1 installed, and the

[2017-11-27 15:06] hackrush01 commented on #740
OK so I got some time to look at the issue, and this is my diagnosis.
1) libappindicator1 indicator is not installed in the system (`pacman -Qi
libappindicator1`  returned negative).
2) Also the app explicitly checks for libappindicator1 in Debian based
systems(https://github.com/lbryio/lbry-app/blob/master/app/main.js#L522)
3) We install dependencies for debian(
https://github.com/lbryio/lbry-app

[2017-11-28 02:16] etisdew commented on #251
Whatever it is, thats the symbol for lbryium, is this restricted to character codes or would you use an SVG/Image?

[2017-11-28 12:02] MR4Y commented on #740
@kauffj As I explained earlier all builds of Discord have tray icons. None of them require libappindicator1.

[2017-11-28 15:23] jackrobison opened #792 "Add user configurable setting for automatic claim renewal"
See comments in https://github.com/lbryio/lbry/issues/1001

[2017-11-28 18:01] Feanor78 opened #793 "User got [object Object] error when uploading a video"
## The Issue
A user tried to upload a video and got an error message - link here: https://twitter.com/willkriski/status/935567877524029440
### Steps to reproduce
1. User uploaded video, got error message

### Expected behaviour
Video should be published

### Actual behaviour
[object Object] error happened

## System Configuration

- LBRY Daemon version: Not sure, got the error info over Twitter
-

[2017-11-28 18:12] tzarebczan commented on #793
Most likely the same as https://github.com/lbryio/lbry-app/issues/748

[2017-11-28 18:12] #793 closed

[2017-11-28 21:12] seanyesmunt commented on #748
@kauffj Is there any reason we can't just check the users wallet balance app side for this? It would be a quick fix while we figure out a better solution for the daemon interaction. Added to to the channel creation to see what it would look like here https://github.com/lbryio/lbry-app/pull/794/files

[2017-11-28 21:25] kauffj commented on #748
@seanyesmunt yes an app side check could be added. But we should still figure out what's going on here, since other errors could likely generate this same outcome (I'm guessing we're rendering an `Error` object rather than printing it's message, but haven't looked).

[2017-11-28 21:30] seanyesmunt commented on #748
👍

Yeah we will definitely need to fix the daemon error handling. But it will
be nice to have a somewhat better error presented for now.

On Tue, Nov 28, 2017 at 4:25 PM Jeremy Kauffman <notifications@github.com>
wrote:

[2017-11-29 04:18] seanyesmunt opened #795 "File cards are cutoff on the home page after resizing the app"
## The Issue
When scrolling all the way to the right on the trending section, the last video is cut off slightly

<img width="400" alt="screen shot 2017-11-28 at 11 16 34 pm" src="https://user-images.githubusercontent.com/16882830/33357757-4864f936-d492-11e7-81e9-9ba1c26ae095.png">

### Steps to reproduce
1. Load the app home page
2. Make the the app smaller by dragging one of the edges
3. Click o

[2017-11-29 04:59] seanyesmunt commented on #795
This only happens for small screen sizes

[2017-11-29 15:09] tzarebczan opened #797 "Content shown as free at overtaken claim, users charged for downloads"
@liamcardenas commented on [Mon Nov 13 2017](https://github.com/lbryio/lbry/issues/996)

@tzarebczan commented on [Thu Nov 09 2017](https://github.com/lbryio/lbry-app/issues/723)

## The Issue
When content is overtaken at a vanity URL that was previously cached, the new claim information is shown but the content price is not updated. There's a possibility that the content price is now 10 LBC but t

[2017-11-29 15:25] tzarebczan opened #798 "Two children with the same key - console error"
## The Issue
The console is throwing an error/warning about the lbry://sideshow claim. Probably happening because it appears in both the Trending section and LBRY Originals?

[code]
### Steps to reproduce
1. Open LBRY app
2. Check console

## System Configuration

- LBRY Daemon version: 0.18.0
- LBRY App version: 0.18.2
- LBRY Installation ID:
- Operating system: Windows

## Anything Else

## Scre

[2017-11-29 15:37] kauffj commented on #798
Hmm, is it possible the trending area is returning the same thing twice? I think this would only happen if they were both in the same category.

[2017-11-29 17:27] seanyesmunt commented on #712
This was before I knew we had a `Link` component. There is some refactoring that could happen with that, but it works really well

[2017-11-29 17:27] #712 closed

[2017-11-30 00:45] liamcardenas opened #801 "Get more credits modal error"
## The Issue
When the user has no credits and, in the wallet, clicks the "send tab", a modal pops up. when you click any button on the modal you get an error

<img width="1380" alt="screen shot 2017-11-29 at 4 39 32 pm" src="https://user-images.githubusercontent.com/5027235/33407040-669bdcc0-d524-11e7-8bd1-499c4fedec03.png">

### Steps to reproduce
1. have no credts
2. go to wallet
3. go to send t

[2017-11-30 01:24] tzarebczan commented on #801
Which version are you on? Don't think this occurs on 0.18.2, so it might be a regressive issue.

[2017-11-30 02:59] tzarebczan opened #803 "Snackbar message blank for referral reward, page does not update"
## The Issue
When redeeming a referral reward, the snackbar is blank (see below).
Also, the page does not update to reflect that the reward was claimed.
![snackbar](https://user-images.githubusercontent.com/8120721/33410860-45be3ee0-d550-11e7-8f19-d05a6e16db88.png)

After leaving and coming back:
![after](https://user-images.githubusercontent.com/8120721/33410873-594b0420-d550-11e7-85ad-9168d7ab67

[2017-12-01 00:04] liamcardenas commented on #739
immutable js records aren't as well developed as I had hoped, I might return to this later but for now I am going to shelf it.

[2017-12-01 14:57] kauffj commented on #748
Fixed in #794

[2017-12-01 14:57] #748 closed

[2017-12-01 15:02] #684 closed

[2017-12-01 15:24] tzarebczan commented on #748
Once the daemon side is fixed(the exception, plus the update balance issue), this will need to be reverted because the daemon needs to take into account already claimed LBC when updating claims.

[2017-12-01 22:57] tzarebczan opened #806 "Add message to Overview rewards section when all rewards are redeemed"
## The Issue
When all the rewards are redeemed, the Rewards box of the Overview page looks empty. We should add a message that there are no rewards available at this time (message on Rewards page is: "There are no rewards available at this time, please check back later.")

![rewards redeemed](https://user-images.githubusercontent.com/8120721/33507135-155d4dc8-d6c1-11e7-8369-9e7b301c7b60.JPG)

###

[2017-12-02 00:00] icheyne opened #807 "Win10: An App Default Was Reset" error for aac & m4a files on startup"
### Steps to reproduce
1. Start lbry.io
2. See two errors:
* An App Default Was Reset for aac files
* An App Default Was Reset for m4a files

## System Configuration
- LBRY Daemon version: 0.18.0
- LBRY App version: 0.18.2
- LBRY Installation ID: 6he7dX74BiDuqUdEowvF1QVk9xj6LtS9LGdxWF9oBkDssUajXSGczDSiZYc2KreYCi
- Operating system:Windows (Windows-10-10.0.15063)

## Anything Else
I'm tempted to fi

[2017-12-02 00:06] tzarebczan commented on #807
@icheyne thanks for the report. I'll move this over to the correct repo.

Are you certain that the trigger is when you visit https://lbry.io ? What happens if you go to other sites with videos like youtube.com / hulu.com?

[2017-12-02 00:06] #807 closed

[2017-12-02 00:06] tzarebczan commented on #807
Issue moved to [lbryio/lbry.io #263](https://github.com/lbryio/lbry.io/issues/263) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-02 18:19] tzarebczan commented on #328
@seanyesmunt / @liamcardenas - since https://github.com/lbryio/lbry/issues/883#issuecomment-348709033 now shows the URL, we should show that instead of the sd-hash. Ultimately I think we would want to show the title.

Also, maybe we can simplify the popup - doesn't need to say "this error has been reported" but instead explain that it could not download the file at this time, please try again late

[2017-12-03 23:24] rcanolty commented on #219
If the LBRY tip offer still stands, here is my address: bVxY4EtVtakjxhJqjVLX
632RsaQVci7nLs

​Looks like the project is doing well! Just joined the discord group.

Best,
Ryan​

On Wed, Jun 14, 2017 at 1:00 PM, Jeremy Kauffman <notifications@github.com>
wrote:

[2017-12-04 14:21] kauffj commented on #219
@rcanolty sent

[2017-12-04 14:29] IGassmann commented on #774
Issue currently being blocked by electron-webpack's issues: [#71](https://github.com/electron-userland/electron-webpack/issues/71) and [#69](https://github.com/electron-userland/electron-webpack/issues/69).

[2017-12-04 14:37] kauffj commented on #774
We can go down to a single index.html file

[2017-12-04 14:43] IGassmann commented on #774
We already have only one [index.html file](https://github.com/lbryio/lbry-app/blob/master/src/renderer/dist/index.html). The problem being is that it isn't a generated one. Electron-webpack makes use of the [html-webpack-plugin](https://github.com/jantimon/html-webpack-plugin) that generates an index.html for the project. We could switch to this generated file, but then we would have to find a way

[2017-12-04 15:10] rcanolty commented on #219
ah, sorry, I went with rtc as my channel name, so @rtc? i also just learned
about discord tipbot, if that is easier.

On Mon, Dec 4, 2017 at 9:21 AM, Jeremy Kauffman <notifications@github.com>
wrote:

[2017-12-04 15:11] tzarebczan commented on #219
Ah, welcome to our Discord... We had some interactions yesterday :)

[2017-12-04 15:12] rcanolty commented on #219
ah, just looked and it is there, so no worries. keep it up guys, this is
the project that got me into blockchain (better than cryptokitties.co !)

On Mon, Dec 4, 2017 at 10:11 AM, Thomas Zarebczan <notifications@github.com>
wrote:

[2017-12-04 15:19] kauffj commented on #774
I thought this was about `warning.html` and `upgrade.html`, which I believe are still used.

The favicons can presumably be dropped (more of a legacy from when the app was accessed via your browser).

Surely there must be some way for the fonts to be loaded? They could be loaded in Javascript, if nothing else.

[2017-12-04 15:26] IGassmann commented on #774
Oh `warning.html` and `upgrade.html`shouldn't be a problem since they aren't entry points for the renderer process. I will then go for a generated `index.html`. I just need to have [this issue](https://github.com/electron-userland/electron-webpack/issues/71) resolved so I can have the compiled CSS file linked to the generated ìndex.html`.

[2017-12-04 15:36] loopmode commented on #774
You could use https://github.com/jantimon/favicons-webpack-plugin for icons

Fonts could be included by importing them into scss or css and importing that in js.

[2017-12-04 15:39] IGassmann commented on #774
@loopmode Awesome, thanks for sharing this.

[2017-12-04 18:45] tzarebczan opened #809 "Add Help button on top row of app"
## The Issue
When a first run user encounters an issue, they can't easily find the "help/support" area. Right now its hidden under Settings. Would be nice to have a dedicated button at the right most area (after settings) which navigates there.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-12-04 18:47] tzarebczan commented on #769
Closing in favor of https://github.com/lbryio/lbry-app/issues/809

[2017-12-04 18:47] #769 closed

[2017-12-04 20:09] seanyesmunt opened #810 "Use something other than "types" for action types"
Now that we are adding flow, I think we should change `types` to `actions` to prevent confusion.

Snippet:

[code]

[code]

[2017-12-04 22:07] kauffj commented on #810
See https://github.com/lbryio/lbry-app/pull/652#discussion_r154789628 for my thoughts on approach here

[2017-12-05 00:06] IGassmann commented on #774
Hey @loopmode! Forgot to offer you. If you'd like an LBC tip for your help, please see [lbry.io/faq/tips](lbry.io/faq/tips).

[2017-12-05 02:02] Dizeeee opened #812 "node-gyp rebuild fails during build"
## The Issue
node-gyp rebuild fails during build

### Steps to reproduce
1. Run ./build.sh on Solus

### Expected behaviour
LBRY should build properly

### Actual behaviour
The following error is thrown
[code]

## System Configuration

- LBRY Daemon version: N/A
- LBRY App version: Latest
- LBRY Installation ID: N/A
- Operating system: Solus

[2017-12-05 04:41] tzarebczan commented on #812
Reached out to you on Discord. Try installing keytar/libsecrete - https://www.npmjs.com/package/keytar

[2017-12-05 14:29] tzarebczan commented on #625
as a workaround, you can abandon from the tx list.

If there's a quick fix for the claim page side without going into https://github.com/lbryio/lbry/issues/941, would be awesome to get in.

[2017-12-05 14:47] tzarebczan commented on #812
@Dizeeee per our conversation on github, it seems to be specific to failures building the keytar module which are most likely specific to the distro you have / node version. Will close this for now, please re-open if you find anything else, but I know you said you will be switching distros.

[code]

[2017-12-05 14:47] #812 closed

[2017-12-05 14:51] tzarebczan commented on #608
@kauffj what terminology should we use to categorize these in the tx list/filter? Abandon? Revoke? Delete?

This applies to tips/supports/claims/channels that are abandoned.

[2017-12-05 16:33] Feanor78 opened #814 "Add link to channel in the description of videos in that channel"
When a video is added under a channel, it would be great if the video's description was automatically appended with a link back to the channel it's in. That way if someone wants to watch a full season of a show or something, they can just pop back to the channel at the end of the episode. This would probably be obsolete with playlists, but in the meantime it would be helpful for users.

[2017-12-05 18:34] hackrush01 commented on #814
The channel name under the(before the publish date) is clickable. That could be used to navigate to the channel page. It is currently colored grey, but I think I remember it being green, to indicate it was clickable. Maybe we should bring that back.

[2017-12-05 18:40] Feanor78 commented on #814
I just noticed that, and was coming back to edit this and say "the channel name should be underlined and a different color than surrounding text to indicate it's a link" haha

[2017-12-05 18:41] hackrush01 commented on #814
Should be a small change, let me look into it.

[2017-12-05 19:13] kauffj commented on #608
Not delete, since this is mildly erroneous (nothing is ever deleted from the blockchain).

I think abandon (abandoned?) is good.

[2017-12-05 19:13] kauffj commented on #608
Revoke is also good though.

[2017-12-05 21:20] liamcardenas opened #817 "Update JSON-RPC Expected Response Codes"
As per https://github.com/lbryio/lbry/pull/1019, JSON-RPC will return a status code 200 and errors that comply with http://www.jsonrpc.org/specification#error_object

(additionally, it uses the error class name if no error message is provided)

This may have been handled already on the app side. We need to look into it and if not we need to handle this updated response.

[2017-12-05 21:27] liamcardenas commented on #753
@seanyesmunt I think this should go to the icebox because after the redesign this might fix itself. It's also not a major.

Feel free to move this back to the backlog if you want.

[2017-12-05 23:34] tzarebczan opened #818 "Description is cleared if it was pasted through right click > paste"
## The Issue
This one was fun to nail down. Basically, if you paste a description using a right click>paste action, the description is cleared when you touch any other fields, including the last publish action.

### Steps to reproduce
1. Right Click > paste some text into description
2. Change the channel / bid amount
3. Description is cleared

### Expected behaviour
don't clear the description

#

[2017-12-06 01:29] liamcardenas commented on #801
@tzarebczan you are right, this is no longer an issue. Odd (I don't think I was on an old version but this is clearly no longer a problem).

[2017-12-06 01:29] #801 closed

[2017-12-06 08:07] loopmode commented on #774
@IGassmann actually I enjoyed reading the introduction of your app.
I got interested in blockchain stuff when it came out, but never got deeper into it.
But I happen to be a digital artist and a web developer with growing experience in electron apps, so.. I might even contribute "for real" next year. :)

[2017-12-06 14:37] #609 closed

[2017-12-06 17:13] julianrichen commented on #570
Hello,
I just submitted a Flatpak version of the LBRY app on Flathub: https://github.com/flathub/flathub/pull/175

I'm sure the Flathub team can add some else to the repo once it's created that represents the release team on LBRY. I'll try to keep it updated but I don't use LBRY much. I'm on Fedora and wanted to try it but only saw the deb. I figured I might as well package it for Flatpak so I did

[2017-12-06 18:41] nedrichards commented on #570
Just to confirm, Flathub's policy is that the upstream team can absolutely control the app on Flathub, it's there as a service to make things easier for developers - but we allow other people to set up the flatpak and maintain it if there isn't a lot of upstream interest.

As for electron apps, they're absolutely supported! The 'electron native' way to make a flatpak isn't very 'flatpak native', w

[2017-12-06 20:08] liamcardenas opened #821 "Automated Error Reporting"
## The Issue

We should log errors to loggly (and maybe amplitude?) and set up some mechanism to notify us / potentially log issues github (probably wouldn't want this) / and provide context for errors to help reproduce them (while preserving privacy).

The first obvious place to do this would be in the error modal. This is more of a brainstorm issue, other any ideas? @kauffj @seanyesmunt @IGassma

[2017-12-07 01:18] liamcardenas commented on #817
Ok, after going down a rabbit hole chasing down a the "trim" error (that nobody else other than myself gets -- as seen in the pics below), I have confirmed that this is working in the app

v18
<img width="1440" alt="screen shot 2017-12-06 at 5 10 56 pm" src="https://user-images.githubusercontent.com/5027235/33693686-00fa4476-daa9-11e7-802a-4b1430d71c80.png">

v19rc9
<img width="1440" alt="screen s

[2017-12-07 01:18] #817 closed

[2017-12-07 01:27] liamcardenas opened #823 "Move Analytics to doNavigate"
## The Issue
As @hackrush01 pointed out, having the analytics event in the navigation reducer is suboptimal. It would be better if we moved it to the doNavigate action.

[2017-12-07 03:59] tzarebczan commented on #570
@julianrichen wow, thanks so much for this, I'll have to test it out!
Please see https://lbry.io/faq/tips

@nedrichards thanks for coming by to provide the additional information.  I'll look into the process needed to maintain it, but I feel like we would be able to handle it.  Not sure what the initial demand will be - at this point a majority of our users are Windows based.  I would assume there

[2017-12-07 10:32] nedrichards commented on #570
@tzarebczan Nope, no cost. The costs of Flathub are covered by donations from people and organisations keen to see a better app developer experience on Linux. (e.g. my employer [Endless](https://endlessos.com/) helps out because it gets better, more quickly updated apps to our users). We understand that for almost every project there are more users on Windows, Mac OS, Android, anything else - so w

[2017-12-07 13:47] IGassmann commented on #774
@loopmode That would be great!

[2017-12-07 15:22] kauffj commented on #817
@liamcardenas that trim error is real, I fixed it in branch.

[2017-12-07 18:09] liamcardenas commented on #786
I'm going to close this so we can consolidate issues

[2017-12-07 18:09] #786 closed

[2017-12-07 18:10] liamcardenas commented on #787
I closed the previous connected issue and we will do both of these at once:

"As a user, it would be nice to be able to create a channel outside of the current publish flow. Some sort of "Create Channel" page would be really nice."

[2017-12-08 14:09] tzarebczan commented on #552
Yep, still happening. This is the line:

    `  return dispatch((0, _rewards2.doClaimRewardType)(reward.reward_type, true));`

[2017-12-08 15:04] #814 closed

[2017-12-08 15:36] #760 closed

[2017-12-08 16:00] lyoshenka commented on #760
whats the useragent string so @billbitt can filter for it?

[2017-12-08 16:01] kauffj commented on #760
@lyoshenka it's already filed https://github.com/lbryio/spee.ch/issues/285

[2017-12-08 16:02] billbitt commented on #760
:+1:

[2017-12-08 19:06] #774 closed

[2017-12-08 21:32] liamcardenas opened #828 "More Yarn Dev Settings"
Let's try to make it so that we can turn off flow and/or hot reloading via
`yarn dev:no-flow`
`yarn dev:no-reload`
and `yarn dev:no-flow:no-reload` (is this a thing?) for neither or, if necessary `yarn dev:no-flow-reload`

[2017-12-08 21:35] liamcardenas opened #829 "Allow multiple Referral Rewards to be redeemed"
## The Issue

Currently, the app is not structured in a way that allows for multiple referrals. Let's allow an arbitrary number of referrals to made in the app by simply setting one variable (-1 for infinite).

Of course, whatever number is set will have to be coordinated with the API.

[2017-12-08 21:52] #715 closed

[2017-12-08 23:46] minamorcose commented on #583
[code]

[2017-12-09 20:54] tzarebczan opened #833 "Cannot abandon claim from claim page"
## The Issue
When removing a file via the claim page / choosing the abandon uri option, the file is deleted but not abandon because of a console error. The claim has to be abandoned manually then.
[code]

The line is:
`*/function t(e){if(null===e||e===void 0)throw new TypeError('Object.assign cannot be called with null or undefined');return Object(e)}var a=Object.getOwnPropertySymbols,n=Object.pro

[2017-12-11 03:25] tzarebczan commented on #570
Sweet, flathub.org has the install file up at https://flathub.org/repo/appstream/io.lbry.lbry-app.flatpakref

Installed successfully on Fedora :)

when I installed it with the built in app manager - it did say "something went wrong" but the app worked. No errors when installing from flatpak command line.

[2017-12-11 07:17] hackrush01 opened #838 "App errs after claim is abandoned from claim page, accessed via subscription page."
## Steps to Reproduce
1. Subscribe you own channel
2. Go to a claim from subscription page
3. Abandon, and delete from comp using the Remove button
4. App shows green screen and console logs this error

## Logs

[code]

[2017-12-11 13:12] IGassmann opened #839 "Settings page throws error on development"
## The Issue
The settings page throws an error when accessed using `webpack-dev-server`.

### Steps to reproduce
1. `yarn dev`
2. Open settings on app

## Anything Else
This happens because the action for listing themes try to access a filesystem path. Since on development the app is running on a web server, the path can't be accessed.

[2017-12-11 14:44] #328 closed

[2017-12-11 16:30] jackrobison opened #840 "Batch resolve fails if single URI encounters an error"
@tzarebczan commented on [Sun Dec 10 2017](https://github.com/lbryio/lbry/issues/1024)

## The Issue
In a batched resolution, the entire resolve command fails if one of the URLs errors out. This is happening on the homepage at the moment because of an expired claim in the resolve call.

### Steps to reproduce
1. batch a URI resolution with a known bad URL
2. observe failure

### Expected behaviour

[2017-12-11 16:30] jackrobison opened #841 "Batch resolve fails if single URI encounters an error"
@tzarebczan commented on [Sun Dec 10 2017](https://github.com/lbryio/lbry/issues/1024)

## The Issue
In a batched resolution, the entire resolve command fails if one of the URLs errors out. This is happening on the homepage at the moment because of an expired claim in the resolve call.

### Steps to reproduce
1. batch a URI resolution with a known bad URL
2. observe failure

### Expected behaviour

[2017-12-11 16:31] jackrobison opened #842 "Batch resolve fails if single URI encounters an error"
@tzarebczan commented on [Sun Dec 10 2017](https://github.com/lbryio/lbry/issues/1024)

## The Issue
In a batched resolution, the entire resolve command fails if one of the URLs errors out. This is happening on the homepage at the moment because of an expired claim in the resolve call.

### Steps to reproduce
1. batch a URI resolution with a known bad URL
2. observe failure

### Expected behaviour

[2017-12-11 16:31] jackrobison commented on #840
duplicate issue

[2017-12-11 16:31] #840 closed

[2017-12-11 16:45] #833 closed

[2017-12-11 18:45] LavRadis opened #843 "Wallet UI uniformity: Send/Receive"
## The Issue
This is just a minor issue I've noticed
On the send / receive unified page:
If you have a title "Send Credits"
There should be a title "Receive credits"
There is only "Wallet address" and then "Use this address to receive credits sent by another user (or yourself)."
It could be confusing for some users. I was also slightly confused when I first looked expecting to see  "Receive credit

[2017-12-11 19:26] kauffj opened #844 "What are we using for analytics for the app?"
The LBRY app is open source and it is likely other people will fork it and take it in other directions. We want to make that as easy to do as possible.

Ideally, any analytics code would be cleanly separated from all other logic (e.g. if it were possible for analytics to dispatch events only by detecting/monitoring state changes?). Failing this, we should seek other patterns that minimize analytic

[2017-12-11 21:05] #843 closed

[2017-12-11 21:14] kauffj commented on #841
Just f$*#ing return null and stop making the app inspect response signatures in weird ways.

[2017-12-11 21:14] #841 closed

[2017-12-11 21:18] liamcardenas commented on #742
@tzarebczan do you think this is an issue with updating prices? i.e. if you make the price .58 but then lower it to .57 it doesn't update? has anyone had issues with that?

[2017-12-11 21:25] kauffj commented on #742
@liamcardenas I'm pretty much 100% sure I know the cause of this issue. The `cost_info` reducer caches costs separately from the `claims` reducer, and refreshing a claim _does not_ update the cost.

Both the claim and the cost info should be hard-refreshed at least when rendering a `<FilePage>`, and likely more frequently (consider a `<FilePage>` left open).

[2017-12-11 21:46] kauffj commented on #671
@seanyesmunt I believe our search service now has an autocomplete endpoint, which you can use to help improve the searching user experience.

https://lbryio.github.io/lighthouse/

(this may need to be merged first https://github.com/lbryio/lighthouse/pull/42)

[2017-12-11 21:47] lyoshenka commented on #671
its merged. example: https://lighthouse.lbry.io/autocomplete?s=lbry

[2017-12-11 22:08] seanyesmunt commented on #671
Nice

On Dec 11, 2017 4:47 PM, "Alex Grin" <notifications@github.com> wrote:

[2017-12-11 22:12] liamcardenas opened #848 "Application Redesign"
This is the epic for the app redesign

[2017-12-11 22:30] liamcardenas opened #849 "Homepage Redesign"
Latest design ideas:
![](http://lab.zzk.fr/lbry/redesign/app/homepage.jpg)
![](http://lab.zzk.fr/lbry/redesign/app/homepage+hero.jpg)
![](http://lab.zzk.fr/lbry/redesign/app/homepage+menu.jpg)
![](http://lab.zzk.fr/lbry/redesign/app/homepage+nightmode.jpg)
![](http://lab.zzk.fr/lbry/redesign/app/homepage+menu-open.jpg)
![](http://lab.zzk.fr/lbry/redesign/app/homepage-overview.jpg)

http://lab.zzk.

[2017-12-11 22:40] liamcardenas opened #850 "[redesign] Search refactoring"
Latest design ideas:
![](http://lab.zzk.fr/lbry/redesign/app/homepage-search.jpg)
![](http://lab.zzk.fr/lbry/redesign/app/homepage-search+filter.jpg)

Also from @seanyesmunt:
![screenshot from 2017-12-11 14-39-21](https://user-images.githubusercontent.com/5027235/33857588-2617c5b8-de81-11e7-9673-661f85f505bd.png)

[2017-12-11 22:44] liamcardenas opened #851 "Publish Redesign"
Latest design ideas:
![](http://lab.zzk.fr/lbry/redesign/app/publish.jpg)

[2017-12-11 22:46] liamcardenas opened #852 "Channel Redesign"
Latest design ideas:
![](http://lab.zzk.fr/lbry/redesign/app/channel.jpg)

[2017-12-11 22:51] liamcardenas opened #853 "[redesign] File Page"
Latest design ideas:
http://lab.zzk.fr/lbry/content.html

[2017-12-11 22:53] liamcardenas opened #854 "[redesign] Loading Screen"
Latest design ideas:
http://lab.zzk.fr/lbry/

[2017-12-11 22:54] liamcardenas opened #855 "Wallet Redesign"
No progress yet

[2017-12-11 22:55] liamcardenas opened #856 "[redesign] Settings"
After updating the inputs this will just be minor css changes. Should be straight forward.

[2017-12-11 23:05] liamcardenas opened #857 "[redesign] Downloads"
This will be basic refactoring and cleanup before doing a lot of the changes in @nizukas design.

[2017-12-11 23:06] liamcardenas opened #858 "[redesign] Publish New Flow"
We would like to make the publish page more simple. And most likely similar to YouTube.

[2017-12-11 23:08] liamcardenas opened #859 "Create Channel (Re)design"
This page does not yet exist in the app, so its not yet a redesign (its just a "design"), we will probably detach channel creation from publish https://github.com/lbryio/lbry-app/issues/851

[2017-12-12 06:38] liamcardenas commented on #823
Accidentally pushed to master instead of making a merge request, but its all good :)

[2017-12-12 06:38] #823 closed

[2017-12-12 06:38] liamcardenas commented on #828
@seanyesmunt do you think we still need this?

[2017-12-12 14:11] tzarebczan commented on #182
This has been happening recently again to me. The LBRY.exe process (according to process  explorer) holds a file handle on the downloaded file. Only way to get rid of the download is to restart LBRY or manually delete the file handle.

This causes issues when users try to delete and re-download content.  If a user tries to download content which this happened to, it tells them it can't access the

[2017-12-12 14:12] tzarebczan commented on #833
@hackrush01 this is still happening if you try to remove the claim in the same session it was published in (i.e. without restart LBRY).  There's got to be some type of initialization/timing issue.

Here's the latest error:
[code]

[2017-12-12 14:21] kauffj commented on #806
Fixed in #847

[2017-12-12 14:21] #806 closed

[2017-12-12 14:29] hackrush01 commented on #833
I've looked into it after you pointed it out yesterday. And it got me
thinking that the way it currently happens in code is not right, the
abandonClaim call should not be aware of the `claim_id` of the claim. I
would probably change the way it abandons claim altogether, i.e. remove
it's dependency on the claim_id and name altogether. @kauffj will that be
okay.
For the current app release this shou

[2017-12-12 16:56] IGassmann commented on #332
Since we're using `electron-builder` which supports AppImage, I would recommend going for AppImage.

[2017-12-12 16:58] tzarebczan commented on #332
Someone already built flatpak support, it think that bridges the gap we were missing (unless I'm mistaken).

https://flathub.org/repo/appstream/io.lbry.lbry-app.flatpakref

[2017-12-12 17:22] kauffj commented on #332
As a Linux user, I have no strong opinions about packaging (the existing .deb works fine for me).

To me the best improvement to make here is a better upgrade process (most likely via `apt`, though possibly just via in-app upgrades). I'd lean towards whatever packaging makes this easiest, though if we can easily distribute both FlatPak and AppImage I'm fine with both.

[2017-12-12 17:42] IGassmann commented on #332
This may be possible using the [publish features of `electron-builder`](https://www.electron.build/configuration/publish). We could publish the app on Bintray which has access from `apt` if I'm not mistaken.

[2017-12-12 18:05] LavRadis opened #863 "Content-type not shown correctly in file description"
## The Issue
For some file types, the "Content-Type" description is not shown correctly. I've noticed that for .odt (open office files) and .stl (3d printing files) the description is "application". It could be confusing for users and discourage downloads.
Some other users have also mentioned the issue in Discord.

### Steps to reproduce
1. Open: lbry://3d-print-arrowhead-stl#936e8592f8ee5329a19a3

[2017-12-12 18:57] tzarebczan commented on #863
Thanks for opening this @LavRadis, sent you a tip on Discord!

[2017-12-12 19:28] lyoshenka commented on #332
@IGassmann have you looked at what Alex is doing in https://github.com/lbryio/lbry-app/issues/808? Will publish work well with auto-updates?. `apt` is ubuntu-specific, which is all we're targeting now, but if there's a good solution to install the app and keep it updated on other linux flavors, that would be great.

[2017-12-12 19:32] IGassmann commented on #332
I'll look if it's feasible when https://github.com/lbryio/lbry-app/issues/808 will be merged.

[2017-12-12 21:43] kauffj commented on #833
@hackrush01 I'm for dropping `name` from `claim_abandon`, but does it even accept it currently?

I'd be against dropping `claim_id`. It makes sense for `claim_abandon` to take this. If it's an issue of `lbryum` not knowing about claim ids, this can presumably be handled by the daemon, right? A mapping from `claim_id` to an outpoint should be directly available in the `claim` table of the lbry db.

[2017-12-12 22:15] kauffj commented on #863
This issue was moved to lbryio/lbry#1028

[2017-12-13 14:33] #839 closed

[2017-12-13 14:34] lyoshenka commented on #839
closed by https://github.com/lbryio/lbry-app/pull/865

[2017-12-13 16:42] seanyesmunt commented on #844
I think it would be best to use middleware for any analytics events that are fired in response to state changes.

Keep them out of the actions and reducers

[2017-12-13 17:00] kauffj commented on #844
One pattern could be a separate reducer specific to analytics that adds analytics events to a processing queue when it observes actions that we want to record.

[2017-12-13 19:37] JoshStrobl opened #868 "Feature Request: Enable ability for downstreams to disable upgrade checking."
## The Issue

As a [package](https://dev.solus-project.com/source/lbry-app/repository/master/) maintainer for a downstream Linux operating system (Solus), I'd prefer to directly provide users with an upgraded package which respects our routine syncs to our stable repo, ensures that such app upgrades won't negatively impact users, and alleviates any concerns on my part about unexpected behavior bei

[2017-12-13 20:34] liamcardenas commented on #751
@tzarebczan did you ever have time to reproduce this?

[2017-12-13 20:40] kauffj commented on #868
Thanks @JoshStrobl! I strongly suspect we can accommodate this. Maybe one for @IGassmann?

[2017-12-13 21:19] liamcardenas commented on #818
@tzarebczan is this referring to the description while publishing?

[2017-12-13 21:56] tzarebczan commented on #818
Yep, sorry for not directly stating that.

[2017-12-14 14:42] tzarebczan commented on #751
@liamcardenas it works fine when you CTRL-C it, but doesn't work when you right click > copy.

I tried it on the scenario listed in the steps (more info popup from Community Top Bids)

[2017-12-14 16:24] tzarebczan opened #871 "LBRY API heartbeat to support Network Reward"
## The Issue
To support https://github.com/lbryio/internal-apis/issues/138#issuecomment-350000354, the LBRY app would need to ping the API server once a day so that the user is able to leave their LBRY app running and still qualify for the reward.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-12-14 19:52] painbank opened #872 "upgraded version v0.19 of app isn't launching. also v0.18 stopped starting"
## The Issue

The LBRY app fails to start up.

### Steps to reproduce
1.  Remove older version v0.18 (18 was failing too) and Install v0.19 of the LBRY app.
2. Launch app.

### Expected behaviour

App should start up and connect.  If it fails, an alert informing the user of what to do to resolve or how report the issue.  Should not shut down until the user acknowledges it.

### Actual behaviour

T

[2017-12-14 21:15] #725 closed

[2017-12-14 21:15] tzarebczan commented on #621
Sounds like its still happening to users - but this time on ArchLinux. Going to have the user post a screenshot here.

[2017-12-14 21:18] MR4Y commented on #621
On Archlinux, latest AUR build of lbry (0.19.1 app, 0.18.0 daemon, 3.1.11 wallet, Kernel Linux-4.14.5-1-ARCH-x86_64-with-glibc2.3.4, MATE Desktop Environment)

![lighttheme](https://user-images.githubusercontent.com/9355061/34014802-97555806-e103-11e7-9348-c2554534c61c.png)
![darktheme](https://user-images.githubusercontent.com/9355061/34014803-97a21b46-e103-11e7-8be3-9d42961acb1e.png)

[2017-12-14 21:41] liamcardenas commented on #596
@tzarebczan according to @daovist, this is no longer happening
![](https://cdn.discordapp.com/attachments/389853709254787073/390980349657743362/lbry_rewards.png)

[2017-12-14 21:50] tzarebczan commented on #596
I'm pretty sure this is still happening. The rewards do disappear when the app is refreshed/restarted.

The reward list call must only happen at startup. This also becomes an issue with new rewards, like today's LBRYCast, because users need to refresh to see it.

[2017-12-14 22:00] seanyesmunt commented on #828
I don't see a reason for the `no-flow` script, but a `no-reload` script would be nice

[2017-12-14 22:01] liamcardenas commented on #828
it's if someone just wants to run flow separately and doesn't want webpack to say anything about it.

[2017-12-14 22:02] tzarebczan commented on #872
@painbank - I reached out to you on Discord. Looks like something may be blocking connectivity to the network on your end. Closing this for now.

[2017-12-14 22:02] #872 closed

[2017-12-14 22:04] liamcardenas commented on #621
@seanyesmunt I think this will be taken care of in the redesign... as Jeremy alluded to, I doubt we will use native dropdowns anyway

[2017-12-14 22:11] tzarebczan commented on #761
Related to https://github.com/lbryio/lbry-app/issues/871

[2017-12-14 22:31] liamcardenas commented on #766
@tzarebczan is there any daemon-side issue that we can make this dependent upon so that we know when we can start looking into this?

[2017-12-14 22:33] liamcardenas commented on #765
@tzarebczan hasn't this been completed as of v19?

[2017-12-14 22:35] tzarebczan commented on #765
Yep, closing.

[2017-12-14 22:35] #765 closed

[2017-12-14 22:37] tzarebczan commented on #766
@liamcardenas - I just added it. It's a combination of that and lbryum -  https://github.com/lbryio/lbryum/issues/176

[2017-12-14 23:03] liamcardenas commented on #450
@kauffj is there no solution for this via api?

[2017-12-14 23:08] liamcardenas commented on #633
@tzarebczan did you have time to open up a daemon side issue yet?

[2017-12-14 23:17] liamcardenas commented on #607
Icons should definitely have titles, whoever does this, please add them if they are not already there.

[2017-12-14 23:25] tzarebczan commented on #633
Sorry, I'm still behind on follow up on my github issues :)

Just opened https://github.com/lbryio/lbry/issues/1031, will mark it dependent.

[2017-12-14 23:25] liamcardenas commented on #556
@alexliebowitz @lyoshenka will this PR fix https://github.com/lbryio/lbry-app/issues/298 ?

[2017-12-14 23:26] tzarebczan commented on #570
hey @nedrichards, are you a crypto fan? Can we get some LBC (LBRY Credits) over to you for your contributions?

[2017-12-14 23:36] liamcardenas commented on #560
We will tip LBC for anyone who figures out what's going on here. Bigger tips if you fix the problem, obviously.

[2017-12-14 23:38] tzarebczan opened #873 "Prevent get credits modal on negative balance / when sending amount greater than wallet balance"
## The Issue
Related to https://github.com/lbryio/lbry-app/issues/398 (which is still waiting on a daemon fix), the wallet balance may go negative (due to large utxo being spent/queuing system in the daemon) and the user gets a modal popup.  We should suppress this popup if the balance is negative. The balance returns to normal after a few seconds.

![negativebalance](https://user-images.githubuse

[2017-12-14 23:42] liamcardenas commented on #618
I guess I didn't include a subscriptions redesign page, but since the subscription page is currently within the homepage, this should be taken into consideration here https://github.com/lbryio/lbry-app/issues/849

[2017-12-14 23:44] #64 closed

[2017-12-14 23:48] tzarebczan commented on #560
I'll see if I can still reproduce this now that we have minimize to tray.

[2017-12-14 23:52] liamcardenas commented on #755
@hackrush01 can you look into this?

[2017-12-14 23:59] seanyesmunt commented on #755
This seems to be fixed

[2017-12-15 02:11] liamcardenas commented on #570
@tzarebczan is this working?

[2017-12-15 02:24] liamcardenas commented on #755
Great, closing.

[2017-12-15 02:24] #755 closed

[2017-12-15 02:25] julianrichen commented on #570
@liamcardenas Yes, install `flatpak` via your distro's package manager then add the Flathub repo & install `io.lbry.lbry-app` by:

[code]

By adding the Flathub repo you can try out other Flatpak apps on Flathub ;)

This issue could probably be closed now.

[2017-12-15 02:27] tzarebczan commented on #570
Yes, worked on my fedora vm. The working directories are a bit different, so we may want to document that somewhere.

We should definitely add the link to the flathub site in our install / Readme doc.

I think @IGassmann still wanted to check our appimage because of native electron support, but Jeremy said we should go with the one or other.

This definitely fills the gap for non Debian systems, a

[2017-12-15 02:39] liamcardenas commented on #428
@tzarebczan this is not happening for me in macOS
<img width="366" alt="screen shot 2017-12-14 at 6 38 18 pm" src="https://user-images.githubusercontent.com/5027235/34024257-05b41982-e0fe-11e7-9401-4659c82f052b.png">

can you check windows and if it doesn't show we should close this.

[2017-12-15 02:41] liamcardenas commented on #619
@tzarebczan even if this feature is a long way off, do you think we should create a daemon side issue to support this (which will obviously go straight into the ice box :P)?

[2017-12-15 02:46] liamcardenas commented on #546
@kauffj do you know if https://github.com/lbryio/lbry-app/issues/538 will fix this? if so, I will close this one.

[2017-12-15 02:50] liamcardenas commented on #510
I am closing this because this is encompassed by the homepage redesign: https://github.com/lbryio/lbry-app/issues/849

[2017-12-15 02:51] liamcardenas commented on #849
As I mentioned here https://github.com/lbryio/lbry-app/issues/510

I assume there will be trackpad scrolling on the homepage, correct?

[2017-12-15 02:52] liamcardenas commented on #424
@tzarebczan thoughts?

[2017-12-15 02:54] seanyesmunt commented on #849
I don't think so. I would like to avoid horizontal scrolling in the app.

On Dec 14, 2017 9:51 PM, "Liam Cardenas" <notifications@github.com> wrote:

[2017-12-15 02:59] liamcardenas commented on #696
while this is definitely a valid issue, it is going to be handled via the homepage redesign https://github.com/lbryio/lbry-app/issues/849

[2017-12-15 02:59] #696 closed

[2017-12-15 03:02] liamcardenas commented on #244
We will tip LBC to anyone who looks into this.

[2017-12-15 03:06] tzarebczan commented on #428
See my last comment - this was fixed a while ago by hiding the Dev menu by default, but I wasn't sure if we wanted a settings option/environmental variable somewhere to enable show by default.

But I'd say yes, let's close for now. The users that generally need to get there know how to. Can always pop it into a faq too.

[2017-12-15 03:06] #428 closed

[2017-12-15 03:07] liamcardenas commented on #230
@tzarebczan do you know if this is still an issue / has anyone else mentioned it?

[2017-12-15 03:08] tzarebczan commented on #424
We should add this to channel pages. The tx list isn't the most intuitive place to look for this.

[2017-12-15 03:09] liamcardenas commented on #397
@IGassmann I'm making you aware of this old ticket in case its relevant to your current efforts, otherwise I will close it.

[2017-12-15 03:10] liamcardenas commented on #433
@tzarebczan still an issue?

[2017-12-15 04:05] IGassmann commented on #397
Those are electron linting errors. I fixed the asar one when I was restructuring the file structure. Still have to check out the others.

[2017-12-15 14:15] lyoshenka commented on #556
possibly.

for one, i don't know the standard way of making sure there's only one daemon process running at a time. in linux there are pidfiles and `pgrep`. idk how windows does it.

once we figure that out, we need to make sure the daemon is stopped before the update starts.

[2017-12-15 15:09] tzarebczan opened #874 "Error when publishing with exact amount in wallet or 0 bid"
## The Issue
There was a recent app side patch to address a deposit error when you don't have enough LBC, but it doesn't take into account the scenario if the bid is exactly equal to the wallet balance. This is most likely because there is a tx fee associated with the publish (no way to calculate this right now as it depends on what UTXOs the tx uses - this is something we'd need added to the daem

[2017-12-15 15:27] IGassmann commented on #570
@julianrichen Thanks for what have you done. We appreciate your help.

Concerning app updates. If we release a new version of our app, should we update manually the [related flathub repository](https://github.com/flathub/io.lbry.lbry-app) or is there any way to do it automatically?

[2017-12-15 15:46] tzarebczan commented on #754
This has been happening to me quite often - if I do a refresh of the app, the video starts playing.

[2017-12-15 15:49] tzarebczan commented on #552
Closing this in favor of https://github.com/lbryio/lbry-app/issues/829

[2017-12-15 15:49] #552 closed

[2017-12-15 15:54] kauffj commented on #873
I don't think this is the app's job to fix. The daemon needs to not return a negative balance incorrectly.

We've had a PR open for this for several months, but it has some flaws as I understand it: https://github.com/lbryio/lbry/pull/747

[2017-12-15 15:56] kauffj commented on #450
The `file_list` change I was working on integrates the pending publish behavior with Redux, which I believe will fix this. So when 0.19 is out, I think we'll have this.

[2017-12-15 15:58] tzarebczan commented on #430
Yep, still happening. Don't think the channel list mine call is made again after deleting the channel, so when you go to the publish page, it still shows it. An app refresh fixes it.

[2017-12-15 16:38] nedrichards commented on #570
@IGassmann At the moment you have to manually update the json manifest in the flatpak repo with the new URL, size and sha256 hash. It's not *terribly* difficult but it is an extra manual step.

fwiw on 'native electron support' that's something that flatpak also has, there just isn't a plugin to electron builder yet (there's tools for electron installer and another way that I can't quite remember

[2017-12-15 16:39] nedrichards commented on #570
@tzarebczan well, I've certainly been testing the app, so always happy to have anything that makes it easier! ;-)

[2017-12-15 17:10] LavRadis opened #875 "Feature request: add "copy address to clipboard" button in the wallet"
## The Issue
Almost all wallets have "copy address to clipboard" button. It is just more convenient and safer (if you miss selecting the entire address while copying)

### Expected behaviour
Just a simple button that copies current address to clipboard

## Anything Else
@liamcardenas and @lavradis could work on this

[2017-12-15 17:37] liamcardenas commented on #875
@LavRadis is working on this

[2017-12-15 17:38] liamcardenas commented on #726
@daovist is working on this

[2017-12-15 17:43] seanyesmunt commented on #875
This should be really easy to add. There is a copybutton prop (called
something different) that I added for the shapeshift deposit address.

On Dec 15, 2017 12:38 PM, "Liam Cardenas" <notifications@github.com> wrote:

[2017-12-15 18:57] tzarebczan commented on #554
There's still an issue on how this scenario is handled. Pretty much need to clear cache and access the claim's non-channel URL for it to pick up the publish correctly.

Just refreshing causes the publish to stay in a "waiting for confirmation" state. And if you click on it, it tries to resolve the previous URL which has the channel on it and fails because it's no longer a valid location. If you cl

[2017-12-15 19:02] liamcardenas opened #876 "Github Organization and Contributors Documentation"
My goal is to make this repo more friendly for developers

[2017-12-15 19:58] tzarebczan commented on #699
After speaking to Jack, I updated https://github.com/lbryio/lbryschema/issues/20 to include `contentLength`. Adding as a dependency.

[2017-12-15 20:05] kauffj commented on #699
lbryio/lbryschema#20 is like 1/10 battle (if that). The trickier change will be adding support to the daemon to fill this value in from the selected file.

[2017-12-15 20:24] tzarebczan commented on #570
@nedrichards Send me an email at hello@lbry.io with your LBC address (receive tab of the wallet) and I'll get some over to you :)

Thanks again for the support and trying out the app!

[2017-12-15 20:40] kauffj commented on #570
@nedrichards if it's possible that we (or you ;) can create a script that our build service (Team City) can run, we can explore automating this and remove that manual step.

[2017-12-15 20:46] #875 closed

[2017-12-15 20:47] kauffj commented on #875
I was curious how easy this was, and I found it was so simple that I just did it.

[2017-12-15 20:48] tzarebczan commented on #875
Way to steal @LavRadis 's thunder... :p

[2017-12-15 20:50] tzarebczan commented on #875
@LavRadis you should look at https://github.com/lbryio/lbry-app/issues/702 next - @seanyesmunt recently added this to the Shapeshift process so maybe it's not too difficult :)

[2017-12-15 21:23] kauffj commented on #754
If these are playing on reload that it definitely sounds like a bug, and one that should likely be relatively high priority (@liamcardenas).

[2017-12-15 21:32] fassn opened #878 "Linux stable .deb app doesn't launch"
## The Issue

### Steps to reproduce
1. Launch the app through "lbry" in command-line

### Behaviour
**Last lines of the log:**
[code]

## System Configuration
- Operating system:
Ubuntu 16.04

Fresh install of Ubuntu I haven't installed much yet, that might explain if there is library missing or something... Please enlighten. :)

[2017-12-15 21:48] tzarebczan commented on #878
Does this happen everytime you launch? Can you give it another try?

Please post the entire log as well, thanks!

[2017-12-15 21:49] kauffj commented on #230
@liamcardenas I suspect this one is an upstream issue in Electron. If it is, it's been fixed there and should already be in our code.

@trickyhunter2017 would be able to check out the latest and see if this is working for you now?

(If we don't hear from @trickyhunter2017, I'd suggest closing this.)

[2017-12-15 21:51] kauffj commented on #546
@liamcardenas it will not. `<DateTime>` would need to be internationalized. It is, however, basically already set up to do so.

[2017-12-15 21:53] fassn commented on #878
Yes it did the 4 or 5 times I tried to run it.

On 15 Dec 2017 22:48, "Thomas Zarebczan" <notifications@github.com> wrote:

[2017-12-15 22:43] kauffj commented on #621
@liamcardenas the opposite! I would always prefer to use native elements when possible.

However, this seems like it must be a bug in Electron, rather than something we could fix.

[2017-12-15 23:02] fassn commented on #878
Nevermind, it was probably due to port 3333 being used by Claymore in the meantime.

I git cloned the lbry-app repo, launched it and it worked as soon as I closed Claymore.

[2017-12-16 17:48] tzarebczan commented on #878
Ah great, I think there should be a mention of that in the log. Glad you got it figured out!

[2017-12-16 17:48] #878 closed

[2017-12-18 08:59] alexliebowitz commented on #868
I just saw this (missed the message in Slack from Wednesday)

In the new upgrades PR, there are two places in `main/index.js` where it's checking for upgrades (one check for Linux using the old system, and one using electron-updater on Win/Mac). This should be super easy for either me or @IGassmann, but we just need to make sure it's changed in both places.

[2017-12-18 16:33] tzarebczan commented on #762
@akinwale feel free to use this issue or close/re-open a new one.

[2017-12-18 18:40] nedrichards commented on #570
@kauffj that's a really interesting question and one that I love to hear. I'll file a ticket on Flathub and we'll have a chat. Remote building, or remote triggering has been seen as being a little way away - but if people are asking for it then we can certainly talk! I'll start the discussion and hook you in so you can see and maybe share some of your requirements.

[2017-12-18 22:40] #876 closed

[2017-12-19 05:45] akinwale commented on #762
## Wallet Encryption Commands
There are three new daemon CLI and JSON RPC commands related to wallet encryption.
- wallet_encrypt
- wallet_unlock
- wallet_decrypt

### wallet_encrypt
Encrypts the wallet private key, thereby requiring having to unlock the wallet before transactions can be sent from the wallet. The `master_private_keys` field in the default_wallet file will be updated with the encry

[2017-12-19 05:49] seanyesmunt commented on #762
Looks good to me. I'm guessing we will just have a check on app startup and, if its encrypted, show a password field to unlock before loading anything else?

[2017-12-19 06:39] liamcardenas commented on #844
Finished (and merged) with my latest PR, all analytics code is contained in one set up file. Nobody will need to worry about it.

[2017-12-19 06:42] liamcardenas commented on #874
So the solution is to get a daemon fix, correct? I am going to mark this as protocol dependent. Otherwise, we can just arbitrarily set a limit below your balance that is the maximum you can send. i.e. max send limit is your balance - .1 LBC (or whatever the upper limit of likely fees are)

[2017-12-19 06:48] liamcardenas commented on #738
@IGassmann it looks like "that issue" is done, can you get to this soon?

[2017-12-19 06:49] liamcardenas commented on #738
oh i see this is already in "next"! nice

[2017-12-19 07:14] akinwale commented on #762
Yes, looks like it. You can run the status command on app startup (if the daemon is being started by the app) to check if the wallet is encrypted. If the wallet is waiting for a password, you also get
[code]
in the response.

[2017-12-19 18:12] tzarebczan opened #882 "Screen reloads when opening LBRY links with app running"
## The Issue
This may be windows specific - we get an ugly transition when lbry:// hyperlinks are launched while the app is running. See below. The transition is normally a lot faster (this is on a vm), but still noticeable.   Happens if the app is minimized to tray as well. This did not happen in v0.18.2.

![open link](https://user-images.githubusercontent.com/8120721/34171852-e892f134-e4bd-11e7-

[2017-12-19 20:14] liamcardenas opened #883 "Media Playback Redux State"
- convert video pause settings to more generic media
- use [av listeners](https://www.w3schools.com/tags/ref_av_dom.asp) to store pause/play status, and [playback position](https://www.w3schools.com/tags/av_event_timeupdate.asp) in redux state
- remove [inaccurate pause state change](https://github.com/lbryio/lbry-app/pull/880#pullrequestreview-84569363)

[2017-12-19 20:16] daovist commented on #883
I'm on top of it.

[2017-12-19 20:21] #726 closed

[2017-12-19 20:22] liamcardenas commented on #726
This issue have been completed in PR #880

[2017-12-19 22:03] kauffj commented on #882
@tzarebczan this is a production install, right?

[2017-12-19 22:24] tzarebczan commented on #882
Correct, updated the ticket with version info.

[2017-12-20 00:07] ExtendLord opened #884 "The following error occurred when attempting to publish your file: Cannot read property 'error' of undefined"
## The Issue
Can't upload a video.
It says
"The following error occurred when attempting to publish your file: Cannot read property 'error' of undefined"
### Steps to reproduce
1.Go to publish
2.Create a Channel name
3.Choose file(Chose an MKV video), title thumbnail URL and Description,License(Any).
4.I agree
5.Publish

### Expected behaviour
Upload the video

### Actual behaviour
Showed an error

[2017-12-20 00:22] tzarebczan commented on #884
Did you recently just get the Lbc credits in your balance? We're aware of some issues publishing related to the bid amount, and it's most likely the same as this one: https://github.com/lbryio/lbry-app/issues/874

Check out the publishing guide at lbry.io/faq/how-to-publish

[2017-12-20 03:17] #884 closed

[2017-12-20 03:23] tzarebczan commented on #884
Glad to hear it, thanks for trying out the app! Come join us on Discord (https://chat.lbry.io) for easier access to help and possibly contribute (https://lbry.io/faq/contributing)

[2017-12-20 03:24] ExtendLord commented on #884
@tzarebczan I'm in the group already.

[2017-12-20 04:31] seanyesmunt opened #885 "Support for back mouse button navigation"
An idea from @vfioox in the discord. Should be pretty easy to implement.

I think it would be similar to this https://github.com/jostrander/mouse-forward-back

[2017-12-20 06:07] tzarebczan commented on #433
Nah, I'd say let's close it.

[2017-12-20 06:07] #433 closed

[2017-12-20 19:14] tzarebczan commented on #338
Per suggestion from a community member: https://github.com/mawie81/electron-window-state

[2017-12-20 20:19] painbank opened #887 "Downloaded & Published view should indicate if an associated file is downloaded in the filesystem"
## The Issue

The Downloaded & Published view in the app shows the history of content that has been accessed, but not necessarily what is currently downloaded.

### Steps to reproduce
1.  Click Folder icon in upper right.  takes you to  the Downloaded & Published view
2. To delete a downloaded content, click on the content.
3. Click Remove.
4. Click 'delete from computer' box.

### Expected behavi

[2017-12-20 21:41] kauffj opened #888 "Update build instructions for branching and/or have yarn dev detect changed dependencies"
Currently, when switching branches, you have to run `./build.sh` if the dependencies are different between branches.

Ideally, `yarn dev` would detect/handle this.

If not, at a minimum, README should be updated to specify may need to rebuild when switching branches.

[2017-12-20 22:39] ykris45 opened #889 "feature request and bug report"
## The Issue
design application is now good, but need additional features so this can be better again. the features I mean are:
1. addition of subscriber feature number: this is meant for publisher to know how many subscriber he has in LBRY App.
2. Adding Menu Button "My Channel" or can also add it to the menu button "@" next to the tab menu subscribtion
3. Adding likes and unlike buttons on the b

[2017-12-20 23:59] tzarebczan commented on #887
@painbank - thanks so much for filing this. I believe the actions on the Published/Download view is covered by https://github.com/lbryio/lbry-app/issues/657

Can you edit this issue to include only the history aspect or create a new one for that particular feature?

[2017-12-21 00:11] tzarebczan commented on #889
@ykris45 thanks for submitting these, but GitHub issues should be for a specific feature request (with details) or a specific bug/issue.

Feel free to open any you feel strongly about and we'll review.

[2017-12-21 00:11] #889 closed

[2017-12-21 04:52] painbank commented on #887
Ah yes, I see the secondary actions would allow the deletion.  I'll update this to view of the content should indicate if there is a downloaded file or not.

[2017-12-21 13:49] daovist commented on #592
I think I can solve this now that I am more familiar with Redux. I checked it out and the file structure is pre /src/renderer changes and I'm not sure how to move everything. I know the relevant code well enough I could just make a new branch.

[2017-12-21 13:54] IGassmann commented on #592
Awesome! Feel free to just make a new branch. I'm assigning the issue to you. Thanks for your help!

[2017-12-22 12:18] IGassmann commented on #397
I'll use my time on this issue to refactor the main process to follow electron's best practices and get the code closer to the functional paradigm.

[2017-12-22 21:59] tzarebczan commented on #442
@liamcardenas after talking to Grin about this, think it will most likely be just app side changes. The daemon API should provide everything we need to clear out files based on the logic we decide.

[2017-12-22 22:26] tzarebczan opened #892 "Better download timeout/get error modal"
## The Issue
Based on the work/discussions here https://github.com/lbryio/lbry-app/pull/822 / https://github.com/lbryio/lbry-app/issues/328, we should make a timeout specific modal which is more presentable and functional. This is one of the most common errors a user sees when trying to download content.

Changes I'd like to see:
-don't need to click "show more" to see what failed
-Show title and

[2017-12-22 22:31] tzarebczan opened #893 "Toggle to show LBC / USD price / Both throughout the app"
## The Issue
Per a suggestion from a community member, it would be nice to have a toggle that would allow content prices to be shown in either LBC or USD (or both?) throughout the LBRY app (this would include any area that currently shows the LBC price)

## System Configuration

## Anything Else

## Screenshots

[2017-12-22 22:41] tzarebczan opened #894 "Create guided walk-through the LBRY app for new users"
## The Issue
As a new user of the LBRY app, I'd like to be shown what the various available functions and areas are.  This would be similar to what Discord does when a new user first logs in.

This would include, but not limited to:
Wallet overview, wallet backup, transaction list, rewards, invites, searching, playing a video, publishing content, settings.

Any of the steps should allow being skip

[2017-12-22 23:04] tzarebczan opened #895 "Enhance file remove modal"
## The Issue
The current file remove modal can be confusing to users:

![file remove](https://user-images.githubusercontent.com/8120721/34314317-5ffa04ae-e740-11e7-9ecd-55e4c5088a63.png)

1) "from LBRY?" should probably be closer to something like "from the app", especially on claims that you don't own.
2) show the file path/name somewhere
3) rewording of claim abandoning, check on by default. War

[2017-12-23 02:28] ScoobyJD opened #898 "The dameon has unexpectedly shutdown. 0.91.1"
The dameon has unexpectedly shutdown.

### Steps to reproduce
1. Install newest release and try to open

### Expected behaviour
It should work

### Actual behaviour
It didnt

## System Configuration

WHAT!?

- LBRY Daemon version: 0.91.1
- LBRY Installation ID: ?
- Operating system: Windows 10

## Anything Else

## Screenshots

[2017-12-23 02:30] tzarebczan commented on #898
Please see https://lbry.io/faq/startup-troubleshooting for typical startup issues.

Come chat with us on Discord - https://chat.lbry.io in #help if you need further assistance.

[2017-12-23 02:30] #898 closed

[2017-12-23 13:22] nikooo777 commented on #133
I'd like to rise this issue again.
I know it's a daemon bug but I believe the UX is quite ruined by this bug as well, check this out: https://scrn.storni.info/Send_or_Receive_LBRY_Credits_2017-12-23_14-09-1809.png

Would you consider, as temporary solution, limiting the balance to positive numbers? I don't think the wallet will ever be allowed to be sub 0 anyway.

[2017-12-23 14:21] nikooo777 opened #900 "Uncaught Exception / cannot read property `match` of undefined random JS errors"
## The Issue
My Windows install didn't have an email connected to the account so I went to settings->help and I linked my email.
Upon pasting my token into the app i received the following message: https://scrn.storni.info/Help_2017-12-23_15-16-2512.png

![help_2017-12-23_15-16-2512](https://user-images.githubusercontent.com/8120721/34949701-da267414-f9de-11e7-94c2-06c3cd99b721.png)

### Steps to

[2017-12-23 15:05] tzarebczan commented on #900
Was this on 0.19.2?

[2017-12-23 15:06] tzarebczan commented on #133
https://github.com/lbryio/lbry-app/issues/873

[2017-12-23 15:07] nikooo777 commented on #900
yes. the very latest.  tried verifying niko at- storni dot info if you want to verify. Tho i'm sure i already had an account on that address so something must have happened there

[2017-12-23 15:14] tzarebczan commented on #900
Anything in console or the network tab?

[2017-12-23 15:43] nikooo777 commented on #900
Couldn't check as it suddenly started working after a while.
It went even after a restart of the app and it continued to pop up for 3 times every 10 minutes or so before settling.

[2017-12-24 19:51] ykris45 opened #901 "Feature Request : Subscribe notifications"
## The Issue
please add the notification feature in LBRY app. so publishers can see who subscribes to his channel. I only have 1 subscriber lupo TV but when I open LBRY APP there is no such notification. here is a screenshot of Lupo Tv that has subscribed my channel.
## System Configuration

- LBRY Daemon version: 0.18.0
- LBRY App version: 0.19.2
- LBRY Installation ID: 4HrrogG8zemVjZ4bbuggKehjme

[2017-12-26 19:41] tzarebczan commented on #900
@nikooo777 can I close this?

[2017-12-26 20:08] nikooo777 commented on #900
If i was an exception to the rule sure

[2017-12-26 22:19] ykris45 commented on #901
i referenced this issues #695

[2017-12-27 20:07] tzarebczan opened #903 "Cannot send entire LBC balance, poor error message"
## The Issue
If a user tries to send their entire LBC balance to an address (not taking into account tx fees), they are presented with the "get credits" modal and the LBC is not sent.  We should mention that transaction fees are associated with sending credits. I'm not sure if we have a way to estimate what those fees are right now (it depends on how many UTXOs are part of of the tx), but we shoul

[2017-12-27 20:43] tzarebczan opened #904 "Spacing issue next to rocket/folder icons on tile"
## The Issue
User reported spacing issue on tiles with the rocket and folder icon, see below.
![spacingbad](https://user-images.githubusercontent.com/8120721/34392823-a2f57eac-eb1c-11e7-8427-9713cfc5897d.png)

This probably happened when we added the hyperlinks to the channel names.

0.19.1:
![spacing](https://user-images.githubusercontent.com/8120721/34392801-74a76f60-eb1c-11e7-8bdb-ed8b074d87fe.

[2017-12-28 17:04] tzarebczan opened #905 "Consider changing "Support" to "Tip" on claim pages"
## The Issue
Some users may be confused about what "support" means and even though it has a gift icon, they may not realize it's a tipping mechanism at first.

During some first run experiments, some users thought this was the support area for help :)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-12-28 17:08] tzarebczan opened #906 "Cannot click "play" immediately after clicking Download"
## The Issue
If a user first clicks Download and then decides they want to stream the file, there is a delay where the play button cannot be clicked until the file has started downloading.

### Steps to reproduce
1. Click download
2. Try to click play (on thumbnail right after)

### Expected behaviour
Should be able to click play so that the player immediately starts playing the file when it comes

[2017-12-28 17:11] tzarebczan opened #907 "Ability to search through Downloads / Publishes pages"
## The Issue
As a user, I'd want to be able to search through my downloads and published files. Currently, if you are on any of those pages, the search function will just take you to a regular LBRY search.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-12-28 17:19] tzarebczan opened #908 "Add LBC symbol next to LBC values throughout app"
## The Issue
Add LBC symbol next to everywhere that LBC appears in the app. Right now, the values may be confusing to new users who don't know what LBC or credits are.

https://github.com/lbryio/lbry-app/issues/251 is for deciding the actual symbol, but it should be defined in one place anyway so that should not block this improvement.

[2017-12-28 17:40] tzarebczan opened #909 "Move "Report" feature to inside of app?"
## The Issue
The Report feature, which is used to report content for infringement, opens in a separate web page outside of the app.

Should this be moved to inside the app eventually?

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-12-28 19:32] lyoshenka commented on #763
closed by lbryio/lbry-app#911

[2017-12-28 19:32] #763 closed

[2017-12-28 19:47] Feanor78 opened #912 "UI suggestions"
Some suggestions on UI improvement from some user testing done over the holidays:

1. Make it clearer that the search bar is the search bar, but if you press "enter" it will take you directly to the claim location you typed in. Maybe by default it should just be a search bar, and the first result returned would be the exact claim location searched for?

2. Instead of autofilling the "tip amount" b

[2017-12-28 23:19] tzarebczan commented on #912
https://github.com/lbryio/lbry-app/issues/671

https://github.com/lbryio/lbry-app/issues/738

Both are on my wishlist night (just added the tag to the search one).

Feel free to add comments to those!

[2017-12-29 03:23] seanyesmunt commented on #912
👍

[2017-12-29 03:24] seanyesmunt commented on #909
I think this should definitely live inside the app. Shouldn't be too difficult.

[2017-12-29 03:48] seanyesmunt commented on #905
Agreed. This should be changed to tip.

On Dec 28, 2017 12:04 PM, "Thomas Zarebczan" <notifications@github.com>
wrote:

[2017-12-29 15:57] tzarebczan opened #913 "Functionality of "Open" button on claim page confusing at first"
## The Issue
If a user had a file downloaded or streamed, the Open button shows on the claim page. It's not clear what exactly this button without clicking it first. Some users may think it will open the file in the LBRY app, but it tries to open the file externally. If the file is not available, it just opens the folder (https://github.com/lbryio/lbry-app/issues/586).

## System Configuration

-

[2017-12-31 01:40] idontcar3 commented on #908
allright i wanna do that, but... whats the chosen symbol hahaha there are too many

[2018-01-01 18:32] tzarebczan opened #917 "Cannot send tip, transaction failed"
## The Issue
Looks like this https://github.com/lbryio/lbry-app/commit/7cd25e777aded97a7609e084ccff4ae0c8240a94#diff-3382ad8a365bcbe5fdac5b0508c405c7R158 recent code change broke the tip function. It should be claim_id and not claimID.

This is the current error:
[code]

being passed as:
[code]

### Steps to reproduce
1. Try to support a claim
2.
3.

### Expected behaviour
Support goes through

##

[2018-01-02 05:05] liamcardenas commented on #894
Great Idea, I would like to implement this as well. @seanyesmunt how can we work this into the redesign?

[2018-01-02 05:14] liamcardenas commented on #900
Very odd, I am tempted to close this because no one else has had this issue, but maybe its worth looking into... I think I will keep it open for now.

Thanks for logging this!

[2018-01-02 05:16] liamcardenas commented on #901
This is definitely something we want to have in the future, thanks for the suggestion

[2018-01-02 05:17] liamcardenas commented on #903
This happened to me the other day, we definitely should fix this asap imo

[2018-01-02 05:20] ykris45 commented on #901
You welcome sir . thanks for added label for this issues / suggestion

[2018-01-02 05:21] liamcardenas commented on #905
thoughts @reillysmith?

I think this is part of a larger discussion

[2018-01-02 05:25] liamcardenas commented on #908
related #251

[2018-01-02 05:36] liamcardenas commented on #912
Thanks for the input! Let's continue this conversation on the aforelinked issues :)

[2018-01-02 05:36] #912 closed

[2018-01-02 05:38] liamcardenas commented on #913
Maybe this would be better if it said "Show in file system" or on macOS "show in finder". Then we could link to the file but not open it. Thoughts?

[2018-01-02 05:39] liamcardenas commented on #917
@IGassmann can you look into this?

[2018-01-02 12:18] ykris45 opened #919 "The latest app ask user to verify again."
## The Issue
when one of the users updates the app to the latest version. LBRY application The latest version asks the user to verify the account when the user has been manually verified by LBRY Mods an hour ago. and should be when the user installs LBRY APP version 0.19.0 and verified, then when he updates the app to a higher version then no need to ask about verification again. and keep a check

[2018-01-02 13:21] #764 closed

[2018-01-02 14:11] tzarebczan commented on #919
The user's rewards were disabled for duplicate accounts, reached out on Discord.

[2018-01-02 14:11] #919 closed

[2018-01-02 15:30] tzarebczan opened #920 "LBRY app quits with daemon already running error"
## The Issue
This happens mostly between upgrades when the LBRY app is updated but the lbrynet-daemon process continues to run/get stuck in the background. When attempting to run LBRY, it looks like it's starting and then will close out with an "daemon unexpectly quit" error. In the logs, you see:

`2017-12-30 17:47:39,213 INFO     lbrynet.daemon.DaemonControl:65: lbrynet-daemon is already running

[2018-01-03 02:34] seanyesmunt commented on #894
I was planning on adding this after the redesign is complete. I think there
are a lot of routes we can take. We could add this to the redesign, but it
would be the last thing to add.

On Tue, Jan 2, 2018 at 12:05 AM, Liam Cardenas <notifications@github.com>
wrote:

[2018-01-03 02:34] seanyesmunt commented on #894
I think it will be a pretty substantial feature to get something that
really works well.

On Tue, Jan 2, 2018 at 9:34 PM, Sean Yesmunt <sean@lbry.io> wrote:

[2018-01-03 03:25] tzarebczan commented on #900
I ran into this today on a machine that's not linked to any emails. It would get stuck on looking up version info - I think it has something to do with the install ID or the auth token not being available for whatever reason.

Could not find anything in Console/Network tab that would cause it to happen. I did find my LBRY app in a frozen state before this occurred and I relaunched it without closi

[2018-01-03 05:40] seanyesmunt opened #922 "Shortcut to jump to search bar?"
I think it would be nice to be able to use a shortcut to quickly focus on the search bar.

My vote would be on `{cmd,ctrl} + l` which Firefox, Chrome, and Safari use

Thoughts? Should be pretty straight forward.

[2018-01-03 11:21] kcseb opened #923 "Claiming reward leaves reward still visible, and gives error."
http://hfimg.pw/i/3g89q.png | http://hfimg.pw/i/adysu.png

Small issue.

Sometimes, a reward will be claimed, only to remain ghosted and unclaimable

Recreate? Not exactly sure. It just happened after updating the LBRY application.

It doesn't really effect much, but it just is a bit bothersome to have a reward that you cannot claim, and just sits there.

[2018-01-03 13:03] tzarebczan commented on #923
@kcseb thanks for the report, but it's already filed under https://github.com/lbryio/lbry-app/issues/596

[2018-01-03 13:03] #923 closed

[2018-01-03 14:37] kauffj commented on #894
Agreed, out of scope for the redesign.

[2018-01-03 14:39] kauffj commented on #922
Probably worth looking at adding a bunch of these.

[2018-01-03 15:02] #917 closed

[2018-01-03 15:58] tzarebczan commented on #917
Tested the fix, LGTM

[2018-01-04 07:49] deepalimayekar commented on #842
In the Python file, check the statuscode of the request after the get call. If r.status_code is not 200, skip the response.

[2018-01-04 07:51] deepalimayekar commented on #842
`import requests
r = requests.get('fill url)
compare r.status_code and if not 200, do not write
Thus resolve will not fail if any URL is incorrect.`

[2018-01-04 12:03] akinwale opened #924 "Refactor common shared logic and components"
With the goal of sharing as much code as possible between the app and the mobile React Native implementation, some bits of shared logic and the app state need to be refactored into a new package which can be imported for use on either platform.

This should in effect reduce the amount of work necessary to get the first version of mobile up and running.

[2018-01-04 20:53] tzarebczan opened #926 "Linked email management area"
## The Issue
As a user, I want to be able to manage what email account is connected to the LBRY app. Currently, once you are verified, there is no way to log out or change emails. The closest thing is clearing your authentication token which resets the connected email account. If you decide to change emails, the new account created loses its reward verification status and any other associated API

[2018-01-05 21:41] tzarebczan opened #927 "Cannot right click throughout app"
## The Issue
Can't right click throughout the app (i.e. to copy or paste a URL).

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-01-07 22:49] MSFTserver commented on #733
I'm about to start looking at the app again if this isn't being worked on id be glad to help shouldnt be hard detecting a user's local time settings a theme to trigger certain times using a cache system since its web based app

[2018-01-08 04:38] seanyesmunt commented on #733
Yeah I think this would be a great feature to have. Agreed that it
shouldn't be too difficult.

On Jan 7, 2018 2:49 PM, "MSFTserver" <notifications@github.com> wrote:

[2018-01-08 16:13] #927 closed

[2018-01-08 16:14] #904 closed

[2018-01-08 16:16] #883 closed

[2018-01-08 19:00] liamcardenas opened #930 "Require changelog edit on PRs"
We should automatically reject PRs if the changelog has not been updated

[2018-01-08 19:13] kauffj commented on #930
https://github.com/lbryio/lbry-app/blob/master/Dangerfile is supposed to do this (but obviously isn't being executed). However, since this is a regression, it might be fair to consider this a bug.

[2018-01-08 21:27] LavRadis opened #931 "Clicking on PDF thumbnail triggers the blob PDF download and "Save As" menu"
## The Issue
I accidentally clicked on the PDF file thumbnail and the "save as" menu opened with "blob" pdf file download.

### Steps to reproduce
1. Find a PDF file
2. Click on the thumbnail image
3. "Save As" menu will appear with blob:pdf XXXXXXXXXXXXX.pdf file

### Expected behaviour
This should not happen? Files should be downloaded in the default download folder.

### Actual behaviour
When i

[2018-01-08 21:36] tzarebczan commented on #931
https://github.com/feross/render-media is supposed to support pdf, so not sure what's going on here, but we should definitely not be prompting to save as.

Thanks for filing this @LavRadis, will send you a tip on Discord :)

[2018-01-08 22:51] Googolplexbyte opened #932 "Add github.com/ollm/OpenComic so lbry-app has a built-in manga/comic reader"
I think LBRY would be a good place to host manga and having an inbuilt reader would streamline the process.

Not sure if I've recommended the best software for it, but if open, free, and uses Electron just like the lbry-app.

[2018-01-08 22:55] tzarebczan commented on #932
Thanks for opening this @Googolplexbyte. I'll send you some more LBC on Reddit :)

[2018-01-08 22:58] Googolplexbyte commented on #932
You're too kind.

Happy to do it.

[2018-01-09 01:46] seanyesmunt commented on #671
This will continued to be improved, but the basic implementation is in the redesign branch

[2018-01-09 01:46] #671 closed

[2018-01-09 02:57] tzarebczan opened #937 "Some videos may crash LBRY app / stop playing abruptly"
## The Issue
Ran into more in-app video player issues trying to stream some of CryptoCandors videos. It may be how they are encoded as I haven't seen this happen with other videos. On first stream, sometimes they play fine - but then if you leave the claim and come back after it downloaded, the playback issues are consistent.  Maybe it has something to do with the file size - some of these are ove

[2018-01-09 13:49] IGassmann opened #938 "Refactor Electron's main process"

[2018-01-09 20:38] kauffj opened #940 "Inconsistent modal header appearance"
@alexliebowitz correctly [pointed out](https://github.com/lbryio/lbry-app/pull/808#discussion_r160289340) that we're inconsistent with our modal stylings.

I think many (most? all?) modals look better with spacing below the header when they have a header. However, several modals that have spacing just inject a `<br/>`, which is probably wrong.

@seanyesmunt please add this to design epic if it mak

[2018-01-09 20:54] seanyesmunt commented on #940
👍 ill spend some time exploring this

On Jan 9, 2018 12:38 PM, "Jeremy Kauffman" <notifications@github.com> wrote:

[2018-01-10 15:13] liamcardenas opened #941 "Phone Verification"
Add the ability to verify phone numbers for reward eligibility

[2018-01-10 18:56] MSFTserver commented on #941
can you block google voice numbers? just a concern as I could create 100 google voice phone numbers

[2018-01-10 19:04] LavRadis commented on #762
I've been testing this and at one point the console returned "true" when I did the unlock command with a false password. Not sure if I followed the correct protocol. I've attached a .txt of that session. The return is on line 88.
[lbry encrypt test 2.txt](https://github.com/lbryio/lbry-app/files/1620110/lbry.encrypt.test.2.txt)

[2018-01-10 19:34] tzarebczan commented on #762
@akinwale per our discussion on Slack, we should have a wallet_lock or similar which will prevent transactions from being signed. The use case would be users running the daemon for hosting purposes, but they aren't necessarily transacting.

This would require some overhead on the app side - would need a way to allow lock and then unlock again - prompt user to do so when a transaction needs to occu

[2018-01-11 17:57] ykris45 opened #943 "Feature Request : Added Other Language Field Form"
## The Issue
when I publish the file in LBRY App. and clicking the language selection for the content I publish. it only consists of 7 default languages. but the content that I publish it speak Indonesian. ( lbry: //@Chris45#b9dd2a4f193393b59ceac7a0dedef3bfef7ba82d/reviewlbryapp ) it's my content link. please add "other" option and content box, so other users can fill it in accordance with the lan

[2018-01-11 18:22] tzarebczan commented on #900
I got this randomly on 2 machines yesterday/today, but it wasn't associated with the About section not loading and it went away after clicking out of it.

[2018-01-13 02:38] Arrowana commented on #421
Why is this closed? I am experiencing the same issue

[2018-01-13 02:47] tzarebczan commented on #421
What error are you seeing? It seemed like it was a versioning issue specific to this user... Maybe because they had other packages installed previously.

Feel free to post your log file or try the troubleshooting steps above.

[2018-01-13 02:57] Arrowana commented on #421
I am now getting the following error message:

while I had this error at the beginning:

I am trying to resolve the issue but would like to avoid breaking dependencies for other software like @stragu

[2018-01-13 07:46] Arrowana opened #944 "When disk is full an error message pops up when trying to download but message isn't informative"
## The Issue
Error message is not helpful when disk is full, resulting in poor user experience when trying to stream/download a new video

### Steps to reproduce
1. Fill the disk space where the download LBRY download folder is set
2. Try to stream or download a video

### Expected behaviour
Error should be something like "Disk is full, please free up some disk space" or something like this

### A

[2018-01-13 11:11] Arrowana commented on #733
I would like to implement this, I might take a bit of time as this will be my first feature implementation (not familiar with electron).

The theme dropdown will be greyed-out when "automatic dark mode" is enabled (checked).

[2018-01-14 09:17] Arrowana commented on #733
I have the basic idea working
https://github.com/Arrowana/lbry-app/commit/8eb7f589889285defeb11dd4889704a9ca6186fd

I am not sure about the required value I added in the settings store: isNight
There isn't any appropriate place where this could be stored

[2018-01-14 09:41] seanyesmunt commented on #733
@Arrowana Awesome! Can you make a PR for you changes? I have a few comments but it looks great.

[2018-01-15 06:19] Arrowana commented on #893
How would the LBC price in USD be choosen?
A public API call to cryptomarketcap LBC/USD

[2018-01-15 08:50] MSFTserver commented on #893
that's way to unstable and goes down way to often

[2018-01-15 14:23] kauffj commented on #893
FYI https://api.lbry.io/lbc/exchange_rate already exists and is used within the app

[2018-01-15 14:29] tzarebczan commented on #762
@akinwale / @jackrobison

We should also be encrypting channel certificate private keys during this process as well, right? I ran through a quick test and it doesn't look like we are.

[2018-01-15 14:51] tzarebczan commented on #944
We have a similar issue open for this on the daemon side, will close this one.

https://github.com/lbryio/lbry/issues/994

[2018-01-15 14:51] #944 closed

[2018-01-15 17:17] tzarebczan opened #947 "Add confirmation prompt before sending a transaction"
## The Issue
From a UX perspective, having a confirmation before sending LBC funds would be beneficial.  Also, once we have https://github.com/lbryio/lbry/issues/1045, this would be a good screen to show what the tx fee is and the total tx amount.

## System Configuration

## Anything Else

## Screenshots

[2018-01-15 17:22] filipnyquist commented on #941
This might also need a api endpoint on api.lbry.io which handles the phone verification.

[2018-01-15 19:12] #397 closed

[2018-01-15 22:27] ykris45 commented on #941
https://github.com/lbryio/lbry-app/pull/946 referenced PR

[2018-01-15 22:43] Technophant opened #949 "Feature request: network settings"
In addition to having a visual network status indicator (#603), there needs to be network settings similar to what is found in other peer2peer clients.

Some things that should be included:
connection_status: code & message
blocks_behind, if zero then return up-to-date
startup_status
toggle use_pnp
set peer_port
simple port status check (open or closed)
set random port option
set proxy port
be abl

[2018-01-17 19:04] tzarebczan commented on #949
@Technophant thanks for creating this issue! A few of the items you mentioned already have separate issues open on the daemon side - https://github.com/lbryio/lbry/issues/1002 (proxy), https://github.com/lbryio/lbry/issues/798 (BW limits), https://github.com/lbryio/lbry/issues/934 (port check)

Also, I'm not sure we want to expose all of these settings to the users, at least not without going into

[2018-01-17 22:11] kauffj commented on #949
@tzarebczan I think it makes sense to add a simple UI for settings like `peer_port` and `use_upnp`, which already exist via `settings_set`.

@Technophant let me know if you're interested in working on any of these ;) But thanks for opening either way!

[2018-01-18 02:50] IGassmann opened #952 "Refactor Lbryuri.js"

[2018-01-18 02:56] IGassmann opened #953 "Migrate to AppImage"
We should make the move to AppImage because of the following reasons:
 - Add [support to auto-update](https://github.com/electron-userland/electron-builder/tree/master/packages/electron-updater) for Linux.
- Incorporate necessary [dependencies inside the package](https://github.com/electron-userland/electron-builder/issues/1082).
- Supported by practically all Linux distributions.
- Supported by o

[2018-01-18 14:37] kauffj commented on #952
Can you elaborate @IGassmann?

[2018-01-18 14:41] IGassmann commented on #952
This is already mostly done. I opened this issue for remembering me to PR it.

I've refactored the file taking into account [this recommendation](https://github.com/airbnb/javascript/issues/1687#issuecomment-355098956).

[2018-01-18 15:50] painbank commented on #900
had this happen to me yesterday.  after waking up the mac book pro laptop from overnight sleep.
<img width="609" alt="screen shot 2017-04-10 at 9 39 55 am" src="https://user-images.githubusercontent.com/58357/35106871-6a3ffc18-fc3d-11e7-98fc-ae2c056536b3.png">

[2018-01-18 15:51] painbank commented on #900
<img width="427" alt="screen shot 2018-01-17 at 11 40 41 am" src="https://user-images.githubusercontent.com/58357/35106892-828f7d7a-fc3d-11e7-876f-ded1a6b87652.png">

[2018-01-18 16:10] kauffj opened #954 "Seamless Branch Switching"
There are currently issues switching between branches seamlessly. They may be system specific. Here's an example of how switching between branches can cause confusing behavior:

### Start on master

Everything works fine:

[code]

### Switch Branch

`yarn dev` does not run properly after switching branches:

[code]

### Next, yarn build

`yarn build` also fails after switching. Note: I received tw

[2018-01-18 17:35] #954 closed

[2018-01-18 18:25] kauffj commented on #952
The recommendation is that each function be it's own module? That seems kind of absurd to me...

[2018-01-18 18:32] IGassmann commented on #952
I went for exporting independently each function from the same same file. It makes more sense.

[2018-01-18 18:32] IGassmann commented on #952
I went for exporting independently each function from the same same file. It makes more sense.

[2018-01-18 18:33] IGassmann commented on #952
I went for exporting independently each function from the same same file. It makes more sense.

[2018-01-19 04:26] btzr-io opened #956 "Cannot select or install new themes"
## The Issue

For some reason, the theme selector doesn't recognize new themes added to the folder where dark and light are.

### Steps to reproduce
1.  Add a new theme -> `/themes` folder.
2. Go to settings page and use the theme selector.
### Expected behaviour
The theme selector should recognize new themes added to the `/themes` folder.

### Actual behaviour
 The theme selector doesn't recogniz

[2018-01-19 15:22] IGassmann commented on #828
Opened an issue (electron-userland/electron-webpack#75) for adding this feature.

[2018-01-19 15:23] IGassmann commented on #888
Resolved by #955

[2018-01-19 15:23] #888 closed

[2018-01-19 16:35] #938 closed

[2018-01-19 16:40] #953 closed

[2018-01-19 16:40] IGassmann commented on #332
New reasons for using AppImage:
- Add [support to auto-update](https://github.com/electron-userland/electron-builder/tree/master/packages/electron-updater) for Linux.
- Incorporate necessary [dependencies inside the package](https://github.com/electron-userland/electron-builder/issues/1082).
- Supported by our [building tool](https://www.electron.build/configuration/linux#LinuxConfiguration-target

[2018-01-19 18:18] LavRadis opened #958 "UI glitch: recipient address field is smaller then the address"
## The Issue

The "Recipient Address" field in the wallet is not long enough for certain addresses and it cuts off a small part of a beginning or end character. It could lead to confusion and wrong entry of the address.

### Steps to reproduce
1. Just paste "bGSAgQZDvpLwQaVHuyVn1PUmR8HKwt9huB" in the recipient address field
2.
3.

### Expected behaviour
The text field should show the entire addres

[2018-01-19 21:52] kauffj commented on #956
I signed off on this (possibly I shouldn't have ;), but IIRC @IGassmann had a reason for making this change.

[2018-01-19 22:10] IGassmann commented on #956
@kauffj It was a temporary solution that we discussed on a call. I'll work on it to result in a more reliable code.

[2018-01-22 07:09] Arrowana commented on #956
Should be easy to fix adding a search for files *.css in the static/themes folder, let me now @IGassmann if you want me to take this one :).

Themes are currently hardcoded here:
https://github.com/lbryio/lbry-app/blob/c894567eb9ded7f8f6802ec30de415e78c10ac84/src/renderer/redux/actions/settings.js#L49

[2018-01-22 11:02] IGassmann commented on #956
@Arrowana there were some problems with the previous solutions. That's why I temporarily hardcoded the themes.

[2018-01-22 11:11] #920 closed

[2018-01-23 07:02] #941 closed

[2018-01-23 07:03] liamcardenas commented on #958
Thanks for submitting the issue @LavRadis!

@tzarebczan do you think this is an issue that needs to be fixed? I think this might also be taken care of in the redesign.

[2018-01-23 07:45] seanyesmunt commented on #958
I think it's fine for now, it won't let you submit if it isn't a valid address.

[2018-01-23 20:37] tzarebczan opened #959 "Malformed LBRY URL causes app to show blank green screen"
## The Issue
If a user clicks a hyperlink such as lbry://badlink, (with a comma, or possibly other characters), the LBRY app shows a blank green screen. Need to refresh the app with ctrl-shift-R to reload.

### Steps to reproduce
1. Click https://open.lbry.io/badlink%2C and open with LBRY app
2. Notice blank green screen

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell

[2018-01-23 23:22] tzarebczan commented on #859
Can this also include the ability to update the channel bid? Currently, if you create a new channel with the same name as a previous channel, the channel is updated with the new bid amount. This isn't apparent to the user. So we need a way to either add more LBC to a channel claim or allow updates.

[2018-01-23 23:32] seanyesmunt commented on #922
`{cmd, ctrl} + {left/right}` for page navigation

[2018-01-23 23:33] kauffj commented on #859
I'd like to minimize the amount of new work that gets grouped with the design epic. Simply finishing the redesign is already a substantial enough project that merits independent release.

I understand if it makes sense to revise or improve existing views as part of the redesign, but wholly new components or pages are likely out of scope.

[2018-01-23 23:38] seanyesmunt commented on #859
++ on the above. Very interested in adding this, but most likely after phase 1 of the redesign is released

[2018-01-24 16:15] tzarebczan commented on #920
@IGassmann is this why you ended up killing the daemon? I should have been more specific in my original issue, but if you ran the daemon as a separate process before, the app would pick it up. This would work a majority of the time.  I think it only ran into problems between app upgrades - but if the daemon version is the same between different app versions, it should still use the running daemon

[2018-01-24 19:30] tzarebczan opened #960 "Abandoning claim through tx list results in empty tile in Downloads"
## The Issue
If a user abandons a claim using the trash icon in the tx list, the claim is deleted but the file is not removed from LBRY and thus creates a blank tile on the Downloaded list (after accessing the claim once or reloading LBRY).  The claim revoke prompt should allow the user to delete the file from LBRY or should just do it automatically (not sure you'd ever want to keep the file in fi

[2018-01-25 05:36] #849 closed

[2018-01-25 05:38] #855 closed

[2018-01-26 08:40] real-rouse commented on #849
I think vertical scrolling is better than horizontal scrolling.
I would rather click a category, e.g "Trending". and let all publications of that category fill the screen, so I can scroll down, down, down! Just like a webpage.

[2018-01-26 15:46] lyoshenka commented on #608
This is waiting on daemon 0.19

[2018-01-26 16:24] #556 closed

[2018-01-26 16:29] lyoshenka opened #964 "Research solution to #956"
#956

[2018-01-26 16:30] tzarebczan commented on #298
Reopening- just ran into this problem with the latest update. Even though the app closes the daemon on next start, the daemon remains at the older version. The installer really needs to check this and close the daemon before proceeding (or error out).

[2018-01-26 16:38] lyoshenka opened #965 "Spend 1 day figuring out whats up with #754"
#754

[2018-01-26 17:22] liamcardenas opened #966 "Research publishing options and mystery ci upload"
need to figure this out

[2018-01-26 17:25] liamcardenas opened #967 "Re-enable husky"
The new version of husky is coming out, we need to update to it and reenable it.

[2018-01-26 19:21] tzarebczan opened #968 "Save app state when closing to tray"
## The Issue
Close to tray app behavior was recently changed by @IGassmann where the app closes and then is re-opened to a fresh state when restoring. Previously, the app state was retained when the app was closed.

If its possible and doesn't cause issues, we should retain app state when closing to tray as other electron apps like Discord do.

### Steps to reproduce
1. Go to a claim
2. Close LBRY

[2018-01-26 20:14] seanyesmunt opened #969 "[redesign] Standardize inputs accross the app"
I've done a little work on this but some additional changes will be needed for the settings page.

Part of this will be ensuring inputs are proper HTML with correct aria labels

[2018-01-26 20:17] seanyesmunt commented on #854
Estimating this as 1 day because I need to spend some time exploring what is happening when the app is "loading".

[2018-01-26 20:20] seanyesmunt opened #970 "[redesign] Publish redesign"
I created a separate issue for this because I would like to just do any generic cleanup on the Publish page before getting into an actual flow reworking. This will be basic styling and using the new inputs.

[2018-01-26 20:23] seanyesmunt commented on #851
Duplicate of #970

[2018-01-26 20:23] seanyesmunt commented on #851
closed

[2018-01-26 20:23] #851 closed

[2018-01-26 20:27] seanyesmunt commented on #850
The new search experience will be quite a bit different. This will mostly be figuring how best to present this new search page.

Probably a full screen modal of sorts

[2018-01-26 20:28] seanyesmunt opened #971 "[redesign] Search page styling"

[2018-01-26 20:31] seanyesmunt commented on #849
@real-rouse agreed 100%. Infinite scroll will be implemented at some point. Just not with this initial redesign

[2018-01-26 20:35] seanyesmunt commented on #858
Not sure if this will be included in the initial redesign release

[2018-01-26 20:38] seanyesmunt opened #972 "[redesign] Channel page overhaul"
This won't implement everything in nizukas design, but will be a starting point. It will look very similar to the "your published/downloaded" pages. With some header including the channel name and a subscribe button

[2018-01-26 20:39] seanyesmunt commented on #852
duplicate of #972

[2018-01-26 20:39] #852 closed

[2018-01-29 02:52] #964 closed

[2018-01-29 16:55] seanyesmunt opened #974 "Add recomended content to file page"
It would be really nice to find new videos from the file page. Instead of having to go back to the home page or navigate directly to the channel page.

MVP would be probably some combination of that channels content and search results from some query based on the content title. And autoplay the first suggested video in the list

[2018-01-29 17:32] IGassmann opened #975 "Improve time-to-play"
Reduce the time between when the play button is pressed and when the video is actually played.

[2018-01-29 17:53] tzarebczan opened #976 "Ability to export wallet transactions to CSV format"
## The Issue
As an app user, I'd like a way to export all my wallet transactions and details to a csv file. This would allow users to perform an external analysis for various purposes.

## System Configuration

## Anything Else

## Screenshots

[2018-01-29 19:20] kauffj commented on #975
@IGassmann I don't think anything can be done app-side to improve this.

[2018-01-29 19:20] #975 closed

[2018-01-29 20:01] IGassmann opened #977 "Analyze code review tools"
Code review tools can automate some PR reviews by for example doing inline comments for ESLint problems and identifying code duplication.

https://www.netguru.co/blog/comparison-automated-code-review-tools-codebeat-codacy-codeclimate-scrutinizer

[2018-01-30 04:32] Technophant commented on #949
I'm busy with other things, but yes those two options would be easy to add to the UI and would pretty much take care of my concerns except for the upload bandwidth it take up.  I have a decent cable connection, however I needed to close it because it was causing me issues.  1 Mbit up and down with daemon running but nothing requested.

[2018-01-30 14:15] tzarebczan commented on #754
@alexliebowitz - here are some related video player issues which might be worth looking at if you start debugging the code:

https://github.com/lbryio/lbry-app/issues/937
https://github.com/lbryio/lbry-app/issues/635 (most likely an issue in the player)
https://github.com/lbryio/lbry-app/issues/418

You can also use instant.io to test the web player on another platform.  I'm gonna open up another

[2018-01-30 15:15] IGassmann opened #978 "Upgrade TeamCity to 2017.2"
TeamCity 2017.2 update is [strongly recommended](https://blog.jetbrains.com/teamcity/2017/12/teamcity-2017-2-1-is-released/) since we're using GitHub.com.

[2018-01-30 15:21] tzarebczan commented on #762
@akinwale did you have a chance to review the comments from @LavRadis per our discussion?

Also, can you comment on using the keyring to store the encryption keys?

[2018-01-30 15:21] liamcardenas opened #979 "Filter Google Voice Phone Numbers"
need to filter phone numbers from twilio

[2018-01-30 15:25] tzarebczan commented on #979
@liamcardenas - I opened this on the internal api side: https://github.com/lbryio/internal-apis/issues/210

[2018-01-30 15:38] liamcardenas commented on #959
@IGassmann im going to take this for grooming because i need a few more issues, feel free to work on it, though

[2018-01-30 18:08] tzarebczan opened #980 "Investigate - streaming non-web optimized MP4s in app"
## The Issue
Recently noticed that non-web optimized (those that do not have the moov atom / metadata at the beginning of the file) stream immediately (without having to download the entire file) on instant.io which uses the same web player as we do. This behavior is different from what we see in the LBRY app - the entire file must be downloaded before the stream begins. I'm not sure if we stream

[2018-01-30 21:38] JoshStrobl commented on #868
Just an update on this, it's gotten progressively harder to patch out auto updating / upgrading as of 0.20.0. I'm having to remove entire modals, set various variables to false (like `src/main/index.js` `autoUpdater.autoDownload` to `false`).

[2018-01-30 23:08] tzarebczan commented on #446
Recently came up on Discord and I found this relevant discussion: https://github.com/Aluxian/electron-windows-installer/issues/11

[2018-01-31 00:09] kauffj commented on #868
@JoshStrobl does AppImage or Flatpak make this any better for you?

[2018-01-31 13:20] JoshStrobl commented on #868
It would not, as we ship lbry-app in our repository, with it leveraging our optimized nodejs (we'd lose out on those optimizations with AppImage or Flatpak), packaged and versioned build tooling like yarn, and with plans on expanding LBRY support by packaging and maintaining `lbry` to enable the use and running of the lbry blockchain without the need to run the app itself (this enablement will be

[2018-01-31 13:51] akinwale opened #982 "doNavigate refactor for shared components"
Certain points in the app code need to be refactored in order to remove `doNavigate` from common shared logic.

https://github.com/lbryio/lbry-app/blob/master/src/renderer/redux/actions/search.js#L29
https://github.com/lbryio/lbry-app/blob/master/src/renderer/redux/actions/wallet.js#L184

[2018-01-31 13:56] akinwale opened #983 "doOpenModal and doShowSnackBar refactor for shared components"
Need to refactor the points in common shared code where `doOpenModal` and `doShowSnackBar` are used.

#### doOpenModal
https://github.com/lbryio/lbry-app/blob/master/src/renderer/redux/actions/wallet.js#L100
https://github.com/lbryio/lbry-app/blob/master/src/renderer/redux/actions/wallet.js#L125
https://github.com/lbryio/lbry-app/blob/master/src/renderer/redux/actions/wallet.js#L134
https://github

[2018-01-31 18:36] jkfernan commented on #943
Working toward a solution.

[2018-01-31 20:52] MR4Y opened #984 "Inconsistency with decimal separation of values."
The app displays decimal LBC values separated by period, but the "Send/Receive" part of it only accepts comma separated values instead, but displays a default period separated value. The "Publish" section displays a default value comma separated, but accepts both forms of decimal separation.

### Steps to reproduce
1. Enter the "Send/Receive" section of the app
2. Attempt to send a value with the

[2018-01-31 22:15] #298 closed

[2018-01-31 22:22] tzarebczan commented on #984
Thanks for filing this @MR4Y! Sent you a few credits on Discord :)

[2018-02-01 00:52] kauffj commented on #868
@IGassmann is rapidly becoming the build expert. If this is as simple as a packaging flag to disable auto-update, I suspect this is something we'd be happy to accommodate.

[2018-02-01 19:22] #979 closed

[2018-02-01 20:04] kauffj opened #985 "Add screenshot to linux builds"
I'm not sure where Ubuntu looks for a screenshot, but this screenshot shows it is supported:

![screenshot from 2018-02-01 15-00-54](https://user-images.githubusercontent.com/530774/35700468-ef0e8846-0747-11e8-86fa-cbf389201f47.png)

[2018-02-01 20:05] kauffj commented on #985
Use this URL: https://lbry.io/img/lbry-ui.png

[2018-02-01 22:20] #853 closed

[2018-02-02 08:19] #969 closed

[2018-02-02 22:11] tzarebczan opened #986 "Published claims are shown out of order"
## The Issue
Because of https://github.com/lbryio/lbry/issues/1098, newly published content does not show at the top of the Published list. This causes confusion because the user may think that their item was not published correctly.

Currently, the app takes the output of claim_list_mine and reverses it, which produces incorrect results. We should order the published claims by height when using t

[2018-02-02 22:43] tzarebczan commented on #903
@liamcardenas adding this to the user wishlist.  We should at least show a better error if sending an amount greater than the wallet balance, but in the end, this (https://github.com/lbryio/lbry/issues/1045) may be required.

[2018-02-03 03:48] kekkyojin commented on #984
Which is your operating system locale, @MR4Y ?

[2018-02-05 05:50] #844 closed

[2018-02-05 15:45] tzarebczan opened #988 "Disable drag and drop of files into the app"
## The Issue
Based on the discussion in https://github.com/lbryio/lbry-app/pull/549#issuecomment-362819852, we should disable file drag & drop into the app until it can support publishing, otherwise, it causes confusion because the file is simply shown in the app.

### Steps to reproduce
1. Drag a picture or video file into the LBRY app
2. LBRY displays the video/image
3. No way to exit, need to c

[2018-02-05 15:54] miikkatu commented on #244
This is indeed an Electron requirement. From Electron docs: "Only 64bit binaries are provided for macOS, and the minimum macOS version supported is macOS 10.9."

[https://github.com/electron/electron/blob/master/docs/tutorial/supported-platforms.md](url)

[2018-02-05 17:05] miikkatu commented on #546
Is this fixed already, maybe as a side effect of some other change? For me, the date is shown like this: "Published on January 25, 2018". Not like in the screenshot of this issue.

[2018-02-05 18:10] tzarebczan commented on #546
@oakey22 can you share an updated screenshot how it looks in the latest version. I tried changing my regional settings but it still shows "February x, 2018" - wouldn't that be correct for all region settings?

[2018-02-05 18:44] tzarebczan commented on #733
Closed via https://github.com/lbryio/lbry-app/pull/950

[2018-02-05 18:44] #733 closed

[2018-02-05 18:56] liamcardenas opened #989 "Mixpanel Integration"
switch amplitude for mixpanel -- this also includes optimizing the app for mix panel and exploring mixpanels unique features.

[2018-02-05 18:58] liamcardenas opened #990 "Refactor analytics"
Pull analytics out into its own file

[2018-02-05 19:01] liamcardenas opened #991 "Internal Analytics"

[2018-02-05 19:05] liamcardenas opened #992 "Client Side Re-engagement / Subscription push notifications"
We want to be able to notify users when a new subscription has been added

[2018-02-05 19:08] liamcardenas opened #993 "Explore adding push notifications in app"
When the app is closed, we want to be able to send push notifications in OS's that support it.

[2018-02-05 19:11] liamcardenas opened #994 "Auto-download free subscription content before notifying"
I personally think we should get some data on usage to see if this is necessary. Maybe people don't drop off while waiting for subscriptions to download -- maybe instead they browse around the app.

[2018-02-05 19:13] miikkatu commented on #546
0.20.0

<img width="478" alt="date" src="https://user-images.githubusercontent.com/16205520/35823774-5bcadefc-0ab9-11e8-86b4-98c82c52aa41.png">

[2018-02-05 19:25] liamcardenas opened #995 "Figure out how to encourage subscriptions"
We could:
- have subscriptions next to headers on the homepage
- have a popup on the subscription box on the file page encouraging people to subscribe
- have a row on the homepage that says "Who to follow"

[2018-02-05 19:46] #906 closed

[2018-02-05 20:03] seanyesmunt opened #996 "[redesign] Transactions page"

[2018-02-05 20:44] lyoshenka commented on #560
Next step: Tom's gonna repro this

[2018-02-05 21:07] lyoshenka opened #997 "Add "log out" link that clears their auth token"

[2018-02-06 15:33] kauffj commented on #991
When you make the next analytics change set, can you please add a timing event for first-run timing? Specifically, I want to know the time from the app is launched to the discover page rendering with resolved tiles for the first run ever (we could also time subsequent runs, but I want to specifically know first runs).

[2018-02-06 20:14] Feanor78 opened #999 "Add a list of "Suggested Videos" or autoplay after a video has completed"
Feature wishlist from Brinck - the LBRY app should either offer a list of suggested videos to play next or autoplay the next video on the uploader's channel when playback completes.

[2018-02-06 20:48] seanyesmunt commented on #999
@Feanor78 It's on the radar! https://github.com/lbryio/lbry-app/issues/974

Going to close this one

[2018-02-06 20:48] #999 closed

[2018-02-06 20:51] #856 closed

[2018-02-07 12:30] real-rouse opened #1001 "Implement more options when reporting illegal content."
I can see there is more illegal/copyrighted material being published to LBRY lately.
[A movie copyrighted by Universial Pictures](https://spee.ch/a353dbac2555f7d4565f9131562289c81b644633/Screen-Shot-2018-02-07-at-121041)

See https://explorer.lbry.io/claims for the latest claims.

What if there was more options presented when you click the "Report" button?

**- Right now the report button is only

[2018-02-07 15:56] oakey22 commented on #546
Working for me now, thatnks guys

says December 17th 2017

[2018-02-07 18:09] tzarebczan commented on #625
This is fixed now as the app uses txid + nout to abandon the claims, but I'll open a new issue to provide better notification/action when abandoning a claim that has self-supports or tips associated with it.

[2018-02-07 18:09] #625 closed

[2018-02-07 18:22] tzarebczan commented on #565
@lyoshenka would we need to block this separately from a search/trending perspective? Seems like trending would need to take it into account separately so it can still show the top 10 trending without blocked content.  Let me know if I should open an issue.

Also, how would this work from a hosting perspective? Shouldn't LBRY nodes (at least ones running our official software) have to abide by thi

[2018-02-07 20:27] tzarebczan commented on #546
Going to close this, thanks for confirming @oakey22 !

@liamcardenas, please open a new issue for the <DateTime> internationalization convo if you feel its warranted.

[2018-02-07 20:27] #546 closed

[2018-02-07 20:56] #854 closed

[2018-02-07 20:59] tzarebczan opened #1002 "Add menu / keyboard shortcut to Quit LBRY app"
## The Issue
During the last refactor, looks like we lost the ability (at least on Windows/Linux) to completely quit the LBRY app from a menu/keyboard shortcut.  To quit the app right now, users need to right click on the tray icon > Quit.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-02-07 21:05] tzarebczan commented on #997
I assume this is the temporary workaround to https://github.com/lbryio/lbry-app/issues/926 ?

How would this work? Would it reload the app and clear out local storage (so they are prompted for email on next refresh)?

[2018-02-08 01:25] xorgy opened #1003 "Support more media formats in the built in player."
## The Issue
Content with codecs not supported by the default build of Electron is not playable within LBRY.

### Expected behaviour
LBRY should be able to play all the reasonably well tested common codecs supported by FFMPEG (which is what Electron/Chromium uses to demux and decode video/audio).

### Actual behaviour
Sometimes a play button is initially shown, but once enough of the file has buff

[2018-02-08 01:33] lardnicus opened #1004 "More distributed..."
## The Issue
The current system is  centralised and open to being overtaken by a more advanced and decentralised implementation. It also uses wasteful PoW mining instead of allowing users to contribute those same resources to improving the speed and stability of the network.

### Expected behaviour
1. Content loads faster than YouTube
2. Users pay to store video on a distributed cloud with LBRY cr

[2018-02-08 01:36] xorgy commented on #980
@tzarebczan Interested in looking at this, if you'd host the offending video again I could get my own seed and take a better look. I don't have any offending MP4s on me.

[2018-02-08 02:30] finer9 commented on #565
As per convo with @kauffj we need to prioritize getting blocks in the app

[2018-02-08 14:56] xorgy commented on #1003
I'm looking for a good source of information on which codecs would be lower or higher risk (security/robustness wise) to support. I think Chrome OS maintains a whitelist for the separate Video player (not for browser windows) which might be close to what I'm looking for.

[2018-02-08 16:29] tzarebczan opened #1005 "Don't allow dark mode with automatic night mode enabled"
## The Issue
If you enable automatic night mode, the theme selection should not allow the dark theme to be chosen as it overrides the setting.  Not sure about disabling the theme selection completely - right now it makes sense because there is only 1 option, but in the future when we have more, a user may want theme X and have night mode enabled.

## System Configuration

- LBRY Daemon version:
-

[2018-02-08 16:48] tzarebczan commented on #560
Can't produce this anymore after @IGassmann 's refactoring changes. Closing.

[2018-02-08 16:48] #560 closed

[2018-02-08 18:48] kauffj commented on #1005
Probably better to disable the night mode setting once the dark theme has been selected than to disable the theme if night mode is selected.

[2018-02-08 19:31] seanyesmunt commented on #1005
Fixed in #1006

[2018-02-08 19:40] kauffj commented on #1003
@xorgy I think it's less about security and more about what's possible to support. I don't see how `<video src="xxx.ext" />` can be an attack vector regardless of what it's pointing to.

[2018-02-09 00:33] tzarebczan opened #1007 "Patch app side balance checking for publishing/claiming channel"
## The Issue
In https://github.com/lbryio/lbry-app/pull/794, we did some patching on the app side to account for a hold-up on a daemon issue(https://github.com/lbryio/lbry/issues/855), but there are a few scenarios that weren't taken into account. Two are logged here on the daemon side: https://github.com/lbryio/lbry/issues/1107 because the result is confusing.  This also expands upon https://gith

[2018-02-09 02:14] xorgy commented on #1003
@kauffj Well, it can be an attack vector if the demuxer or decoder is compromised in some way. Many people, especially Google, have done a tremendous amount of work pounding serious vulnerabilities out of  FFMPEG for the formats which are important to the web, but considerably less effort has gone into finding and fixing vulnerabilities in the codepaths that handle other formats.

Demuxing and dec

[2018-02-09 03:45] tzarebczan commented on #396
@IGassmann the current app behavior now when this happens (removing lbrynet-daemon) is the green loading screen that gets stuck at "Starting daemon" indefinitely. How can we improve this behavior?

That being said, have not heard of any reports of this happening.

[2018-02-09 08:57] lbrydocs opened #1008 "Install fails on Lubuntu 16.04.3 LTS"
I have a Lubuntu 16.04.3 LTS virtual machine I am using for testing LBRY repos. I did a git clone of this repo as root and ran the following:

DEPS=true ./build.sh
~ much stuff that works fine ~
Successfully installed virtualenv-15.1.0
/root/lbry-app/build/install_deps.sh: line 91: -E: command not found

Examining install_deps.sh I see sudo in the mix, don't know what -E option does:

if ! cmd_exi

[2018-02-09 09:03] lbrydocs commented on #1008
Removing the -E and starting the process again does lead to a functional install of LBRY.

[2018-02-09 15:52] tzarebczan commented on #1004
@lardnicus thanks for submitting this issue!

We are still a beta platform and still have lots of room to go in terms of improvements to our Peer to Peer network which serves up the files.  The point of LBRY is to allow publishers to control their data, which is why they host the content themselves (plus the servers we run to help with hosting) and it's also hosted by anyone that downloads the con

[2018-02-09 16:22] kauffj commented on #1003
I would assume that Chrome's sandboxing leaves us fully covered here. If I can use a `<video>` tag as an attack vector in our app, then I should be able to use that same attack vector on the web against any Chrome browser.

[2018-02-09 16:57] seanyesmunt opened #1009 "Can't see history of content/channels I've viewed"
## The Issue
Can't see history of content/channels I've viewed

### Steps to reproduce
1. Navigate to a channel/content from the homepage but don't watch it
2. Wait for it to be taken off the home page
3. Try to get back to it

### Expected behaviour
I should be able to see my navigation history, similar to a web browser. This would consist of content pages only (I think?) and not app pages like w

[2018-02-10 00:16] lardnicus commented on #1004
Thanks for the reply! I believe in the project although of course we all have different ideas about things...

Proof of storage (proof of capacity) is Burst coins claim to fame, but along with PoW, it is also a monumental waste of resources. For Burst, not turning GPU's into expensive fan heaters, but a manufacturing race to hell in locking up disk space.

That you are working on rewards for hosts

[2018-02-10 04:46] xorgy commented on #1003
@kauffj The difference is codec support. Chrome has a fairly short whitelist of formats, whereas this feature involves whitelisting more of them (some of which have lower quality implementations than the ones whitelisted by Chrome); and while I have trust in Google's seccomp-foo, I wouldn't say the additional risk is zero.

[2018-02-12 16:35] tzarebczan commented on #980
@xorgy I just uploaded the file to https://instant.io/#69597aeaefcda9f4a268fbee72eca3ba96ab93dc again.  If you can't get to it, download it on LBRY: lbry://freecryptocurrencyhowtoclaimrewardsonlbry#592e48c0dd3e309b371956667a80aac8c83a8a60 and then take the mp4 and upload it to instant.io (and then access the URL from a 2nd PC).

Let me know if you have any questions!

[2018-02-12 17:18] tzarebczan commented on #1001
@kauffj / @lyoshenka what are your initial thoughts on this? I'm not sure about getting copyright reports from 3rd parties, but I was recently thinking more along the lines of having some way to report illegal/horrific as a user.

[2018-02-12 17:50] real-rouse commented on #1001
Maybe is not LBRY Inc.'s responsibility to start policing content before the owners come. I can understand that. I don't think Youtube did that either in the beginning.

[2018-02-12 18:29] seanyesmunt opened #1011 "[redesign] Published page"
The page that is a list of your current published content

[2018-02-12 20:00] #982 closed

[2018-02-12 20:00] tzarebczan commented on #1007
@kauffj/@liam do we want to prioritize additional app side patching while the protocol's shortcomings are worked through? This is the main cause of that [object object] message which surfaces in the scenarios described above which we have seen quite often.

[2018-02-12 20:00] #983 closed

[2018-02-12 20:37] tzarebczan opened #1012 "Publish errors show [object Object] error instead of actual error"
## The Issue
This is an issue to fix the poor "[object Object]" error that's shown instead of the actual daemon error.

![image](https://user-images.githubusercontent.com/18357967/32818565-e10738cc-c978-11e7-9a0d-88f7725e2005.png)

Related to:
https://github.com/lbryio/lbry-app/issues/874
https://github.com/lbryio/lbry-app/issues/1007

Protocol issues/discussion worth reviewing
https://github.com/

[2018-02-12 20:53] lyoshenka commented on #396
hasn't happened in a while, closing this. if you can repro, we'll look again.

[2018-02-12 20:53] #396 closed

[2018-02-12 21:13] kauffj commented on #993
Look at the code that already exists for showing a notification when download finishes. This is the first/only notification the app currently shows.

(I'm not suggesting we keep notifications exactly the same, just that this be the same underlying functionality.)

[2018-02-12 21:14] kauffj commented on #992
Not just notify, but auto-download. I want to be told that something is ready for me to watch.

[2018-02-13 01:05] xorgy commented on #980
Sweet, I'll investigate a bit and report back anything interesting, patch if I know what I'm doing.

[2018-02-13 12:57] akinwale opened #1014 "Replace all instances of doOpenModal and doShowSnackBar with doNotify"
Since doNotify from `lbry-redux` will be handling all app notifications (modal, snack bar, etc), all other instances of doOpenModal and doShowSnackBar need to be replaced with this.

[2018-02-13 16:18] liamcardenas opened #1015 "Some work on daemon 19"
Upgrade to use daemon 19

[2018-02-14 19:24] LupoTV opened #1016 "Organizing Content for Creators"
## The Issue

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-02-14 19:25] LupoTV commented on #1016
I know you guys are working on an update, so please consider making a way to organize our channels better.  I already have so many stories up it is a mess to try and find something.  I ask you guys to develop a playlist feature and maybe a basic layout for channel homepages.  I know the idea of just making new channels to organize content better is being considered.  The issue with that is it spre

[2018-02-15 15:33] Jeremy1026 commented on #986
pull request opened for this, https://github.com/lbryio/lbry-app/pull/1018

[2018-02-15 18:29] tzarebczan opened #1019 "Remove include_tip_info from transaction_list call"
## The Issue
In v19 of the daemon, the transaction_list call no longer requires the include_tip_info parameter.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-02-15 18:47] Jeremy1026 opened #1021 "Unable to reopen closed LBRY App window in macOS"
## The Issue
After closing the LBRY App window by clicking the red circle in macOS It isn't possible to reopen the window without quitting the application, either by right clicking in the dock and choosing quit, or by giving the LBRY App focus and using Command+Q. Then relaunching the application.

### Steps to reproduce
1. Close the application window.
2. Attempt to reopen the application window.

[2018-02-15 19:15] tzarebczan commented on #1019
Closed via https://github.com/lbryio/lbry-app/pull/1020

[2018-02-15 19:15] #1019 closed

[2018-02-15 19:18] tzarebczan commented on #900
Have not seen this occur in over a month, will close in the next week or two if it doesn't happen anymore.

[2018-02-16 09:54] #857 closed

[2018-02-16 09:54] #1011 closed

[2018-02-16 09:56] #996 closed

[2018-02-16 21:17] tzarebczan opened #1025 "Max key fee message swallowed by Error modal"
## The Issue
If a higher has a max key fee configured in settings and try to download/stream something with a higher fee, the app attempts a get call which then fails due to the key fee.  The user is presented with:
![geterror](https://user-images.githubusercontent.com/8120721/36329574-70ce1d4a-1334-11e8-906e-0f0bd3c9ccfb.png)
which doesn't tell them the reason for the download failure.

The daemo

[2018-02-16 21:32] #991 closed

[2018-02-16 21:32] #990 closed

[2018-02-16 21:32] #989 closed

[2018-02-16 23:25] golfjang011 opened #1026 "7pA6CSSR9zEpJiPkNYTejLeSzvoAtE85"
## The Issue

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-02-16 23:29] tzarebczan commented on #1026
@golfjang011 was this submitted in error? Please let us know how we can help. Closing this for now.

[2018-02-16 23:29] #1026 closed

[2018-02-16 23:48] tzarebczan opened #1027 "Add startup-troubleshooting FAQ URL to daemon error screen"
## The Issue
I think it would be helpful to add a hyperlink to https://lbry.io/faq/startup-troubleshooting (or just the URL if hyperlink not possible) to the error screen when the daemon can't start up properly:
![daemonexited](https://user-images.githubusercontent.com/8120721/36334221-88120b6e-1349-11e8-8441-64033d463931.png)

This would be helpful to new app users who have trouble starting up an

[2018-02-17 01:09] tzarebczan commented on #493
https://github.com/lbryio/lbry-app/issues/895

[2018-02-17 17:31] kauffj commented on #1025
@tzarebczan is there a ticket for adding error codes to lbry? I thought there was but could not find.

Error codes would allow this to be handled in a much cleaner way (like directing them to settings rather than just showing the error).

@jackrobison @eukreign I'm guessing you're already convinced of the necessity of codes, but in case you want some real world encouragement for their addition her

[2018-02-19 14:48] tzarebczan opened #1028 "Integrate spee.ch link sharing from LBRY app content/channels"
## The Issue
As a LBRY app user and creator, I may want to share a web URL to the content I'm viewing or sharing so that others without the LBRY app can view it.  This would be in the form of a button/link on claim and channel pages.

If we are using spee.ch to do this, it would only apply to image and video file types. If we use create a separate view only site (https://github.com/lbryio/internal

[2018-02-19 14:52] tzarebczan opened #1029 "Add Rewards FAQ to LBRY app"
## The Issue
Add link to Rewards FAQ (https://lbry.io/faq/rewards) in areas that mention rewards.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-02-19 16:48] liamcardenas opened #1030 "improve privacy"
- https://github.com/lbryio/lbry-app/blob/master/src/renderer/redux/actions/content.js#L229
- add wording for email disclaimer
- better description for diagnostics

[2018-02-19 16:50] liamcardenas commented on #1030
+ audit all api calls

[2018-02-19 18:59] tzarebczan commented on #1025
I'll check on the error code ticket and open one if needed.

[2018-02-20 07:48] #540 closed

[2018-02-20 16:16] tzarebczan commented on #386
Opening this back up because the referenced file/commit (https://github.com/lbryio/lbry-app/commit/dbd147f4d1c86c3dfcc176061607d06bcf168cde) was changed to remove the dependency on gnome-keyring. This may have been during @IGassmann 's refactoring of the build process.

If you run the LBRY app on a KDE distro, the app fails to load anything on the front page as it's not able to get an authenticati

[2018-02-20 23:48] tzarebczan opened #1031 "Check channel is available before publishing, otherwise publish fails(app says it succeeds)"
## The Issue
Currently, if you try to publish something to a newly created channel that's not yet confirmed, you'll run into https://github.com/lbryio/lbry/issues/893. The app shows that the publish was created successfully when in reality it fails.

Waiting to confirm that this behavior is accurate, and if so, the app should check that the channel is available in channel_list (formally channe_lis