[2018-02-21 06:17] #993 closed

[2018-02-21 06:17] #995 closed

[2018-02-21 14:55] kauffj commented on #995
These are all decent ideas. The second one should happen for sure, though not necessarily a popup.

Two other ideas:
- Offer a reward for subscribing to n channels.
- Offer a reward for accessing a piece of content to a channel you are subscribed to within n time units of it being published.

[2018-02-21 14:56] kauffj commented on #995
Whoops, I responded to this not seeing it was closed ;) I guess all 3 of these have already happened!

[2018-02-21 18:44] seanyesmunt opened #1033 "[redesign] get up to date with master branch"
My branch is quickly falling behind

[2018-02-21 18:45] seanyesmunt opened #1034 "[redesign] implement dark mode"
This will include cleaning up all the color variables/removing what we don't need

[2018-02-21 18:48] seanyesmunt opened #1035 "[redesign] App responsiveness"
This will include creating several media queries and adjusting card widths based on those. Currently there may be a lot of empty whitespace depending on the window width. We should smartly stretch the cards to match the window size

 Pages that need looked at will be: Your downloads, Your publishes, Channel, File Viewer

[2018-02-21 19:15] LavRadis commented on #1029
looks interesting. i'll see if i can figure it out.

[2018-02-21 20:54] lyoshenka opened #1037 "disable analytics in dev mode (or use a different api key)"

[2018-02-21 21:32] liamcardenas commented on #1031
we can use the 500 error to indicate that the user should try again soon, but what if it is another issue not related to the channel? we wouldnt want to say try again soon, if it is actually a different source of the error, no?

[2018-02-21 21:41] tzarebczan commented on #1031
Agreed, it could fail for other reasons, even if we check the exception message.

To do this safely, we should have the daemon return a specific message/exception that indicates the channel is pending confirmation, right?

[2018-02-21 23:24] btzr-io commented on #1027
Hyperlink not supported :disappointed:

https://github.com/electron/electron/issues/7111#issuecomment-245460389

[2018-02-21 23:37] liamcardenas commented on #1031
Yes, I think that would be best

[2018-02-22 14:37] MR4Y commented on #984
At the time of the report, Brazillian Portuguese

[2018-02-22 15:04] tzarebczan commented on #1031
@liamcardenas - I think this will be the best we'll get for the next version of the daemon. So it's either we don't do anything and the user will think the publish succeeded but it will never show up, or we ask them to try again, and if this problem persists, go to https://lbry.io/faq/support.

[2018-02-22 22:26] tzarebczan commented on #829
@liamcardenas can we get this sized and groomed also? Would be nice to have this capability if we decide to increase the referral reward limit.

[2018-02-22 23:17] tzarebczan commented on #1029
One possibility: ![rewards](https://user-images.githubusercontent.com/8120721/36569501-13cc92b2-17fc-11e8-8246-ccb5fb25030e.png)

But now that I think about it, it makes it seems like it says "Rewards?" haha. Maybe something similar to shapeshift where it's underneath the text.

Would need to be added to the Rewards screen as well, "Rewards are for human beings only. You'll have to prove you're on

[2018-02-22 23:22] tzarebczan commented on #1029
@seanyesmunt would adding something like this now cause you headaches in upstream redesign changes/ Should we hold off? I could see us adding a few more links to other FAQs throughout the app.

[2018-02-22 23:32] LavRadis commented on #1029
Rewards are mentioned two times as summary in the wallet, one time as a separate tab and one time as "invite" rewards. Isn't it better to have them more centralized and not everywhere?

[2018-02-22 23:42] tzarebczan commented on #1029
@LavRadis it's mentioned once in overview and once in get credits (rewards are another way to get credits), separate tab to actually list them and a separate tab for invites. How would you consolidate this? Probably not the right place for this discussion. Feel free to open a new ticket with a suggestion.

[2018-02-23 21:50] ykris45 commented on #1029
@tzarebczan im finished

[2018-02-24 20:00] ykris45 commented on #1029
#1041

[2018-02-25 11:13] miikkatu commented on #959
Commenting out this bit in lbryURI.js prevents the green screen. It seems that a URL is handled correctly, the thrown exception shows in the console, but the processing stops there.

Without this bit below, a bad URL just leads to the search page with "There's nothing at this location." message.

`const nameBadChars = (channelName || name).match(regexInvalidURI);
  if (nameBadChars) {
    throw ne

[2018-02-25 23:30] #965 closed

[2018-02-26 03:18] #1012 closed

[2018-02-26 15:02] tzarebczan commented on #1029
@ykris45 I'll let @seanyesmunt / @liamcardenas make the call on this since it may affect re-design changes per https://github.com/lbryio/lbry-app/issues/1029#issuecomment-367857134

[2018-02-26 20:10] #1015 closed

[2018-02-26 21:03] tzarebczan commented on #762
@hackrush01 think you connected this to the wrong PR

[2018-02-26 21:13] lyoshenka opened #1048 "Re-poll doFetchFeaturedUris every so often"
`doFetchFeaturedUris` should be re-called every 1-2 hours (?)

[2018-02-26 21:19] kauffj opened #1049 "Support channel definitions from /file/list_homepage"
Modify `doFetchFeaturedUris` to support working for channels.

Currently, the following URL returns the content to be displayed on the app homepage:

https://api.lbry.io/file/list_homepage

If the object key begins with an `@` (indicating a channel) and the listed content array is empty, `doFetchFeaturedUris` should call `channel_list` to return the 10 most recent items in that channel.

Additiona

[2018-02-26 21:28] kauffj commented on #1049
@reillysmith

[2018-02-27 04:46] seanyesmunt commented on #1021
Fixed by https://github.com/lbryio/lbry-app/pull/1042

[2018-02-27 04:46] #1021 closed

[2018-02-27 04:55] #986 closed

[2018-02-27 15:50] #968 closed

[2018-02-27 16:51] IGassmann commented on #754
The issue hasn't been actually resolved.

[2018-02-27 17:33] seanyesmunt commented on #657
I'm going to close this. The file tile will be removed and only the file card will be used. Extended functionality can be build into that. Ex: and edit button

[2018-02-27 17:33] #657 closed

[2018-02-27 17:34] seanyesmunt commented on #745
This will be a modal now

[2018-02-27 17:34] #745 closed

[2018-02-27 17:36] seanyesmunt commented on #595
This will be fixed with the redesign

[2018-02-27 17:36] #595 closed

[2018-02-27 21:58] kauffj commented on #959
Great research @miikkatu! We'd be happy to send you a tip for this. See: https://lbry.io/faq/tips

Additionally, I see you're a React dev. If you're interested in contributing more regularly, you learn more here: https://lbry.io/faq/contributing

[2018-02-27 23:23] kauffj opened #1052 "Eliminate or severely reduce typing timeout to trigger search"
Obviously, many people are still confused about how to search.

I'm still not ready to fully cave on this, but it's clear there is a problem.

As a starting place, let's try eliminating the timeout to transition the user to the search page. As soon as they type, take them there. We may want to still delay subsequent searches for performance reasons (sending a search on every keypress will trigger

[2018-02-28 02:34] btzr-io commented on #1034
@seanyesmunt Do you need any help with this ?
I'm currently fixing the dark theme on `redesign` just to see how will look :eyes:

BTW `redesign` is looking awesome :+1:

[2018-02-28 02:43] seanyesmunt commented on #1034
Yeah if you are interested I would love some help with this! Colors across the `redesign` branch are missing a lot of stuff. I was planning on working on this last so feel free to make a PR to `redesign` if you would like!

You can check out http://lbry.zzk.fr/explore to get an idea of the new dark mode colors.

[2018-02-28 02:51] seanyesmunt commented on #1034
@btzr-io I think currently there are a fair bit of color variables that aren't being used. Feel free to delete those/rename any that are confusing.

I know I've used color variables instead of a specific element variables as I've been working on this just to save some time. Ex:
[code]
which should be something like
[code]

Same for `color: var(--color-black)` instead of `color: var(--text-color)`

[2018-02-28 14:11] daovist commented on #1049
So I dug into `doFetchFeaturedUris` and got down to `lbry.js` and `jsonrpc.js` and now understand much better what all is going on. It took me a while to grok that Proxy mechanics are handling methods not explicitly stated in `lbry.js`. I think @kauffj meant `claim_list_by_channel` rather than `channel_list` as I was able to hit that endpoint on the daemon with Postman. I see two ways of doing thi

[2018-02-28 15:26] kauffj commented on #1049
@daovist yes, I did mean `claim_list_by_channel`.

I agree these are the two approaches. Approach 2 is probably more "proper" or "React-like".

That is:
1. Refactor `FeaturedCategory` to be a standalone component.
2. If `FeaturedCategory` receives a channel name but no URIs, call out to `doFetchClaimsByChannel` to receive them.

It may make sense to refactor other names here a bit as well (e.g. `F

[2018-02-28 22:05] IGassmann opened #1055 "Switch Back to node-keytar"
The project dependency `node-keytar` has recently merged https://github.com/atom/node-keytar/pull/67. The fork `keytar-prebuild` is now unnecessary for https://github.com/lbryio/lbry-app/commit/aeb43ff1a06f06624d7c110bb37a1fff6039c806.

[2018-02-28 22:19] #988 closed

[2018-02-28 22:24] tzarebczan commented on #1055
Wonder if this behavior will persist: https://github.com/lbryio/lbry-app/issues/386#issuecomment-367030074

[2018-02-28 22:26] seanyesmunt commented on #1029
Whoops. Missed this. I don't think it will hurt to add this now. Checking out your PR @ykris45

[2018-02-28 22:49] #1029 closed

[2018-02-28 22:50] ykris45 commented on #1029
@tzarebczan can it be closed..
@seanyesmunt thanks guys

[2018-03-01 05:26] #970 closed

[2018-03-01 22:14] #977 closed

[2018-03-02 02:07] #850 closed

[2018-03-02 04:03] liamcardenas commented on #1016
@LupoTV thanks for the suggestion! I will bring this up with the app/ux team and find out how best to move on this!

[2018-03-02 04:07] liamcardenas commented on #1008
Hi @lbrydocs, thanks for logging this. What happens when you try to install it without `DEPS=true`?

[2018-03-02 05:01] liamcardenas commented on #484
@tzarebczan are we not planning on implementing this feature?

[2018-03-02 06:01] #1027 closed

[2018-03-02 20:16] LavRadis opened #1062 "Send error when there is a space in front of the address"
## The Issue
I accidentally copy-pasted an address in the send field that had an extra space in front of the address. An error message appeared but without error description. It took me some time to figure out that there is an extra space since it is hard to notice. Could be confusing to users.

### Steps to reproduce
1. Enter a valid address in the send field
2. Add a space in front of it
3. When

[2018-03-02 20:20] tzarebczan commented on #1062
The error from the daemon is below. Should we be stripping off white spaces on the app side, or leave it up to the daemon (which doesn't handle it well right now)?
`{
  "error": {
    "code": -32500,
    "data": {
      "traceback": [
        "Traceback (most recent call last):",
        "  File \"site-packages\\lbrynet\\daemon\\auth\\server.py\", line 240, in render",
        "    ",
        "  F

[2018-03-03 01:04] btzr-io commented on #976
@tzarebczan feature merged in https://github.com/lbryio/lbry-app/commit/c6daff53c5b3281db5892ae176c9aa93662763b4,
are you going to close this issue after the release :upside_down_face: ?

[2018-03-05 13:58] kauffj opened #1063 "Auto-claim YouTube Sync Reward"
1. Add the reward `youtube_creator` to the list of possible rewards.
2. This reward should be automatically requested on first-run (? not 100% on this, but probably). No additional parameters are required to claim this reward.
3. If not claimed, the reward text should prompt a user to visit lbry.io/youtube to learn more.
4. If is claimed, or eligible to be claimed, the reward text should drive a u

[2018-03-05 13:59] kauffj commented on #1063
@liamcardenas this is another one that needs to get bumped and would ideally make it into next release (so we're not blocked by an app-release to launch YouTube program).

@nikooo777 please see above and file any of this on lbryio/internal-apis that needs to be.

[2018-03-05 15:44] kauffj commented on #1062
IMO it'd be good to have a common `trim` property across text based inputs. If true, `String.trim()` should be applied on paste, on blur, and whenever the value is requested or stored.

[2018-03-05 16:08] tzarebczan commented on #976
Thanks @btzr-io , closing now. @liamcardenas , can you get some credits over to Baltazar for this PR? He's available on Discord.

[2018-03-05 16:08] #976 closed

[2018-03-05 18:38] lyoshenka commented on #244
We're not planning to support 10.8.5

[2018-03-05 18:38] #244 closed

[2018-03-05 18:54] lyoshenka commented on #491
done

[2018-03-05 18:54] #491 closed

[2018-03-05 19:01] lyoshenka commented on #908
@idontcar3 just make sure it's defined in one place, then we can change it if necessary. pick any symbol you like, or use "LBC" if you're not sure

[2018-03-05 19:04] seanyesmunt commented on #908
I would just use "LBC" for now. But if it is in a self contained component
it will be easy to change to a symbol (once we decide on one)

On Mar 5, 2018 11:02 AM, "Alex Grin" <notifications@github.com> wrote:

[2018-03-05 19:39] jackrobison commented on #693
The filters for file list as of 0.19.0 are: `sd_hash`, `file_name`, `stream_hash`, `rowid`, `claim_id`, `outpoint`, `txid`, `nout`, `channel_claim_id`, `channel_name`, and `claim_name`

Files do not have to be associated to a claim, if they aren't the claim related fields are `None`.

[2018-03-05 20:24] lyoshenka opened #1065 "Record subscriptions in internal-apis"
- [ ] (3) Do estimate
- [ ] Add some catch so existing subscriptions are not lost
- [ ] Add (un)subscribe endpoint that accepts multiple subscriptions
- [ ] Add fetch all subscriptions endpoint
- [ ] Make sure users dont lose their current subscriptions when this goes live

[2018-03-05 21:18] kauffj commented on #908
@seanyesmunt `<CurrencySymbol>` exists (tho is seldom used)

[2018-03-06 16:08] seanyesmunt commented on #908
I guess for now this issue should just use `CurrencySymbol` everywhere we
use LBC

On Mar 5, 2018 1:18 PM, "Jeremy Kauffman" <notifications@github.com> wrote:

[2018-03-07 12:01] #972 closed

[2018-03-07 12:02] seanyesmunt commented on #972
Closing this. The work is complete in #1072, the only reason that isn't merged is for 1 bug left with the search page.

[2018-03-07 15:27] IGassmann commented on #967
- [ ]  Re-add Prettier rules to ESLint configuration file
- [ ]  Move Husky configuration to own file
- [ ]  Re-add yarnhook

[2018-03-07 17:05] kauffj opened #1073 "Move authentication and analytics as early as feasible in run process"
Currently all analytics and authentication functions happen after the daemon is ready. Specifically, they happen in `doDaemonReady()`.

It'd be good if this set up could happen before the daemon is ready, so we can learn about the number of users that run the app and get frustrated or close it before the daemon is ever ready.

[2018-03-07 23:03] #332 closed

[2018-03-07 23:03] #966 closed

[2018-03-08 05:14] #992 closed

[2018-03-08 05:14] #994 closed

[2018-03-08 05:25] #1030 closed

[2018-03-08 05:55] #1037 closed

[2018-03-08 06:00] liamcardenas commented on #1073
I don't think there is a limit how early we can move these, for the simple reason that we can collect information, store it, and then log it once analytics/authentication become available.

[2018-03-08 06:02] liamcardenas opened #1076 "Notify AFTER downloading"
for subscriptions

[2018-03-08 17:52] probonopd commented on #332
An AppImage still seems not to be available from the GitHub Releases page.

[2018-03-08 17:53] IGassmann commented on #332
@probonopd It'll be available for our next release which should appear next week.

[2018-03-08 17:59] IGassmann commented on #570
Due to these reasons: https://github.com/lbryio/lbry-app/issues/332#issuecomment-359021161 AppImage has been chosen as our Linux target package instead of Flatpak.

[2018-03-08 17:59] #570 closed

[2018-03-08 18:31] TheAssassin commented on #953
@IGassmann what happened to the issue? I don't see any AppImage downloads.

[2018-03-08 18:33] IGassmann commented on #953
This issue was a duplicate of https://github.com/lbryio/lbry-app/issues/332. AppImage builds are coming with the next release.

[2018-03-08 18:34] TheAssassin commented on #953
I see. Thanks.

[2018-03-08 18:40] #971 closed

[2018-03-08 19:57] kauffj commented on #1073
@liamcardenas that wouldn't solve the problem of people closing the app before it gets to that step.

[2018-03-08 20:29] liamcardenas commented on #1073
Good point, in that case, assuming we can't get analytics to load at startup, we can log via the api/rest.

[2018-03-08 22:39] kauffj opened #1078 "Remove call to lbry.report_bug"
This call is deprecated and will be removed in the next daemon release.

It is still being used by the `<ReportPage>` component.

Instead, an API call should be made directly to HelpScout.

[2018-03-08 22:41] kauffj commented on #1073
All that I want to happen to consider this ticket completed is for `doAuthenticate` to be called as soon as the daemon has launched, but before it is ready (i.e. as soon as `lbry.status()` returns).

Ideally we wouldn't block the call to `doAuthenticate()` for the daemon to be responding, but I don't believe there is a way to get the daemon install id without it being responsive.

[2018-03-09 03:53] #1033 closed

[2018-03-09 19:57] lyoshenka opened #1080 "Automated app tests"
We need tests in the app. The best place to start is something simple and end-to-end (e.g. does the homepage load, does a video play)

Some considerations:
- how easy is it to write tests (the easier it is, the more like it is that we'll have good coverage)
- storing test metrics (how fast did homepage load? how long did it take video to play?)
- can travis run these tests
-

[2018-03-11 20:33] tzarebczan commented on #1078
Already reported here https://github.com/lbryio/lbry-app/issues/759, feel free to close this one/mine

[2018-03-12 00:37] IGassmann opened #1082 "Autoplay Video When Displaying Video Page"

[2018-03-12 03:21] seanyesmunt commented on #1082
Looks like this already exists

https://github.com/lbryio/lbry-app/issues/584

[2018-03-12 03:21] #1082 closed

[2018-03-12 13:08] daovist commented on #1031
I tried to reproduce this situation many times but it kinda worked for me. It gave me the incorrect message that the file had been added, but less than a second later I got an error message:

`The following error occurred when attempting to publish your file: Cannot publish using channel @muhflair`

I waited a minute and hit Publish again and it went fine. The error could be more specific as you'v

[2018-03-12 13:23] kauffj commented on #1031
@tzarebczan do you know what ticket on lbryio/lbry is the root cause of this issue?

[2018-03-12 13:32] tzarebczan commented on #1031
@kauffj Originally https://github.com/lbryio/lbry/issues/893 and then I opened one on Lbryum-server per Jack - https://github.com/lbryio/lbryum-server/issues/53

[2018-03-12 15:46] liamcardenas opened #1088 "thumbnail selector slider for videos and process automatically for other file types"
similar to spee.ch thumbnail slider

[2018-03-12 15:49] tzarebczan commented on #1031
@daovist that's the correct (current) behavior you are experiencing - the daemon will return that error if the channel isn't confirmed in a block. If you try again later and it is confirmed, it will go through. Not sure when the issues referenced in my previous comment will be addressed, which is why I opened this ticket to check if the channel is in a block (which means it's in channel_list). Not

[2018-03-12 15:56] liamcardenas opened #1089 "tell user that turning off diagnostic makes them ineligible for rewards"
## The Issue

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-12 16:01] seanyesmunt commented on #1089
A really simple fix for now would be to just add a message in the label on
the settings page. That should be added before the release

On Mar 12, 2018 11:56 AM, "Liam Cardenas" <notifications@github.com> wrote:

[2018-03-12 16:05] tzarebczan commented on #693
@jackrobison / @kaykurokawa should we close this issue? I guess we can't/won't be removing outpoint information from files.

[2018-03-12 16:14] #693 closed

[2018-03-12 16:23] liamcardenas opened #1091 "look into message announcement framework"
How can we send announcements to app users

[2018-03-12 17:06] kauffj commented on #759
duplicate of #1078 (keeping that one for description purposes)

[2018-03-12 17:06] #759 closed

[2018-03-12 17:07] kauffj commented on #1078
See https://developer.helpscout.com/help-desk-api/

[2018-03-12 18:13] liamcardenas opened #1092 "Subscription notification badges"
## The Issue

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-12 19:03] #664 closed

[2018-03-12 19:20] tzarebczan commented on #1008
@lbrydocs did you get a chance to look into this Liam's last comment? I don't think you should be cloning as root.

[2018-03-12 19:21] IGassmann opened #1093 "Figure out why the installation directory has changed on Windows"
With the version `0.21.0-rc.1` the installation directory has changed from `Program Files (x86)` to `Program Files`. Figure out why this happened and act on it.

[2018-03-12 19:22] IGassmann opened #1094 "Daemon doesn't launch on Windows"
Daemon doesn't run on Windows with the version `0.21.0-rc.1`.

[2018-03-13 12:56] LavRadis commented on #1089
Something like this:

<section className="card">
          <div className="card__content">
            <h4>{__('Share Diagnostic Data')}</h4>
          </div>
          <div className="card__content">
            <FormRow
              type="checkbox"
              onChange={this.onShareDataChange.bind(this)}
              defaultChecked={daemonSettings.share_usage_data}
              label={__(

[2018-03-13 13:43] tzarebczan opened #1096 "run claim_list_mine when viewing transaction information"
## The Issue
Since we have claim information tied to the transaction list screens, we should run claim_list_mine before (or soon after?) populating the transactions so that you get the appropriate claim actions.

The scenario is: publish/edit a claim and then go into transaction list.  You won't ever see your claim actions since claim information isn't updated. The only way its updated is if you g

[2018-03-13 17:32] kauffj commented on #777
@seanyesmunt have you been standardizing this as part of design work?

[2018-03-13 17:39] kauffj opened #1097 "App support for wallet encryption"
### Enabling / Disabling Encryption

1. Add a setting to the settings page with a checkbox that says "Encrypt Wallet and Require Startup Password".
2. If checked, an additional input field (`type="password"`) folds out with a button to submit the password.
3. When submitted, call `wallet_encrypt` with the password.
4. If the checkbox moves from checked to unchecked (turning encryption off), call `

[2018-03-13 18:01] seanyesmunt commented on #777
Yes. Looking much better now

On Mar 13, 2018 1:32 PM, "Jeremy Kauffman" <notifications@github.com> wrote:

[2018-03-13 18:28] tzarebczan commented on #1097
More details about available commands here: https://github.com/lbryio/lbry-app/issues/762#issuecomment-352646085

I think we also have the ability to store the password in their auth token, but I haven't explored that option myself. See other comments from the linked issue above.

[2018-03-13 19:45] lekhanh121 opened #1098 "Lbry"
## The Issue

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-13 20:12] tzarebczan commented on #1098
@lekhanh121 can we help you with something? If you require assistance with the LBRY app, please send us an email to help@lbry.io or visit us in #help on [Discord](https://chat.lbry.io)

[2018-03-13 20:12] #1098 closed

[2018-03-13 20:28] lbrydocs commented on #1008
Oh, sorry, I got distracted by a nice big ball of yarn. I will try this again tonight or tomorrow.

[2018-03-13 21:44] kauffj commented on #777
Nice! Added to epic, maybe this will be a freebie once the design is done :)

[2018-03-14 02:38] btzr-io opened #1099 "Content-type"
## The Issue
I can't see the real `Content-Type` of a claim unless is audio or video

### Expected behaviour

### Actual behaviour
It says `application` and it's confusing:

[2018-03-14 02:45] btzr-io commented on #1099
https://github.com/lbryio/lbry-app/issues/863

[2018-03-14 02:45] #1099 closed

[2018-03-14 20:09] IGassmann commented on #332
After discussing the fact that you need to change the file permission to launch an AppImage package, it was decided to not use AppImage and keep `.deb` package for the time being.

This step is not intuitive and might result in an unpleasant experience for our users.

A possible solution for supporting non-deb distributions in the future will be to use snap builds.

[2018-03-14 20:11] IGassmann commented on #953
After discussing the fact that you need to change the file permission to launch an AppImage package, it was decided to rollback our changes and not use AppImage. Our app will still be distributed as a `.deb` package for the time being.

That step is not intuitive and might result in an unpleasant experience for our users.

A possible solution for supporting non-deb distributions in the future will

[2018-03-14 20:38] #1094 closed

[2018-03-14 21:10] jsigwart commented on #797
This happened to me with lbry://three today. File was listed as free, and it charged me 10 LBC. Did not download. Then the second time I clicked on the link, it changed to a different file, which also did not download. Showed log file to Tom and he confirmed. Here are screenshots:
<img width="924" alt="screen shot 2018-03-14 at 1 56 07 pm" src="https://user-images.githubusercontent.com/1363664/374

[2018-03-14 21:23] IGassmann opened #1102 "Setup lifecycle for push builds in build.lbry.io/app"
Every push build is kept in [http://build.lbry.io/app/](http://build.lbry.io/app/). Old builds aren't being used anymore so no need to keep them. The exception is [http://build.lbry.io/app/release/](http://build.lbry.io/app/release/). **This folder should not be deleted.** It's being used for app updates.

[2018-03-15 21:50] LavRadis opened #1108 "Feature request: monitor the size of blobfolder and downloaded files"
## The Issue
It would be good to have a size of the blobfiles folder and downloaded files somewhere in the app so the users could monitor for potential problems.
I've experienced an issue that made me aware of the need to keep an eye on those sizes.

### Steps to reproduce
1. I can not reproduce it, but I'm sure the issue will re-appear somewhere in the future
2.
3.

### Expected behaviour
Show th

[2018-03-15 23:36] #1093 closed

[2018-03-16 16:08] tzarebczan opened #1110 "Update to daemon 0.19.1 when available"
## The Issue
Update to daemon 0.19.1 when it's released.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-16 16:09] tzarebczan opened #1111 "Auto update doesn't quit app"
## The Issue
On 0.19rc2, not seeing an update available to rc3 on Mac

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-16 16:13] liamcardenas opened #1112 "Fix subscriptions quirks"
1) show modal about subscriptions when going 0 -> 1
2) trigger sub behavior when sub is clicked
3) add sub/unsub endpoint calls

[2018-03-16 18:13] tzarebczan commented on #1108
Will most likely require: https://github.com/lbryio/lbry/issues/994

[2018-03-16 18:22] LavRadis commented on #1108
It will certainly need some sort of warnings, monitoring, and user control to set the maximum sizes. When the disc is close to full it already starts to cause problems.

[2018-03-16 18:33] tzarebczan opened #1114 "Autodownload settings for subscriptions"
## The Issue
Add both a global subscription autodownload on/off switch as well as a per channel on/off switch for autodownloading of subscriptions

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-16 19:48] tzarebczan opened #1115 "Sort by Title doesn't work correctly in some instances"
## The Issue
See image below when sorting by title. I've seen this on another machine and @jsigwart has also noticed it.

<img width="489" alt="title sort" src="https://user-images.githubusercontent.com/8120721/37541536-5f9711fe-2931-11e8-82af-9012f210216c.PNG">

### Steps to reproduce
1. download a few items
2. sort by title
3. check result

## System Configuration

- LBRY Daemon version: 0.19.0

[2018-03-16 20:34] tzarebczan commented on #1089
When a user tries to claim the reward and it fails due to the setting, they should be alerted to it.

[2018-03-16 21:35] tzarebczan opened #1117 "Download complete notifications missing on Ubuntu/Windows"
## The Issue
Not sure when this stopped working, but not getting download complete notifications on Windows or Ubuntu.  We should also discuss if these notifications should happen when the app is in focus (current behavior on Mac -> shows a notification with app in focus) - I tend to like this because you can see a history of downloads in the notification bar.

Seems to work on Mac both in focus a

[2018-03-17 11:59] probonopd commented on #332
What?! This is a security feature of Unix-like systems, where an executable needs to have the execute permission in the filesystem.

It is really easy to do:

![](https://discourse-cdn-sjc2.com/standard12/uploads/appimage/optimized/1X/a4889c5cb8711d6845b58135080787d2f370af35_1_500x500.gif)

If you would like to get automatic desktop integration (and automatic setting of the execute permission for

[2018-03-17 19:08] kauffj commented on #332
@probonopd when I double click a `.deb` Ubuntu prompts me to install it. When I double click an AppImage _literally nothing happens_.

This is a clear _step backwards_ from a UX perspective, at least on any system with support for `.deb` based packaging.

Even more frankly, the fact that you can suggest that there are no UX issues around forcing users to right click and navigate complicated proper

[2018-03-17 19:15] kauffj commented on #332
@probonopd I've re-read that comment and feel it may have been overly aggressive. I'm leaving it as-is as an indication of the strength of feelings I have about this issue.

I do like the idea of AppImage a lot and I appreciate the work you are doing for the Linux and open-source community.

[2018-03-17 20:44] #1111 closed

[2018-03-17 21:49] tzarebczan opened #1119 "Error when clicking LBRY URLs when app is closed on macOS"
## The Issue
If LBRY is closed and a LBRY hyperlink is clicked, the app opens but errors out on Mac. See below
<img width="419" alt="screen_shot_2018-03-06_at_10 47 30_am" src="https://user-images.githubusercontent.com/8120721/37560181-44e60e6c-2a0a-11e8-99c3-0a045eb52dc4.png">

A similar issue was fixed here:
https://github.com/mathiasvr/webtorrent-desktop/commit/eeda7c17c5b1fc3923bf83b7b9032e26b

[2018-03-17 22:18] tzarebczan opened #1120 "LBRY URLs not working on Linux"
## The Issue
When opening LBRY hyperlinks on Ubuntu, LBRY app comes to focus but app does now show the URL. This is working in 0.19.4 but broken on 0.20 and latest 0.21 RCs

### Steps to reproduce
1. Click https://open.lbry.io/test
2. Notice LBRY opens, but URL does not

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Els

[2018-03-18 08:44] probonopd commented on #332
@kauffj I agree that Linux desktops should do something useful (e.g., show a dialog) when a user double-clicks an executable (ELF) file that is missing the execute bit.

We have an issue for this:
https://github.com/AppImage/AppImageKit/issues/374

Unfortunately this is not limited to AppImages, and we can't solve this within AppImageKit but only the desktop environments can fix this.

[2018-03-18 20:52] tzarebczan commented on #1119
On the latest RC, the error is:
![rc mac](https://user-images.githubusercontent.com/8120721/37570361-4ffde6a6-2ac5-11e8-8fc1-2684b7a5735e.png)

I'm taking a look at how this process was refactored. So far this is what I can tell:
1) there's a URL handler in index.js which says it's only for the mac and another piece of code in isSecondInstance
2) The other URL calls are in createWindow.js but they

[2018-03-19 20:14] tzarebczan opened #1142 "Daemon doesn't restart after quitting the app for an auto-update"
## The Issue
Discussed with @IGassmann, he's on it.

Scenario: When updating in-app for Mac and choosing the "do it now" option, the app would upgrade before the daemon was fully shut down. This would cause the next startup to fail because a daemon would not be launched.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything El

[2018-03-20 02:18] tzarebczan commented on #1089
Fixed in https://github.com/lbryio/lbry-app/pull/1116

[2018-03-20 02:18] #1089 closed

[2018-03-20 02:19] tzarebczan commented on #1112
Fixed in https://github.com/lbryio/lbry-app/pull/1113

[2018-03-20 02:19] #1112 closed

[2018-03-20 19:24] painbank opened #1148 "Enable view and naming of multiple receive wallet addresses."
Feature Request: View of multiple receive addresses for wallet and name of each address for tracking received funds.

Currently, when I generate a new address to receive funds on, I lost the old address, although it is still in the wallet.

I'd like to be able to view or any created addresses, which get shared with others to send me funds. I would also like to be able to provide nicknames to infor

[2018-03-20 19:27] tzarebczan commented on #1148
@painbank thanks for filing this, great idea for a feature!

[2018-03-20 19:32] painbank commented on #1148
A subsequent consideration for publishers is to be able to assign a receive address to the tip functionality within the app, such that say they want to track tips by month or say year, they can track successful tips they receive at different times or functions.

[2018-03-20 20:07] #1119 closed

[2018-03-20 20:07] #1120 closed

[2018-03-20 20:07] #1142 closed

[2018-03-20 21:20] kauffj commented on #332
@probonopd I did some minimal googling but could not find open tickets for the desktop environments. Given age of https://github.com/AppImage/AppImageKit/issues/374 I would guess these exist already? Could that issue be updated?

I'm happy to throw whatever minimal weight we have towards supporting this.

[2018-03-21 00:31] tzarebczan commented on #838
Another user ran into a similar situation, here is the log: https://pastebin.com/KxU4Ryd9.

I'll try to get this reproduced. I tried once in the past but was not successful.

[2018-03-21 01:54] tzarebczan opened #1151 "Force creation of shortcuts on install/re-install"
## The Issue
If a user uninstalls an old version or the desktop icon is removed, reinstalling the latest version won't re-create the desktop shortcut/start menu shortcut.

Most likely related to electron builder, will file an issue there.

### Steps to reproduce
1. Remove LBRY desktop shortcut
2. Run latest installer.
3. Desktop shortcut not re-created.

### Expected behaviour
Tell us what should

[2018-03-21 06:23] liamcardenas commented on #1115
@tzarebczan any idea in what instances this doesn't work? I last touched that code and last time I checked, it did work

[2018-03-21 13:30] tzarebczan commented on #1110
Closed in https://github.com/lbryio/lbry-app/pull/1146

[2018-03-21 13:30] #1110 closed

[2018-03-21 13:34] tzarebczan opened #1154 "Filter on Overview/History not persistent"
## The Issue
When using the transaction filter, the selection is reset once the user clicks on a claim or switches between screens.

We should at least persist it on certain actions like navigating back/forth between claims, not sure what the best solution is.

### Steps to reproduce
1. Select a filter in the dropdown.
2. Click a claim name from one of the transactions
3. Go back - filter is lost

[2018-03-21 14:30] tzarebczan commented on #1115
@liamcardenas didn't get into the details, but you can see some of the claims from the screenshot above to reproduce. Starwars and Ripple claims are out of order.

[2018-03-21 15:20] LavRadis opened #1157 ""Nout" column and no filename set in the .csv history export"
## The Issue
There is a column "nout" in the .csv history export file. I don't have a clue what it is, users could also be confused. After discussing it with Tom, I'm submitting it as an issue.

The export save dialogue has a file name field set to empty, many users would probably forget to name it an get confused.

### Steps to reproduce
1. Start "export" procedure
2. Choose .cvs
3. Open file

##

[2018-03-21 16:03] kauffj commented on #1115
@liamcardenas I _think_ the problem may stem from missing metadata. Check the case where a piece of content has no title and it falls back to the URL name.

[2018-03-21 16:03] kauffj commented on #1115
@tzarebczan if you could update ticket with the exact URIs from a failure case that would be helpful.

[2018-03-21 18:21] probonopd commented on #332
I don't think anyone has opened them so far. Hence the statement,

[2018-03-21 18:55] probonopd commented on #953
It's easy to make an AppImage executable:
https://discourse.appimage.org/t/how-to-make-an-appimage-executable/80

Besides, this is not an AppImage issue but I agree that desktop environments should handle ELF executables that are missing the executable bit more gracefully. Only the desktop environments can change that, so please open issues with them if you think this area needs improvement.

Plea

[2018-03-21 19:34] tzarebczan commented on #1151
This will be fixed in Electron builder https://github.com/develar/electron-builder/commit/e9784dba292dcb98bd68b8379c6ed473d2408f33

[2018-03-21 19:48] IGassmann commented on #332
@probonopd ticket submitted for KDE and Gnome.

[2018-03-22 01:19] tzarebczan opened #1162 "Fix error message when navigating to settings quickly/rewards"
## The Issue
Navigating too quickly to the settings page when the app loads (or reloads with Ctrl-R), cause the page to display Failed to load settings: https://github.com/lbryio/lbry-app/blob/master/src/renderer/page/settings/view.jsx#L149

Would be nice to add a loading icon while it's reading back the data/processing.

Something similar happens when you go into rewards quickly before the wallet

[2018-03-22 15:07] #1151 closed

[2018-03-22 18:50] painbank opened #1167 "Import or sweep into app a LBC paper wallet."
## The Issue

I want to be able to import a LBC paper wallet account into the LBRY app.

New feature request.

### Expected behaviour
QR scan of the code or manual entry that then imports or sweeps the wallet contents into the current wallet or perhaps create an entirely new wallet, but I would think it just getting opened then imported would be best, so a transaction would occur.

### Actual beha

[2018-03-22 18:55] tzarebczan commented on #1167
@painbank thanks for opening this! Will require https://github.com/lbryio/lbry/issues/1049 to be implemented on the daemon first.

[2018-03-22 19:34] btzr-io commented on #863
Reopening issue, see possible solution: https://github.com/lbryio/lbry-app/pull/1168

[2018-03-22 20:48] btzr-io opened #1169 "Trim claim_id"
## The Issue
The claim id is too hard to read, remember and takes a lot of extra space.

### Steps to reproduce
1. Go to channel page.
2. See long channel name: `claim_name + claim_id`

### Expected behaviour
Trim or hide (if possible) the `claim_id` at least on channel page.

### Actual behaviour
A long string `id / name` appears and takes extra space.

### Solution

A nice approach would be the

[2018-03-22 20:55] kauffj commented on #1169
Related: https://github.com/lbryio/lbry/issues/958

[2018-03-22 20:59] LavRadis opened #1170 "Show user friendly external LBRY network status in Help section"
## The Issue
Here is a small idea on how the "Help" section could be improved with a link to status.lbry.io and/or status data. It could help the users to identify any current slow-down or problems. I'm always for giving users more options and information.

It could be achieved in two ways:

1. Direct link to status.lbry.io in the app help section like I proposed in https://github.com/lbryio/lbry-

[2018-03-23 01:49] btzr-io commented on #1115
A good example of  failure case: `lbry://audio#be63b86b4794b7cd83e9da8b8005836c342a2b5c`
claim_name: `audio`, title: `Rainy Mood`

[2018-03-23 02:11] btzr-io commented on #1062
Related https://github.com/lbryio/lbry-app/issues/564

[2018-03-23 23:17] LavRadis commented on #620
Is it possible to have multiple preview modules for different content types? I discussed it with @btzr-io and he agrees. Maybe the dev team can add a simple one for odf, txt or pdf to enable preview of those file types. I just googled and found: http://viewerjs.org/ There are probably many more open sourced viewers that could be embedded to improve the user experience. Personally, I would like to

[2018-03-24 01:31] namujan78 opened #1175 "Shouldn't allow to open multiple export and choose file dialogs"
## The Issue
User can open many "Choose file" windows to select files to publish
Same for "Choose directory" in Settings page
Same for "EXPORT" in History page (transaction history) and Overview page

### Steps to reproduce
1. Click on "PUBLISH" button
2. Click on "CHOOSE FILE" button ==> "Choose file" window will display
3. Click on "CHOOSE FILE" button again ==> another "Choose file" window will

[2018-03-24 05:16] btzr-io commented on #931
External fix https://github.com/feross/render-media/pull/38

This would prevent electron from opening the menu, however electron isn't able to render pdf inside a subframes ( iframe / object ) yet :disappointed:

[2018-03-24 05:21] btzr-io commented on #931
The next step would be to found a way to display .pdf files using a basic viewer / reader
See https://github.com/lbryio/lbry-app/issues/620#issuecomment-375822739

[2018-03-24 05:25] btzr-io commented on #620
Possible solution would be to make a fork of `render-media` and integrate `viewerjs` as suggested by @LavRadis

[2018-03-25 03:50] namujan78 opened #1176 "Slow response of "Choose limit" at [Max Purchase Price] page when switching between "No limit" and "Choose limit""
## The Issue
Slow response of "Choose limit" at [Max Purchase Price] page when switching between "No limit" and "Choose limit": "Choose limit" change to "Limit to xxxx LBRY or USD" for some seconds or not changed... and same for vice versa.

### Steps to reproduce
1. Go to [SETTINGS] page
2. Switch between "No limit" and "Choose limit" for some times (twice or more)

### Expected behaviour
"Choose

[2018-03-25 05:17] btzr-io commented on #620
proof of concept: https://github.com/btzr-io/lbry-reader

[2018-03-25 17:45] btzr-io commented on #262
Related: https://github.com/lbryio/lbry/issues/744

[2018-03-26 01:20] btzr-io opened #1179 "Markdown render"
## The Issue
Markdown render is missing appropriate `css` styles, for blockquotes, links, code...
Also some features like headings are disabled but still available in the editor.

### Steps to reproduce
1. Go to a claim page.
2. See description.

### Expected behaviour
Display markdown correctly.

### Actual behaviour
Description appears like plain text.

### Notes
There are some issues with the m

[2018-03-26 07:52] #1076 closed

[2018-03-26 07:52] #1092 closed

[2018-03-26 08:24] #1073 closed

[2018-03-26 13:06] tzarebczan commented on #1175
@namujan78 thanks for the detailed write-up! I've sent you a tip on Discord :)

[2018-03-26 18:43] liamcardenas opened #1188 "Remove subscription notifications for files after they have been viewed"
so that if you view a file, you don't get notified of its existence

[2018-03-26 18:47] liamcardenas opened #1189 "Refactor fetching logic on subscriptions page"
if there is a channel with no claims, it will say it is fetching forever.

[2018-03-26 19:07] #1035 closed

[2018-03-26 19:19] kauffj commented on #1114
Agreed, global settings are all that is necessary for now.

[2018-03-26 19:26] #338 closed

[2018-03-26 19:30] #1157 closed

[2018-03-26 19:31] #967 closed

[2018-03-26 20:04] #838 closed

[2018-03-26 21:25] IGassmann opened #1190 "Refactor player"

[2018-03-26 21:35] #848 closed

[2018-03-27 00:16] namujan78 opened #1191 "Sometime, there is only title is displayed when clicking on "@xxxchannel name" at bottom of the Movie frame in "Discover" page"
## The Issue
Sometime, there is only title is displayed when clicking on "@xxxchannel name" at bottom of the Movie frame in "Discover" page (refer to **Image01** below)

### Steps to reproduce
1. Open app
2. Click on "@xxxchannel name" (example @karmakut, @imineblocks) at bottom of frame (refer to **Image01** below)
3. Repeat step 2 for about 10 times with others @xxx
**Frequency: 1/7**

### Expec

[2018-03-27 13:55] tzarebczan opened #1192 "Windows: Installer does not kill daemon process"
## The Issue
When on 0.21.2 and running the 0.21.2 installer while LBRY is running, the installer tries to shutdown the lbrynet-daemon.exe process. Since two processes are spawn during app launch, the installer is able to kill the first, but not the 2nd because it's a child of a child. This becomes a concern during updates when we upgrade the daemon version because the user will have to kill the c

[2018-03-27 15:20] akinwale opened #1193 "Increase the font size of text in the price badges on the discover page"
The text displayed in the price badges for content on the discover page appears to be too tiny and I find myself straining to read, even with glasses. It would make sense to increase the font size a bit.

[2018-03-27 17:13] daovist commented on #1009
@seanyesmunt I'm having some trouble making this work in `navigation.stack`

when a user reloads the app, should they be taken to the last page they visited? Are we pushing `/discover` to the end of the `navigation.stack` array?

because if `index` is 0 or 1 and the user clicks a link it will remove all history beyond `index`--a browser with back and forward navigation wouldn't work otherwise

or

[2018-03-27 18:51] tzarebczan commented on #1191
@namujan78 thanks for opening this! Sent you LBC on Discord for creating a well-defined issue.

How often does this happen to you? You mentioned that the page returns if you wait a bit - how long is that time usually? I'm thinking something is happening in the background on the daemon and it's waiting too long for a response. Another one of our pain points in terms of slowness is the wallet server

[2018-03-27 20:54] seanyesmunt commented on #1009
If the user reloads the app should stay on the same screen. @daovist Is it not working by just adding `'navigation'` here?
https://github.com/lbryio/lbry-app/blob/master/src/renderer/store.js#L101

[2018-03-27 21:32] seanyesmunt opened #1195 "Description input is not fullsize on publish page"
The description input is hidden and you need to scroll to view all of it.
<img width="556" alt="screen shot 2018-03-27 at 2 31 45 pm" src="https://user-images.githubusercontent.com/16882830/37996172-a00fd1ec-31cb-11e8-94ad-5d596a573369.png">

[2018-03-27 21:33] seanyesmunt opened #1196 "When the sidenav closes a sub-menu, it should animate the same as when it opens"
Currently, when the sub-menu collapses, it doesn't animate.

[2018-03-27 22:19] daovist commented on #1009
Oh, okay. I didn't think we would want it to work like that. I would prefer it start on the home page with new content but am not picky.

What you've described is now the case in the master branch and it loads the last page, so I'll just make the History page to display.

FYI the new master isn't working quite right on my machine (Ubuntu 16.04.3). There is no scrolling except for non-video content

[2018-03-27 22:29] tzarebczan commented on #565
@liamcardenas when you start working on this, ping @kauffj as he would like to provide input on the language used in the app when content is blocked.

[2018-03-27 22:43] seanyesmunt opened #1198 "Download search results show "this location is unused""
The download search results should show file info and the thumbnail like the other results. It is most likely something with the uri generation.

[2018-03-28 00:01] namujan78 commented on #1191
@tzarebczan I have just tried 2 times:
First time: wait about 2 minutes, it become normally.
Second time: wait about 4 minutes, it become normally.
this issue is not often, the frequency is about 1/6.

[2018-03-28 01:06] tzarebczan opened #1199 "Maximized window setting lost if restored from tray after minimizing"
## The Issue
This seems to affect Windows only. If you have the LBRY app maximized, then minimize (or minimize + close), then try to restore from tray (double click, or right click > Open LBRY), the window returns to the previous un-maximized window size. This will also happen if you have LBRY minimized in such a state and then open a LBRY url like https://open.lbry.io/test

### Steps to reproduce

[2018-03-28 01:35] Smurphonomics commented on #1199
Looks like it's missing these arguments...

`isMaximized` - Boolean

`true` if the window state was saved while the window was maximized. `undefined` if the state has not been saved yet.

`isFullScreen` - Boolean

`true` if the window state was saved while the window was in full screen mode. `undefined` if the state has not been saved yet.

[2018-03-28 06:26] miikkatu commented on #1199
I wasn't able to reproduce this on a Mac.

Here's a possibly helpful discussion about an issue with electron-window-state library when using maximized windows: https://github.com/mawie81/electron-window-state/issues/3

[2018-03-28 13:28] tzarebczan opened #1200 "Mac: Black screen after maximizing LBRY and then closing"
## The Issue
On Mac, if you maximize the LBRY app window and then click the close button, you end up with a black screen with no way of bringing LBRY back up. On 0.20.0, the window would just disappear without a way to bring it back up.

Possibly related: https://github.com/electron/electron/issues/6033

### Steps to reproduce
1. Maximize Window
2. Close the window
3. Blackscreen

### Expected beh

[2018-03-28 14:29] miikkatu commented on #1200
One solution would be to disable the close action (cmd+W) when the window is in fullscreen mode. At least Discord Mac app behaves like this as well.

The code to be changed would be in src/main/createWindow.js in window.on('close'... part.

`
if (!window.isFullScreen()) {
  window.hide();
}`

[2018-03-28 17:12] tzarebczan opened #1201 "Publish: Description section is confusing"
## The Issue
When publishing, the title/thumbnail/description section is grouped and you need to scroll to add a description - this is confusing it's not clear that you need to scroll down

![des](https://content.screencast.com/users/thomas.zarebczan/folders/Snagit/media/305a088b-2a12-4af9-b12d-55ab3b65bad8/03.28.2018-13.14.png)

### Expected behaviour
Tell us what should happen

### Actual behavi

[2018-03-28 17:34] seanyesmunt commented on #1201
Already created an issue for this one

On Wed, Mar 28, 2018, 10:13 AM Thomas Zarebczan <notifications@github.com>
wrote:

[2018-03-28 17:35] seanyesmunt commented on #1201
#1195

[2018-03-28 17:35] #1201 closed

[2018-03-28 18:08] tzarebczan commented on #1201
@seanyesmunt my bad, I should check those first :p

[2018-03-29 13:03] tzarebczan opened #1203 "Downloaded/Published- use file_list data instead of resolving"
## The Issue
Currently when the Downloaded/Published list is processed the first time, each URL is resolved to capture metadata required to populate tile information. With the recent file_list changes, we should have all the information required in the file_list api call so the resolve calls can be spared. This also applies to Published files which should be part of file_list and if they are not,

[2018-03-29 14:32] tzarebczan opened #1204 "Entering URL in search bar causes green screen"
## The Issue
@seanyesmunt  is aware of this one, but logging for awareness. If you type a URL and click enter in the search bar, there are console errors and you get a green screen.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-29 15:34] tzarebczan opened #1205 "First run email collection modal/humanity email don't display correctly"
## The Issue
See below:
![firstrun](https://user-images.githubusercontent.com/8120721/38098107-24b25ab2-3345-11e8-918a-940d731a3a31.png)

![signup2](https://user-images.githubusercontent.com/8120721/38103927-b676b122-3355-11e8-9363-9cd6f2ea78cb.png)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-29 15:43] tzarebczan opened #1206 "Downloads page not displaying correctly"
## The Issue
@seanyesmunt also aware of this one. Downloads page does render thumbnails/data properly. When clicking the claim, it goes to the channel instead of the claim. Also notice the claim id is cut off and it's missing the claim title.
![downloads](https://user-images.githubusercontent.com/8120721/38098555-5f1cfcba-3346-11e8-9198-bb2f26e36ed0.png)

## System Configuration

- LBRY Daemon ver

[2018-03-29 16:01] tzarebczan opened #1207 "Published/Downloaded sorting settings"
## The Issue
Spoke to @seanyesmunt about this briefly: Looks like the recent sorting changes we made to downloads/published were not captured upstream.
There should be options for Newest/oldest first. The downloads page should use file_list reverse sorting (newest) and published should be using claim height from claim_list_mine.

## System Configuration

- LBRY Daemon version:
- LBRY App version:

[2018-03-29 16:03] daovist opened #1208 "Search query to address errors out"
This applies to the redesign.

## The Issue

When I search and click for search results, it works fine. But when I search and click the address I get ReferenceError: normalizeURI is not defined

### Steps to reproduce
1. enter query in search bar
2. click first option: lbry://[search_query]

### Expected behaviour
Display content or not-found

### Actual behaviour
App crashes

## System Configurat

[2018-03-29 16:11] tzarebczan commented on #1208
@daovist, Sean is aware, I filed a similar issue here: https://github.com/lbryio/lbry-app/issues/1204

[2018-03-29 16:11] #1208 closed

[2018-03-29 16:59] tzarebczan opened #1209 "Button spacing on LBC required modal"
## The Issue
The buttons are too close together, see below. The blue/yellow shaded LBC amounts seem a bit off also - LBC value is not centered and the oval is not inline with the text.

Also, the white button on white background is hard to see (I'll open a separate issue for this)

![spacing](https://user-images.githubusercontent.com/8120721/38102279-c54e4a8e-3350-11e8-9ea4-19bbe1e9869a.png)

###

[2018-03-29 17:44] tzarebczan opened #1210 "Publish - choose price section"
## The Issue
1) The price option is shown even when the "Free" option is selected

2) When setting a price, clicking the down arrow clears out the field and adds a '5' place holder

3) Cannot type 0: i.e. 0.01, or even .01

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY

[2018-03-29 17:54] tzarebczan opened #1211 "URL formatting in success publish message"
## The Issue
We should do something to make it stand out, but the larger text looks odd, especially with the "!" at hte end.
![url](https://user-images.githubusercontent.com/8120721/38104865-85baa090-3358-11e8-9218-b12e5aa7310c.png)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-29 19:28] #1115 closed

[2018-03-30 06:12] h3298 opened #1214 "Task launches but user interface does not appear [Win]"
**Win7 64 bit - LBRY App version: 0.21.2
no errors logged in Event Viewer**

[2018-03-30 07:09] m160 opened #1215 "Different categories within a channel"
## The Issue
People have various interests and LBRY allows for many different filetypes. This makes LBRY a great outlet for creative people. You can be a musician, photographer, videographer and writer all at once and put all your work in one place no matter if it's a .mp3, .jpg, .mp4 or .pdf. Your channel becomes a portfolio of all your creative work.

This is great for die hard fans that wants t

[2018-03-30 08:17] m160 opened #1216 "Feature requests for comments and tipping"
1. When a comments section is implemented, have a tip button next to comments. This can work as an incentive for people to leave better comments. Others can reward good comments with more than just thumbs up. (The publisher may, or may not, get a cut from the tipped comments on their content).

2. Show who has tipped content/comments and have the option to tip anonymously or under your channel nam

[2018-03-30 13:43] tzarebczan commented on #1214
@h3298 does the lbrynet-daemon.exe task launch too? Can you see if there are any log files? https://lbry.io/faq/how-to-find-lbry-log-file

Are you running any antivirus/firewall software? I test on Windows 7 64 bit last week and it worked fine. Come over to #help on https://chat.lbry.io and we can try to work this out.

[2018-03-30 13:43] #1214 closed

[2018-03-30 15:04] tzarebczan opened #1217 "Cannot edit claims without a price"
## The Issue
When using the edit button on a claim without a price, you get this console error:

[code]
### Steps to Reproduce
1.Publish claim without a price
2.Edit claim

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-30 15:14] tzarebczan opened #1218 "undefined shown as channel name on edit"
## The Issue
When editing an anonymous claim, the publish page shows undefined.
![undefined](https://user-images.githubusercontent.com/8120721/38142479-76e278ce-340a-11e8-9b4d-701003181e24.png)

### Steps to Reproduce
1. Publish an anonymous claim, wait for confirmation
2. Edit the claim from the claim page

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happ

[2018-03-30 15:25] tzarebczan opened #1219 "Cannot edit metadata only (without reuploading new file)"
## The Issue
If you try to edit a claim without selecting a source file, you get: `Error message: no source provided to publish`. I believe we need to pass the source information which includes source, source type, version and content type which are all available in file_list and claim_list_mine. When editing, a file may not necessarily be in file_list, so claim_list_mine would be the safest bet h

[2018-03-30 16:32] tzarebczan opened #1220 "change default setting on remove modal (published claim)"
## The Issue
When removing a claim, the modal checks on "delete file from computer" by default. If we want to default something to on, it would be the URI option. I don't think publisher would want to delete their source file when removing the published content from LBRY.
![removemodal](https://user-images.githubusercontent.com/8120721/38145221-48147bc6-3416-11e8-8741-021225264abc.png)

I have a m

[2018-03-30 16:34] tzarebczan opened #1221 "editing a claim + selecting a new source files changes claim URL"
## The Issue
If you edit a claim and then select a new source file, the URL for the claim is changed to reflect the filename. The URL in this case should stay the same because you are editing.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-30 16:35] #1211 closed

[2018-03-30 16:35] #1204 closed

[2018-03-30 16:35] #1195 closed

[2018-03-30 16:35] #1205 closed

[2018-03-30 16:53] tzarebczan opened #1223 "editing claim issue with pending publishes"
## The Issue
Published file list has issues when editing claims, see below. Issue clears up after clearing cache.

Right after publish:
![edit1](https://user-images.githubusercontent.com/8120721/38145424-31f7cbc6-3417-11e8-8c4c-8c6673581f88.png)

After leaving screen, coming back:

![edit2](https://user-images.githubusercontent.com/8120721/38145819-36b1f720-3419-11e8-9ea1-d4f43a5fa517.png)

### St

[2018-03-30 17:17] #711 closed

[2018-03-30 17:45] tzarebczan opened #1224 "button styling meshes with background"
## The Issue
Discussed this with @seanyesmunt briefly, see below:
![button styling](https://user-images.githubusercontent.com/8120721/38147500-9655213c-3420-11e8-9ccf-5b59ec662954.png)

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Dae

[2018-03-30 18:18] ykris45 commented on #1002
#1202

[2018-03-30 18:19] tzarebczan commented on #1215
@m160 thank you for filing this suggestion! This would most likely require development on the protocol side to be able nest channels in the way you described. I'll check if we have anything similar to this already and if not, I'll open the issue there.

[2018-03-30 18:22] tzarebczan commented on #1216
@m160 thanks for the suggestions!  We have a similar issue filed under: https://github.com/lbryio/lbry-app/issues/788 but we can keep both open for awareness.

[2018-03-30 19:21] tzarebczan opened #1226 "Cannot tip content"
## The Issue
Looks like the claim id is not being passed to the wallet_send transaction:

{"jsonrpc":"2.0","method":"wallet_send","params":{"amount":1},"id":2566}

[code]

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-03-30 19:21] tzarebczan opened #1227 "Fix or remove tipping on channels"
## The Issue
A tip button was added to channel pages in the redesign but it doesn't work properly. If it's not too much effort, we should fix it and if not, we should remove it.

To fix: modal needs to be updated - no need to mention a piece of content because it's the channel being tipped. Also, should say the channel name instead of anonymous.

![channeltip](https://user-images.githubusercontent

[2018-03-30 19:48] tzarebczan commented on #1224
Closed via https://github.com/lbryio/lbry-app/pull/1225

[2018-03-30 19:48] #1224 closed

[2018-03-30 19:55] tzarebczan commented on #1002
Fixed in https://github.com/lbryio/lbry-app/pull/1202

[2018-03-30 19:55] #1002 closed

[2018-03-30 20:05] ykris45 opened #1228 "share diagnostic data doesnt wrap to small screen"
## The Issue
some word doesnt wrap on small screen , for example : if user have 1024*768 screen resulution .

### Expected Behaviour
would be nice its supported many monitor resulution

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

![image](https://user-images.githubusercontent.com/26609573/3815204

[2018-03-30 20:33] tzarebczan opened #1230 "format of message when diagnostics disabled"
## The Issue
See below - goes to a new line and Settings is not formatted.
![diag](https://user-images.githubusercontent.com/8120721/38152905-f536853a-3437-11e8-8172-d9256f3f795e.png)
Old:
![diag2](https://user-images.githubusercontent.com/8120721/38152908-f910592e-3437-11e8-92e4-5cf860eb7322.png)

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

[2018-03-30 20:47] ykris45 commented on #1230
https://github.com/lbryio/lbry-app/pull/1212 see my closed PR sir @tzarebczan

[2018-03-30 20:51] #1230 closed

[2018-03-30 20:53] tzarebczan commented on #1230
Thx, missed that one!

[2018-03-30 20:54] ykris45 commented on #1230
you welcome . can you reopen my Close pr sir

[2018-03-30 20:56] tzarebczan commented on #1230
Sean said he already fixed it in his...

[2018-03-31 11:03] h3298 commented on #1214
**NO**

**%localappdata%** is valid in explorer on Win 7 but **%localappdata%\lbry\lbrynet** is not existing
(and I did **not** install 0.14 or earlier)

"**cd %appdata%\lbry**" is valid in terminal.  "**%appdata%\lbry**" does **not** work in Explorer on Win 7 SP2.
("no items match your search")

The path exists -  "**C:\Users\me\AppData\Roaming\LBRY**" but the directory is empty (0 files)

 **NO*

[2018-03-31 19:53] tzarebczan opened #1231 "App opens to state when it was closed"
## The Issue
When opening the app (after a full shutdown), it goes back to the last state/area you were in (i.e. if you were in the wallet, it will re-open into the wallet). We discussed this briefly on Friday and don't want that to be the default behavior - it should always open to the explore page.

I think this is what is messing with opening of hyperlinks when the app is closed.

## System Con

[2018-03-31 21:55] ykris45 commented on #1210
https://github.com/lbryio/lbry-app/pull/1232

[2018-04-01 10:51] miikkatu commented on #1228
Suggested fix is in the PR referenced above.

[2018-04-01 12:07] miikkatu commented on #1200
There was a better solution, and a pull request (#1235) was made.

[2018-04-02 14:12] kauffj commented on #1231
@seanyesmunt @tzarebczan I'm not sold that it should always go to Explore. I think the closest analog application to LBRY is a web browser. Chrome retains the last page(s) I was on when closed, and exhibits this behavior even when on settings (e.g. if I have a single tab open on settings and quit chrome, chrome will be back on settings when re-opened).

[2018-04-02 14:32] tzarebczan commented on #1231
An option would work too!

[2018-04-02 18:56] #1228 closed

[2018-04-02 19:59] seanyesmunt opened #1249 "Add the rest of a channels content to the file page"
## The Issue
It would be great to show some of a channels videos on the file page

### Steps to Reproduce
1. Go to content posted under a channel
2. You have to navigate to their channel to view other content

### Expected Behaviour
There should be some recommended content on the file page

### Suggested Solutions
This will most likely be just calling the channels first page of videos, and adding

[2018-04-02 20:19] #1200 closed

[2018-04-02 21:45] tzarebczan opened #1250 "Make featured content badge red"
## The Issue
We used to have a red rocket, so now we should make the badge red to make it stand out a bit more.
![badge](https://user-images.githubusercontent.com/8120721/38217799-98187846-369d-11e8-9d01-301c03d5ef57.png)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-02 21:47] tzarebczan opened #1251 "Make channel hyperlinks on tiles stick out more"
## The Issue
Channel links on claim pages used to be green and would underline when mousing over. We should make that they are clickable more apparent in the re-design.  Maybe a mouse over
![channels](https://user-images.githubusercontent.com/8120721/38217901-f2dda2ce-369d-11e8-8ada-92c3114f9f04.png)
 tool tip as well?

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Ins

[2018-04-02 21:59] tzarebczan opened #1252 "Icons instead of text for claim actions/help"
## The Issue
@seanyesmunt said he'll add the icons back for claim actions/help text. With the text, the transaction list page looks a bit off because of variations in text length (esp on tip vs publish/update)

![iconsvstext](https://user-images.githubusercontent.com/8120721/38218394-a4f8cf32-369f-11e8-85cf-14e1f9bf9160.png)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LB

[2018-04-02 22:03] tzarebczan opened #1253 "Alignment on Transaction page"
## The Issue
The alignment between Show and the dropdown is off and the dropdown styling seems too plain.

![alignment](https://user-images.githubusercontent.com/8120721/38218463-e816bb80-369f-11e8-8a59-246ee81d45eb.png)

Also on unlock/trashcan icon: https://www.screencast.com/t/ZJxJuNuUi

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating syst

[2018-04-02 22:26] tzarebczan opened #1254 "Build 32bit support into LBRY installer"
## The Issue
Per discussion with @IGassmann , there should be a way to build the Windows installer for 32+64bit support.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-02 22:30] tzarebczan opened #1255 "Channel page claim caching / other optimizations"
## The Issue
When you go into a channel page likelbry://@lumbridgecity, the page starts fetching content which takes a bit of time. If you enter a claim or go to another page, and then go back, it re-fetches content again making this a slow process. We should try to add some type of caching to reduce the subsequent load times. Have to take into account new/updated claims as well.

Update: The curr

[2018-04-02 23:02] tzarebczan opened #1256 "Cold open + lbry://link broken"
## The Issue
Breaking this issue out from the related on (https://github.com/lbryio/lbry-app/issues/1231) - opening lbry:// when the app is closed does not result in showing of the claim page.

### Steps to Reproduce
1. Make sure LBRY is closed
2. Click https://open.lbry.io/test
3. LBRY starts but does not go to lbry://test

## System Configuration

- LBRY Daemon version:
- LBRY App version: maste

[2018-04-02 23:06] tzarebczan opened #1257 "Thumbnail cut off on search page (square vs same aspect ratio)"
## The Issue
The tiles on the search page are square which ends up cutting off thumbnails

### Steps to Reproduce
1. Search lupotv
2. Compare to thumbnails on claims

### Expected Behaviour
Thumbnails should have same aspect ratio as Downloads/Publishes page and file pages.

### Actual Behaviour
thumbnail is cut off

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Instal

[2018-04-02 23:43] tzarebczan opened #1258 "Dynamic updates on Overview/Transaction page"
## The Issue
Currently, if you leave the Overview/Transaction page open, it will not update with any new transactions or change status from pending unless you leave/reopen the page. It would be a nice UX enhancement to have these pages update silently.

Should we open a daemon side issue to allow transaction_list to have a parameter passed that would allow the return of recent transactions only so

[2018-04-02 23:45] tzarebczan opened #1259 "Show exact wallet balance on mouse hover over"
## The Issue
Currently, the balance in the top right is rounded up so that it fits nicely on the screen. Would be nice to have a hover over feature on the wallet balance which would show the exact amount available.

## System Configuration

- LBRY Daemon version: 0.19.1
- LBRY App version: 0.21.2
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-03 02:46] ykris45 commented on #1250
@tzarebczan im finished.hehe

[2018-04-03 04:40] #1250 closed

[2018-04-03 05:29] jsigwart opened #1261 "Paginated search results"
## The Issue
Any search returns exactly 10 results. I would like to have the ability to see more than 10 results, and for the results to be paginated with navigation to move forward and backwards through the pages of results.

## System Configuration

- LBRY Daemon version: 0.19.1
- LBRY App version: 0.21.2
- LBRY Installation ID: 5eFxsAfhBFTKA5byNFVkGL5Lu5owWzQFthzKjRkxN2iUzWh2XNKLJAiv82mxAcq3AU

[2018-04-03 14:08] kauffj commented on #1261
Did we lose this feature? It used to page

[2018-04-03 14:08] #1254 closed

[2018-04-03 15:40] tzarebczan commented on #1261
I don't think we ever showed more than 10 results on search. This is something @seanyesmunt is aware of .

[2018-04-03 15:50] tzarebczan opened #1263 "Price missing on channel tiles"
## The Issue
See below, we aren't showing the price badge on the channels page.
![price missing](https://user-images.githubusercontent.com/8120721/38260149-dc6accc8-3734-11e8-9332-1bd963b83ac5.png)

This is on: lbry://@Rerez#6f36dfa66117b39500d6a74da38ddcb5a37301d8?page=2

Old app for comparison:
![price missing 2](https://user-images.githubusercontent.com/8120721/38260252-1d65c7be-3735-11e8-9aca-

[2018-04-03 16:11] tzarebczan opened #1264 "Search results page - add price, rename "Files" section?, search results disclaimer"
## The Issue

1) The price is not currently shown in search results.

2) The first section is titled "Files" - Maybe Content is a better term?

3) The previous app had a disclaimer, similar to the "?" near Exact URL, which read "These search results are provided by LBRY, Inc."

![search results](https://user-images.githubusercontent.com/8120721/38261373-01387c5a-3738-11e8-9fe8-709854c0115a.png)

#

[2018-04-03 17:09] tzarebczan opened #1265 "Setting to keep Wallet and My LBRY tray open"
## The Issue
Currently, when you navigate away from either the Wallet or My LBRY pages, the tray closes and you need to expand it again to access to the various areas inside. It would be a nice UX improvement to allow the tray to be kept open - maybe some kind of pin icon next to the titles?

![tray](https://user-images.githubusercontent.com/8120721/38263940-8414bb14-373f-11e8-8b3f-c34bc2d62b4d.pn

[2018-04-03 23:08] #1198 closed

[2018-04-03 23:08] #1221 closed

[2018-04-03 23:08] #1220 closed

[2018-04-03 23:08] #1217 closed

[2018-04-03 23:08] #1206 closed

[2018-04-04 12:40] tzarebczan commented on #1214
I think someone did respond to you in the #help channel if I recall. Feel free to DM me there directly at @jiggytom and we'll take a look.

[2018-04-04 15:35] daovist commented on #584
Here is a rough plan for implementing this feature @liamcardenas

This was `if (autoplay) play(uri);` in my first PR for this issue but when we factor in downloaded files, cost paid/unpaid, starting downloads before playing, waiting until enough data has been downloaded to start playing, etc. this is much more complex.

1) Get all the selector data (and constants) together for a `FilePage` compone

[2018-04-04 15:49] tzarebczan opened #1271 "Download percentage indicator overlay"
## The Issue
When using the download button on a video with a thumbnail that's white in the top right, the indicator text blends in.
![download indicator](https://user-images.githubusercontent.com/8120721/38318741-152030ca-37fe-11e8-8f15-f4c9b4bc314e.jpg)

lbry://holding-cryptos-is-less-risky-than-not#9251b9d7941cec6c6b58315a9b65a2f80664813a

## System Configuration

- LBRY Daemon version:
- LBRY

[2018-04-04 15:54] tzarebczan opened #1272 "File page controls are easy to miss / unclear"
## The Issue
The app redesign has file controls for download, opening in background, removing and reporting are now in the top right of the screen. They are easy to miss and may be confusing in terms of function to new users. A mouseover would definitely help, unless we just want to add text.

![file controls](https://user-images.githubusercontent.com/8120721/38318936-95bf199e-37fe-11e8-9941-a9f0d

[2018-04-04 16:50] kauffj commented on #584
I think there are enough reasonable concerns in this thread that we should just default to autoplay off. Thank you for your thoughtfulness @btzr-io @daovist @tzarebczan

I do support other changes to make it more obvious to the users that this feature exists (e.g. a notification that asks whether they want to turn it on the first time they play a video), as well as giving users more feedback that

[2018-04-04 18:56] #1210 closed

[2018-04-04 18:57] btzr-io commented on #1271
fixed in https://github.com/lbryio/lbry-app/pull/1269

[2018-04-04 18:57] #1223 closed

[2018-04-04 18:57] #1256 closed

[2018-04-04 18:57] #1263 closed

[2018-04-04 18:57] #1227 closed

[2018-04-04 18:58] seanyesmunt commented on #1227
Just removed it for now

[2018-04-04 18:58] #1226 closed

[2018-04-04 18:58] #1218 closed

[2018-04-04 19:05] #777 closed

[2018-04-04 20:12] tzarebczan commented on #1256
Confirmed fixed on Master.

[2018-04-04 20:12] tzarebczan commented on #1263
Confirmed fixed, thanks!

[2018-04-04 20:14] tzarebczan commented on #1230
Confirmed fixed!

[2018-04-04 20:31] tzarebczan opened #1274 "Verification screen formatting / display issues"
## The Issue
See below
![verification](https://user-images.githubusercontent.com/8120721/38333082-87d746d6-3825-11e8-9547-48490e3e1e2a.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-04 20:32] m160 commented on #1207
When searching @imineblocks you get two channels with the same name. The channel with only one item ranks higher than the other channel with 300 items **and** the vanity name claim.

The one with the vanity name and more items should rank on top. The search result should also show which channel has claimed the vanity name.

[2018-04-04 20:34] tzarebczan commented on #1207
@m160 I think you meant to post this as a new issue in the lighthouse repo :)

[2018-04-04 20:36] tzarebczan opened #1275 "Error when clicking "Submit Phone Number" on verification screen"
## The Issue
When clicking "Submit Phone Number" on verification screen, you get a green screen and console error:

[code]
### Steps to Reproduce
1.
2.
3.

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instead.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App versio

[2018-04-04 20:52] tzarebczan opened #1276 "LBC credit amounts in modals"
## The Issue
This was mentioned in https://github.com/lbryio/lbry-app/issues/1209, but it's also happening on the first reward modal, see below. I believe @seanyesmunt was going to fix this as part of other CSS changes.

![styling](https://user-images.githubusercontent.com/8120721/38334058-5b6f36c8-3828-11e8-80da-ca651ce50a49.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version

[2018-04-04 20:56] tzarebczan commented on #905
This is complete in the redesign.

[2018-04-04 20:56] #905 closed

[2018-04-04 20:57] tzarebczan commented on #809
This is complete in the redesign.

[2018-04-04 20:57] #809 closed

[2018-04-04 20:59] tzarebczan commented on #738
API call now returns, is this what was expected?
[code]

[2018-04-04 21:16] tzarebczan opened #1278 "Show pending transactions in Overview screen"
## The Issue
The Overview page does not show pending transactions, but the history/transactions page does. I think both should.

### Steps to Reproduce
1.
2.
3.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-04 21:24] tzarebczan opened #1279 "Add flair to the snackbar to go along with the redesign"
## The Issue
Snackbar stayed the same, we should add some flair to it!

![snackbar](https://user-images.githubusercontent.com/8120721/38335588-c6f9deee-382c-11e8-9f50-8b0e6282bef5.jpg)

@nizuka3 thoughts?

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-04 23:06] tzarebczan opened #1280 "Cannot send less than 1 credit via Send Credits screen"
## The Issue
If you enter 0.9, an address and click send, nothing happens.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-04 23:14] tzarebczan opened #1281 "ShapeShift display issues, shows wrong currency/address"
## The Issue
1) When choosing LTC, the next screen still shows BTC in the send,receive and conversion areas. The address is also for BTC, RIP my 0.05 LTC lol

2) The address is cut off

![shapeshift](https://user-images.githubusercontent.com/8120721/38339321-a463412c-383b-11e8-9cac-73ad87fa79e0.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Oper

[2018-04-04 23:20] tzarebczan opened #1282 "Add referral FAQ to Invites screen"
## The Issue
On the invites screen, add "Read our FAQ to learn more" after "Or an enemy. Or your cousin Jerry, who you're kind of unsure about."

FAQ should be a hyperlink to https://lbry.io/faq/referrals

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-04 23:38] tzarebczan opened #1283 "Add loading screen to Downloads/Published area"
## The Issue
If you navigate to the downloads/published area before the app can load file_list or claim_list_mine, you just see "Nothing has been downloaded/published". It should show a loading dialog.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-04 23:53] tzarebczan opened #1284 ""Put something here" links to claim instead of Publish page"
## The Issue
When searching a URL that is unused, you are told "put something here" which links to the URL. This should go to the Publish page with the URL filled in. The old app would go to Publish, but not fill in the URL.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-05 00:39] tzarebczan opened #1285 "Console error (lock up) / green screen when searching invalid downloads"
## The Issue
I'm pretty sure both errors happen if file_list has some invalid/old entries. It happens for me when I search "test", but other queries work fine.  Test also works if I search before file_list is loaded.  The screen locks up and need to refresh at this point. The result is error 1 if I'm in search and then file list loads. If I let file_list load and then search, error 2 occurs.

erro

[2018-04-05 04:54] seanyesmunt commented on #1209
Mildly cleaned up in this #1288 but can use some more styling

[2018-04-05 08:32] #924 closed

[2018-04-05 08:32] #1014 closed

[2018-04-05 16:47] tzarebczan opened #1290 "Claim option missing in Invites screen"
## The Issue
The claim option is missing, see below.
![invites](https://user-images.githubusercontent.com/8120721/38379682-73cce3b2-38cf-11e8-8944-0cabca3f595b.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-05 18:27] ykris45 opened #1293 "description field form doesn't exist on report bug section"
## The Issue
Would be nice if have a form to submiting details of bug or issues
### Steps to Reproduce
1. Go to Help
2. click submit a bug report
3. see what happend instead my screenshot

## Screenshots

![image](https://user-images.githubusercontent.com/26609573/38384254-d82b0b18-3938-11e8-855c-8241c5d70bb1.png)
compare old design
![image](https://user-images.githubusercontent.com/26609573/38384

[2018-04-05 18:30] ykris45 commented on #1282
#1286

[2018-04-05 21:48] IGassmann opened #1296 "feat: receive push notifications"
## User Story

As a user, I want to receive push notifications so that I can know about new videos with the app closed and without opening an email client.

## Examples

### Windows
![image](https://user-images.githubusercontent.com/4291707/38393411-b9ea3f56-38f8-11e8-8209-d22e7f506830.png)

### macOS
![image](https://user-images.githubusercontent.com/4291707/38393495-f502c52c-38f8-11e8-8fdc-d4757

[2018-04-05 22:12] IGassmann commented on #1190
Be aware of analytics requirements while refactoring.

[2018-04-06 02:23] tzarebczan opened #1297 "Report Bug screen formatting / cannot enter text."
## The Issue
See below. No text input box and github issues link
![report issue](https://user-images.githubusercontent.com/8120721/38400746-a780cf52-391f-11e8-923b-813ed3148688.jpg)

before:
![report bug](https://user-images.githubusercontent.com/8120721/38400805-fd85cc9a-391f-11e8-87e6-23ece692fe88.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
-

[2018-04-06 15:07] tzarebczan commented on #1297
dup of https://github.com/lbryio/lbry-app/issues/1293

[2018-04-06 15:07] #1297 closed

[2018-04-06 15:23] IGassmann opened #1298 "feat: authenticate app with daemon"
Authentification available with daemon v0.20.0rc6.

[2018-04-06 18:47] kauffj opened #1299 "Email verification should not be required to happen on the same device"
Some users will pull the verification email up on their phone rather than the computer they downloaded the desktop application on. The app should not require email verification to happen on the same device that it is installed on.

Instead, when on the email verification screen, the app can poll the API server periodically to see if the user has a verified email. It can then advance past this scre

[2018-04-06 18:49] kauffj commented on #1299
As I think about this more... why do we require the user to enter the token in the app at all? If the user clicks a link in the email, isn't this everything we need? @liamcardenas

[2018-04-06 19:57] tzarebczan commented on #1275
@seanyesmunt new error when clicking verify after entering code. The network calls look fine.

[code]

[2018-04-08 07:02] LittleSecretary opened #1300 "can't start on windows"
Follow the tutorial  1.Clone this repository，2.Run $ yarn。There was a mistakeke
Error: E:\Program Files\nodejs\node.exe exited with code 1
Error output:
prebuild-install info begin Prebuild-install version 2.5.1
prebuild-install info looking for local prebuild @ prebuilds\keytar-v4.2.1-electron-v57-win32-x64.tar.gz
prebuild-install info looking for cached prebuild @ C:\Users\Administrator\AppData\

[2018-04-08 07:35] miikkatu commented on #1293
Working on this.

[2018-04-08 09:29] oakey22 opened #1302 "m4v showing as an application in the app"
lbry://one was uploaded with an m4v file after being re-encoded with handbrake. This was showing as an application in the app when it is an Apple media file.

see picture below thanks to Mibo for highlighting this.
![capture](https://user-images.githubusercontent.com/22527575/38465751-bfce0a08-3b17-11e8-96e1-fb6c48431faf.png)

[2018-04-08 10:35] oakey22 commented on #1302
i have uploaded the m4v file to
lbry://happyworkingsong-enchanted-hollyoakey-lz5zl0vslc4#00a7f5fe1523d1e1264c29b4ada6e060d9d30f35

[2018-04-08 11:10] miikkatu commented on #1284
A pull request was added to address this issue.

[2018-04-08 11:11] miikkatu commented on #1293
A pull request was added to address this issue.

[2018-04-08 12:30] tzarebczan commented on #1293
@miikatu, Sean already had this fixed in a  PR. We'll need to do a better job at marking these in the future.

[2018-04-08 12:35] tzarebczan commented on #1300
Sorry to hear you are having trouble! We recently were made aware of a bug that may require running the below command as administrator. After running it, open up a new cmd prompt and try again.

`npm install --global --production windows-build-tools`

[2018-04-08 12:39] ykris45 commented on #1300
after install this windows build tools make sure you install keytar prebuild - use code npm install keytar-prebuild and run yarn again. make sure you set npm confog set strict-ssl false

[2018-04-08 12:41] ykris45 commented on #1300
$ NODE_TLS_REJECT_UNAUTHORIZED=0

[2018-04-08 12:48] ykris45 commented on #1300
just add @tzarebczan comment on above. make sure install windows build tools via cmd on administrator mode..

[2018-04-08 19:01] btzr-io commented on #1302
Related issue: https://github.com/lbryio/lbry-app/issues/863

[2018-04-08 19:06] btzr-io commented on #1302
@oakey22 what's the `mimetype` from the original  file ?

[2018-04-09 06:41] miikkatu commented on #1259
PR added to implement this.

[2018-04-09 08:15] miikkatu commented on #1272
A suggested solution (with screenshots) is in this pull request.

[2018-04-10 11:24] miikkatu commented on #1279
PR #1313 has a suggested implementation.

[2018-04-10 21:11] #1282 closed, assigned to nobody

[2018-04-11 07:54] miikkatu commented on #909
Working on this.

[2018-04-11 09:58] miikkatu commented on #909
@seanyesmunt @tzarebczan I have an implementation ready, but it's missing the actual submitting of the report. I couldn't figure out how the current web form does the submitting, and there's nothing in the app for this yet.

How this implementation works is:

1. Click the report button on a file page
2. App shows report page and prefills the uri of the file
3. Fill in the form and submit
4. App sh

[2018-04-11 23:49] btzr-io opened #1317 "Dropdown is missing css style"
- [ ] Fix `dropdown` css style
- [ ] Implement new dark `dropdown`  css styles

[2018-04-12 21:26] tzarebczan commented on #1290
In my case, my reward invite was already claimed.

[2018-04-16 13:13] #978 closed

[2018-04-16 15:10] #1189 closed

[2018-04-16 17:48] tzarebczan opened #1327 "Downloads list should be unique by outpoint/key, not claimid"
## The Issue

You get the below console warning if two downloads have the same claim id (which is normal if a claim is updated with a new file). Currently, both claims will show the same content as it is pulled up by the claimid, but it should really use the outpoint or key from file_list. This may be somewhat related to https://github.com/lbryio/lbry-app/issues/1203

[code]
### Steps to Reproduce

[2018-04-16 19:10] tzarebczan commented on #1192
We should look into this before the redesign release, especially if we will be updating the daemon along with it.

I'll try this on Mac to see if it's happening there.

[2018-04-16 20:14] kauffj opened #1328 "Rewards 2.0"
The changes required to ship and notify users of rewards without app side changes.

Currently some changes are required. Here's an [example commit](https://github.com/lbryio/lbry-app/commit/01e6c297ff54c6a9b0767518b23aeb5696b00249).

Additionally, we lack an ability to cleanly notify users of rewards on an ongoing basis.

[2018-04-16 20:22] kauffj opened #1329 "App-side changes to allow reward changes without app-side changes"
1. Display the rewards in the order returned by api.lbry.io rather than the app-coded order.
1. Look for a reward property on an individual reward called `reward_notification` that is displayed to the user when they earn a reward.
1. Have a fall-back notification when a `reward_notificaiton` isn't provided (e.g. "You earned a %s LBC reward).

[2018-04-16 20:39] tzarebczan commented on #565
The goal is to release this change with the current app release (and not the redesign) this week

To be clear, if blocked content shows up on a tile on the homepage (i.e. in community section), we would still see the tile/thumbnail, but the show page (when clicking on it) would have the new blocked component.  Would we want to block the thumbnail as we do for NSFW as well?

@kauffj can you work on

[2018-04-16 20:43] lyoshenka opened #1330 "Make sure README and other docs conform to docs spec"
https://docs.google.com/document/d/1zBi8BifeRslhUPkDrb0lK4-OSjMPnkcNAxRduAwuvvo/edit

[2018-04-16 20:54] tzarebczan opened #1331 "Formatting on upgrade prompt"
## The Issue
Related to the issue found during this PR: https://github.com/lbryio/lbry-app/pull/1229, see image. We may need @IGassmann 's help in testing this.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-16 20:57] kauffj commented on #565
The most immediate need is to block show pages. I think we should likely make other changes, but the changes to the show page should be shipped as soon as they are releasable.

[2018-04-16 20:58] lyoshenka opened #1332 "Select "stickiness" metric"

[2018-04-16 20:58] kauffj commented on #1332
Please discuss this with @robvsmith

[2018-04-16 21:16] seanyesmunt commented on #1331
I left a comment on it. All that needs to be added is `button="link"`

[2018-04-16 23:01] seanyesmunt commented on #1078
Can we make this call from the app? Or does it have to go through the api?

[2018-04-16 23:07] tzarebczan commented on #1078
Good point - since there is authentication required for the Helpscout API, we probably can't do this directly from the app right? @kauffj, thoughts?

[2018-04-16 23:18] tzarebczan commented on #1219
@seanyesmunt can edit now, but the file stays in pending mode.

[2018-04-17 00:46] seanyesmunt commented on #1078
I think it might be ok to keep the api key in the app, since it will be less prone to abuse than phone verification. Not sure if one is better than the other. Easier to keep it in the app

[2018-04-17 13:35] kauffj commented on #1078
@tzarebczan @seanyesmunt yes it can be in the app. It's already in the daemon (until `report_bug` dies) and there's no real difference.

It may be preferable to only check in a dev/test key (if such exist) and have the build process inject the real key, but I don't want to over-engineer this either.

[2018-04-17 13:36] tzarebczan opened #1334 "App scaling adjustments"
## The Issue
See below for screenshot of how the app looks on 2560x1440 full screen - I think the scaling should be turned down a bit or allow the user an option via the app. If I open up the console/resize, it does look much better.  Sean suggested a max width setting could help here.

![scaling 1](https://user-images.githubusercontent.com/8120721/38872962-948bd62e-4222-11e8-8302-edb3e99188cb.png

[2018-04-17 13:46] tzarebczan opened #1335 "Sorting on channel pages"
## The Issue
Sorting on channel pages does not match previous version (by blockheight, latest first). It looks like it's reversed.

### Expected Behaviour
Sort by height

### Actual Behaviour
reversed

### Suggested Solutions
Sort by block height, which is the best solution for now.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

##

[2018-04-17 13:47] kauffj commented on #1327
The long-term fix here is not straightforward, though switching to outpoint as a unique key might be an acceptable short term change .

If claim id stays the same, it is supposed to be the publisher saying this is the same piece of content. If the claim id stays the same but the outpoint changes, the user should not have to re-pay a key fee and instead should be prompted to update to the latest ve

[2018-04-17 13:50] tzarebczan commented on #1327
Even if the file does change on edit, isn't it normal behavior to have the old and the new file? I'm sure we can make this an option in the future where the user chooses to overwrite the existing file or keep it (both on the physical download and on the LBRY downloads list).

[2018-04-17 14:05] tzarebczan opened #1336 "Markdown preview setting broken"
## The Issue
See below, when clicking preview, both the original and preview are shown on top of each other.

![md preview 1](https://user-images.githubusercontent.com/8120721/38874733-c8d6ec3a-4226-11e8-9c0a-3ee229e774d5.jpg)

![md 2](https://user-images.githubusercontent.com/8120721/38874734-ca538e38-4226-11e8-81fe-0dbae3a026c0.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App ver

[2018-04-17 14:08] kauffj commented on #909
@miikkatu thanks for working on this. Unfortunately, the current end behavior of a DMCA report is just trigger an email (see [here](https://github.com/lbryio/lbry.io/blob/90eae9cbfc7a66dba9b59c51652adf06a63f0718/controller/action/ReportActions.class.php)) and this is not easy to just move into the app.

I filed an issue in our internal-apis project to build an endpoint for receiving these, but I'm

[2018-04-17 14:11] m160 opened #1337 "Images are not resized to fit description area"
## The Issue
When having a high resolution image in the description it exceeds the borders of the description area so  only a part of the image can be seen.

### Steps to Reproduce
1. Add a high resolution image to the description
2. Preview/publish

### Suggested Solutions
The image should be automatically resized to fit the borders of the description area.

## Screenshots
![capture 1](https://us

[2018-04-17 14:29] tzarebczan commented on #1179
@btzr-io do you know if this is the same issue as headings not showing up correctly (i.e. # Heading 1)?

See lbry://filecontrols#d2d8e154e4db21c25dc9a9b0e75a3533a59b98f1

`"stream": {
          "metadata": {
            "author": "",
            "description": "<h1> test heading html</h1>\n\n# heading 1 md\n## heading 2 md\n## heading 3 md\n\n",
            "language": "en",
            "license":

[2018-04-17 15:30] tzarebczan commented on #1337
I'll consider this closed because it's going to be working better on the app redesign:
[redeisgn](https://content.screencast.com/users/thomas.zarebczan/folders/Snagit/media/1cf8d21e-2248-4223-a955-32de69a97773/04.17.2018-09.20.png)

[2018-04-17 15:40] miikkatu commented on #909
I was thinking about this too. For this, we would need an URL where to POST, and an object format that it would accept. I couldn't figure those out in the lbry.io/dcma code. Then, a team member could verify if the posted data is proper or not.

Otherwise, we could wait with this until there's an endpoint available. 🙂

[2018-04-17 15:54] tzarebczan commented on #1334
Some side by side shots: https://www.screencast.com/t/o1os8zD1mTpl https://www.screencast.com/t/BxS4YrF0

[2018-04-17 17:41] tzarebczan commented on #1179
Thanks, totally missed that!

[2018-04-17 17:55] btzr-io commented on #1336
@tzarebczan Fixed on redesign

[2018-04-17 17:55] #1209 closed

[2018-04-17 17:55] #1331 closed

[2018-04-17 17:55] #1293 closed

[2018-04-17 17:56] seanyesmunt commented on #1219
Closing this. I will create a new one just for pending

[2018-04-17 17:56] #1281 closed

[2018-04-17 17:56] #1275 closed

[2018-04-17 17:56] #1274 closed

[2018-04-17 17:59] seanyesmunt opened #1338 "Edited files don't say "pending" on publish page before confirming"
Not sure about this one

[2018-04-17 18:00] #1285 closed

[2018-04-17 18:39] tzarebczan commented on #909
![post](https://user-images.githubusercontent.com/8120721/38889548-0e68598e-424d-11e8-9735-e7662e5ddedf.jpg)

@miikkatu this is what the post call looks like - should be able to pass the same parameters (might need to URL encode them as well)

[2018-04-17 19:40] tzarebczan opened #1340 "Change Lbry. to LBRY on startup screen"
## The Issue
Change to uppercase LBRY on the startup page.

Is it used anywhere else?

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-17 20:02] seanyesmunt commented on #1340
Already done

[2018-04-17 20:02] #1340 closed

[2018-04-17 20:02] seanyesmunt commented on #1340
The android app is the one with Lbry.

[2018-04-17 20:08] tzarebczan commented on #1334
Other notes:
Other text areas like balance/left sidebar seem too large
search box is small compared to other areas.

[2018-04-18 01:28] lyoshenka opened #1341 "Subscribing to channel shows unexpected notification"
## The Issue

I clicked `Subscribe` on the Cop Chronicles channel, and got a notification that made no sense (see top-right corner of screenshot).

### Steps to Reproduce
1. go to `@copchronicles` channel
2. click Subscribe
3.

### Expected Behaviour
Just the normal "Subscriptions 101" popup.

### Actual Behaviour
I got that, but I also got an extra OS notification.

## System Configuration

{"lbr

[2018-04-18 01:43] lyoshenka opened #1342 "Invites tile says "0 credits""
![](https://i.imgur.com/eKxiRHZ.png)

[2018-04-18 01:48] tzarebczan commented on #1341
Thanks @lyoshenka! Another feature of auto subscribe is that the last free content is downloaded automatically (this was not mentioned in the pop up as the consensus was not to).

@liamcardenas is this something you are working on in your subscriptions changes? In this case it's really unexpected because the item is paid content, something that shouldn't be downloaded.

Would we expect this notifi

[2018-04-18 01:54] tzarebczan commented on #1342
@lyoshenka did you already claim the 1 invite reward allowed? This would be expected as the max is 1. It may be coming back the the rewards api, so if we still want it to show 3 (even though it can't be claimed until some point in the future), the fix would be there.

Might also be related to https://github.com/lbryio/lbry-app/issues/829

[2018-04-18 01:56] lyoshenka commented on #1342
Oh, I forgot I can earn rewards for inviting people. I was like "oh great, its free to invite ppl..."

[2018-04-18 01:59] lyoshenka opened #1343 "History details missing from recent downloads"
![](https://i.imgur.com/e1Hdsv5.png)

[2018-04-18 02:02] lyoshenka opened #1344 "Need to update links to block explorer"
On Transaction History page, the tx ids link to explorer.lbry.io pages. They link to URLS of the form `https://explorer.lbry.io/#!/transaction/TXID`, but the correct format is `https://explorer.lbry.io/tx/TXID`.

[2018-04-18 02:02] tzarebczan commented on #1343
Are those payments for content? We don't store them yet, see https://github.com/lbryio/lbry-app/issues/766. Or were you expecting some other info there?

[2018-04-18 02:04] #1344 closed

[2018-04-18 03:32] tzarebczan commented on #1279
Closed via https://github.com/lbryio/lbry-app/pull/1313

[2018-04-18 03:32] #1279 closed

[2018-04-18 03:33] tzarebczan commented on #1300
@LittleSecretary please let us know if that worked, closing the ticket for now. The readme has been updated to include the command I recommended.

[2018-04-18 03:33] #1300 closed

[2018-04-18 03:39] #1337 closed

[2018-04-18 03:41] tzarebczan commented on #1302
@btzr-io how do you find the mimetype? Might be able to download the file  from lbry://happyworkingsong-enchanted-hollyoakey-lz5zl0vslc4#00a7f5fe1523d1e1264c29b4ada6e060d9d30f35 to check.

[2018-04-18 03:42] tzarebczan commented on #1302
Closing in favor of #863

[2018-04-18 03:42] #1302 closed

[2018-04-18 03:45] tzarebczan opened #1345 "Add suggestion for thumbnail size/ratio on publish page"
## The Issue
The thumbnail aspect ratio should be 16:9 but depending on how we plan to handle scaling of the thumbnail on show pages, we should recommend a minimum size to the user as well.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-18 03:52] tzarebczan opened #1346 "Long URLs cut off in search/URL bar"
## The Issue
See below - this would mainly happen when accessing content through a channel page / downloads/pubish page for content that as a channel + a longer than normal claim name.

![long url](https://user-images.githubusercontent.com/8120721/38910965-29683090-429a-11e8-8019-dcd8ce2a5560.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operat

[2018-04-18 04:02] tzarebczan opened #1347 "Positioning of Subscribe button on channel/show pages"
## The Issue
See below, with the current scaling, the subscribe button (especially on the channel page), seems to be too far away from the main focal points of the page. The show page is a bit better. If https://github.com/lbryio/lbry-app/issues/1334 is adjusted so that it doesn't seem so far away, this would be a non-issue.

![subscribe1](https://user-images.githubusercontent.com/8120721/38911175

[2018-04-18 17:59] tzarebczan opened #1349 "Fix lbry-redux related issues"
## The Issue
Find and fix issues related to recent redux changes.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-18 18:50] seanyesmunt opened #1350 "Fix lbry-redux main bugs"

[2018-04-18 18:54] tzarebczan commented on #1350
You are too slow :p https://github.com/lbryio/lbry-app/issues/1349

[2018-04-18 18:55] #1350 closed

[2018-04-18 18:58] lyoshenka commented on #1078
I put the daemon command back for now so this is not a release-blocker anymore. Turns out "deprecated" in the daemon actually means "removed".

[2018-04-18 19:02] robvsmith opened #1351 "open.lbry.io not opening app"
When a user accesses open.lbry.io in their browser, whether by clicking a link or typing in the URL, the app does not open on their desktop. (Assumes they have installed the app).

### Steps to Reproduce
1. Type in open.lbry.io into Firefox and/or Chrome address bar
2. App does not open

### Expected Behaviour
App should open.

### Actual Behaviour
If app is closed, app does not open

If app is op

[2018-04-18 19:05] tzarebczan commented on #1351
If you go directly to open.lbry.io, it assumes you want to enter some LBRY URL in order to generate an http link for it. If you go to a direct URL like https://open.lbry.io/@TheRubinReport , it should open in the app.

open.lbry.io is very basic and could use some facelifts. If you have particular suggestions, file them here: https://github.com/lbryio/webredirect/issues

[2018-04-18 21:55] tzarebczan opened #1352 "Redirect special LBRY urls to pages in App"
## The Issue
Great idea from @robvsmith :

In order to drive engagement to various areas of the LBRY app, i.e. Discover, Wallet Overview, Publish or Rewards pages, we need an easy way for user to launch the app and navigate to said pages. This can be done via a https://open.lbry.io link such as https://open.lbry.io/?Rewards (don't click, will cause a green screen) which would then open the LBRY ap

[2018-04-19 00:36] tzarebczan opened #1354 "Rewards page missing buttons"
## The Issue
See below
![referral buttons](https://user-images.githubusercontent.com/8120721/38965016-2fa19088-4348-11e8-9543-f72bef5fe3dd.jpg)

### Suggested Solutions
Tell us your suggested solutions if you have any.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-19 00:49] tzarebczan opened #1355 "Add alternate row shading for transactions on dark theme"
## The Issue
See below:
![alternate row](https://user-images.githubusercontent.com/8120721/38965309-e7dcde04-4349-11e8-9066-f54af4784bf2.jpg)

light:
![alternate row light](https://user-images.githubusercontent.com/8120721/38965320-fa701554-4349-11e8-9c6f-5002315e2f14.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything

[2018-04-19 01:02] tzarebczan opened #1356 "Description box on Publish (dark theme)"
## The Issue
The header of the description box should have a different shading to differentiate it from the rest of the form, see below:

dark:
![description bar 1](https://user-images.githubusercontent.com/8120721/38965586-c36f767e-434b-11e8-89d3-d970cbf4fe9b.jpg)
light:

![description bar 2](https://user-images.githubusercontent.com/8120721/38965587-c56934ce-434b-11e8-9985-85465171de48.jpg)

##

[2018-04-19 01:19] tzarebczan opened #1357 "Publish page - refreshing after clearing doesn't work as expected"
## The Issue
If you are in the middle of publishing and then clear the page (using the option in the top right), then press ctrl-R to reload the app and go back to Publish, the cleared text is re-inserted.

### Steps to Reproduce
1. Start publishing
2. Clear the page
3. Reload the app
4. Go back to Publish

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:

[2018-04-19 01:24] tzarebczan commented on #1336
Fixed in master, thanks @btzr-io !

[2018-04-19 01:24] #1336 closed

[2018-04-19 01:39] tzarebczan opened #1358 "Claim data not shown on duplicate name"
## The Issue
There are 2 claimis on @ColinsLastStand that have the same name, and the channel page won't show them, and neither will the show page. It does resolve correctly and works in the previous app version Previous version shows the `contentURL#claim_id`, new version shows `channelname#claim_id/contentURL` in the URL.  Not sure which way we want to go, but I like the idea of having the chann

[2018-04-19 13:27] m160 commented on #1179
Tables are shown correctly in the preview of the edit page:
![capture1](https://user-images.githubusercontent.com/34570404/38994114-c49ec6ea-43e5-11e8-8762-4224eaa8a1e3.PNG)

When publishing however, it shows up like this:
![capture2](https://user-images.githubusercontent.com/34570404/38994120-c8ac9e06-43e5-11e8-859a-e43f23a33c90.PNG)

[2018-04-19 15:42] lyoshenka commented on #1065
This is also a duplicate of lbryio/internal-apis#238

238 also says that users should be emailed when new content is available in channels they subscribe to. I'm guessing that's a separate issue. Are you planning to do that afterwards?

[2018-04-19 15:51] lyoshenka commented on #842
closing, as this is a daemon error.

[2018-04-19 15:51] #842 closed

[2018-04-19 19:19] tzarebczan opened #1359 "Show LBC bids on vanity URL tiles / show pages?"
## The Issue
Currently, the only way to tell how much LBC is needed to take over a vanity URL is by going to the Publish page and entering the URL at the bottom.  Instead, if a vanity URL is used anywhere in the app, i.e. community top bids, trending, or claim pages, we should show the current effective amount (bid) with a ? link to https://lbry.io/naming .

## System Configuration

- LBRY Daemon

[2018-04-19 20:07] btzr-io commented on #1179
@tzarebczan Tables, headings and almost anything that is converted into an `html tag / element` is intentionally blocked from `preview-render`.
(Probably to prevent: [Markdown's XSS Vulnerability](https://github.com/showdownjs/showdown/wiki/Markdown%27s-XSS-Vulnerability-(and-how-to-mitigate-it)))

It's possible to enable specific tags (elements), but I'm not sure what we really want to include.

[2018-04-19 20:07] tzarebczan opened #1362 "Validate thumbnails and show tile preview during publish"
## The Issue
Currently, there is no validation done on the thumbnail URL, so a user may enter an incorrect URL which results in a blank tile. We should validate the thumbnail input to be a jpg/png/gif (others?) and have a button that shows a preview of what the tile will look like in the LBRY app.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operat

[2018-04-19 20:47] kauffj commented on #1179
@btzr-io @tzarebczan I'd say allow h3 and smaller and tables. Solution to XSS is orthogonal to this, as long as any elements are included that type of attack is possible.

[2018-04-19 20:57] kauffj commented on #1065
It'd be very good to just get the bare minimum endpoint up here, we're losing information we'll never get back without it. The bare minimum endpoint is likely < 2 hours of work (if you know internal-apis already).

[2018-04-20 19:25] #565 closed

[2018-04-22 15:59] raympie1977 opened #1363 "Green screen"
when starting up the LBRY app, I only get a green screen. nothing more. I updated it to the latest version. It does try to connect, but not sure if it does

[2018-04-22 16:31] tzarebczan commented on #1363
Sorry to hear about the trouble. What OS are you on? Running any anti virus / firewall software?

If you press ctrl shift i to bring up the Dev console, are there any errors?

Also, check out https://lbry.io/faq/unable-to-stream

[2018-04-22 16:46] raympie1977 commented on #1363
Mac os. Worked since today

Groetjes,
Raymond

Op 22 apr. 2018 om 18:31 heeft Thomas Zarebczan <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

Sorry to hear about the trouble. What OS are you on? Running any anti virus / firewall software?

If you press ctrl shift i to bring up the Dev console, are there any errors?

Also, check out https://lbry.io/faq/unable-

[2018-04-23 05:14] seanyesmunt commented on #1359
Love this idea

[2018-04-23 06:00] seanyesmunt opened #1366 "Auto suggestions spacing off with long suggestions"
## The Issue
If there is a long uri or search suggestion, the icon gets small and some text is cut off

### Expected Behaviour
The search suggestion should have an ellipse and the "Search" text should still be visible. The icon should stay the same width

### Suggested Solutions
I'm guessing this is due to using flexbox with these. This is in `_search.scss` at `.wunderbar__suggestion`

## Screensh

[2018-04-23 11:15] raympie1977 commented on #1363
________________________________
Van: Thomas Zarebczan <notifications@github.com>
Verzonden: zondag 22 april 2018 17:19:56
Aan: lbryio/lbry-app
CC: raympie1977; Author
Onderwerp: Re: [lbryio/lbry-app] Green screen (#1363)

Have you tried rebooting your pc?

Can you also send me your log file if that doesn't work: lbry.io/faq/how-to-find-lbry-log-file

—
You are receiving this because you authored

[2018-04-23 13:51] tzarebczan commented on #1363
@raympie1977 I'm going to close this issue - please send your logs to hello@lbry.io if you continue to have problems.

[2018-04-23 13:51] #1363 closed

[2018-04-23 18:49] kauffj opened #1376 "LBRY Debian / Apt / Ubuntu Install Cleanup"
There are several issues with the LBRY experience in the Ubuntu Software Center:

[ ] An extraneously version appears from the "SnapStore", v0.14
[ ] No screenshot appears for the app
[ ] The license shows as proprietary, when it is actually MIT

I'm guessing the bottom two are fixed by setting correct metadata... somewhere.

[2018-04-23 21:52] LavRadis opened #1377 "Add support for .cbr and .cbz files (comics) in the app viewer"
## The Issue

We had a comic author in the Discord who is interested in publishing his work on LBRY. Comics are a huge market and a lot of them come in .cbz or .cbr format (rar or zip files with images) or PDF. It would be great if we could have an in-app comic file viewer. There should be many open source viewers available. Here is one: [https://github.com/codedread/kthoom](https://github.com/cod

[2018-04-23 22:02] tzarebczan commented on #1377
Thanks for opening this @LavRadis !

[2018-04-23 23:33] btzr-io commented on #1377
@LavRadis I'm currently working on one, it's open source and should be easy to integrate using an iframe or a `react-component`, I'll try to make a demo for next week...

If you have any features in mind just post it here.

[2018-04-23 23:43] tzarebczan opened #1378 "Autoupdate does not trigger Ubuntu Software Center"
## The Issue
When upgrading from 0.21.2 to 0.21.2, the update downloads successfully to the tmp folder but nothing happens after clicking "Begin Upgrade". Tried this on 16.04 and 17.10. Sean confirmed too. This may not be worth looking into if we are moving to snap files.

Even if it were triggered, Ubuntu Software center rarely works when updating/installing deb files. If anyone is having trouble

[2018-04-24 00:46] btzr-io commented on #1377
Related https://github.com/lbryio/lbry-app/issues/932

[2018-04-24 00:47] btzr-io commented on #932
@tzarebczan We should merge this issue with #1377

[2018-04-24 02:32] tzarebczan opened #1379 "Text/HTML files don't display correctly in-app anymore"
## The Issue
See below for lbry://test-text#964c747b2619baf700775974370b9d7c19110c3b. Had to highlight the text to see anything.  We should make sure this works in Dark mode as well. HTML is having a similar problem, see claims lbry://two - ten

![text file type](https://user-images.githubusercontent.com/8120721/39162942-1dc86a38-4746-11e8-8cd6-43eb3939ca59.jpg)

side by side:
![html2](https://use

[2018-04-24 05:16] seanyesmunt commented on #1290
Discussed with Tom on slack. Fairly certain this is because he claimed more than one invite. It should work with one (I see it).

Worth coming back to when we add support for multiple invites

[2018-04-24 05:50] btzr-io commented on #932
@tzarebczan Yes!

https://en.wikipedia.org/wiki/Comic_book_archive

[2018-04-24 09:03] DiSae commented on #1379
In addition to the above I would like to add: When using light mode and selecting text in the app, you can't see it anymore. See screenshot.
![text invisible](https://user-images.githubusercontent.com/31828724/39177247-043389ea-47af-11e8-9e4e-1f3b450fab4b.png)

[2018-04-24 09:14] DiSae opened #1380 "Consider removing or updating welcome pop-up in app"
Please consider removing or updating the welcome text about a centaur when launching the app.
It's fun and good for giggles, but not really professional. Youtube also doesn't welcome you when visiting their website.
Also, if LBRY becomes a big thing in a few years, kids and elder people will use the app, they may not even know what centaurs are and be like 'what the heck did I sign up for'.

![lbr

[2018-04-24 12:09] tzarebczan commented on #1380
@DiSae thanks for the feedback, totally understand where you are coming from based on our discussion on Discord. I think we can get away with the playfulness/cleverness in the short / mid term :)

[2018-04-24 12:16] tzarebczan commented on #1379
@DiSae thank you, we are aware of that recent snafu. It will be cleaned up in our redesign. If you want to see a preview of it, check out https://design.lbry.io

[2018-04-24 13:25] tzarebczan commented on #932
Closing this and leaving https://github.com/lbryio/lbry-app/issues/1377 open.

[2018-04-24 13:25] #932 closed

[2018-04-24 13:34] tzarebczan commented on #1342
@lyoshenka do you think we should fix this on the internal APIs so that it still shows the correct # of credits? It may even be an app bug related to #829

[2018-04-24 14:56] tzarebczan opened #1381 "Text turning white on selection"
## The Issue
Believe this is related to the formatting/style issues we've been seeing:
![text invisible](https://user-images.githubusercontent.com/31828724/39177247-043389ea-47af-11e8-9e4e-1f3b450fab4b.png)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-24 15:13] seanyesmunt opened #1382 "Yarn isn't pulling in latest lbry-redux changes"
## The Issue
Sometimes the `yarn` command isn't pulling in the latest `lbry-redux` changes. I've had to clear everything out and then use `npm i` to get it to work. Pretty sure it's something with `yarn`'s global cache

### Steps to Reproduce
1. run `yarn`
2. merge a PR into `lbry-redux`
3. run `yarn` again
4. see that it isn't up to date

### Expected Behaviour
It should pull the latest files

[2018-04-24 15:16] kauffj commented on #1330
When this is done, please add a section that is titled something like "Resetting your Packages" that explains what to do if `yarn xxx` isn't working after a `git pull/merge`. Presumably this is just trash all node modules and then run `yarn` again.

[2018-04-24 15:25] kauffj commented on #1378
#1376 is related, or at least it probably makes sense to tackle these at the same time.

[2018-04-24 16:05] kauffj commented on #909
@miikkatu we'll likely get this fixed web-side within a week or so. I'm inclined to just allow unrestricted POSTs to lbry.io/dmca.

See https://github.com/lbryio/lbry.io/issues/517

[2018-04-24 22:18] seanyesmunt opened #1384 "Move all modal types to use lbry-redux"
## The Issue
A few places are still using `constants/modal_types` for modal strings in the app. These should all be moved over to `lbry-redux`
ex: https://github.com/lbryio/lbry-app/blob/master/src/renderer/modal/modalRouter/view.jsx#L23

### Expected Behaviour
All modal types should be added to the `lbry-redux` repo and pulled from there

### Actual Behaviour
Some are using `lbry-redux` others ar

[2018-04-25 01:06] btzr-io commented on #1382
[code]

[2018-04-25 03:15] seanyesmunt commented on #1382
Nice. We should probably just add this as a script. Maybe `clean`?

[2018-04-25 03:55] #1381 closed

[2018-04-25 03:56] #1335 closed

[2018-04-25 03:56] #1354 closed

[2018-04-25 05:04] seanyesmunt commented on #1290
Going to close it for now.

[2018-04-25 05:04] #1290 closed

[2018-04-25 05:06] #1034 closed

[2018-04-25 05:07] seanyesmunt commented on #1065
Starting on this

[2018-04-25 06:08] btzr-io commented on #1382
`install:clean` ?
I'm not good with names :upside_down_face:

[2018-04-25 19:19] tzarebczan opened #1386 "upgrade daemon to 0.19.3 on pre-redesign (patch release)"
## The Issue
From Grin: Please bump the app to use 0.19.2 daemon asap. i don't think there are any changes affecting the app, but there's an important dht change in there

If we can, possibly fix the white text/spacing issues on pre-redesign: https://github.com/lbryio/lbry-app/issues/1381

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating syste

[2018-04-25 19:36] tzarebczan opened #1387 "Add fetching/processing message to subscriptions"
## The Issue
When adding your first subscription or when the subscriptions page is refreshing, you don't get a visual indicator that something is happening.

![subscribe 3](https://user-images.githubusercontent.com/8120721/39268611-5533b9ec-489e-11e8-8c61-8fcf892d87dc.jpg)

### Steps to Reproduce
1. Clear all subscriptions
2. Subscribe to something
3.

### Expected Behaviour
fetching/processing me

[2018-04-25 19:44] tzarebczan opened #1388 "Mouse over tooltips in Explorer pages/tiles"
Currently we have some tooltips in the app but we don't on the homepage due to some weird css behavior.

In some cases, tooltips are cutoff if they extend beyond their parent container. There is some CSS fix that will need to be made. See screenshot:

<img width="284" alt="screen shot 2018-10-01 at 3 59 59 pm" src="https://user-images.githubusercontent.com/16882830/46312451-19e36f00-c593-11e8-8656

[2018-04-25 19:48] tzarebczan commented on #1280
This is still broken.

[2018-04-25 19:53] tzarebczan commented on #1317
We should clean this up before a full release of the redesign.

[2018-04-25 19:57] tzarebczan opened #1389 "Report bug page - "Page is not defined" / green screen"
## The Issue
When going to the Submit a Bug Report page through Help, you get a green screen with : `Uncaught ReferenceError: Page is not defined`

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-25 20:40] IGassmann commented on #1382
More information here https://github.com/yarnpkg/yarn/issues/4722

[2018-04-25 20:54] btzr-io commented on #1382
[code]

https://github.com/Paratii-Video/paratii-portal/blob/edeaa072e98850969bb1747f448944b57e7bd784/README.md#installing

[2018-04-25 20:55] tzarebczan commented on #1356
This is fixed in #1360

[2018-04-25 20:55] #1356 closed

[2018-04-25 20:55] tzarebczan commented on #1349
@seanyesmunt think we can close this, or do you expect some more to creep up?

[2018-04-25 20:56] tzarebczan commented on #1284
Fixed in #1303

[2018-04-25 20:56] #1284 closed

[2018-04-26 00:17] #1389 closed, assigned to nobody

[2018-04-26 03:25] #1355 closed

[2018-04-26 03:47] btzr-io commented on #1176
@tzarebczan also fixed ( I can't recreate this issue on master)

[2018-04-26 12:41] tzarebczan opened #1392 "price should not wrap inside pricebox"
## The Issue
See below
![price](https://user-images.githubusercontent.com/8120721/39306236-90f0fdde-492d-11e8-968c-8412f82d9f6f.jpg)

This is on lbry://two right now

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-26 14:01] tzarebczan commented on #510
Re-opening this because we still can't scroll horizontally in the re-design via trackpad/mouse.

[2018-04-26 14:04] tzarebczan opened #1393 "Add channel information on mouse over"
## The Issue
Per a suggestion from a reddit user, it would be a nice feature to have channel stats when mousing over anywhere in the app. Right now we can include how many videos are in the channel, but in the future we can include things like: # of subscribers, channel description, etc.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system

[2018-04-26 14:19] tzarebczan opened #1394 "Add detailed view to Downloads/Publishes with additional card/batch options"
## The Issue
Discussed this with Sean briefly and it was also brought up by a reddit user.

Problem: Currently, to take any actions (edit/delete/tip) you need to go into each claim to perform them.

The enhancement would be to have a more detailed, list like, view for both Downloads/Publishes that would condense the claim information so they can be more easily managed. This would also include dire

[2018-04-26 14:24] #1108 closed

[2018-04-26 14:24] tzarebczan commented on #1108
Issue moved to [lbryio/lbry #1171](https://github.com/lbryio/lbry/issues/1171) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-26 14:32] tzarebczan opened #1395 "Keyboard shortcuts"
## The Issue
Suggestion from a reddit user:

More keyboard shortcuts should be included in the app. Examples include being able to scroll via arrow/page up/down buttons, home button to go to Discover page, Ctrl + X shortcuts to go to subscriptions, downloads, publishes, Publish, wallet, etc.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating sy

[2018-04-26 14:55] LavRadis opened #1396 "Add "unsubscribe" button in the subscriptions overview"
## The Issue
Currently, if a user wants to unsubscribe, they have to click on a creator name, and then unsubscribe. To make it easier, there could be a unsubscribe button placed in the subscription overview. It would make subscription management process easier.

[2018-04-26 15:13] kauffj commented on #1384
@seanyesmunt @akinwale should these become `notification_types` rather than `modal_types` given the refactoring of lbry-redux notification methodology?

[2018-04-26 15:29] LavRadis opened #1397 "Add "Tip the creator" button on channel page"
## The Issue

To reward creator they subscribe to directly, users could simply use "Tip the creator" button inside subscription overview. The user could send a one-time donation in LBC.

[2018-04-26 15:35] tzarebczan opened #1398 "Cannot send tip"
## The Issue
See below, cannot click send.
![tip](https://user-images.githubusercontent.com/8120721/39315930-daa370c0-4945-11e8-90b9-6677568100cf.jpg)

### Steps to Reproduce

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-26 16:53] LavRadis opened #1399 "Enhance the subscriptions section with advanced content creator support options"
## The Issue
This is just an idea. Feel free to dismiss it.
It is related to #1396 and #1397. My idea is to add options to make subscriptions view section to enable the app users to support the content creators with various types of LBC donations.

There could be a separate sub-menu under "Subscriptions" where the users could set:

- fixed or monthly LBC amount they wish to spend
- to distribute t

[2018-04-26 20:07] kauffj opened #1400 "Rename this repo to lbry-desktop"
Let's use this thread to build a list of actions required assuming that we'll do this.

- Create `lbry-app` repo so old links still work (if GitHub doesn't redirect after a rename)
- Fix links in lbry.io
- Fix links in lbry.tech
- Fix links/references in source

[2018-04-26 21:13] tzarebczan opened #1402 "Home/subscription scrolling state lost on navigation"
## The Issue
If you navigate horizontally using the arrows on the home/subscription pages, go into a claim, then go back, you end up at the left-most position (resets). Shouldn't it go back to where it was previously scrolled to?

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-26 21:22] tzarebczan opened #1403 "Poor credits message when no rewards are left to claim"
## The Issue
See below:
![no rewards left](https://user-images.githubusercontent.com/8120721/39332715-4300379a-4976-11e8-9e0b-d323997ca576.jpg)

### Steps to Reproduce
1. Claim all rewards
2. Access content that you don't have enough credits for

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-26 21:27] tzarebczan commented on #1399
Thanks for filing this Lav. Definitely a much needed feature and would most likely require some API work on our side to enable this.

[2018-04-26 21:30] tzarebczan commented on #1397
Thanks for filing! It should be fairly easy to add a tip button similar to the ones on the claim pages. This tip would go directly to the creator's channel as a support, as opposed to their content. They can choose to leave it (to increase their effective bid) or claim it (be able to use it).

This button should also be added on channel pages.

[2018-04-26 21:53] tzarebczan opened #1404 "Play when clicking anywhere on thumbnail, play with spacebar"
## The Issue
In the previous app design, you could click anywhere on the thumbnail to start playing/downloading but now you have to click the play button. Also, pressing space would start playing/downloading, but now it does not.
![click play](https://user-images.githubusercontent.com/8120721/39333929-b6e24cb2-497a-11e8-95b3-e6f8d06ba8f2.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY

[2018-04-26 22:33] tzarebczan opened #1405 "Channels not available in Publish page"
## The Issue
Channels aren't populated in the Publish screen dropdown, this must have happened recently because it was working a few iterations ago. The channel_list call returns channels correctly.

### Steps to Reproduce
1. create a channel
2. refresh app
3. go to publish, check channel dropdown

### Expected Behaviour
Tell us what should happen.

### Actual Behaviour
Tell us what happens instea

[2018-04-26 22:34] tzarebczan opened #1406 "Back / forward buttons hard to notice, especially in dark mode"
## The Issue
See below
![back button](https://user-images.githubusercontent.com/8120721/39335293-66cf4d5a-4980-11e8-980c-d70c36840017.jpg)

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-27 00:24] tzarebczan commented on #1261
Thanks @tiger5226, was just about to post here too haha. Bonus points for you, thanks for following up!

[2018-04-27 00:32] tzarebczan commented on #1009
Recently Viewed would be a good title for this area. Should we track this in the sqlite database through the daemon? Decision would be based on cross device syncing solution (is there one yet?)

[2018-04-27 14:42] tzarebczan commented on #1176
@btzr-io thanks!

[2018-04-27 14:43] #1176 closed

[2018-04-27 14:43] tzarebczan commented on #1176
@namujan78 I invited you to our early testers group so you can try this out in the redesign.

[2018-04-27 20:19] tzarebczan commented on #738
I think we should just disable the send box unless something is typed. @seanyesmunt can we get this done for the redesign please?

[2018-04-27 20:52] tzarebczan commented on #1276
This is fixed: https://www.screencast.com/t/CS3gaKIl

[2018-04-27 20:52] #1276 closed

[2018-04-27 21:21] tzarebczan opened #1407 "First Reward pop up missing"
## The Issue
Claimed my First Nickel reward on a fresh account but didn't get the typical first reward popup.
Expecting: https://github.com/lbryio/lbry-app/blob/95a85300dcbc5b5ed96e5f9dd8f5f3c67da147b2/src/renderer/modal/modalFirstReward/view.jsx

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-04-27 23:24] seanyesmunt commented on #1402
I would say ideally it would, but it would be a decent amount of work. It
would require moving this data outside of the component, and into the redux
store. It wouldn't be that hard, but time consuming.

This would probably live in the `app` reducer

On Thu, Apr 26, 2018 at 5:13 PM, Thomas Zarebczan <notifications@github.com>
wrote:

[2018-04-28 05:59] impshum opened #1408 "Featured Content Email Link"
## The Issue

Featured content link in email sending to wrong/empty location.
Current link leads to lbry://davidpakman not lbry://@davidpakman

### Steps to Reproduce
1. Click link in email
2. N/A
3. N/A

### Expected Behaviour
Correct location.

### Actual Behaviour
Wrong location

## System Configuration
iMail

   "build": "release",
    "lbrynet_version": "0.19.1",
    "lbryschema_version": "0.

[2018-04-28 11:03] namujan78 commented on #1176
@tzarebczan Where I can find out the invitation?
By the way, this issue seem was fixed in "App | 0.21.3"

[2018-04-28 16:47] btzr-io commented on #1176
@namujan78 See the `#early-testing` channel on `discord`

[2018-04-29 16:12] maximest-pierre commented on #909
PR has been submitted on lbry.io https://github.com/lbryio/lbry.io/pull/525

[2018-04-29 19:47] tzarebczan opened #1409 "Add 3D file-viewing to LBRY desktop app"
@jamesbiller commented on [Sun Apr 29 2018](https://github.com/lbryio/lbry.io/issues/523)

Link to info & .js https://manu.ninja/webgl-3d-model-viewer-using-three-js/

Needs to operate like the 'Thingiview' in Thingiverse: https://www.thingiverse.com/thing:572581

---

@tzarebczan commented on [Sun Apr 29 2018](https://github.com/lbryio/lbry.io/issues/523#issuecomment-385276345)

Will move this ov

[2018-04-29 20:01] tzarebczan commented on #1408
I replied on Discord - this is a known bug with the Safari browser on Mac because it removes the @ before we can do anything about it. We may be able to do some workaround down the road, but it's not really an app issue. Try with Chrome or Firefox, should work.

[2018-04-29 20:01] #1408 closed

[2018-04-29 20:02] tzarebczan commented on #1398
Sometimes I can send a single tip, but then the button is grayed out until I refresh the app.

[2018-04-29 23:35] tiger5226 commented on #1261
The changes for lighthouse are now live and pagination is working from the api.

However, in testing the app our original expectations are true. The app does not support pagination in search results. Excited to get this in the app! Search is soooo much better now, and users are missing out because they can only discover the tip of the iceberg(10 results). Go app team!!

[2018-04-30 05:24] btzr-io opened #1410 "Add csv and json viewer"
### Feature
Viewer for json, csv and other common  data-interchange formats.

### Suggested Solutions
https://github.com/alexkuz/react-json-tree
https://github.com/nzambello/react-csv-reader

[2018-04-30 12:07] Invariant-Change opened #1416 "LBRY Default Download Directory"
The default download director would be better if it was `\Downloads\LBRY\`

This would help keep files in order and help prevent **accidental deletion** of seeded content.

![image](https://user-images.githubusercontent.com/29914179/39426255-7e62eb6c-4cc2-11e8-807b-4c1453c29602.png)

[2018-04-30 12:12] tzarebczan commented on #1416
This would be a lbry issue, not an app issue. Plus, the content is not seeded from this directory, it's seeded from the blob files folder.

I'll move it over to the other repo later and it can be discussed.

[2018-04-30 14:07] IGassmann opened #1417 "Document release process"

[2018-04-30 15:37] #1349 closed

[2018-04-30 17:02] #1332 closed

[2018-04-30 17:03] #1188 closed

[2018-04-30 17:32] tzarebczan commented on #1398
@seanyesmunt ran into an issue where the "Enjoy this? Send a tip" button wouldn't pop up the modal. No errors in console. Refreshing the app fixed it. Not sure how to reproduce consistently yet, but thought I'd mention it.

[2018-04-30 20:05] tzarebczan commented on #1329
The API side changes can be seen here: https://github.com/lbryio/internal-apis/pull/294

The API now returns the description and notification text:

[code]

[2018-04-30 20:11] #863 closed

[2018-04-30 22:00] tzarebczan commented on #1382
@seanyesmunt should we leave this open until we can find out a more automated process to run the commands? Or open a new issue for that?

[2018-05-01 02:06] seanyesmunt commented on #1382
Lets just keep this one open

[2018-05-01 14:49] IGassmann commented on #1192
The solution has to be implemented on the daemon. The daemon has to kill its children process if it's being exited.

[2018-05-01 16:35] tzarebczan commented on #1192
We are working with the daemon team to see if they can get the daemon to run as a single process. If this is the case, we can update the predesign version to the latest daemon.

The upgrade procedure would be:
1) Don't autoupgrade - close LBRY completely and download latest installer from lbry.io/get
2) Run installer manually

or (most will opt for this because they will see the message)
1) Run au

[2018-05-01 16:39] tzarebczan opened #1419 "Incompatible daemon modal missing in redesign"
## The Issue
The incompatible protocol warning modal is not showing up, you just get a blank green screen that sits on "waiting for name resolution".

https://github.com/lbryio/lbry-app/blob/95a85300dcbc5b5ed96e5f9dd8f5f3c67da147b2/src/renderer/modal/modalIncompatibleDaemon/view.jsx

### Steps to Reproduce
1. Insert 19.2 daemon into [resources/static/daemon directory](https://lbry.io/faq/lbry-dire

[2018-05-01 17:11] kauffj commented on #1330
Please also add a section that explains lbryio/lbry-redux and suggested workflow for making redux changes.

[2018-05-01 19:31] kauffj commented on #909
@miikkatu CORS change is merged if you want to test this in app. Feel free to spam the endpoint, they only come to a few people and they'll be aware. (@finer9 @tzarebczan)

[2018-05-01 19:48] tzarebczan opened #1421 "Re-enable tip modifier for claims"
## The Issue
Prior to the redesign, the tip function invoked a special modifier in the URL, i.e. lbry://sean-hannity-has-real-estate-holdings-in?tab=tip. This was useful because we could hyperlink users directly to a tip page of a claim or channel.

When you go to the tip page int he redesign, the URL does not show this modifier nor does entering the modifier in the navigation bar work (it turns i

[2018-05-02 13:46] tzarebczan commented on #1192
Did a little more digging - went back to 0.21.2 to perform in-app upgrades and it looks like we have a different issue. When upgrading in app, you get 2 prompts to run the installer, one after another. If you wait for a few seconds after the first to click proceed on the 2nd, then you end up in a situation where LBRY is killed but the daemon is left running. Still not sure why there are 2 UAC prom

[2018-05-02 13:55] tzarebczan opened #1423 "In-app upgrade runs installer twice on Windows"
## The Issue
Based on findings in https://github.com/lbryio/lbry-app/issues/1192#issuecomment-385983017, when using the "Use it now" option, Windows kicks off the installation twice. If a user clicks through it quickly enough, the installation goes according to plan (which means the daemon is closed and upgraded as well!). If you wait a few seconds on the 2nd prompt, the first installer is already

[2018-05-02 14:51] tzarebczan commented on #909
Hmm, @maximest-pierre any thoughts? It was merged here: https://github.com/lbryio/lbry.io/pull/525

[2018-05-02 14:53] maximest-pierre commented on #909
Yes it was merge, I look at it quickly this morning. Both GET and POST header shows that its enabled.

[2018-05-02 15:06] #1366 closed

[2018-05-02 15:06] maximest-pierre commented on #909
Is it still a 405 error or is it a 301 error now. @miikkatu

[2018-05-02 15:10] miikkatu commented on #909
@maximest-pierre 405, just like before (screenshot above).

[2018-05-02 15:19] maximest-pierre commented on #909
Can you open a PR with your current code so I can recreate your error.

[2018-05-02 15:32] miikkatu commented on #909
@maximest-pierre PR opened. The fetch request code is in src/renderer/page/reportcontent/view.jsx. Hopefully you can recreate the error and find out what's going on. 🙂

[2018-05-02 16:06] shamoons commented on #1393
What is considered a `channel`?

[2018-05-02 16:10] tzarebczan commented on #1393
@shamoons anything with an @ infront of it. You'll notice them on the discover page, show page and in other parts of the app. If there is no channel, it will show anonymous.

[2018-05-02 16:16] seanyesmunt commented on #1396
https://github.com/lbryio/lbry-app/pull/1424, changes the subscriptions page a fair bit.

I think a another solution is to add two views: one will be a list of cards similar to the cards on the "your downloads" (this is what 1424 does), and another will be a table view listing all of your subscriptions. We can add the subscription button to this view. I'm going to close this and create a more deta

[2018-05-02 16:19] seanyesmunt commented on #1396
It will be similar to this https://github.com/lbryio/lbry-app/issues/1394, but there will be separate options for the subscriptions view.

[2018-05-02 16:25] seanyesmunt commented on #1393
Possibly we could wrap anything we want to have a hover message in a custom comopent

[code]

[2018-05-02 17:50] LavRadis opened #1427 ""PRICE" text is visible when content thumbnail has not loaded yet"
## The Issue

When the app is loading and/or content thumbnails with actual price information have not loaded yet you can see the "PRICE" text in the top right corner of each content field. It just looks bad when you see a bunch of empty squares and PRICE displayed all over the screen.

### Steps to Reproduce
1. You can see it while the thumbnails are loading in any app section
2.
3.

### Expected

[2018-05-02 18:29] LavRadis opened #1428 "New Search/Address bar could be confusing for new users"
## The Issue
New unified search and address bar could be confusing for new users since it only has helper text (and icon) related to search functionality.

### Suggested Solutions
Improve the helper text and possibly change the icon. Text should make clear that the lbry:// address should be entered. Something like:  "Enter LBRY URL here or search..."

- LBRY Daemon version: 0.19.1
- LBRY App versi

[2018-05-02 18:52] ICTman1076 opened #1429 "Security should be more aggressive on Access Token."
## The Issue

Security on the new LBRY app is, in my opinion, too tame, and allows people to get fooled by scammers/attackers easily. In this issue I will outline what happens at the moment, and what I think should happen.

This is one of two issues submitted that are linked. This one is related to the access token. The other is issue #1430.

### Steps to Reproduce
1. On menu bar, click help.
2. S

[2018-05-02 18:58] ICTman1076 opened #1430 "Security should be more aggressive on DevTools."
## The Issue

Security on the new LBRY app is, in my opinion, too tame, and allows people to get fooled by scammers/attackers easily. In this issue I will outline what happens at the moment, and what I think should happen.

This is one of two issues submitted that are linked. This one is related to the DevTools. The other is issue #1429.

### Steps to Reproduce

1. In the app, press Ctrl-Shift-I
2

[2018-05-02 19:41] ceoger commented on #1395
The arrow keys up and down to navigate through options or menus
TAB key to switch main menus like wallet, libray, help etc... and also to select individual videos enter key to play the highlighted video by the tab key, space bar to pause and play, in-video control,  left arrow key to forward 10 seconds and vice versa

[2018-05-02 23:08] kauffj commented on #1429
While I don't disagree with the principle/idea, this access token just lets you earn rewards on behalf of a user. It does not grant wallet access.

[2018-05-02 23:09] kauffj commented on #1430
Thanks @ICTman1076 this is a great idea! If you have any interest in completing this yourself, we'd be happy to bounty.

[2018-05-03 02:02] tzarebczan commented on #1428
It also shows lbry:// when typing a word, but new users may not know this is a LBRY URL.

[2018-05-03 02:03] tzarebczan commented on #1427
Thanks for filing this, looks like @miikkatu already put a fix in :)

[2018-05-03 13:26] tzarebczan opened #1433 "Use channel id instead of name when publishing"
## The Issue
In order to allow channel + claim creation in the same block, we should be using the channel id instead of the channel name when publishing with channel data. See syntax: https://lbryio.github.io/lbry/cli/#publish

See comments here: https://github.com/lbryio/lbry/issues/893#issuecomment-386050685

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation

[2018-05-03 13:42] kauffj commented on #1433
@tzarebczan you could also try this

[2018-05-03 19:15] jamesbiller opened #1435 "Add ''Are you sure you want to delete these files from your computer? They were on your hard drive before you uploaded them to the network.' Warning"
If I upload a file to the network and later want to remove my claim I'm asked if I want to remove the file from my computer.

If I'm the one who uploaded the file it makes sense that I should be reminded clicking 'remove this file from my computer' I'm trashing a file that was on my computer before I ever opened the LBRY app.

[2018-05-03 21:18] tzarebczan commented on #1231
Closing for now, it's currently working as expected.

[2018-05-03 21:18] #1231 closed

[2018-05-03 21:27] tzarebczan commented on #1280
Not happening anymore - most likely a snackbar issue.

[2018-05-03 21:27] #1280 closed

[2018-05-03 21:29] tzarebczan commented on #1283
Happening subscription page too.

[2018-05-03 23:10] nikooo777 commented on #1419
i noticed that when you claim a reward you don't get a popup anymore, nothing at all happens. could this be related?

[2018-05-03 23:14] nikooo777 opened #1436 "Claiming a reward doesn't trigger a visual feedback"
## The Issue
In the new app, when a reward is claimed nothing happens. You get the reward and it eventually shows up on your balance, but you don't get a popup or anything indicating that everything went well.
### Steps to Reproduce
1. Run app
2. Get a reward
3. Watch nothing happen

### Expected Behaviour
A popup or something should inform the user about the claimed reward

### Actual Behaviour
N

[2018-05-03 23:16] tzarebczan commented on #1419
There is only a popup for the first reward, which is also broken. Other rewards havr snack bars that disappear... Can you double check?

[2018-05-04 13:00] tzarebczan opened #1437 "Add "Beta" subscript to LBRY startup screen"
## The Issue
There was a discussion about adding "Beta" next to LBRY in certain logos/areas of the app.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-05-04 13:02] tzarebczan commented on #1298
Currently getting:
[code]
[code]

[2018-05-04 13:17] kauffj commented on #1298
@tzarebczan I got this yesterday as well. My daemon did not have an `allowed_origin` setting at all. It worked if `allowed_origin` was `*`.

The relevant daemon side check is here https://github.com/lbryio/lbry/blob/master/lbrynet/daemon/auth/server.py#L398

We need to figure out if the daemon just needs to provide a default setting or if the app needs to change this setting at install time.

[2018-05-04 14:42] tzarebczan commented on #1436
Can confirm this is happening to me as well. Besides this problem, I often run into an issue where I won't get any snackbars (not even for copying addresses) until the app is restarted. Another user reported not being able to click the delete button on a video either (until restarted).

[2018-05-04 15:30] tzarebczan commented on #1436
could be related:
[code]

[2018-05-04 15:42] tzarebczan commented on #1179
@btzr-io have you checked out https://github.com/mdx-js/mdx ? @seanyesmunt recently brought it up.

[2018-05-04 18:29] #1379 closed

[2018-05-04 22:44] btzr-io commented on #1179
@tzarebczan  https://github.com/mapbox/remark-react

[2018-05-04 23:08] #1055 closed

[2018-05-04 23:14] #1417 closed

[2018-05-05 18:33] LavRadis commented on #1436
yes, I reported this issue several times and the delete button issue.

[2018-05-06 18:30] LeRatton opened #1439 "Large Images Won't Load Entirely The First Time"
Portrait Style Images Won't Load Entirely
- I uploaded some pictures to my @Danielo channel using Spee.ch. Some pictures were portrait style with the height length longer than the width. These pictures load 100% when viewed on Spee.ch but won't load completely when viewed on the LBRY app for the first time. The images then show 100% after going back out of the Lightbox to the root and viewing the

[2018-05-07 05:36] btzr-io opened #1442 "Confirmation for external links"
## The Issue

Once https://github.com/lbryio/lbry-app/pull/1441 is merged external links on description would be more noticeable and easy to click, so we should add a confirmation modal to let the user know the danger of `phishing` attacks.

### Steps to Reproduce
1. Go to a claim page.
2. Click a link on the description.

### Expected Behaviour
Confirmation modal:

### Actual Behaviour
Nothing...

[2018-05-07 09:05] ICTman1076 opened #1443 "Prices tag not working properly before download, I guess? Idk what the problem is, but it's urgent."
## The Issue
I spent 10 LBC on something that purported to be free on Community Top Bids. https://ictman.tk/img/070518_04-58-41.png

### Steps to Reproduce
idk whether it's reproducible, but here's what I did
1. Download lbry://four from the community bids section. Note that it's tagged to be "free".
2. Realise with shock 10 LBC has been taken from your account
3. Go into your downloads section, a

[2018-05-07 13:03] kauffj commented on #1442
Great idea @btzr-io!

[2018-05-07 15:53] tzarebczan commented on #1386
@seanyesmunt let's try to get this out today/tomorrow. I'll do some final testing on 0.19.3 to make sure nothing broke. If the https://github.com/lbryio/lbry-app/issues/1381 / button spacing issue is a quick fix, let's try to get that in as well.

[2018-05-07 16:16] tzarebczan commented on #1298
@kauffj spoke to @IGassmann last week and he said it should be done from the app side. @IGassmann, is setting allowed_origin to * the correct way to implement this?

This also happens in non-dev mode as well.

[2018-05-07 16:58] tzarebczan commented on #1433
@seanyesmunt @kauffj I did take a brief look into it and it would require redux changes post redesign, which means re-work required pre-redesign. @seanyesmunt let me know and I can walk you through it, maybe there's an easier way, but I didn't see the channel id as an available field (I could be mistaken though).

[2018-05-07 18:36] tzarebczan opened #1454 "Autocomplete search results - show URLs as direct input in live search"
## The Issue
Spoke to @seanyesmunt about this last week - when we return autocomplete results, the returned URLs are not shown as direct URLs, but rather as search terms.

Lighthouse discusison on autocompelte search results: https://github.com/lbryio/lighthouse/issues/55#issuecomment-387094505

### Steps to Reproduce
1. Type in "url" in search bar
2. Notice first search result is a URL, but it ta

[2018-05-07 19:35] tzarebczan commented on #600
This might be fixed after https://github.com/lbryio/lbry-app/issues/693 changes, will confirm.

[2018-05-07 20:51] #792 closed

[2018-05-08 05:02] #1005 closed

[2018-05-08 08:31] ceoger commented on #1435
hi, james, how exactly did you generate this warning? can you please provide a screenshot and steps to generated this warning? so that we can be of assistance. Because from what you saying, i do not get that kind of warning when i am revoke my claim. i included a screenshot of the message i get.
![claim](https://user-images.githubusercontent.com/38915222/39746498-0305e180-529a-11e8-904a-c24baeef26

[2018-05-08 08:51] ceoger commented on #1258
well, i think a refresh feature on the transaction history page could be handy, so you'll just have to click a button to refresh the page whiles you await for transaction to be updated without having to leave the page

[2018-05-08 12:30] tzarebczan commented on #1392
closed by https://github.com/lbryio/lbry-app/pull/1420

[2018-05-08 12:31] tzarebczan commented on #1193
Closed by https://github.com/lbryio/lbry-app/pull/1420

[2018-05-08 13:16] tzarebczan commented on #1400
Devs should run `git remote set-url origin https://github.com/lbryio/lbry-desktop.git` (or ssh URL)

https://help.github.com/articles/renaming-a-repository/

[2018-05-08 13:38] tzarebczan commented on #1442
@btzr-io would this be an issue you want to work on?

How's this sound?
"This link leads to an external website. LBRY Inc is not responsible for its content, click OK to proceed at your own risk."

[2018-05-08 22:34] kauffj commented on #1298
@tzarebczan please get issues created app side.

More importantly, the sprint and release process needs to better handle this and this should be discussed in an upcoming retrospective (@jackrobison @lyoshenka @eukreign). If a daemon upgrade requires all apps using it to change their behavior in how they call it, this ought to be extremely prominently mentioned in release notes, and we ought to be

[2018-05-09 01:20] tzarebczan opened #1456 "Can type in unfocused fields while publishing without selecting file"
## The Issue
When going to the publish screen, the select file area is in focus and the rest of the screen is grayed out, but you can still go into most of the fields and type (blocked from Title/thumbnail, but rest work, even dropdowns). If we intend to force users to select a file first, we should not allow typing anywhere else on the publish form.

### Steps to Reproduce
1. Click publish, don't

[2018-05-09 12:43] kauffj commented on #1456
Test tab selection too

On Tue, May 8, 2018, 9:20 PM Thomas Zarebczan <notifications@github.com>
wrote:

[2018-05-09 14:51] ceoger opened #1457 "expected to see the search results again after clicking the back from the app browser"
## The Issue
after searching for a content, I sometimes multiple results, maybe i am not sure which is what i want, so i try to open the content, when i find out it's the wrong one and i try going back, it shows no results for the item i searched which i previously had results for:
.....................
My take: when we get the search results, we should be able to go back to that same results when

[2018-05-09 14:55] tzarebczan commented on #1457
Great find and suggestion, thanks for filing! Tip sent on Discord.

[2018-05-09 15:01] tzarebczan commented on #1439
@LeRatton good find and thanks for filing!  Can confirm this is also happening on the pre-redesign version.

[2018-05-09 15:19] tzarebczan commented on #1419
This is what I'm seeing in console on Master now:
[code]

[2018-05-09 17:53] tzarebczan opened #1458 "Dev mode, cannot play certain file types"
## The Issue
Originally reported by @akinwale - the app is not able to play certain file types when running in dev mode. We confirmed this is the issue with MP3s, not sure where else it might apply. Playing an mp4 works fine.

The request URL in dev mode: Request URL:http://localhost:9080/home/tom/Documents/01%20Enter%20(Intro).mp3

regular mode: Request URL:file:///home/tom/Documents/01%20Enter%2

[2018-05-09 20:21] ceoger opened #1462 "(OLD APP DESIGN) Unable to remove download whiles playing a content and no prompt as to why or what to do"
## The Issue
(OLD APP DESIGN applies only to the old app design)
 you cannot remove the download whiles still playing the video. if this is intentional, then there should be some warning message at least for the user to know that, video is in play and cannot be removed, but instead nothing happens and the video keeps playing and the file keeps downloading, and when you click the remove it'll just

[2018-05-09 20:44] ceoger commented on #1462
This issue was in inference to the old app, the new app design seems to have settled this and hence closing the issue....

[2018-05-09 20:44] #1462 closed

[2018-05-09 21:47] ceoger opened #1463 "double click to full screen would be a nice feature"
## The Issue
a click plays a video, and another click pauses the video, so double click pauses and plays instead of opening full screen, same issue with the pre-design

### Steps to Reproduce
1. Play any video
2. Double click
3. video will pause and resume

### Expected Behaviour
double click should open full screen mode
### Actual Behaviour
 instead it pauses and plays

### Suggested Solutions
do

[2018-05-09 22:53] tzarebczan opened #1466 "Rewards look grayed out"
## The Issue
This happened to myself and a community member last week and just recently for @nikooo777 , see below. It's not currently happening and not sure how to reproduce.

me:
![screenshot-2018-5-4 drafts 49 - thomas zarebczan gmail com - gmail](https://user-images.githubusercontent.com/8120721/39843666-16aa3d28-53ba-11e8-88b8-679b573ee585.png)
Niko:
![niko](https://scrn.storni.info/2018-05-0

[2018-05-10 04:35] #1407 closed

[2018-05-10 04:35] #1436 closed

[2018-05-10 04:36] #1193 closed

[2018-05-10 04:38] seanyesmunt commented on #1387
Will be fixed by https://github.com/lbryio/lbry-app/pull/1424

[2018-05-10 12:49] Postizdev opened #1468 "LBRY's Payment Claim Feature Unclear"
First issue:
When you are uploading a video, getting your own username or getting your own url, it is unclear the bare minimum next to 0 you can deposit to claim either of these features within the app (thanks to @jiggytom at discord for putting this on his radar)

It would be nice if you could make it clear that the bare minimum is 0.0001 LTC as people would be turned away if they feel the would

[2018-05-10 13:07] tzarebczan commented on #1468
Thanks for opening the issue and the suggestions! Sent you a tip and reply on Discord:  In the redesign the min will be changed to 0.1  by default and there is a link to the naming FAQ which explains the rest. And we'll get a link to the publish guide which speaks to formatting. Users can really publish any format they want, they can always be opened externally (so we don't want to discourage uplo

[2018-05-10 13:07] #1468 closed

[2018-05-10 17:28] btzr-io commented on #1377
@LavRadis here is the demo:
https://btzr-io.github.io/comic_book_reader/#/reader

[2018-05-10 17:30] LavRadis commented on #1377
@btzr-io I've tested it and it works great!

[2018-05-10 19:53] jsigwart commented on #1457
I noticed this as well and was going to file an issue for it. There is no back button for search, which is what I'd like to see. I end up going to the home page after viewing a search result, instead of going back to the search results. Also still want more than 10 search results but that's another ticket.

[2018-05-10 20:11] tzarebczan commented on #1386
Done, https://github.com/lbryio/lbry-app/releases/tag/v0.21.4

[2018-05-10 20:11] #1386 closed

[2018-05-10 20:12] tzarebczan commented on #1463
Thanks for submitting @ceoger, sent you some LBC on Discord for the suggestion! We'll need to explore the media player to see if this is possible.

[2018-05-10 20:16] tzarebczan commented on #1456
@seanyesmunt another thing to consider is that we still rely on the Publish screen for the channel creation process, which is now even more hidden because you need to select a file first (what if I want to create a channel without publishing? )

[2018-05-10 21:07] tzarebczan commented on #1192
Opened https://github.com/electron-userland/electron-builder/issues/2894

[2018-05-10 23:08] ceoger opened #1470 "Right Click Anywhere On The App Interface And You Get Cut, Copy Paste(add select all option to context menu for search bar)"
## The Issue
i get 3 options, cut, copy and paste by right clicking on any where on the app interface, the paste pastes nothing even if there is a content on the clipboard, copy copies nothing and so does cut, how ever all three options works in the search area
### Steps to Reproduce
1. Right Click anywhere on the screen and you get these options
2. Copy or cut and nothing copies or cut,
3. If you

[2018-05-10 23:26] ceoger opened #1471 "No Content Found While Channel Is Loading"
## The Issue
No Content Found While Channel Is Loading
### Steps to Reproduce
1. Open Any channel
2. Wait while it's loading
3. You get a message no content found, and in a moment the contents will be showing, load is very sow

### Expected Behaviour
At least "please wait" or "loading" is a good assurance

### Actual Behaviour
Instead, you get a message no content found whiles content maybe loadin

[2018-05-10 23:34] ceoger opened #1472 ""No Content Found" When Navigating Through Video Contents By Page Using The Page List"
## The Issue

So i go to subscriptions, and click on a channel name, this channel has about 108 videos, i then try to navigate to the numbers one by one, like 104 then i click 104, 106 like that, and when i keep selecting the numbers and shows no results.

This happens when I keep navigating through the numbers a little faster, it takes a little while to load, and this happens often when i do not

[2018-05-11 00:01] tiger5226 commented on #635
I think I just ran into this issue with the latest app version released today.
<img width="1151" alt="screen shot 2018-05-10 at 7 55 25 pm" src="https://user-images.githubusercontent.com/3402064/39899890-553f443e-548c-11e8-90fe-e81bb1b800f2.png">

The video downloaded, and I received the confirmation popup, so I switched back to the app and it was stuck on getting metadata. I went to the discovery

[2018-05-11 08:32] namujan78 opened #1474 "Display of movie items is not correct when remove it after download movie."
## The Issue
Display of movie items is not correct when remove it after download movie.

### Steps to Reproduce
1. Go to any movie and remember it (ex MOVIE_03)
2. Click DOWNLOAD
3. Wait until there is some download progress (10%, 20%... COMPLETE)
4. Click REMOVE button
5. Tick on check box: Delete this file from my computer
6. Click REMOVE button to confirm remove

### Expected Behaviour
Go back

[2018-05-11 18:17] #584 closed

[2018-05-14 13:44] tzarebczan commented on #1471
@ceoger can you provide a screenshot or more details of when this happens? Is it when you access new channels?

Are you talking about the screen that shows before it says "fetching content"? I don't see a message about no content found

[2018-05-14 13:47] tzarebczan commented on #1474
@namujan78 thanks for filing, this is most likely a timing issue related to https://github.com/lbryio/lbry/issues/1199 . Not much we can do about it on the app side for now, but will keep this issue open for tracking.

[2018-05-14 16:26] seanyesmunt commented on #1404
Working on this

[2018-05-14 19:06] tzarebczan commented on #1065
@seanyesmunt was everything completed in https://github.com/lbryio/internal-apis/pull/314 ? Can we close this?

[2018-05-14 19:10] tzarebczan commented on #1433
@daovist Maybe you want to take a look at this one? I can explain to you what's happen now vs how we want it to work.

[2018-05-14 19:11] tzarebczan commented on #1329
@daovist this could be another one to take a look at.  Epic is here: https://github.com/lbryio/lbry-app/issues/1328

[2018-05-14 19:27] seanyesmunt commented on #1065
Yes that can be closed.

On Mon, May 14, 2018, 3:06 PM Thomas Zarebczan <notifications@github.com>
wrote:

[2018-05-15 03:06] astrolope commented on #907
Hello!

I just forked and was looking through how the Wunderbar is rendered in relation to the downloads / published file lists.

Would you only want the files to be searchable from their respective pages? Or, include the results in the auto-suggestion box. Also, should the rendered lists be filterable as a result of the search if you were on one of those pages?

[2018-05-15 03:15] tzarebczan commented on #907
Hey @astrolope, welcome to the LBRY GitHub! Have you run the current redesign version from master? The search now includes results from Downloads, but does not go into Publishes. There might be enough room after Downloads to also show search results from Publishes, or we could includes both downloads/publishes in the single column. Maybe @seanyesmunt has some thoughts here.

Looking forward to you

[2018-05-15 04:05] seanyesmunt commented on #1330
https://github.com/lbryio/lbry-app/pull/1476

[2018-05-15 05:48] ceoger commented on #1334
this is the max resize that the app adapts, does not resize any further, can it be a little more smaller? this was obtained on a 1920x1080 Res, screenshot below:

https://cdn.discordapp.com/attachments/377895389992321064/445811902178787328/sz.JPG

[2018-05-15 12:59] #1392 closed

[2018-05-15 13:04] tzarebczan commented on #1403
Sounds like this is the behavior on Windows, but not Linux (not sure about Mac).

[2018-05-15 13:30] ceoger opened #1478 "price cutting off for paid contents"
## The Issue
during confirmation to pay to access the content, sometimes the "lbc" is separated from the amount making it barely unreadable
### Steps to Reproduce
1. look for a paid content
2. Try paying to access the cotent
3. The confirmation message comes up and the price cuts off

### Expected Behaviour
the LBC + Amount should be together

### Actual Behaviour
price cuts off

### Suggested Sol

[2018-05-15 13:38] tzarebczan commented on #1478
Thanks for filing this, good find. I did run across the same issue last week.

[2018-05-15 13:44] ceoger opened #1479 "two videos uses same url"
## The Issue
tried palying a video on the windows app, when i search the same video name, on my linux app, i got another video
### Steps to Reproduce
1. video url: lbry://four
2. At the time of filing this issue, one of the videos was accessed from the discovery and the other by search.
3. Once found, search the video again with the url

### Expected Behaviour

you should get the same video

### A

[2018-05-15 13:48] ceoger commented on #1479
seems this issue is due to timing, i have reconfirmed and i am getting same video from one url and two platforms hence closing issue...!!

[2018-05-15 13:48] #1479 closed

[2018-05-15 15:11] dan1d commented on #1466
Hi @tzarebczan

Currently I have an that I can  reproduce this bug, I see the rewards cards greyed out.
I've figured what's the issue but I'm not entirely sure what's the best approach to fix this:
on this file  `src/renderer/page/rewards/view.jsx`
[code]

So then why I can claim rewards if I'm not elegible?, I think  there is a header notice to let me know what's going on, on the same file the me

[2018-05-15 15:14] daovist commented on #1433
I am working on this issue.

[2018-05-15 15:32] tzarebczan commented on #1466
@dan1d great work on the debugging! I'm pretty sure we want to use user.is_reward_approved instead of is_identity_verified to check for rewards eligibility. is_identity verified only applies to the credit card verification method, but we also have phone verification, youtube, and manual overrides - all of which are encompassed under is_reward_approved.

[2018-05-15 15:33] #1423 closed

[2018-05-15 16:33] astrolope commented on #907
@tzarebczan, thanks for the welcome! Are you referring to the latest updates on the master branch correct? If so, yes. I ran a search for something I downloaded and it listed itself twice in the auto-suggestion box, so that must be the addition of the searchable downloads. Perhaps some text or creating a divider to indicate that it's an already downloaded/published file and available locally? If t

[2018-05-15 17:27] tzarebczan commented on #907
@astrolope not sure if the duplicate was coming from downloads, it could be related to something else (the autocomplete results themselves).

After entering your search term, select the first item (which is the search term -search) - this will take you to a search page - that's what I was referring to.

[2018-05-15 19:34] #1466 closed

[2018-05-15 21:57] tzarebczan commented on #1317
@btzr-io will you be working on this?

[2018-05-15 23:32] kauffj commented on #1329
@daovist this is a strong candidate to knock out. Likely only a few hours work.

@tzarebczan I'm tagging this release blocker as I don't want to have to wait another month to be able to create new rewards without waiting on app releases.

[2018-05-15 23:34] dan1d commented on #1466
@tzarebczan  Thanks for the clarification, I've pushed my fix and was already merged :+1:

[2018-05-16 02:40] seanyesmunt commented on #1454
working on this

[2018-05-16 03:11] seanyesmunt commented on #1454
Will be fixed with https://github.com/lbryio/lbry-redux/pull/25

[2018-05-16 14:57] seanyesmunt commented on #1405
Should be fixed

[2018-05-16 14:59] #1454 closed

[2018-05-16 15:07] #738 closed

[2018-05-16 15:10] #931 closed

[2018-05-16 16:52] tzarebczan opened #1485 "watch script for redux changes"
## The Issue
Currently when developing in the LBRY app and making redux changes, redux needs to be rebuilt and the app needs to be refreshed manually in order to see changes.

One proposed solution would be some type of watch script that could handle this scenario and automatically perform the necessary actions in order to see the most recent changes.

## System Configuration

- LBRY Daemon versio

[2018-05-16 19:30] #1398 closed

[2018-05-16 21:10] astrolope commented on #1409
I'd like to open this one up with a couple questions.

Which 3D file types are currently capable of being uploaded? All?
Currently Three.JS handles all of these model types listed below, however, each one needs a separate loader script to parse the various metadata associated with each 3D model.
Some model types can also contain texture data would you want to support this or render to a default te

[2018-05-16 21:44] #1419 closed

[2018-05-16 21:48] #1257 closed

[2018-05-16 21:48] #1264 closed

[2018-05-16 21:48] #1406 closed

[2018-05-16 21:48] #1404 closed

[2018-05-16 21:49] #1478 closed

[2018-05-16 21:50] #1387 closed

[2018-05-16 21:53] eukreign opened #1487 "DHT Interactive Visualizer"
Implement an interactive visualizer for DHT.

[2018-05-16 22:00] #1405 closed

[2018-05-16 22:19] tzarebczan opened #1488 "Snackbars randomly stop working / can't delete content"
## The Issue
I've run into this a few times and @daovist recently did as well: snackbar notificiations cease to work. Easiest place to test if the wallet send/receive page by sending yourself credits. Refreshing the app fixes it. Not sure how to reproduce.

Another user had reported something similar on the show page - he was unable to click the delete button (could click, but not action), until a

[2018-05-16 22:25] seanyesmunt commented on #907
Hey @astrolope!

All of the search redux code lives in `lbry-redux`. I think adding autocomplete suggestions from downloads would be great, and your solution sounds like it's going in the right direction. I know an additional change I would like to make is to concat all of the file "parts" (author, description, title) into one string and perform a regex search on it, which would allow partial matc

[2018-05-16 22:31] seanyesmunt opened #1489 "Download search only works for full word matches, it should work for partial string matches too"
## The Issue
To see a downloaded file, I need to type one full word that matches a piece of metadata for that file.

### Steps to Reproduce
1. Download a file, ex: lbry://iconoclasts-review-the-wrench-of-freedom#2b4a3ee4d865c66e6f2545a74c0f21f0ac02d0f3
2. Search for "icono" and notice it doesn't match
3. "iconoclats" does work

### Expected Behaviour
It should find files from partial string matche

[2018-05-16 22:32] seanyesmunt commented on #907
Made a separate issue for what I was talking about https://github.com/lbryio/lbry-app/issues/1489

[2018-05-16 23:28] kauffj commented on #1488
@tzarebczan @daovist dumping relevant and/or all Redux state once this happens may be helpful to debugging this.

[2018-05-17 01:14] jamesbiller commented on #1409
Hey astrolope,

I appreciate you reaching out!

Let’s start with STL and OBJ for now.

Currently all I’ve uploaded to LBRY is STL, but technically it should work for all file types.

We can plan on making the file viewer available for the other file types later. However, OBJ is also popular so we’ll include that one too.

Ideally we would support 100MB for the files, as some can get pretty huge.

[2018-05-17 02:52] seanyesmunt commented on #1358
Changing to remove the channel name fixes it. Ideally this should have the channel name in it though.

[2018-05-17 15:19] jamesbiller commented on #592
@kauffj @daovist

I had a couple of content creators tell me that they were confused about how to upload an image.

Having a button that takes them to spee.ch (or eventually spee.ch integration) would be fantastic.

Something like:

 1. "Upload your image here to create a URL" > Spee.ch Button (Do we want to include Imgur button when spee.ch is down?)

2. "Copy & Paste the URL here to embed the im

[2018-05-17 15:25] tzarebczan commented on #592
@jamesbiller this is already a work in progress on https://github.com/lbryio/lbry-app/pull/1248 - they will be able to upload to spee.ch directly from the app. Does not include an imgur fallback option - not sure that's something we want to have.

[2018-05-17 16:03] tzarebczan commented on #635
@tiger5226 that one, in particular, is seeing the console error below. I'll check with the creator to see how it was exported/encoded. It does play within chrome though. Looks like it's a different render media issue as it also does not play when uploading to instant.io (which uses the same plugin).

@kauffj - please see https://github.com/feross/render-media/issues/31 ... do we want to pursue hel

[2018-05-17 16:11] seanyesmunt commented on #1388
starting on this

[2018-05-17 18:06] kauffj commented on #635
@tzarebczan I'd be happy to do so. Will message you on Slack.

[2018-05-17 18:31] kauffj commented on #592
I definitely want to get #1248 finished and merged. And even with #1248 both options will exist, spee.ch will never be mandatory to use.

However, we are likely to add the ability to use spee.ch even if we're not at 99% reliability. Part of the reason we push/dogfood spee.ch is to help get it to 100%.

[2018-05-17 23:06] tzarebczan commented on #1488
Found the root cause - it's the rewards snackbar that's missing display type, which causes the rest of the notifications to get backed up. Thanks @seanyesmunt for showing me how to debug this!

@daovist did you run into this during your reward changes/testing? Sent you a DM on Slack

https://www.screencast.com/t/TwAaDv1f7

[2018-05-17 23:25] nikooo777 commented on #900
hasn't resurfaced anymore. Closing this. If it happens again please reopen

[2018-05-17 23:25] #900 closed

[2018-05-17 23:43] astrolope commented on #1409
I need to get the sizing, lighting, and the orbit controls hi-jack the scroll functionality of the page. But here is a quick rough screenshot of the prototype viewer I put together after our phone call today.
![screenshot 2018-05-17 16 42 11](https://user-images.githubusercontent.com/6117232/40208963-78bb3b2e-59f1-11e8-963e-b462c4e95565.png)

[2018-05-17 23:51] astrolope commented on #907
Hey @seanyesmunt

Thanks for reaching out and detailing how you would like this to get put together. I agree that the partial matches is something that should be addressed. Cleaning up that matching function will make query matcher a bit easier to read as well. :) I also agree that this is definitely a level 3 issue and I'll have to take a little more time to familiarize myself with the app and th

[2018-05-18 02:11] seanyesmunt commented on #907
Sounds good! Definitely let me know if you do!

[2018-05-18 03:31] seanyesmunt opened #1491 "yarn dev:offline - Stub lbry data and allow the app to run offline for dev"
This definitely issn't a pressing issue but it's something I've thought about for a while and it would be really nice (ex: wanting to do dev on a plane)

This would involve stubbing all the lbry calls, so I think most of it would go inside `lbry-redux`

Not really sure what kind of changes would be necessary, and ideally it wouldn't change the code very much.

[2018-05-18 14:28] jamesbiller commented on #1409
Hey Garrett,

This looks great.

How hard one would it be to let people choose the color that it shows up in?

Like in the case of the Bitcoin sign I just realized it would be best to
have it show up in Gold because that's the color most people would print it
in.

Would this require a lot more work?

If so the green color that your working with now is probably fine, although
it would be nice to se

[2018-05-18 14:29] jamesbiller commented on #1409
that you're* working with

On Fri, May 18, 2018 at 10:28 AM, James Biller <james@lbry.io> wrote:

--
James Biller
Marketing Intern, LBRY Inc.

[2018-05-18 15:14] tzarebczan commented on #1298
@jackrobison / @lyoshenka will be looking into this from the daemon side to ensure it's implemented properly.

[2018-05-18 16:59] #1065 closed

[2018-05-18 17:14] tzarebczan opened #1492 "Ability to resend verification email"
## The Issue
Possibly related to https://github.com/lbryio/lbry-app/issues/997.

If a user begins the email verification process but never completes (doesn't go into email, get verification code), there is currently no way to re-send the email besides following the manual instructions to clear their login token. If they still have the old email, they can grab the verification code, but that will t

[2018-05-18 18:32] astrolope commented on #1409
Hey James, we could create a small palette of choosable colors. It would be a little more work to put together. I can see how it would come together. The new app color is the darker gray design correct? I can add a grid as well. Do you have a particular color that you'd like it to be?

[2018-05-18 20:54] tzarebczan opened #1494 "Pass permanent URL to analytics event / output issue"
## The Issue
https://github.com/lbryio/lbry-app/blob/master/src/renderer/redux/actions/content.js#L228

Instead of passing the current uri the user is on, which could be the vanity uri or a variation with/without the channel, we should determine and pass the permanent uri as specified in the claim metadata.

I also noticed that the outpoint is being filled sporadically, not sure exactly why that i

[2018-05-18 23:05] tzarebczan opened #1495 "Search quirks on redesign"
## The Issue
If you type brightsun, you get a result for bright: https://www.screencast.com/t/jp2resG7bZjA

If you backspace out and try typing again, you end up with something like this: https://www.screencast.com/t/vvLElqTJ

Looks like something is not clearing properly and picking up other URIs as partial matches?

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Insta

[2018-05-19 00:14] tiger5226 commented on #1430
Thats an awesome warning message +1 Discord

[2018-05-20 23:15] tiger5226 opened #1496 "Search, Autocomplete gaps"
I reviewed the app redesign and how it is using auto complete. I think it might be being misused. The expectations from a user is probably the following:

- When I type, I see suggested search terms that complete my thought.
  - if I am starting with an `@` then I expect it to complete the claim name, just as in any browser that I start with `http://` or `www` and it suggests the site I am trying

[2018-05-20 23:31] tiger5226 opened #1497 "Search Page"
The search page in the redesign should be more user friendly.

<img width="1440" alt="screen shot 2018-05-20 at 7 32 17 pm" src="https://user-images.githubusercontent.com/3402064/40284999-8d544042-5c64-11e8-81c1-d8dc811af255.png">

- WAY too much blank space that is not being leveraged. The user has to scroll reach something usable.
- The images are really small and the content is cut off when the

[2018-05-21 02:16] tiger5226 commented on #871
Keeping issues together. see #761

[2018-05-21 02:16] #871 closed

[2018-05-21 02:41] tiger5226 commented on #761
We should keep this generic so that there can be a category of LBRYNet rewards for network participation. Every user of LBRYNet is assigned a randomly generated `node_id`. This id can be linked to our already anonymous/unique `auth_token` for rewards. In our current rewards system, if these two are linked we can present additional rewards for network participation. Once we have the `node_id` linke

[2018-05-21 14:47] kauffj commented on #1400
@tzarebczan poke

[2018-05-22 16:33] tzarebczan opened #1499 "Editing claim with channel - not showing as currently being edited"
## The Issue
Figure out what's going on based on this thread: https://github.com/lbryio/lbry-app/pull/1481#issuecomment-389685168

### Steps to Reproduce
1. Publish claim with a channel
2. Try to edit that claim

### Expected Behaviour
Should say claim is being edited

### Actual Behaviour
Prompts you to edit

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation

[2018-05-22 16:37] tzarebczan commented on #1496
One I the reasons we want the default the enter behavior to go to the exact claim is to showcase lbry:// URLs. Maybe we should check to see if the term entered is an actual URL before defaulting to that behavior? Otherwise, why would anyone want to go to a claim that doesn't exist (this would the 2ndary behavior if a user clicked it).

[2018-05-22 22:02] tzarebczan commented on #1400
Just renamed it! The old URL should autoredirect. Github recommends it's safer to point local repos at the updated URL, see https://github.com/lbryio/lbry-desktop/issues/1400#issuecomment-387398545.

Will follow up on fixing links in other repos and in this source.

[2018-05-23 01:02] tzarebczan commented on #1330
@seanyesmunt safe to close?

[2018-05-23 01:34] tiger5226 commented on #1496
Yeah we should be able to regex it before assuming we want to go to an exact url. Otherwise it is a search.

[2018-05-23 02:34] tzarebczan commented on #1463
Implemented in https://github.com/lbryio/lbry-app/issues/1498

[2018-05-23 02:34] #1463 closed

[2018-05-23 02:35] tzarebczan commented on #1400
Reverting back for now: api redirects aren't handled well by github, so this result fails and the app crashes when going to the Help page on Windows/Mac, and crashes on startup for Linux: https://github.com/lbryio/lbry-desktop/blob/master/src/main/index.js#L172

[2018-05-23 04:58] ceoger opened #1502 "Navigation button resulting incorrect page designation"
## The Issue
 back navigation button resulting incorrect page designation
### Steps to Reproduce
1. go to brightsunfilms channel
2.  click page 11
3. click back button
4. It shows page 1  but highlights page 11.

### Expected Behaviour
Back should take you to previous page and highlight page number

### Actual Behaviour
It shows page 1  but highlights page 11.
same for other pages, be on page 11,

[2018-05-23 05:57] tzarebczan commented on #1283
Sean added a loading indicator (which could use some text such as "loading..." or "fetching..."), but when you clear app cache and go to subscriptions, it's still missing.

[2018-05-23 13:01] tzarebczan commented on #1502
Can confirm this is a bug pre-redesign as well.

@ceoger please upload those images directly into the ticket, otherwise the links may get taken down by Discord.

Thanks again for filing, sent you some LBC on Discord!

[2018-05-23 13:05] tzarebczan commented on #1488
closed by https://github.com/lbryio/lbry-app/pull/1493

[2018-05-23 13:05] #1488 closed

[2018-05-23 13:13] ceoger commented on #1502
@tzarebczan there is no channel pages in the predesign... i double checked

[2018-05-23 13:32] tzarebczan opened #1503 "Show page quirk with certain file types when no thumbnail set"
## The Issue
I uploaded a zip file without a thumbnail, and the show page looks like this (just navigating to it, not clicking anything). This may happen with other file types, not exactly sure. It works fine when there is a thumbnail. This particular URL is : lbry://ScreenToGif12-50-45590#f8866c585e39d26f87039547e0c51b2614280eb0
![thumbbroken](https://user-images.githubusercontent.com/8120721/404

[2018-05-23 13:39] tzarebczan opened #1504 "New lines not showing correctly after markdown changes"
## The Issue
After we implemented the markdown changes, regular new lines are not showing properly because they are trying to use markdown syntax which requires 3 spaces at the end of a line, or 2 new lines.  Is it easy just to default to new lines after each line break?

See: lbry://ScreenToGif12-50-45590#f8866c585e39d26f87039547e0c51b2614280eb0

The description field is:
`"description": "no thum

[2018-05-23 16:18] tzarebczan opened #1505 "Create fallback/fix for github api lookup"
After renaming lbry-app >lbry-desktop, the github api does not redirect properly and this line fails:https://github.com/lbryio/lbry-desktop/blob/master/src/main/index.js#L172

This causes the app to crash when going to the help page that looks up version info. On Linux, it crashes on startup.

Create a fallback to the lbry-desktop URL if lbry-app fails.

[2018-05-23 16:20] tzarebczan opened #1506 "lbry-app to lbry-desktop rename"
## The Issue
See two linked issues below
## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2018-05-23 17:29] tzarebczan opened #1508 "Pending publishes out of order if publishing more than 1 item"
## The Issue
If you publish two files back to back and end up on the Publishes screen, the pending publishes will show out of order. See below
![pending publishes](https://user-images.githubusercontent.com/8120721/40440646-a0f6940e-5e8c-11e8-9087-8ff72af951d1.jpg)

Also, if the app is refreshed during a pending publish, it will show twice until it resolves. This is an edge case so don't need to sp

[2018-05-23 18:16] tzarebczan commented on #1442
Closing, working as expected based on #1441

[2018-05-23 18:16] #1442 closed

[2018-05-23 19:45] tzarebczan commented on #1427
Reopening as the PR was reverted.

[2018-05-24 03:42] #1499 closed

[2018-05-24 04:27] DaniNz opened #1512 "claim_id param missing on url when report infringing content page opens"
## The Issue
While I was downloading the video I clicked on the flag icon to report infringing content and the claim_id parameter was not in the url of the page, but in a video already downloaded when clicking on the flag icon the claim_id parameter is present on the url.

### Steps to Reproduce
1. Play a video
2. While the video still downloads click the flag icon to report infringing content
3.

[2018-05-24 12:54] daovist commented on #1457
I'm on it....

[2018-05-24 23:20] tzarebczan opened #1515 "Need to click modal confirmations twice"
## The Issue
Noticed I need to click modal confirmations twice when they pop up. First noticed when purchasing content and also on an upgrade notice.

This is on master as of 5/24

### Steps to Reproduce
1. Purchase some content (see lbry://@juggling)
2. Notice you need to click the modal confirmation twice before it disappears

## System Configuration

- LBRY Daemon version:
- LBRY App version:
-

[2018-05-24 23:22] tzarebczan opened #1516 "Subscriptions page does not show newly subscribed content / Or nothing loads"
## The Issue
Not sure exactly how to reproduce this one yet, but sometimes when you subscribe to content and then go to the subscriptions page, it does not show. It shows after refreshing the app.

The other common scenario is that you go to the subscriptions page and nothing loads, including the loading bar.

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation

[2018-05-25 05:06] #1358 closed

[2018-05-25 05:09] #1317 closed

[2018-05-25 05:09] #1403 closed

[2018-05-25 05:09] #1272 closed

[2018-05-25 05:11] seanyesmunt commented on #1388
The new tooltip is in master. It was added to the community top bids section and on the search page.

I also added it to the file page for featured content. Some work is still needed to get it on the file cards, there are some overlap issues. We can keep this open.

[2018-05-25 14:48] daovist commented on #1338
Looking into this issue, I tried editing a few files and get this error: "no source provided to publish"

[2018-05-25 14:52] seanyesmunt commented on #1515
Working on this

[2018-05-25 15:37] tzarebczan commented on #1219
Reopening..this is happening agian

[2018-05-25 16:53] tzarebczan commented on #761
@tiger5226 should this be happening in lbrynet as opposed to lbry-app? What if someone is running the daemon to host content without running the app?

[2018-05-25 17:18] tiger5226 commented on #761
Good question. I think our target for these rewards is to spread the content out so it is always available. This means users of the app seeing it and downloading it, get a reward for keeping it locally and available. I don't see why someone would run LBRYNet outside of the app, for non-commercial reasons.

 In summary I think their are two categories here, users getting rewarded and then network p

[2018-05-25 18:20] jamesbiller commented on #1409
Hey Garrett,

My apologies for not getting back to you sooner! Let's make the grid with
gray lines.

If we could do ROYGBV plus B&W that would be ideal, maybe add Brown and
Gray as well if it's not hard.

The top priorities would be Green, Blue, and White/Beige.

Can you hop on a call Monday or Tuesday next week? Let me know and we'll
set up another call.

James

On Fri, May 18, 2018 at 2:32 PM, G

[2018-05-25 19:05] tzarebczan commented on #1179
Fixed in https://github.com/lbryio/lbry-app/pull/1441

[2018-05-25 19:05] #1179 closed

[2018-05-25 19:07] tzarebczan commented on #1031
This will be fixed by: https://github.com/lbryio/lbry-app/pull/1481

[2018-05-25 19:07] #1031 closed

[2018-05-25 19:14] tzarebczan commented on #1512
@DaniNz thanks for filing this! There was actually a PR to move this capability into the LBRY app here: https://github.com/lbryio/lbry-app/pull/1425. Maybe this is something you are interested in finishing up?

I think the flag should be available even if the content was not downloaded, while still passing the claim id properly.

[2018-05-25 19:20] tzarebczan commented on #1433
Fixed in https://github.com/lbryio/lbry-app/pull/1481

[2018-05-25 19:20] #1433 closed

[2018-05-25 19:26] #858 closed

[2018-05-25 19:28] tzarebczan opened #1520 "File stuck in "pending" after publishing, refreshing causes duplicates"
## The Issue
In some cases, files get stuck in pending mode after publishing. If you refresh the app, you end up with duplicate pending publishes which sometimes resolve themselves and other times need a clearing of app cache.

One scenario where publishes get stuck in pending is after an edit. To reproduce: Publish something, wait for it to show as published. Then edit that file and publish. Now

[2018-05-25 19:59] samzeezy opened #1521 "Can't load"
## The Issue
Since updating, program freezes and shows me no videos but just the green screen. It says it loads and then goes empty.

### Steps to Reproduce
1. Download for MacOS 10.13.4
2. Open.
3. See green screen.

### Expected Behaviour
It should log me in automatically.

### Actual Behaviour
It stops loading.

### Suggested Solutions
Tell us your suggested solutions if you have any.

## Syste

[2018-05-25 20:12] tzarebczan commented on #1521
@samzeezy sorry to hear about the trouble with starting the app. Have you tried restarting your PC or killing any lbry related processes? If you continue to have trouble, send us your logfile to help@lbry.io : https://lbry.io/faq/how-to-find-lbry-log-file

[2018-05-26 02:45] tiger5226 commented on #1497
<img width="982" alt="screen shot 2018-05-25 at 10 44 16 pm" src="https://user-images.githubusercontent.com/3402064/40571787-35eeaa38-606d-11e8-98a1-159e9ef32e7c.png">

I made a few of the changes noted above. 1,2, and 3. Also added the first 3 lines of the claim description if available. #1522 is the PR.

[2018-05-26 17:43] skhameneh commented on #579
I'm on it, maybe I'll have something this weekend. 😄

[2018-05-26 18:09] skhameneh commented on #579
Notes

1. Inserting another video player with a resumed timestamp, outside of the page's DOM context, will introduce an interruption of video playback.
2. Storing DOM nodes in Redux is ill-advised.  All content within the Redux store should be fully JSON compatible.
3. Moving playback DOM nodes outside of the embedded video's containers will introduce layout complexities. (The playback elements mu

[2018-05-26 18:21] tzarebczan commented on #579
@dan1d was taking a look at this one too... Not sure if he started yet.

Old pr: https://github.com/lbryio/lbry-app/pull/585

[2018-05-26 18:48] dan1d commented on #579
Yes @tzarebczan , I'm working on it, I'll try to finish it by EOD, but I'm having troubles closing the video when another video is played, if I fix that, then I think it is good to go.

![screenshot from 2018-05-26 15-47-12](https://user-images.githubusercontent.com/3293616/40579361-15b24d94-60fc-11e8-9c2e-ff2c89235e51.png)

[2018-05-26 18:51] skhameneh commented on #579
Thanks for the heads up @tzarebczan

**Notes, last findings:**
I can move the video playback elements, without interruption (on Windows), using node manipulation.
Moving the node with `appendChild()` (removing the element manually causes an interruption) causes the video to pause.  Using a subsequent `play()` call on the video player results in **no** interruption of playback.  Because leaving the

[2018-05-26 18:57] dan1d commented on #579
ok @skhameneh, I need to cleanup my code then push, maybe you can take a look if i'm on the correct path. Will let you know when pushed

[2018-05-26 21:30] dan1d commented on #579
@skhameneh @tzarebczan [PR sent](https://github.com/lbryio/lbry-app/pull/1523), I would like to receive some feedback or any modification to the styles would be appreciated!

[2018-05-26 23:26] samdisk11 opened #1524 "Black screen on LBRY video player"
## The Issue

### Steps to Reproduce
1. Use Sony Vegas 13.0 to render a .mp4 video
2. upload MP4 to LBRY
3. attempt to view video

### Expected Behaviour
Tell us what should happen.

The video should be playing like this (example)
![image](https://user-images.githubusercontent.com/24478471/40580944-31f214ca-6111-11e8-8b66-24f6a6245482.png)

### Actual Behaviour
Tell us what happens instead.

The v

[2018-05-26 23:33] tzarebczan commented on #1524
Some codes may not be supported by the video player. Try running the mp4 through handbrake with the web optimized setting, please see https://lbry.io/publish for more info about recommended upload formats.

Can you bring up the console (ctrl shift I) and check for any errors while playing. Thanks!

The app player needs some work to support additional formats.

[2018-05-26 23:42] samdisk11 commented on #1524
it uses the codecs listed in
https://lbry.io/publish
and i used handbreak but it is still black.

[2018-05-27 16:07] kauffj commented on #1524
@tzarebczan can you try seeing if the file plays fine in other players so we can figure out of it's an encoding or player/app issue?

[2018-05-28 02:54] dan1d commented on #947
Working on this!

[2018-05-29 00:03] skhameneh commented on #1524
Hey @samdisk11 can you open your file in VLC, press `CTRL+J` and share the information?

That would be very helpful

[2018-05-29 00:23] eukreign opened #1526 "Regtest and Protocol Development Support"
It would be very helpful to the protocol team if we could use the app when developing the daemon and other components. This is currently not possible because the app requires specific versions of daemon and does not understand regtest addresses.

I've made a new branch of the app with offending code commented out, this should provide some guidance on what areas of the app need to be updated to sup

[2018-05-29 00:29] skhameneh commented on #1097
Working on this

[2018-05-29 00:30] skhameneh commented on #762
Working on this

[2018-05-29 01:39] tiger5226 commented on #230
nothing back from  @trickyhunter2017 , closing issue.

[2018-05-29 01:39] #230 closed

[2018-05-29 02:49] dan1d commented on #1384
Sorry to bother, but this one shouldn't be closed when it was merged?

[2018-05-29 13:22] tzarebczan commented on #450
This works better in the redesign, but have run into it still getting stuck in pending a few times. I think we have narrowed it down to a publish after a file is edited.

Closing this in favor of:  https://github.com/lbryio/lbry-app/issues/1520

[2018-05-29 13:22] #450 closed

[2018-05-29 16:53] jamesbiller opened #1527 "Integrate Cura (3D File Slicing) Source Code for in-app .gcode (geometric code) exporting"
When a standard 3D file type like STL or OBJ is downloaded onto a maker's computer the maker has to "slice it" using a slicing program, the most popular of which is [Cura, fortunately, their code is open source.](https://github.com/Ultimaker/Cura)

The new file type is called a .gcode

What would be awesome is if we could offer OBJ & STL file-slicing in-app so that users don't even have to go to a

[2018-05-29 19:57] #1470 closed

[2018-05-29 19:58] #1495 closed

[2018-05-29 20:05] #1330 closed

[2018-05-29 20:42] tzarebczan commented on #1526
@seanyesmunt will review and I can try to include in my patch release if the code is simple enough to cherrypick. I think we'd need some type of way to tell the app to bypass these checks for regtestmode - not sure what the easiest way of doing that.  It's one thing to disregard the daemon version but the daemon running changes would be in a different boat.

[2018-05-29 21:31] kauffj commented on #1526
This is two changes:

- Relax the daemon version check, especially outside of production
- Turn the definition of a valid address into an environment setting or something provided by the running daemon instance.

It is reasonable to expect engineers interested in running the app against test net to have to make configuration changes.

[2018-05-29 22:54] tzarebczan commented on #1524
@skhameneh see here: https://www.screencast.com/t/I2yms80Z4Yt, looks like it's in mpeg format. I tried the video on instant.io (uses our same player, and the screen is blank there too). It's probably just an unsupported codec in render-media.

Stephen reached back to out to @samdisk11 on Discord and was able to convert his file via handbrake, which resulted in a playable file within the app.

I ha