[2017-02-16 20:01] jobevers opened #2 "No URI Handling"
Currently the app doesn't do anything on `lbry://` uris.

[2017-02-16 20:03] jobevers commented on #2
See

- http://electron.atom.io/docs/api/app/#appsetasdefaultprotocolclientprotocol-path-args-macos-windows
- https://github.com/electron-userland/electron-builder/wiki/Options#Protocol

[2017-02-16 23:39] jobevers opened #3 "external links on help page don't work"

[2017-02-16 23:39] jobevers opened #4 "submit a bug doesn't work"

[2017-02-24 19:53] jobevers opened #6 "No dev tools on production environment"
Might be useful to set an environment variable and `enable` this package
https://github.com/sindresorhus/electron-debug

[2017-03-18 13:25] kauffj commented on #6
This was fixed.

[2017-03-18 13:25] #6 closed

[2017-03-18 13:26] kauffj commented on #3
This was fixed.

[2017-03-18 13:26] #3 closed

[2017-03-19 14:17] kauffj commented on #4
This appears to work now.

[2017-03-19 14:17] #4 closed

[2017-03-19 14:20] kauffj opened #18 "LBRY app does not upgrade properly on Ubuntu 16.10"
## The Issue

The upgrade process does not successfully update the installed version of LBRY app.

### Steps to reproduce
1. Run 0.9.0
2. Click "Upgrade" when the app runs
3. Watch as the updated version downloads successfully and the app closes
4. And then nothing else happens...

### Expected behaviour
At number 4 above, the app would re-open and be on 0.9.1.

### Actual behaviour
I have to re-o

[2017-03-19 14:28] kauffj opened #19 "LBRY daemon does not always launch when the app runs"
## The Issue
I've heard of this issue on Reddit and from several people on Slack, but I have not experienced it myself.

Several people report that the daemon does not launch when the app is run and that they have to launch it manually to get it to work.

### Steps to reproduce
I can't :(

### Expected behaviour
App launches daemon.

### Actual behaviour
Sometimes it doesn't, apparently.

[2017-03-22 18:10] drakythe commented on #19
I can vouch that it doesn't work for me.

MacOS 10.12.3

Hey stupid question: With the commandline version of the daemon I see python. What version of python is required for all this to run properly?

[2017-03-22 20:12] kauffj commented on #19
@drakythe installing the daemon from source is (relatively) painless:  https://github.com/lbryio/lbry/blob/master/INSTALL.md

If you're also not seeing the daemon run properly when run directly, that may explain why it is not launching when the browser runs either.

Could you share the output of why it is failing? Thank you!

[2017-03-22 20:35] drakythe commented on #19
Sure, output I get when I try to run the daemon is this:
[code]
And it just hangs there. If I force exit the script with a ctrl+c I get this
[code]

Further, if I leave it running for a bit, and then ctrl+c it I get
[code]

Which seems to indicate it reached further than the first message, but it never goes anywhere or gives any further output. And no matter how long I wait a curl against localhos

[2017-03-22 22:48] kauffj commented on #19
@drakythe Can you check your task/process manager and ensure there is not already a frozen copy running? The output seems to indicate that. Though it certainly didn't handle it cleanly.

[2017-03-23 12:52] drakythe commented on #19
@kauffj I'm not 100% sure what I'm looking for, but reviewing my Activity Monitor does not seem to indicate a running lbry process, either under that name, a Daemon name, or a python process. Can you give me the exact task I should be looking for?

[2017-03-23 21:08] kauffj commented on #19
@drakythe Sounds like probably a bug on our end. The way the app is spawning and killing the daemon process is being changed (literally by the guy sitting next to me as I type this), so let's wait until the next release and see if this is cleaned up.

[2017-03-25 11:58] lyoshenka opened #22 "Publish button gets stuck when publishing multiple files in a row"
the client gets stuck  like this regularly when trying to publish multiple files in a row. I don't know if this is a bug or if it is on my side, but I could not see why it would be on my side.

![pasted image at 2017_03_24 12_40 am](https://cloud.githubusercontent.com/assets/362784/24321979/d19dbdee-1130-11e7-9782-d34500dbb9cc.png)

Uploads are completed before I attempt another.

It only happens

[2017-03-25 12:02] lyoshenka opened #23 "Error when publishing with a bid of 0"
Also, nothing seems to happen when I click 'ok', so I have to close the app to be able to do anything.

![pasted image at 2017_03_17 12_06 am](https://cloud.githubusercontent.com/assets/362784/24321993/4b0af296-1131-11e7-8592-b5ac75e96362.png)

[2017-03-28 22:24] guytp commented on #23
Confirmed - identical response on Windows 10 x64.  Cannot click OK must kill process.

[2017-03-29 02:34] blackknight36 opened #26 "lbrynet-cli does not provide proper usage information"
## The Issue
The CLI app does not give proper usage messages when a command is issued.  There are also several tracebacks reported as shown below.

./lbrynet-cli get
Something went wrong, here's the usage for get:
{u'help': u"\nDownload stream from a LBRY name.\n\nArgs:\n    'name': (str) name to download\n    'file_name'(optional): (str) a user specified name for the downloaded file\n    'stream_

[2017-03-29 08:18] guytp opened #27 "Insufficient Funds Error When Publishing"
When trying to post a video with insufficient credits for bid the below error appears.  There are three issues with this error:

1. It is not user friendly
2. The check doesn't come back until a long time after hitting publish (I'm guessing the whole upload happens first which for a multi-GB file is a big waste of time)
3. Popup error window cannot be closed whole process must be killed (see https

[2017-03-29 15:33] lyoshenka commented on #26
Hey there. What version are you using (run `lbrynet-cli version`). I believe this was fixed recently.

[2017-03-29 15:42] kauffj commented on #26
@lyoshenka this is fixed in `master` but I do not think it is in a released binary, or only in one tagged pre-release.

[2017-03-29 15:44] blackknight36 commented on #26
@lyoshenka I grabbed the OS X packages from the web site last night so it is the latest released version.

[2017-03-30 06:30] techtonik opened #28 "Doesn't work on Vista"
Installing LBRY.Setup.0.9.1.exe on Windows Vista and running LBRY shortcut produces this:

![image](https://cloud.githubusercontent.com/assets/515889/24490374/fb499af2-152a-11e7-8f12-9a12ddfa7cb3.png)

And nothing else happens.

[2017-03-31 01:01] ryliejamesthomas commented on #23
I get the same error in Arch Linux.

[2017-03-31 21:51] Djhg2000 opened #29 "Download directory not checked for existence"
## The Issue
When changing the download directory string, lbry-app seems to assume it's a valid path.

### Steps to reproduce
1. Go to the settings page
2. Append something to the download directory string (for instance "/LBRY")
3. Try to watch something

### Expected behaviour
The full path should be checked for existence. If it fails, throw a GUI visible error in lbry-app and possibly ask if the

[2017-04-02 13:49] kauffj opened #30 "A Javascript error occured in the main process"
(I migrated, also known as copy/pasted, this issue from [here](https://github.com/lbryio/lbry/issues/585).)

## The Issue

### Steps to reproduce
1. just start the App in KDE Manjaro rolling release 17
2. then close the app
3. the error apear after 2-3 seconds on screen

### Expected behaviour
App should close normally, without any error apearint

### Actual behaviour
After closing the App in Manj

[2017-04-03 18:58] Snarkly commented on #30
I'm having this same problem. I'm using Linux Mint 18.1 Serena Cinnamon 64-bit. This error message pops up a second or two right after I close LBRY.
![lbry](https://cloud.githubusercontent.com/assets/8492776/24625619/a6738aa0-187d-11e7-86a1-1cb0596e60e4.png)

[2017-04-06 22:22] kauffj opened #31 "build.sh can fail on lbry requirements"
`./build.sh` can fail if `lbry` requirements get of date. I wasn't sure if it was proper to add `pip install -U -r requirements.txt` to `./build.sh`, so I opened an issue instead.

[2017-04-07 16:08] lyoshenka commented on #31
I fixed this yesterday. requirements.txt now gets copied from the daemon (and slightly modified).

[2017-04-07 16:08] #31 closed

[2017-04-16 01:43] danPixl opened #44 "Fedora version?"
Not really a bug report, but I'd love to see a Fedora version, so I can use it.

[2017-04-17 12:54] kauffj commented on #44
@danPixl Any chance you are capable of packaging for Fedora? Happy to pay a nice bounty for this.

[2017-04-18 08:43] Serkan-devel opened #48 "Provide an AppImage for Linux distributions"
It might be great in the long run to provide the <a href="http://appimage.org/">Appimage</a> format next to `.deb` and `.rpm`.
While I'd still like to see #44 to be a thing, it would come with even more advantages.

Based off of https://github.com/MrAlex94/Waterfox/issues/127

- Works for most Linux distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
-

[2017-04-18 23:31] kauffj commented on #48
I think the AppImage format is great and we've looked at it, but we're stretched too thin to tackle this right now. One day!

[2017-04-19 18:53] probonopd commented on #48
@kauffj `electron-builder` can do it automatically for you...

[2017-04-19 19:51] kauffj commented on #48
@lyoshenka had concerns about supporting an additional build type, but if it's truly no additional overhead maybe we can. Assigning to him.

[2017-04-19 23:23] arainflake opened #50 "gui message: could not authenticate user"
## The Issue
when loading up the version 10 for the gui for lbry, it stops at the message

LBRY Early Access
An error was encountered that we cannot continue from.

At least we're earning the name beta.

Message: Could not authenticate user

and gives me the option to reload, but wont succeed in anything else

### Steps to reproduce
1.run lbry gui from the wisker menu
2.
3.

### Expected behaviour

[2017-04-21 15:16] lyoshenka commented on #50
@alexliebowitz is our frontend expert, he'll take a look.

[2017-04-21 17:07] AJJPSMUSIC opened #51 "Sticky LBRY player on select files that downloaded okay"
## The Issue
Sticky LBRY player on select files that downloaded okay
### Steps to reproduce
1. Load lbry://@AJJPS/ajjpsthecall
2. Press play and wait for decentralized package
3. Stays on black screen, controls will take instructions but player is stuck

### Expected behaviour
Tell us what should happen
File replay
### Actual behaviour
Tell us what happens instead
Nothing

## System Configuration

[2017-04-22 01:53] PetSte commented on #30
I've got the same problem since updating to the latest LBRY version (0.9.1). I'm running LBRY on Windows 10.

[2017-04-22 14:49] lyoshenka commented on #51
@AJJPSMUSIC thanks for the detailed bug report. @alexliebowitz is our UI expert, he'll take a look at this and get back to you.

[2017-04-24 15:43] finer9 opened #54 "Search doesn't work for many"
## The Issue

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-04-25 02:57] finer9 opened #55 "Download fail of lbry://four"
## The Issue

### Steps to reproduce
1. Try to download lbry://four
2.
3.

### Expected behaviour
download

### Actual behaviour
hanging at connected
2017-04-24 22:55:26,101 INFO     lbrynet.core.Wallet:579: get claim info lbry://four#70a4753a0648d45346580c5c3dd5363e417d6a02
2017-04-24 22:55:26,101 INFO     lbrynet.lbrynet_daemon.Downloader:103: Download lbry://four status changed to initializing

[2017-04-25 15:53] kaykurokawa commented on #55
Are you sure the latest lbry Daemon is being run here (10.0rc14 now) ? I'm not able to reproduce this.

[2017-04-25 16:07] finer9 commented on #55
Yes it should be the latest daemon.  I'll experiment more later.  Intuitively I thought it was related to claim takeover

[2017-04-26 14:43] Rob-pw opened #57 "Published file dialog won't display fully, gets stuck on loading then throws error."
![screen shot 2017-04-26 at 15 43 55](https://cloud.githubusercontent.com/assets/4596295/25440308/fdb69f84-2a96-11e7-9c27-b8ace171b479.png)

"I can't open my published file anymore since yesterday. It gets stuck on "loading" and then this error also occurred at one time. I can't fully display it - this is how it showed up."

[2017-04-26 15:04] Plasmmer opened #58 "[Feature] Page to manage all IDs"

[2017-04-26 16:23] Rob-pw opened #59 "Display Date of Publish for content"
"regarding data displayed with content, date of publish would be quite useful. F.ex you are watching an episode on crypto currencies and hear some news ... you don't know how old they are, which is the key info in that case" - thorpe

[2017-04-26 16:29] Rob-pw opened #60 "Various UI Improvements"
We could collect in here various small little UI tweaks?:

1.) Back button when in one file view
2.) Clickable categories in the discover view so you can focus in on one category

[2017-04-26 18:44] Plasmmer opened #61 "[Feature] Can edit video's infos"

[2017-04-26 18:45] Plasmmer opened #62 "[Feature] In transaction history, shows from wich video the tx has come"

[2017-04-26 18:47] Plasmmer opened #63 "[Feature] User channel (ID) page"

[2017-04-26 18:48] Plasmmer opened #64 "Channel Subscriptions"
The barebones version of this feature consist of the following changes:

- [ ] A button on channel and file pages that allows a user to subscribe and unsubscribe to a channel.
- [ ] User subscriptions are written and stored to local state (and optionally to api.lbry.io).
- [ ] The landing page is modified to indicate recent content from subscribed channels.

[2017-04-26 18:54] Plasmmer opened #65 "[Feature] Bell near the "Subscribe" button to receive new-videos notifications"

[2017-04-26 19:32] CjMapope opened #66 "image error in published main file display"
## The Issue
Thumbnail is not displayed correctly upon selecting published item, whereas **is** shown correctly under **all** published items
### Steps to reproduce
1. Publish content
2. Check under Published, thumbnail is correct
3. Click said published item, error appears, no thumbnail :(

### Expected behaviour
Thumbnail should be displayed as per screenshot "1"

### Actual behaviour
Thumbnail

[2017-04-26 20:11] Plasmmer opened #67 "[Feature] Can upload audios in different languages for same video"

[2017-04-26 20:50] Plasmmer opened #68 "[Feature] Handle URLs in browser"

[2017-04-26 20:54] Plasmmer opened #69 "[Feature] Video visualizations counter"

[2017-04-27 05:19] Plasmmer opened #70 "[Feature] Show blockchain syncing status at the bottom of app"

[2017-04-27 05:23] Plasmmer opened #71 "[Feature] Show previous addresses in "Receive tab", and the tx counter of each one"

[2017-04-27 05:25] Plasmmer opened #72 "[Feature] Top Hall"
Show a tab menu with the period (day/week/month/year) and another tab with the type (movie/music/game).
It is an advanced approach based in the Trending tab of YT.

[2017-04-27 05:36] Plasmmer opened #73 "[Feature] Can set different data info for the video, accourding to language"

[2017-04-27 05:38] Plasmmer opened #74 "[Feature] Can change the language of app"
- [ ] Detect system language and auto set the language
- [ ] Show a flag icon next the app's logo, so user can open the menu to change the language

[2017-04-27 05:39] Plasmmer opened #75 "[Feature] Use ionic framework"

[2017-04-27 05:40] Plasmmer opened #76 "[Feature] Browser version, same of Electron but as a progressive app"

[2017-04-27 05:47] kevplayer54 opened #77 "We need an android lbry version"
## The Issue
Need android lbry version

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-04-27 05:48] Plasmmer opened #78 "[Feature] Show seed counter in the video"

[2017-04-27 05:49] Plasmmer opened #79 "[Feature] Donation button in the video"

[2017-04-27 05:54] Plasmmer commented on #77
I think its forgot to remove the template description =/

[2017-04-27 05:56] Plasmmer opened #80 "[Feature] Can like videos"

[2017-04-27 05:57] Plasmmer opened #81 "[Feature] Can comment in videos"

[2017-04-27 05:58] Plasmmer opened #82 "[Feature] Support Windows Universal Platform (winJS)"

[2017-04-27 05:58] Plasmmer opened #83 "[Feature] Can share videos (using OS API)"

[2017-04-27 05:59] Plasmmer opened #84 "[Feature] Can copy video's URL by rightclicking"

[2017-04-27 06:00] Plasmmer opened #85 "[Feature] Photos system"
- [ ] Text referencing photos in the search input
- [ ] A photos section

[2017-04-27 06:01] Plasmmer opened #86 "[Feature] Can upload the video thumbnail"

[2017-04-27 06:03] Plasmmer opened #87 "[Bug] After upload a video and stay in the "Published" tab, it don't gets updated"

[2017-04-27 06:05] Plasmmer opened #88 "[Feature] Autocomplete in the search input"

[2017-04-27 06:08] Plasmmer opened #89 "[Feature] Ads system"
- [ ] Advertisers pay to publish ads
- [ ] This payment is decentralizedly stored
- [ ] Content creator activate ads in the video
- [ ] The payment of advertisers is divided between content creator and peers

[2017-04-27 06:10] Plasmmer opened #90 "[Bug] When start the app, the 'Discover' tab isn't marked as active, only if its clicked"

[2017-04-27 10:29] Plasmmer opened #93 "[Feature] Can set video language to brazillian portuguese"

[2017-04-27 10:30] DaniellMesquita opened #94 "[Feature] Can set video language to portuguese"

[2017-04-27 10:57] samiguven opened #95 "[Feature] Basic Shortcuts on Watchpage."
Hi Team,

Basic shortcuts on the watchpage (video page) will enhance UX. I mean the most basic ones:

- [Space]: Play/Pause video
- [UpArrow]: Volume Up
- [DownArrow]: Volume Down
- [RightArrow]: Fast Forward
- [LeftArrow]: Fast Backward
- [F]: Toggle Fullscreen
- [Esc]: Exit Fullscreen

Best,
Sami

[2017-04-27 11:12] samiguven opened #96 "[Feature] Playlists"
Hi Team,

Playlists will be useful for content with episodes or music videos.

Best,
Sami

[2017-04-27 13:08] Plasmmer commented on #96
Please, can you share your issues in the [#feedback](https://lbry.slack.com/messages/C544Q2RFS/) channel?

[2017-04-27 13:16] Plasmmer commented on #68
Duplicate of: https://github.com/lbryio/lbry-app/issues/2.

[2017-04-27 13:49] Plasmmer opened #97 "[Bug] Splashscreen with infinite loading and 3 instances of app"
<img src="http://image.prntscr.com/image/a711322fa78247288571f40eec9f14d6.png"/>

[2017-04-27 13:54] Plasmmer commented on #97
[log.txt](https://github.com/lbryio/lbry-app/files/961778/log.txt)

[2017-04-27 13:58] Plasmmer commented on #97
When I started app as administrator:
<img src="http://image.prntscr.com/image/7db16222cc714774a18b7f7e57b068cb.png"/>

[2017-04-27 14:33] Plasmmer commented on #97
Chrome's console log:
[log.txt](https://github.com/lbryio/lbry-app/files/961913/log.txt)

[2017-04-27 14:42] wallermadev commented on #97
Seems to be the app is failing to connect to the daemon running locally as i saw it in the screenshot you posted on slack it seems something is refusing you access to that port on your machine.

[2017-04-27 16:58] wallermadev commented on #97
Issue resolved :)

[2017-04-27 21:05] #68 closed

[2017-04-27 22:36] nikooo777 commented on #97
this indeed happens when the daemon crashes or isn't running.
Just putting it here in case someone else happens here

[2017-04-28 13:03] Plasmmer commented on #68
@kauffj, you will not tag this?

[2017-04-28 13:16] Plasmmer opened #100 "[Feature] Store/Show in thumbnail the media duration"

[2017-04-28 17:00] kauffj commented on #60
1) Back button is coming. Sneak peek of new UI currently available on https://lbry.io
2) This isn't coming until categories are more robust, they're basically faked right now.

[2017-04-28 17:00] #60 closed

[2017-04-28 17:08] kauffj commented on #50
This should be working.

[2017-04-28 17:08] #50 closed

[2017-04-28 21:54] lyoshenka opened #101 "Stuck on "About Your Reward" screen"
Job reported this issue in slack. Here's the video: files.lbry.io/stuck_on_okay.mov

[2017-04-28 22:02] #65 closed

[2017-04-28 22:02] #67 closed

[2017-04-28 22:02] #69 closed

[2017-04-28 22:02] #70 closed

[2017-04-28 22:02] #71 closed

[2017-04-28 22:02] #72 closed

[2017-04-28 22:02] #73 closed

[2017-04-28 22:02] #74 closed

[2017-04-28 22:02] #75 closed

[2017-04-28 22:02] #76 closed

[2017-04-28 22:02] #78 closed

[2017-04-28 22:02] #79 closed

[2017-04-28 22:02] #80 closed

[2017-04-28 22:02] #81 closed

[2017-04-28 22:02] #82 closed

[2017-04-28 22:02] #83 closed

[2017-04-28 22:02] #84 closed

[2017-04-28 22:02] #85 closed

[2017-04-28 22:02] #86 closed

[2017-04-28 22:02] #88 closed

[2017-04-28 22:02] #89 closed

[2017-04-28 22:02] #93 closed

[2017-04-28 22:02] #100 closed

[2017-04-28 22:02] #58 closed

[2017-04-28 22:02] #61 closed

[2017-04-28 22:02] #62 closed

[2017-04-28 22:02] #63 closed

[2017-04-28 22:03] lyoshenka commented on #77
Thanks for the feature request. We'd like to use github for issues and bugs only, and we track feature requests internally. I'm going to move this into our internal database.

[2017-04-28 22:03] #77 closed

[2017-04-28 22:04] lyoshenka commented on #96
Thanks for the feature request. We'd like to use github for issues and bugs only, and we track feature requests internally. I'm going to move this into our internal database.

[2017-04-28 22:04] #96 closed

[2017-04-28 22:05] lyoshenka commented on #95
Thanks for the feature request. We'd like to use github for issues and bugs only, and we track feature requests internally. I'm going to move this into our internal database.

[2017-04-28 22:05] #95 closed

[2017-04-28 22:10] lyoshenka commented on #28
@techtonik sorry, we don't do any testing on Vista and we don't officially support it. My best suggestion would be to try compiling from source and see if that works. Alternatively (if you're adventurous) you could install Virtualbox and create a Linux VM.

[2017-04-28 22:10] #28 closed

[2017-04-28 22:10] lyoshenka commented on #18
@alexliebowitz is this fixed?

[2017-04-28 22:11] lyoshenka commented on #19
@alexliebowitz is this fixed?

[2017-04-28 22:13] lyoshenka commented on #66
oops

[2017-04-28 22:27] lyoshenka commented on #90
Thanks for pointing this out. We're redesigning the UI right now, and the new version won't have tabs on the side. So in a way, this is already fixed :smiley:

[2017-04-28 22:27] #90 closed

[2017-04-28 22:30] lyoshenka commented on #66
We're redesigning our UI, and it's possible that this issue is already fixed. @alexliebowitz is our UI expert. He'll take a look to make sure.

[2017-04-28 22:39] lyoshenka opened #102 "Claimed Reward But There's No Transaction into balance"
_Moved from https://github.com/lbryio/lbry/issues/628_

I have claim reward but no transaction to my balance
![dont get reward](https://cloud.githubusercontent.com/assets/16890609/25513121/09737baa-2bfd-11e7-8618-7b9e1acd4053.png)
![dont get reward 1](https://cloud.githubusercontent.com/assets/16890609/25513134/19e47c1e-2bfd-11e7-810f-8787eb4ac978.png)
![console error](https://cloud.githubusercont

[2017-04-29 16:26] Plasmmer commented on #77
@lyoshenka, but, are you saving all the suggestions?

[2017-04-30 00:29] Rob-pw opened #104 "Searchbox, Ctrl+A should select all."
In searchbox, `Ctrl+A` should select all text, but it does not.

Courtesy of @cardiff.

[2017-04-30 00:32] Rob-pw opened #105 "Pressing 'OK' on 20 free credits dialog did not close it."
"So I’ve earned my 20 free credits, and now I can’t exit the final screen… I press “OK” and it’s not registering…"
"Clicking “OK” didn’t close the overlay. Restarting the program bypassed it. Credits remained."

Courtesy of @cardiff

[2017-04-30 21:06] bobmcdouble3 opened #106 "Can't create a new identity"
## The Issue
When ever I try to create a new identity, it says "Unable to create channel due to an internal error." I have tried with a bunch of usernames!

### Steps to reproduce
1. Goto the publish tab
2. Under identity, click new identity
3. Fill out the rest, then click "Create Identity", it will not work

### Expected behaviour
This should create my username/identity

### Actual behaviour
It

[2017-05-01 18:50] lyoshenka commented on #77
Yep, we are. I also tagged them all `feature-request` here on Github, in case there's further discussion here and we need to come back to them.

[2017-05-02 08:08] alexliebowitz commented on #106
I can't duplicate either on the latest RC or a dev build. Do you have any errors in your JS console? If you can copy and paste or send a screenshot, that would help me figure out what's different between my installation and yours. (Easiest way to get to the dev tools is just right click anywhere on the page -> Inspect Element.)

[2017-05-02 08:15] alexliebowitz commented on #105
Thanks. Also noted by @lyoshenka [here](https://github.com/lbryio/lbry-app/issues/101) and fixed in [this PR](https://github.com/lbryio/lbry-app/pull/108).

[2017-05-02 08:16] #105 closed

[2017-05-02 08:16] alexliebowitz commented on #104
Fixed by #109.

[2017-05-02 08:16] #104 closed

[2017-05-03 16:29] lyoshenka commented on #44
Marking as feature-request and closing.

[2017-05-03 16:29] #44 closed

[2017-05-04 05:18] #101 closed

[2017-05-04 06:25] alexliebowitz commented on #23
We don't _specifically_ handle this, but it looks like at some point recently we switched to passing the error message on from lbrynet in a pretty reasonable-looking dialog box:

![screen shot 2017-05-04 at 2 21 44 am](https://cloud.githubusercontent.com/assets/7283989/25692461/ce177228-3070-11e7-9e02-afb9b3dc5158.png)

Is this good enough to consider the issue resolved?

[2017-05-04 07:52] alexliebowitz commented on #19
Hmm, I guess I'd call it "mostly fixed." It's really more of a category of problems that all cause the same symptom. If memory serves, we decided that it usually happens because there's a hung daemon process running and the app latches onto that instead of starting a new one.

The main thing we've done to reduce that issue is that we now stop the daemon by issuing a `daemon_stop` API call instead

[2017-05-04 08:13] alexliebowitz commented on #2
@lyoshenka: Are you planning to work on this or just supervising it? I can own this, looks pretty small (at least in theory)

[2017-05-04 08:26] alexliebowitz commented on #18
When I run on the current master (https://github.com/lbryio/lbry-app/commit/a450d294ca6ccc692c3b27a650146572851799a4) it correctly launches the package manager with the new version. OTOH I don't remember actually changing anything to fix it.

@kauffj: can you see if it's currently happening for you? Easiest way to test with a dev install is to change [https://github.com/lbryio/lbry-app/blob/e83118

[2017-05-04 08:45] alexliebowitz commented on #22
I think this bug can't happen in this specific form with the new fast publish system, since it always creates the entry in the publish cache--i.e. it doesn't wait for `publish` to return before it sends you to the My Files page.

It feels like this could be a lbrynet bug. @jackrobison: is there any reason that doing several publish attempts in succession could result in calls to `publish` ? Like,

[2017-05-04 08:56] alexliebowitz commented on #27
@kauffj: Presumably the right way to handle this is to subscribe to the balance and check if the user has enough credits at form submission. I can handle this but it should be done on the redux branch, of course.

[2017-05-04 09:04] alexliebowitz commented on #30
@kauffj: I can no longer reproduce this on Linux, either on a dev build or RC8. Is it still happening for you?

[2017-05-04 09:07] alexliebowitz commented on #97
Still a bug since we need to handle this case much more gracefully. Thanks for the report.

[2017-05-04 09:08] alexliebowitz commented on #87
Did it ever finally update (or disappear from the file manager)? If so, did it require a refresh or restarting the app?

[2017-05-04 09:14] alexliebowitz commented on #102
@kauffj: you built most of the front end for rewards--is there something super obvious here, like it's treating 400s the same as success? If not, I'll look into it.

[2017-05-04 09:17] alexliebowitz commented on #66
Yep, looks like this is working in the current UI (quite possibly thanks to your report). Thanks!

[2017-05-04 09:18] #66 closed

[2017-05-04 19:14] nikooo777 opened #112 "Improper behavior of the search bar"
## The Issue
When searching for content, if CTRL+a is pressed to select the whole search term before the search is complete, when the search completes the selection is lost
### Steps to reproduce
1. search anything
2. immediately proceed to step 3
3. press CTRL+a and type anything

### Expected behaviour
any term written before should be replaced with the new inserted text and a new search should

[2017-05-04 21:25] lyoshenka commented on #2
Go for it

On Thu, May 4, 2017 at 4:13 AM, alexliebowitz <notifications@github.com>
wrote:

[2017-05-05 03:26] PetSte commented on #30
Not sure if I can reply to this mail, but I'll try. I just reproduced the problem on my Windows 10. So for me, it's still there.

-------- Oorspronkelijk bericht --------
Van: alexliebowitz <notifications@github.com>
Datum: 04-05-17 11:04 (GMT+01:00)
Aan: lbryio/lbry-app <lbry-app@noreply.github.com>
Cc: PetSte <peterstevens92@hotmail.com>, Comment <comment@noreply.github.com>
Onderwerp: Re: [lbry

[2017-05-05 06:13] alexliebowitz commented on #30
@PetSte: 0.10.0 [just came out](https://github.com/lbryio/lbry-app/releases/tag/v0.10.0) with many changes, including some in parts of the code related to this. Could you give it another shot with 0.10.0? Thanks.

[2017-05-05 16:17] kauffj commented on #102
I don't think there's a systemic issue here or we'd be hearing more of it.

If you want to look into it more, ask garphacoolz for his app id, but otherwise going to close this.

[2017-05-05 16:17] #102 closed

[2017-05-05 19:00] PetSte commented on #30
Alex,

After downloading v10 manually (from Github),  like you asked, lbry doesn't seem to recognize me anymore. I'm asked to enter my email and early acces verification code, and I get the error 'could not authenticate user'. I'm positive the code is correct.

So now I can't ue LBRY or acces my wallet anymore. Any solutions?

-------- Oorspronkelijk bericht --------
Van: alexliebowitz <notificati

[2017-05-05 21:28] oakey22 opened #117 "Abandoning deposit on update"
## The Issue
When updating a claim the deposit is returned to the wallet as if it is a new claim and the old one is abandoned. If you  enter 10 LBC when you have a previous claim of 500, the 500 gets returned and 10 is deducted.

### Steps to reproduce
1. Make claim on lbry://anyurlhere
2.Update claim for lbry://anyurlhere

### Expected behaviour
Should update claim and not abandon the old one and

[2017-05-05 23:01] Snarkly commented on #30
I just upgraded and I'm having the same problem PetSte is having.

[2017-05-06 13:34] kauffj commented on #30
@PetSte @Snarkly :disappointed:

Can you send your email addresses to jeremy@lbry.io?

If you're comfortable using the [command line interface](https://github.com/lbryio/lbry/releases) you can still move your credits. Otherwise, you'll have to wait until we get a fix out.

If you are comfortable using the CLI, it'd be helpful if you could send me the output of the `status` command as well.

And se

[2017-05-06 20:48] Snarkly commented on #30
I sent you my email using proton mail. I also open LBRY using the command terminal and I took this screenshot for you. There were a few errors I noticed in the command terminal.
![lbry](https://cloud.githubusercontent.com/assets/8492776/25775801/c1ba8e9a-327b-11e7-8272-5fe905dad211.png)

[2017-05-07 18:10] kaykurokawa commented on #117
This is the expected behavior for updates.
Amounts stored in the claim before the update should be returned to you, if you update the claim amount to be more than the previous claim.

[2017-05-07 21:28] oakey22 commented on #117
The problem is when you only have say 10 LBC in your wallet and you have a claim already of 100LBC it will not let you update it to 100 LBC as you do not have over 100 in your account, you have to set an amount that lower which is silly.

[2017-05-08 15:08] kauffj commented on #117
@kaykurokawa and @oakey22 I think you're both right. Kay is speaking of things at the API level, where this is probably proper behavior, but we need to improve this at the app level, where this is clearly a UX issue.

[2017-05-08 15:47] kaykurokawa commented on #117
I can confirm that if you lack the LBC in your wallet but have enough in a claim, it will not let you update.

This is a bug in lbrynet where the app is being overzealous in checking for amounts. There is support in lbryum to let you update by using the amount already contained in a claim.

[2017-05-08 19:00] MaxiBoether opened #119 "[redux] Credit amount showing as 0"
## The Issue

When using the redux branch of the client, my LBC amount in the header is shown as 0 even though I've got more credits which are shown correctly when using the latest master branch sourcecode. Both are built by myself, so that can't be the issue.

### Steps to reproduce
1. Use master branch client, get some credits.
2. Switch to redux branch.
3. Check credit amount

### Expected beha

[2017-05-08 20:32] kauffj commented on #119
Redux branch is a WIP and there are many known issues. Appreciate the well done bug report, but they're not necessary for this branch at this time. We'll have a draft release of redux coming out fairly soon, though.

[2017-05-08 20:32] #119 closed

[2017-05-08 21:07] MaxiBoether commented on #119
Only reason I posted it here was because Mathew Waller on Slack told me to raise an issue on Github about this one. But whatever, if you don't want it that's fine too :)

[2017-05-08 21:28] kauffj commented on #119
Thanks, I'll let him know.

@lyoshenka maybe we should consider some kind of tag to indicate whether or not we want public feedback/issues on a branch?

[2017-05-09 01:31] Snarkly commented on #30
Thanks for the verification code kauffj, it seemed to work fine. Also when I closed LBRY I noticed I didn't get the javascript error I was getting before.

[2017-05-09 18:08] PetSte commented on #30
Was this a special verification code or did you simply lose/mistake your own code? If it's the former, could you send me one as well, Jeremy? I've sent you my email address earlier.

-------- Oorspronkelijk bericht --------
Van: Jeffery Mullins <notifications@github.com>
Datum: 09-05-17 03:31 (GMT+01:00)
Aan: lbryio/lbry-app <lbry-app@noreply.github.com>
Cc: PetSte <peterstevens92@hotmail.com>, Me

[2017-05-09 18:26] kauffj commented on #30
@PetSte no new code, you should be able to get in fine. I take it you are still seeing this even on the latest version? If so, I'll try to dig deeper.

[2017-05-09 18:37] PetSte commented on #30
I don't get the Javascript error, but that's probably only because I can't seem to login. I'm still getting the 'could not authenticate user' error.

[2017-05-12 03:35] iateadonut opened #123 "cannot upload or download"
## The Issue
I cannot upload or download, but can resolve.

### Steps to reproduce
1.
If i do this:
lbrynet-cli resolve uri=what
{
  "claim": {
    "address": "bMavvzXG2XT5GRK4kgQCFop1B5XvHRJPye",
    "amount": "1",

I receive the feedback no problem.

But when I try to 'get', I get a timeout error:
lbrynet-cli get uri=what
{
  "error": "Timeout"
}

same with other methods for downloading:
lbrynet

[2017-05-12 04:54] alexliebowitz commented on #2
Fixed for Mac by #116 and Windows by #121. Linux still in progress (#122).

[2017-05-14 03:35] alexliebowitz commented on #2
We decided to merge Linux (although there's an unrelated issue that means it doesn't work perfectly yet). So I'm marking this resolved.

[2017-05-14 03:35] #2 closed

[2017-05-14 05:45] alexliebowitz commented on #57
Sorry we let this get buried. It looks like your daemon just crashed. That could happen for a bunch of reasons, and the stability of the daemon is improving over time in general, but we should probably have a specific modal/message for this instead of just an error dialog. Are you still getting this?

The bug with the modal displaying weirdly is fixed (#113).

[2017-05-22 19:24] maximumplank opened #130 "file not downloading when stream initiated in app"
## The Issue
When attempting to stream a video, the download appears to hang before any data is received. A file is created in the download directory but it sits at 0 bytes.

### Steps to reproduce
1. launch lbrynet-daemon (lbrynet-daemon-v0.10.3rc4)
2. launch lbry app (LBRY_0.10.0_amd64)
3. navigate from discover page to video content page
4. press play

### Expected behaviour
video should begin

[2017-05-22 20:11] maximumplank commented on #130
getting similar behavior on LBRY_10.1rc1:

when starting the daemon the connection to the file in question (pillsburyboy) is initialized. However an error is thrown by EncryptedFileManager ~80ms before this happens. Could be unrelated, EFM appears to be working fine 24ms before the pillsburyboy DL is initialized.
http://imgur.com/HvYFKHA
Missing from that screenshot is a message ~140ms later:
2017

[2017-05-24 15:36] alph43oss opened #133 "TX Send Miscalculation"
## The Issue
The calculation on balances right after a transfer (send) is way off  (sometimes account shows negative 10s/100s of lbc), then balance is corrected after a few seconds.

It looks like its subtracting  2x the withdrawal value from current balance for initial calc.

## System Configuration

- LBRY App version: v0.10.1rc1
- Operating system: Windows 10

## Anything Else

:)

[2017-05-24 22:40] sleepdefic1t commented on #19
What about isolating the daemon to a standalone statusbar application? It would be super-easy to do.
It doesn't really make sense to require launching the UI app to run the daemon.

[2017-05-24 22:47] kauffj commented on #112
This is fixed.

[2017-05-24 22:47] #112 closed

[2017-05-24 22:48] kauffj commented on #133
This is a bug in the daemon. I believe it is filed [here](https://github.com/lbryio/lbry/issues/611).

[2017-05-24 22:48] #133 closed

[2017-05-24 22:49] #55 closed

[2017-05-24 22:50] kauffj commented on #106
I believe this is fixed.

[2017-05-24 22:50] #106 closed

[2017-05-25 06:40] Collinthegeek opened #134 ""This is disabled" in quickstart"
## The Issue

### Steps to reproduce
1. https://lbry.io/quickstart/credits#new-developer
2. Paste generated wallet adress

### Expected behaviour
Credits should be transferred

### Actual behaviour
"This is disabled" error appears

## System Configuration

N/A

## Screenshots

![lbc](https://cloud.githubusercontent.com/assets/2424846/26438871/23739d20-40eb-11e7-9b07-924cf187b95a.png)

[2017-05-25 22:16] kauffj commented on #134
Sorry about that @Collinthegeek, we'll get that patched up. If it's not working by EOD tomorrow, please ping me and I'll send you something manually.

[2017-05-26 00:42] intnick opened #137 "Every time I run the client I get the "welcome to lbry" message"
## The Issue
Every time I run the client I get the "welcome to lbry" message
### Steps to reproduce
1. Run the client (current mater branch)
2. Welcome to LBRY modal window appears
3.

### Expected behaviour
Tell us what should happen
It should be shown only once, every other time I open the app it shouldn't be there

### Actual behaviour
Tell us what happens instead

## System Configuration

- LB

[2017-05-26 02:54] tzarebczan opened #138 "upgrade button doesn't work, prompted for email on skip"
## The Issue
upgrade button when app is started
### Steps to reproduce
1. I'm on v.10 RC1
2. Opened lbry link, app opens and prompts to upgrade
3. Click upgrade, nothing. Click skip, prompted for email again. Verification code doesn't work.

### Expected behaviour
prompted to download file

### Actual behaviour
nothing happens

## System Configuration

- LBRY Daemon version: pre packaged
- LBRY Ap

[2017-05-26 05:00] tzarebczan opened #139 "published page doesn't show old publications on v11 (downloads missing too)"
## The Issue
old publications missing, downloads page doesn't show
### Steps to reproduce
1.go to published or downloads
2.nothing there, loading...
3.

### Expected behaviour
show all publications

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version: v11
- LBRY Installation ID:
- Operating system: Win

## Anything Else

## Screensh

[2017-05-26 05:01] tzarebczan opened #140 "pop up screen to claim reward, then msg that it's been claimed"
## The Issue
on each start, get pop up to claim credits, then have to wait for it to fail with a message that says reward has been claimed
### Steps to reproduce
1. open lbry v11
2. get message
3.

### Expected behaviour
reward message should not appear

### Actual behaviour
open lbry without any messages

## System Configuration

- LBRY Daemon version:
- LBRY App version: v11
- LBRY Installation

[2017-05-26 05:02] maximumplank commented on #139
I'm having this same issue. Uploaded some content on an old version of the 0.10 browser, before I began having problems with the client. Now content that I've published is not showing up in the 'published' tab.

[2017-05-26 13:19] kauffj commented on #137
This is fixed in latest release.

[2017-05-26 13:20] #137 closed

[2017-05-26 13:20] kauffj commented on #140
Fixed in latest release.

[2017-05-26 13:20] #140 closed

[2017-05-26 13:22] kauffj commented on #139
Will look into this.

@tzarebczan did it sit at loading forever or eventually come back? `file_list` has some big performance issues atm, especially with large numbers of downloads/publishes (we're working on it).

[2017-05-26 13:29] tzarebczan commented on #139
Never came back for me. It was reported by kevdev and others on slack too.

[2017-05-26 13:30] tzarebczan commented on #140
Thanks!

[2017-05-26 13:31] maximumplank commented on #139
Same here, published tab just shows "looks like you havent published
anything yet!" Or something like that.

On May 26, 2017 6:29 AM, "Thomas Zarebczan" <notifications@github.com>
wrote:

[2017-05-26 13:36] kauffj commented on #139
Sitting at "loading" forever vs. coming back with "looks like you haven't
published anything" are possibly two different issues, but will be looking
into it either way.

On Fri, May 26, 2017 at 9:31 AM, maximumplank <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like

[2017-05-26 13:38] tzarebczan commented on #139
Yup, sounds like different issues. Thanks Jeremy!

[2017-05-26 13:42] maximumplank commented on #139
Sorry, must have misunderstood Thomas' issue. I'll file a new one.

On May 26, 2017 6:38 AM, "Thomas Zarebczan" <notifications@github.com>
wrote:

Yup, sounds like different issues. Thanks Jeremy!

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/lbryio/lbry-app/issues/139#issuecomment-304284584>, or mute
the thread
<https://github

[2017-05-27 01:04] maximumplank opened #146 "published tab doesn't show previously published content on v0.11 (page completes loading)"
## The Issue
Instead of displaying published content, 'Published' tab says "It looks like you haven't published anything to LBRY yet. Go share your beautiful cats with the world!"

### Steps to reproduce
1. open LBRY browser
2. navigate to published tab (folder icon in top right -> Published)

### Expected behaviour
Should display a list of published content

### Actual behaviour
displays "It look

[2017-05-27 01:05] maximumplank commented on #146
similar to https://github.com/lbryio/lbry-app/issues/139, but in that case the published page would not finish loading. in this case the browser affirms (incorrectly) that no published content exists.

[2017-05-27 01:10] maximumplank commented on #139
filed https://github.com/lbryio/lbry-app/issues/146 for the "looks like you haven't published anything" issue

[2017-05-27 02:30] maximumplank commented on #18
Had this happen when I was prompted to upgrade to 0.11 on Ubuntu 16.04

[2017-05-27 22:19] ajthemacboy opened #147 ""This email is already in use" when trying to login/access the desktop app"
## The Issue
See here: https://drive.google.com/a/eyestra.in/uc?id=0B6AmcbVDdoMsRmdoaWpjM2ViYTg

### Steps to reproduce
1. Download the client
2. Try to login with an email that has already been accepted for early access

### Expected behaviour
When I enter my email, I should not receive an error and should be allowed into the app

### Actual behaviour
There is an error and I can't login

## Syste

[2017-05-29 09:54] 6ea86b96 opened #154 ""extraneous params: transaction_id" when claiming a reward"
Seems like there might be some extra param whitelisting needed on the backend. This particular error occurred when clicking the button to claim the channel surfing reward on the rewards page.

![2017-05-29 at 13 51](https://cloud.githubusercontent.com/assets/20863631/26545321/34777f7c-4476-11e7-96a1-73dc6a08bce2.jpg)

[2017-05-29 16:46] tzarebczan opened #155 "Sorry your download timed out, can't click OK"
## The Issue
After timing out on a download for whatever reason, a prompt comes up and states it timed out. Cannot click OK at the prompt
### Steps to reproduce
1. try to download something that's unavailable
2. wait
3. receive prompt, click OK, nothing

### Expected behaviour
go back to the previous screen upon clicking OK

### Actual behaviour
nothing

## System Configuration

- LBRY Daemon vers

[2017-05-29 16:47] tzarebczan commented on #155
Ah, the download even finished right after the message....

2017-05-29 12:43:16,694 WARNING  lbrynet.lbrynet_daemon.Daemon:678: Failed to get epicenter-172: Timeout
2017-05-29 12:43:52,615 INFO     lbrynet.core.client.BlobRequester:395: Offered rate 0.000000/mb accepted by 163.158.244.248
2017-05-29 12:43:53,048 INFO     lbrynet.core.client.BlobRequester:395: Offered rate 0.000000/mb accepted by 7

[2017-05-29 16:51] tzarebczan opened #156 "issue downloading lbry://four and many others"
## The Issue
try downloading content with fee, get unable to download
### Steps to reproduce
1. try to download something that has a fee
2. wait, then get error about unable to download
3. check log - craps out at "currency"

### Expected behaviour
Should deduct lbc, download

### Actual behaviour
error

## System Configuration

- LBRY Daemon version:
- LBRY App version: v11.5
- LBRY Installation

[2017-05-29 20:15] tzarebczan commented on #139
Also noticed today on a VM that the Downloaded page showed lbry://undefined in the downloaded page.  It's not a real claim..so probably related to this issue of the Downloaded page not showing.

[2017-05-29 20:36] kauffj commented on #18
@maximumplank this was broken in 0.11 for sure. Can you try downloading 0.11.3 and see if it upgrades you to 0.11.5 correctly?

[2017-05-29 21:03] #156 closed

[2017-05-29 22:20] lyoshenka commented on #154
fixed

[2017-05-29 22:20] #154 closed

[2017-05-29 23:11] tzarebczan commented on #147
It was designed as a one time use code. Please close.

[2017-05-29 23:12] tzarebczan commented on #138
Fixed in latest version.

[2017-05-29 23:12] #138 closed

[2017-05-29 23:13] tzarebczan commented on #130
Can you try again on the latest version?

[2017-05-29 23:13] tzarebczan commented on #130
What's the URI for the claim.. I'll try it here too

[2017-05-29 23:14] tzarebczan commented on #123
Is this related to your other issue where it might be a firewall problem? If so, can you close this one.

[2017-05-29 23:17] tzarebczan commented on #117
@kaykurokowa @finer9 is this on the list of features / to do?

[2017-05-30 00:13] tzarebczan commented on #19
@kauffj is this related to the same issue Niko and I have been seeing on Linux with daemon start up? I have to retry it many times before it gets past "starting daemon....".

[2017-05-30 00:32] finer9 commented on #139
On 0.11.5 my Downloads/Publishes never resolves, it just says Loading...I suspect maybe this wouldnt happen on a fresh install

[2017-05-30 05:15] #123 closed

[2017-05-30 08:51] Collinthegeek commented on #134
@kauffj Sorry I haven't had a chance to try again until now, This time I get "This reward requires a confirmed email address." I authorized with github and I don't have any email about a confirmation.

[2017-05-30 16:51] finer9 commented on #155
Here is the console data from when you try to click OK during the above error

<img width="873" alt="uncaught" src="https://cloud.githubusercontent.com/assets/16390156/26594711/b211eaba-4536-11e7-9c30-3ff0c491dfd9.PNG">

[2017-05-30 18:02] tzarebczan commented on #155
Thanks @finer9!

[2017-05-30 18:30] kauffj commented on #19
Yes, this sounds like the same issue.

On Mon, May 29, 2017 at 8:13 PM, Thomas Zarebczan <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-05-30 18:30] kauffj commented on #147
This is a real issue in that @ajthemacboy should be able to get into the app. @lyoshenka is working on fixing this.

[2017-05-30 18:41] MitchellKiah commented on #147
I can verify that this is still an issue.

LBRY App Version 0.11.6
Operating system: Ubuntu 17.04

[2017-05-30 21:47] sleepdefic1t commented on #19
I ran into some issues as well.
I resolved it by prepending the install commands with "python"; forcing it to use macOS's installed version of python, as opposed to the build version.

Working on a script to see if it helps.

[2017-05-30 21:49] finer9 commented on #19
Logfile from a Linux user with daemon startup issues

[lbrynet (3).log.txt](https://github.com/lbryio/lbry-app/files/1039786/lbrynet.3.log.txt)

[2017-05-30 22:47] sleepdefic1t commented on #19
https://github.com/sleepdefic1t/lbryBuilder

let me know if this helps.

[2017-05-31 00:44] tzarebczan commented on #139
I did notice this today in my logs, not sure if its related:
2017-05-30 20:42:15,138 ERROR    lbrynet.lbrynet_daemon.auth.server:346: Failed to process file_list: string indices must be integers
Traceback (most recent call last):
  File "site-packages\twisted\internet\defer.py", line 1299, in _inlineCallbacks
  File "site-packages\lbrynet\core\Wallet.py", line 770, in _handle_claim_result
  File "

[2017-05-31 00:49] tzarebczan opened #161 "lbry://None in log file warnings/errors"
## The Issue

### Steps to reproduce
1. Run LBRY
2. Check Log
3. See that lbry://None reflector fails, but then a claim is found supposedly.

### Expected behaviour
None is not a claim, should not be referenced

### Actual behaviour
warnings/errors regarding None

## System Configuration

- LBRY Daemon version:
- LBRY App version: 0.11.6
- LBRY Installation ID:
- Operating system: Windows

## Anyt

[2017-05-31 00:56] tzarebczan opened #162 "Your copy of LBRY is up to date in Help, but isn't!"
## The Issue
Help page shows my copy of LBRY is up to date, but a later release is available.  I was prompted upon startup, but clicked Skip.
### Steps to reproduce
1. Prompted for LBRY update upon app startup, click Skip
2. Go to Help
3. Shows LBRY up to date

### Expected behaviour
Should show new version is available

### Actual behaviour
Shows up to date

## System Configuration

- LBRY Daemon

[2017-05-31 03:13] tzarebczan opened #163 "LBRY update not working in Windows"
## The Issue
When prompted to upgrade in Windows, the installer does not run after download.
### Steps to reproduce
1) run v11.6 and get prompt for upgrade
2) Download update
3) Run update

### Expected behaviour
Installation file is executed or directory opens

### Actual behaviour
Nothing

Debugging -
Found 2 issues, 1) the LBRY file name for Windows is not consistent with what is downloaded, fi

[2017-05-31 07:19] alexliebowitz commented on #163
I'm looking into this. The goal was to run the executable, but I believe openItem should work with both executables and directories (dirs open in Explorer). So it's weird that nothing at all is happening.

Upgrades were working on all three platforms until recently, so I would think this is a Redux issue, but you manually hacked in the full installer path and still nothing happened, so that's inte

[2017-05-31 11:39] tzarebczan commented on #163
Like I said, I could not get the debug to work on the main.js side, that log was coming from bundle.js. So still not sure it's being passed correctly.  I'm a newbie, still learning :)

Thanks for looking into it!

[2017-05-31 13:16] kauffj commented on #161
This issue was moved to lbryio/lbry#660

[2017-05-31 13:16] #161 closed

[2017-05-31 13:32] kauffj commented on #163
@tzarebczan FYI, console statements from app/main.js will print to the actual console you use to launch the app.

[2017-05-31 14:57] kauffj commented on #97
It will now properly error out if it gets stuck. I'm closing this, though please open a new ticket if you continue to experience errors with daemon launching.

[2017-05-31 14:57] #97 closed

[2017-05-31 14:57] #18 closed

[2017-05-31 14:58] #23 closed

[2017-05-31 14:58] kauffj commented on #29
The app now uses a select folder dialog.

[2017-05-31 14:58] #29 closed

[2017-05-31 14:59] #54 closed

[2017-05-31 15:00] kauffj commented on #51
The video player was switched. Please let us know if you are still experiencing this issue in the new player.

[2017-05-31 15:00] #51 closed

[2017-05-31 16:23] #162 closed

[2017-05-31 16:23] kauffj commented on #162
Fixed

[2017-05-31 16:54] kauffj commented on #146
@maximumplank I was unable to reproduce this, even when switching wallets. If this is still happening for you, can you run the API commands `file_list` and `claim_list_mine` via the CLI? Then paste the output here or email me at jeremy@lbry.io. Thanks!

[2017-05-31 16:55] kauffj commented on #139
@finer9 does it actually never return or does it just return after a long time?

@tzarebczan that sounds like the root cause of the issue. Moving this to the daemon.

[2017-05-31 16:56] kauffj commented on #139
This issue was moved to lbryio/lbry#661

[2017-05-31 16:56] #139 closed

[2017-05-31 17:41] lyoshenka commented on #48
Marking as feature-request and closing for now.

[2017-05-31 17:41] #48 closed

[2017-05-31 19:12] nikooo777 opened #164 "URI handling on Ubuntu launches extra window"
## The Issue
When clicking on LBRY links, a new instance of the application is launched rather than using the already existing one.
### Steps to reproduce
1. Click a LBRY link (ie. [lbry://what](lbry://what) )
2. wait for the application to open
3. Click the link again

### Expected behaviour
The application simply opens the new link

### Actual behaviour
a new application is launched (and the lin

[2017-05-31 19:27] alexliebowitz commented on #164
The part about it launching a second copy of the app is known. Electron has a built-in system for making single instance apps, and it's not behaving as expected (see #122). It's almost certainly a bug on the Electron side, and we may have to write our own system to get around it.

As to not navigating to the URI, we also got a report about that happening on Windows, so it's probably something to d

[2017-05-31 19:31] nikooo777 opened #165 "Startup API flood"
## The Issue
When starting the application, the API gets flooded to oblivion and never really starts. The console output suggests that there might be at least one race condition causing calls to be replayed more than once. Also no timeout between checks seems to be present.
### Steps to reproduce
1. make sure no daemon is running
2. start LBRY
3. _cry a little_

### Expected behaviour
LBRY app sho

[2017-05-31 19:37] nikooo777 commented on #165
let me add one thing i just noticed:

after hitting close, a daemon appears to start

[code]

[2017-05-31 23:49] nikooo777 commented on #163
reporting from slack:
@zentralsonne says

[2017-06-01 00:02] tzarebczan commented on #163
Yup, don't think this was worked on. Separate issue than the one mentioned in the change log.

[2017-06-01 00:29] finer9 opened #166 "Error when entering authcode on latest build"
## The Issue
<img width="548" alt="auth" src="https://cloud.githubusercontent.com/assets/16390156/26659589/c96b9b98-463f-11e7-9f40-28d06c06b875.PNG">

### Steps to reproduce
1. Install 0.11.8
2. Enter email josh@lbry.io
3. Enter code 2ee7409fcbc1ae8ca3ba8c342847038c

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBR

[2017-06-01 02:51] reillysmith opened #167 "publishes not updating - going into downloads instead"
## The Issue
Publishing Content is on network but not on my Publishes
### Steps to reproduce
1. Publish content
2. See it appear in Slack content feed. Click it.
3. Watch content. See it re-appear in your downloads as a new title, but never in your Publishes.

### Expected behaviour
Content should appear in Publishes

### Actual behaviour
Content does not appear in Publishes after being published;

[2017-06-01 02:53] reillysmith opened #168 "cmd-r to refresh causes app screen to go perma green"
## The Issue

### Steps to reproduce
1. cmd-R on keyboard while on a screen you'd like to reload
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

LBRY Daemon version: 0.10.3
LBRY App version: 0.11.8
LBRY Installation ID: 2rj8iPgKnXFVGwXpvAeBEg5shUEmf7brKLwHqeEJj87xg58i7QbkLkQ71NLB5np9ek
Operating system: Mac OS X

[2017-06-01 02:57] reillysmith commented on #167
revised note: they appear to eventually go into Publishes upon reloading the app.

they were all filling downloads, and then switched to Publishes (the recently published items)

[2017-06-01 02:59] reillysmith commented on #167
![screen shot 2017-05-31 at 7 58 49 pm](https://cloud.githubusercontent.com/assets/6074888/26662845/a085df44-463b-11e7-98b0-6b0c4e776959.png)

[2017-06-01 03:23] tzarebczan opened #169 "New tab in Chrome with lbry:// link"
## The Issue
When clicking a lbry:// link from slack, a new tab opens in Chrome and then immediately the app pops up. The blank tab in chrome is still there with LBRY://.  Any way to not have the tab pop up or have it close right after?

### Steps to reproduce
1. Open lbry:// link from slack
2. link opens in new tab, LBRY launches
3. tab is blank with lbry://, but blank page

### Expected behaviou

[2017-06-01 03:56] tzarebczan opened #170 ""Hot Right Now" reward cannot be claimed"
## The Issue
After watching 3 of the featured videos, the claim function on Hot Right Now still says "You haven't watched a feature video yet
### Steps to reproduce
1. Watch feature vidoes
2. Go to wallet > Rewards
3. Click Claim Reward on Hot Right Now

### Expected behaviour
reward should be redeemed

### Actual behaviour
Told I have not watched a video

## System Configuration

- LBRY Daemon ve

[2017-06-01 04:04] tzarebczan opened #171 "Download UI shows 0% complete, but file downloads"
## The Issue
When downloading lbry://two, I did not see the progress bar on the download UI (normally see the percentage go up).  The file did download. Even going back home, then back to lbry://two - still shows 0% complete
### Steps to reproduce
1. Download lbry://two for 10LBC
2. Wait for download progress - nothing
3. Nothing happens, but file is in Downloads.
4. Log shows "collected 1 lbry fi

[2017-06-01 04:25] tzarebczan opened #172 "LBC deducted, download timed out. Files never re-download"
## The Issue
In two instances (lbry://one and lbry://swampwitch) I was deducted LBC from my wallet even though the content never downloaded (time out). for lbry://five, this does not happen.  Even after restarting LBRY, the files show at 0KB in download and the application does not try to redownload. The claim shows "Open" dialog.  Log shows:
2017-06-01 00:11:00,470 INFO     lbrynet.lbryfilemanage

[2017-06-01 04:42] tzarebczan opened #173 "Missing download button suddently"
## The Issue
After a couple downloads, I entered to a claim through a URI and noticed that my download button was missing. Now it happens for all un-owned videos. I can click play, then it shows the download status percentage.

App restart does not help.

Screenshot: lbry://missingbutton

### Steps to reproduce
1. Clicked lbry://bladerunner2049-trailer
2. Button Missing
3. Click play, download pro

[2017-06-01 04:49] tzarebczan opened #174 "Error downloading lbry://hitmans-bodyguard-trailer"
## The Issue
Cannot download lbry://hitmans-bodyguard-trailer
### Steps to reproduce
1. Go to lbry://hitmans-bodyguard-trailer
2. Download
3. nothing, see error in log:
2017-06-01 00:44:45,746 INFO     lbrynet.lbrynet_daemon.Downloader:103: Download lbry://hitmans-bodyguard-trailer status changed to running
2017-06-01 00:44:45,746 CRITICAL twisted:154: Unhandled error in Deferred:
2017-06-01 00:44

[2017-06-01 04:53] tzarebczan opened #175 "Issue when clicking back while video playing"
## The Issue
The video keeps playing, but metadata is shown from whatever was in the previous screen
### Steps to reproduce
1. Go to video 1, then go to video 2
2. Play video 2, click back
3. metadata from 1 is shown, video 2 is playing

### Expected behaviour
video stops playing, 1 is shown

### Actual behaviour
Video 2 keeps playing

## System Configuration

- LBRY Daemon version:
- LBRY App ver

[2017-06-01 05:02] tzarebczan commented on #173
After a couple more restarts, it came back. Not sure what caused that to happen.

[2017-06-01 09:47] alexliebowitz commented on #163
Fixed in #176. Thanks for the heads up.

[2017-06-01 09:48] alexliebowitz commented on #163
I think @ZentralSonne's problem is totally unrelated (and possibly fixed already? That kind of thing can happen if the wrong version is up on lbry.io). If it's still happening, we should make a new issue.

[2017-06-01 11:35] tzarebczan commented on #172
Files finished downloading overnight

[2017-06-01 14:27] lyoshenka opened #177 "Invalid char in channel name causes app to throw error"
Reilly typoed a featured channel, adding an extra comma at the end. This broke the homepage completely. App should do a better job recovering from this.

Channel `overwatch-horizon-trailer,`

Error:

[code]

[2017-06-01 14:36] lyoshenka commented on #147
This should be fixed in the latest release (https://github.com/lbryio/lbry-app/releases/tag/v0.11.8). Please give that a try. Reopen this issue if you're still seeing the error.

[2017-06-01 14:36] #147 closed

[2017-06-01 14:37] lyoshenka commented on #166
Fixed

[2017-06-01 14:37] #166 closed

[2017-06-01 14:39] lyoshenka commented on #168
This is a known issue that started happening when we switched to Redux, and we never fixed it. @alexliebowitz can you take a look at this next time you get a chance.

[2017-06-01 17:25] polminer opened #178 "Clicking the video player should pause the video"
## The Issue
The problem with the video player PAUSE.

### Expected behaviour
Start playing, when you click again on the screen - pause.

### Actual behaviour
if you click on the screen again, nothing happens, the video does not pause.

## System Configuration

daemon (lbrynet)	0.10.3
wallet (lbryum)	2.7.22
interface	0.11.9
Platform	Windows (Windows-10-10.0.14393)
Installation ID	8BrBaZkd2gjJCfWjr

[2017-06-01 17:44] kauffj commented on #168
Actually, this is supposed to work now.

[2017-06-01 18:21] #173 closed

[2017-06-01 18:36] tzarebczan commented on #177
Looks like the same as this issue I reported last night https://github.com/lbryio/lbry-app/issues/174 Will close it.

[2017-06-01 18:36] tzarebczan commented on #174
Same as #177

[2017-06-01 18:36] lyoshenka commented on #134
@Collinthegeek we ended up disabling this reward again because its too easy to abuse. If Jeremy hasn't sent you credits yet, I can send you some as well (I'm `grin` in slack)

[2017-06-01 18:36] #134 closed

[2017-06-01 18:48] lyoshenka commented on #174
@tzarebczan i don't think this is the same issue. I'm gonna leave this open.

[2017-06-01 18:52] tzarebczan commented on #174
Thanks, I looked at yours too quickly and jumped the gun.

[2017-06-01 19:46] mikesimps commented on #174
I had the same issue, but the video downloaded fine (I could open the file), it just wouldn't play back in the app. Restarted the app, but same problem exists. Screenshot of file name on my smb share.

daemon (lbrynet)	0.10.3
wallet (lbryum)	2.7.22
interface	0.11.9
Platform	Windows (Windows-10-10.0.15063)
Installation ID	8HbA7w4ymREsjcJETCceqL3zyc5GGBUs7ru1EZDDdCsJmzQYsopRfSjH95isnUtQyV

![image](

[2017-06-01 19:53] filipnyquist commented on #178
I´m running:
daemon (lbrynet)	0.10.3
wallet (lbryum)	2.7.22
interface	0.11.9
Platform	Windows (Windows-10-10.0.15063)
and does not seem to have this problem

[2017-06-01 20:15] lyoshenka opened #179 "Labels that are displayed as blocks cause confusing UX (example inside)"
Migrated from https://github.com/lbryio/lbry/issues/209

When my mouse is in the Fee area of Publish tab, if I click FEE, and input my amount, if i click away out of that box in a line parallel to the No Fee radio button, far to the right, it will select No Fee again

[2017-06-01 20:15] lyoshenka commented on #179
Not sure if this is still an issue

[2017-06-01 20:17] lyoshenka opened #180 "When pausing a download, progress drops to zero"
Migrated from https://github.com/lbryio/lbry/issues/254

When attempting to pause a download, the progress drops to zero:

![image](https://zippy.gfycat.com/SilverUnripeImago.gif)

[2017-06-01 20:18] lyoshenka opened #181 "Pressing play sometimes hangs"
Migrated from https://github.com/lbryio/lbry/issues/637

## The Issue
Tried to play a random video. Sits on the "awkward" loading screen indefinitely
### Steps to reproduce
1. Pick a random video you dont already have
2. Click play
3.  Possibly be on Windows

### Expected behaviour
15-20 sec pause followed by streaming

### Actual behaviour
load screen hangs indefinitely yet file is downloading in

[2017-06-01 20:40] lyoshenka commented on #168
So it does!

[2017-06-01 20:40] #168 closed

[2017-06-01 21:35] finer9 commented on #181
2017-06-01 17:30:02,622 INFO     lbrynet.core.Wallet:809: Resolving lbry://kedi-trailer
2017-06-01 17:30:03,387 INFO     lbrynet.lbrynet_daemon.Daemon:2537: Need sd blob
2017-06-01 17:30:03,388 INFO     lbrynet.core.client.ConnectionManager:38: Connection Manager 5731e95b6184bba989a89576f26286274b676e3f2a47d62343e70104f36bb186adacc1e8904e351f52fb8bf0c52886b5 initialized
2017-06-01 17:30:03,799 INF

[2017-06-01 22:13] tzarebczan opened #182 "Deleting file issue in Windows, cannot download content after deleting (until restart)"
## The Issue
After downloading a file, I clicked Options > Remove. When prompted to delete the file to from my PC, checked Yes.  The file does not get deleted, and instead, the permissions on the file get screwed up where I can't delete it normally from my download folder (don't have read access anymore).

This usually happens when you try to download, play and then remove a few times.

### Steps

[2017-06-01 22:16] tzarebczan opened #183 "lbryfilemanager.EncryptedFileDownloader lbry://xxxxx (xxxx) is unknown"
## The Issue
Log file shows lbrynet.lbryfilemanager.EncryptedFileDownloader:32: lbry://three-2 (8e70cc) is unknown for many files. Seems like an odd warning.

### Steps to reproduce
1.  Download some content, check log

### Expected behaviour
no warning/error

### Actual behaviour
warning/error logged

## System Configuration

- LBRY Daemon version:
- LBRY App version: v11.9
- LBRY Installation ID

[2017-06-01 22:22] tzarebczan commented on #170
@lyoshenka I did open an issue for what we discussed on slack. The request gets a 400 response, this is the data:
Access-Control-Allow-Methods:GET, POST, OPTIONS
Access-Control-Allow-Origin:file://
Connection:keep-alive
Content-Length:94
Content-Type:application/json; charset=utf-8
Date:Thu, 01 Jun 2017 22:20:41 GMT
Server:nginx/1.10.1
X-Content-Type-Options:nosniff
Request Headers
view source
Acc

[2017-06-01 22:52] CjMapope opened #184 "Video wont open, thumbnail self-destructs"
## The Issue

### Steps to reproduce
1. Navigate to  lbry://three-2
2. HIt play button on thunmbnail
3. Error is apparent, does not play

### Expected behaviour
Should play as per other vids when you click the large play button on the video

### Actual behaviour
Does not play

## System Configuration

daemon (lbrynet)	0.10.3
wallet (lbryum)	2.7.22
interface	0.11.9
Platform	Windows (Windows-10-10.0

[2017-06-01 23:01] tzarebczan commented on #184
It is a mov file, which might be why it's acting this way.

[2017-06-02 11:27] 6ea86b96 opened #186 "Updating an existing claim breaks the redux store"
## The Issue

### Steps to reproduce
1. Publish a file
2. Now publish another file at the same uri

### Expected behaviour

It should update or replace the existing claim and fileinfo

### Actual behaviour

We have 2 versions of the claim in the store, which breaks the downloaded/published pages and the new fileinfo isn't loaded.

[2017-06-02 14:20] finer9 commented on #163
.11.9 is telling me I need to update - but is already current - Windows 10

[2017-06-02 14:32] tzarebczan commented on #163
I'm on same version and Windows too, not seeing an update message. Restarted the app too.

[2017-06-02 14:35] finer9 commented on #163
I messed with my install_id - related?

[2017-06-02 15:23] lyoshenka commented on #170
Fixed :-)

[2017-06-02 16:07] tzarebczan opened #187 "Identity not available after initial creation on Publish page"
## The Issue
After claiming an identity via the Publish page, it is not available in the identity drop down list. Need to refresh (go out, go back in) the screen to get it listed.  Need to make a note of this in the app, or refresh the dropdown.

### Steps to reproduce
1. Go to publish, create identity with some claim amount
2. Check dropdown, identity not listed
3. Leave and come back, identity i

[2017-06-02 16:23] kauffj opened #188 "lbry-app hangs indefinitely when daemon hangs"
## The Issue
If `lbrynet-daemon` hangs on the initial `status` call made by `app/main.js`, then the app will hang indefinitely.

### Steps to reproduce
1. Launch a copy of `lbrynet-daemon` that hangs (not sure how to do this reliably)
2. Launch the app

### Expected behaviour
App at least errors cleanly, if not killing and restarting daemon.

### Actual behaviour
App sits at 'starting daemon' fore

[2017-06-02 16:57] tzarebczan commented on #187
Josh said it works fine for him, I'll try to debug later.

[2017-06-02 18:58] kauffj commented on #163
Same caching issue as before? Or try full uninstall / reinstall?

[2017-06-02 20:28] tzarebczan opened #190 "lbry:// URL fails to open if app is closed"
## The Issue
Clicking on lbry://lbry-intro from a browser while the LBRY app is closed does not lead to the app opening the desired URL. Instead, you get the discover page
### Steps to reproduce
1. Ensure LBRY app is closed
2. Open lbry://lbry-intro
3. Discover page shown

### Expected behaviour
should go to lbry://lbry-intro

### Actual behaviour
app opens, discover page shown

## System Configur

[2017-06-03 07:43] alexliebowitz commented on #190
Reproduced on Windows but not Mac. Clearly the app knows what it's supposed to be opening (you see the URI in the title bar). So it seems to be at the UI layer, which makes it weird that it's only happening on Windows. I'll figure it out. Thanks.

[2017-06-03 07:55] alexliebowitz commented on #186
@kauffj: I could take this one. It follows on naturally from the pre-fill stuff. Plus I'll be mucking around in the Redux logic where it stores the list of files to diagnose the bug I mentioned in #142.

[2017-06-03 08:05] alexliebowitz commented on #169
Hmm, having trouble replicating. Are you using Slack with the desktop app, or in browser? With the desktop app, I get this dialog, and then it launches in LBRY:
<img width="481" alt="screen shot 2017-06-03 at 3 55 17 am" src="https://cloud.githubusercontent.com/assets/7283989/26751887/ddf0cccc-4811-11e7-886f-f2fcf8880d4f.png">

[2017-06-03 11:25] tzarebczan commented on #169
Slack website on chrome. Yes, I've defaulted my links to open with lbry
app, so I don't see that warning /prompt anymore. When I click on a link,
it opens in a new tab and then launches lbry app. Wonder if it's some
chrome setting I have regarding tabs. I'll have to try it on a vm and Linux
too.

On Jun 3, 2017 4:05 AM, "alexliebowitz" <notifications@github.com> wrote:

[2017-06-03 15:38] tzarebczan commented on #169
So if I open the link directly from https://lbry.io/news/epicenter ( lbry://@Epicenter ) it doesn't open a new tab. But when opened from the slack channel (#content), it does. Odd. Should I close for now? Probably something to do with the way slack handles hyperlinks.

[2017-06-03 16:20] tzarebczan commented on #190
@alexliebowitz I can open another issue, but on Linux I'm getting different behavior when clicking on a hyperlink. A 2nd instance of the lbry app opens the URI instead of the existing app/window. Is this intended behavior on Linux?

[2017-06-03 16:59] tzarebczan commented on #170
Confirmed working on Windows where I tried a bunch of the featured content. On my linux VM, I just watched the Cryptoverse episode and tried to claim...same issue where it says the featured content wasn't downloaded. Is it enough to watch a single video, is there a delay?

app_id:7PpaKawsC47yjrfPWjnythmJ9bLUk2qw1NsVAcaB6PUaVM9zujhYv3B9LwbdDkQp7L
reward_type:featured_download
wallet_address:bHSTQX1

[2017-06-04 00:52] alexliebowitz commented on #169
Yeah, let's close this. If the Slack desktop app is working and other sites are working, it has to be something with the Slack web app. We're registering the protocol handler in the standard way for Windows.

[2017-06-04 00:52] #169 closed

[2017-06-04 16:46] 6ea86b96 opened #193 "file_delete with no outpoint deletes ALL files"
`lbry.file_delete({}, delete_target_file: true })` will delete all files (downloaded and published). Bug or feature?

[2017-06-04 23:06] #19 closed

[2017-06-04 23:06] #188 closed

[2017-06-05 00:39] tzarebczan opened #195 "Case sensitivity of channels/claims?"
Is it intended behavior that claims and channels are case sensitive? i.e. lbry://@oscopelabs <> lbry://@OSCOPELABS

[2017-06-05 17:08] kauffj commented on #193
This issue was moved to lbryio/lbry#671

[2017-06-05 17:08] #193 closed

[2017-06-05 18:00] kauffj commented on #186
@alexliebowitz please do, and please mark yourself as assignee when you'd like to take ownership. Thanks1

[2017-06-05 19:25] oakey22 opened #197 "Javascript error when opening a lbry:// link"
## The Issue
When clicking a lbry://music link the app loads up and then displays the error
A javascript error occured in the main process. You can see the screen in the snapshot
[https://spee.ch/error101](https://spee.ch/error101)
The link does not load in the app after this.

### Steps to reproduce
1.Open Lbry
2. Click on any lbry://link outside of the app

### Expected behaviour
Should load the

[2017-06-05 19:49] filipnyquist opened #198 "Pages SEND and RECEIVE are not working properly."
## The Issue
The issue is that it´s not possible to navigate to the pages SEND and RECEIVE in the latest version of the app.
### Steps to reproduce
1. Go to your wallet page
2. Click on SEND or RECEIVE
3. Nothing happens, error thrown as pasted down below.

### Expected behaviour
The pages SEND and RECEIVE should be shown to the end user.

### Actual behaviour
Error thrown:
[code]

## System Confi

[2017-06-05 19:52] nikooo777 commented on #198
the behavior is relatively random to an user point of view.

here is a video: https://scrn.storni.info/2017-06-05_21-51-0735.mp4

[2017-06-05 19:56] nikooo777 commented on #197
i confirm getting this as well the other day:

[code]

it resolved after a restart of my pc

[2017-06-05 21:38] polminer commented on #195
I described this promlem earlier in slack channel. wiil find later and past here

[2017-06-05 21:48] polminer opened #200 "Video fail to start playing"
## The Issue
Video fail to start playing at first download

### Steps to reproduce
1. search lbry://Music#dd0c86a2232273e318dd97bdc43536b9b0273b22
2. Click  on player screen
3.Video start to download
4. Videoplayer Black screen. Can't start, pause, enything.

### Expected behaviour
Video start playing

### Actual behaviour
Black screen - not playing

## System Configuration
About
Your copy of LBRY

[2017-06-05 21:48] maximumplank commented on #130
This is no longer happening in the 0.12 release.

[2017-06-05 21:50] tzarebczan commented on #130
Please close the issue.

[2017-06-05 21:51] maximumplank commented on #146
This is no longer happening on v0.12 of the app. Great job guys!

[2017-06-05 21:54] #146 closed

[2017-06-05 21:54] #130 closed

[2017-06-05 22:16] #198 closed

[2017-06-06 04:29] seanyesmunt opened #202 "Use Prettier"
## The Issue
Currently the js code has all sorts of different styles. (single/double quotes, semi/no-semi, tabs/spaces)

I think it would be beneficial to add Prettier to have a more unified code base. I also created a PR implementing it here: https://github.com/lbryio/lbry-app/pull/201

I am creating this issue to see what everyone thinks

[2017-06-06 04:46] 6ea86b96 commented on #202
I would love to see prettier integrated :+1:

[2017-06-06 05:51] seanyesmunt commented on #202
I prefer tabs, but I know others will fight to use spaces. Maybe we could do a thumbs up/thumbs down on this comment to determine what to use?

Thumbs up: tabs
Thumbs down: spaces

[2017-06-06 07:19] alexliebowitz commented on #190
@tzarebczan: That is known and comes down to a problem with Electron. See #164. We may have to work around it.

[2017-06-06 13:17] kauffj commented on #202
This is a good idea. Need to look into it a bit more, but expect a merge later today.

[2017-06-06 13:56] filipnyquist commented on #202
I think this is a great idea and it will be needed now as more and more people contribute code!

[2017-06-06 13:56] lyoshenka commented on #170
That cryptoverse episode is not one of the ones that's included in the reward. Does the app make it look like it is? That's probably an issue with the app and how it presents that info. Can you include a screenshot please?

Only `@TheCryptoverse/tc-G8w7lxlk2p0` is eligible for that reward.

[2017-06-06 14:00] tzarebczan commented on #170
There is nothing in the app that tells you whether or not the content is featured, I got that channel from the email (which lists channels only).  Hmm, maybe there should be an indicator on the content itself too to make that more apparent?

Need to double check if it launched the channel, or if I got that episode from the discover page. There may be 2 different paths to the claim. Will check toni

[2017-06-06 14:32] filipnyquist opened #203 "Fee format changed in daemon, results in error when trying to publish"
As reported by @heymattsokol in slack.

## The Issue
The issue is that the daemon api has been updated to a new format and the app has not. This creates a problem while trying to publish with a fee.

Caused by the format update: https://github.com/lbryio/lbry/pull/667/commits/4bfd2e630b6aec4f08e2e156f44fdda5f45dbcc4
### Steps to reproduce
1. Try to upload anything with a fee attached to it!

### E

[2017-06-06 15:41] #203 closed

[2017-06-06 21:29] kauffj commented on #202
This is merged. I decided to keep spaces over tabs since I think it's more common, but I don't feel strongly about this. I also added trailing commas where supported by ES5 (objects, arrays), switched from single quotes to double quotes, since JSX will be all double quotes anyway, and fixed the monitor path to compile on push.

@alexliebowitz @6ea86b96 @lyoshenka @jackrobison please:
1) Rebase any

[2017-06-06 21:29] #202 closed

[2017-06-06 22:00] kauffj commented on #170
The app currently gives no indicators of featured content.

[2017-06-07 00:16] maximumplank opened #205 "UI unresponsive when accessing wallet on Ubuntu"
## The Issue
Sorry if this is confusing, it was strange to me as well. Refer to steps to reproduce if this doesn't make sense.
When accessing wallet functions with the browser, the UI fails to update when attempting to switch from the 'Overview' (default) tab to the 'Send' and 'Receive' tabs. Switching to the 'Rewards' tab works fine, as does switching from the 'Rewards' tab to the 'Overview' and

[2017-06-07 01:34] tzarebczan commented on #205
Can you try the latest Rc? https://github.com/lbryio/lbry-app/issues/198 sounds like this issue that was recently fixed.

[2017-06-07 01:35] tzarebczan commented on #200
Can you please try this on the latest version?

[2017-06-07 01:41] tzarebczan commented on #187
Same issue for billbit. https://lbry.slack.com/archives/C0AFFUGF7/p1496798888532549

Haven't had the time to debug it, sorry!

[2017-06-07 01:52] billbitt commented on #187
same issue.  specs below.

Your copy of LBRY is up to date.
daemon (lbrynet)	0.11.0rc1
wallet (lbryum)
interface	0.11.9
Platform	Windows (Windows-7-6.1.7601-SP1)

[2017-06-07 02:28] tzarebczan commented on #187
seems to be working fine in Linux/Windows on the latest RC. @billbitt can you confirm?

[2017-06-07 06:13] maximumplank commented on #205
Sorry, thought I had updated. This appears to be un-wonked on 0.12.0-rc3. Although the client info in the help screen still indicated the interface is version 11.9. Is the interface version different from the release version on github?

Closing this, thanks.

[2017-06-07 06:13] #205 closed

[2017-06-07 06:47] AJJPSMUSIC commented on #51
@kauffj After testing it for a week, any further issue that was worth mentioning has been fixed with the newest update of LBRY I got today. All is good, well done for the work put in by everyone !!

[2017-06-07 11:28] polminer commented on #163
Porblem with manuall update.
Installed https://github.com/lbryio/lbry-app/releases/tag/v0.12.0rc3
this version.
But in Settings -HELP- About shows  old version
![2721](https://user-images.githubusercontent.com/26439658/26876192-a2f15a2c-4b8d-11e7-8a29-09f25bf0d758.png)

[2017-06-07 11:34] polminer commented on #200
It looks like a problem in the update for windows
I will wait for correction and then I'll write

https://github.com/lbryio/lbry-app/issues/163#issuecomment-306767285

[2017-06-07 15:07] kauffj commented on #163
@polminer above was just fixed, version reporting was wrong in RCs.

I don't think upgrading is currently broken, so I'm going to close this. Re-open if I'm wrong.

[2017-06-07 15:07] #163 closed

[2017-06-07 16:21] lyoshenka commented on #202
Are we really going with 80 chars per line max? Can we do something more reasonable, like maybe 120?

[2017-06-07 23:59] polminer commented on #200
Upd:
After update to https://github.com/lbryio/lbry-app/releases/tag/v0.12.0rc6
 to Windows version  i have the same issue.

Can another Windows user testrs confirm this problem?
 Try  lbry://Music#dd0c86a2232273e318dd97bdc43536b9b0273b22
at first download.

Your copy of LBRY is up to date.

daemon (lbrynet)	0.11.0rc1
wallet (lbryum)	2.7.24
interface	0.12.0rc6
Platform	Windows (Windows-10-10.0.143

[2017-06-08 01:08] reillysmith opened #208 "Author Fields Blank - Suggest delete from UI, or re-add to Publish"
## The Issue
Author field needs to be removed as a metadata field, since it's no longer in publish process. Or, re-add it to publish process so copyright can properly auto-fill again.

### Steps to reproduce
1. Attempt to publish
2. Look at new content publishes which have empty Author fields.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

##

[2017-06-08 13:15] 6ea86b96 commented on #200
I can confirm this is an issue. Only on the first attempt to play though. If you find the file in your downloads tab, or navigate to this lbry url when the file is already downloaded then it plays fine.

[2017-06-08 13:25] 6ea86b96 commented on #184
This is definitely the cause. LBRY uses a HTML5 `video` tag under the hood, which does not support this file for

[2017-06-08 14:45] 6ea86b96 commented on #200
So this seems to be due to the metadata being at the end the file. It also works if you navigate to the page, click on the download link and then click play when download as finished. Perhaps the easiest solution for now would be to catch errors from `render-media` and then attempt to play the file when download has finished.

[2017-06-08 19:09] lyoshenka opened #211 "App should indicate what content is featured / eligible for "Hot Right Now" award"
Otherwise people won't know what to watch to get the reward.

[2017-06-08 19:09] lyoshenka commented on #170
Filed an issue about this: #211

[2017-06-08 19:09] #170 closed

[2017-06-08 19:20] lyoshenka opened #212 "When taking over an existing claim users aren't informed how long it will take"
Moved from https://github.com/lbryio/lbry/issues/225

This is a UI issue, but may require work on the daemon side as well.

[2017-06-08 21:36] kauffj commented on #211
Is there an endpoint for this?

[2017-06-08 22:11] nikooo777 opened #214 "When trying to claim an existing name, user is not informed of amount needed to win"
## The Issue
When publishing content to a claim that has previously been claimed, the application used to display a minimum amount of credits to bid in order to take over the claim.

Now the application will not produce any feedback to inform the client of any other claims, nor will it inform about the amount of credits needed to overtake the claim.

The application will let the publication go thr

[2017-06-08 22:23] nikooo777 opened #215 "application attempts to claim a reward repeatedly"
## The Issue
When entering the publish section the application tries to claim the reward for "new_channel" which might eventually stress the server/api and could be avoided entirely.

### Steps to reproduce
1. Open the application and check if you already claimed the "new_channel" reward (Channel Surfing). If that's a positive then move to the next step
2. open the developer console and watch the

[2017-06-08 22:24] CjMapope opened #216 "Insufficient Funds Error Does Not Display Properly After Publish"
## The Issue
Insufficient funds error does not display properly in pop-up after failed publish
### Steps to reproduce
1. Attempt to publish, setting a fee ABOVE your wallets current balance
2. Pop-up for insufficient balance error appears
3. Error is apparent, does not actually SAY "Insufficient funds" (but shows in console of course)

### Expected behavior
Error pop-up should have the actual word

[2017-06-08 22:30] tzarebczan commented on #214
What happens to the file when it's published? I've noticed in past versions that it shows the orignal content (not yours) in published.

[2017-06-08 22:31] nikooo777 commented on #214
The file remains published as if it was an overtaken claim. if for whatever reason the top claim would be abandoned, then this new one would show up

[2017-06-08 22:44] lyoshenka commented on #211
https://api.lbry.io/reward/list_featured

[2017-06-09 00:27] kauffj commented on #215
This doesn't happen in upcoming branch (though it still does and will happen on views).

[2017-06-09 00:27] #215 closed

[2017-06-09 00:27] kauffj commented on #214
@alexliebowitz broken by redux?

[2017-06-09 00:29] kauffj commented on #187
Re-open if you see this in 0.12rc7 or later

[2017-06-09 00:29] #187 closed

[2017-06-09 00:30] #27 closed

[2017-06-09 00:30] #22 closed

[2017-06-09 00:32] kauffj commented on #30
0.12 will drop the necessity of codes and fix existing verification issues.

[2017-06-09 00:32] #30 closed

[2017-06-09 00:32] #57 closed

[2017-06-09 00:33] kauffj commented on #26
0.11 daemon fixes this.

[2017-06-09 00:33] #26 closed

[2017-06-09 09:36] 6ea86b96 commented on #200
I have a fix for this running locally. The code needs some cleanup. It should be good to go in the next couple of days.

![metadata](https://user-images.githubusercontent.com/20863631/26969936-abe7b202-4d31-11e7-8308-933c2c5e99f4.gif)

[2017-06-09 11:33] 6ea86b96 commented on #214
This seems to be a regression introduced here: https://github.com/lbryio/lbry-app/commit/fc652e221a1ce64ab12ad0a318c5b67e8f64a503.

The claim data here `lbry.resolve({uri: name}).then((claimInfo) => ` is inside of `claimInfo.claim`.

[2017-06-09 19:30] rcanolty opened #219 "LBRY will not open on Mac OS."
## The Issue
LBRY will not open on Mac OS.

### Steps to reproduce
1. Got email from LBRY at 14:51 EST, clicked on MAC OS button to download latest app.
2. Opened .dmg and dragged LBRY to Applications folder.
3. Message says "The daemon has unexpectedly shutdown. Goodbye."

### Expected behaviour
should open

### Actual behaviour
does not open

## System Configuration

Version 0.11.9 (0.11.9.1072)

[2017-06-09 21:17] trickyhunter2017 opened #220 "Bracket left open in the settings menu code on 0.12.0 rc7"
## The Issue
Someone left a bracket open in the settings menu code on 0.12.0 rc7
It shows in the interface just above the 'SHARE DIAGNOSTIC DATA' box

### Steps to reproduce
1. Open LBRY app (Has been seen in Windows and Linux app)
2. Click the settings cog icon top right of app
3. Scroll to bottom of screen, bracket */] should be visable top left of the words 'Share Diagnostic Data'

### Expected

[2017-06-09 21:23] kauffj commented on #220
fixed in #6bfce16

[2017-06-09 21:23] #220 closed

[2017-06-09 21:37] kauffj commented on #219
Can you:

1. Make sure no lbry processes are running
1. Run the application
1. Email `~/lbrynet/lbrynet.log` to jeremy@lbry.io

Thanks!

[2017-06-09 21:37] kauffj commented on #219
And sorry it didn't work! :(

[2017-06-09 21:38] trickyhunter2017 opened #221 "Submit a Bug report not working in 0.12.0 rc7"
## The Issue
Click the 'Submit a bug report' button in the help menu to report an issue.  Fill in description
click green 'Submit Report' button and nothing happens.    Has this been disabled on purpose?

### Steps to reproduce
1. Click the 'Submit a bug report' button in the help menu
2. Fill in description
3. click green 'Submit Report' button and nothing happens

### Expected behaviour
It shoul

[2017-06-09 22:47] tzarebczan commented on #187
Just happened to me on RC7, can anyone reproduce?

[2017-06-09 22:50] tzarebczan commented on #214
@kauffj / @alexliebowitz still an issue in RC7, don't think it was addressed.  ?

[2017-06-10 15:59] kauffj commented on #216
This is fixed.

[2017-06-10 15:59] #216 closed

[2017-06-10 23:12] LeRatton opened #224 "LBRY will not come forward after clicking LBRY Address"
## The Issue
The LBRY App will not come forward when clicking on a LBRY address link (on a browser or on the Slack chat).

### Steps to reproduce
1.  Click on a LBRY Address Link (example lbry://dunkirk-trailer1) on a Mac OSx

### Expected behaviour
Tell us what should happen

1. The app should come forward and open up the link. Similar to opening a web address or opening an application. It should

[2017-06-11 18:33] AyiSoli opened #226 "Unexpected crash/restart on clicking Help in Menu [OSX]"
## The Issue

When I click on "Help" menu and from the dropdown, "Help" Option, the LBRY App reloads unexpectedly.

### Steps to reproduce
1. Open LBRY App.
2. From Home, or any screen, Click on "**Help**" in the top toolbar
3. From the dropdown menu, click on "Help"
4. The App crashes and reloads from the initial screen.

### Expected behaviour
On clicking Help, it should show the help contents.

[2017-06-11 18:34] AyiSoli opened #227 "Newly published content requires a restart of the LBRY app to show up in the system."
## The Issue

Whenever I upload some new content, it does not show up immediately. Even on confirmation, it does not appear on the  "PUBLISHED" tab. I have to restart LBRY to find my uploaded content on the Published tab.

### Steps to reproduce
1. Create new content: Click on PUBLISH -> Select the files.
2. Select the price, access, licence , and also set the URL
3. Upload it.
4. Ideally it shoul

[2017-06-11 21:31] filipnyquist commented on #226
I'll take a look at this tomorrow morning!

[2017-06-12 02:37] tzarebczan opened #228 "Show permanent url for published items"
More of a feature request, but much needed IMHO. We should show the claimid, which allows for permanent resolution, somewhere on the published page or on the claimed item.

## The Issue
You'd need to look up the claimid manually using cli.
### Steps to reproduce
1. n/a
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configurati

[2017-06-12 08:04] 6ea86b96 commented on #227
Will be resolved by https://github.com/lbryio/lbry-app/pull/225 although we could separate the fix from the caching code if it needs to go in faster.

[2017-06-12 16:23] tzarebczan commented on #216
There is still an issue if you try to leave less than 1 Lbc in the wallet... Can you confirm @CjMapope? A user in #help just had the issue.

[2017-06-12 17:02] trickyhunter2017 opened #230 "12.0 Lose focus bug when playing video full screen on dual monitor setup"
## The Issue
When playing a video full screen under Windows 10 on a duel screen setup, if you click on the second monitor, the video playing full screen on the first monitor loses focus and goes behind the windows 10 taskbar.  This hides the video playback controls along the bottom of the screen and prevents you from clicking the full screen icon in order to revert the video back to small mode in

[2017-06-12 19:18] trickyhunter2017 commented on #230
Additional duel screen, fullscreen video playback test on macOS 10.12.5 working perfectly.  Correct focus, stays full screen when focus is lost, no title bar, dock stays hidden, playback controls available at all times.  Fullscreen means fullscreen.

![the team - lbry 2017-06-12 20-12-56](https://user-images.githubusercontent.com/4589923/27050974-531c00d8-4fac-11e7-9fb6-30d485ba5af8.png)

[2017-06-12 19:37] kauffj commented on #230
Thanks for this thorough report. Interesting that it works on macOS but not Windows. I don't think there is any OS-specific code here.

[2017-06-12 20:22] tzarebczan commented on #164
@alexliebowitz any updates? @nikooo777 still having this issue.

[2017-06-12 20:38] trickyhunter2017 commented on #230
OK just 'to be sure' 'to be sure' 'to be sure' I ran some more tests with the same downloaded video file using VLC media player 64bit 2.2.6 latest version.  Fullscreen mode, Fullscreen 'Interface' mode and YouTube's HTML5 video player under Firefox 64bit in Fullscreen mode.  None of them go behind the taskbar when the second desktop has focus.  There's something up with the LBRY apps Window layeri

[2017-06-12 20:42] tzarebczan commented on #190
@alexliebowitz any updates? Still around on latest build.

[2017-06-12 21:09] zuluqq opened #231 "Update download freezes when switching WiFi networks."
## Switching WiFi networks halfway through update causes the download to freeze.

### Steps to reproduce
1. Update LBRY w/update release.
2. Switch WiFi networks.

### Expected behaviour
It should just pick up where it left off when back in WiFi zone.

### Actual behaviour
It just freezes.

## System Configuration
This issue is I think universal. Not a priority but good for regular Joes who might

[2017-06-13 05:15] 6ea86b96 opened #233 "Refreshing page leads to blank screen"
**Issue below was fixed, but still has issues on some pages.**

## The Issue

Creating this to remind myself to fix it.

### Steps to reproduce
1. Browse to any page
2. Refresh

### Expected behaviour
The page reloads

### Actual behaviour
You get dumped to a green screen

## Anything Else

We need to switch to `#` based routing to fix.

[2017-06-13 06:51] AyiSoli opened #234 "Create "New Folder" while choosing Download Directory [OSX] [Feature Request]"
This is more of a feature request that can be added to the folder browser, while selecting the Download Directory

## Feature

1. Settings - > Choose Directory
2. Option to create a new folder can be provided here, beside "Open" and "Cancel".

### Expected behaviour
New folder/directory can be created to save the downloaded data.

## Screenshots
![screen shot 2017-06-13 at 12 04 15 pm](https://use

[2017-06-13 14:06] finer9 commented on #224
Can confirm this issue on Win 10 latest LBRY

[2017-06-13 14:54] lyoshenka commented on #233
This happened before and @kauffj fixed it. Perhaps the same bug is back?

[2017-06-13 15:26] kauffj commented on #233
Actually it happened before and @6ea86b96 fixed it :grin:

However, do we have to change routing to fix? Not opposed to this, but I believe you can detect reloads through the [`PerformanceNavigation API`](https://developer.mozilla.org/en-US/docs/Web/API/PerformanceNavigation).

[2017-06-13 16:50] 6ea86b96 commented on #233
oh, well that would be even better :)

[2017-06-13 17:25] kauffj opened #236 "Trim search string before searching"
Copying and pasting a URL with a preceding space should still work, but currently does not.

[2017-06-13 20:01] kauffj commented on #226
@longle255 fixed this and it's been merged into master. Will be fixed for everyone when we release 0.12.1 (possibly today).

[2017-06-13 20:01] #226 closed

[2017-06-13 20:04] kauffj commented on #171
I believe this was fixed in 0.12, please re-open if you see again.

[2017-06-13 20:04] #171 closed

[2017-06-13 20:46] kauffj commented on #230
Thanks for this, it's really an A+ bug report.

Unfortunately, I still have no idea why :(

We'll figure this out eventually, but to be honest this one probably won't be a priority.

[2017-06-13 20:49] kauffj commented on #230
I wonder if it is this issue...

https://github.com/electron/electron/issues/5267

[2017-06-13 21:30] trickyhunter2017 commented on #230
Hmmm you could be right.  It looks like electron has issues with Windows 10 window management when using more than 1 monitor.  It won't affect most people but the power users will complain about it no doubt.  I tried moving the taskbar to the left side of the screen but it still appears over the video when I use the second desktop.  A work around is to auto-hide the taskbar in Windows settings.  T

[2017-06-13 22:10] trickyhunter2017 opened #237 "LBRY Processes get stuck open"
## The Issue
Debating whether to log this or not as the issue has fixed itself after a reboot.  Upon inital install (of LBRY app 0.12.0 on Windows 7 x64 Pro on a virtualbox machine)  3 of the 4 running processes in memory fail to shut down after application closure.  This stops the user from starting the application again from the shortcut on the desktop.  After much testing, a simple reboot appea

[2017-06-14 01:26] tzarebczan commented on #221
@kauffj is this disabled for a reason or a bug? Fix in next release tag if needs corrective action?

[2017-06-14 01:28] tzarebczan commented on #219
@jackrobison - same issue as the guy on slack recently? db migration?

@rcanolty did you have lbry installed previously?

[2017-06-14 01:38] tzarebczan commented on #187
@kauffj I'm still seeing this on windows in the latest build. I think @nikooo777 may have identified the issue. Seems intermittent.

[2017-06-14 01:39] tzarebczan commented on #227
@kauffj I'd say this deserves a "fix in next release" tag. Reported by many via slack.

[2017-06-14 02:28] tzarebczan commented on #227
@6ea86b96 is it possible this (https://github.com/lbryio/lbry-app/issues/187) will also be fixed in #225 ?

[2017-06-14 03:28] liquidox commented on #224
Works for me on Win10/Chrome clicking the links in the LBRY newsletter.

[2017-06-14 03:31] liquidox opened #238 "Settings page has a visible comment? string"
## The Issue
Above the diagnostic data section it shows "*/}"

## System Configuration
- LBRY App version: 0.12
- Operating system: Win 10

## Screenshots
https://i.imgur.com/6d9BAz2.png

[2017-06-14 05:02] 6ea86b96 commented on #227
@tzarebczan no #187 won't be fixed in #225, but it will be fixed in #229 when I finished it. It may already be fixed by the changes I made so far. I will have to do some testing.

[2017-06-14 05:03] 6ea86b96 commented on #227
Unfortunately I'm a little short on time this week though :(

[2017-06-14 13:57] kauffj commented on #238
This is fixed, just need to make a new release. Thanks.

[2017-06-14 13:57] #238 closed

[2017-06-14 14:28] rcanolty commented on #219
i had lbry installed previously, when I put app in Applications folder, was asked if I wanted to replace old version, i said yes. i do not recall using lbry before, however (i may have just installed without opening).

[2017-06-14 15:42] rcanolty commented on #219
I don't see this file. Terminal command "ls -a" shows me a hidden file .lbryum, but no .lbrynet.

[2017-06-14 15:46] jackrobison commented on #219
on os x the lbrynet data folder is `~/Library/Application Support/LBRY` @kauffj

https://lbry.io/faq/lbry-directories

[2017-06-14 16:01] rcanolty commented on #219
Ah, got it. log file attached as text.
[lbrynet.txt](https://github.com/lbryio/lbry-app/files/1075212/lbrynet.txt)

[2017-06-14 17:00] kauffj commented on #219
Looks like the issue is a failure for the `claim_ids` table to be corrected. We'll get this fixed.

Appreciate your help on this @rcanolty, if you send me or post a wallet address, happy to send you a tip.

(And if you can't get a wallet address until we fix this, you'll get a notification when this is closed.)

[2017-06-14 17:07] jackrobison commented on #219
to manually bypass this, delete `blockchainname.db` and `db_revision` in the lbrynet data folder

[2017-06-14 17:08] jackrobison commented on #219
@rcanolty what was the very first version you installed, or around when did you initially install it?

[2017-06-14 17:23] rcanolty commented on #219
Not sure of first version number, but first email from LBRY was 2016 may 08.
Glad to help, I'd like to see this project succeed.

[2017-06-15 02:53] seanyesmunt commented on #234
I'll take this one if no one has started on it yet.

[2017-06-15 04:16] AyiSoli opened #240 "Incoming Transactions are not shown to be confirmed in the LBRY UI until restart [OSX]"
## The Issue

Whenever I make a new transaction to the LBRY App, it shows up in the balance page. However it does not get confirmed even after confirmation on the network.
It shows as "Awaiting confirmation" even after switching from Home to Wallet multiple times, playing a video and coming back to wallet, etc it still remains unconfirmed.
On closing the app completely and restarting it, it shows

[2017-06-15 10:28] 6ea86b96 commented on #227
Actually, scratch that, this is not fixed in #225. Needs a little bit of extra work.

[2017-06-15 14:38] kauffj commented on #234
Thanks @seanyesmunt! Look for this in 0.13 @AyiSoli.

[2017-06-15 14:38] #234 closed

[2017-06-15 20:08] setar opened #243 "all cards say me "this address containts no content""
## The Issue
all cards say me "this address containts no content"

### Steps to reproduce
1. run lbry-app

### Expected behaviour
any content :)

### Actual behaviour
no content

## System Configuration
{
  "build": "rc",
  "lbrynet_version": "0.12.2rc2",
  "lbryschema_version": "0.0.7",
  "lbryum_version": "2.8.1",
  "os_release": "10",
  "os_system": "Windows",
  "platform": "Windows-10-10.0.143

[2017-06-15 20:13] tzarebczan commented on #243
Don't click enter after your search, that takes you to the claim.

[2017-06-15 20:26] setar commented on #243
i just open lbry-app, and do not click any button ...
![1](https://user-images.githubusercontent.com/1164389/27200285-e4bf129c-5221-11e7-9f13-24c62716ea56.JPG)

[2017-06-15 20:28] tzarebczan commented on #243
Did it ever work correctly? Have you tried restarting? Try reinstalling also.

[2017-06-15 20:36] setar commented on #243
try paste in URL string any link from #content channel
![2](https://user-images.githubusercontent.com/1164389/27200659-53c202b6-5223-11e7-85f4-57c162785560.JPG)

[2017-06-15 20:39] tzarebczan commented on #243
Looks like something is blocked on your end. Check firewall?

On Jun 15, 2017 4:36 PM, "Sergey Taranenko" <notifications@github.com>
wrote:

[2017-06-15 20:47] setar commented on #243
sorry, my bag :)
I ran the daemon separately, in the next window
But it is already embedded ...

[2017-06-15 20:47] #243 closed

[2017-06-15 21:28] trickyhunter2017 opened #244 "LBRY App not compatible with OSX 10.8.5 or lower. OSX 10.9 minimum required to run"
## The Issue
Testing the LBRY app compatability with older versions of OSX.  10.9 appears to be the minimum version required in order to run it.  This could be an electron requirement.  This means it won't work on :

10.8 Mountain Lion
10.7 Lion
10.6 Snow Leopard
10.5 Leopard

Users with older iMacs or OSX versions won't be able to run it.

### Steps to reproduce
1. Install OSX 10.8.5 on a VMWare

[2017-06-15 23:16] kauffj commented on #221
This is fixed in master and will be fixed when 0.12.1 is released.

[2017-06-15 23:16] #221 closed

[2017-06-15 23:19] kauffj commented on #165
Let me know if you see this again post 0.12.2.

[2017-06-15 23:19] #165 closed

[2017-06-15 23:20] kauffj commented on #87
Duplicate of #227 and fixed in pull request.

[2017-06-15 23:20] #87 closed

[2017-06-15 23:22] kauffj commented on #174
This is a bug in `lbry` open for this.

[2017-06-15 23:22] #174 closed

[2017-06-15 23:24] kauffj commented on #172
This issue was moved to lbryio/lbry#700

[2017-06-15 23:24] #172 closed

[2017-06-15 23:30] kauffj commented on #219
While definitely a bug, this only affects a small number of old installs and may never get fixed.

Please contact help@lbry.io and reference this GitHub issue if you'd like assistance from our team in migrating and getting it running again.

[2017-06-15 23:30] #219 closed

[2017-06-15 23:30] kauffj commented on #219
And sorry!

[2017-06-15 23:33] kauffj commented on #182
Please verify this happens in 0.12.2 or later.

[2017-06-15 23:37] kauffj commented on #200
This is fixed in 0.12.

[2017-06-15 23:37] #200 closed

[2017-06-16 00:05] kauffj commented on #208
Will be fixed in 0.12.3.

[2017-06-16 00:05] #208 closed

[2017-06-16 00:07] kauffj commented on #231
This issue was moved to lbryio/lbry#701

[2017-06-16 02:01] benhohner opened #245 "Critical Error on App Boot"
## The Issue
App crashes at boot then won't start again

### Steps to reproduce

1. Open app
2. ![2017-06-15 19_57_29-lbry](https://user-images.githubusercontent.com/1463217/27206445-b6c3d40c-5205-11e7-9606-cdaf8d4ed7c6.png)
3. Clicked OK.
4. App says,

6. Close app. Try to reopen, nothing happens.
7. Kill process in task manager.
8. App still doesn't boot. It's essentially bricked right now.

###

[2017-06-16 02:38] finer9 commented on #245
Try looking in the Task Manager for running lbry.exe or lbry-app.exe
processes

Kill them all then restart the app

On Thu, Jun 15, 2017 at 10:01 PM, Ben Hohner <notifications@github.com>
wrote:

--
Josh Finer
COO/LBRY

[2017-06-16 02:55] Plasmmer commented on #87
Not. #227 is a duplicate because my issue is the #87, logically it started first, despite #227 is more detailed.

[2017-06-16 03:09] tzarebczan commented on #245
I'm getting the same on one of my machines. I know that re-installing has helped in the past - I bet it cleans up some temp files.  But still, would like to get to the root cause.

[2017-06-16 03:13] tzarebczan commented on #245
I get nothing in the lbrynet.log. daemon doesn't seem to start at all, I can run daemon manually just fine. So something with the app not kicking it off.

[2017-06-16 03:45] tzarebczan commented on #245
oh, the lbry daemon file is missing from C:\Program Files (x86)\LBRY\resources\app\dist . That's why a reinstall fixes it. But where did it go?!?!?! lol

Putting the daemon back into the folder fixes the issue.

[2017-06-16 04:03] tzarebczan opened #247 "Feature request: Add new support to claim via GUI"
## The Issue
Currently, need to use the cli to add claim support to a claim. Should be a nice publisher facing feature if you add an option to support your own claims with additional LBC at the click of one or two buttons. Or this could just be part of the larger content management system in the future.

Also, should have an endpoint created in the app so that it can be called from the outside (su

[2017-06-16 09:09] trickyhunter2017 opened #249 "Upgrading to v0.12.2rc2 results in 99% of home page content no longer being available"
## The Issue
I saw that 0.12.2 rc2 was available on the github page.  I started the lbry app on my desktop but it did NOT tell me that an update was available (so I quit that).  I then manually downloaded the new RC and manually ran the update, which seemed to go ok.  When I then started the new version, only 1 video thumbnail would load from the homepage.  All the rest say 'this address contains

[2017-06-16 09:09] jasperjansz opened #250 "UX: Replace horizontal scrollbar with arrows"
## The Issue
Horizontal scrolling, albeit effective on mobile, does not translate well to desktop. Especially for those using a mouse instead of trackpad. Also it looks bad and takes attention away from the content.

### Steps to reproduce
1. Open LBRY

### Expected behaviour
Expected behaviour, not only based on usability research but based on household names such as YouTube and Netflix using sim

[2017-06-16 09:18] jasperjansz opened #251 "Pick a one character symbol for LBC"
(Edit from @kauffj : This applies to the price indicators as well as the wallet indicator in the top toolbar. Both should use the same symbol or label.)

## The Issue
When I first looked at LBRY, the fees on some content looked like ratings to me.

### Expected behaviour
For a price, a currency denomination is expected. If it were dollars, you'd write $x, not just x.

### Actual behaviour
There's

[2017-06-16 09:25] jasperjansz opened #252 "UX: Page titles in search bar don't stand out enough"
## The Issue
Only a couple days in I noticed that the page title is in the search bar. This is hardly noticeable, unless you know it's there. Especially coupled with the fact that some links in the header are just icons.

### Expected behaviour
Page titles should tell the user at a glance or when he's quickly scanning what the page is about and where they are.

### Actual behaviour
Instead the use

[2017-06-16 10:53] 6ea86b96 commented on #227
This was not quite fixed by the above PR. Most users will notice nothing wrong, but there are errors in the JS console because a pending file is pushed into the store and never removed.

[2017-06-16 14:41] AyiSoli commented on #234
Great! Thanks guys!

[2017-06-16 15:41] kauffj commented on #249
Yes, this behavior is happening since your daemon did not update. If you close all LBRY processes and run it again, it should work, but if you continue to see daemon v0.11 that explains the issue.

Also, RCs are pre-release versions not necessarily ready for mass usage. So you will only be prompted to upgrade once this is marked as a release.

[2017-06-16 15:41] #249 closed

[2017-06-16 17:40] benhohner commented on #245
@finer9 Killed all the processes and tried restarting. App boots but the same error appears and app doesn't initialize.

I'll try reinstalling, I assume that'll fix it if the daemon is indeed missing for some reason.

[2017-06-16 17:49] tzarebczan commented on #245
Also, you may need to revert to 0.12 if you still have issues. Latest rc is buggy in some cases.

[2017-06-16 17:51] benhohner commented on #245
Update:
Tried uninstalling via Uninstall LBRY.exe.
First launch, it said LBRY was already running, even though I've thoroughly searched through the task manager details tab for running instances.
Second+ launches, when I click Yes I want to uninstall, nothing happens and the app quits.

@tzarebczan I am running 12.0, checked in the package.json

[2017-06-16 17:53] tzarebczan commented on #245
No need to run install, just re run the setup exe

[2017-06-16 18:18] benhohner commented on #245
Rerunning setup seems to have solved the issue.
My only question is, why did the lrby daemon get deleted in the first place?

[2017-06-16 18:20] tzarebczan commented on #245
No idea. I tried looking through event logs, virus scanner etc. Let me know if you find anything.

[2017-06-16 18:56] benhohner opened #253 "Seeking in a MP3 doesn't work until the file plays all the way through"
## The Issue
Seeking in a MP3 (possibly other audio files too) doesn't work until the file plays all the way through

### Steps to reproduce
1. Download lbry://curvedspace-scatter
2. Play file
3. Try to seek, seeking fails
4. Finish listening to file
5. Seeking now works.

### Expected behaviour
Users should be able to seek as soon as they've downloaded the whole file (if not as the file is downlo

[2017-06-16 19:34] tzarebczan opened #254 "Help menu button reloads app"
## The Issue
When clicking Help>Help, the app reloads. Should this be re-directed to Settings>Help?
### Steps to reproduce
1. Click Help > Help from electron menu bar

### Expected behaviour
Go to Settings > Help?

### Actual behaviour
Reloads app

## System Configuration

- LBRY Daemon version:
- LBRY App version: 0.12rc2
- LBRY Installation ID:
- Operating system: Windows 10

## Anything Else

#

[2017-06-16 20:48] kauffj commented on #250
@seanyesmunt want to try this one?

[2017-06-16 20:52] kauffj commented on #252
I agree! Would love to hear suggestions on this one. Is there a style change that could make the address bar work better? Repeat it below? I did try this and didn't like it, but maybe there is a better way.

[2017-06-16 20:59] kauffj commented on #245
I don't doubt this was a bug, but realistically without anything reproducable there's little we can do at the moment given so many other priorities. Going to close this, but please re-open if it continues to happen on upgrades.

[2017-06-16 20:59] #245 closed

[2017-06-16 21:00] kauffj commented on #251
Maybe add an L? Maybe repeat the bank icon? Maybe we need a one character symbol for LBC...

[2017-06-16 21:02] kauffj commented on #197
Please re-open if happening in 0.12.x or later.

[2017-06-16 21:02] #197 closed

[2017-06-16 22:14] seanyesmunt commented on #250
@kauffj I would love to give this a try!

[2017-06-18 00:35] tzarebczan opened #255 "Purchase confirmation box - display issue"
## The Issue
The message box that pops up after clicking download/play on paid content cuts off text if the URI is too long. Also, the message prompt is different when clicking the thumbnail vs the download button - clicking the thumbnail shows the title, not URI.  If Download is fixed to show Title, still need to ensure a longer title doesn't cause cut off issue.

### Steps to reproduce
1.  Go to

[2017-06-18 15:38] dmitriyfomins opened #256 "lbry"
## The Issue

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

## System Configuration

- LBRY Daemon version:
- LBRY App version:
- LBRY Installation ID:
- Operating system:

## Anything Else

## Screenshots

[2017-06-19 04:51] tzarebczan commented on #256
Please close this if it was opened by mistake.

[2017-06-19 06:28] 6ea86b96 commented on #253
@benhohner this is because in some files the metadata is at the end and so unavailable when streaming.

[2017-06-19 14:23] benhohner commented on #253
@6ea86b96 I'm aware there's that issue when streaming, but this happens after the entire file has already been downloaded in a previous browsing session, and I'm rewatching it.

[2017-06-20 13:28] avashlin opened #260 "Multiple LBRY processes spawn when opening multiple clients (2 X number of clients)"
## The Issue
Opening multiple clients are allowed, so each client should have it's own set of processes and manage the memory accordingly.
Multiple processes (potentially duplicates) spawn on LBRY client startup. I assume that this is not the intended behavior, please see screenshots

### Steps to reproduce
1. Open 3 instances of LBRY client
2. Close 2
3. Observe system monitor on linux
4. More th

[2017-06-20 13:46] lyoshenka opened #261 "deb packages requires libappindicator1 and libindicator7 on Ubuntu 14.04"
This should be added to .deb requirements, so you don't have to `apt-get -f install` to get LBRY installed.

[2017-06-20 13:56] avashlin opened #262 "Allow users to follow tags/categories"
## The Issue
- When I open LBRY, there are 4 categories ( Comedy, Trailers and Coming soon, Movies and TV ,The Tumultuous Ten - YOUR CONTENT HERE!,  CS @UCBerkeley)
- These may or may not be topics of interest to a user.
- Having to search to find your interests are a bit annoying at times

### Steps to reproduce
1. Open LBRY
2. Look at the landing page and observe categories

### Expected behavio

[2017-06-20 14:01] avashlin opened #263 "Published Content disappeared"
## The Issue
- I published 2 memes.
- When I look at my published content, 1 is there and the other is not.

### Steps to reproduce
1. Publish 2 memes
2. Next day I looked at downloads & purchases
3. Clicked on Published tab, only 1 meme was shown

### Expected behaviour
Tell us what should happen
No content should be removed without some kind of notification to the user.

### Actual behaviour
Tel

[2017-06-20 14:08] avashlin opened #264 "UX: show informative dialog box or daisy wheel when downloading"
## The Issue
I opened a video on the LBRY client, it said the content was unavailable. I then clicked 'try anyways' and clicked the download button. It says connecting... . To a normal end user, they might think the interface is frozen, it might be a better experience if there was a dialog box that popped up telling me that my download is in progress or a daisy wheel that shows me that something i

[2017-06-20 15:04] avashlin opened #265 "Using Developer->Reload after opening a video results in a blank, stuck window"
## The Issue
Opening LBRY and then proceeding to attempt to play a video (currently unavailable content). After this, I just selected Developer->Reload on the menu and was faced with a 'green screen of death'. See screenshot below.

### Steps to reproduce
1. Open LBRY
2. Choose a video
3. Wait for it to say content unavailable
4. Select Developer -> Reload from menu
5. observe screenshot for resul

[2017-06-20 18:15] kauffj commented on #265
Duplicate of #233

[2017-06-20 18:15] #265 closed

[2017-06-20 23:06] avashlin opened #267 "Language and "Show unavailable content in search results" settings don't save"
## The Issue

### Steps to reproduce
1. open lbry app
2. go to settings
3. change either language or "Show unavailable content in search results" setting
4. press the home button
5. go back to settings
6. observe that the settings have not saved since the change

### Expected behaviour
Tell us what should happen
the setting should save as per the user's selection
### Actual behaviour
Tell us what

[2017-06-21 17:04] lyoshenka opened #268 "Allow configuring of max_key_fee daemon config"
Related lbry issue: https://github.com/lbryio/lbry/issues/721

[2017-06-22 14:11] 6ea86b96 opened #271 "Regression on NSFW content"
## The Issue

NSFW explanation text is now also obscured.

### Steps to reproduce
1. Load the homepage and check out number 4 of the community content

### Expected behaviour
The content should be obscured and there should be a message explaining why and how to turn off nsfw in settings.

### Actual behaviour
The content and the message are obscured.

## Screenshots

![2017-06-22 at 20 59](https:/

[2017-06-23 05:42] 6ea86b96 commented on #233
Fixed in #274

[2017-06-23 06:14] 6ea86b96 commented on #240
I was unable to replicate this.

[2017-06-23 06:15] 6ea86b96 commented on #227
Working on a fix for this in #229

[2017-06-23 06:22] 6ea86b96 commented on #236
Fixed in #276

[2017-06-23 07:00] 6ea86b96 commented on #228
Fixed (I think) in #227

[2017-06-23 07:59] 6ea86b96 commented on #268
Ran into some problems implementing this on #278

[2017-06-23 13:41] #228 closed

[2017-06-23 15:21] 6ea86b96 opened #279 "Download progress doesn't show in downloaded file list"
## The Issue

Download progress doesn't show in downloaded file list

### Steps to reproduce
1. Start a file downloading
2. Go to the downloaded files folder

### Expected behaviour
Download progress should be displaying

### Actual behaviour

The "OPEN" link is displaying

## System Configuration

[code]

## Anything Else

I suspect this could be related to not passing `full_status: true` when fe

[2017-06-25 07:59] 6ea86b96 opened #286 "NSFW content isn't obscured on show page"
## The Issue

NSFW content isn't obscured on show page

### Steps to reproduce
1. Go to lbry://jacki with NSFW content turned off

### Expected behaviour
The content should be obscured

### Actual behaviour
The NSFW thumbnail image is visible

[2017-06-25 13:15] simonstead commented on #251
Could use a Blackboard Bold L?
# 𝕃
unicode: U+1D543

[2017-06-25 20:13] seanyesmunt commented on #251
I think the "Blackboard Bold L" ^ looks cool/informative

[2017-06-26 01:02] akinwale opened #288 ""Hot Right Now" reward claim buggy behaviour"
## The Issue
I keep getting an error message as shown in the screenshot below when I try to claim the "Hot Right Now" reward. However, it appears the reward got credited to my wallet twice.
https://www.dropbox.com/s/5tvi7jm6hcqm3pu/hot-right-now.png?dl=0

### Steps to reproduce
1. Watch one of the Hot Right Now videos.
2. Click Claim Reward.

### Expected behaviour
It should show a message that th

[2017-06-26 13:35] kauffj commented on #251
I like it, but going to try to do a public ask for ideas, and possibly a poll, before picking anything.

[2017-06-26 14:48] zestyr commented on #251
# ⛀
White Draughts Man, U+26C0
# Ꝉ
Latin Capital Letter L with High Stroke, U+A748

![image](https://spee.ch/lbry/4cb345bae48d82257d737020e4ee0630725edec1)

[2017-06-26 15:27] marcdeb1 commented on #251
U+2C60 with two bars is like a L with a book inside.

# Ⱡ

Or U+1EFA is nice, looks like a book too :
# Ỻ

[2017-06-26 17:01] zestyr opened #290 "Can't claim Channel Surfing reward"
I've been able to claim all rewards, except the "Channel Surfing" reward. I created an identity yesterday and published a video under it: `lbry://@CboyardeeArchive/aphidamp`
When I try to claim the reward, it says "Please create a channel identity first."
Using the network view I can see it makes two requests. "unused_wallet_address", and "claim_list_mine".
[code]
The response for the first reques

[2017-06-26 17:32] hackrush01 commented on #251
[This](https://unicode-table.com/en/2112/) one looks pretty neat U+2112
# &#8466;

Or Maybe if you wanna get creative then [this](https://unicode-table.com/en/0141/) is awesome too. U+0141
# &#321;

If asked to choose, I'd go with the first one.

[2017-06-26 18:53] TrompoMax opened #291 "shutdown on startup, with message "The daemon has unexpectedly shutdown. Goodbye.""
## The Issue

### Steps to reproduce
1.Open LBRY app on mac os 10.12.5
2.LBRY app shuts down on its own, with error message "The daemon has unexpectedly shutdown. Goodbye."
3.

### Expected behaviour
Tell us what should happen
I think the App should open, and allow me access to its goodness.

### Actual behaviour
Tell us what happens instead
The app shuts down, and denies me all the goodness.

##

[2017-06-26 19:19] kauffj commented on #291
@TrompoMax thanks for reporting this! However, we cannot debug without more details.

Can you send your `lbrynet.log` file to help@lbry.io and reference this ticket (lbry-app #291)?

[2017-06-26 19:20] pfranzoni commented on #251
₤
Was used for Italian Lire but now is not used anymore since it went to Euro.

[2017-06-26 19:35] TrompoMax commented on #291
Where would I find lbrynet.log?

[2017-06-26 19:35] kauffj commented on #291
Oops, meant to include this link: [https://lbry.io/faq/lbry-directories](https://lbry.io/faq/lbry-directories).

[2017-06-26 19:42] pfranzoni commented on #251
Coin symbols are usually coming from ancient languages. Library in both Latin and Greek is translated to Bibliotheca. So also symbols like Ƀ or ƀ should go.

[2017-06-26 20:00] TrompoMax commented on #291
I do not have a LBRY folder in my applications support folder sub directory of Library.  This may be part of the problem.

I ran the software from Terminal, and this is the readout.  Does this help at all?

max-cranleys-macbook:~ workingaccount$ /Applications/LBRY.app/Contents/MacOS/LBRY ; exit;
Checking for lbrynet daemon
lbrynet daemon needs to be launched
Launching daemon: /Applications/LBRY.ap

[2017-06-26 20:09] kauffj commented on #291
Thanks, the issue is clear from that log so no need to email.

[2017-06-26 20:26] pequalsnp commented on #251
:books: believe this is a valid UTF-8 Character

[2017-06-26 20:29] TrompoMax commented on #291
My pleasure.  Thank you!

[2017-06-26 21:24] tzarebczan commented on #291
@TrompoMax, another user had a similar issue on MAC and this was suggested:
Fix: to manually bypass this, delete blockchainname.db and db_revision in the lbrynet data folder.

Looks like you had an older installation, so this directory may be different. Can you search your pc for those files? Maybe then you will find the directory.

We will be working on a guide on how to do a fresh install while

[2017-06-26 21:25] hackrush01 commented on #236
Is this issue resolved? Can it be closed?

[2017-06-26 21:37] TrompoMax commented on #291
I did have an older version of the app installed, yes.  Please do let me know when that guide is complete.  I can't find those files, unfortunately.

[2017-06-27 01:40] kauffj commented on #236
Yes x2!

[2017-06-27 01:40] #236 closed

[2017-06-27 01:40] kauffj commented on #236
(not in live version yet, though)

[2017-06-27 03:35] BootstrapMusic opened #292 "General User Experience Issues"
Here's a list of problems/issues I had with using the app.

1.  When in full screen, the top toolbar does not go away.
2.  The Volume control resets when you go to the next video.  The app should remember my volume setting and have it there with each new video I open.
3.  The space bar on my keyboard should pause & play the video.  This is a universal with good media players, and is frustrating wh

[2017-06-27 05:34] iretrala commented on #291
@TrompoMax I can confirm that what @tzarebczan works as I was having the issue, too. Click "Go" in Finder at the top of the screen, use this location exactly: `<~/Library/Application Support/LBRY>`, and voila! You should be able to see those two files mentioned and delete them. All you do then is reopen LBRY.app and you should be good. :)

[2017-06-27 05:44] TrompoMax commented on #291
Yep, that did it.  Thanks guys!

[2017-06-27 09:48] pfranzoni commented on #251
This is also nice, but you should think to propose a new char to the Unicode Committee (they say it's taking one and half year usually from submission to distribution)
# **℄** (U+2104)
https://unicode-table.com/en/2104/

[2017-06-27 15:59] tzarebczan commented on #292
Thank you for your detailed feedback.  If you are on our slack channel (slack.lbry.io), PM me (@jiggytom) and I'll send some LBC your way.

RE 6, this is something we will be getting rid of soon.

[2017-06-27 16:55] trickyhunter2017 opened #295 "Video playback controls displayed on video description page"
## The Issue
Video playback controls flash briefly at the bottom of the screen when you try to play an already downloaded video.  If the app can't retrieve the metadata, the video fails to play and the playback controls are displayed permanently at the bottom of the page.  See screenshot below.

### Steps to reproduce
1.  Install the latest 0.12.2rc7 app, Windows client on Windows 10
2.  Play any

[2017-06-27 18:19] #286 closed

[2017-06-27 18:23] kauffj commented on #271
Fixed in #e3bbb6fcef

[2017-06-27 18:23] #271 closed

[2017-06-27 20:48] tzarebczan commented on #295
I'm able to confirm this happens - very brief but does occur.

[2017-06-27 20:49] tzarebczan commented on #291
Great! We will still work on a guide on how to clean install and then possibly copy over pertinent files.

[2017-06-27 20:50] tzarebczan commented on #291
@iretrala thanks for the tip, that was going to be part of the documentation (or how to show hidden files).  If you are on Slack, PM me and I'll throw you a couple LBC (my handle is jiggytom).

[2017-06-27 20:54] TrompoMax commented on #291
Ya, thanks again.  Just for clarity, there are at least 2 Library folders in MacOS.  One for each user, and one for the system.  All of my apps, including LBRY are in my main system applications directory, so I assumed the library folder you were asking me to look into was in that one.  The files I was looking for were actually in my user Library folder.

[2017-06-27 21:33] kauffj commented on #292
Thanks @BootstrapMusic! As Tom said, 6 is happening. 4 will be some time. But the rest are low-hanging fruit.

@tzarebczan can you split 1, 2 3, and 5 into separate tickets and mark them all as contributor friendly?

Please be more specific about what 1 means as well, that is contrary to my experiencing hitting the full screen button in the player.

I'm going to close this, since this ticket is re

[2017-06-27 21:34] kauffj commented on #291
I'm going to close this, since this isn't an issue with the app itself (it's the daemon), the daemon devs know, and a help article is in the pipeline. Thanks all!

[2017-06-27 21:34] #291 closed

[2017-06-27 21:35] kauffj commented on #279
Do you really have to pass full_status to get the percentage? That seems like the real issue, and I can't imagine the written_bytes being an expensive operation...

[2017-06-27 21:41] tzarebczan commented on #290
My Brother in law has a similar issue on his machine. He was on RC2 when he made a publish. We then updated to RC7 and he received the attached error.

I was not able to grab the Json requests for the user_email api -trying to reproduce.

[2017-06-27 21:54] tzarebczan opened #297 "NSFW setting doesn't activate until app reload / "Clear The Cache""
-->

## The Issue
I know there were some NSFW issues recently closed (#286, #271) which may be related, but this issue occurs in RC7. After turning on the "Show NSFW Content" setting in Settings, going back to the Discover page still shows the content blurred out. Restarting the app forces the setting to work properly. Also "Clear the Cache" also forces it on.  The same also happens when the setti

[2017-06-27 22:02] kauffj commented on #297
I just fixed this heh

On Tue, Jun 27, 2017 at 5:54 PM, Thomas Zarebczan <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-06-27 22:18] tzarebczan opened #298 "LBRY installer must detect running daemon"
## The Issue
Under certain conditions (have not reproduced successfully), the daemon is not updated on an existing Windows installation.  I was on 0.12.2RC2 with 0.13RC1 daemon.  I then ran the RC7 exe file. After running LBRY, the daemon stayed at 0.13RC1 - I confirmed that the daemon wasn't updated in the Program Files directory.  In this particular instance,

Do we check if the daemon is runnin

[2017-06-27 22:34] hackrush01 opened #299 "Existing channel is shown as stub."
## The Issue

### Steps to reproduce
1. Search for `lbry://@oscopelabs`

### Expected behaviour
The message "This channel page is a stub" should not be displayed.

### Actual behaviour
The message "This channel page is a stub" is displayed.

## System Configuration

Latest clone from github at the time of writing, commit SHA -> e42aa21

## Screenshots

![stub channel](https://user-images.githubuse

[2017-06-27 22:46] tzarebczan opened #300 "Publishing broken in RC7"
## The Issue
RC7 seems to have introduced a publishing bug, see log below. After doing the publish, the app needs to be closed to be functional again. Reopening the app and going back into Publish causes the errors and app to freeze again. Looks like files publishes correctly based on file availability in app.

### Steps to reproduce
1. Open Developer mode, go to Console
2.  Publish an item, get c

[2017-06-27 22:49] tzarebczan commented on #299
Thanks for logging! Need to find out from @kauffj what they would like written here, if anything.

[2017-06-28 02:55] tzarebczan commented on #263
Do you have the transaction id of the publish? Can you post your log file? It's most likely a bug, but we won't know more if we can't reproduce it.

[2017-06-28 02:57] tzarebczan commented on #240
@AyiSoli please reopen and update to the next major release (not out yet), or RC7 if you are feeling adventurous (publishing is broken).  If you can get it to happen again, please provide more info like tx id and log.

[2017-06-28 02:57] #240 closed

[2017-06-28 03:03] tzarebczan commented on #251
What about this?
# ℄ (U+1F17B)
http://graphemica.com/%F0%9F%85%BB

[2017-06-28 03:05] tzarebczan commented on #251
What about this with green coloring?

🅻 (U+1F17B)

http://graphemica.com/%F0%9F%85%BB

[2017-06-28 06:44] IsabelleAlt commented on #251
My contribution to the unicode quest:
ℓ (U+2113)

[2017-06-28 18:02] kauffj commented on #290
There's a race condition / timing issue here it's not efficient to fix until the pending publishing refactor @6ea86b96 is working on is finished. I suspect that reloading or restarting the app will allow this reward to be claimed in the interim.

[2017-06-28 19:53] tzarebczan commented on #300
I think this only happens if you publish with an identity, not sure.

[2017-06-28 20:17] #299 closed

[2017-06-28 20:20] kauffj commented on #292
@tzarebczan please close this when it's been split

[2017-06-28 20:24] tzarebczan commented on #292
Will do!

[2017-06-28 20:29] tzarebczan commented on #292
@BootstrapMusic you meant the Edit/Help/Developer toolbar for issue 1 right?

[2017-06-28 20:39] kauffj commented on #292
Yes, he also DM'ed me on Slack.

On Wed, Jun 28, 2017 at 4:30 PM, Thomas Zarebczan <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-06-28 20:41] kauffj commented on #298
@lyoshenka I've also seen several user reports of this. Can the install process bail if it can't replace the daemon?

[2017-06-29 01:04] BootstrapMusic commented on #292
Yes.  It doesn't go away on full screen.

Thanks

Adam Winter
The Bootstrap Music Co.
206-430-4425
adam@bootstrapmusic.com
www.bootstrapmusic.com

On Wed, Jun 28, 2017 at 1:39 PM, Jeremy Kauffman <notifications@github.com>
wrote:

[2017-06-29 01:29] tzarebczan commented on #290
I'll try it again on the PC which has the issue, but previously we tried restarting multiple times to no avail.  It simply does not kick off the json request for the reward call.  I can try publishing something again, and see if that does anything too.

[2017-06-29 08:30] avashlin commented on #263
Hi,
txid: 95f2a2bfc8fdfdef861f9f5d4a8977f0cd64c2db87abc3f5e688c8a9652bf37e

I'm on using Ubuntu 16.04, downloaded the debain package to install lbry, if you point me to the log files in question, I'll send them to you. I have just updated from 0.12.0 to the latest rc9 version, I'm not sure whether that does a clean install and removes my log files.

[2017-06-29 12:02] tzarebczan commented on #263
The install process does not delete any logs. The log file is in the lbrynet directory, called lbrynet.log or possibly archived off into a copy.

https://lbry.io/faq/lbry directories - should be the lbrynet directory.

Do other published files display? Does it return and just not display anything, or does it say loading?

[2017-06-29 12:21] tzarebczan commented on #263
Also, are you sure the wallet did not get replaced by yourself for any reason? Published files are tied to the wallet.

[2017-06-29 13:39] avashlin commented on #263
2 of my published files appear on the published page (as per screenshot). Haven't seen it show loading on that screen.

Haven't created any addresses apart form the one within the application since I downloaded it and all my publications have been via the app.

In the attached zip I have included both log files present in ~/.lbrynet , a screenshot of what my published page looks like in the app an

[2017-06-29 13:41] tzarebczan opened #308 "Top menu not suppressed in full screen video mode"
## The Issue
When playing a video in the app full screen, the Edit / Help / Developer menu bar is stiill shown.
### Steps to reproduce
1. Go to claim with video (lbry://@IGNonLBRY/linked-ep5)
2. Click Play, go full screen
3. Menu bar visible

### Expected behaviour
Video should be in full screen

### Actual behaviour
Menu bar shown

## System Configuration

- LBRY Daemon version:
- LBRY App versio

[2017-06-29 14:01] CjMapope opened #309 "Select boxes missing borders in Windows (at least on Publish page)"
The Issue

License text seems not properly displayed

Steps to reproduce
1. Navigate to "Publish" tab
2.Take a look at the license drop down bar
3. Error is apparent, looks funky, not showing first option or the border right :/

Expected behaviour
Tab should have border and also display first option as per "identity" bar just below it.

Actual behaviour
Border nor first option is displayed

System

[2017-06-29 14:15] tzarebczan commented on #309
![screenshot from 2017-06-28 17-51-04](https://user-images.githubusercontent.com/8120721/27692082-d19424ae-5cb3-11e7-925a-e5655b6b7824.png)

This is a reference from linux

[2017-06-29 14:52] tzarebczan opened #310 "Volume control resets when you going from one video to another"
## The Issue
When watching a video and adjusting the volume, the setting is lost when going to the next video.
### Steps to reproduce
1. Watch Video 1
2. Adjust volume
3. Go to video 2, volume is back to 100%

### Expected behaviour
Volume should persist

### Actual behaviour
Volume resets to full

## System Configuration

- LBRY Daemon version:
- LBRY App version: 0.12.2RC9
- LBRY Installation ID

[2017-06-29 14:56] tzarebczan opened #311 "Space bar and video click should both play and pause video"
## The Issue
The space bar on my keyboard should pause & play the video. This is a universal with good media players, and is frustrating when it doesn't work.
### Steps to reproduce
1. Go to video, click spacebar
2. Nothing happens

### Expected behaviour
Video should pause/play

### Actual behaviour
Nothing

## System Configuration

- LBRY Daemon version:
- LBRY App version: 0.12.2RC9
- LBRY Inst

[2017-06-29 14:59] tzarebczan opened #312 "Retain page scroll position on backwards navigation"
## The Issue
The home page loses its place when you go back to it. If the home page had hundreds of options on it, it would be really annoying to have to scroll all the way down to wherever you were last browsing before you clicked on something.

### Steps to reproduce
1. Scroll down on home page, enter a video/media
2. Click back
3. Now you at back at the top of the home page

### Expected behavi

[2017-06-29 15:00] tzarebczan commented on #292
#312 #311  #310 #308  Have been opened. Closing this one. Thanks again @BootstrapMusic

[2017-06-29 15:00] #292 closed

[2017-06-29 15:59] tzarebczan opened #313 "Published items duplicates with #Pending"
## The Issue
@6ea86b96 is aware of this one, happens when you publish a file without an identity. If publishing with an identity, don't get console error but issue still occurs.
### Steps to reproduce
1. Publish file, click OK confirmation, watch console
2. leave and come back to Publishes - see 2 files
3. After file confirms, pending is still there

### Expected behaviour
There should be 1 file

[2017-06-29 16:01] 6ea86b96 commented on #313
Working on this as part of https://github.com/lbryio/lbry-app/pull/229

[2017-06-29 16:11] tzarebczan commented on #290
I was able to claim the reward after creating a new identity and publishing something under that identity. Before that, I tried another claim without an identity and it didn't work. The reward api was kicked off twice, I'll send you the data files in Slack @lyoshenka

@zestyr can you try on your end? Do you have an existing identity? If so, try publishing under that one first. If that doesn't work

[2017-06-29 17:01] kauffj commented on #313
I introduced this via a hack fix for another bug related to invalid characters in the pending publish metadata:

#b815f78a50bba1c4e7115370fb53cb06a5b4a909

The fix for this is just to put correct dummy metadata in, or to drop/alter the way pending publishes work.

[2017-06-29 17:13] 6ea86b96 commented on #313
I have something almost working adding dummy pending publishes to the store https://github.com/lbryio/lbry-app/pull/229/files#diff-313e02014d06fe554d4dd5ea2c2e7139R368. Another problem I then encountered is that the fileInfo returned by the `file_list` command does not have a `channel_name` until after the claim has been accepted, so I was ending up with my dummy info in the store with a channel,

[2017-06-29 17:21] 6ea86b96 commented on #313
Fastest solution to get something ready to merge IMO would be to drop pending publishes for now and get the basic publishing/markdown stuff good to go. Then create a new PR for pending publishes.

[2017-06-29 17:23] 6ea86b96 commented on #313
I'll split it out into 2 PRs in the morning.

[2017-06-30 12:51] tzarebczan commented on #300
This is now fixed in 0.13.1RC1, closing.

[2017-06-30 12:51] #300 closed

[2017-06-30 12:52] tzarebczan commented on #297
Confirmed fixed in 0.13.0RC1, closing.

[2017-06-30 12:52] #297 closed

[2017-06-30 13:08] tzarebczan commented on #263
@avashlin can you please send an email to help@lbry.io and reference this ticket? I see what you mean now.

The published data gets stored in a db file, and doesn't actually come from claim list. Not sure what happened that yours isn't stored.

[2017-06-30 13:27] kauffj commented on #263
claim_list_mine should return his publishes, if they're not getting
returned than something would indeed be up.

On Fri, Jun 30, 2017 at 9:08 AM, Thomas Zarebczan <notifications@github.com>
wrote:

--

Jeremy Kauffman, Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-06-30 13:41] tzarebczan commented on #263
@kauffj They are in claim_list_mine, but not showing in his Publishes page via UI.  The UI reads that data from the lbryfile_info.db it seems.

[2017-06-30 13:48] kauffj commented on #263
The UI can only show things returned via API calls. Honestly, I'd be this gets fixed as a natural outcome of the publishing port to redux, I would wait and see if it's an issue in that branch.

[2017-06-30 14:10] tzarebczan commented on #263
If I delete my lbryfile_info.db file, I get "It looks like you haven't published anything to LBRY yet." in my Publishes area (Downloads blank too).  After putting it back, my downloads and published show normally.

Will definitely try again after the publishing redux is complete.

[2017-06-30 14:38] kaykurokawa commented on #263
Noting here that it looks like publishing failed after the claim transaction was made (or perhaps shut down too early?), thus the claim is in your wallet but the file is not in file_list.

[2017-06-30 15:17] benhohner commented on #251
Just a note, "Blackboard Bold L" doesn't display on Android.

[2017-06-30 15:42] jpinnix commented on #251
I believe Blackboard Bold is the typeface, which may be why it isn't rendering for @benhohner. The actual character is Mathematical Double-Struck Capital L.

𝕃

@benhohner Check out this page and see if any of them render for you:
https://unicode-table.com/en/1D543/

[2017-06-30 15:48] benhohner commented on #251
@jpinnix I tried that page and it doesn't render in-browser,  in Arial,  or in Times New Roman.

[2017-06-30 16:04] finer9 commented on #251
Agree @jpinnix not right on my Droid

[2017-06-30 17:01] lyoshenka opened #314 "Show auth token in app"
As a user, I'd like to see my auth token so I can make external calls to the API as myself.

[2017-06-30 17:51] sethster82 commented on #251
Perhaps some variant of the Greek Lamda?
<img width="722" alt="screen shot 2017-06-30 at 1 50 49 pm" src="https://user-images.githubusercontent.com/29802891/27747884-3c6fc1ec-5d9b-11e7-864a-b986999d27fa.png">

[2017-06-30 17:55] sethster82 commented on #251
Or a mashup of the Egyptian Ankh (tie in to the library of Alexandria) and the Yuan Renminbi.

<img width="173" alt="screen shot 2017-06-30 at 1 53 59 pm" src="https://user-images.githubusercontent.com/29802891/27748026-bfdb40e2-5d9b-11e7-9d1a-b18e1a4ef56e.png">

[2017-06-30 18:04] sethster82 commented on #251
LOL. I think I just realized that it needs to be a symbol that is already a keyboard symbol. Scratch my last suggestions.

[2017-06-30 18:11] sethster82 commented on #251
Ʌ = Greek Lamda.

That way it's still an "L" but won't get confused with Litecoin.

[2017-06-30 18:18] sethster82 commented on #251
⥮
This symbol is just called "upwards harpoon with barb left beside downwards harpoon with barb right." It could signify the concept of uploading and downloading content which is relevant as viewers can also become hosts of content.

[2017-06-30 18:32] sethster82 commented on #251
# ⏣
Or the Benzene Ring with Circle, because it visually connects to the idea of a blockchain, and it just looks badass.

[2017-06-30 18:39] jpinnix commented on #251
So I was gonna post the lower case lambda, but I think that the upper case version that @sethster82 mentioned is good too.

 λ - Lower case Greek lambda
U+03BB https://unicode-table.com/en/03BB/

λ 457
λ 0.002165

457 λ
0.002165 λ

Λ  - Upper case Greek lambda

 U+039B https://unicode-table.com/en/039B/

Λ 457
Λ 0.002165

457 Λ
0.002165 Λ

[2017-06-30 19:16] benhohner commented on #250
I imagine Netflix has done the most research on horizontal scrolling, since it's basically their whole business model, so mimicking their desktop implementation as closely as possible would be a good idea. That, or do away with horizontal scrolling completely and display all the videos with multiple rows of videos per section with and optional (show more) toggle if necessary.
The use of horizontal

[2017-06-30 19:30] kauffj commented on #298
I wasn't able to verify this, but all of the upgrade behavior is consistent with the installer failing to upgrade the daemon if it's stuck/running. @lyoshenka would that behavior be consistent with the install process?

If not, then @tzarebczan and I will have to work on figuring out a way to create reproducible steps.

[2017-06-30 19:31] sethster82 commented on #251
# ◳
Or, white square with upper right quadrant (U+25F3)
I like this one too because it incorporates and L and it's a box which connects the currency to the blockchain as well.

[2017-06-30 19:33] kauffj commented on #267
Language is gone in 0.13 (it wasn't supposed to be there yet), and all setting should now save correctly. Please re-open if you're seeing this in 0.13 or later.

Thanks!

[2017-06-30 19:33] #267 closed

[2017-06-30 19:40] kauffj opened #315 "Refactor Published page to only rely on claim_list_mine"
It is possible for content to exist in `claim_list_mine` without being in `file_list` (see #263).

Additionally, `claim_list_mine` already includes metadata and sufficient information to render a FileTile.

Therefore, Publish ought to be refactored to only use `claim_list_mine`.

Additionally, since we can expect these UIs to further diverge, I think it would be fine to reduce the shared logic bet

[2017-06-30 19:40] sethster82 commented on #251
# ⟑
While this is technically "and with a dot," it could be used as a variant on the Greek Lamda.

[2017-06-30 19:41] kauffj commented on #263
I think @kaykurokawa's explanation makes sense, since Published relies on a `file_list` entry being there.

This issue is now encompassed by #315

[2017-06-30 19:41] #263 closed

[2017-06-30 19:42] sethster82 commented on #251
# ⧍
Triangle with serifs at the bottom. Another potential variant on Lamda.

[2017-06-30 20:19] kauffj commented on #262
This probably won't happen until we add this at a lower level, unless we decided to do it centralized.

[2017-06-30 20:20] kauffj commented on #260
As far as I understand it, this is correct.

[2017-06-30 20:20] #260 closed

[2017-06-30 20:24] kauffj commented on #237
Does this happen for you every time? Or just sometimes?

[2017-06-30 20:25] kauffj commented on #237
(I've seen this issue on other OSes; I don't think it's Windows specific)

[2017-06-30 20:25] kauffj commented on #227
This is fixed in 0.13, just badly :)

[2017-06-30 20:25] #227 closed

[2017-06-30 20:26] kauffj commented on #224
This should be fixed in 0.13, please re-open if still broken.

[2017-06-30 20:27] kauffj commented on #214
@6ea86b96 is this on your radar for the `publishing` branch?

[2017-06-30 20:31] kauffj commented on #195
This was a poor design choice that needs to be fixed at the [blockchain level](https://github.com/lbryio/lbrycrd/issues/65).

[2017-06-30 20:31] #195 closed

[2017-06-30 20:31] kauffj commented on #190
This should be fixed in 0.13.

[2017-06-30 20:31] #190 closed

[2017-06-30 20:32] #186 closed

[2017-06-30 20:34] kauffj commented on #184
This will be fixed in 0.13.1 (in the sense that it will prompt to download)

[2017-06-30 20:34] #184 closed

[2017-06-30 20:34] kauffj commented on #183
This would be a `lbry` issue, and not likely one to get any attention, so let's see if this crops up again.

[2017-06-30 20:34] #183 closed

[2017-06-30 20:35] kauffj commented on #181
I think this may have been metadata at end? If not, please reopen.

[2017-06-30 20:35] #181 closed

[2017-06-30 20:36] kauffj commented on #59
This would require writing a function to convert from the claim `height` attribute to a date and time.

[2017-06-30 20:40] kauffj commented on #117
I don't think anything can be done here without a change to lbrynet, so I moved it there: https://github.com/lbryio/lbry/issues/748

[2017-06-30 20:40] #117 closed

[2017-06-30 20:41] kauffj commented on #167
This should be fixed in 0.13, though you may see duplicates.

[2017-06-30 20:41] #167 closed

[2017-06-30 20:41] kauffj commented on #175
@tzarebczan I think this is fixed in 0.13, re-open if not.

[2017-06-30 20:41] #175 closed

[2017-06-30 20:42] kauffj commented on #180
That entire component shouldn't even exist right now.

[2017-06-30 20:44] kauffj commented on #179
This issue isn't specific to publish, if labels have bounding containers larger than the text, this will cause other confusing issues.

[2017-06-30 20:45] kauffj commented on #178
Rolled into #311

[2017-06-30 20:45] #178 closed

[2017-06-30 20:48] #224 closed

[2017-06-30 21:20] kauffj commented on #250
I agree, Ben. But part of the reason horizontal scrolling is nice is that
it's easier and more flexible, in terms of display sizes and amounts of
content, even if it's not absolutely optimal.

I'd certainly be open to alternative display methods, but it'd need to work
for a wide variety of screen sizes and amounts of content we're featuring.

On Fri, Jun 30, 2017 at 3:16 PM, Ben Hohner <notificati

[2017-06-30 22:03] trickyhunter2017 commented on #237
I've just upgraded the Win7 VM Lbry app to the latest 0.13.0 version to test this, a few minutes ago.  The issue does not appear to be happening now.  No reboot was required.  When I close the app as before, the three troublesome processes all close first and the last daemon process takes approx 5 seconds to shut down.  They all seem to shutdown correctly now with the latest version.  This process

[2017-06-30 22:09] tzarebczan commented on #190
Confirmed fixed!

[2017-06-30 22:49] seanyesmunt commented on #250
I have been trying to mimic Netflix as close as possible in the work I've done so far. I do agree that with the limited amount of content in the horizontal rows, it doesn't take much scrolling to get to the end of the row. However, I don't think that vertical content would be better, especially as the content size grows. If there is anything specific that Netflix is doing, or that another app is d

[2017-07-01 18:07] wikidude commented on #251
📖 📖 📖 Books from the LiBraRY

[2017-07-01 18:09] akinwale commented on #295
I was able to reproduce this on Ubuntu 16.04. It is very brief. Working on a fix.

[2017-07-01 22:03] akinwale commented on #312
Should only the vertical scroll position be maintained? Or should the horizontal scroll position for each individual category be maintained as well?

[2017-07-02 06:33] 6ea86b96 commented on #279
Will look into the full status thing. I think the actual issue here is because the URI in the downloaded file list is different to the URI in the featured content (because I added the claim ID recently for us to have permanent URIs). We figure out which files are downloading using `fileInfo.urisDownloading`. Seems like it would better to switch this to `claims.downloadingByClaimId` or `fileInfo.do

[2017-07-02 15:11] kauffj opened #322 "Add ability to cancel a pending content request"
1. Start playing a video
1. While the video is loading, there is no way to cancel the pending load.

This is contrary to good UX. Whenever possible, a user should be able to undo what they just did.

This may require a change to the daemon itself, if a pending `get` call cannot be cancelled. Otherwise, the answer would be to add a cancel UI element that calls `file_set_status` or `file_delete`.

[2017-07-02 16:42] 6ea86b96 opened #323 "Switch volume preference to use redux"
https://github.com/lbryio/lbry-app/pull/318#issuecomment-312472475

[2017-07-02 16:47] 6ea86b96 commented on #315
It looks like file info returned by `file_list` before the claim is confirmed is missing the `channel_name`. Switching to rely on `claim_list_mine` would fix this.

[2017-07-03 05:23] 6ea86b96 commented on #288
I just randomly ran into this while downloading some content I saw flying by in the Slack #content room.

First a `CLAIM_REWARD_STARTED` action is fired, not sure why or from where yet.
![2017-07-03 at 12 16](https://user-images.githubusercontent.com/20863631/27778946-8b7cfbb0-5fe9-11e7-8486-55a916e434b4.jpg)

Then the reward is successfully claimed (this is now the 3rd time I've received this rew

[2017-07-03 06:53] 6ea86b96 opened #326 "When a downloading file is deleted it needs to be removed from the downloading file list"
## The Issue

Currently if a downloading file is deleted the app still keeps it in the list of `downloadingUris`, the download never completes and the progress bar gets stuck

### Steps to reproduce
1. Start downloading a file.
2. Delete it.

### Expected behaviour
The dock progress bar should disappear.

### Actual behaviour
The dock progress bar gets stuck

[2017-07-03 07:05] 6ea86b96 opened #328 "Timeout modal needs to be smarter"
## The Issue

If a load/download fails, and you are on a different file page, an error modal appears showing the name of the current file, not the one downloading

### Steps to reproduce
1. Try to download an unavailable file
2. Navigate to a different file
3. Wait

### Expected behaviour
An error modal should appear with the correct file details.

### Actual behaviour
An error modal appears with

[2017-07-03 13:05] tzarebczan commented on #288
@lyoshenka maybe this helps you reproduce the issue?

[2017-07-03 13:28] midolegend2016 opened #329 "Stuck on connecting screen"
First time to launch the app stuck on connecting screen for alot of time

[2017-07-03 13:33] tzarebczan commented on #329
Please come over to #help for support on slack.lbry.io instead of opening an issue here.

What os are you on? Are you on the latest version 0.13? Can try try restarting and then updating lbry to ensure all files are updated?

If that doesn't work, can you post your lbrynet.log https://lbry.io/faq/lbry-directories

[2017-07-03 13:37] midolegend2016 commented on #329
i used both 0.12 and 0.13 same issue

[2017-07-03 13:39] tzarebczan commented on #329
Sometimes the daemon does not update correctly if it's running in the background, so right now it's recommended to restart and then install update before starting lbry.

[2017-07-03 15:06] avashlin commented on #233
Hi, This bug has resurfaced in my installation of version 0.13 .
Same steps to reproduce as the #265  logged issue. Play a video -> click developer -> reload -> blank green screen .

Lbry install info:
![screenshot from 2017-07-03 17-02-46](https://user-images.githubusercontent.com/8122968/27798422-73bb597c-6011-11e7-951f-041ca7d186b3.png)

[2017-07-03 15:07] avashlin commented on #233
@kauffj : doesn't seem like my comment re-opens this issue. tagging you to ensure it doesn't fall under the radar.

[2017-07-03 15:22] lyoshenka opened #330 "Require minimum daemon version in app"
Story: As a user, I want to know if the running daemon will not work with the app, so that I don't get weird bugs.

[2017-07-03 16:59] kauffj commented on #329
@midolegend2016 please work with our support team so we can look into this, you can email @tzarebczan at help@lbry.io.

I'm going to close this.

[2017-07-03 16:59] #329 closed

[2017-07-03 17:00] tzarebczan commented on #329
We actually took care of it via slack. A reboot and reinstall helped.

[2017-07-04 15:32] kauffj commented on #279
We could also consider storing claims only by ID, this would probably eliminate these key mismatch issues.

[2017-07-04 23:07] madcock commented on #251
This might be a useful way to search for unicode symbols with certain types of shapes:
http://shapecatcher.com/

It lets you draw out what you think you are looking for, and maybe find something that is close.

[2017-07-05 22:05] kauffj commented on #312
Vertical only

[2017-07-06 18:57] zestyr opened #332 "Use AppImage for Linux builds"
[AppImage](http://appimage.org/) allows you to make a single executable that can run on any Linux distribution with no setup or dependencies required. According to @filipnyquist electron-builder already has support for it, so the daemon just needs some changes.

[2017-07-06 19:22] akinwale opened #333 "Switching from one media type to another using the omnibar does not work properly"
## The Issue
Switching directly from a video to audio, or vice versa after the media has started playing results in the previous media still playing, while the new media does not load.

### Steps to reproduce
1. Open a video that has been downloaded and then play the video.
2. Type the URL for an audio file that has been downloaded and press Enter. You have to input all of it at once before the se

[2017-07-06 19:51] akinwale opened #334 "Publishing a file with Unicode characters in the filename prevents the Downloads & Purchases view from displaying items"
## The Issue
After publishing a file with the filename `Bassnectar - Reaching Out ★ [Unlimited].mp3` and restarting the application, the Downloaded and Published views are stuck with the "Loading" message and they do not display any items.

I also get the following error output in the developer tools console.
[code]

### Steps to reproduce
1. Publish a file that contains Unicode characters in the

[2017-07-06 20:16] kauffj commented on #334
Please see:

lbryio/lbry#692

lbryio/lbry#750

[2017-07-06 20:16] #334 closed

[2017-07-06 21:16] lyoshenka commented on #332
Please convince me that we want this, including downsides.

[2017-07-06 21:43] tzarebczan commented on #334
I was just about to give Shockr a heads up about that, it should be fixed in the next daemon release. Think you can try running it now with the app.

[2017-07-06 22:21] tzarebczan commented on #333
I'm pretty sure I  had this happen to me. Wrote down the steps but didn't get a chance to reproduce and document, nice job!

[2017-07-07 05:10] 98farhan94 opened #336 "Can't actually delete media, gets deleted from account and stays on network"
## The Issue
When published items are deleted from Published section they stay on the network, and you lose all rights to manage them with the reserve LBC not getting refunded to your account.

The file shows up in claim_list_mine but not in file_list.

### Steps to reproduce
1. Publish media, note down media URI.
2. Delete it from Published section.
3. Navigate to media URI, it still exists, has

[2017-07-07 08:37] knsrvl00 opened #337 "drag and drop any item to the search bar turns into "javascript:;" search."
### Steps to reproduce
1.drag any item from any category
2.drop into search bar

### Expected behaviour
Drag and drop into search bar should be forbidden or at least it should search the selected item's tittle.

### Actual behaviour
Search mechanism brings "javascript:;" results
![lbry_search](https://user-images.githubusercontent.com/17482092/27950051-881a548c-6308-11e7-9b0e-094786be3022.PNG)

[2017-07-07 13:43] filipnyquist commented on #332
- Works with most reasonably recent desktop Linux distributions. Well, almost.

- AppImageKit and its predecessor, klik, have been in the making for over a decade.

- AppImages can be downloaded and run without installation or the need for root rights.

- The key idea of the AppImage format is one app = one file. Every AppImage contains an app and all the files the app needs to run. In other words

[2017-07-07 16:30] tzarebczan opened #338 "Retain previous screen sizing on startup (LBRY starts maximized)"
## The Issue
When LBRY is run, the app always goes into full screen mode.  We've had a user that mentioned this should not happen or should be configurable.  Is it possible to remember the previous window size upon next start up?

If this is the intended functionality to maximize Home page content viewing, so feel free to close.

### Steps to reproduce
1. Launch LBRY
2. Goes full screen

### Expec

[2017-07-08 00:18] tzarebczan opened #339 ""Hot Right Now" stuck in "Claiming..." after watching featured video"
## The Issue
After watching a featured video (first time claiming hot right now reward), I went into my wallet > rewards to see the Hot Right Now status as "Claiming..." and greyed out.  My account was credited.  Error in console shows rewards.js:60 Uncaught (in promise) TypeError: Cannot read property 'reward_title' of undefined
and the log shows "2017-07-07 19:58:25,450 ERROR    lbryum:115: [def

[2017-07-08 04:33] randulo commented on #338
Yes, this is annoying when you have a large screen. Recalling window size is an excellent solution. Thanks for entering this.

[2017-07-09 12:38] fap- commented on #291
For anyone experiencing this issue on linux: the files where located in ~/.lbrynet and removing them fixed the issue.

[2017-07-09 19:57] tzarebczan commented on #336
Yep, deleting it doesn't actually mean removing the claim..this is the current functionality. There will be some simple claim management added soon. Can we close this?

[2017-07-09 21:04] 98farhan94 commented on #336
Okay, wasn't sure if that's how it's supposed to work.

[2017-07-09 21:04] #336 closed

[2017-07-09 21:44] 98farhan94 opened #342 "Two Children with Same Key While Publishing"
## The Issue
Children having same key, possible conflict.

### Steps to reproduce
1. Go to Publish, open up the dev.
2. Upload and publish the file.
3. Error shows up.

### Expected behaviour
No JS errors.

### Actual behaviour
Two children with same key error.

## System Configuration

  "build": "release",
    "lbrynet_version": "0.13.1",
    "lbryschema_version": "0.0.7",
    "lbryum_version":

[2017-07-09 21:50] tzarebczan commented on #342
Duplicate of https://github.com/lbryio/lbry-app/issues/313. Closing.

[2017-07-09 21:50] #342 closed

[2017-07-09 22:15] 98farhan94 opened #343 "Can't Abandon Claim: Tx fee higher than claim amount"
## The Issue
When a claim is created with a fractional LBC low enough to be lower than the Tx fee, you cannot abandon the claim.

### Steps to reproduce
1. Create a claim with 0.00001 LBC amount allotted to it.
2. Publish.
3. Try to abandon claim.

### Expected behaviour
Claim should abandon.

### Actual behaviour
"Cannot abandon claim because Tx fee is higher than claim amount."

## System Config

[2017-07-10 09:13] tzarebczan opened #344 "Content shown as free, charged LBC"
## The Issue
We've had a couple reports of users seeing the It's a Disaster video as Free, when in reality it costs 7-9 LBC (depending on LBC price).  When a user tries to download, they are still charged the LBC.  I've seen this happen on my own machine too, but not sure what exactly caused it.  When discussed within the team, it's most likely a caching issue. One time I did get an exchange error

[2017-07-10 09:39] tzarebczan commented on #338
Actually, on Windows it does seem to keep the window size to the setting which LBRY was closed. Can someone confirm on Mac? I'll check Ubuntu later.

[2017-07-10 12:04] Vixies opened #345 "Node.dll missing"
## The Issue

### Steps to reproduce
1. Updating the application (Windows 8.1 x64) to new version via application's own update query window.
2.
3.

### Expected behaviour
The application should continue working normally after updating to new version.

### Actual behaviour
The application produces system error window "The program cannot start because node.dll is missing. Please try to fix the probl

[2017-07-10 12:36] kauffj commented on #338
Maximize is called on every run. It's called here: https://github.com/lbryio/lbry-app/blob/fce702f737909d21e9b7581051690f356a82bd56/app/main.js#L155

To address this ticket, size should be saved locally on close and set in the above linked function.

[2017-07-10 13:06] kauffj commented on #343
This issue was moved to lbryio/lbry#768

[2017-07-10 13:06] #343 closed

[2017-07-10 17:50] tzarebczan commented on #345
What most likely happened is that the daemon didn't update with the installation. We have another issue already open for this.

Can you please reboot your pc, and reinstall lbry 0.13 and then run it? Let us know if that fixes it.

[2017-07-10 18:32] Vixies commented on #345
Didn't fix. Rebooted and tried to reinstall 0.13. When trying to start the program same system error of missing node.dll repeats.

I also installed node.js but that didn't help. My system files might be corrupted?

[2017-07-10 21:27] Vixies commented on #345
Now I got the app running by running it from another directory. I copied manually all the files from LBRY folder to elsewhere. During the app update my wallet file seems to be overwritten.
It shows zero balance. How can it be restored?

[2017-07-10 23:54] tzarebczan commented on #345
Did you make a backup of your wallet? Your wallet files are in the lbryum directory,see
https://lbry.io/faq/lbry-directories . Maybe you just didn't copy that over or its not reading from the right place?

Can you send us your lbrynet.log file:
## Windows
1. Type `%appdata%/lbrynet` into an Explorer window to find the log file directory.
2. Here you will see the `lbrynet.log` and any archives.
3.

[2017-07-11 08:01] Vixies commented on #345
lbrynet.log:

2017-06-17 00:32:50,168 INFO     lbrynet.lbrynet_daemon.DaemonControl:92: Starting lbrynet-daemon from command line
2017-06-17 00:32:52,108 INFO     lbrynet.lbrynet_daemon.DaemonServer:64: Using non-authenticated API
2017-06-17 00:32:52,118 INFO     lbrynet.lbrynet_daemon.Daemon:254: Starting lbrynet-daemon
2017-06-17 00:32:52,240 INFO     lbrynet.lbrynet_daemon.ExchangeRateManager:1

[2017-07-11 08:39] Vixies commented on #345
Clean install didn't help, still gives same error of node.dll. It seems to have something to do with default installation directory (X:\Program Files (x86)\LBRY). Again by manually copying contents of this dir to another and running it from there the lbry-app starts normally, but wallet balance still isn't recognized.
I deleted lbryum and lbrynet dirs as instructed before clean install.

I also tr

[2017-07-11 12:54] zestyr commented on #344
I was playing around with this a few days ago and when I refreshed the cache, it showed correctly, but if I restarted the app and refreshed again (or the other way around, don't remember), it showed as `free`. I'll see if I can reproduce this, but something is definitely going on here.

[2017-07-11 12:56] kauffj commented on #313
This is fixed in a PR, and will go live in the next version.

[2017-07-11 12:56] #313 closed

[2017-07-11 12:57] kauffj commented on #295
I believe this was fixed.

[2017-07-11 12:57] #295 closed

[2017-07-11 12:58] #311 closed

[2017-07-11 12:59] kauffj commented on #308
https://github.com/lbryio/lbry-app/commit/d8e867aa5ae8e9872b7943a0fd8593f9fc68d826

[2017-07-11 12:59] #308 closed

[2017-07-11 12:59] kauffj commented on #330
https://github.com/lbryio/lbry-app/commit/444f2308772f49b5209b21caa6a393e19c5c4958

[2017-07-11 12:59] kauffj commented on #310
https://github.com/lbryio/lbry-app/commit/444f2308772f49b5209b21caa6a393e19c5c4958

[2017-07-11 12:59] #310 closed

[2017-07-11 13:09] kauffj commented on #314
What's the story for this?

[2017-07-11 13:11] kauffj commented on #214
I believe this is fixed in pull request, will confirm.

[2017-07-11 13:14] kauffj commented on #298
@tzarebczan please research how to freeze/lock a process on Windows, then do the following:

1) Install an old version of LBRY (e.g. 0.12)
2) Run it
3) Freeze the lbrynet-daemon process
4) Close it (make sure daemon process stayed open)
5) Install current version

Then run the new version, and see if the daemon version upgraded or not.

[2017-07-11 13:16] kauffj commented on #237
Thanks @trickyhunter2017!

[2017-07-11 13:16] #237 closed

[2017-07-11 13:17] tzarebczan commented on #298
Understood, will give it a shot.

[2017-07-11 13:18] kauffj commented on #180
Indeed, it does not exist, and this is an old ticket with a tricky current date due to migration.

[2017-07-11 13:18] #180 closed

[2017-07-11 13:26] 6ea86b96 commented on #214
I'm pretty sure this was working at one point but seems to be broken in the current PR. Will look into fixing it.

[2017-07-11 13:31] lyoshenka commented on #314
Updated story above. @6ea86b96 said he'd do it, but we never formally scheduled it.

[2017-07-11 13:34] kauffj commented on #262
This requires https://github.com/lbryio/lbry/issues/744

[2017-07-11 13:35] kauffj commented on #312
There is a PR for this.

[2017-07-11 13:35] #312 closed

[2017-07-11 20:16] kauffj opened #347 "Auto-suggest URL from selected file on Publish"
The name field on the Publish page can be auto-populated by the file name sans extension.

[2017-07-12 15:33] tzarebczan commented on #345
@Vixies can you post an updated log of your App starting up where the balance doesn't show correctly? When you query a balance on the daemon, it shows?

[2017-07-12 18:23] lyoshenka commented on #268
@kauffj whats next here. it's in "needs review". who needs to review it?

[2017-07-12 18:27] lyoshenka commented on #288
Just finished coding api changes that will fix this. They need to be reviewed, then the relevant app changes need to be made, then once the api changes go live this will be fixed.

[2017-07-12 18:37] kauffj commented on #268
@lyoshenka lbryio/lbry#761 needs to be merged and released

[2017-07-13 16:04] akinwale commented on #338
Should the saved width and height override the minWidth and minHeight properties respectively?

[2017-07-13 16:26] randulo commented on #338
If I were coding this, I'd make sure there was a minimum, because I have seen app windows that became so small by accident, they couldn't be made larger. The minimum could be 800x600 if the remembered size was too small. That size window is actually usable, if not optimal.

[2017-07-13 19:08] kauffj commented on #338
Agreed, please retain the minimum @akinwale.

[2017-07-14 18:32] ghost opened #350 "Support drag-and-drop file publishing"
## The Issue
On Publish, dragging a file you want opens the file inside the electron app rather than into the file selection box, subsequently requiring app closure to reset.
### Steps to reproduce
1. Go to Publish
2. Drag/Drop the file you're going to publish from desktop into "Choose a file" field
3. View result

### Expected behaviour
Queue up file selection for upload

### Actual behaviour
Fil

[2017-07-14 19:51] lyoshenka commented on #288
its fixed

[2017-07-14 19:51] #288 closed

[2017-07-15 13:35] tzarebczan commented on #298
@kauffj - I was able to reproduce using similar steps to what you posted.  Installed and ran 0.12 and made sure daemon was running in the background while upgrading to 0.13 (had to do this quickly as it was trying to connect).  During the upgrade process, the daemon file gets left in the dist folder and never updates.
![daemon stuck](https://user-images.githubusercontent.com/8120721/28239727-a1a9e

[2017-07-15 13:49] tzarebczan commented on #298
And after reinstall with no processes running, daemon is successfully updated and LBRY runs as expected.

[2017-07-15 16:01] kauffj commented on #298
Good stuff, this will likely get scheduled next week.

[2017-07-15 21:21] Vixies commented on #345
For some reason the log file %appdata%\lbrynet\lbrynet.log isn't updated at all when running lbry-app or (from command line) lbry-client or lbry-daemon. Time stamp remains same. Is there any other location for lbrynet.log?

By running lbry-daemon and then 'lbry-client wallet_balance', correct balance is still there.

[2017-07-16 09:39] hackrush01 opened #351 "No way to view more than 10 claims of a channel."
## The Issue
There is no next button when when resolving a channel in the app.

### Steps to reproduce
1. Open app
2. Search for lbry://@UCBerkeley and then press enter
3. Scroll to the bottom

### Expected behaviour
A Next/Previous button for navigating between the pages to view all of content.

### Actual behaviour
Only 10 claims can be seen(whereas there should be around 2815)

## System Config

[2017-07-16 11:26] olokos opened #353 "Lbry windows app refusing to launch after some time or several launches"
## The Issue
Windows application refuses to launch after several cycles of opening and closing it.
https://gyazo.com/c94ed91b40ab0831c14c7e199720dea0
### Steps to reproduce
1. Install lbry
2. Register/login/try to use it
3. Close and reopen the application a few times
4. Eventually, reboot your computer a few times

### Expected behaviour
Tell us what should happen
Lbry application should connect,

[2017-07-17 07:13] 6ea86b96 commented on #214
@kauffj in master now the publish button is disabled until the bid is high enough. They can see the amount that needs to be bid too. Maybe still a bit confusing for some users.

[2017-07-17 08:48] hackrush01 opened #355 "Tipping button in pages."
Story: As a publisher I would like if the content page has a tipping button, so that people could send me some LBCs without first resolving my content uri, then searching for my address, and then tipping me either via cli or UI.

[2017-07-17 09:11] hackrush01 opened #356 "Improper radio behavior on Publish"
## The Issue
When publishing content, the "Price" and "Identity" sections shows undesired behaviour. If the "Choose Price" radio is clicked once, and then "Free" is clicked, the "Price" text box is not hid. Same occurs when selecting "New Identity".

### Steps to reproduce
See video.

### Expected behaviour
Appropriate text fields should be hidden.

### Actual behaviour
The text fields are not hid

[2017-07-17 11:15] tzarebczan commented on #353
Before launching, can you check if LBRY.exe or lbrynet-daemon.exe are running in the task manager? We are aware of some issues which cause the process to hang, and if you re-run LBRY in this state, you typically get the error you are seeing.  Sometimes it can take a couple seconds to shut down completely also, so be patient before relaunching.

A reboot normally fixes the issue for you?

[2017-07-17 11:19] tzarebczan commented on #345
It sounds like you may have some permissions issues in your Program Files folder.  Not sure if this will help, but you can try a clean install:

https://lbry.io/faq/how-to-clean-install-preserve

[2017-07-17 13:41] lyoshenka commented on #268
Looks like https://github.com/lbryio/lbry/pull/781 (which replaces https://github.com/lbryio/lbry/pull/761) has been merged. What's next?

[2017-07-17 19:09] kauffj commented on #339
Re-open if happening 0.14

[2017-07-17 19:10] #339 closed

[2017-07-17 19:12] kauffj commented on #233
I believe this is only happening on a minority of pages.

[2017-07-17 19:12] #233 closed

[2017-07-17 19:13] kauffj commented on #315
Fixed in #346

[2017-07-17 19:13] #315 closed

[2017-07-17 19:17] kauffj commented on #345
While I'm not doubting there was a software bug here, there's nothing actionable I can give to a developer. @tzarebczan if you know of a systematic issue here, or further investigation steps to take, can you open a new issue and/or edit and re-open this one?

[2017-07-17 19:17] #345 closed

[2017-07-17 19:18] kauffj commented on #353
@tzarebczan please re-open if you can work with @olokos to determine reproducible steps and/or root cause.

[2017-07-17 19:25] kauffj commented on #355
The tip can be sent to the same address of the payment, or the address of the claim if no payment details are specified.

[2017-07-17 19:31] tzarebczan commented on #345
Will do!

[2017-07-17 19:32] tzarebczan commented on #353
Will do. @olokos please let me know if this is happening if LBRY is already running in the background.

[2017-07-18 12:59] lyoshenka opened #359 "Correctly handle multiple rewards of the same type"
Some rewards (e.g. `featured_download` and `referral`) may be claimed more than once. Each instance of the reward claim should be listed on the rewards page. Also, having claimed this  type of reward in the past should not prevent you from claiming it again.

That said, we most likely want to remove all the "Claim Reward" buttons on that page. The app should just know when you are eligible for a r

[2017-07-18 13:01] lyoshenka opened #360 "Enable invite sending from within app"
The `/user/invite` endpoint is now open to anyone who has invites available. There is also a `/user/invite_status` endpoint to check how many invites you have and the status of the invites  you sent. This should be exposed in the app, and the user should be able to invite people (by entering their email address) if they have invites.

[2017-07-18 13:01] tzarebczan commented on #330
Also related to: https://github.com/lbryio/lbry.io/pull/183

[2017-07-18 13:43] tzarebczan commented on #350
Currently, it's possible to drag and drop a file onto any LBRY app screen (content shows, but need to restart app) - should that be disabled and only allowed in the Publish screen?  Not sure if I should make a separate issue for it or it can be handled under this one.

[2017-07-18 13:56] kauffj commented on #350
I think dropping a file on LBRY should start a publish regardless of the screen the user is on.

[2017-07-18 14:18] lyoshenka commented on #298
Next step:  check if daemon is running when installer runs. If daemon is running, error and close installer.

[2017-07-18 15:21] olokos commented on #353
They're not actually, I double checked it.  Reboot doesn't seem to change a thing, I've been having issues with LBRY since the beginning.

https://gyazo.com/7a4cc223130e54b3c1fbc8007d36f741
Here's the issue I'm getting now and my PC was freshly rebooted yesterday and I haven't launched LBRY.

[2017-07-18 15:32] tzarebczan commented on #353
That one we've definitely seen before but cannot reproduce consistently. This means the lbry-daemon file has disappeared from the program files directory. We aren't sure what is removing it yet, possibly some Anti-virus software or windows itself. I've noticed its happened to me when my PC shut down unexpectedly. A reinstall fixes the problem.

Right now, we still don't have enough here to go and

[2017-07-18 18:11] kauffj commented on #214
@6ea86b96 actually we should allow claims that aren't winning, we should just be clear about it. This is my fault for not correcting the original ticket.

[2017-07-18 18:40] hackrush01 commented on #356
#358 fixes this issue, IMO. This can be closed.

[2017-07-18 18:41] #356 closed

[2017-07-18 20:18] olokos commented on #353
Well, I just uninstalled LBRY, installed it back again and it seems to autostart right after I install it, it takes quite a while after start now just saying Connecting. Seems to be stuck there. I'm a developer myself so if you need me to perform some advanced steps - let me know and I'll most likely do that.

After what I just described I had 2x LBRY.exe and 2x lbry-deamon.exe processes running.

[2017-07-19 01:01] reillysmith opened #364 "Make channel creation a separate page"
## The Issue
Channel creation is buried in Publish page
### Steps to reproduce
1. Attempt to create a channel on its own without content
2.
3.

### Expected behaviour
Tell us what should happen
Channel metadata management should be an independent action from its content management.

### Actual behaviour
Tell us what happens instead
Channels are made/selected in the same area, after content metadat

[2017-07-19 08:18] tzarebczan commented on #353
Having 2x LBRY.exe and daemon processes is normal. Can you send us the log files  (https://lbry.io/faq/how-to-find-lbry-log-file) so we can further help troubleshoot? I've been using LBRY on Windows 10 for a couple months now and have not seen this issue, nor has it been reported by anyone else.  I'm thinking it has something to do with your local setup - possible port/firewall or permissions rela

[2017-07-19 08:49] 6ea86b96 commented on #214
ah, ok, I'll take another pass at this then.

[2017-07-19 13:54] #364 closed

[2017-07-19 15:47] olokos commented on #353
https://pastebin.com/4eY9TCmV

There's not too many issues with my firewall and ports that I'm aware of. I am running some servers on my PC from time to time, so they're mostly opened when required, but if you see a problem here then let me know and I'll switch to DMZ on router and open up my firewall entirely

[2017-07-19 21:56] kauffj commented on #330
Fixed in https://github.com/lbryio/lbry-app/commit/38fd451e72c60b0373a8e337bb1de1da37f7942a

[2017-07-19 21:56] #330 closed

[2017-07-20 16:37] hackrush01 commented on #350
To clarify, by screen you mean whichever page user is on? And dragging a file there should take him to the publish screen and input the path of the file, and some other default values?

[2017-07-20 17:13] kauffj commented on #350
Yes, my inclination is to have the drop of a file move the user to the Publish page regardless of what page they are on.

If that can potentially cause bad or confusing UX, then there could be an intermediate modal like:

Do you want to publish <file>?
[Continue] [Cancel]

But I'm not convinced we need to add that up front.

[2017-07-20 17:15] hackrush01 commented on #350
Ok, so I'll dive into it later.

[2017-07-20 20:10] kauffj opened #367 "Update rewards screen for changes to featured downloads and invites"
The rewards screen should indicate all past rewards, even if earned multiple times, as in the case for `featured_download`. Additionally, it should show rewards earned for invites.

[2017-07-20 20:12] kauffj opened #368 "Add invite components and/or page"
The following should be possible inside of the app:

- Past invites given and outcomes/status
- Number of current invites
- Issuing an invite

[2017-07-21 03:47] tzarebczan commented on #314
We should also show linked email address if possible.

[2017-07-21 06:28] 6ea86b96 commented on #314
PR in #369. The email address doesn't seem to be available locally as far as I can tell.

[2017-07-21 07:13] 6ea86b96 commented on #290
Not sure how to replicate this one. Is anyone still having this problem? I'd like to know what the response from `claim_list_mine` is.

Claiming the reward should fetch those claims, find that there is a channel claim and use that to claim the reward. Looking at the code it appears that in this case it's not finding a channel claim even though one has been created.

[2017-07-21 08:51] 6ea86b96 commented on #253
@kauffj this one appears to be fixed.

[2017-07-21 15:44] #253 closed

[2017-07-21 16:55] tzarebczan commented on #353
It remains closed because it's not something a developer can look into without someone being able to reproduce it effectively on our end.

From your last log, we are able to get some additional info:
 lbrynet.core.utils:101: Failed to connect to lbry.io:80. Maybe the internet connection is not working

Looks like your PC/internet is not getting a connection to lbry.io - maybe something blocking it

[2017-07-21 17:03] tzarebczan commented on #355
Possibly related to https://github.com/lbryio/lbry-app/issues/247 based on team discussions.

[2017-07-21 17:10] tzarebczan opened #372 "Bandwidth Limits not functional"
## The Issue
When setting a BW limit in App > Settings, it either does not get saved, or if it does, it is not functional (does not limit) as per discussions with @kaykurokawa.

### Steps to reproduce
1. Go to Settings
2. Set BW limit
3. Nothing happens or radio button does not work

### Expected behaviour
Should allow for BW limit settings and enforce them

### Actual behaviour
Does not allow for

[2017-07-21 17:33] reillysmith commented on #350
The most important behavior to add is it actually inputting the file path first when dropped--initiating playback is a bug.

[2017-07-21 17:36] reillysmith opened #373 "Publishing UX Cleanup"
There are a few outstanding small UX issues:

- Placeholder values are confusing
- The difference between channels and URLs is confusing, as is the term "Identity"
- The field order should be reconsidered

## The Issue
Users mistake this tool tip/gray text as a requirement.
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Either make it totally blank and add an extended "How much is enough?

[2017-07-21 18:20] kauffj commented on #372
These are removed in the `master` version of the app, and will be gone in the next release. They cannot be restored until the daemon is modified to properly support them.

[2017-07-21 18:20] #372 closed

[2017-07-21 18:52] tzarebczan commented on #372
Do you want me to reopen in lbry repo or are we keeping track already?

[2017-07-21 19:32] tzarebczan opened #374 "Minimize LBRY App to Tray"
## The Issue
Would be a nice feature to have LBRY minimize to the tray (Windows) or better yet, have the option to via tray icon.  Not sure if this is possible in Mac/Linux.
### Steps to reproduce
1. Minimize LBRY
2. Stays in taskbar

### Expected behaviour
Lbry should support minimizing to tray

### Actual behaviour
Stays in taskbar

## System Configuration

- LBRY Daemon version:
- LBRY App vers

[2017-07-21 21:06] kauffj commented on #372
I don't believe there is an issue in `lbry`.

[2017-07-21 21:47] kauffj commented on #290
I'm going to close this. Re-open if it is in app 0.14 or later (coming out soon).

[2017-07-21 21:48] kauffj commented on #314
Email address is just getting added to API and will come in the `rewards3` branch. Closing this as @6ea86b96 PR covers it.

[2017-07-21 21:48] #314 closed

[2017-07-22 09:54] TTLPUA opened #376 "Unexected daemon shudtown"
## The Issue
Unexpected application termination
### Steps to reproduce
1. Run  LBRY_0.13.0.exe install

### Expected behaviour
Application works.

### Actual behaviour
Aplication crash.

## System Configuration

- LBRY Daemon version:
- LBRY App version:  LBRY_0.13.0
- LBRY Installation ID:
- Operating system:Windows 7, Windows 10 / x64

## Anything Else
lbrynet.log

## Screenshots

<a href="https

[2017-07-22 12:02] okwme opened #377 "can't play .mov MPEG"
## The Issue

### Steps to reproduce
1. publish .mov file recorded with Apple iPhone
2. try to play
3.

### Expected behaviour
Tell us what should happen

video should play

### Actual behaviour
Tell us what happens instead
LBRY can't play that file

## System Configuration

daemon (lbrynet) | 0.13.1
-- | --
2.8.4
0.13.0
Mac OS 16.6.0

{
  "id": null,
  "jsonrpc": "2.0",
  "result": {
    "build":

[2017-07-22 17:03] tzarebczan commented on #376
Duplicate of https://github.com/lbryio/lbry/issues/794 most likely

Can you tell me your userpath in c:/users/...

[2017-07-23 03:02] olokos commented on #353
It's a major issue preventing to use LBRY entirely and most users just couldn't care less if the application that they try to use doesn't even start and just forget about it forever, they don't even bother to report it.

It's a windows application so there's tons of variables and different things which don't neccesairly have to be reproducible by everybody, especially with so small developer base,

[2017-07-23 03:45] tzarebczan commented on #353
Upon installation, lbry does ask for firewall permissions. So it was probably related to Bitdefender.

I'll make sure this is part of the troubleshooting guide. Thanks! Come over to slack.lbry.io and I'll tip you for your efforts and testing!

[2017-07-23 03:50] olokos commented on #353
Didn't ask me at all for that or at least not explicitly. Pay close attention to both windows firewall and bitdefender.

[2017-07-23 03:52] olokos commented on #353
I'm olokos on slack, I've made messages to #help #tech and #general

[2017-07-23 04:58] tzarebczan opened #379 "Add Deposit/Claim Amount Information to Publishes and Wallet"
## The Issue
I think the app needs to be more transparent in regards to LBC that is used for channel deposits, claim names and claim support. The wallet does not reflect the amounts of the bids nor does the publish page show the information either.

A total claimed amount in the wallet would be a nice feature too.
### Steps to reproduce
1. Check wallet page after publish, no deposit info
2. Check

[2017-07-23 07:04] TTLPUA commented on #376
2-d PC/  Win 10, x64, C:\Users\GreyWolf\AppData\Roaming\lbrynet\

[2017-07-24 00:21] probonopd commented on #332
Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [make it executable](http://discourse.appimage.org/t/how-to-make-an-appimage-e

[2017-07-24 03:03] ptc4cash commented on #376
I am having the same issue,

After having ti running for days i needed a reset and now my coins are stuck in the wallet but daemon is not running correctly,

What has happened??

Please help as this turns into major loss if we can not get to our coins and turns a lot of us away from mining,

Thanks

[2017-07-24 03:10] tzarebczan commented on #376
@ptc4cash you are having a different issue... "Couldn't listen on any:3333: [Errno 10048]". Are you running mining softwasre? It may run on that port. Run lbry first, turn the Mining software. We are looking into user configurable ports.

[2017-07-24 03:11] ptc4cash commented on #376
Hey mate thanks for quick reply,

No that was a issue i had earlier yes, i am not mining it on the pc i am running wallet from :(

[2017-07-24 05:03] TTLPUA commented on #376
@tzarebczan
thanks, solved

[2017-07-24 14:40] kauffj commented on #367
Duplicate of #359

[2017-07-24 14:40] #367 closed

[2017-07-24 14:41] kauffj commented on #368
Duplicate of #360

[2017-07-24 14:41] #368 closed

[2017-07-24 14:43] #376 closed

[2017-07-24 14:44] kauffj commented on #377
Unfortunately, .mov is not supported by HTML5, so this will likely not be fixed by us. These files are still downloadable, and can be played in your local player.

[2017-07-24 14:44] #377 closed

[2017-07-24 14:52] tzarebczan commented on #353
Thanks! I think we sorted the startup issues!

[2017-07-24 16:39] lyoshenka commented on #332
What are the downsides to using AppImage?

[2017-07-24 16:41] tzarebczan commented on #376
@ptc4cash - please send your log file to help@lbry.io - https://lbry.io/faq/how-to-find-lbry-log-file

[2017-07-24 17:36] #279 closed

[2017-07-24 19:22] probonopd commented on #332
It is work to set it up and keep current. It is not integrated with the system's package management (which some consider a downside; others consider it a bug plus).

[2017-07-24 21:56] #347 closed

[2017-07-25 01:41] olokos commented on #353
You're welcome. I'm looking forward to next update. :)

[2017-07-25 14:10] #268 closed

[2017-07-25 18:27] tzarebczan commented on #355
I forget where the conversation took place, but we mentioned using claim supports for tipping/karma that then could be redeemable (maybe a timelock feature?).

Just wanted to mention it here so the idea doesn't get lost. The duplicate claim_id support issue would need to be fixed first (https://github.com/lbryio/lbry/issues/795)

[2017-07-25 20:05] kauffj commented on #355
I'm guessing the first iteration of tips will just be sends to the address since I don't think issuing tips as supports is possible via the existing LBRY API. (Please correct this @jackrobison)

[2017-07-25 21:26] tzarebczan opened #384 "Issues with Support Claims and Publish functions"
## The Issue
Originally introduced here: https://github.com/lbryio/lbry-app/issues/315

Background: I have added support to lbry://ten at claimid: f4d5521279b783416bf6950b506f852105e8968e

Three main issues arise:
1) My Publishes page shows support claims for other claims which I have added support to. Since we will be adding Support functionality in the UI, shouldn't LBRY list the supports somewh

[2017-07-25 21:32] tzarebczan commented on #214
In the latest version, the bid amount is shown, but it doesn't take into account the supporting claims. Effective amount should be shown instead.

@kauffj @6ea86b96

[2017-07-25 23:52] tzarebczan opened #385 "Claim ID is truncated from navigation bar on back action"
## The Issue
When viewing a permanent URL, then navigating away and coming back (using back button), the permanent URL changes to the vanity one.
### Steps to reproduce
1. Go to lbry://nine#caa44977f1726b18f39f2cca0bacbef6773d6404
2. Click Home
3. Click back - ends up at lbry://nine

### Expected behaviour
Should go back to lbry://nine#caa44977f1726b18f39f2cca0bacbef6773d6404

### Actual behaviour

[2017-07-26 04:12] tzarebczan opened #386 "Remove keyring requirement - replace with cookie/other token (gnome_keyring)"
## The Issue
We've had some complaints and seensome startup issues because users didn't have gnome keyring installed. From what I understand, it's not on all Linux distros and some people choose to use it for various reasons. Is it possible to generate the auth token in a different way for Linux? Possibly some hash of the wallet pubkey and timestamp?

### Steps to reproduce
1. Run bry-app without

[2017-07-26 08:11] NeroBurner commented on #386
I have exactly the same error
[code]

Running Arch Linux (Antergos) with KDE Plasma 5.10.4-1

[2017-07-26 11:27] kauffj commented on #386
We are using keytar: https://github.com/atom/node-keytar

Relevant code is at the end of this file: https://github.com/lbryio/lbry-app/blob/38fd451e72c60b0373a8e337bb1de1da37f7942a/app/main.js

It is unlikely we would prioritize this at the moment, but we'd be happy to bounty it.

[2017-07-26 12:19] NeroBurner commented on #386
keytar uses libsecret, which is a frontend to gnome-keyring. KWallet does not support `org.freedesktop.secrets`

just installed the package `gnome-keyring` and everything workes fine

[2017-07-26 13:03] tzarebczan opened #389 "Channel page does not indicate content has already been downloaded"
## The Issue
When viewing a channel page, there is no indicator for content you already own. We should have an indicator similar to those on the Home page.

### Steps to reproduce
1. Go to lbry://@IGN-First, download one of the items
2. Go back
3. No indication that it's already been downloaded on lbry://@IGN-First page

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell

[2017-07-26 14:34] tzarebczan commented on #384
Found another issue related to above. When I go to lbry://ten, it also thinks I own the file and can't download it / but it prompts me to abandon my claim.
![10](https://user-images.githubusercontent.com/8120721/28626811-1105c116-71ee-11e7-964e-9b4a1b63cbec.PNG)

[2017-07-26 18:52] tzarebczan opened #390 "Publishing issues on latest version"
## The Issue
Looks like a couple minor issues arise when publishing on the latest version. Seems to happen with/without a channel being involved, but most of my testing was without a channel. See below for the summary of issues:

1) After publishing, Publishes Page does not refresh after the file is confirmed (stays in pending confirmation)
2) After clicking on the newly published file, it shows 0

[2017-07-26 20:54] tzarebczan commented on #344
@hackrush01 saw this happen today on his discover page.

[2017-07-26 21:19] tzarebczan commented on #214
Also, consider this example when using identities...

When we publish using an identity, we get both lbry://@identity/claim and lbry://claim

When going into the publish screen, the identity is now appended to the URL and shows that bry://@identity/claim is available, which it is, but lbry://claim may not be (has higher bid, etc).  Do we want to handle that somehow, or assume that because someone

[2017-07-26 21:43] kauffj opened #392 "Use multi-resolve feature of LBRY API and other resolve clean-up"
- [ ] Update discover landing page to pass all URLs to `resolve` at once, rather than one at a time.
- [ ] Drop the XHR caching of resolve calls
- [ ] Change `FileCard`, `ShowPage`, and possibly other components to always call resolve (#511), rather than only if the claim is undefined. This can only be done after the above two.

[2017-07-26 22:12] reillysmith opened #393 "typing in search while streaming disrupts stream"
## The Issue
While watching a video, if you start typing or editing the search bar (for example, the whole hash was in the result but I wanted to copy-paste just the base name), auto-search will initiate and override the play window, stopping playback to change the screen to search results.
### Steps to reproduce
1. Stream a video
2. Edit what's in the URL bar
3. Wait for state change

### Expecte

[2017-07-26 23:56] tzarebczan commented on #255
@akinwale was this fixed? needs a PR?

[2017-07-27 04:53] 6ea86b96 commented on #385
Fixed in #395

[2017-07-27 15:38] tzarebczan commented on #390
Number 2 (content showing 0% complete) is fixed in RC2. 1 and 3 still occur (3 is more random).

[2017-07-27 17:06] tzarebczan commented on #214
Also, I think we should show them approximately when their takeover will go into effect, similar to how the content bot in #conent does (assuming it is accurate, but I have doubts):

lbry://nine
Particl.io – Easy, Secure and Private P2P Marketplace Introduction
Visit [https://particl.io](https://particl.io) for more information.
Takes effect on approx. *July 29th at 06:04 UTC* (block 214631)
Block

[2017-07-27 18:24] tzarebczan opened #396 "lbrynet-daemon.exe disappears randomly"
## The Issue
We've seen this in the past, but I've decided to make an issue for it as it seems to keep happening. The best way to try to reproduce it is crash your PC unexpectedly while LBRY is running. After restart, the daemon file is missing from C:\Program Files (x86)\LBRY\resources\app\dist and when starting LBRY, you get an error message (see below).  LBRY.exe gets stuck in this case because